<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Referrals</h1>
    </div>

    <div>
      <div v-can="'concern.read.list'">
        <ConcernList />
        <ConcernExternalList />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import ConcernList from "~/components/ConcernList.vue"
import ConcernExternalList from "~/components/ConcernExternalList.vue"
@Component({
  components: { ConcernExternalList, ConcernList },
  middleware: ["authenticated"],
})
export default class Concern extends Vue {}
</script>
