<template>
  <loading-spinner v-if="$fetchState.pending">Loading...</loading-spinner>
  <div v-else class="case-note">
    <div class="header mb-4">
      <tad-button @click="$router.go(-1)"
        ><i class="las la-arrow-left"></i> Back</tad-button
      >
      <h1 class="title-text mb-0">Progress Notes</h1>

      <div
        class="status-container"
        :class="caseNote.is_draft ? 'draft' : 'completed'"
      >
        {{ caseNote.is_draft ? "Draft" : "Completed" }}
      </div>
      <p class="last-updated">
        Last updated:
        {{ $dateFormat(caseNote.updated_at, "DD MMM YYYY hh:mm A") }}
      </p>
    </div>

    <section class="patient-info-card mb-12">
      <div class="info-section">
        <div class="info-container">
          <h3 class="subtitle-text">Name</h3>
          <div class="patient-name-container">
            <img
              :src="$userimg(patientFile.patient.profile_image)"
              alt=""
              width="25"
            />
            <span>{{ patientFile.patient.full_name }}</span>
          </div>
        </div>
        <div class="info-container">
          <h3 class="subtitle-text">Preferred Pronouns</h3>
          <p>{{ patientFile.patient.preferred_pronouns || "N/A" }}</p>
        </div>
        <div class="info-container">
          <h3 class="subtitle-text">Age</h3>
          <p>{{ patientFile.patient.date_of_birth || "N/A" }}</p>
        </div>
      </div>

      <div class="info-container">
        <h3 class="subtitle-text">Presenting problem/Area of Concern</h3>
        <p>
          {{ patientFile.areas_of_concern || "N/A" }}
        </p>
      </div>
    </section>

    <section class="notes">
      <h2 class="subtitle-text">Notes</h2>
      <article-editor
        class="mb-6"
        :initialValue="caseNote.narrative || ''"
        @content-changed="editorContentChanged"
      />
      <div class="notes-actions" v-if="caseNote.is_draft">
        <tad-button @click="updateCaseNote"><i class="las la-file-alt la-lg mr-2"></i> Save Draft</tad-button>
        <tad-button success @click="markCompleted"><i class="las la-check-circle la-lg mr-2"></i>Mark Completed</tad-button>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator"
import { getCaseNote, updateCaseNote } from "~/api/case-notes"
import { getPatientFile } from "~/api/patient-files"
import { ICaseNote, IPatientFile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  middleware: ["authenticated", 'is-password-protected-page'],
  components: {
    TadButton,
  },
})
export default class ViewCaseNote extends Vue {
  id = this.$route.params.id
  patientFileId = this.$route.query.file as string
  caseNote = {} as ICaseNote
  patientFile = {} as IPatientFile

  async fetch() {
    try {
      const { data: caseNote } = await getCaseNote(this.id)
      this.caseNote = caseNote
      const { data: patientFile } = await getPatientFile(this.patientFileId)
      this.patientFile = patientFile
    } catch (error) {
      this.$toast.error("Unable to load case note")
    }
  }

  editorContentChanged(content: string) {
    this.caseNote.narrative = content
  }

  markCompleted() {
    this.caseNote.is_draft = false
    this.updateCaseNote()
  }

  async updateCaseNote() {
    try {
      await updateCaseNote(this.caseNote)
      this.$toast.success("Draft saved.")
      this.$fetch()
    } catch (error) {
      this.$toast.error("Unable to update case note.")
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  .status-container {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 5px;
    color: #fff;
    &.draft {
      background-color: #adadad;
    }
    &.completed {
      background-color: var(--success-color);
    }
  }

  .last-updated {
    color: #a5a5a5;
  }
}

.patient-info-card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: var(--default-box-shadow);
  width: 100%;
  max-width: 1000px;

  .info-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  .info-container {
    h3 {
      margin-top: 0;
    }
  }

  .patient-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}
.btn-back {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--dark-text);
}
.notes-actions{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
</style>
