<template>
  <div class="publish-form">
    <!-- Back Button -->
    <div class="block py-1">
      <tad-button class="" primary @click="$router.push('/forms/creator')">
        Go Back
      </tad-button>
    </div>

    <!-- Page title -->
    <SharedPageTitle
      title="Share Form Packet"
      subtitle="Easily share forms with others"
      class="text-center mb-6"
    />

    <div
      class="
        flex flex-col
        max-w-2xl
        mx-auto
        bg-white
        p-6
        border
        rounded-lg
        space-y-4
        hover:shadow-xl
      "
    >
      <!-- Packet Name -->
      <div class="flex flex-col space-y-4 pb-8">
        <label class="text-base font-normal text-left m-0 p-0"
          >Packet Name</label
        >
        <tad-input
          v-model="packetName"
          class="border-2 rounded-lg px-4 py-2"
          type="text"
        />
      </div>

      <!-- Packet Description -->
      <!-- <div class="flex flex-col space-y-4 pb-8">
        <label class="text-base font-normal text-left m-0 p-0"
          >Packet Description</label
        >
        <textarea
          v-model="packetDescription"
          class="
            border-2 border-gray-300
            rounded-lg
            px-4
            py-3
            text-base
            h-36
            p-3
          "
        />
      </div> -->

      <!-- Choose Respondents -->
      <div class="mb-10">
        <!-- Title -->
        <div class="border-b border-gray-200 pb-5">
          <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
            <h3
              class="ml-2 mt-2 text-base font-semibold leading-6 text-gray-900"
            >
              Choose Respondents
            </h3>
            <p class="ml-2 mt-1 truncate text-sm text-gray-500">
              who will recieve this form packet
            </p>
          </div>
        </div>

        <!-- Recipient sources buttons -->
        <div class="grid grid-cols-1 gap-4 my-4">
          <div
            class="
              border-2
              rounded-lg
              text-center
              flex-col
              py-2
              cursor-pointer
              hover:bg-gray-300
            "
            @click="openDirectoryModal()"
          >
            From organization's directory
          </div>
          <!-- <div
            class="
              border-2
              rounded-lg
              text-center
              flex-col
              py-2
              cursor-pointer
              hover:bg-gray-300
            "
            :class="showExternalEmail ? 'border-green-500 text-green-500' : ''"
            @click="showExternalEmail = true"
          >
            Enter email addresses
          </div> -->
        </div>

        <!-- External email form -->
        <div
          v-if="showExternalEmail"
          class="
            border
            p-4
            rounded-lg
            hover:shadow
            flex flex-col
            pb-4
            relative
            mb-4
          "
        >
          <a
            href="#!"
            class="text-gray-500 absolute right-5 top-5"
            style="right: 1rem; top: 1rem"
            @click="showExternalEmail = false"
            ><i class="la la-times la-fw"></i> Close</a
          >
          <label class="text-base font-normal m-0 p-0 mb-4 inline"
            >Enter an email address</label
          >
          <div class="grid grid-cols-12 gap-x-4">
            <div class="col-span-8">
              <input
                v-model="email"
                type="email"
                class="border-2 rounded-lg px-4 py-2 w-full"
                placeholder="Enter email"
              />
            </div>
            <div class="col-span-4">
              <button
                type="button"
                class="
                  w-full
                  border border-blue-500
                  text-blue-500
                  py-2
                  px-3
                  rounded-lg
                "
                @click="addExternalEmail"
              >
                Add Respondent
              </button>
            </div>
          </div>
        </div>

        <!-- List of recipients -->
        <div class="border-t py-4">
          <div
            v-if="shortLists && directoryRecipients.length"
            class="flex flex-wrap gap-2"
          >
            <div
              v-for="user in directoryRecipients.slice(0, 4)"
              :key="user.email"
              class="flex-shrink border rounded-lg hover:bg-gray-100"
            >
              <div class="flex space-x-1">
                <div class="flex-auto px-3 py-2">
                  {{ user.email }}
                </div>
                <div
                  class="
                    flex-shrink
                    border-l
                    p-2
                    cursor-pointer
                    hover:text-red-500
                  "
                  title="Remove this respondent"
                >
                  <i
                    class="la la-times la-fw"
                    @click="removeRecipient(user)"
                  ></i>
                </div>
              </div>
            </div>
            <div
              class="
                flex-shrink
                border border-blue-500
                text-blue-500
                rounded-lg
                hover:bg-blue-500 hover:text-white
                cursor-pointer
              "
              @click="shortLists = false"
              v-if="directoryRecipients.length > 3"
            >
              <div class="flex space-x-1">
                <div class="flex-auto px-3 py-2">
                  Show all {{ directoryRecipients.length }}
                </div>
              </div>
            </div>
          </div>

          <div
            v-if="!shortLists && directoryRecipients.length"
            class="flex flex-wrap gap-1"
          >
            <div
              v-for="user in directoryRecipients"
              :key="user.email"
              class="flex-shrink border rounded-lg hover:bg-gray-100"
            >
              <div class="flex space-x-1">
                <div class="flex-auto px-3 py-2">
                  {{ user.email }}
                </div>
                <div
                  class="
                    flex-shrink
                    border-l
                    p-2
                    cursor-pointer
                    hover:text-red-500
                  "
                  title="Remove this respondent"
                >
                  <i
                    class="la la-times la-fw"
                    @click="removeRecipient(user)"
                  ></i>
                </div>
              </div>
            </div>
          </div>

          <div
            v-if="!directoryRecipients.length"
            class="block text-center text-lg text-gray-500"
          >
            <i class="la la-exclamation-circle la-2x pb-2"></i>
            <br />
            You have not added any respondents
          </div>
        </div>
      </div>

      <!-- Select forms -->
      <div class="mb-10">
        <!-- Title -->
        <div class="border-b border-gray-200 pb-5">
          <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
            <h3
              class="ml-2 mt-2 text-base font-semibold leading-6 text-gray-900"
            >
              Choose Forms
            </h3>
            <p class="ml-2 mt-1 truncate text-sm text-gray-500">
              to be included in this form packet
            </p>
          </div>
        </div>

        <!-- Source -->
        <div class="flex flex-col py-4">
          <div
            class="
              border-2
              rounded-lg
              text-center
              flex-col
              py-2
              cursor-pointer
              hover:bg-gray-300
            "
            @click="openFormsModal()"
          >
            Select from the Forms Directory
          </div>
        </div>

        <!-- List of forms -->
        <div
          v-if="selectedForms.length"
          class="grid grid-cols-1 border divide-y rounded-lg mt-0 mb-5"
        >
          <div
            v-for="form in selectedForms"
            :key="form.id"
            class="flex p-3 hover:bg-gray-100"
          >
            <div class="flex-auto text-left">
              <h3 class="text-base pb-0">{{ form.name }}</h3>
            </div>
            <div class="flex-shrink text-right block">
              <a
                href="#!"
                class="text-red-500 hover:underline"
                @click="removeForm(form)"
                ><i class="la la-trash la-fw"></i> Remove</a
              >
            </div>
          </div>
        </div>
        <div
          v-if="!selectedForms.length"
          class="block text-center text-lg text-gray-500"
        >
          <i class="la la-exclamation-circle la-2x pb-2"></i>
          <br />
          You have not added any forms
        </div>
      </div>

      <!-- Send Date
      <div class="flex flex-col space-y-4 pb-8">
        <label class="text-base font-normal text-left m-0 p-0"
          >Send this packet on</label
        >
        <tad-input
          id="form-submit-date"
          v-model="preferred_submit_date"
          class="border-2 rounded-lg px-4 py-2"
          type="date"
          :min="$dateFormat(new Date(), 'YYYY-MM-DD')"
        />
      </div> -->

      <tad-button
        class="btn-publish-form"
        :disabled="!isValid"
        @click="shareForms"
        >Share Form</tad-button
      >
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component } from "vue-property-decorator"
import { Mutation, Getter } from "vuex-class"
import { sharePacket, updateFormStatus } from "~/api/form"
import { searchPatients } from "~/api/users"
import ModalFormShareSuccess from "~/components/modals/ModalFormShareSuccess.vue"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import {
  IForm,
  IModal,
  IOrgDirectoryUser,
  IUserProfile,
  GenericType,
} from "~/interfaces"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import ModalOrganizationDirectory from "~/components/modals/ModalOrganizationDirectory.vue"
import ModalSharePacket from "~/components/modals/ModalSharePacket.vue"

@Component({
  middleware: ["authenticated", "is-form-creator"],
  components: { TadButton, TadInput, LoadingSpinner },
})
export default class ShareForm extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any
  @Getter("forms/getPacketRecipients") directoryRecipients
  @Getter("forms/getFormSelections") selectedForms

  $refs!: {
    "direct-link": Vue
  }

  frontendBaseUrl = process.env.baseUrl
  id = this.$route.params.id
  form = {
    // name: 'Form Name',
    // description: 'Form Description',
    // type: "consent form",
  } as IForm

  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patientsSearchList: IUserProfile[] = []
  recipients: IUserProfile[] = []
  btnCopyText = "Copy Link"
  externalRecipients = [] as string[] // Param
  shortLists = true
  email = "" as string
  // eslint-disable-next-line camelcase
  preferred_submit_date = this.$dateFormat(new Date(), "YYYY-MM-DD")
  busy = false
  showExternalEmail = false
  packetName = "" as string
  // packetDescription = "" as string

  get isValid() {
    if (
      this.packetName &&
      // this.packetDescription &&
      this.directoryRecipients.length &&
      this.selectedForms.length > 1 &&
      this.preferred_submit_date
    ) {
      return true
    } else {
      return false
    }
  }

  mounted() {
    this.$store.commit("forms/resetOrgDirectorySelections", [])
    this.$store.commit("forms/resetFormSelections", [])
  }

  validateEmail(email) {
    return email.match(
      /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    )
  }

  // async copyLink() {
  //   try {
  //     await navigator.clipboard.writeText(this.directLink)
  //     this.$toast.success("Link successfully copied to clipboard")
  //   } catch (err) {
  //     console.error("Failed to copy: ", err)
  //     /* Rejected - text failed to copy to the clipboard */
  //   }
  // }

  async shareForms() {
    this.busy = true
    try {
      if (!this.isValid) {
        this.$toast.error("Please fill all the fields in the form")
        return
      }

      // Share form
      const payload: GenericType = {
        packet_name: this.packetName,
        // subject: `Your response to form packet ${this.packetName} is required`,
        recipients: this.directoryRecipients.map((user) => user.email),
        forms: [...this.selectedForms.map((form) => form.id)],
        preferred_submit_date: dayjs(this.preferred_submit_date).toISOString(),
      }
      await sharePacket(payload)

      // Make selected forms active
      this.selectedForms.map(async (form) => {
        await updateFormStatus(form.id, "active")
      })

      // Reset Vuex store
      this.$store.commit("forms/resetOrgDirectorySelections", [])
      this.$store.commit("forms/resetFormSelections", [])

      this.shareFormSuccess()
    } catch (error) {
      console.error(error)
    } finally {
      this.busy = false
    }
  }

  removeRecipient(user: IOrgDirectoryUser) {
    this.$store.commit("forms/removeRecipient", user)
    this.$toast.success("Respondent successfully removed")
  }

  removeForm(form: IForm) {
    this.$store.commit("forms/removeForm", form)
  }

  shareFormSuccess() {
    const modal: IModal = {
      content: ModalFormShareSuccess,
      title: "Form shared successfully!",
      props: {
        text: "All recipients will be notified via email.",
        onclose: () => {
          this.$router.push(`/forms/creator/`)
        },
      },
    }
    this.showModal(modal)
  }

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async patientSearch() {
    this.isSearching = true
    this.patientsSearchList = []
    const { data: patients } = await searchPatients(this.patientSearchString)
    this.patientsSearchList = patients

    this.isSearching = false
  }

  addExternalEmail() {
    if (!this.email?.length) {
      this.$toast.error("Please enter an email")
      return
    }

    if (!this.validateEmail(this.email)) {
      this.$toast.error(`This email (${this.email}) is not valid`)
      return
    }

    this.$store.commit("modals/addDirUser", {
      fullname: "External User",
      email: this.email,
      utype: "external",
      avatarUrl: "",
      selected: true,
    })
    this.$toast.success(`Successfully added (${this.email})`)
    this.email = ""
    this.shortLists = false
  }

  removeIndividualrecipient(user: IUserProfile) {
    const index = this.recipients.findIndex((r) => r.id === user.id)
    if (index !== -1) {
      this.recipients.splice(index, 1)
    }
  }

  getRecipients() {
    const users = localStorage.getItem("dir_selections")
    if (users) {
      this.directoryRecipients = JSON.parse(users)
    }
  }

  openDirectoryModal() {
    const modal: IModal = {
      title: "Organization Directory",
      content: ModalOrganizationDirectory,
      props: {
        selectedUsers: this.directoryRecipients as IOrgDirectoryUser[],
        onclose: (selectedUsers: IOrgDirectoryUser[] | any) => {
          if (selectedUsers.length) {
            selectedUsers.map((user) =>
              this.$store.commit("forms/addRecipient", user)
            )
          }
        },
      },
    }
    this.showModal(modal)
  }

  openFormsModal() {
    const modal: IModal = {
      title: "Select forms to share",
      content: ModalSharePacket,
      props: {
        selectedForms: this.selectedForms as IForm[],

        onclose: (selectedForms: IForm[] | any) => {
          if (selectedForms.length) {
            // this.$store.commit("forms/resetFormSelections", [])
            selectedForms.map((form) =>
              this.$store.commit("forms/addForm", form)
            )
          }
        },
      },
    }
    this.showModal(modal)
  }
}
</script>
