<template>
  <div>
    <!-- Back Button -->
    <tad-button primary @click="$router.go(-1)" class="mb-5"
      >Go Back</tad-button
    >

    <SharedLoading v-if="isLoading" text="Loading..."></SharedLoading>
    <div v-else class="article">
      <div class="article-container">
        <p class="article-title">
          {{ article.title }}
        </p>
        <span class="article-owner">
          {{ article.author.full_name }}
        </span>

        <ul v-if="article.tags && article.tags.length > 0" class="tags-list">
          <li v-for="(tag, index) in article.tags" :key="index" class="tag">
            <span>{{ tag }}</span>
          </li>
        </ul>

        <span class="article-date">
          <span> {{ formatArticleTime(article.updated_at) }}</span>
        </span>
        <div v-if="article.is_approved" class="social-buttons">
          <tad-button :tertiary="isArticleLiked" @click.prevent="likeArticle">
            <i v-if="isArticleLiked" class="las la-heart"></i> Found Helpful
          </tad-button>
          <tad-button primary @click.prevent="modalShareResource">
            <i class="las la-share-alt"></i> Share Resource
          </tad-button>
          <tad-button
            class="feedback-button"
            primary
            @click="openModalFeedbackArticle(article)"
          >
            <i class="las la-comment"></i> Provide Feedback
          </tad-button>
        </div>
        <div class="body" v-html="article.body"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Mutation, Getter } from "nuxt-property-decorator"
import { getArticle } from "~/api/articles"
import {
  createArticleView,
  createArticleLike,
  isArticleLiked,
} from "~/api/resources"
import ModalFeedbackArticleResource from "~/components/modals/ModalFeedbackArticleResource.vue"
import { IArticle } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import ModalShareResourceUser from "~/components/modals/ModalShareResourceUser.vue"

@Component({
  components: { TadButton },
})
export default class ReadArticle extends Vue {
  // @Prop(String) readonly prop1!:string
  slug = this.$route.params.slug
  article = { author: {} } as IArticle
  isLoading = true
  isArticleLiked: any = false
  id = ""

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  mounted() {
    this.fetchArticle()
  }

  async likeArticle() {
    const article_id = this.article.id
    await createArticleLike(article_id)
    this.checkArticleLiked()
  }

  async fetchArticle() {
    try {
      const { data: article } = await getArticle(this.slug)
      this.article = article
      const action = "viewed"
      const article_id = article.id
      this.id = article.id
      this.checkArticleLiked()
      await createArticleView(action, article_id)
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  async checkArticleLiked() {
    try {
      const { data: response } = await isArticleLiked(this.id)
      if (response) {
        this.isArticleLiked = true
      } else {
        this.isArticleLiked = false
      }
    } catch (e) {}
  }

  openModalFeedbackArticle(article) {
    const modal = {
      title: "Provide Feedback",
      content: ModalFeedbackArticleResource,
      props: {
        article,
      },
    }
    this.showModal(modal)
  }

  formatArticleTime(updatedAt: string) {
    return dayjs(updatedAt).format("MMMM, DD YYYY")
  }

  modalShareResource() {
    const modal = {
      title: "Sharing a resource",
      content: ModalShareResourceUser,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        type: "article",
        id: this.article.id,
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.article-title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.article-owner {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--dark-text);
}

.article-date {
  font-weight: 400;
  color: var(--light-text);
  font-size: 0.8rem;
}

.social-buttons {
  margin-top: 2rem;
}

.article-container {
  background-color: white;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  margin-top: 2rem;
  padding: 2rem;
}

.last-update {
  color: #8390a2;
  display: inline-block;
  font-weight: 600;
  font-size: var(--small-text);
}

.author {
  font-weight: 300 !important;
}

.body {
  font-size: 0.9rem;
  color: rgb(24, 24, 24);
  line-height: 1.5;
  border-radius: 5px;
  padding: 2rem 1rem;
}

.tags-list {
  padding: 1rem 0rem;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .tag {
    font-size: 0.8rem;
    background-color: #fff;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    color: #333333;
    min-width: 75px;
    gap: 0.5rem;

    .btn-remove-tag {
      background-color: transparent;
      border: none;
      color: var(--danger-color);
      padding: 0.25rem 0.45rem;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 0, 0, 0.116);
      }

      &:disabled {
        background-color: rgba(0, 0, 0, 0.041);
        color: gray;
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  .feedback-button {
    margin-top: 0.5rem;
  }

  .article-container {
    padding: 1rem;
  }
}
</style>
