<template>
  <div>
    <!-- Back Button -->
    <div class="block py-1">
      <tad-button primary @click="$router.go(-1)"
          ><i class="las la-arrow-left mr-1"></i>Back</tad-button
        >
    </div>

    <!-- Page title -->
    <SharedPageTitle title="Articles" />

    <template v-if="articles.length && !loading"
      ><div class="article__grid">
        <div
          v-for="article in articles"
          :key="article.id"
          class="article__card"
        >
          <nuxt-link :to="`/resources/articles/${article.id}`">
            <div
              class="article__cover"
              :style="`background-image: url(${getArticleImage(article)})`"
            />
          </nuxt-link>
          <div class="article__details">
            <nuxt-link :to="`/resources/articles/${article.id}`">
              <span class="article__title">
                {{ article.title }}
              </span>
            </nuxt-link>
            <div class="article__footer">
              <span v-if="article.author" class="article__author">
                {{ article.author.full_name }}
              </span>
              <span v-else class="article__date"> No Name </span>
              <span class="article__date">
                {{ formatUpdatedAt(article.created_at) }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-else-if="!articles.length && loading">
      <SharedLoading text="Loading articles..." />
    </template>
    <template v-else>
      <div class="no-audios-box">
        <p>No Articles To Display</p>
      </div>
    </template>

    <div class="video__list-pagination">
      <ServerPaginationControls
        :endpoint="getPaginatorArticles"
        :styling="{ align: 'right', paddingLeft: '2rem' }"
        @updated-items="updateArticleList"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { getArticles } from "~/api/articles"
import { IArticle } from "~/interfaces"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton, OrangeButton },
})
export default class index extends Vue {
  fullApiUrl = process.env.fullApiUrl
  articles: IArticle[] = []
  loading = false as Boolean

  mounted() {
    this.getArticles()
  }

  async getArticles() {
    this.loading = true
    try {
      const { data } = await getArticles()
      this.articles = data
    } finally {
      this.loading = false
    }
  }

  formatUpdatedAt(time: string) {
    return dayjs(time).format(" MMM DD YYYY")
  }

  getPaginatorArticles(skip = 0, limit = 10) {
    return getArticles({ skip, limit })
  }

  updateArticleList(articles: IArticle[] = []) {
    this.articles = articles
  }

  getArticleImage(article) {
    return article.thumbnail_name
      ? `${this.fullApiUrl}/articles/thumbnail/${article.thumbnail_name}`
      : "/newspaper.jpeg"
  }
}
</script>

<style lang="scss" scoped>
.article__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}

.article__card {
  padding: 1rem;
  box-shadow: var(--default-box-shadow);
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__title {
  color: var(--dark-text);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.3;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.article__cover {
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 1rem;
  box-shadow: var(--default-box-shadow);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.article__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.article__author {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.7rem;
}

.article__date {
  font-size: 0.7rem;
  color: var(--dark-text);
}
@media only screen and (max-width: 1200px) {
  .article__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .article__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 560px) {
  .article__grid {
    grid-template-columns: 100%;
  }
}
</style>
