<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Articles</h1>
      <p class="small-text">
        Stay up to date with the latest articles written by professionals in the
        the field.
      </p>
    </div>

    <!-- <div class="search__wrapper">
      <p class="article__featured-subtitle">All Articles</p>
      <AppSearchInput />
    </div> -->

    <loading-spinner v-if="isLoading">Loading articles...</loading-spinner>
    <div v-else class="articles-grid">
      <article-card
        v-for="article in articles"
        :key="article.slug"
        :article="article"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { getArticles } from "~/api/articles"
import { IArticle } from "~/interfaces"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
})
export default class Articles extends Vue {
  public isOpen: boolean = false
  articles: IArticle[] = []
  isLoading = true
  fullApiUrl = process.env.fullApiUrl

  mounted() {
    this.fetchArticles()
  }

  async fetchArticles() {
    try {
      this.isLoading = true
      const { data: articles } = await getArticles()
      this.articles = articles
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }
}
</script>

<style scoped lang="scss">

.articles-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 1rem;
}
</style>
