<template>
  <div>
    <div>
      <tad-button @click="$router.go(-1)" style="margin-bottom: 2rem"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
    </div>
    <div class="article__container">
      <div class="view-article">
        <div class="page-header">
          <p class="title-text">
            {{ article.title }}
            <span v-if="article.author" class="author__name"
              >written by {{ article.author.full_name }}</span
            >
          </p>

          <p class="last-updated small-text">
            Last updated on <b></b> {{ formatUpdatedAt(article.updated_at) }}
          </p>

          <div class="status-container small-text last-updated">
            <span v-if="article.is_draft">Status - Draft</span>
            <span v-else-if="!article.is_approved">
              Status - Needs approval
            </span>
            <span v-else>Status - Published</span>
          </div>
        </div>

        <span class="small-text" style="padding-bottom: 1rem; display: block"
          >tags:</span
        >
        <loading-spinner v-if="isLoadingArticle"></loading-spinner>
        <alert v-else-if="errMsg" :msg="errMsg" type="error"></alert>
        <div v-else class="article-details-container">
          <ul v-if="article.tags && article.tags.length > 0" class="tags-list">
            <li v-for="(tag, index) in article.tags" :key="index" class="tag">
              <span>{{ tag }}</span>
            </li>
          </ul>

          <h3 class="subtitle-text">Article Preview</h3>
          <p class="small-text mb-3">
            This is what other users in your organization will see when browsing
            articles.
          </p>
          <article-card :article="article" preview />

          <div class="content">
            <h3 class="subtitle-text">Article Body</h3>
            <p class="body mb-3" v-html="article.body"></p>
            <tad-button
              primary
              v-if="!article.is_approved && !article.is_draft"
              class="btn-approve"
              :disabled="isWorking"
              @click="approveArticleConfirmation"
            >
              <span v-if="isWorking">
                <i class="las la-cog la-spin mr-2"></i>Working
              </span>
              <span v-else>Approve &amp; Publish Article</span>
            </tad-button>
            <nuxt-link :to="`/admin/resources/articles/edit/${article.id}`">
              <tad-button class="btn-approve" style="margin-top: 2rem"
                >Make Changes</tad-button
              >
            </nuxt-link>

            <alert
              v-if="article.is_draft"
              msg="This article cannot be published because the author has not submitted it for approval."
              type="info"
            ></alert>
          </div>
        </div>
      </div>
    </div>
    <div class="section-title-text">
      <span class="subtitle-text">Article Analytics</span>
      <span class="small-text subtitle__text"
        >Track important information about your article.</span
      >
    </div>

    <div class="analytics__grid">
      <div class="analytic__box">
        <span>Total View</span>
        <p v-if="articleAnalytics">{{ articleAnalytics.viewed }}</p>
      </div>
      <div class="analytic__box">
        <span>Total Times Shared</span>
        <p v-if="articleAnalytics">{{ articleAnalytics.shared }}</p>
      </div>
      <div class="analytic__box">
        <span>Found Helpful</span>
        <p v-if="articleAnalytics">{{ articleAnalytics.liked }}</p>
      </div>
      <div class="analytic__box">
        <span>Tags</span>
        <p v-if="article">{{ article.tags }}</p>
      </div>
    </div>

    <!-- feedback table -->
    <div class="feedback__title-section">
      <div class="section-title-text">
        <span class="subtitle-text">Feedback</span>
        <span class="small-text subtitle__text"
          >Article Feedback.</span
        >
      </div>

      <!-- <div class="form-input-wrapper search-container mb-12">
        <i class="las la-search la-lg ic-search"></i>
        <input type="text" placeholder="Search keyword" />
      </div> -->
    </div>

    <div class="feedback__table" v-if="articleFeedback.length">
      <div
        v-for="feedback in articleFeedback"
        :key="feedback.id"
        class="feedback__container"
      >
        <div class="feedback">
          <p><i class="las la-comment"></i> {{ feedback.comment }}</p>
        </div>
        <!-- <div class="feedback__details">
          <span>posted on</span>
          <span>{{ feedback.date }}</span>
        </div> -->
      </div>
    </div>
    <div class="feedback__table" v-else>
      <div class="feedback__container">
        <div class="feedback">
          <p><i class="las la-comment"></i> no feedback to display</p>
        </div>
        <!-- <div class="feedback__details">
          <span>posted on</span>
          <span>{{ feedback.date }}</span>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Mutation } from "nuxt-property-decorator"
import { getApiErrorMsg } from "~/api"
import { getArticleFeedback} from "~/api/resources"
import { approveArticle, getArticle, getArticleAnalytics } from "~/api/articles"
import ModalRequestConfirmation from "~/components/modals/ModalRequestConfirmation.vue"
import { IArticle, IModal } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ViewArticle extends Vue {
  @Mutation("modals/showModal") showModal
  id = this.$route.params.id
  isLoadingArticle = true
  errMsg = ""
  isWorking = false
  article = {} as IArticle
  articleAnalytics: {} = {}
  articleFeedback: {} = {}

  mounted() {
  }

  async fetch() {
    try {
      this.isLoadingArticle = true
      this.errMsg = ""
      const { data } = await getArticle(this.id)
      this.article = data

      const { data: articleAnalytics } = await getArticleAnalytics(
        this.article.id
      )
      this.articleAnalytics = articleAnalytics
      await this.fetchArticleFeedback()
    } catch (error) {
      this.errMsg = `Error loading article: ${getApiErrorMsg(error)}`
    } finally {
      this.isLoadingArticle = false
    }
  }

  async fetchArticleFeedback(){
    try {
      const { data: feedback } = await getArticleFeedback(this.article.id)
      this.articleFeedback = feedback
    } catch {}
  }

  formatUpdatedAt(time: string) {
    return dayjs(time).format("MMM DD YYYY")
  }

  approveArticleConfirmation() {
    const modal: IModal = {
      title: "Approve Article",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.approveArticle,
        text: "Are you sure you want to approve this article? It will be published immediately and become available for viewing by members of this organization.",
        confirmText: "Approve",
      },
    }

    this.showModal(modal)
  }

  async approveArticle() {
    try {
      this.isWorking = true
      this.errMsg = ""
      let target_audience = this.article.target_audience
      await approveArticle(this.id, target_audience)
      this.$toast.success("Article approved and published successfully.")
      this.$fetch()
    } catch (error) {
      this.$toast.error(`Error approving the article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.feedback {
  font-size: 0.8rem;
  color: var(--dark-text);

  p {
    margin-bottom: 0.5rem;
  }
}
.feedback__table {
  margin-top: 0rem;

  box-shadow: var(--default-box-shadow);
  background-color: white;
  margin-top: 2rem;
}

.feedback__details {
  span {
    color: var(--dark-text);
    font-size: 0.8rem;
  }
}

.feedback__title-section {
  display: flex;
  justify-content: space-between;
}

.feedback__container {
  border-bottom: 2px solid #f1f1f1;
  padding: 2rem;
}
.section-title-text {
  display: flex;
  flex-direction: column;
}

.analytics__grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.analytic__box {
  padding: 2rem;
  background-color: white;
  box-shadow: var(--default-box-shadow);

  span {
    color: var(--dark-text);
    font-size: 0.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.7rem;
    padding: 1rem 0rem;
    color: var(--dark-text);
  }
}

.section-title-text {
  display: flex;
  flex-direction: column;
}

.title-text {
  margin-bottom: 0rem !important;
}
.author__name {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--dark-text);
}
.article__container {
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  background-color: #fff;
}
.page-header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 2rem;
}
.status-container {
  display: flex;
  align-items: center;
  font-size: 0.8rem;

  .status {
    padding: 0rem 0.3rem;
    background-color: gray;
    border-radius: 5px;
    color: #fff;
    width: 120px;
    text-align: center;

    &.draft {
      background-color: #f89e5d;
    }

    &.not-approved {
      background-color: #4acdc4;
    }
    &.approved {
      background-color: #0d9009;
    }
  }
}

.last-updated {
  color: var(--dark-text) !important;
}

.body {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
  padding: 2rem 1rem;
  background-color: #fff;
}
.btn-approve {
  width: 100%;
}
.tags-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .tag {
    font-size: 0.8rem;
    background-color: #fff;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    color: #333333;
    min-width: 75px;
    gap: 0.5rem;

    .btn-remove-tag {
      background-color: transparent;
      border: none;
      color: var(--danger-color);
      padding: 0.25rem 0.45rem;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 0, 0, 0.116);
      }
      &:disabled {
        background-color: rgba(0, 0, 0, 0.041);
        color: gray;
      }
    }
  }
}

.article {
  transition: all 0.2s ease;
  border-radius: 3px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 150px auto;
  gap: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  width: 450px;
  margin-bottom: 2rem;

  .img-container {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.no-thumbnail {
      display: grid;
      place-items: center;
      background-color: #eee;
    }
  }

  .info-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .title {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 1.35rem;
  }
  .description {
    color: rgb(49, 49, 49);
    font-size: 0.9rem;
  }

  .footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: auto;
    color: rgb(80, 80, 80);
    font-size: 0.75rem;
  }

  &:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  }
}
</style>
