<template>
    <div class="write-new-article">
      <div>
        <ul style="padding-bottom: 2rem">
          <li>
            <tad-button primary @click="$router.go(-1)"
              ><i class="las la-arrow-left mr-1"></i>Back</tad-button
            >
          </li>
        </ul>
      </div>
  
      <div class="article-container">
        <div class="page-header">
          <h1 class="title-text">Write New Article</h1>
        </div>
  
        <form @submit.prevent="createArticle">
          <div class="form-input-wrapper mb-3">
            <label for="">Title</label>
            <input type="text" v-model="title" required />
          </div>
  
          <div class="form-input-wrapper mb-9">
            <label for="">Description</label>
            <input type="text" v-model="description" required />
          </div>
  
  
              <!-- audience types -->
              <div class="form-input-wrapper mb-6">
                <label for="title"
                  ><strong>Select Audience (Select all that apply.)</strong></label
                >
              </div>
  
              <div
                v-if="roles.length"
                class="form-input-wrapper special-wrapper mb-9"
              >
                <div v-for="role in roles" :key="role.id">
                  <input
                    type="checkbox"
                    :value="role.name"
                    v-model="audience"
                    name="audience"
                  />
                  <label for="audience" class="capitalize">{{ role.name }}</label>
                </div>
              </div>
  
  
          <div class="form-input-wrapper mb-6">
            <label for=""><strong>Add Tags</strong></label>
            <ul class="tags-list" v-if="tags.length > 0">
                <li class="tag" v-for="(tag, index) in tags" :key="index">
                  <span>{{ tag }}</span>
                  <button
                    class="btn-remove-tag"
                    @click.prevent="removeTag(index)"
                  >
                    <i class="las la-times-circle"></i>
                  </button>
                </li>
              </ul>
            <div class="form-add-tag">
              
              <!-- <input type="text" list="tag-options" v-model="selectedTag" />
  
              <datalist id="tag-options">
                <option
                  v-for="(tag, index) in tagNames"
                  :key="index"
                  :value="tag"
                ></option>
              </datalist> -->
  
              <select v-model="selectedTag">
                    <option
                      v-for="(tag, index) in tagNames"
                      :key="index"
                      :value="tag"
                    >
                      {{ tag }}
                    </option>
                  </select>
  
              <tad-button class="btn mint" @click.prevent="addTag">Add Tag</tad-button>
            </div>
          </div>
  
          <ArticleEditor
            @content-changed="contentChanged"
            initialValue="<p>Write your article here.</p>"
          />
  
          <button
            class="btn main mt-4 btn-save"
            :class="{ disabled: isSaving }"
            :disabled="isSaving"
          >
            <span v-if="isSaving"
              ><i class="las la-cog la-spin mr-2"></i>Saving</span
            >
            <tad-button primary class="btn-save" v-else>Save and continue</tad-button>
          </button>
        </form>
      </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { getApiErrorMsg } from "~/api"
import { createArticle, getTagNames } from "~/api/articles"
import TadButton from "~/components/styled-components/TadButton"
import { getRoles } from "~/api/roles"

@Component({
  components: { TadButton },
})
export default class NewArticle extends Vue {
  // @Prop(String) readonly prop1!:string
  title = ""
  description = ""
  body = ""
  isSaving = false
  tagNames: string[] = []
  selectedTag = ""
  tags: string[] = []
  roles: any = []
  audience: string[] = []

  mounted() {
    this.fetchTagNames()
    this.fetchRoles()
  }

  contentChanged(content: string) {
    this.body = content
  }

  async fetchRoles() {
    try {
      let { data: roles } = await getRoles()
      roles = roles.filter(function (item) {
        return item.name !== "admin"
      })
      roles = roles.filter(function (item) {
        return item.name !== "super"
      })
      this.roles = roles
    } catch (error) {
      this.$toast.error(`Error getting audience types`)
    }
  }

  addTag() {
    if (!this.selectedTag) return
    this.tags.push(this.selectedTag.trim())
    this.selectedTag = ""
  }

  removeTag(index: number) {
    this.tags.splice(index, 1)
  }

  async fetchTagNames() {
    try {
      const { data: tagNames } = await getTagNames()
      this.tagNames = tagNames
    } catch (error) {
      this.$toast.error(`Error loading tags: ${getApiErrorMsg(error)}`)
    }
  }

  async createArticle() {
    try {
      this.isSaving = true
      if (!this.audience.length) {
      this.$toast.error("Please select an audience.")
      return
    }
      const { data: article } = await createArticle({
        title: this.title,
        description: this.description,
        body: this.body,
        tags: this.tags,
        is_draft: true,
        target_audience: this.audience
      })

      this.$toast.success("Article created! Add a thumbnail and submit it for approval!")
      this.$router.push({ path: `/resources/admin/my/articles/${article.id}` })
    } catch (error) {
      this.$toast.error(`Error creating article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isSaving = false
    }
  }
}
</script>

<style lang="scss" scoped>
.special-wrapper {
  display: flex !important;
  flex-direction: row !important;
}
.article-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}
.page-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btn-save {
  width: 100%;
}
.form-add-tag {
  display: flex;
  gap: 1rem;

  input {
    width: 150px;
  }
}
.tags-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;


    .tag {
    font-size: 0.8rem;
    background-color: rgb(252, 251, 251);
    text-align: center;
    border-radius: 5px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0.25rem 0.5rem;
    color: #333333;
    min-width: 75px;
    gap: 0.5rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    .btn-remove-tag {
      background-color: transparent;
      border: none;
      color: var(--dark-text);
      border-radius: 100%;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      top: 1px;
      &:hover {
        color: rgb(255, 0, 0);
      }
    }
  }
  }
  .tag:hover {
    background: #ececf9;
  }
</style>
