<template>
  <div class="articles">
    <div class="page-header">
      <h1 class="title-text">Articles</h1>
    </div>

    <loading-spinner v-if="isLoading">Loading articles...</loading-spinner>
    <alert v-else-if="errMsg" :msg="errMsg" type="error"></alert>

    <div v-else class="articles-table-container">
      <table class="articles-table">
        <thead>
          <td class="col-title">Title</td>
          <td class="col-status"></td>
          <td class="col-description">Description</td>
          <!-- <td class="col-author">Author</td> --> 
        </thead>

        <tbody v-if="isLoadingItems">
          <tr>
            <td colspan="4">
              <loading-spinner></loading-spinner>
            </td>
          </tr>
        </tbody>

        <tbody v-else-if="articles.length <= 0">
          <tr>
            <td colspan="4">
              <alert type="info" msg="No articles" />
            </td>
          </tr>
        </tbody>

        <tbody v-else>
          <nuxt-link
            v-for="article in articles"
            :key="article.id"
            tag="tr"
            :to="`/admin/articles/${article.id}`"
            class="article"
          >
            <td>{{ article.title }}</td>
            <td>
              <div class="status-container">
                <span v-if="article.is_draft" class="status draft">Draft</span>
                <span
                  v-else-if="!article.is_approved"
                  class="status not-approved"
                  >Needs Approval</span
                >
                <span v-else class="status approved">Published</span>
              </div>
            </td>
            <td>{{ ellipsis(article.description, 100) }}</td>
            <!-- <td>{{ article.author.full_name }}</td> -->
          </nuxt-link>
        </tbody>
      </table>

      <div class="px-6 py-3">
        <ServerPaginationControls
          align="align-right"
          :endpoint="getPaginatorArticles"
          @updated-items="updatedArticleList"
          @loading-items="loadingItems"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { getApiErrorMsg } from "~/api"
import { getArticles } from "~/api/articles"
import { IArticle } from "~/interfaces"

@Component({})
export default class Articles extends Vue {
  articles: IArticle[] = []
  errMsg = ""
  isLoading = true
  isLoadingItems = false

  mounted() {
    this.getArticles()
  }

  async getArticles() {
    try {
      this.isLoading = true
      this.errMsg = ""
      const { data } = await getArticles()
      this.articles = data
    } catch (error) {
      this.errMsg = `Error loading articles: ${getApiErrorMsg(error)}`
    } finally {
      this.isLoading = false
    }
  }

  getPaginatorArticles(skip = 0, limit = 10) {
    return getArticles({ skip, limit })
  }

  updatedArticleList(articles: IArticle[]) {
    this.articles = articles
  }

  loadingItems(isLoading) {
    this.isLoadingItems = isLoading
  }

  ellipsis(text: string, maxLen = 60) {
    if (text.length >= maxLen) {
      return text.substr(0, maxLen - 3).concat("...")
    }

    return text
  }
}
</script>

<style lang="scss" scoped>
td {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

tr {
  border-bottom: 1px solid #f0f0f0;
}
thead {
  height: 4rem;
}

thead tr:first-of-type:hover {
  background-color: white !important;
}

tr:hover {
  background-color: #f4f5f8;
}
.articles-table-container {
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  width: 100%;

  .articles-table {
    border-collapse: collapse;
    width: 100%;
    thead {
      font-weight: 700;
      border-bottom: 1px solid #f0f0f0;
    }

    td {
      padding: 0.75rem 0.35rem;
      color: var(--light-color);
      font-size: 0.8rem;
    }

    .article {
      cursor: pointer;
      &:hover {
        background-color: rgb(236, 236, 236);
      }
      &:not(:last-child) {
        border-bottom: 1px solid #f0f0f0;
      }
    }

    .col-title {
      width: 300px;
    }
    .col-status {
      width: 180px;
    }
    .col-description {
      width: auto;
    }
    .col-author {
      width: 225px;
    }
  }

  .status-container {
    display: flex;
    align-items: center;
    font-size: 0.8rem;

    .status {
      padding: 0.45rem 0.3rem;
      background-color: gray;
      border-radius: 5px;
      color: #fff;
      width: 100%;
      text-align: center;

      &.draft {
        background-color: #f89e5d;
      }

      &.not-approved {
        background-color: #4acdc4;
      }
      &.approved {
        background-color: #0d9009;
      }
    }
  }

  .msg-no-articles {
    text-align: center;
  }
}
</style>
