<template>
  <div>
    <tad-button primary @click="$router.go(-1)" class="mb-5"
      >Go Back</tad-button
    >
    <div class="welcome__container">
      <h1 class="title-text">Appointment Details</h1>
      <p class="small-text mb-5">View appointment details down below.</p>
    </div>

    <div class="appointment__details" v-if="appointmentData">
      <div class="appointment__host">
        <div class="appointment__host-image">
          <img
            :src="$userimg(appointmentData.appointment_owner.profile_image)"
            alt="Host Image"
          />
        </div>
        <div class="appointment__host-details">
          <p class="appointment__host-name mb-2">
            {{ appointmentData.appointment_owner.full_name }}
          </p>
          <p class="bold-text mb-2">
            {{ appointmentData.appointment_owner.organization_name }}
          </p>

          <p
            v-if="appointmentData.mood && appointmentData.mood.length"
            class="light-text"
          >
            Mood when booking: {{ appointmentData.mood }}
          </p>
          <p v-else class="light-text">
            Mood when booking: No mood set when booking
          </p>
          <!-- <p class="light-text">
            Contact: {{ appointment.professional.email }}
          </p> -->
        </div>
      </div>
      <!-- <div class="appointment__host-bio">
        <p class="bold-text">Presenting problem/Area of Concern</p>
        <p class="light-text">{{ appointment.client.concern }}</p>
      </div> -->

      <div class="appointment__tabs mt-5 flex justify-between">
        <div>
          <span
            @click="toggleDetails('details')"
            class="bold-text"
            :class="{ active: activeTab === 'details' }"
          >
            Appointment Details
          </span>
          <span
            v-can="'case.note.access'"
            @click="toggleDetails('notes')"
            class="bold-text"
            :class="{ active: activeTab === 'notes' }"
          >
            Notes
          </span>
          <!-- <span
            @click="toggleDetails('forms')"
            class="bold-text"
            :class="{ active: activeTab === 'forms' }"
          >
            Forms
          </span> -->
        </div>

        <div class="flex">
          <tad-button
            v-if="!appointmentData.is_rejected && !appointmentData.is_confirmed"
            danger
            @click="modalRejectAppointment"
            class="mb-5 mr-2"
            >Reject Appointment</tad-button
          >
          <div class="flex flex-col">
            <span
              class="text-xs mb-2"
              v-if="
                appointmentData.is_rejected &&
                !appointmentData.pending_cancellation
              "
              >This appointment has been rejected.</span
            >
            <span
              v-if="
                appointmentData.is_rejected &&
                !appointmentData.pending_cancellation
              "
              class="text-xs"
              >Reason provided: {{ appointmentData.reject_reason }}</span
            >
          </div>

          <tad-button
            v-if="!appointmentData.is_confirmed && !appointmentData.is_rejected"
            primary
            @click="modalConfirmAppointment"
            class="mb-5"
            >Confirm Appointment</tad-button
          >
          <span class="text-xs" v-if="appointmentData.is_confirmed"
            >This meeting is confirmed.</span
          >
        </div>

        <!-- <div
          class="appointment__action-buttons"
          v-if="
            appointment.status === 'pending cancellation' &&
            activeTab === 'details'
          "
        >
          <span class="warning-text"
            >Action required: User requested to cancel this appointment</span
          >
          <tad-button danger @click="approveCancellation"
            >Approve Cancellation</tad-button
          >
        </div> -->
      </div>

      <div v-if="activeTab === 'details'" class="appointment">
        <table class="table-auto w-full mt-5 hide-mobile">
          <!-- Table header -->
          <thead
            class="
              text-xs
              font-semibold
              py-3
              uppercase
              border-b border-slate-200
            "
          >
            <tr>
              <th class="px-2 first:pl-5 last:pr-5 py-3">
                <div class="text-left">Meeting with</div>
              </th>
              <th class="px-2">
                <div class="text-left">Date</div>
              </th>
              <th class="px-2">
                <div class="text-left">Time</div>
              </th>
              <th class="px-2">
                <div class="text-left">Meeting Type</div>
              </th>
              <th class="px-2">
                <div class="text-left">Status</div>
              </th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody class="divide-slate-100">
            <tr class="border-b border-slate-200">
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div class="font-medium bold-text">
                  {{ appointmentData.appointment_owner.full_name }}
                </div>
              </td>
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div class="text-left light-text">{{ startDate }}</div>
              </td>
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div class="text-left light-text">
                  {{ startTime }} - {{ endTime }}
                </div>
              </td>
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div
                  v-if="appointmentData.meeting_type === 'virtual'"
                  class="text-left light-text"
                >
                  virtual
                </div>
                <div v-else class="text-left light-text">in-person</div>
              </td>
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div
                  class="text-left bold-text"
                  v-if="appointmentData.is_completed"
                >
                  Completed
                </div>
                <div
                  class="text-left bold-text"
                  v-if="
                    appointmentData.is_confirmed &&
                    !appointmentData.is_completed
                  "
                >
                  Confirmed
                </div>
                <div
                  class="text-left bold-text"
                  v-if="
                    !appointmentData.is_confirmed &&
                    !appointmentData.is_rejected &&
                    !appointmentData.pending_cancellation
                  "
                >
                  Pending
                </div>
                <div
                  class="text-left bold-text"
                  v-if="
                    !appointmentData.is_confirmed &&
                    !appointmentData.is_rejected &&
                    appointmentData.pending_cancellation
                  "
                >
                  Pending Cancellation
                </div>
                <div
                  class="text-left bold-text"
                  v-if="
                    appointmentData.is_rejected &&
                    appointmentData.pending_cancellation
                  "
                >
                  Cancelled
                </div>
                <div
                  class="text-left bold-text"
                  v-if="
                    appointmentData.is_rejected &&
                    !appointmentData.pending_cancellation
                  "
                >
                  Rejected
                </div>
              </td>
              <td class="px-2 py-3 whitespace-nowrap text-right text-xs">
                <!-- div v-if="appointmentData.meeting_type == 'virtual'">
                  <div v-if="appointmentData.meeting_link">
                    <router-link
                      primary
                      :to="appointmentData.meeting_link"
                      target="_blank"
                      ><tad-button>Meeting Room Link</tad-button></router-link
                    >
                  </div>
                  <div v-else>
                    <tad-button primary @click="scheduleAppointmentLink"
                      >Create Meeting Link</tad-button
                    >
                  </div>
                </div -->

                <div
                  v-if="
                    appointmentData.meeting_type == 'in_person' &&
                    !appointmentData.is_rejected
                  "
                  class="flex flex-col"
                >
                  <span
                    >Address:
                    {{
                      appointmentData.location
                        ? appointmentData.location
                        : "No Address Set"
                    }}</span
                  >
                  <span
                    >Room #:
                    {{
                      appointmentData.room_number
                        ? appointmentData.room_number
                        : "No Room Set"
                    }}</span
                  >

                  <div class="underline mb-2 cursor-pointer hover:text-gray-500" v-if="!appointmentData.room_number || !appointmentData.location" @click="openLocationEditModal">Set Location</div>
                  <div class="underline mb-2 cursor-pointer hover:text-gray-500" v-if="appointmentData.room_number || appointmentData.location" @click="openLocationEditModal">Edit Location</div>
                </div>

                <div
                  v-else-if="
                    appointmentData.meeting_type == 'in_person' &&
                    appointmentData.is_rejected &&
                    !appointmentData.pending_cancellation
                  "
                >
                  <span>This appointment has been rejected.</span>
                </div>
                <div
                  v-else-if="
                    appointmentData.meeting_type == 'in_person' &&
                    appointmentData.is_rejected &&
                    appointmentData.pending_cancellation
                  "
                >
                  <span>This appointment has been cancelled.</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="w-full mt-5 block hide-desktop show-mobile">
          <!-- md:hidden ensures this is visible only on mobile. -->

          <!-- Meeting with -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Meeting with:</div>
            <div class="font-medium">
              {{ appointmentData.appointment_owner.full_name }}
            </div>
          </div>

          <!-- Date -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Date:</div>
            <div class="light-text">{{ startDate }}</div>
          </div>

          <!-- Time -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Time:</div>
            <div class="light-text">{{ startTime }} - {{ endTime }}</div>
          </div>

          <!-- Meeting Type -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Meeting Type:</div>
            <div
              class="light-text"
              v-if="appointmentData.meeting_type === 'virtual'"
            >
              virtual
            </div>
            <div class="light-text" v-else>in-person</div>
          </div>

          <!-- Status -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Status:</div>
            <div v-if="appointmentData.is_completed" class="bold-text">
              Completed
            </div>
            <div
              v-if="
                appointmentData.is_confirmed && !appointmentData.is_completed
              "
              class="bold-text"
            >
              Confirmed
            </div>
            <div
              v-if="
                !appointmentData.is_confirmed && !appointmentData.is_rejected
              "
              class="bold-text"
            >
              Pending
            </div>
            <div v-if="appointmentData.is_rejected" class="bold-text">
              Rejected
            </div>
          </div>

          <!-- Meeting Room Link / Address / Room # -->
          <div class="mb-2">
            <div v-if="appointmentData.meeting_type == 'virtual'">
              <div v-if="appointmentData.meeting_link">
                <router-link
                  primary
                  :to="appointmentData.meeting_link"
                  target="_blank"
                >
                  <tad-button>Meeting Room Link</tad-button>
                </router-link>
              </div>
              <div v-else>
                <tad-button primary @click="scheduleAppointmentLink"
                  >Create Meeting Link</tad-button
                >
              </div>
            </div>

            <div v-if="appointmentData.meeting_type == 'in_person'">
              <div class="mt-2">
                <span class="font-semibold text-xs uppercase">Address:</span>
                <span class="light-text">
                  {{
                    appointmentData.location
                      ? appointmentData.location
                      : "No Address Set"
                  }}
                </span>
              </div>
              <div class="mt-2">
                <span class="font-semibold text-xs uppercase">Room #:</span>
                <span class="light-text">
                  {{
                    appointmentData.room_number
                      ? appointmentData.room_number
                      : "No Room Set"
                  }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- <div
          class="mt-5 flex justify-end text-red-700 cursor-pointer"
          v-if="activeTab === 'details'"
        >
          <span danger @click="deleteAppointmentModal" class="mb-5 text-xs" v-if="!appointmentData.is_confirmed && !appointmentData.is_rejected" 
            >Delete Appointment</span
          >
        </div> -->
      </div>

      <!-- <div
        class="appointment__action-buttons"
        v-if="
          appointment.status !== 'completed' &&
          activeTab === 'details' &&
          appointment.status !== 'pending cancellation'
        "
      >
        <tad-button danger @click="requestCancellation"
          >Cancel Appointment</tad-button
        >
        <tad-button
          primary
          @click="requestNewTime"
          v-if="appointment.status !== 'upcoming'"
          >Reschedule Appointment
        </tad-button>
      </div> -->

      <!-- <div class="appointment__action-buttons" v-if="activeTab === 'notes'">
        <tad-button
          primary
          @click="createNote"
          v-if="appointment.status !== 'upcoming'"
          >Create New Note
        </tad-button>
      </div> -->

      <div v-if="activeTab === 'notes'">
        <AppointmentNotes :appointmentId="appointmentId" />
      </div>

      <div
        class="flex justify-end mt-5"
        v-if="
          appointmentData.pending_cancellation == true &&
          appointmentData.is_rejected == false && appointmentData.is_confirmed == false
        "
      >
        <tad-button
          danger
          @click="requestCancellation(appointmentData.reject_reason)"
          >Cancellation Request</tad-button
        >
      </div>

      <!-- <div v-if="activeTab === 'forms'">forms</div> -->
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation, Getter, Prop } from "nuxt-property-decorator"
import dayjs from "dayjs"
import AppointmentNotes from "../../../components/appointments/AppointmentNotes.vue"
import TadButton from "~/components/styled-components/TadButton"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import ModalRequestCancellation from "@/components/modals/ModalRequestCancellation.vue"
import ModalRequestReschedule from "@/components/modals/ModalRequestReschedule.vue"
import ModalCreateNote from "@/components/modals/appointments/ModalCreateNote.vue"
import ModalRejectAppointment from "@/components/modals/ModalRejectAppointment.vue"
import ModalSetLocation from "@/components/modals/ModalSetLocation.vue"
import {
  getAppointment,
  deleteAppointment,
  confirmAppointment,
  rejectAppointment,
  scheduleAppointmentMeeting,
  updateAppointment
} from "~/api/appointments"
import { th } from "date-fns/locale"

@Component({
  components: { TadButton, AppointmentNotes },
})
export default class appointment extends Vue {
  appointmentId = this.$route.params.id
  appointmentData: any = null

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  async getAppointment() {
    try {
      const { data } = await getAppointment(this.appointmentId)
      this.appointmentData = data
    } catch (error) {}
  }

  get startDate() {
    return dayjs(this.appointmentData.availability.time_start).format(
      "MM DD, YYYY"
    )
  }

  get startTime() {
    return dayjs(this.appointmentData.availability.time_start).format("h:mm A")
  }

  get endTime() {
    return dayjs(this.appointmentData.availability.time_end).format("h:mm A")
  }

  mounted() {
    this.getAppointment()
  }

  async scheduleAppointmentLink() {
    try {
      await scheduleAppointmentMeeting(this.appointmentId)
      this.$toast.success("Successfully created appointment link.")
      this.getAppointment()
    } catch (error) {
      this.$toast.error("Unable to create meeting link.")
    }
  }

  async deleteAppointment() {
    try {
      await deleteAppointment(this.appointmentId)
      this.$toast.success("Successfully deleted appointment.")
      this.$router.push("/appointments")
    } catch (error) {
      this.$toast.error("Unable to delete appointment.")
    }
  }

  async openLocationEditModal() {
    const modal = {
      title: "Set a location for this in-person appointment",
      content: ModalSetLocation,
      props: {
        onconfirm: this.setAppointmentLocation,
        text: "",
        confirmText: "Set Location",
      },
    }

    this.showModal(modal)
  }

  async setAppointmentLocation(location, room_number) {
    try {
      await updateAppointment(this.appointmentId, {
        ...this.appointmentData,
        location,
        room_number
      })
      this.$toast.success("Successfully set appointment location.")
      this.getAppointment()
    } catch (error) {
      this.$toast.error("Unable to set appointment location.")
    }
  }

  async deleteAppointmentModal() {
    const modal = {
      title: "Are you sure you want to delete this appointment?",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.deleteAppointment,
        text: "All users will be notified of your cancellation via email.",
        confirmText: "Delete Appointment",
      },
    }

    this.showModal(modal)
  }

  async modalConfirmAppointment() {
    const modal = {
      title: "Are you sure you want to confirm this appointment?",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.confirmAppointment,
        text: "All users will be notified of your confirmation via email.",
        confirmText: "Confirm Appointment",
      },
    }

    this.showModal(modal)
  }

  async confirmAppointment() {
    try {
      await confirmAppointment(this.appointmentId)
      this.$toast.success("Successfully confirmed appointment.")
      this.getAppointment()
    } catch (error) {
      this.$toast.error("Unable to confirm appointment.")
    } finally {
      this.$router.go(0)
    }
  }

  async modalRejectAppointment() {
    const modal = {
      title: "Are you sure you want to reject this appointment?",
      content: ModalRejectAppointment,
      props: {
        onconfirm: this.rejectAppointment,
        text: "All users will be notified of your rejection via email.",
        confirmText: "Reject Appointment",
      },
    }

    this.showModal(modal)
  }

  async rejectAppointment(reason) {
    try {
      await rejectAppointment(this.appointmentId, reason)
      this.$toast.success("Successfully cancelled appointment.")
      this.getAppointment()
    } catch (error) {
      this.$toast.error("Unable to reject appointment.")
    } finally {
    }
  }

  requestNewTime() {
    const modal = {
      title: "Select a new time",
      content: ModalRequestReschedule,
      props: {
        onconfirm: this.testModal,
        text: "All users will be notified of your of reschedule via email.",
        confirmText: "Request Reschedule",
      },
    }

    this.showModal(modal)
  }

  createNote() {
    const modal = {
      title: "Create New Note",
      content: ModalCreateNote,
      props: {},
    }

    this.showModal(modal)
  }

  requestCancellation(reason) {
    const modal = {
      title: "Are you sure you want to cancel this appointment?",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.rejectAppointment,
        text: `Reason Provided: ${reason}`,
        confirmText: "Approve Cancellation",
        reason: reason,
      },
    }

    this.showModal(modal)
  }

  testModal() {
    alert("delete note")
  }

  approveCancellation() {
    const modal = {
      title: "User has requested to cancel this appointment.",
      content: ModalRequestCancellation,
      props: {
        onconfirm: this.testModal,
        text: "All users will be notified of your cancellation via email.",
        reason: "Cancellation Reason: Not feeling ready to meet yet.",
        confirmText: "Approve Cancellation",
      },
    }

    this.showModal(modal)
  }

  activeTab = "details"

  toggleDetails(tab: string) {
    this.activeTab = tab
  }
}
</script>

<style lang="scss" scoped>
.appointment__details {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}
.appointment__host {
  display: flex;
}

.appointment__host-image {
  margin-right: 2rem;

  img {
    border-radius: 100%;
    height: 200px;
    width: auto;
    border: 1px solid #e7e7e7;
    background-color: #f5f5fd;
  }
}

.appointment__host-details {
  color: #41496b;
  font-size: 0.875rem;
  font-weight: 300;
  p {
    margin-bottom: 0.2rem;
  }
}

.las {
  position: relative;
  top: 3px !important;
}

.appointment__host-name {
  color: #41496b;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.light-text {
  color: #505a84;
  font-weight: 300;
  font-size: 0.8rem;
}

.bold-text {
  color: #505a84;
  font-weight: 500;
  font-size: 0.8rem;
}

.appointment__tabs {
  span {
    margin-right: 1rem;
    cursor: pointer;
  }
}

.active {
  border-bottom: 2px solid #41496b;
  padding-bottom: 0.2rem;
}

.hide-desktop {
  display: none;
}

@media only screen and (max-width: 870px) {
  .hide-mobile {
    display: none !important;
  }

  .appointment__host {
    flex-direction: column;
  }

  .show-mobile {
    display: block;
  }
}
</style>
