<template>
  <div>
    <!-- resource breadcrumb -->
    <div>
      <ul class="resource__breadcrumb">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>

    <!-- video section -->
    <div class="resource">
      <vue-core-video-player
        v-if="!isMobile()"
        :key="videoUrl"
        :src="videoUrl"
      ></vue-core-video-player>
      <video
        width="100%"
        v-else
        :key="videoUrl"
        :src="videoUrl"
        type="video/mp4"
        controls
      ></video>
    </div>

    <!-- video info section -->
    <div class="resource__details">
      <div class="resource__details">
        <div class="resource__details-meta">
          <div class="resource__uploader-image">
            <img
              v-if="owner.profile_image"
              :src="`${fullApiUrl}/users/file/${video.owner.profile_image}`"
              alt=""
            />
            <img v-else src="~/assets/images/default.png" alt="" />
          </div>
          <div class="">
            <span class="resource__title" v-if="video.title">{{
              video.title
            }}</span>
            <span class="resource__title" v-else>No Title Available</span>
            <div>
              <span class="resource__uploader" v-if="video.owner">{{
                video.owner.full_name
              }}</span>
              <span class="resource__uploader" v-else>Name Name Available</span>
              <span class="resource__date" v-if="video.created_at"
                >posted on {{ formatUpdatedAt(video.created_at) }}</span
              >
              <span class="resource__date" v-else>No Date Available</span>
            </div>
          </div>
        </div>
        <div>
          <tad-button danger @click="deleteVideoConfirmation"
            >Delete Video
          </tad-button>
          <tad-button
            primary
            @click.prevent="modalShareResource(video.id)"
            v-if="video.is_approved"
          >
            Share Resource
          </tad-button>
          <tad-button primary>
            <NuxtLink
              class="video__button"
              :to="`/resources/manage/videos/edit/${videoId}`"
              >Edit Video</NuxtLink
            >
          </tad-button>
        </div>
      </div>
    </div>
    <div class="section-title-text decline" v-if="video.decline_reason">
      <span class="subtitle-text"
        >This video has been declined for the following reason:</span
      >
      <span class="small-text subtitle__text">{{ video.decline_reason }}</span>
    </div>

    <div class="section-title-text">
      <span class="subtitle-text">Video Analytics</span>
      <span class="small-text subtitle__text"
        >Track important information about your video.</span
      >
    </div>

    <div class="analytics__grid">
      <div class="analytic__box">
        <span>Total View</span>
        <p v-if="videoAnalytics">{{ videoAnalytics.viewed }}</p>
      </div>
      <div class="analytic__box">
        <span>Total Times Shared</span>
        <p v-if="videoAnalytics">{{ videoAnalytics.shared }}</p>
      </div>
      <div class="analytic__box">
        <span>Found Helpful</span>
        <p v-if="videoAnalytics">{{ videoAnalytics.liked }}</p>
      </div>
      <div class="analytic__box">
        <span>File Size</span>
        <p v-if="video.file_size">{{ formatBytes(video.file_size) }}</p>
        <p v-else>No Data</p>
      </div>
      <div class="analytic__box">
        <span>Tags</span>
        <div v-if="tags.length" class="tags">
          <div v-for="tag in tags" :key="tag.id">
            <span>{{ tag }}</span>
          </div>
        </div>
        <p v-else>No Tags Added</p>
      </div>
      <div class="analytic__box">
        <span>Audience</span>
        <div v-if="audience.length" class="tags">
          <div v-for="tag in audience" :key="tag">
            <span>{{ tag }}</span>
          </div>
        </div>
        <p v-else>No Audience Added</p>
      </div>
    </div>

    <!-- feedback table -->
    <div class="feedback__title-section">
      <div class="section-title-text">
        <span class="subtitle-text">Feedback</span>
        <span class="small-text subtitle__text">Video Feedback.</span>
      </div>

      <!-- <div class="form-input-wrapper search-container mb-12">
        <i class="las la-search la-lg ic-search"></i>
        <input type="text" placeholder="Search keyword" />
      </div> -->
    </div>

    <div class="feedback__table" v-if="videoFeedback.length">
      <div
        v-for="feedback in videoFeedback"
        :key="feedback.id"
        class="feedback__container"
      >
        <div class="feedback">
          <p><i class="las la-comment"></i> {{ feedback.comment }}</p>
        </div>
        <!-- <div class="feedback__details">
          <span>posted on</span>
          <span>{{ feedback.date }}</span>
        </div> -->
      </div>
    </div>
    <div class="feedback__table" v-else>
      <div class="feedback__container">
        <div class="feedback">
          <p><i class="las la-comment"></i> no feedback to display</p>
        </div>
        <!-- <div class="feedback__details">
          <span>posted on</span>
          <span>{{ feedback.date }}</span>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation, Getter } from "nuxt-property-decorator"
import {
  getVideo,
  getVideoStreamUrl,
  deleteVideo,
  getVideoAnalytics,
  getVideoFeedback,
} from "~/api/resources"

import { getSingleVideoAnalytics } from "~/api/analytics"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import VueCoreVideoPlayer from "vue-core-video-player"
import ModalShareResource from "~/components/modals/ModalShareResource.vue"
import TadButton from "~/components/styled-components/TadButton"
import dayjs from "dayjs"

Vue.use(VueCoreVideoPlayer)

@Component({
  components: { TadButton },
})
export default class video extends Vue {
  fullApiUrl = process.env.fullApiUrl
  videoId = this.$route.params.id
  video: {} = {}
  videoUrl = ""
  professionalId = ""
  professional: {} = {}
  owner: {} = {}
  videoAnalytics: {} = {}
  videoFeedback: {} = {}
  tags: string[] = []
  audience: string[] = []

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal
  mounted() {
    this.fetchVideo()
    this.fetchVideoStream()
    this.fetchVideoFeedback()
  }

  async fetchVideo() {
    try {
      const { data: video } = await getVideo(this.videoId)
      this.video = video
      this.professionalId = video.owner_id
      this.owner = video.owner
      this.tags = video.tags
      this.audience = video.target_audience

      const { data: videoAnalytics } = await getSingleVideoAnalytics(
        this.videoId
      )
      this.videoAnalytics = videoAnalytics
    } catch {}
  }

  async fetchVideoStream() {
    try {
      const { data: video } = await getVideoStreamUrl(this.videoId)
      this.videoUrl = video.video_url
    } catch {}
  }

  async fetchVideoFeedback() {
    try {
      const { data: feedback } = await getVideoFeedback(this.videoId)
      this.videoFeedback = feedback
    } catch {}
  }
  // format the time and make it readable

  formatUpdatedAt(time: string) {
    return dayjs(time).format("MMM DD, YYYY")
  }

  // format the bytes into mbs

  formatBytes(bytes, decimals = 2) {
    if (bytes === 0) return "0 Bytes"

    const k = 1024
    const dm = decimals < 0 ? 0 : decimals
    const sizes = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"]

    const i = Math.floor(Math.log(bytes) / Math.log(k))

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i]
  }

  isMobile() {
    if (
      /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
        navigator.userAgent
      )
    ) {
      return true
    } else {
      return false
    }
  }

  modalShareResource(id) {
    const modal = {
      title: "Share Resource",
      content: ModalShareResource,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        id: id,
        type: "video",
      },
    }
    this.showModal(modal)
  }

  deleteVideoConfirmation() {
    const modal = {
      title: "Delete Video",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.deleteVideo,
        text: "Are you sure you want to delete this video? All its content will be lost forever.",
        confirmText: "Delete",
      },
    }

    this.showModal(modal)
  }

  async deleteVideo() {
    try {
      await deleteVideo(this.videoId)
      this.$toast.success("Video deleted successfully.")
      this.$router.go(-1)
    } catch (error) {
    } finally {
    }
  }
}
</script>

<style lang="scss" scoped>
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.tags {
  display: flex !important;
  padding: 0.5rem 0rem;
  flex-wrap: wrap;
  overflow: scroll;
  span {
    cursor: default;
    display: block;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.3rem 0.3rem;
  }
}
.decline {
  padding: 2rem;
  padding-top: 0rem;
  background-color: white;
  box-shadow: var(--default-box-shadow);
  span:nth-of-type(1) {
    color: #db4949 !important;
  }
  span:nth-of-type(2) {
    color: var(--dark-text) !important;
  }
}
.video__button {
  color: white !important;
}
.search-container {
  margin-top: 2rem;
  position: relative;
  margin-left: auto;
  .ic-search {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    padding-left: 2rem;
  }
}

.feedback {
  font-size: 0.8rem;
  color: var(--dark-text);

  p {
    margin-bottom: 0.5rem;
  }
}
.feedback__table {
  margin-top: 2rem;

  box-shadow: var(--default-box-shadow);
  background-color: white;
}

.feedback__details {
  span {
    color: var(--dark-text);
    font-size: 0.8rem;
  }
}

.feedback__title-section {
  display: flex;
  justify-content: space-between;
}

.feedback__container {
  border-bottom: 2px solid #f1f1f1;
  padding: 2rem;
}
.section-title-text {
  display: flex;
  flex-direction: column;
}
// styles for the breadcrumbs
.resource__breadcrumb {
  display: flex;
  margin-bottom: 2rem;

  li {
    margin-right: 10px;
    color: var(--dark-text) !important;
    font-size: 0.9rem;
  }
  li a {
    color: var(--light-text);
  }
}

.resource__breadcrumb-title {
  font-size: 0.9rem;
  font-weight: 500;
}

// styles for video player

.resource {
  padding-bottom: 1rem;
}

// styles for resource details

.resource__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

.resource__details-meta {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource__title {
  font-size: 0.9rem;
  color: var(--dark-text);
  font-weight: bold;
  display: inline-block;
}

.resource__uploader {
  font-size: 0.8rem;
  color: var(--dark-text);
  margin-right: 0.1rem;
}

.resource__uploader-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.resource__uploader-image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.resource__date {
  font-size: 0.7rem;
  color: var(--light-text);
}
// styles for the analytics boxes

.analytics__grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.analytic__box {
  padding: 2rem;
  background-color: white;
  box-shadow: var(--default-box-shadow);
  overflow: scroll;
  max-height: 170px;

  span {
    color: var(--dark-text);
    font-size: 0.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.7rem;
    padding: 1rem 0rem;
    color: var(--dark-text);
  }
}

.resource__detail {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .resource__details {
    display: flex !important;
    flex-direction: column !important;
  }

  .resource__details-meta {
    justify-content: flex-start !important;
    margin-bottom: 1rem !important;
  }
}

@media only screen and (max-width: 726px) {
  .analytics__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .analytics__grid {
    grid-template-columns: 100%;
  }
}
</style>
