<template>
  <div class="checn-form-responder mb-6">
    <div class="question mb-6">
      <h2 class="subtitle-text mt-0">
        {{ question.content }}
      </h2>

      <ul class="answer-options mb-6">
        <li
          v-for="(answer, index) in question.possible_responses"
          :key="`${answer}-${index}`"
          class="option-container"
          :class="{ selected: checkInResponse == answer, responded }"
          @click="selectResponse(answer)"
        >
          <i class="las la-lg" :class="answerIcon(answer)"></i>
          <span>{{ answer }}</span>
        </li>
      </ul>
    </div>

    <div v-if="!responded" class="form-submit-actions">
      <tad-button
        @click="submit"
        class="btn-save-form"
        :disabled="disabled"
        :class="{ 'cursor-not-allowed': disabled }"
      >
        Submit response
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { IForm, QuestionResponse } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class CheckInFormResponder extends Vue {
  @Prop({ default: () => {} }) form!: IForm
  @Prop(Boolean) responded!: boolean
  @Prop(String) status!: string
  disabled = false

  mounted() {
    if (this.status === "complete") {
      this.disabled = true
    }
  }

  question = this.form.questions[0]
  checkInResponse = ""

  answerIcon(answer: string) {
    switch (answer) {
      case "Feeling Great":
        return "la-grin-beam"
      case "Feeling Better Than Normal":
        return "la-smile"
      case "Feeling Just Average":
        return "la-meh"
      case "Feeling Worse Than Normal":
        return "la-frown"
      case "Feeling Awful":
        return "la-sad-tear"
      default:
        return "la-meh"
    }
  }

  selectResponse(answer: string) {
    if (!this.responded) {
      this.checkInResponse = answer
    }
  }

  submit() {
    if (!this.checkInResponse) {
      this.$toast.error("Please select a response")
      return
    }
    const response = {
      id: this.question.id,
      answers: [this.checkInResponse],
    }
    this.$emit("submit-response", [response])
  }
}
</script>

<style lang="scss" scoped>
.question {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
}

.answer-options {
  .option-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 350px;
    border: 1px solid #9fa6c5;
    border-radius: 20px;
    background: #f5f5fd;
    padding: 9px 26px;
    transition: all 0.2s ease;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover:not(.selected):not(.responded) {
      cursor: pointer;
      opacity: 0.5;
    }

    &.selected {
      border-color: rgb(0, 92, 167);
      background-color: rgb(189, 221, 247);
      font-weight: bold;
    }
  }
}
.form-submit-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 2rem;
  justify-content: flex-end;
}
</style>
