<template>
  <div class="consent-form-responder-container mb-6">
    <div class="question mb-6">
      <h2 class="subtitle-text mt-0">
        {{ question.content }}
      </h2>
      <p class="mb-6" v-html="question.notes"></p>

      <div class="consent-responses-container">
        <span class="response mr-6">
          <input
            type="radio"
            id="consent-response-agree"
            value="agree"
            v-model="consentResponse"
          />
          <label for="consent-response-agree ">Agree</label>
        </span>
        <span class="response">
          <input
            type="radio"
            id="consent-response-disagree"
            value="disagree"
            v-model="consentResponse"
          />
          <label for="consent-response-disagree">Disagree</label>
        </span>
      </div>
    </div>

    <div class="form-submit-actions">
      <tad-button
        @click="submit"
        class="btn-save-form"
        :disabled="disabled"
        :class="{ 'cursor-not-allowed': disabled }"
      >
        Submit response
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { IForm, QuestionResponse } from "~/interfaces"
import BtnFileUpload from "~/components/BtnFileUpload.vue"

@Component({
  components: { TadButton, BtnFileUpload },
})
export default class ConsentFormResponder extends Vue {
  @Prop({ default: () => {} }) form!: IForm
  question = this.form.questions[0]
  docs: File[] = []

  @Prop(String) status!: string
  disabled = false

  mounted() {
    if (this.status === "complete") {
      this.disabled = true
    }
  }

  consentResponse: "agree" | "disagree" = "agree"
  // hasOpenedAllDocs = true

  submit() {
    const response = {
      id: this.question.id,
      answers: [this.consentResponse],
    }
    this.$emit("submit-response", [response])
  }
}
</script>

<style lang="scss" scoped>
.question {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
}
.doc {
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.219);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .ic-link {
    opacity: 0;
  }

  &:hover {
    background-color: rgba(114, 173, 250, 0.05);
    .ic-link {
      opacity: 1;
    }
  }
}
.btn-remove-doc {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.25rem;

  &:hover {
    color: var(--danger-color);
    background-color: rgba(248, 0, 0, 0.075);
  }
}
.response {
  cursor: pointer;
}
.form-submit-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 2rem;
  justify-content: flex-end;
}
</style>
