<template>
  <div class="questionnaire-form-responder">
    <div
      class="question-container"
      v-for="question in form.questions"
      :key="question.id"
    >
      <component
        :is="questionComponent(question)"
        class="px-12 py-6"
        :question="question"
        :responded="responded"
        :status="status"
        @update-response="updateResponse"
      />
    </div>

    <div class="form-submit-actions" v-if="!responded">
      <tad-button primary @click="submit" :disabled="disabled"
        :class="{'cursor-not-allowed': disabled}">
        Submit response
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import { IForm, IFormQuestion, QuestionResponse } from "~/interfaces"
import DateResponder from "./questionnaire/DateResponder.vue"
import MutlipleChoiceResponder from "./questionnaire/MutlipleChoiceResponder.vue"
import NumericalResponder from "./questionnaire/NumericalResponder.vue"
import OpenEndedResponder from "./questionnaire/OpenEndedResponder.vue"
import TimeResponder from "./questionnaire/TimeResponder.vue"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class QuestionnaireFormResponder extends Vue {
  @Prop({ default: () => {} }) form!: IForm
  @Prop(Boolean) responded!: boolean
  @Prop(String) status!: string
  disabled = false

  responses: QuestionResponse[] = []

  mounted(){
      if(this.status === 'complete'){
        this.disabled = true
      }
    }

  questionComponent(question: IFormQuestion) {
    switch (question.type) {
      case "open ended":
        return OpenEndedResponder
      case "date":
        return DateResponder
      case "multiple choice":
        return MutlipleChoiceResponder
      case "numerical":
        return NumericalResponder
      case "time":
        return TimeResponder
      default:
        return LoadingSpinner
    }
  }

  updateResponse(response: QuestionResponse) {
    const index = this.responses.findIndex((r) => r.id === response.id)

    if (index != -1) {
      this.responses[index] = response
    } else {
      this.responses.push(response)
    }
  }

  submit() {
    // Make sure we have all responses
    if (this.responses.length >= this.form.questions.length)
      this.$emit("submit-response", this.responses)
    else {
      this.$toast.error("Please answer all questions")
    }
  }
}
</script>

<style lang="scss" scoped>
.question-container {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}
.form-submit-actions {
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 235px);
  gap: 2rem;
  justify-content: center;
  background-color: #f5f4fde3;
  backdrop-filter: blur(3px);
  padding: 1rem 0;
}
button {
  background-color: rgb(15, 67, 67);
}
</style>
