<template>
  <div class="patient-forms">
    <header class="mb-6">
      <div class="header-text">
        <div class="header-left">
          <h1 class="title-text">Forms</h1>
        </div>
        <p class="small-text">Respond to any forms below.</p>
      </div>
    </header>

    <creator-responder-tab active="responder" />

    <div class="tad-table table-responsive bg-white p-8 rounded-lg shadow-md mb-8 border border-gray-300">
      <table>
        <thead class="table__header">
          <tr>
            <td width="250" class="table__header-text col-name">Name</td>
            <td class="table__header-text col-date">Respond By</td>
            <td class="table__header-text col-language">Language</td>
            <td class="table__header-text col-action">Action</td>
          </tr>
        </thead>
        <tbody v-if="isLoading" class="table-body" align="center">
          <tr>
            <td colspan="6">
              <loading-spinner></loading-spinner>
            </td>
          </tr>
        </tbody>

        <tbody
          v-else-if="allMyForms.length <= 0"
          class="table-body"
          align="center"
        >
          <tr class="no-hover">
            <td colspan="6">You do not have any forms.</td>
          </tr>
        </tbody>

        <tbody v-else class="table-body">
          <tr
            v-for="form in allMyForms"
            :key="form.id"
            class="row-form no-hover"
            :class="{ responded: alreadyResponded(form) }"
          >
            <td>{{ form.name }}</td>
            <td>{{ $dateFormat(form.preferred_submit_date, "MM/DD/YYYY") }}</td>
            <td>
              {{ formLanguage(form.language) }}
            </td>
            <td class="col-action">
              <tad-button
                @click="$router.push(`/forms/responder/${form.id}`)"
                class="btn-action"
              >
                {{ alreadyResponded(form) ? "View" : "Respond" }}
              </tad-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter } from "vuex-class"
import { IForm } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import { getFormsToRespondTo } from "~/api/form-response"
import CreatorResponderTab from "~/components/forms/creator/CreatorResponderTab.vue"

@Component({
  middleware: ["authenticated", "is-form-responder"],
  components: { TadButton, CreatorResponderTab },
})
export default class FormsResponderList extends Vue {
  @Getter("forms/isFormCreator") isFormCreator!: boolean
  isLoading = true
  allMyForms: IForm[] = []
  respondedTo: IForm[] = []
  notRespondedTo: IForm[] = []

  async fetch() {
    try {
      this.isLoading = true
      const { data: forms } = await getFormsToRespondTo()
      this.allMyForms = forms.all_forms[0]
      this.respondedTo = forms.responded_to
      this.notRespondedTo = forms.not_responded_to
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  formLanguage(language: "en" | "es" | "fr") {
    switch (language) {
      case "en":
        return "English"
      case "es":
        return "Spanish"
      case "fr":
        return "French"
      default:
        return "English"
    }
  }

  alreadyResponded(form: IForm) {
    return this.respondedTo.some((f) => f.id === form.id)
  }
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .header-left {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}
.col-action {
  width: 100px;
}
.form-actions-dropdown-toggle {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 1rem;
  &:hover {
    background-color: rgba(0, 0, 0, 0.041);
  }
}

.actions-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .form-action {
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.45rem;
    border-radius: 5px;
    &.delete {
      color: var(--danger-color);

      &:hover {
        background-color: rgba(255, 0, 0, 0.041);
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.041);
    }
  }
}
.form-status {
  font-size: 0.7rem;
  background-color: rgba(128, 128, 128, 0.123);
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  color: #000;
  &.draft {
    background-color: rgba(201, 187, 110, 0.3);
    border-color: rgba(201, 187, 110);
  }
  &.completed {
    background-color: rgb(138, 197, 100, 0.3);
    border-color: rgb(138, 197, 100, 0.3);
  }
  &.removed {
    background-color: rgba(201, 110, 133, 0.3);
    border-color: rgba(201, 110, 133);
  }
}
.col-date {
  width: 130px;
}
.col-language {
  width: 120px;
}
.col-action {
  max-width: 100px;
}
.row-form.responded {
  background-color: rgb(247, 247, 247);
}
</style>
