<template>
  <div>
    <SharedPageTitle title="Podcasts" />
    <Podcasts />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"

import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton, OrangeButton },
})
export default class index extends Vue {
}
</script>
