<template>
  <div>
    <div class="p-10 m-auto" v-if="!isComplete">
      <h1 class="text-2xl text-white text-center pb-10">Sometimes we all need help...</h1>
      <div class="bg-white pt-16 pb-16 rounded-lg shadow-md mb-8 border border-gray-300">
        <div class="m-auto" style="max-width: 80%;">
          <h2 class="text-center text-2xl font-bold">Referral Form</h2>
          <p class="p-3 pb-10 text-sm text-center">Please provide information about the person you are concerned about</p>
          <form ref="referralForm">
            <div class="form-group mb-6">
              <label for="personFirstName" class="text-sm font-medium">First name of the person you are concerned about *</label>
              <input type="text" v-model="personFirstName" id="personFirstName" required class="form-control text-gray-600 text-sm" />
            </div>
            <div class="form-group mb-6">
              <label for="personLastName" class="text-sm font-medium">Last name of the person you are concerned about *</label>
              <input type="text" v-model="personLastName" id="personLastName" required class="form-control text-gray-600 text-sm" />
            </div>
            <div class="form-group mb-6">
              <label for="personEmail" class="text-sm font-medium">Email of the person you are concerned about *</label>
              <input type="email" v-model="personEmail" id="personEmail" required class="form-control text-gray-600 text-sm" />
            </div>
            <div class="form-group mb-6">
              <label for="personId" class="text-sm font-medium">Student ID (if available)</label>
              <input type="text" v-model="personId" id="personId" class="form-control text-gray-600 text-sm" />
            </div>
            <div class="group mb-6">
              <label for="referrerType" class="text-sm font-medium">Request being made by *</label>
              <select id="referrerType" v-model="referrerType" required class="form-control text-gray-600 text-sm bg-white">
                <option value="">Please select</option>
                <option value="Friend/Peer">Friend/Peer</option>
                <option value="Parent/Guardian">Parent/Guardian</option>
                <option value="Staff Member">Staff Member</option>
              </select>
            </div>
            <div class="form-group mb-6">
              <label for="referrerName" class="text-sm font-medium">Name of the person making the request *</label>
              <input type="text" v-model="referrerName" id="referrerName" required class="form-control text-gray-600 text-sm" />
            </div>
            <div class="form-group mb-6">
              <label for="referrerEmail" class="text-sm font-medium">Email of the person making the request *</label>
              <input type="email" v-model="referrerEmail" id="referrerEmail" required class="form-control text-gray-600 text-sm" />
            </div>
            <div class="form-group mb-11">
              <label for="referrerComment" class="text-sm font-medium">Comment *</label>
              <textarea rows="7" v-model="referrerComment" id="referrerComment" required class="form-control text-gray-600 text-sm"></textarea>
            </div>
            <div class="text-center">
              <tad-button :style="{ background: pColor }" @click.prevent="submitReferral">
                Submit Referral
              </tad-button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="text-center p-10" v-if="isComplete">
      <div class="bg-white pt-20 pb-32 rounded-lg shadow-md mb-8 border border-gray-300">
        <h1 class="text-2xl pt-8 pb-8">Referral Submission Successful</h1>
        <p class="p-4">Thank you for completing your referral. Your information has been securely received.</p>
        <p>You may now safely close this browser tab.</p>
      </div>
    </div>
  </div>  
</template>

<script lang="ts">
  import { Vue, Component, Getter } from 'nuxt-property-decorator'
  import LoadingSpinner from '~/components/LoadingSpinner.vue'
  import TadButton from '~/components/styled-components/TadButton'
  import { IReferralCreate } from "~/interfaces"
  import { sendReferral } from "~/api/referrals"
  
  @Component({
    components: {
      LoadingSpinner,
      TadButton
    },
    layout: 'default-no-auth'
  })

export default class ExternalForm extends Vue { 
  @Getter("config/pColor") readonly pColor!: string

  isComplete: boolean = false
  personFirstName: string = ""
  personLastName: string = ""
  personEmail: string = ""
  personId: string = ""
  referrerName: string = ""
  referrerEmail: string = ""
  referrerType: string = ""
  referrerComment: string = ""
  organizationId = this.$route.query.org as string

  created() {
    if (!this.isValidGuid(this.organizationId))
        this.$toast.error('Referral form was not configured correctly') 
  }

  async submitReferral() {
    try {
      const form = this.$refs.referralForm as HTMLFormElement;
      if (form && !form.reportValidity())
        return

      const referral: IReferralCreate = {
        student_first_name: this.personFirstName,
        student_last_name: this.personLastName,
        student_email: this.personEmail,
        referrer_relationship: this.referrerType,
        referrer_name: this.referrerName,
        referrer_email: this.referrerEmail,
        comment: this.referrerComment,
        student_id: this.personId,
        organization_id: this.organizationId,
      }

      await sendReferral(referral)

      this.isComplete = true
    } 
    catch (error) {
      this.$toast.error('There was an error submitting your referral')
    }
  }

  isValidGuid(guid: string): boolean {
    const regexGuid = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;
    return regexGuid.test(guid);
  }
}
</script>

