<template>
  <div class="consent-form-analysis">
    <div class="form-general-details">
      <h2 class="title-text">
        {{ form.name }}
      </h2>
      <p>{{ form.description }}</p>
    </div>

    <div class="question-analysis-container">
      <h2 class="subtitle-text mt-0 question-title">
        {{ question.content }}
      </h2>
      <p class="mb-6" v-html="question.notes"></p>

      <div class="chart-container">
        <Bar
          :chart-data="chartData"
          :chart-options="chartOptions"
          :height="400"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Pie, Bar } from "vue-chartjs/legacy"
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
  LinearScale,
  BarElement,
} from "chart.js"
import { IForm, IFormResponseAnalytics } from "~/interfaces"
ChartJS.register(
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
  LinearScale,
  BarElement
)

@Component({
  components: { Pie, Bar },
})
export default class CheckinFormAnalysis extends Vue {
  @Prop({ default: () => null }) readonly form
  @Prop({ default: () => null })
  readonly responseAnalytics

  chartData = {
    labels: this.question.answers,
    datasets: [
      {
        backgroundColor: ["green", "orange", "gold", "blue", "maroon"],
        data: this.chartDataArray,
      },
    ],
  }

  chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
      },
    },
  }

  get question() {
    return this.form.questions[0]
  }

  get chartDataArray() {
    const data = Array(this.question.answers.length)
    this.question.answers.forEach((answer, index) => {
      data[index] = this.getAnswerResponseCount(answer)
    })

    return data
  }

  getAnswerResponseCount(answer: string) {
    let count = 0

    this.responseAnalytics.responses.forEach(({response}) => {
      if (response.responses[0].answers[0] === answer) count++
    })

    return count
  }
}
</script>

<style lang="scss" scoped>
.form-general-details,
.question-analysis-container {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}
.chart-container {
  max-width: 1000px;
  // height: 500px;
  margin: 0 auto;
  padding: 1rem 3rem;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}
.question-title {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 1rem;
}
</style>
