<template>
  <div class="consent-form-analysis">
    <div class="form-general-details">
      <h2 class="title-text">
        {{ form.name }}
      </h2>
      <p>{{ form.description }}</p>
    </div>

    <div class="question-analysis-container">
      <h2 class="subtitle-text mt-0 question-title">
        {{ question.content }}
      </h2>
      <p class="mb-6" v-html="question.notes"></p>

      <div class="chart-container"><Pie :chart-data="chartData" /></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Pie } from "vue-chartjs/legacy"
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
} from "chart.js"
import { IForm, IFormResponseAnalytics } from "~/interfaces"
ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale)

@Component({
  components: { Pie },
})
export default class ConsentFormAnalysis extends Vue {
  @Prop({ default: () => null }) readonly form!: IForm
  @Prop({ default: () => null })
  readonly responseAnalytics!: IFormResponseAnalytics

  chartData = {
    labels: ["Agree", "Disagree"],
    datasets: [
      {
        backgroundColor: ["green", "red"],
        data: this.chartDataArray,
      },
    ],
  }

  get question() {
    return this.form.questions[0]
  }

  get chartDataArray() {
    const data = Array(2)
    Array("agree", "disagree").forEach((answer, index) => {
      data[index] = this.getAnswerResponseCount(answer)
    })

    return data
  }

  getAnswerResponseCount(answer: string) {
    let count = 0

    this.responseAnalytics.responses.forEach(({response}) => {
      if (response.responses[0].answers[0] === answer) count++
    })

    return count
  }
}
</script>

<style lang="scss" scoped>
.form-general-details,
.question-analysis-container {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}
.chart-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem 3rem;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}
.question-title {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 1rem;
}
</style>
