<template>
  <div class="consent-form-analysis">
    <div class="form-general-details">
      <h2 class="title-text">
        {{ form.name }}
      </h2>
      <p>{{ form.description }}</p>
    </div>

    <div
      v-for="question in form.questions"
      :key="question.id"
      class="question-analysis-container"
    >
      <h2 class="subtitle-text mt-0 question-title">
        {{ question.content }}
      </h2>
      <p class="mb-6" v-html="question.notes"></p>

      <div class="chart-container">
        <!-- <Bar
          :chartData="chartData"
          :chartOptions="chartOptions"
          :height="400"
        /> -->
        <component
          :is="analysisComponent(question)"
          :question="question"
          :answers="questionAnswers(question)"
          :response-analytics="responseAnalytics"
          :form="form.id"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import DateAnalysis from "./questionnaire/DateAnalysis.vue"
import { IForm, IFormQuestion, IFormResponseAnalytics } from "~/interfaces"
import { is } from "date-fns/locale"

@Component({})
export default class QuestionnaireAnalysis extends Vue {
  @Prop({ default: () => null }) readonly form!: IForm
  @Prop({ default: () => null })
  readonly responseAnalytics!: IFormResponseAnalytics

  analysisComponent(question: IFormQuestion) {
    switch (question.type) {
      case "multiple choice":
        return
      case "open ended":
        return
      case "date":
        return DateAnalysis
      case "time":
        return
      case "numerical":
        return
    }
  }

  questionAnswers(question: IFormQuestion) {
    const answers: any = []
    const isPriority: boolean[] = []
    if (this.responseAnalytics.responses) {
      this.responseAnalytics.responses.forEach((responseAndRespondent) => {
        const response = responseAndRespondent.response.responses.find(
          (response) => response.id === question.id
        )
        if (response)
          answers.push([...response.answers, response.is_priority_response])
      })
    }


    return answers
  }
}
</script>

<style lang="scss" scoped>
.form-general-details,
.question-analysis-container {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}
.chart-container {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem 3rem;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}
.question-title {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 1rem;
}
</style>
