<template>
  <div class="respondent-details py-2">
    <!-- <span>&bull;</span> -->
    <div class="flex justify-items-center items-center ">
      <img
        :src="$userimg(respondent.profile_image)"
        :alt="respondent.full_name"
        class="profile-image mr-2"
      />
      <span class="name align-right">{{ respondent.full_name }}</span>
    </div>
    <div>
      <span class="email align-right"> <a :href="`mailto:${respondent.email}`" class="align-right"><i class="las la-envelope"></i> {{ respondent.email }}</a></span>
    </div>
  </div>
</template>

<script lang="ts">
import { is } from "date-fns/locale"
import { Vue, Component, Prop } from "vue-property-decorator"
import { IFormResponseAnalytics, IUserProfile } from "~/interfaces"

@Component({})
export default class RespondentDetails extends Vue {
  @Prop(Object) readonly respondent!: IUserProfile
  @Prop() is_priority_response

  priority_response = false

  mounted() {
    if (
      this.is_priority_response &&
      this.is_priority_response.is_priority_response == true
    ) {
      this.priority_response = true
    } else {
      this.priority_response = false
    }
  }
}
</script>

<style lang="scss" scoped>
.respondent-details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #f5f5fd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 0.5rem;
  justify-content: space-between;
}
.profile-image {
  max-width: 30px;
  max-height: 30px;
  border-radius: 5px;
}
</style>
