<template>
  <div class="bg-white p-8 rounded-lg shadow-md mb-8 border border-gray-300">
    <header class="pb-5 appointment__header flex flex-col sm:flex-row">
      <div>
        <h2 class="font-semibold text-slate-800 mb-3">My Appointments</h2>
        <p class="text-xs">
          Filters applied:
          <span v-if="filterApplied">{{ filterApplied }}</span>
        </p>
      </div>
      <div class="apppointment__filters mt-4 sm:mt-0">
        <div class="ml-1">
          <span class="text-xs mb-1 inline-block">Start Date:</span>
          <input
            class="filter-dropdown-toggle date-picker"
            ref="input-availability-start-date"
            id="availability-start-date"
            v-model="startDate"
            type="date"
            @change="filterStartDate()"
            required
          />
        </div>

        <div class="ml-1">
          <span class="text-xs mb-1 inline-block">End Date:</span>
          <input
            class="filter-dropdown-toggle date-picker"
            ref="input-availability-end-date"
            id="availability-end-date"
            v-model="endDate"
            type="date"
            @change="filterEndDate()"
            required
          />
        </div>
        <div class="hide-on-mobile">
          <span class="text-xs">Filters:</span>
          <dropdown class="filter-dropdown" width="185px" align="left">
            <template #toggle>
              <div class="filter-dropdown-toggle" style="width: 165px">
                Appointment Status <i class="las la-caret-down"></i>
              </div>
            </template>

            <template #menu>
              <li class="item" @click="filterMeetingStatus()">Confirmed</li>
              <li class="item" @click="filterMeetingCompleted()">Completed</li>
              <li class="item" @click="filterMeetingRejected()">Rejected</li>
              <li class="item" @click="filterMeetingPending()">Pending</li>

              <li class="item" @click="clearFilters()">All</li>
            </template>
          </dropdown>
        </div>
      </div>
    </header>
    <div>
      <table class="table-auto w-full">
        <!-- Table header -->
        <thead
          class="text-xs font-semibold py-3 border-b border-slate-200"
        >
          <tr>
            <th class="w-2/12 font-bold text-gray-700 text-sm py-2">
              <div class="text-left">Meeting with</div>
            </th>
            <th class="w-2/12 font-bold text-gray-700 text-sm px-4 py-2">
              <div class="text-left">Date</div>
            </th>
            <th class="w-2/12 font-bold text-gray-700 text-sm px-4 py-2 hide-on-mobile">
              <div class="text-left">Time</div>
            </th>
            <th class="w-2/12 font-bold text-gray-700 text-sm px-4 py-2 hide-on-mobile">
              <div class="text-left">Meeting type</div>
            </th>
            <th class="w-2/12 font-bold text-gray-700 text-sm px-4 py-2">
              <div class="text-left">Status</div>
            </th>
            <!--
            <th class="w-2/12 font-bold text-gray-700 text-sm px-4 py-2">
              <div class="text-left">Duration</div>
            </th> -->
            <th class="w-2/11 font-bold text-gray-700 text-sm py-2 text-right">
              <span>Details</span>
            </th>
          </tr>
        </thead>
        <!-- Table body -->
        <tbody v-if="isLoading">
          <tr>
            <td colspan="8" class="pt-5">
              <loading-spinner
                v-if="isLoading"
                class="w-full flex justify-center"
                >Loading resources...</loading-spinner
              >
            </td>
          </tr>
        </tbody>
        <tbody
          v-if="appointments && appointments.length > 0"
          class="divide-slate-100"
        >
          <AppointmentTableItem
            v-for="appointment in appointments"
            :key="appointment.id"
            :appointment="appointment"
          />
        </tbody>
        <tbody v-else>
          <tr>
            <td colspan="8" class="pt-5">
              <alert
                type="info"
                msg="No appointment data to show"
                :dissmissable="false"
              ></alert>
            </td>
          </tr>
        </tbody>
      </table>
      <Pagination
        :currentPage="currentPage"
        :totalPages="totalPages"
        :totalRecords="totalRecords"
        @nextPage="nextPage"
        @prevPage="prevPage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import AppointmentTableItem from "./AppointmentTableItem.vue"
import Dropdown from "~/components/Dropdown.vue"
import { getMyAppointments } from "~/api/appointments"
import TadInput from "~/components/styled-components/TadInput"
import dayjs from "dayjs"
import Pagination from "~/components/Pagination.vue"

type AppointmentOptions = {
  offset: number
  limit: number
  is_confirmed: boolean
  is_completed: boolean
  is_rejected: boolean
  between_start_time: string
  between_end_time: string
}

type Appointment = {
  id: string
  start_time: string
  end_time: string
  is_confirmed: boolean
  is_completed: boolean
  is_rejected: boolean
  meeting_type: string

  professional: {
    id: string
    first_name: string
    last_name: string
  }
}

@Component({
  components: { AppointmentTableItem, Dropdown, TadInput, Pagination },
  props: {},
})
export default class AppointmentTable extends Vue {
  filterProfessional = ""
  filterStatus = ""
  appointments: Appointment[] = []
  is_confirmed: any = null
  is_completed: any = null
  is_rejected: any = null
  startDate = null
  endDate = null
  options: AppointmentOptions = {
    offset: 0,
    limit: 10,
    is_confirmed: this.is_confirmed,
    is_completed: this.is_completed,
    is_rejected: this.is_rejected,
    between_start_time: this.startTimeFormatted(dayjs().startOf("year")),
    between_end_time: this.endTimeFormatted(dayjs().endOf("year")),
  }
  isLoading: boolean = false
  totalRecords: number = 0

  //appointment pagination
  currentPage: number = 1
  totalPages: number = 0
  filterApplied: string = ""

  formatDate(date) {
    return dayjs(date).format("YYYY-MM-DD")
  }

  async filterStartDate() {
    if (this.startDate) {
      this.options = {
        ...this.options,
        between_start_time: this.startTimeFormatted(this.startDate),
      }
      await this.getAppointments()
    }
  }

  async filterMeetingRejected() {
    if (this.is_rejected !== null) {
      this.is_rejected = null
    } else {
      this.is_rejected = true
      this.is_confirmed = null
      this.is_completed = null
      this.filterApplied = "Rejected"
    }
    await this.getAppointments()
  }

  async filterMeetingPending() {
    this.is_rejected = false
    this.is_confirmed = false
    this.is_completed = false
    this.filterApplied = "Pending"

    await this.getAppointments()
  }

  async filterEndDate() {
    if (this.endDate) {
      this.options = {
        ...this.options,
        between_end_time: this.endTimeFormatted(this.endDate),
      }
      await this.getAppointments()
    }
  }

  startTimeFormatted(date) {
    return dayjs(date).format("YYYY-MM-DD").concat("T00:00:00.000Z")
  }

  endTimeFormatted(date) {
    return dayjs(date).format("YYYY-MM-DD").concat("T23:59:59.000Z")
  }

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("appointment.book.self")) {
      this.getAppointments()
    }
  }

  async filterMeetingStatus() {
    if (this.is_confirmed !== null) {
      this.is_confirmed = null
    } else {
      this.is_confirmed = true
      this.is_rejected = null
      this.is_completed = null
      this.filterApplied = "Confirmed"
    }
    await this.getAppointments()
  }

  async filterMeetingCompleted() {
    if (this.is_completed !== null) {
      this.is_completed = null
    } else {
      this.is_completed = true
      this.is_rejected = null
      this.is_confirmed = null
      this.filterApplied = "Completed"
    }
    await this.getAppointments()
  }

  async clearFilters() {
    this.is_confirmed = null
    this.is_completed = null
    this.is_rejected = null
    this.filterApplied = "" // reset filter applied label
    await this.getAppointments()
  }

  async getAppointments() {
    this.isLoading = true
    try {
      this.options.is_confirmed = this.is_confirmed
      this.options.is_completed = this.is_completed
      this.options.is_rejected = this.is_rejected
      const { data } = await getMyAppointments(this.options)
      this.appointments = data.items
      this.totalRecords = data.total
      this.totalPages = Math.ceil(data.total / this.options.limit)
    } catch (error) {
      this.$toast.error("Error loading appointments")
    } finally {
      this.isLoading = false
    }
  }

  async nextPage() {
    if (this.currentPage < this.totalPages) {
      this.currentPage++
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.getAppointments()
    }
  }

  async prevPage() {
    if (this.currentPage > 1) {
      this.currentPage--
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.getAppointments()
    }
  }
}
</script>

<style scoped>
.appointment__table {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.appointment__header {
  justify-content: space-between;
}

.apppointment__filters {
  display: flex;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter-dropdown-toggle {
  padding: 0.35rem 0.75rem;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background-color: rgba(255, 255, 255, 0.267);
  width: 130px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle .filter-dropdown-toggle {
  padding-bottom: 0.45rem;
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
}
</style>
