<template>
  <div class="bg-white shadow-md rounded border border-slate-200 p-5 mt-5">
    <!-- Header -->
    <header class="flex justify-between items-start space-x-3 mb-3">
      <!-- User -->
      <div class="flex items-start space-x-3">
        <!-- <img
          class="rounded-full shrink-0"
          src="../../images/user-40-03.jpg"
          width="40"
          height="40"
          alt="User 03"
        /> -->
        <div>
          <div class="leading-tight">
            <a class="text-sm font-semibold text-slate-800" href="#0">{{
              note.title
            }}</a>
          </div>
          <div class="text-xs text-slate-500">created {{ note.date }}</div>
        </div>
      </div>
      <!-- Menu button -->
      <div class="relative">
        <button class="relative mb-5" @click="showEditMenu = !showEditMenu">
          <svg
            class="w-5 h-5 text-gray-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="6" r="2" />
            <circle cx="12" cy="12" r="2" />
            <circle cx="12" cy="18" r="2" />
          </svg>
        </button>
        <div
          v-if="showEditMenu"
          class="
            absolute
            top-0
            right-0
            flex flex-col
            inline-flex
            mt-5
            origin-top-right
            z-10
            absolute
            top-full
            w-40
            bg-white
            border border-slate-200
            py-1.5
            rounded
            shadow-lg
            overflow-hidden
            mt-1

          "
        >
          <li class="w-40" @click="editNote(note)">
            <router-link
              class="
                font-medium
                text-xs text-slate-600
                hover:text-slate-800
                flex
                py-3
                px-3
                cursor-pointer
                border-b border-slate-200
              "
              to="#0"
            >
              <i class="las la-edit"></i> Edit Note
            </router-link>
          </li>
          <li
            class="w-35 font-medium text-xs flex py-3 px-3 delete cursor-pointer"
            @click="deleteNote"
          >
            <i class="las la-trash-alt"></i> Delete Note
          </li>
        </div>
      </div>
    </header>
    <!-- Body -->
    <div class="text-sm text-slate-800 space-y-2 mb-5">
      <p>{{ note.text }}</p>
    </div>
    <!-- Footer -->
    <footer class="flex items-center space-x-4"></footer>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation, Prop, Getter } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import ModalRequestConfirmation from "~/components/modals/ModalRequestConfirmation.vue"
import ModalCreateNote from "~/components/modals/appointments/ModalCreateNote.vue"

@Component({
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class AppointmentNote extends Vue {
  @Prop({ default: false }) note

  private showEditMenu = false

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  deleteNote() {
    const modal = {
      title: "Delete Note",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.confirmDeleteNote,
        text: "Are you sure you want to delete this note?",
        confirmText: "Delete",
      },
    }

    this.showModal(modal)
  }

  editNote(note) {
    const modal = {
      title: "Edit Note",
      content: ModalCreateNote,
      props: {
        note: note,
      },
    }

    this.showModal(modal)
  }

  async confirmDeleteNote() {
    try {
      await console.log("")
      this.$toast.success("Case note deleted successfully")
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to delete note")
      // eslint-disable-next-line no-empty
    } finally {
    }
  }
}
</script>

<style scoped>
.las {
  position: relative;
  top: 2px !important;
  margin-right: 5px !important;
}

.delete {
  color: #be3b3b;
}
</style>
