<template>
  <div v-can="'case.note.access'">
    <div v-if="note" class="mt-5 pt-5 border-b border-t border-slate-200">
      <h2 class="text-xl font-semibold mb-2">{{ note.title }}</h2>
      <div v-html="note.narrative" class="mb-5"></div>
      <div class="flex gap-5">
        <div>
          <tad-button primary class="mb-5" @click="editNote"
            >Edit Note</tad-button
          >
        </div>
        <div>
          <tad-button danger class="mb-5" @click="confirmDeletion"
            >Delete Note</tad-button
          >
        </div>
      </div>
    </div>
    <div
      v-else
      class="
        border-b border-t
        mt-5
        border-slate-200
        px-2
        first:pl-5
        last:pr-5
        py-3
        whitespace-nowrap
      "
    >
      <tad-button primary class="" @click="openCreateNoteModal"
        >Create a new note</tad-button
      >
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation, Getter, Prop } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import ModalCreateNote from "@/components/modals/appointments/ModalCreateNote.vue"
import ModalRequestConfirmation from "~/components/modals/ModalRequestConfirmation.vue"
import ModalEditNote from "@/components/modals/appointments/ModalEditNote.vue"
import {
  getCaseNoteByAppointmentId,
  deleteCaseNoteById,
} from "~/api/case-notes"

@Component({
  components: { TadButton },
})
export default class AppointmentNotes extends Vue {
  @Prop({}) appointmentId

  note: any = null

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  openCreateNoteModal() {
    const id = this.appointmentId
    const modal = {
      title: "Create New Note",
      content: ModalCreateNote,
      props: {
        appointmentId: id,
        onclose: async () => {
          await this.getNote()
        },
      },
    }

    this.showModal(modal)
  }

  editNote() {
    const note = this.note
    const modal = {
      title: "Edit Note",
      content: ModalEditNote,
      props: {
        caseNote: this.note,
        onclose: async () => {
          await this.getNote()
        },
      },
    }

    this.showModal(modal)
  }

  confirmDeletion() {
    const modal = {
      title: "Are you sure you want to delete this note?",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.deleteNote,
        text: "This action cannot be undone.",
        confirmText: "Confirm Deletion",
        onclose: async () => {
          await this.getNote()
        },
      },
    }

    this.showModal(modal)
  }

  async getNote() {
    try {
      let id = this.appointmentId
      const { data: note } = await getCaseNoteByAppointmentId(id)
      this.note = note
    } catch (error) {
      console.error(error)
    }
  }

  async deleteNote() {
    try {
      let id = this.note.id
      await deleteCaseNoteById(id)
      this.$toast.success("Successfully deleted note.")
      this.note = null
    } catch (error) {
      this.$toast.error("Unable to delete note.")
    }
  }

  mounted() {
    this.getNote()
  }
}
</script>
