<template>
  <tr class="border-b border-slate-200" v-if="appointmentData">
    <!-- <td class="px-4 first:pl-5 last:pr-5 py-2 whitespace-nowrap">
      <div class="font-medium bold-text">{{ appointment.professional.name }}</div>
    </td> -->

    <td class="first:pl-5 last:pr-5 py-2 whitespace-nowrap">
      <div class="flex items-center">
        <!-- <div class="w-10 h-10 shrink-0 mr-2 sm:mr-3">
          <img
            class="rounded-full mr-4"
            :src="appointment.professional.image"
            width="40"
            height="40"
            :alt="appointment.professional.image"
          />
        </div> -->
        <div class="text-left text-sm text-gray-600">
          {{ appointmentData.availability_owner.full_name }}
        </div>
      </div>
    </td>

    <td class="px-4 first:pl-5 last:pr-5 py-2 whitespace-nowrap">
      <div class="text-left text-sm text-gray-600">{{ startDate }}</div>
    </td>
    <td class="px-4 first:pl-5 last:pr-5 py-2 whitespace-nowrap hide-on-mobile">
      <div class="text-left text-sm text-gray-600">{{ startTime }} - {{ endTime }}</div>
    </td>
    <td class="px-4 first:pl-5 last:pr-5 py-2 whitespace-nowrap hide-on-mobile">
      <div
        v-if="appointmentData.meeting_type === 'virtual'"
        class="text-left text-sm text-gray-600"
      >
        virtual
      </div>
      <div v-else class="text-left text-sm text-gray-600">in-person</div>
    </td>
     <td class="px-4 first:pl-5 last:pr-5 py-2 whitespace-nowrap">
      <div class="text-left text-sm text-gray-600" v-if="appointment.is_completed">Completed</div>
      <div class="text-left text-sm text-gray-600" v-if="appointment.is_confirmed && !appointment.is_completed">Confirmed</div>
      <div class="text-left text-sm text-gray-600" v-if="!appointment.is_confirmed && !appointment.is_rejected && !appointment.pending_cancellation">Pending</div>
      <div
                  class="text-left text-sm text-gray-600"
                  v-if="
                    !appointmentData.is_confirmed &&
                    !appointmentData.is_rejected &&
                    appointmentData.pending_cancellation
                  "
                >
                  Pending Cancellation
                </div>
                <div
                  class="text-left text-sm text-gray-600"
                  v-if="
                    appointmentData.is_rejected &&
                    appointmentData.pending_cancellation
                  "
                >
                  Cancelled
                </div>
                <div
                  class="text-left text-sm text-gray-600"
                  v-if="appointmentData.is_rejected && !appointmentData.pending_cancellation"
                >
                  Rejected
                </div>
    </td>
    <!--
    <td class="px-4 first:pl-5 last:pr-5 py-2 whitespace-nowrap">
      <div class="text-left text-sm text-gray-600">{{ appointment.duration }}</div>
    </td> -->
    <td class="pr-2 py-2 whitespace-nowrap text-right">
      <!-- Menu button -->
      <router-link :to="`/appointments/${appointment.id}`">
        <button class="text-slate-400 hover:text-slate-500 rounded-full">
          <span class="sr-only">Menu</span>
          <svg class="w-8 h-8 fill-current" viewBox="0 0 32 32">
            <circle cx="16" cy="16" r="2" />
            <circle cx="10" cy="16" r="2" />
            <circle cx="22" cy="16" r="2" />
          </svg>
        </button>
      </router-link>
    </td>
  </tr>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import { getAppointment } from "~/api/appointments"
import dayjs from "dayjs"

@Component({
  components: {},
})
export default class AppointmentTableItem extends Vue {
  @Prop([]) readonly appointment
  appointmentData: any = null

  async getAppointment() {
    try {
      const { data } = await getAppointment(this.appointment.id)
      this.appointmentData = data
    } catch (error) {}
  }

  get startDate() {
    return dayjs(this.appointmentData.availability.time_start).format(
      "MMM DD, YYYY"
    )
  }

  get startTime() {
    return dayjs(this.appointmentData.availability.time_start).format("h:mm A")
  }

  get endTime() {
    return dayjs(this.appointmentData.availability.time_end).format("h:mm A")
  }

  mounted() {
    this.getAppointment()
  }
}
</script>

<style scoped>
.light-text {
  color: #505a84;
  font-weight: 300;
  font-size: 0.8rem;
}

.bold-text {
  color: #505a84;
  font-weight: 500;
  font-size: 0.8rem;
}

img {
  border-radius: 100%;
  border: 1px solid #e7e7e7;
  background-color: #f5f5fd;
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
}
</style>
