<template>
  <div
    class="
      rounded-lg
      border border-gray-300
      bg-white
      shadow-md
      flex flex-col
      p-8
      justify-between
      min-h-64
      mb-8
    "
  >
    <div>
      <p class="font-medium">
        Book an appointment for someone else.
      </p>
      <p class="text-sm py-1 mb-5">
        Need to book an appointment for someone else?
      </p>
    </div>

    <tad-button @click="$router.push('/bookings/someone/else')">
      Book For Someone Else
    </tad-button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: {
    TadButton,
  },
})
export default class BookForSomeoneElseCard extends Vue {
  
}
</script>
