<template>
  <div class="rounded-lg border border-gray-300 bg-white shadow-md flex flex-col p-8 space-y-8 justify-between min-h-[250px] mb-8">
    <div >
      <p class="text-lg font-medium">
        Schedule an appointment for yourself
      </p>
      <p class="text-sm py-1 mb-5">
        Ready to schedule an appointment?
      </p>
    </div>

    <tad-button @click="$router.push('/bookings')"> Book Now </tad-button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
@Component({
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class ScheduleAppointmentCard extends Vue {}
</script>
