<template>
  <div v-if="appointment.id" class="recent">
    <span class="recent-title">Upcoming Appointment</span>
    <span class="recent-date">
      Professional: {{ appointment.professional.full_name }}
    </span>
    <span class="recent-date">
      Date:
      {{
        $appointmentStartTimezoneSensitive(
          appointment,
          "MMM DD YYYY"
        )
      }}</span>
    <span class="recent-date">
      Time:
      {{
        $appointmentStartTimezoneSensitive(
          appointment,
          "hh:mm A"
        ) +
        "-" +
        $appointmentEndTimezoneSensitive(appointment, "hh:mm A")
      }}</span>
    <span class="recent-date">
      Status:
      <em>
        <span v-if="appointment.is_confirmed">
          <span class="">Confirmed</span>
        </span>
        <span v-else-if="appointment.is_rejected">
          <span class="">Canceled</span>
        </span>
        <span v-else>
          <span class="">Pending</span>
        </span>
      </em>
    </span>
  </div>
  <div v-else>
    <span class="appointments__booknow-card-title">
      No upcoming appointment
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
})
export default class UpcomingAppointment extends Vue {
  @Prop() appointment
}
</script>

<style scoped>
.recent-title {
  display: inline-block;
  font-weight: 700;
  color: var(--dark-text);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.recent-date {
  display: block;
  font-size: 0.8rem;
  color: var(--dark-text);
}

.recent {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}
</style>
