<template>
    <div class="login__container">
      <div class="login__wrapper">
        <div class="image__div"></div>
        <div class="form__div">
          <img
            class="form__logo"
            src="~/assets/images/login/tadhealth_logo.png"
            alt=""
          />
          <form @submit.prevent="submit" :disabled="isWorking">
            <span class="form__title">Login</span>
            <span class="form__subtitle">
              Fill out the form below to access your account.
            </span>
            <div class="form-input-wrapper mb-5">
              <label for="email-address" class="inline-block mb-3 ">Username</label>
              <tad-input
                id="email-address"
                v-model="email"
                name="email"
                type="email"
                autocomplete="email"
                required
                class="small-text"
                placeholder="Email address"
                @keyup.enter="submit"
              />
            </div>
            <div class="form-input-wrapper mb-5">
              <label for="password" class="inline-block mb-3 ">Password</label>
              <tad-input
                id="password"
                v-model="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="small-text"
                placeholder="Password"
                @keyup.enter="submit"
              />
            </div>
            <div>
              <form-button :submitting="isWorking" class="login__button"
                >Login</form-button
              >
            </div>
            <alert
              :msg="errMsg"
              type="error"
              @alert-close="errMsg = ''"
              class="my-1"
              :dissmissable="false"
            />
          </form>
  
          <div class="login__terms">
            <tad-link
              href="https://tadhealth.com/terms"
              target="_blank"
              class="terms_privacy__link"
              :color="brandColorDefault"
              >Terms and Conditions
            </tad-link>
            <tad-link
              href="https://tadhealth.com/privacy"
              target="_blank"
              class="terms_privacy__link"
              :color="brandColorDefault"
              >Privacy Policy
            </tad-link>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script lang="ts">
  import {
    Component,
    Getter,
    Mutation,
    State,
    Vue,
  } from "nuxt-property-decorator"
  import { getApiErrorMsg } from "~/api"
  import TadLink from "~/components/styled-components/TadLink"
  import TadInput from "~/components/styled-components/TadInput"
  import TadButton from "~/components/styled-components/TadButton"
  import { IUserProfile } from "~/interfaces"
  import FormButton from "~/components/FormButton.vue"
  import { postDeviceDetails } from "~/api/analytics"
  
  @Component({
    middleware: "anonymous",
    components: { FormButton, TadLink, TadInput, TadButton },
  })
  export default class Login extends Vue {
    @Getter("isAuthenticated") readonly readIsLoggedIn!: boolean
    @Mutation("config/setPColor") setPColor!: (color: string) => void
    @Mutation("config/setSColor") setSColor!: (color: string) => void
    @Mutation("config/setTColor") setTColor!: (color: string) => void
    @Mutation("config/setLogo") setLogo!: (color: string) => void
    @Mutation("config/setAltLogo") setAltLogo!: (color: string) => void
    @Mutation("config/setThemeReady") setThemeReady!: (isReady: boolean) => void
    @State("brandColorDefault") readonly brandColorDefault!: string
    @Getter("userAgentInfo", { namespace: "analytics" })
    userAgentInfo!: any
  
    email: string = ""
    password: string = ""
    errMsg = ""
    isWorking = false
    loggedInUser: any = {}
  
    async submit() {
      this.errMsg = ""
  
      const formData = new FormData()
      formData.append("username", this.email)
      formData.append("password", this.password)
      try {
        this.isWorking = true
        const response = await this.$auth.loginWith("local", {
          data: formData,
        })
  
        if (response) {
          const fetchUserResponse = await this.$auth.fetchUser()
          if (fetchUserResponse) {
            const user = fetchUserResponse.data as IUserProfile
            this.loggedInUser = user
  
            this.$store.commit(
              "permissions/setPermissions",
              this.loggedInUser.permissions
            )
            this.setPColor(
              user.organization?.primary_color ?? this.brandColorDefault
            )
            this.setSColor(
              user.organization?.secondary_color ?? this.brandColorDefault
            )
            this.setTColor(
              user.organization?.tertiary_color ?? this.brandColorDefault
            )
            this.setLogo(user.organization?.logo ?? "/tadhealth_logo.png")
            this.setAltLogo(
              user.organization?.alt_logo ?? "/tadhealth_alt_logo.png"
            )
            this.setThemeReady(true)
          }
  
          this.$toast.success("You are logged in.")
          let browser_version = this.userAgentInfo.browser_version
          let os_version = this.userAgentInfo.os_version
  
          await postDeviceDetails(browser_version, os_version)
  
          // this.$router.push("/")
        }
      } catch (error) {
        this.errMsg = getApiErrorMsg(error)
      } finally {
        this.isWorking = false
      }
    }
  
    /*
    async ssoLogin() {
      this.$auth.loginWith("aad")
    }
    */
  }
  </script>
  
  <style lang="scss" scoped>
  .login__container {
    height: 100vh;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
  }
  
  .login__wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--default-box-shadow);
  }
  
  .image__div {
    background-image: url(~/assets/images/login_image.jpg);
    background-size: cover;
    background-position: center;
    width: 500px;
  }
  
  .form__div {
    background-color: #fff;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
  }
  
  .form__logo {
    width: 50%;
    margin-bottom: 3rem;
  }
  
  .form__title {
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    color: var(--dark-text);
  }
  
  .form__subtitle {
    font-size: var(--small-text);
    color: #8390a2;
    padding-bottom: 1rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    padding-top: 2rem;
  }
  
  ::placeholder {
    color: #8390a279;
  }
  
  .login__button {
    width: 100%;
  }
  
  .login__terms {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .login__terms a {
    font-size: var(--small-text);
    margin: 0.5rem;
    /* color: var(--main-color) !important; */
  }
  
  @media only screen and (max-width: 560px) {
    .form__div {
      width: 100%;
    }
  }
  </style>
  