<template>
  <div class="modal-video-details">
    <div>
      <form>
        <div class="form-input-wrapper">
          <label class="detail-label" for="title">Title</label>
          <input
            class="mb-5"
            id="title"
            v-model="title"
            placeholder="Enter a title"
            required
          />
        </div>
        <div class="form-input-wrapper">
          <article-editor
            :initialValue="narrative"
            @content-changed="editorContentChanged"
            class="mb-6"
          />
        </div>
        <div class="grid grid-cols-2 gap-1">
          <tad-button @click="hideModal" danger>Cancel</tad-button>
          <tad-button primary @click.prevent="createNote"
          >Update Note</tad-button
          >
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { updateCaseNote } from "~/api/case-notes"

interface CaseNote {
  id: string
  title: string
  narrative: string
}

@Component({
  components: { TadButton },
})
export default class ModalCreateNote extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => ({ id: "", title: "", narrative: "" }) })
  caseNote!: CaseNote

  get title() {
    return this.caseNote.title
  }

  set title(value: string) {
    this.caseNote.title = value
  }

  get narrative() {
    return this.caseNote.narrative
  }

  set narrative(value: string) {
    this.caseNote.narrative = value
  }

  async createNote() {
    let caseNote = this.caseNote
    let title = this.title
    let narrative = this.narrative
    try {
      await updateCaseNote({
        ...caseNote,
        id: caseNote.id,
        title: title,
        narrative: narrative,
      })
      this.$toast.success("Successfully updated note.")
      this.hideModal()
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to create client note")
    }
  }

  editorContentChanged(content: string) {
    this.narrative = content
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

form {
  padding-bottom: 2rem;
}
</style>
