<template>
  <div>
    <div class="grid grid-cols-2 gap-4">
      <!-- Date -->
      <div class="">
        <label :class="labelCss" for="availability-date">Select date</label>
        <tad-input
          id="availability-date"
          ref="input-availability-date"
          v-model="dateSelected"
          type="date"
          required
          class="w-full border-2 rounded-lg px-3 py-2"
          @change="fetchAvailabilities()"
        />
      </div>

      <!-- Time -->
      <div class="">
        <h4>
          <label :class="labelCss">Select time </label>
        </h4>

        <div v-if="isLoadingTimes" class="py-3">
          <i class="la la-refresh la-fw la-spin"></i> Loading available times
        </div>

        <select
          v-if="!isLoadingTimes && Object.keys(availabilities).length"
          v-model="selectedAvailablity"
          class="w-full border-2 rounded-lg px-3 py-2"
        >
          <option
            v-for="availability in availabilities"
            :key="availability.id"
            :value="availability.id"
          >
            {{ formatTime(availability.time_start) }} -
            {{ formatTime(availability.time_end) }}
          </option>
        </select>

        <div
          v-if="!Object.keys(availabilities).length && !isLoadingTimes"
          class="w-full rounded-lg px-3 py-2 border-2 border-dotted"
        >
          <i class="la la-frown la-fw"></i>
          No times available
        </div>
      </div>
    </div>

    <!-- Create availability on the fly -->
    <div v-if="!creatingNewAvailability" class="mb-5">
      <span class="text-xs"
        >Don't see a time that works?
        <span class="cursor-pointer text-blue-500" @click="dateClicked"
          >Create a new time</span
        ></span
      >
    </div>

    <div
      v-if="creatingNewAvailability"
      class="border-2 px-6 rounded-lg hover:shadow-lg my-8"
    >
      <div class="grid grid-cols-2 gap-4 my-6">
        <div class="">
          <label :class="labelCss">Start Time</label>
          <tad-input
            v-model="startTime"
            type="time"
            required
            :class="inputCss"
          />
        </div>
        <div class="">
          <label :class="labelCss">End Time</label>
          <tad-input v-model="endTime" type="time" required :class="inputCss" />
        </div>
      </div>
      <div class="my-6 flex gap-4">
        <tad-button class="btn-submit" success @click="createTime"
          >Create new availability</tad-button
        >
        <tad-button class="btn-submit" danger @click="cancelAddingTime"
          >Cancel</tad-button
        >
      </div>
    </div>

    <label :class="labelCss">Find User </label>
    <div class="">
      <input
        v-model="patientSearchString"
        type="text"
        placeholder="Search by name or email address"
        :class="inputCss"
        @input="patientSearchDebounce"
      />

      <loading-spinner v-if="isSearching">Searching</loading-spinner>

      <ul v-else-if="selectedPatient.id == null" class="mb-6 mt-6 block w-full">
        <li
          v-for="patient in patients"
          :key="patient.id"
          class="w-full border-b border-t px-3 py-2"
          :class="{ selected: patient.id === selectedPatient.id }"
          @click="selectedPatient = patient"
        >
          <img
            class="profile-img"
            :src="$userimg(patient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{ patient.full_name.concat(", ").concat(patient.email) }}
          </p>
        </li>
      </ul>

      <div
        v-if="selectedPatient.id"
        class="
          selected-patient-container
          py-2
          mt-2
          mb-5
          inline-block
          px-5
          text-sm
          font-medium
          focus:outline-none
          rounded-lg
          border
          bg-gray-100
          text-blue-700
        "
      >
        <h3 class="subtitle-text my-0 mb-5">Booking appointment for:</h3>
        <div class="selected-patient mb-5">
          <img
            class="profile-img"
            :src="$userimg(selectedPatient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{
              selectedPatient.full_name
                .concat(", ")
                .concat(selectedPatient.email)
            }}
          </p>
        </div>
      </div>
    </div>

    <h3 :class="labelCss">Type of appointment</h3>
    <div class="grid grid-cols-2 gap-6 mb-8">
      <div class="border rounded-lg">
        <div class="flex gap-4">
          <div class="flex-shrink p-3">
            <input
              v-model="meetingType"
              type="radio"
              value="virtual"
              class="w-4 h-4"
            />
          </div>
          <div class="flex-auto pt-1">
            <label :class="labelCss">Online</label>
          </div>
        </div>
      </div>
      <div class="border rounded-lg">
        <div class="flex gap-4">
          <div class="flex-shrink p-3">
            <input
              v-model="meetingType"
              checked
              type="radio"
              value="in_person"
              name="bordered-radio"
              class="w-4 h-4"
              @change="loadForms"
            />
          </div>
          <div class="flex-auto pt-1">
            <label for="bordered-radio-2" :class="labelCss">In Person</label>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="meetingType === 'in_person'"
      class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-5"
    >
      <div class="md:col-span-2">
        <label for="address" :class="labelCss">Location</label>
        <input
          id="address"
          v-model="location"
          name="address"
          type="text"
          required
          class="
            mt-1
            block
            w-full
            py-2
            px-3
            border border-gray-300
            bg-white
            rounded-md
            shadow-sm
            focus:outline-none focus:ring-blue-500 focus:border-blue-500
            sm:text-sm
          "
        />
      </div>
      <div class="md:col-span-2">
        <label for="room" :class="labelCss"
          >Room Number <i class="la la-info-circle float-right"></i
        ></label>
        <input
          id="room"
          v-model="roomNo"
          name="room"
          type="text"
          required
          class="
            mt-1
            block
            w-full
            py-2
            px-3
            border border-gray-300
            bg-white
            rounded-md
            shadow-sm
            focus:outline-none focus:ring-blue-500 focus:border-blue-500
            sm:text-sm
          "
          placeholder="101"
        />
      </div>
    </div>

    <!-- Add form -->
    <div class="block my-4">
      <h3 :class="labelCss">Add Additional Form</h3>
      <button class="border-2 px-4 py-2 rounded" @click="selectForms">
        <span v-if="!Object.keys(selectedAddForm).length">Select Form(s)</span>
        <span v-if="Object.keys(selectedAddForm).length"
          >Change this form ({{ selectedAddForm.name }})</span
        >
      </button>
      <!-- <pre>{{ JSON.stringify(selectedAddForm, null, 2) }}</pre> -->
    </div>

    <div class="w-full mt-6">
      <tad-button secondary @click="bookAppointment">
        Book Appointment
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Getter, Mutation } from "nuxt-property-decorator"
import timezone from "dayjs/plugin/timezone" // dependent on utc plugin
import customParseFormat from "dayjs/plugin/customParseFormat"
import { createAppointment } from "~/api/appointments"
import { getSingleDay, createAvailability } from "~/api/availabilities"
import { searchPatients } from "~/api/users"
import { IForm, IUserProfile, GenericType } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { getMyForms } from "~/api/form"
import ModalSelectAppointmentForm from "~/components/modals/ModalSelectAppointmentForm.vue"
import ModalPreviewForm from "~/components/modals/ModalPreviewForm.vue"

dayjs.extend(timezone)
dayjs.extend(customParseFormat)

@Component({
  components: { TadButton, TadInput, ModalSelectAppointmentForm },
})
export default class ModalBookClient extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile // the professional
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showChildModal") showChildModal
  labelCss = "text-base font-normal py-2 px-0 block"
  inputCss = "w-full border-2 rounded-lg px-3 py-2"

  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patients: IUserProfile[] = []
  selectedPatient = {} as IUserProfile
  isWorking = false
  meetingType = "in_person"

  // selecting a date
  dateSelected = null
  availabilities = []
  selectedAvailablity: any = {}
  isLoadingTimes = false
  noDates = false
  creatingNewAvailability = false
  isRepeating = false
  startTime = ""
  endTime = ""
  requestConsent = null
  forms = [] as IForm[]
  selectedForm = ""
  selectedAddForm = {} as IForm
  location = "" as string
  roomNo = "" as string

  mounted() {
    this.loadForms()

    // Check selected form from modal
    setInterval(() => {
      this.retrieveFormSelection()
    }, 1000)
  }

  retrieveFormSelection() {
    const form = localStorage.getItem("selected_appointment_form")

    if (form) {
      this.selectedAddForm = JSON.parse(form)
    }
  }

  formatTime(time) {
    return dayjs(time).format("h:mm A")
  }

  get startTimeFormatted() {
    return dayjs(this.dateSelected)
      .format("YYYY-MM-DD")
      .concat("T")
      .concat(this.startTime)
  }

  get endTimeFormatted() {
    return dayjs(this.dateSelected)
      .format("YYYY-MM-DD")
      .concat("T")
      .concat(this.endTime)
  }

  async createTime() {
    try {
      const availability: any = {
        time_start: this.startTimeFormatted,
        time_end: this.endTimeFormatted,
        timezone: dayjs.tz.guess(),
        organization_id: this.currentUser.organization_id,
      }

      await createAvailability(availability)
      this.$toast.success("Availability set successfully.")
      this.creatingNewAvailability = false
      this.fetchAvailabilities()
    } catch (error) {}
  }

  dateClicked() {
    this.creatingNewAvailability = true
  }

  cancelAddingTime() {
    this.creatingNewAvailability = false
  }

  //   get startDate() {
  //     return dayjs(this.eventInfo.event.start).format("MM DD, YYYY")
  //   }

  //   get startTime() {
  //     return dayjs(this.eventInfo.event.start).format("h:mm A")
  //   }

  //   get endTime() {
  //     return dayjs(this.eventInfo.event.end).format("h:mm A")
  //   }

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async patientSearch() {
    this.isSearching = true
    this.patients = []
    this.selectedPatient = {} as IUserProfile

    const { data: patients } = await searchPatients(this.patientSearchString)
    this.patients = patients

    this.isSearching = false
  }

  async fetchAvailabilities() {
    this.isLoadingTimes = true
    const date: any = this.dateSelected
    const id = this.currentUser.id
    const { data } = await getSingleDay(date, id)

    this.availabilities = data.items.sort((a, b) => {
      // Convert strings to Date objects for comparison
      const dateA = new Date(a.time_start)
      const dateB = new Date(b.time_start)

      // If dateA is less than dateB by some ordering criterion
      if (dateA < dateB) {
        return -1
      }
      // If dateA is greater than dateB by the ordering criterion
      if (dateA > dateB) {
        return 1
      }
      // dateA must be equal to dateB
      return 0
    })


    this.isLoadingTimes = false
    if (!data.items.length) {
      this.noDates = true
    }
  }

  async bookAppointment() {
    const data = {
      availability_id: this.selectedAvailablity,
      owner_id: this.selectedPatient.id,
      organization_id: this.selectedPatient.organization_id,
      is_self_appointment: false,
      meeting_type: this.meetingType,
      location: this.location,
      room_number: this.roomNo,
    }

    try {
      await createAppointment(data)
      this.$toast.success("Appointment booked successfully")
      this.$router.push("/appointments")
      this.hideModal()
    } catch (error) {
      this.$toast.error("Error booking appointment")
    }
  }

  async loadForms() {
    if (this.meetingType === "in_person") {
      const { data } = await getMyForms()
      this.forms = data.items
    }
  }

  selectForms() {
    const modal = {
      title: "Add Form(s)",
      content: ModalSelectAppointmentForm,
      props: {
        forms: this.forms,
      },
    }
    this.showChildModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.text-availability-info {
  margin-bottom: 1rem;
}
.patient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .patient {
    background-color: #fff;
    border: 1px solid #bbb3b3;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px #0000001c;

    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }

    &.selected {
      border-color: var(--success-color);
      background-color: rgb(213, 223, 229);
    }
  }
}

.selected-patient-container {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  .selected-patient {
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .btn-book {
    width: 100%;
  }
}
</style>
