<template>
  <div>
    <div class="form-input-wrapper">
      <label>
        <i class="las la-search mr-3"></i>Please enter a name or email:
      </label>
      <input
        v-model="patientSearchString"
        class="mb-5"
        type="text"
        placeholder="Enter a name or email"
        @input="patientSearchDebounce"
      />
      <!-- <datalist id="patients">
        <option
          v-for="patient in patients"
          :key="patient.id"
          :value="patient.full_name"
        >
          <img :src="$userimg(patient.profile_image)" alt="" />
        </option>
      </datalist> -->

      <loading-spinner v-if="isSearching">Searching</loading-spinner>

      <ul v-else-if="selectedPatient.id == null" class="patient-list mb-6">
        <li
          v-for="patient in patients"
          :key="patient.id"
          class="patient"
          :class="{ selected: patient.id === selectedPatient.id }"
          @click="selectedPatient = patient"
        >
          <img
            class="profile-img"
            :src="$userimg(patient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{ patient.full_name.concat(", ").concat(patient.email) }}
          </p>
        </li>
      </ul>
      <!-- <alert
        v-else-if="patients.length <= 0"
        type="info"
        :dissmissable="false"
        msg="No results"
      >
      </alert> -->

      <form
        v-if="selectedPatient.id"
        class="selected-patient-container"
        @submit.prevent="shareConcern"
      >
        <p class="mb-6 heading">Booking an appointment with:</p>
        <div v-if="selectedPatient.id" class="selected-patient mb-5">
          <img
            class="profile-img"
            :src="$userimg(selectedPatient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{
              selectedPatient.full_name
                .concat(", ")
                .concat(selectedPatient.email)
            }}
          </p>
        </div>
        <div v-else class="selected-patient mb-5">
          <p class="name">No user selected</p>
        </div>

        <!-- I need a new input with radio buttons for the type of appointment in person or virtual -->
        <div class="form-input-wrapper mb-6">
          <label for="appointment_type">
            Appointment Type <span class="required">(Required)</span>
          </label>
          <select
            id="appointment_type"
            v-model="appointment_type"
            name=""
            required
          >
            <option value="In Person">In Person</option>
            <option value="Virtual">Virtual</option>
          </select>
        </div>
        <!-- if the meeting type is in person I want an input asking for location -->
        <div
          v-if="appointment_type == 'In Person'"
          class="form-input-wrapper mb-6"
        >
          <label for="location">
            Location <span class="required">(Required)</span>
          </label>
          <input
            id="location"
            type="text"
            placeholder="Enter a location"
            required
          />
        </div>

        <!-- if the meeting type is in person I want a piece of text letting them know a meeting link will be generated for them -->
        <p v-if="appointment_type == 'Virtual'" class="text-availability-info">
          <span>
            <i class="las la-video"></i> A meeting link will be generated for
            you.
          </span>
        </p>

        <!-- I want an input asking if they would like to attack a consent form to this meeting, yes or no -->
        <div class="form-input-wrapper mb-6">
          <label for="consent_form">
            Attach Consent Form <span class="required">(Required)</span>
          </label>
          <select id="consent_form" name="" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>

        <!-- an checkbox input asking if this is one time or repeat meeting -->

        <tad-button class="btn-book" :disabled="isWorking">
          <span v-if="isWorking">
            <i class="las la-cog la-spin la-lg mr-3"></i>
          </span>
          <span v-else>Share Your Concern</span>
        </tad-button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import { searchPatients } from "~/api/users"
import { IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import LoadingSpinner from "~/components/LoadingSpinner.vue"

@Component({
  components: { TadButton, LoadingSpinner },
})
export default class ModalShareConcern extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) readonly id!: {}
  @Prop({ default: () => {} }) readonly type!: {}
  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patients: IUserProfile[] = []
  selectedPatient = {} as IUserProfile
  isWorking = false
  appointment_type = ""

  mounted() {}

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async shareConcern() {
    try {
      const concerned_for_user_id = this.selectedPatient.id
      this.$toast.success("Thank you for sharing your concern!")
      this.hideModal()
      return
    } catch (e) {
      this.$toast.error("Oh no, something went wrong!")
    }
  }

  async patientSearch() {
    this.isSearching = true
    this.patients = []
    this.selectedPatient = {} as IUserProfile

    const { data: patients } = await searchPatients(this.patientSearchString)
    this.patients = patients

    this.isSearching = false
  }
}
</script>

<style lang="scss" scoped>
.heading {
  font-weight: 500;
  font-size: 0.9rem;
  color: #41496b !important;
}
.text-availability-info {
  margin-bottom: 1rem;
}
.patient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .patient {
    background-color: #fff;
    border: 2px solid #bbb3b3;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px #0000001c;

    cursor: pointer;
    &:hover {
      border-color: var(--main-color);
      background-color: var(--main-color-hover);
    }

    &.selected {
      border-color: var(--success-color);
      background-color: rgba(9, 247, 9, 0.274);
    }
  }
}

.selected-patient-container {
  border: 1px solid #bbb3b3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px #0000001c;
  .selected-patient {
    background-color: #fff;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .btn-book {
    width: 100%;
  }
}

.required {
  color: #dc3545 !important;
  font-size: 0.7rem;
}
</style>
