<template>
  <div>
    <!-- Back Button -->
    <div class="block py-1">
      <tad-button
        @click="$router.go(-1)"

        >Go Back</tad-button
      >
    </div>

    <!-- Page title -->
    <SharedPageTitle title="Video Details" subtitle="Watch this video" />

    <!-- video info section -->
    <SharedAvatar
      v-if="video"
      :picture="`${fullApiUrl}/users/file/${video.owner.profile_image}`"
      :name="`${video.owner.full_name}`"
      :description="`posted on ${formatUpdatedAt(video.created_at)}`"
    >
      <div>
        <tad-button :tertiary="isVideoLiked" @click.prevent="likeVideo">
          <i v-if="isVideoLiked" class="las la-heart"></i> Found Helpful
        </tad-button>
        <tad-button
          v-if="video.is_approved"
          primary
          @click.prevent="modalShareResource"
        >
          <i class="las la-share-alt"></i> Share Resource
        </tad-button>
        <tad-button
          v-if="video.is_approved"
          primary
          class="feedback__button"
          @click="openModalFeedbackVideo(video)"
        >
          <i class="las la-comment"></i> Provide Feedback
        </tad-button>
      </div>
    </SharedAvatar>

    <!-- video section -->
    <div class="block py-4">
      <SharedVideoPlayer
        :src="videoUrl"
        classes="rounded-lg vjs-16-9 vjs-fluid"
      />
    </div>

    <!-- video title -->
    <h3 class="font-bold text-xl my-4">{{ video.title }}</h3>

    <!-- tags -->
    <div class="flex gap-2 mb-8">
      <SharedBadge v-for="tag of video.tags" :key="tag" :label="tag" />
    </div>

    <!-- description -->
    <div>
      <h3 class="font-bold text-xl my-4">Video Description</h3>
      <p v-if="video.description" class="text-lg">
        {{
          collapsed && video.description.length > limit
            ? `${video.description.substring(0, limit)}...`
            : video.description
        }}
      </p>
      <p v-else class="text-lg">No description available</p>
      <a
        v-if="collapsed"
        href="#!"
        class="text-blue-500 font-bold"
        @click="collapsed = false"
        >read more</a
      >
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation, Getter } from "nuxt-property-decorator"
import VueCoreVideoPlayer from "vue-core-video-player"
import dayjs from "dayjs"
import videojs from "video.js"
import {
  getVideo,
  getVideoStreamUrl,
  createVideoView,
  createVideoLike,
  isVideoLiked,
} from "~/api/resources"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import ModalShareResourceUser from "~/components/modals/ModalShareResourceUser.vue"
import TadButton from "~/components/styled-components/TadButton"
import ModalFeedbackVideoResource from "~/components/modals/ModalFeedbackVideoResource.vue"
import { IVideoResource } from "~/interfaces"
import SharedPageTitle from "~/components/global/SharedPageTitle.vue"
import SharedAvatar from "~/components/global/SharedAvatar.vue"
import SharedVideoPlayer from "~/components/global/SharedVideoPlayer.vue"
import SharedBadge from "~/components/global/SharedBadge.vue"

Vue.use(VueCoreVideoPlayer)

@Component({
  components: {
    SharedBadge,
    SharedVideoPlayer,
    SharedAvatar,
    SharedPageTitle,
    TadButton,
    ModalShareResourceUser,
  },
})
export default class VideoDetails extends Vue {
  fullApiUrl = process.env.fullApiUrl
  videoId = this.$route.params.id
  video = { owner: {} } as IVideoResource
  videoUrl = ""
  professionalId = ""
  professional: {} = {}
  isVideoLiked: any = {}
  player = null
  collapsed = true
  limit = 150

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  mounted() {
    this.fetchVideo()
    this.fetchVideoStream()
    this.checkVideoLiked()
  }

  async checkVideoLiked() {
    try {
      const { data: response } = await isVideoLiked(this.videoId)
      if (response) {
        this.isVideoLiked = true
      } else {
        this.isVideoLiked = false
      }
    } catch (e) {}
  }

  isMobile() {
    if (
      /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
        navigator.userAgent
      )
    ) {
      return true
    } else {
      return false
    }
  }

  async fetchVideo() {
    try {
      const { data: video } = await getVideo(this.videoId)
      this.video = video
      this.professionalId = video.owner_id
      const formData = new FormData()
      formData.append("action", "viewed")
      formData.append("video_id", this.videoId)
      const action = "viewed"
      const video_id = this.videoId
      await createVideoView(action, video_id)
    } catch {}
  }

  async fetchVideoStream() {
    try {
      const { data: video } = await getVideoStreamUrl(this.videoId)
      this.videoUrl = video.video_url
    } catch {}
  }

  async likeVideo() {
    const video_id = this.videoId
    await createVideoLike(video_id)
    this.checkVideoLiked()
  }

  openModalFeedbackVideo(video) {
    const modal = {
      title: "Provide Feedback",
      content: ModalFeedbackVideoResource,
      props: {
        video,
      },
    }
    this.showModal(modal)
  }

  // format the time and make it readable

  formatUpdatedAt(time: string) {
    return dayjs(time).format("MMM DD, YYYY")
  }

  // format the bytes into mbs

  formatBytes(bytes, decimals = 2) {
    if (bytes === 0) return "0 Bytes"

    const k = 1024
    const dm = decimals < 0 ? 0 : decimals
    const sizes = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"]

    const i = Math.floor(Math.log(bytes) / Math.log(k))

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i]
  }

  modalShareResource() {
    const modal = {
      title: "Sharing a resource",
      content: ModalShareResourceUser,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        type: "video",
        id: this.videoId,
      },
    }
    this.showModal(modal)
  }

  setVideoStreamOptions() {
    return {
      autoplay: true,
      controls: true,
      src: this.videoUrl,
      width: "100%",
      liveui: true,
      normalizeAutoplay: true,
    }
  }
}
</script>

<style lang="scss" scoped>
.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem 0;
  span {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--dark-text);
    padding: 0.3rem;
    border: 1px solid rgb(170, 170, 170);
    margin: 0 0.2rem;
    border-radius: 15px;
  }
}
.second_nav {
  display: none !important;
}
.decline {
  padding: 2rem;
  padding-top: 0;
  background-color: white;
  box-shadow: var(--default-box-shadow);
  span:nth-of-type(1) {
    color: #db4949 !important;
  }
  span:nth-of-type(2) {
    color: var(--dark-text) !important;
  }
}
.video__button {
  color: white !important;
}
.search-container {
  margin-top: 2rem;
  position: relative;
  margin-left: auto;
  .ic-search {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    padding-left: 2rem;
  }
}

.feedback {
  font-size: 0.8rem;
  color: var(--dark-text);

  p {
    margin-bottom: 0.5rem;
  }
}

.feedback__table {
  margin-top: 0;

  box-shadow: var(--default-box-shadow);
  background-color: white;
}

.feedback__details {
  span {
    color: var(--dark-text);
    font-size: 0.8rem;
  }
}
.section-title-text {
  display: flex;
  flex-direction: column;
}
// styles for the breadcrumbs
.resource__breadcrumb {
  display: flex;
  margin-bottom: 2rem;

  li {
    margin-right: 10px;
    color: var(--dark-text) !important;
    font-size: 0.9rem;
  }
  li a {
    color: var(--light-text);
  }
}

.resource__breadcrumb-title {
  font-size: 0.9rem;
  font-weight: 500;
}

// styles for video player

.resource {
  padding-bottom: 1rem;
}

.resource__detail {
  display: flex;
  justify-content: space-between;
}
// styles for resource details

.resource__details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem;
}

.resource__details-meta {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource__title {
  font-size: 0.9rem;
  color: var(--dark-text);
  font-weight: bold;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.resource__uploader {
  font-size: 0.8rem;
  color: var(--dark-text);
  margin-right: 0.1rem;
}

.resource__uploader-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.resource__uploader-image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.resource__date {
  font-size: 0.7rem;
  color: var(--light-text);
}
// styles for the analytics boxes

.analytics__grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.analytic__box {
  padding: 2rem;
  background-color: white;
  box-shadow: var(--default-box-shadow);

  span {
    color: var(--dark-text);
    font-size: 0.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.7rem;
    padding: 1rem 0;
    color: var(--dark-text) !important;
  }
}

@media only screen and (max-width: 1200px) {
  .resource__detail {
    display: flex;
    flex-direction: column;
  }

  .resource__details-meta {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 726px) {
  .analytics__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .feedback__button {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 560px) {
  .analytics__grid {
    grid-template-columns: 100%;
  }
}
</style>
