<template>
  <div>
    <!-- Back Button -->
    <div class="block py-1">
      <tad-button primary @click="$router.go(-1)"
              ><i class="las la-arrow-left mr-1"></i>Back</tad-button
            >
    </div>

    <!-- Page title -->
    <SharedPageTitle title="Videos" />

    <template v-if="videos.length && !loading">
      <div class="video__grid">
        <div v-for="video in videos" :key="video.id" class="video">
          <nuxt-link :to="`/resources/videos/${video.id}`">
            <div
              class="video__container"
              :style="`background-image: url(${video.thumbnail_url})`"
            >
              <div class="video__play">
                <nuxt-link :to="`/resources/videos/${video.id}`">
                  <img
                    height="24"
                    width="18"
                    src="~/assets/images/play.png"
                    alt=""
                  />
                </nuxt-link>
              </div>
            </div>

            <span class="video__title">
              {{ video.title }}
            </span>
            <div class="video__footer">
              <nuxt-link :to="`/resources/profile/${video.owner_id}`">
                <span class="video__owner"> {{ video.owner.full_name }}</span>
              </nuxt-link>
            </div>
          </nuxt-link>
        </div>
      </div>
    </template>
    <template v-else-if="!videos.length && loading">
      <SharedLoading text="Loading videos..." />
    </template>
    <template v-else>
      <div class="no-audios-box">
        <p>No Videos To Display</p>
      </div>
    </template>
    <div class="video__list-pagination">
      <ServerPaginationControls
        :endpoint="getPaginatorVideos"
        :styling="{ align: 'right', paddingLeft: '2rem' }"
        @updated-items="updateVideoList"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { getVideos } from "~/api/resources"
import { IVideoResource } from "~/interfaces"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"
import SharedLoading from "~/components/global/SharedLoading.vue"

@Component({
  components: { TadButton, OrangeButton, SharedLoading },
})
export default class index extends Vue {
  fullApiUrl = process.env.fullApiUrl
  videos: IVideoResource[] = []
  loading = false as Boolean

  mounted() {
    this.fetchVideos()
  }

  async fetchVideos() {
    this.loading = true
    try {
      const { data: videos } = await getVideos()
      this.videos = videos
    } finally {
      this.loading = false
    }
  }

  getPaginatorVideos(skip = 0, limit = 10) {
    return getVideos({ skip, limit })
  }

  updateVideoList(videos: IVideoResource[] = []) {
    this.videos = videos
  }
}
</script>

<style lang="scss" scoped>
.videos__header {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--dark-text);
}

.video__link {
  display: flex;
  justify-content: flex-end;
  a {
    cursor: pointer;
    color: var(--dark-text);
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 0.2rem;
  }
  a:hover {
    color: var(--light-text);
  }
}

.video__grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.video__container {
  background-color: white;
  min-height: 175px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.video__details {
  padding: 1rem;
  //   background: rgba( 255, 255, 255, 0.25 );
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  // backdrop-filter: blur( 4px );
  // -webkit-backdrop-filter: blur( 4px );
  // border-radius: 10px;
  // border-top-right-radius: 0rem;
  // border-top-left-radius: 0rem;
  // border: 1px solid rgba( 255, 255, 255, 0.18 );
  // margin-top: 1rem;
}

.video {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
}

.video__title {
  color: var(--dark-text);
  font-size: 0.9rem;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.5;
  min-height: 40px;
  margin-top: 1rem;
}

.video__play {
  cursor: pointer;
  color: var(--dark-text);
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  align-content: center;
  padding-left: 0.2rem;
  padding-top: 0.2rem;

  img {
  }
}

.video__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.video__owner {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.2rem;
  color: var(--light-text);
}

.video__verified {
  color: var(--dark-text);
  font-size: 0.7rem;
  font-weight: 400;
  background-color: white;
  padding: 0.2rem;
  border-radius: 15px;
}

.video__footer {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .video__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .video__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 560px) {
  .video__grid {
    grid-template-columns: 100%;
  }
}
</style>
