<template>
  <div class="setup__wrapper">
    <div class="form__div">
      <transition mode="out-in" :name="transitionName">
        <component
          :is="onboardingForm"
          :onSuccess="onBoardingSuccess"
          :onBackPressed="onBackPressed"
        />
      </transition>

      <tad-text @click="logout" hover class="exit"
        >Logout and finish later?</tad-text
      >
    </div>
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import { IUserProfile, IUserProfileUpdate, IOrganization } from "~/interfaces"
import BtnProfileUpload from "~/components/profile/BtnProfileUpload.vue"
import BtnCoverUpload from "~/components/profile/BtnCoverUpload.vue"
import { updateMe } from "~/api/users"
import ModalTerms from "~/components/modals/ModalTerms.vue"
import { getOrganization, updateOrganization } from "~/api/organization"
import ModalAddEmergencyContact from "~/components/modals/ModalAddEmergencyContact.vue"

import BtnOrgLogoUpload from "~/components/profile/BtnOrgLogoUpload.vue"
import { createResources } from "~/api/interactions"
import { getResources } from "~/api/interactions"
import UserInfoSetup from "~/components/account-setup/UserInfoSetup.vue"
import { SetupStep } from "../AccountSetup.vue"
import OrgGeneralInfoSetup from "./OrgGeneralInfoSetup.vue"
import OrgBrandingSetup from "./OrgBrandingSetup.vue"
import OrgLogoSetup from "./OrgLogoSetup.vue"
import CrisisResourceSetup from "./CrisisResourceSetup.vue"

@Component({
  // layout: "institution",
  middleware: ["authenticated"],
  components: {
    TadButton,
    TadLink,
    TadInput,
    BtnCoverUpload,
    BtnProfileUpload,
    TadText,
    BtnOrgLogoUpload,
    UserInfoSetup,
  },
})
export default class AdminSetup extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal
  @Getter("config/logo") readonly logo!: string
  @Getter("config/alt_logo") readonly alt_logo!: string
  @Getter("loggedInUser") readonly loggedInUser!: IUserProfile
  @Mutation("config/setPColor") readonly setPColor!: (color: string) => void
  @Mutation("config/setSColor") readonly setSColor!: (color: string) => void
  @Mutation("config/setTColor") readonly setTColor!: (color: string) => void
  @Mutation("config/setLogo") readonly setLogo!: (color: string) => void
  @Mutation("config/setAltLogo") readonly setAltLogo!: (color: string) => void

  organization = {} as IOrganization
  setupStep = SetupStep.UserInfo

  selectedFile: any = ""
  stepOne: boolean = true
  stepTwo: boolean = false
  stepThree: boolean = false
  stepFour: boolean = false
  stepFive: boolean = false
  contacts: [] = []
  selected = false
  selected2 = false

  accessbilityCheck = false
  previewPColor = ""
  previewSColor = ""
  previewTColor = ""

  user = this.$auth.user as unknown as IUserProfile

  name: string = ""
  email: string = ""
  relationship: string = ""
  number: string = ""
  status: string = ""

  rename: string = ""
  renumber: string = ""
  renumberType: string = ""
  rebuttontext: string = ""
  redescription: string = ""

  resources: any[] = []
  transitionName: "onboarding-form-forward" | "onboarding-form-back" =
    "onboarding-form-forward"

  get onboardingForm() {
    switch (this.setupStep) {
      case SetupStep.UserInfo:
        return UserInfoSetup
      case SetupStep.OrgGeneral:
        return OrgGeneralInfoSetup
      case SetupStep.OrgBranding:
        return OrgBrandingSetup
      case SetupStep.OrgLogo:
        return OrgLogoSetup
      case SetupStep.CrisisResource:
        return CrisisResourceSetup
      default:
        return null
    }
  }

  onBoardingSuccess() {
    this.transitionName = "onboarding-form-forward"
    if (this.setupStep == SetupStep.UserInfo) {
      this.setupStep = SetupStep.OrgGeneral
    } else if (this.setupStep == SetupStep.OrgGeneral) {
      this.setupStep = SetupStep.OrgBranding
    } else if (this.setupStep == SetupStep.OrgBranding) {
      this.setupStep = SetupStep.OrgLogo
    } else if (this.setupStep == SetupStep.OrgLogo) {
      this.setupStep = SetupStep.CrisisResource
    }
  }

  onBackPressed() {
    this.transitionName = "onboarding-form-back"
    if (this.setupStep == SetupStep.CrisisResource) {
      this.setupStep = SetupStep.OrgLogo
    } else if (this.setupStep == SetupStep.OrgLogo) {
      this.setupStep = SetupStep.OrgBranding
    } else if (this.setupStep == SetupStep.OrgBranding) {
      this.setupStep = SetupStep.OrgGeneral
    } else if (this.setupStep == SetupStep.OrgGeneral) {
      this.setupStep = SetupStep.UserInfo
    }
  }

  async logout() {
    await this.$auth.logout()
  }
}
</script>

<style lang="scss" scoped>
.exit {
  font-size: 0.8rem;
  text-align: center;
  display: block;
  margin: 2rem 0rem;
  font-weight: 600;
}

.setup__wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.form__div {
  background-color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 560px;
}

.form__subtitle {
  font-size: var(--small-text);
  color: #8390a2;
  padding-bottom: 1rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  text-align: center;
  padding: 1rem 0rem;
}
.onboarding-form-forward-enter-active,
.onboarding-form-forward-leave-active,
.onboarding-form-back-enter-active,
.onboarding-form-back-leave-active {
  transition: 0.2s ease-in-out;
}

.onboarding-form-forward-enter,
.onboarding-form-back-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
.onboarding-form-forward-leave-to,
.onboarding-form-back-enter {
  transform: translateX(-100%);
  opacity: 0;
}
@media only screen and (max-width: 560px) {
  .form__div {
    width: 100%;
  }
}
</style>
