<template>
  <div>
    <form-title-container title="Add Crisis Resource" subtitle="This will be your crisis support resource. You can add more in
          settings." :onBackPressed="onBackPressed" />

    <div v-if="!resources.length">
      <form @submit.prevent="createResource">
        <div class="form-input-wrapper mb-6">
          <label for="name">Resource Name</label>
          <input
            type="text"
            v-model="rename"
            placeholder="Local Emergency Services"
          />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="number">Resource Number</label>
          <input type="text" v-model="renumber" placeholder="ex. 911" />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="description">Resource Action</label>
          <select name="" id="" v-model="renumberType">
            <option value="call">Phone Call</option>
            <option value="text">Send Text</option>
          </select>
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="description">Resource Description</label>
          <input
            type="text"
            v-model="redescription"
            placeholder="ex. contact local emergency services"
          />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="buttontext">Resource Button Text</label>
          <input
            type="text"
            v-model="rebuttontext"
            placeholder='ex. "Call Counselor Now"'
          />
        </div>
        <div class="form-input-wrapper mb-6">
          <tad-button @submit.prevent="createResource">Add Resource</tad-button>
        </div>
      </form>
    </div>

    <div>
      <span class="resource__subtitle">Resources Added</span>
    </div>

    <div
      v-if="resources.length"
      class="organization-form-container resource__container mb-6 pa-6"
    >
      <div v-for="resource in resources" :key="resource.id" class="resource">
        <div class="resource__text">
          <span class="resource__name">{{ resource.name }}</span>
          <div class="resource__button">
            <tad-button v-if="resource.number_type === 'call'"
              ><a style="color: white" :href="`tel:${resource.number}`">{{
                resource.button_text
              }}</a></tad-button
            >
            <tad-button v-else
              ><a style="color: white" :href="`sms:${resource.number}`">{{
                resource.button_text
              }}</a></tad-button
            >
          </div>
          <span class="resource__desc">{{ resource.description }}</span>
        </div>
        <div></div>
      </div>
    </div>

    <div v-else class="organization-form-container mb-6 pa-6">
      <span class="small-text"
        >Your organization has not added any resources.</span
      >
    </div>

    <tad-button
      primary
      class="btn-save-changes"
      @click.prevent="submit"
      style="width: 100%"
      :disabled="resources.length <= 0"
    >
      Save Crisis Resources
    </tad-button>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Mutation } from "vuex-class"
import { createResources, getResources } from "~/api/interactions"
import { updateMe } from "~/api/users"
import TadButton from "~/components/styled-components/TadButton"
import { IUserProfile } from "~/interfaces"
import FormTitleContainer from "~/components/account-setup/FormTitleContainer.vue"

@Component({
  components: { TadButton, FormTitleContainer },
})
export default class CrisisResourceSetup extends Vue {
  @Prop(Function) onSuccess!: () => void
  @Prop(Function) onBackPressed!: () => void
  @Mutation("modals/hideModal") hideModal!: () => void
  rename: string = ""
  renumber: string = ""
  renumberType: string = ""
  rebuttontext: string = ""
  redescription: string = ""

  resources: any[] = []
  user = this.$auth.user as unknown as IUserProfile

  fetch() {
    this.fetchResources()
  }

  async fetchResources() {
    try {
      const { data: resources } = await getResources()
      this.resources = resources
    } catch (e) {
      this.$toast.error("Something went wrong trying to fetch resources!")
    }
  }

  async createResource() {
    try {
      const name = this.rename
      const number = this.renumber
      const description = this.redescription
      const button_text = this.rebuttontext
      const number_type = this.renumberType

      await createResources(name, number, description, button_text, number_type)
      this.$toast.success("Your resource was successfully created!")
      this.hideModal()
      this.fetchResources()
    } catch (e) {
      this.$toast.error("There was an error creating your resource!")
      this.hideModal()
    }
  }

  async submit() {
    try {
      const {data: user} = await updateMe({ full_name: this.user.full_name })
      
      if (user.has_setup_account) {
        this.$toast.success("Account setup completed!")
        window.location.reload()
      }
    } catch (error) {
      this.$toast.error("Could not complete account setup!")
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  .btn-back {
    min-width: 40px;
  }
}
.resource {
  padding: 1rem;
  border-bottom: 1px solid rgb(224, 224, 224);
  border-top: 1px solid rgb(224, 224, 224);
}

.resource__container {
  padding: 0rem !important;
  padding-bottom: 1rem !important;
}

.resource__text {
  display: flex;
  flex-direction: column;
}

.resource__button {
  margin-bottom: 1rem;
}
.resource__name {
  color: var(--dark-text);
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.resource__desc {
  color: var(--dark-text) !important;
  font-size: 0.8rem !important;
}

.resource__subtitle {
  font-size: 0.7rem;
  color: var(-light-text);
  margin-bottom: 1rem !important;
  display: block;
}
</style>