<template>
<div v-if="isLoading" class="loading-container">
  <loading-spinner>Please wait...</loading-spinner>
</div>
  <div v-else>
    <form-title-container title="Customize Your Platform" subtitle="Select your organization colors. You can change this later." :onBackPressed="onBackPressed" />

    <div class="branding-colors mb-9">
      <div class="color-container">
        <div class="color-input-wrapper">
          <color-input
            label="Primary Color"
            :initial="organization.primary_color"
            class="color-picker"
            @color-picked="(color) => colorPicked({ primary: color })"
          />
          <p class="small-text">This color affects buttons and form inputs.</p>
        </div>
        <div class="preview-container">
          <span>e.g.</span>
          <tad-button :bg="previewPColor"> Primary Button </tad-button>
        </div>
      </div>

      <hr class="mt-6" />

      <div class="color-container">
        <div class="color-input-wrapper">
          <color-input
            label="Secondary Color"
            :initial="organization.secondary_color"
            class="color-picker"
            @color-picked="(color) => colorPicked({ secondary: color })"
          />
          <p class="small-text">This color affects links.</p>
        </div>
        <div class="preview-container">
          <span>e.g.</span>
          <tad-text :color="previewSColor">
            <i class="las la-home la-lg"></i> Secondary Link
          </tad-text>
        </div>
      </div>

      <hr class="mt-6" />

      <div class="color-container">
        <div class="color-input-wrapper">
          <color-input
            label="Tertiary Color"
            :initial="organization.tertiary_color"
            class="color-picker"
            @color-picked="(color) => colorPicked({ tertiary: color })"
          />
          <p class="small-text">
            This color will be used on other non-essential elements.
          </p>
        </div>
      </div>
    </div>

    <!-- Accessibility checkbox -->
    <!-- <div class="accessibility-check-container mb-6">
      <tad-input
        id="accessibility-check"
        type="checkbox"
        v-model.lazy="accessbilityCheck"
      />
      <label for="accessibility-check">
        I agree that the colors provided follow all applicable accessibility
        guidelines.
      </label>
    </div> -->

    <form-button
      :submitting="isWorking"
      primary
      class="btn-save-changes"
      @click.native.prevent="submit"
      style="width: 100%"
    >
      Save Changes
    </form-button>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Mutation } from "vuex-class"
import { getOrganization, updateOrganization } from "~/api/organization"
import { IOrganization, IUserProfile } from "~/interfaces"
import TadText from "~/components/styled-components/TadText"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import FormTitleContainer from "~/components/account-setup/FormTitleContainer.vue"

@Component({
  components: { TadButton, TadText, TadInput, FormTitleContainer },
})
export default class OrgBrandingSetup extends Vue {
  @Prop(Function) onSuccess!: () => void
  @Prop(Function) onBackPressed!: () => void
  @Mutation("config/setPColor") readonly setPColor!: (color: string) => void
  @Mutation("config/setSColor") readonly setSColor!: (color: string) => void
  @Mutation("config/setTColor") readonly setTColor!: (color: string) => void

  isLoading = true
  user = this.$auth.user as unknown as IUserProfile
   organization ={} as IOrganization


  previewPColor = ""
  previewSColor = ""
  previewTColor = ""
  accessbilityCheck = false
  isWorking = false

  async fetch() {
     try {
      this.isLoading = true
      const { data: organization } = await getOrganization(
        this.user.organization_id
      )
      this.organization = organization
    } catch (error) {}
    finally{
      this.isLoading = false
    }
  }

  colorPicked(payload: {
    primary?: string
    secondary?: string
    tertiary?: string
  }) {
    if (payload.primary) {
      this.previewPColor = payload.primary
      this.organization.primary_color = payload.primary
    } else if (payload.secondary) {
      this.previewSColor = payload.secondary
      this.organization.secondary_color = payload.secondary
    } else if (payload.tertiary) {
      this.previewTColor = payload.tertiary
      this.organization.tertiary_color = payload.tertiary
    }
  }

  async submit() {
    // if (!this.accessbilityCheck) {
    //   this.$toast.error("Please check the accessibility checkbox")
    //   return
    // }
    try {
      this.isWorking = true
      const formData = new FormData()
      formData.append("primary_color", this.organization.primary_color)
      formData.append("secondary_color", this.organization.secondary_color)
      formData.append("tertiary_color", this.organization.tertiary_color)

      const { data: organization } = await updateOrganization(
        this.user.organization_id,
        formData
      )
      this.organization = organization

      this.$toast.success("Successfully updated organization colors.")

      this.setPColor(this.organization.primary_color)
      this.setSColor(this.organization.secondary_color)
      this.setTColor(this.organization.tertiary_color)

      this.onSuccess()
    } catch (error) {
      this.$toast.error("Something went wrong. Try Again!")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.loading-container{
  height: 250px;
  display: grid;
  place-items: center;
}

.preview-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.color-input-wrapper {
  display: flex !important;
  flex-direction: column !important;
}
</style>