<template>
  <div>
    <form-title-container title="Setup Your Organization" subtitle="General Information" :onBackPressed="onBackPressed" />

    <div>
      <form @submit.prevent="submit">
        <div class="form-input-wrapper mb-6">
          <label for="firstName" class="small-text">
            Organization Name <field-okay v-if="organization.name" />
          </label>
          <tad-input v-model="organization.name" type="text" name="name" />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="firstName" class="small-text">
            Organization Email <field-okay v-if="organization.email" />
          </label>
          <tad-input v-model="organization.email" type="email" name="email" />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="firstName" class="small-text">
            Address <field-okay v-if="organization.address" />
          </label>
          <tad-input
            v-model="organization.address"
            type="text"
            name="address"
          />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="firstName" class="small-text">
            School District: <field-okay v-if="organization.school_district" />
          </label>
          <tad-input
            v-model="organization.school_district"
            type="text"
            name="address"
          />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="firstName" class="small-text">
            Website URL: <field-okay v-if="validURL(organization.url)" />
          </label>
          <tad-input v-model="organization.url" type="text" name="address" />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="type" class="small-text">
            Organization Type <field-okay v-if="organization.type" />
          </label>
          <select v-model="organization.type" id="type" name="">
            <option value="Company">Company</option>
            <option value="Non-profit">Non-profit</option>
            <option value="School District">School District</option>
            <option value="K-12 School">K-12 School</option>
            <option value="College">College</option>
          </select>
        </div>

        <div class="form-input-wrapper mb-6">
          <label for="link" class="small-text">
            Add a Link to your terms.
            <span class="highlight"> (must include "https://") </span>
            <field-okay v-if="validURL(organization.company_terms)" />
          </label>
          <tad-input
            v-model="organization.company_terms"
            type="text"
            name="company_terms"
            required
          />
        </div>
        <div class="form-input-wrapper">
          <form-button
            :submitting="isWorking"
            :disabled="!isFormValid || isWorking"
            >Continue</form-button
          >
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Mutation } from "vuex-class"
import { getOrganization, updateOrganization } from "~/api/organization"
import { IModal, IOrganization, IUserProfile } from "~/interfaces"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import FieldOkay from "~/components/account-setup/FieldOkay.vue"
import FormTitleContainer from "~/components/account-setup/FormTitleContainer.vue"

@Component({
  components: { TadInput, TadButton, FieldOkay, FormTitleContainer },
})
export default class OrgGeneralInfoSetup extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  @Prop(Function) onSuccess!: () => void
  @Prop(Function) onBackPressed!: () => void

  user = this.$auth.user as unknown as IUserProfile
  organization = {} as IOrganization
  isWorking = false

  async fetch() {
    try {
      const { data: organization } = await getOrganization(
        this.user.organization_id
      )
      this.organization = organization
    } catch (error) {}
  }

  get isFormValid() {
    return (
      this.organization.name &&
      this.organization.email &&
      this.organization.address &&
      this.organization.school_district &&
      this.validURL(this.organization.url) &&
      this.organization.type &&
      this.validURL(this.organization.company_terms)
    )
  }

  validURL(url: string) {
    let regEx =
      /^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)$/gm
    return regEx.test(url)
  }

  async submit() {
    // if (!this.accessbilityCheck) {
    //   this.$toast.error("Please check the accessibility checkbox")
    //   return
    // }
    try {
      if (!this.validURL(this.organization.company_terms)) {
        this.$toast.error("Organization terms must be a valid URL.")
        return
      }
      this.isWorking = true
      const formData = new FormData()
      formData.append("name", this.organization.name)
      formData.append("email", this.organization.email)
      formData.append("address", this.organization.address)
      formData.append("school_district", this.organization.school_district)
      formData.append("type", this.organization.type)
      formData.append("company_terms", this.organization.company_terms)

      const { data: organization } = await updateOrganization(
        this.user.organization_id,
        formData
      )
      this.organization = organization

      this.$toast.success("Successfully updated organization profile")

      this.onSuccess()
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
