<template>
  <div>
    <form-title-container title="Customize Your Platform" subtitle="Select your logos." :onBackPressed="onBackPressed" />

    <div class="branding-logos mb-12">
      <div class="branding-logo-container">
        <h3 class="subtitle-text mt-0">Main Logo</h3>
        <div class="image-container mb-3">
          
          <img class="main-logo"  :src="organization.logo || 'https://via.placeholder.com/500x100.png?text=Upload+Main+Logo'" alt="Main Logo" ref="main-logo" />
          <!-- <alert msg="Please upload a logo" type="info" /> -->
        </div>

        <btn-file-upload
          :upload="
            (file) => {
              dimensionCheck('logo_in', file)
            }
          "
          :loading="isWorking"
        >
          Upload
        </btn-file-upload>
        <p class="small-text" style="padding: 1rem 0rem">
          We recommend at least 500x100px for best image quality. JPEG/JPG/PNG
          only.
        </p>
      </div>

      <div class="branding-logo-container">
        <h3 class="subtitle-text mt-0">Alternate Logo</h3>
        <div class="image-container mb-3">
          
          <img
            class="alt-logo"
            width="80"
            :src="organization.alt_logo || 'https://via.placeholder.com/500x100.png?text=Upload+Alt+Logo'"
            ref="alt-logo"
            alt="Alternate Logo"
          />
        </div>

        <btn-file-upload
          :upload="
            (file) => {
              dimensionCheck('alt_logo_in', file)
            }
          "
          :loading="isWorking"
        >
          Upload
        </btn-file-upload>
        <p class="small-text" style="padding: 1rem 0rem">
          We recommend at least 160x160px for best image quality. JPEG/JPG/PNG
          only.
        </p>
      </div>
    </div>

    <!-- Accessibility checkbox -->
    <!-- <div class="accessibility-check-container mb-6">
          <tad-input
            id="accessibility-check"
            type="checkbox"
            value=""
            v-model="accessbilityCheck"
          />
          <label for="accessibility-check">
            I agree that the colors provided follow all applicable accessibility
            guidelines.
          </label>
        </div> -->

    <form-button
      :submitting="isWorking"
      primary
      class="btn-save-changes"
      @click.native.prevent="submit"
      style="width: 100%"
      :disabled="isWorking || !organization.logo || !organization.alt_logo"
    >
      Save Logo
    </form-button>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import { updateOrganization } from "~/api/organization"
import { IModal, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import ModalShowMessage from "~/components/modals/ModalShowMessage.vue"
import FormTitleContainer from "~/components/account-setup/FormTitleContainer.vue"

@Component({
  components: { TadButton, FormTitleContainer },
})
export default class OrgLogoSetup extends Vue {
  @Prop(Function) onSuccess!: () => void
  @Prop(Function) onBackPressed!: () => void
  @Getter("config/logo") readonly logo!: string
  @Getter("config/alt_logo") readonly alt_logo!: string
  @Mutation("config/setLogo") readonly setLogo!: (color: string) => void
  @Mutation("config/setAltLogo") readonly setAltLogo!: (color: string) => void
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  user = this.$auth.user as unknown as IUserProfile
  organization = this.user.organization!
  isWorking = false

  selectedMainLogo: any = ""
  selectedAltLogo: any = ""
  $refs!: {
    "main-logo": HTMLImageElement
    "alt-logo": HTMLImageElement
  }

  async dimensionCheck(key: "logo_in" | "alt_logo_in", file: File) {
    const MIN_WIDTH = key == "logo_in" ? 500 : 160
    const MIN_HEIGHT = key == "logo_in" ? 100 : 160

    const vm = this

    var fr = new FileReader()

    fr.onload = function () {
      var img = new Image()

      img.onload = function () {
        vm.isWorking = false
        if (img.width < MIN_WIDTH || img.height < MIN_HEIGHT) {
          const modal: IModal = {
            title: "The selected image is too small",
            content: ModalShowMessage,
            props: {
              text: `The image should be at least <b>${MIN_WIDTH}x${MIN_HEIGHT}px</b>`,
            },
          }
          vm.showModal(modal)
        } else {
          // Image is okay
          const fileReader = new FileReader()
          if (key == "logo_in") {
            vm.selectedMainLogo = file
            fileReader.onload = () => {
              vm.$refs["main-logo"].src = fileReader.result as string
              vm.uploadImage("logo_in", file);
            }
          } else {
            fileReader.onload = () => {
              vm.selectedAltLogo = file
              vm.$refs["alt-logo"].src = fileReader.result as string
              vm.uploadImage("alt_logo_in", file);
            }
          }
          fileReader.readAsDataURL(file)
        }
      }

      img.onerror = function (ev) {
        console.error(ev)
      }

      img.src = fr.result as string
    }

    fr.readAsDataURL(file)
  }

  async uploadImage(key: "logo_in" | "alt_logo_in", file: File){
    try {
      this.isWorking = true
      const formData = new FormData()
      if (key == "logo_in") {
        formData.append("logo_in", file)
      }
      if (key == "alt_logo_in") {
        formData.append("alt_logo_in", file)
      }

      const { data: organization } = await updateOrganization(
        this.user.organization_id,
        formData
      )
      this.organization = organization

      this.$toast.success("Uploading logo...")

    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    } finally{
      this.isWorking = false
    }
  }

  async submit() {
    try {
      this.isWorking = true
      const formData = new FormData()
      formData.append("name", this.organization.name)
      formData.append("address", this.organization.address)
      formData.append("school_district", this.organization.school_district)
      formData.append("primary_color", this.organization.primary_color)
      formData.append("secondary_color", this.organization.secondary_color)
      formData.append("tertiary_color", this.organization.tertiary_color)
      formData.append("type", this.organization.type)
      if (this.selectedMainLogo) {
        formData.append("logo_in", this.selectedMainLogo)
      }
      if (this.selectedAltLogo) {
        formData.append("alt_logo_in", this.selectedAltLogo)
      }

      const { data: organization } = await updateOrganization(
        this.user.organization_id,
        formData
      )
      this.organization = organization

      this.$toast.success("Successfully updated organization logos")

      this.onSuccess()
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
    finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.main-logo {
  max-width: 250px;
  max-height: 100px;
}
.alt-logo {
  max-width: 80;
  max-height: 80px;
}
</style>