<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Analytics</h1>
      <p class="small-text">Manage and view your organizations analytics.</p>
    </div>
    <div class="section__header">
      <p>Overview</p>
    </div>
    <AdminOverview />
    <div class="section__header">
      <p>Crisis Resources</p>
    </div>
    <AdminCrisisResources />
    <!-- <div class="section__header">
      <p>Appointments</p>
    </div>
    <AdminAppointments /> -->
    <div class="section__header">
      <p>Resources</p>
    </div>
    <AdminResources />
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import { IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import AdminOverview from "~/components/analytics/AdminOverview.vue"
import AdminCrisisResources from "~/components/analytics/AdminCrisisResources.vue"
import AdminAppointments from "~/components/analytics/AdminAppointments.vue"
import AdminResources from "~/components/analytics/AdminResources.vue"

@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
  components: {
    TadButton,
    AdminOverview,
    AdminCrisisResources,
    AdminAppointments,
    AdminResources
  },
})
export default class AdminAnalyticsPage extends Vue {

  @Getter("loggedInUser") userProfile!: IUserProfile
  fullApiUrl = process.env.fullApiUrl

  user = this.$auth.user as unknown as IUserProfile


}
</script>

<style lang="scss" scoped>
.section__header {
  padding: 1rem 0rem 2rem 0rem;
  p {
    font-weight: 700;
    color: var(--dark-text);
  }
}
</style>
