<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Student Booking</h1>
      <p class="small-text">Book an appointment for a student.</p>
    </div>

    <div class="someoneelse__booking-container">
      <!-- start button container -->
      <div class="someoneelse__booking-button-container">
        <tad-button primary @click.prevent="startOver">
          <i class="las la-undo-alt"></i> Start Over
        </tad-button>
        <div class="someoneelse__booking-header">
          <h3 class="someoneelse__booking-title">Select a counselor</h3>
          <p class="someoneelse__booking-subtitle">
            <!-- <b>Due to compliance reasons.</b> -->
            Times available for: <b>{{ selectedDateFormated }}</b>
          </p>
        </div>
        <div class="blank__box"></div>
      </div>
      <!-- end button container -->
      <!-- start counselor cards -->
      <div>
        <alert v-if="errMsg" :msg="errMsg" type="error" :dissmissable="false" />
        <!-- Single date matches -->

        <template v-if="!isSearchingDateRange">
          <div class="someoneelse__booking-availability-container-matches">
            <loading-spinner v-if="isLoading"
              >Looking for matches...</loading-spinner
            >
            <div
              v-for="professional in professionalSingleDate"
              v-else
              :key="professional.email"
              class="couselor__list-item"
            >
              <div class="couselor__basic-details-container">
                <div class="couselor__basic-details-image-container">
                  <img :src="$userimg(professional.profile_image)" alt="" />
                </div>
                <div>
                  <p
                    v-if="professional.full_name"
                    class="couselor__basic-details-name"
                  >
                    {{ professional.full_name }}
                  </p>
                  <p v-else class="couselor__basic-details-name">
                    No Name Available
                  </p>
                  <p
                    v-if="professional.city"
                    class="couselor__basic-details-gender"
                  >
                    {{ professional.city }}, {{ professional.state }}
                  </p>
                  <p v-else class="couselor__basic-details-gender">
                    No City To Display
                  </p>
                </div>
              </div>

              <div class="couselor__basic-details-bio-container">
                <p class="couselor__basic-details-bio-title">About Me</p>
                <p v-if="professional.bio" class="couselor__basic-details-bio">
                  {{ professional.bio }}
                </p>
                <p v-else class="couselor__basic-details-bio">
                  No Bio To Display
                </p>
              </div>
              <tad-button primary>
                <nuxt-link
                  :to="`/admin/book/${professional.id}?date=${matchesParams.date}&userId=${matchesParams.user}`"
                  class="btn main btn-book-professional" style="color:white !important"
                >
                  Select This Counselor
                </nuxt-link>
              </tad-button>

              <!-- <nuxt-link
              :to="`/bookings/${professional.id}?date=${matchesParams.date}`"
            >
              Book
            </nuxt-link> -->
            </div>
          </div>
        </template>
        <!-- Date range matches -->
        <template v-else>
          <div class="someoneelse__booking-alert-container">
            <alert
              :msg="`No matches available for ${selectedDateFormated}`"
              type="info"
              :dissmissable="false"
            />
          </div>
          <loading-spinner v-if="isLoadingRangeMatches"
            >Getting matches for {{ dateRangeStart }} to
            {{ dateRangeEnd }}</loading-spinner
          >
          <alert
            v-else-if="professionalDateRange"
            :msg="`No matches available for ${$dateFormat(
              dateRangeStart
            )} - ${$dateFormat(dateRangeEnd)}`"
            type="info"
            :dissmissable="false"
          />
          <div v-else class="someoneelse__booking-availability-container">
            <p class="someoneelse__booking-availability-notice-text">
              Showing matches between {{ $dateFormat(dateRangeStart) }} and
              {{ $dateFormat(dateRangeEnd) }}
            </p>
            <div
              v-for="professional in professionalDateRange"
              :key="professional.email"
              class="couselor__list-item"
            >
              <div class="couselor__basic-details-container">
                <div class="couselor__basic-details-image-container">
                  <img :src="$userimg(professional.profile_image)" alt="" />
                </div>
                <div>
                  <p
                    v-if="professional.full_name"
                    class="couselor__basic-details-name"
                  >
                    {{ professional.full_name }}
                  </p>
                  <p v-else class="couselor__basic-details-name">
                    No Name Available
                  </p>
                  <p
                    v-if="professional.city"
                    class="couselor__basic-details-gender"
                  >
                    {{ professional.city }}, {{ professional.state }}
                  </p>
                  <p v-else class="couselor__basic-details-gender">
                    No City To Display
                  </p>
                </div>
              </div>

              <div class="couselor__basic-details-bio-container">
                <p class="couselor__basic-details-bio-title">About Me</p>
                <p v-if="professional.bio" class="couselor__basic-details-bio">
                  {{ professional.bio }}
                </p>
                <p v-else class="couselor__basic-details-bio">
                  No Bio To Display
                </p>
              </div>

              <tad-button primary>
                <nuxt-link
                  :to="`/admin/book/${professional.id}?date=${matchesParams.date}&userId=${matchesParams.user}`"
                  class="btn main btn-book-professional" style="color:white !important"
                >
                  Select This Counselor
                </nuxt-link>
              </tad-button>
            </div>
          </div>
        </template>
      </div>
      <!-- end counselor cards -->
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { IUserProfile } from "~/interfaces"

import { getProfessionals, getProfessionalsInDateRange } from "~/api/users"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class Matches extends Vue {
  @Getter("loggedInUser") userProfile!: IUserProfile
  @Getter("isAuthenticated") isLoggedIn

  isSearchingDateRange = false

  isLoading = true
  professionalSingleDate: IUserProfile[] = []
  professionalDateRange: IUserProfile[] = []
  matchesParams = {
    zipCode: this.$route.query.zipCode as string,
    gender: this.$route.query.gender as string,
    date: this.$route.query.date as string,
    user: this.$route.query.userId as string,
  }

  errMsg = ""
  isLoadingRangeMatches = false

  get selectedDateFormated() {
    return this.$dateFormat(this.matchesParams.date)
  }

  get dateRangeStart() {
    return dayjs(this.matchesParams.date).add(1, "day").format("YYYY-MM-DD")
  }

  get dateRangeEnd() {
    const start = this.dateRangeStart
    const end = dayjs(start).add(7, "day").format("YYYY-MM-DD")
    return end
  }

  mounted() {
    this.fetchMatchesForSingleDate()
  }

  async fetchMatchesForSingleDate() {
    try {
      this.isLoading = true
      this.errMsg = ""
      const { data: professionals } = await getProfessionals({
        zip_code: this.matchesParams.zipCode,
        available_date: this.matchesParams.date,
        gender: this.matchesParams.gender,
      })
      this.professionalSingleDate = professionals

      if (this.professionalSingleDate.length <= 0) this.fetchMatchesForRange()
    } catch (error) {
      this.errMsg = `Unable to fetch matches`
    } finally {
      this.isLoading = false
    }
  }

  async fetchMatchesForRange() {
    try {
      this.isSearchingDateRange = true
      this.isLoadingRangeMatches = true
      const { data: professionals } = await getProfessionalsInDateRange({
        start_date: this.dateRangeStart,
        end_date: this.dateRangeEnd,
        zip_code: this.matchesParams.zipCode,
        gender: this.matchesParams.gender,
      })
      this.professionalDateRange = professionals
    } catch (error) {
    } finally {
      this.isLoadingRangeMatches = false
    }
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Dashboard - Change Password")
  }

  startOver() {
    this.$router.push({
      path: "/admin/appointments",
    })
  }
}
</script>

<style lang="scss" scoped>
.someoneelse__booking-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  min-height: 600px;
}

.someoneelse__booking-button-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #f0f0f0;
}

.someoneelse__booking-button {
  font-size: 0.9rem;
  color: var(--main-color);
}

.someoneelse__booking-title-header {
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
}

.someoneelse__booking-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.someoneelse__booking-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark-text);
}

.someoneelse__booking-subtitle {
  font-size: 0.7rem;
  color: var(--light-text);
}

.user-search-form {
  width: 100%;
  max-width: 500px;
  position: relative;

  .search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(122, 122, 122);
  }
  .form-input-wrapper {
    gap: 0.25rem;
    input {
      padding-left: 2rem;
    }
  }
}

.no-result {
  font-size: 1rem;
  color: var(--light-text);
}

.someoneelse__booking-search-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
}

.patient {
  padding: 2rem;
  background-color: #f4f5f8;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(163, 163, 163);
  cursor: pointer;
  align-items: center;
}

.patient-name {
  font-size: 0.8rem;
  color: var(--dark-text);
}

.patient-label {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--dark-text);
}

.patient-continue {
  font-weight: bold;
  color: var(--dark-text) !important;
  font-size: 0.7rem;
}

.patient-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}

.someoneelse__booking-button-disabled {
  color: var(--main-light);
  cursor: not-allowed;
}

.couselor__list-container {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.couselor__list {
  padding: 2rem;
}

.couselor__list-item {
  padding: 2rem;
  background-color: #f4f5f8;
  display: flex;
  margin-bottom: 2rem;
  cursor: pointer;
  flex-direction: column;
  border-radius: 5px;
}

.couselor__basic-details-container {
  display: flex;
}

.couselor__basic-details-image-container {
  overflow: hidden;
  height: 80px !important;
  width: 80px !important;
  margin-right: 1rem;

  img {
    height: 100%;
    width: auto;
  }
}

.couselor__basic-details-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--dark-text);
}

.couselor__basic-details-gender {
  font-size: 0.8rem;
  color: var(--dark-text);
  font-weight: normal;
}

.couselor__basic-details-gender span {
  font-weight: bold !important;
  font-size: 0.8rem;
  color: var(--dark-text);
}

.couselor__basic-details-bio-container {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.couselor__basic-details-bio-title {
  padding-bottom: 0.5rem;
  font-weight: bold !important;
  font-size: 0.8rem;
  color: var(--dark-text);
}

.couselor__basic-details-bio {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  color: var(--dark-text);
}

.someoneelse__booking-calendar {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
}

.container-calendar {
  background-color: #f5f5fd;
}

.someoneelse__booking-alert-container {
  padding: 2rem;
}

.blank__box {
  width: 98px;
}

.someoneelse__booking-availability-container {
  padding: 0rem 2rem;
  padding-bottom: 1rem;
}

.someoneelse__booking-availability-notice-text {
  font-size: 0.8rem;
  color: var(--light-text);
  margin-bottom: 2rem;
}

.someoneelse__booking-availability-container-matches {
  padding: 2rem;
}
</style>
