<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Document Management</h1>
      <p class="small-text">Manage and view your documents.</p>
    </div>

    <DocumentUploadForm />
    <AdminDocumentTable />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import DocumentUploadForm from "~/components/documents/DocumentUploadForm.vue"
import AdminDocumentTable from "~/components/documents/AdminDocumentTable.vue"
@Component({
  components: { AdminDocumentTable, DocumentUploadForm },
  middleware: ["authenticated"],
})
export default class documents extends Vue {}
</script>

<style lang="scss" scoped></style>
