<template>
  <div>
    <EditOrganization v-can="'organization.edit.access'" />
    <CrisisResources v-can="'interaction.resource.manage'" />
    <AdminTags v-can="'tag.manage'" :org-id="loggedInUser.organization_id.id" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter} from "vuex-class"
import { IOrganization, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import { getOrganization, getOrgFeatures } from "~/api/organization"
import AdminTags from "~/components/organization/AdminTags.vue"
import ColorInput from "~/components/ColorInput.vue"
import CrisisResources from "~/components/organization/CrisisResources.vue"
import EditOrganization from "~/components/organization/EditOrganization.vue"

@Component({
  components: {
    ColorInput,
    AdminTags,
    TadButton,
    TadInput,
    TadLink,
    TadText,
    CrisisResources,
    EditOrganization,
  },
  middleware: ["authenticated"],
})
export default class OrganizationProfile extends Vue {
  @Getter("loggedInUser") readonly loggedInUser!: any
}
</script>
