<template>
  <div class="bg-white p-8 rounded-lg shadow-md mb-8">
    <div class="flex justify-center py-4">

        <input
          type="text"
          class="search-input w-full pl-2 py-2 rounded border"
          placeholder="Search for a document.."
          v-model="searchQuery"
          @change="debounceFetch"
        />
    </div>
    <div class="flex justify-between px-4 border-b-2 border-gray-200 py-2">
      <div class="w-1/3 font-bold text-gray-700 text-sm">Document Title</div>
      <div class="w-1/3 font-bold text-gray-700 text-sm">Description</div>
      <div class="w-1/3 font-bold text-gray-700 text-sm flex justify-end">Link</div>
    </div>
    <div v-if="documents.length" class="py-2" >
      <div
        v-for="document in filteredDocuments"
        :key="document.id"
        class="flex justify-between items-center align-items-center border-b border-gray-200 px-4 hover:bg-gray-100 pt-2 pb-2"
      >
        <div class="w-1/3 text-sm font-semibold text-gray-800">{{ document.title }}</div>
        <div class="w-1/3 text-sm truncate text-gray-600">{{ document.description }}</div>
        <div class="w-1/3 flex justify-end">
          <tad-button @click="openModalDetailsDocument(document)">
            Details
          </tad-button>
        </div>
      </div>
    </div>
    <div v-else class="min-h-300 flex justify-center items-center text-gray-400 pt-8 pb-8">
      <p>No documents</p>
    </div>
    <div class="mt-4">
          <Pagination
            :currentPage="currentPage"
            :totalPages="totalPages"
            :totalRecords="totalRecords"
            @nextPage="nextPage"
            @prevPage="prevPage"
          />
        </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation } from "nuxt-property-decorator"
import { getDocuments } from "~/api/resources"
import ModalAdminDetailsDocument from "~/components/modals/ModalAdminDetailsDocument.vue"
import { IModal } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import Pagination from "~/components/Pagination.vue"

@Component({
  components: { TadButton, Pagination },
  middleware: ["authenticated"],
})
export default class AdminDocumentTable extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  //   documents: IVideoResource[] = []

  documents: any[] = []
  searchQuery = ""
  searchDebounceHandler: any = -999

  filteredDocuments: any[] = []
  // mounted() {
  //   this.fetchVideos()
  // }

  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0

  options = {
    offset: 0,
    limit: 5,
  }

  fetch() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("document.manage")) {
      this.fetchDocuments()

      // Refresh list every 7 seconds
      setInterval(() => {
        this.fetchDocuments();
      }, 2000)
    }

  }

  debounceFetch() {
    clearTimeout(this.searchDebounceHandler)

    this.searchDebounceHandler = setTimeout(this.fetchDocuments, 200)
  }

  async fetchDocuments() {
    try {
      const { data: docs } = await getDocuments(
        this.searchQuery,
        this.options,
      )
      this.documents = docs.items
      this.filteredDocuments = this.documents
    this.totalRecords = docs.total
    this.totalPages = Math.ceil(docs.total / this.options.limit)
    } catch (error) {}
  }

  async nextPage() {
    if (this.currentPage < this.totalPages) {
      this.currentPage++
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.fetchDocuments()
    }
  }

  async prevPage() {
    if (this.currentPage > 1) {
      this.currentPage--
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.fetchDocuments()
    }
  }

  openModalDetailsDocument(document) {

    const modal: IModal = {
      title: "Document details",
      content: ModalAdminDetailsDocument,
      props: {
        document,
      },
    }
    this.showModal(modal)
  }

  async searchForDocument(e) {
    this.currentPage = 1
    this.options.offset = 0
    e.preventDefault()
    // if (this.filteredDocuments = this.documents.filter(document => document.title.indexOf(e.target.value) !== -1)){
    //   this.filteredDocuments = this.documents.filter(document => document.title.toLowerCase().indexOf(e.target.value.toLowerCase()) !== -1)
    // } else {
    //   this.filteredDocuments = this.documents
    // }
    try {
      const { data: documents } = await getDocuments()
      this.documents = documents.items
      this.filteredDocuments = this.documents
      this.totalRecords = documents.total
      this.totalPages = Math.ceil(documents.total / this.options.limit)
    } catch (error) {}
  }
}
</script>

<style lang="scss" scoped>
