<template>
  <div class="grid grid-cols-1 gap-3 mb-8">
    <div class="p-8 hover:shadow-lg bg-white rounded-lg flex flex-col">
      <span class="text-gray-800 pb-8 font-bold">Create a new document</span>
      <form class="flex flex-col" @submit.prevent="submitForm">
        <!-- Document Title -->
        <div class="flex flex-col pb-4">
          <label for="document-title" class="pb-2 text-gray-800">Document Title</label>
          <input id="document-title" v-model="title" name="title" required type="text"
            class="border-2 border-gray-300 rounded p-2 bg-white" />
        </div>

        <!-- Document Link -->
        <div class="flex flex-col pb-4">
          <label for="document-link" class="pb-2 text-gray-800">Enter Document Link (URL)</label>
          <input id="document-link" v-model="link" name="link" type="url"
            class="border-2 border-gray-300 rounded p-2 bg-white" />
        </div>

        <!-- Upload Document -->
        <div class="flex flex-col pb-4">
          <label for="video-title" class="pb-2 text-gray-800">Or, Upload your document</label>
          <div class="flex items-center space-x-4 text-sm">
            <btn-file-upload :upload="docSelected" :loading="isWorking">Upload</btn-file-upload>
            <p v-if="!selectedFile" class="flex items-center space-x-2">
              <i class="las la-exclamation-circle la-lg"></i>No file selected
            </p>
            <p v-else class="border border-gray-400 rounded p-1 max-w-md">
              {{ $ellipsis(selectedFile.name, 75) }}
            </p>
          </div>
        </div>

        <!-- Description -->
        <div class="flex flex-col pb-4">
          <label for="document-description" class="pb-2 text-gray-800">Add a description</label>
          <input id="document-description" v-model="description" name="description" required type="text"
            class="border-2 border-gray-300 rounded p-2 bg-white" />
        </div>

        <!-- Tags -->
        <div class="flex flex-col pb-4">
          <label class="pb-2 text-gray-800">Select Tags</label>
          <ul v-if="tags.length > 0" class="flex space-x-2 mb-2">
            <li v-for="(tag, index) in tags" :key="index"
              class="flex space-x-2 b-2 border-gray-900 rounded p-2 bg-gray-300">
              <span>{{ tag }}</span>
              <button @click.prevent="removeTag(index)">
                <i class="las la-times-circle"></i>
              </button>
            </li>
          </ul>
          <div class="flex space-x-2 items-center">
            <select v-model="selectedTag" class="border-2 border-gray-300 rounded p-2 text-sm bg-white">
              <option v-for="(tag, index) in tagNames" :key="index" :value="tag">
                {{ tag }}
              </option>
            </select>
            <tad-button primary @click.prevent="addTag">Add Tag</tad-button>
          </div>
        </div>

        <!-- Submit -->
        <form-button :submitting="isWorking" primary class="mt-auto">Submit Document</form-button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { createLink } from "~/api/resources"
import TadButton from "~/components/styled-components/TadButton"
import BtnFileUpload from "~/components/BtnFileUpload.vue"
import FormButton from "~/components/FormButton.vue"
import { getTagNames } from "~/api/articles"

@Component({
  components: { FormButton, BtnFileUpload, TadButton },
})
export default class DocumentUploadForm extends Vue {
  link: string = ""
  selectedFile: any = "" as unknown as File
  isWorking = false
  selected = false
  tagNames: string[] = []
  selectedTag = ""
  tags: any = []
  title: string = ""
  description: string = ""

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("document.manage")) {
      this.fetchTagNames()
    }
  }

  addTag() {
    if (this.selectedTag && !this.tags.includes(this.selectedTag.trim())) {
      this.tags.push(this.selectedTag.trim())
      this.selectedTag = ""
    }
  }

  removeTag(index: number) {
    this.tags.splice(index, 1)
  }

  docSelected(file: File) {
    this.selectedFile = file
  }

  async submitForm() {
    if (!this.title || !this.description) {
      this.$toast.error("Title and description are required.")
      return
    }

    if (this.link && this.selectedFile) {
      this.$toast.error(
        "Please provide either a document link or upload a file, not both."
      )
      return
    }

    if (!this.link && !this.selectedFile) {
      this.$toast.error("Please provide a document link or upload a document.")
      return
    }

    const formData = this.createFormData()

    try {
      this.isWorking = true
      const { data } = await createLink(formData)
      this.$emit("documentUploaded")
      this.$toast.success(
        this.link
          ? "Success! Your link has been created."
          : "Success! Your document has been uploaded."
      )
      this.clearFormData()
    } catch (error) {
      this.handleSubmissionError(error)
    } finally {
      this.isWorking = false
    }
  }

  createFormData() {
    const formData = new FormData()
    formData.append("title", this.title)
    formData.append("description", this.description)
    if (this.link) {
      formData.append("link", this.link)
    } else if (this.selectedFile) {
      formData.append("upload_document_in", this.selectedFile)
    }
    if (this.tags.length) {
      formData.append("tags", this.tags.join(","))
    }
    return formData
  }

  clearFormData() {
    this.title = ""
    this.description = ""
    this.link = ""
    this.selectedFile = null
    this.tags = []
  }

  handleSubmissionError(error) {
    console.error("Error during submission:", error)
    this.$toast.error("Something went wrong, please try again!")
  }

  async fetchTagNames() {
    try {
      const { data: tagNames } = await getTagNames()
      this.tagNames = tagNames
    } catch (error) {
      this.$toast.error(`Error loading tags`)
    }
  }
}
</script>
