<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Book for Someone Else</h1>
      <p class="small-text">
        You can book an appointment for someone else by completing the steps below. </p>
    </div>

    <template v-if="currentStep == 1">
      <div class="bg-white rounded-lg shadow-lg" style="height: 500px">
        <div class="flex justify-between border-b border-gray-200 py-4 px-8">
          <div>
            <tad-button primary @click="$router.go(-1)"
              ><i class="las la-arrow-left mr-1"></i>Exit</tad-button
            >
          </div>

          <div class="flex flex-col items-center justify-center">
            <h3 class="text-lg font-semibold text-gray-900">
              Search for a user
            </h3>
            <p class="text-sm py-2 text-slate-600">
              Due to compliance reasons.
              <span class=""> Make sure your query is exact. </span>
            </p>
          </div>
          <div>
            <div v-if="patient.length > 0">
              <tad-button primary @click.prevent="goToStep(2)">
                Continue <i class="las la-arrow-right"></i>
              </tad-button>
            </div>
            <tad-button v-else primary disabled>
              Continue <i class="las la-arrow-right"></i>
            </tad-button>
          </div>
        </div>
        <div class="flex justify-center py-8">
          <form class="relative w-full max-w-md">
            <div
              class="
                flex
                items-center
                pl-4
                bg-gray-100
                border border-gray-200
                rounded
              "
            >
              <i class="las la-search mr-1 text-gray-500"></i>
              <input
                v-model="searchQuery"
                type="text"
                class="
                  w-full
                  bg-transparent
                  outline-none
                  p-2
                  text-sm text-gray-700
                "
                placeholder="Search users by name or email.."
                @input="searchForPatient"
              />
            </div>
          </form>
        </div>
        <div class="flex justify-center py-8">
          <div
            v-if="patient.length > 0"
            class="
              bg-gray-200
              px-8
              py-4
              rounded-lg
              shadow-inner
              flex flex-col
              items-center
            "
          >
            <span class="font-bold text-sm text-indigo-500">User Found</span>
            <div class="my-4">
              <p class="text-sm text-center text-gray-800">Name: {{ patient }}</p>
              
              <p class="text-sm text-gray-800"
                >Email: {{ patientEmail }}</p
              >
            </div>
            <div class="font-bold text-sm text-indigo-500">
              You may now select "Continue"
            </div>
          </div>
          <div v-if="isLoading">
            <loading-spinner v-if="isLoading">
              Searching for user...
            </loading-spinner>
          </div>
        </div>
      </div>
    </template>

    <template v-if="currentStep == 2">
      <div class="bg-white rounded-lg shadow-lg min-h-150">
        <div class="flex justify-between border-b border-gray-200 py-4 px-8">
          <tad-button primary @click.prevent="startOver">
            <i class="las la-undo-alt"></i> Start Over
          </tad-button>
          <div class="flex flex-col items-center justify-center">
            <h3 class="text-lg font-bold text-gray-800">Select a day below</h3>
            <p class="text-xs text-gray-500">
              Select a day on the calendar to continue.
            </p>
          </div>
          <div class="w-24"></div>
        </div>
        <div class="flex justify-center py-8">
          <div class="p-8">
            <vc-date-picker
              v-model="date"
              is-expanded
              :min-date="new Date()"
              :attributes="attrs"
              color="blue"
              :disabled-dates="{ weekdays: [1, 7] }"
              class="mb-6"
            />
            <tad-button primary class="w-full" @click.prevent="matches">
              See Matches
            </tad-button>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { IUserProfile } from "@/interfaces"
import { searchPatients } from "~/api/users"
import { getPeerAvailabilities } from "~/api/availabilities"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class BookSomeoneElse extends Vue {
  userList: IUserProfile[] = []
  // grab email query from url
  email: any = this.$route.query.email
  searchQuery = ""
  isSearching = false
  currentStep = 1
  // patient info
  patient = ""
  patientEmail = ""
  patientId = ""
  // counselor info
  counselorList = {}
  selectedCounselor = ""
  isLoading = false

  date = new Date()

  attrs = [
    {
      key: "today",
      highlight: false,
      dates: new Date(),
    },
  ]

  options = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  }

  async mounted() {
    this.searchQuery = this.email
    if (this.searchQuery )
      this.searchForPatient()
  }
  public async matches() {
    // Prevent navigation is date is invalid
    if (!this.date) {
      this.$toast.error("Please select a date")
      return
    }

    return await this.$router.push({
      path: "/bookings/someone/else/counselors",
      query: {
        date: this.toDate(this.date),
        userId: this.patientId,
        // zipCode: this.zipcode,
        // gender: this.picked,
      },
    })
  }

  toDate(date: Date) {
    return dayjs(date).format("YYYY-MM-DD")
  }

  async searchForPatient() {
    try {
      this.isLoading = true

      const { data: user } = await searchPatients(this.searchQuery)

      this.isLoading = false

      if (user.length < 1) {
        this.patient = ""
      } else {
        this.patient = user[0].full_name || "Name is not available"
        this.patientEmail = user[0].email
        this.patientId = user[0].id
      }
    } catch {
    } finally {
      this.isLoading = false
    }
  }

  goToStep(step) {
    this.currentStep = step
  }

  startOver() {
    this.patient = ""
    this.patientEmail = ""
    this.searchQuery = ""
    this.currentStep = 1
  }
}
</script>

<style lang="scss" scoped>
.patient-continue {
  font-weight: bold;
  color: var(--main-color) !important;
  font-size: 0.7rem;
}

.patient-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.someoneelse__booking-calendar {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.container-calendar {
  background-color: #f5f5fd;
}
.blank__box {
  width: 98px;
}

.calendar__button {
  width: 100%;
}
</style>
