<template>
  <div class="date-response">
    <h2 class="subtitle-text mt-0">
      {{ question.content }}
    </h2>
    <div class="form-input-wrapper">
      <tad-input
        type="date"
        v-model="responseText"
        @input="debounceEmitResponse"
        :disabled="disabled"
        :class="{'cursor-not-allowed': disabled}"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { IFormQuestion, QuestionResponse } from "~/interfaces"
import TadInput from "~/components/styled-components/TadInput"

@Component({
  components: { TadInput },
})
export default class DateResponder extends Vue {
  @Prop(Object) readonly question!: IFormQuestion
  @Prop(Boolean) responded!: boolean
  responseText = ""
  sendResponseHandle: any = -999
  @Prop({}) status
  disabled = false

  mounted() {
    if (this.status === "complete") {
      this.disabled = true
    }
  }

  debounceEmitResponse() {
    clearTimeout(this.sendResponseHandle)
    this.sendResponseHandle = setTimeout(this.emitResponse, 500)
  }

  emitResponse() {
    const response = {
      id: this.question.id,
      answers: [this.responseText],
    }
    this.$emit("update-response", response)
  }
}
</script>

<style lang="scss" scoped>
.form-input-wrapper {
  max-width: 500px;
}
</style>