<template>
  <div class="multiple-choice-response">
    <h2 class="subtitle-text mt-0">
      {{ question.content }}
    </h2>

    <ul class="answers-container">
      <li
        v-for="answer in question.possible_responses"
        :key="answer"
        class="answer"
        :class="{ selected: responseText === answer, responded }"
        @click="debounceEmitResponse(answer)"
        
      >
        <i
          class="las mr-2 la-lg"
          :class="responseText === answer ? 'la-check-circle' : 'la-circle'"
        ></i
        >{{ answer }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { IFormQuestion, QuestionResponse } from "~/interfaces"
import TadInput from "~/components/styled-components/TadInput"

@Component({
  components: { TadInput },
})
export default class MutlipleChoiceResponder extends Vue {
  @Prop(Object) readonly question!: IFormQuestion
  @Prop(Boolean) responded!: boolean
  @Prop({}) status
  disabled = false
  responseText = ""
  sendResponseHandle: any = -999

  mounted() {
    if (this.status === "complete") {
      this.disabled = true
    }
  }

  debounceEmitResponse(answer: string) {
    if (this.responded) return

    this.responseText = answer
    clearTimeout(this.sendResponseHandle)
    this.sendResponseHandle = setTimeout(this.emitResponse, 500)
  }

  emitResponse() {
    const response = {
      id: this.question.id,
      answers: [this.responseText],
    }
    this.$emit("update-response", response)
  }
}
</script>

<style lang="scss" scoped>
.form-input-wrapper {
  max-width: 500px;
}
.answers-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .answer {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    &:hover:not(.responded) {
      background-color: rgba(0, 0, 0, 0.027);
    }
    &.responded {
      cursor: not-allowed;
    }

    &.selected {
      font-weight: bold;
      background-color: rgba(0, 119, 255, 0.11);
      border-color: rgba(0, 119, 255, 0.356);
    }
  }
}
</style>
