<template>
  <div class="numerical-response p-4">
    <h2 class="text-xl font-semibold mt-0 mb-4">
      {{ question.content }}
    </h2>

    <div class="range-container mb-4">
      <label
        for="rangeInput"
        class="block text-sm font-medium text-gray-700 mb-2"
      >
        Select a value between {{ rangeStart }} and {{ rangeEnd }}.
      </label>
      <input
        id="rangeInput"
        @input="debounceEmitResponse"
        type="range"
        :min="rangeStart"
        :max="rangeEnd"
        step="1"
        v-model="value"
        class="range-slider"
        :disabled="disabled"
        :class="{ 'cursor-not-allowed': disabled }"
      />

      <input
        type="number"
        v-model="value"
        :disabled="disabled"
        @input="debounceEmitResponse"
        :class="{ 'cursor-not-allowed': disabled }"
        class="
          mt-2
          block
          w-full
          border border-gray-400
          p-3
          rounded-md
          shadow-sm
          focus:border-indigo-300
          focus:ring
          focus:ring-indigo-200
          focus:ring-opacity-50
        "
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { IFormQuestion, QuestionResponse } from "~/interfaces"
import TadInput from "~/components/styled-components/TadInput"

@Component({
  components: { TadInput },
})
export default class NumericalResponder extends Vue {
  @Prop(Object) readonly question!: IFormQuestion
  @Prop({}) status
  sendResponseHandle: any = -999
  value = this.question.possible_responses[0]
  disabled = false

  rangeStart = this.question.possible_responses[0] // Default range start
  rangeEnd =
    this.question.possible_responses[
      this.question.possible_responses.length - 1
    ] // Default range end

  mounted() {
    if (this.status === "complete") {
      this.disabled = true
    }
  }
  debounceEmitResponse() {
    if (
      parseInt(this.value) > parseInt(this.rangeEnd) ||
      parseInt(this.value) < parseInt(this.rangeStart)
    ) {
      this.$toast.error("Please select a value between the range")
      return
    }

    clearTimeout(this.sendResponseHandle)
    this.sendResponseHandle = setTimeout(this.emitResponse, 500)
  }

  emitResponse() {
    const response = {
      id: this.question.id,
      answers: [this.value],
    }
    this.$emit("update-response", response)
  }
}
</script>

<style lang="scss" scoped>
.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border: 1px solid #ddd;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;

  /* Thumb */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4b5563; /* Tailwind slate-700 */
    cursor: pointer;
    border-radius: 50%;
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4b5563; /* Tailwind slate-700 */
    cursor: pointer;
    border-radius: 50%;
  }
}
</style>
