<template>
  <div class="time-response">
    <h2 class="subtitle-text mt-0">
      {{ question.content }}
    </h2>

    <div class="form-input-wrapper">
      <tad-input
        type="time"
        v-model="responseText"
        @input="debounceEmitResponse"
        :disabled="disabled"
        :class="{ 'cursor-not-allowed': disabled }"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { IFormQuestion, QuestionResponse } from "~/interfaces"
import TadInput from "~/components/styled-components/TadInput"
import dayjs from "dayjs"

@Component({
  components: { TadInput },
})
export default class TimeResponder extends Vue {
  @Prop(Object) readonly question!: IFormQuestion
  @Prop(Boolean) responded!: boolean
  responseText = ""
  sendResponseHandle: any = -999
  @Prop({}) status
  disabled = false

  mounted() {
    if (this.status === "complete") {
      this.disabled = true
    }
  }

  debounceEmitResponse() {
    clearTimeout(this.sendResponseHandle)
    this.sendResponseHandle = setTimeout(this.emitResponse, 500)
  }

  emitResponse() {
    const time = this.responseText
    const currentDate = dayjs().format("YYYY-MM-DD")
    const dateTime = `${currentDate}T${time}`

    const formattedTime = dayjs(dateTime).format("hh:mm A")
    if (!dayjs(dateTime).isValid()) {
      console.error("Invalid date time:", dateTime)
      return
    }

    const response = {
      id: this.question.id,
      answers: [formattedTime],
    }
    this.$emit("update-response", response)
  }
}
</script>

<style lang="scss" scoped>
.form-input-wrapper {
  max-width: 500px;
}
</style>
