<template>
  <div>
    <div>
      <ul class="resource__breadcrumb">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>

    <div class="container">
      <div v-if="results.length">
        <h1 class="title-text">{{ count }} Results for "{{ slug }}"</h1>
        <p class="small-text">
          Showing results for <b>{{ `${slug}` }}</b>
        </p>
      </div>
      <div v-else>
        <h1 class="title-text">No Results</h1>
      </div>
    </div>

    <div class="mt-0">
      <form class="user-search-form" @submit.prevent="submitSearch">
        <div class="form-input-wrapper">
          <input
            v-model="search"
            type="text"
            class="search-input"
            placeholder="Search by tag or name..."
            @enter.prevent="submitSearch"
          />
        </div>
        <div class="form-input-wrapper">
          <select id="" v-model="type" name="" @change.prevent="submitSearch">
            <option :value="null">all types</option>
            <option value="video">videos</option>
            <option value="article">articles</option>
            <option value="audio">podcasts</option>
            <option value="document">documents</option>
            <option value="external_resource">external resources</option>
          </select>
        </div>
      </form>
    </div>

    <div class="results__container">
      <div v-if="results">
        <div v-for="result in results" :key="result.id" class="result">
          <div class="result__div" @click="goToLink(result.type, result.id)">
            <img
              v-if="result.thumbnail_url && result.type === 'article'"
              :src="`${fullApiUrl}/articles/thumbnail/${result.thumbnail_url}`"
              :alt="result.thumbnail_url"
              class="thumbnail"
            />
            <img
              v-else
              :src="`${result.thumbnail_url}`"
              :alt="result.thumbnail_url"
              class="thumbnail"
            />
            <div class="header">
              <div>
                <span v-if="result.type === 'external_resource'" class="type"
                  >External Resource</span
                >
                <span v-else class="type">{{ result.type }}</span>
                <span class="title">{{ result.title }}</span>
              </div>
              <div>
                <span class="description">{{ result.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <loading-spinner v-if="isLoading">Searching...</loading-spinner>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Getter } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { searchResults, getSingleExternalResource, getDocument } from "~/api/resources"
import { getArticle } from "~/api/articles"
import { addSearchTerm } from "~/api/analytics"

@Component({
  components: { TadButton },
})
export default class SearchPage extends Vue {
  slug = this.$route.query.search
  count = 0
  search = ""
  results: any = []
  externalResourceUrl: any = ""
  articleSlug = ""
  approved = true
  type = null
  me = false
  isLoading = false
  @Getter("loggedInUser") userProfile

  fullApiUrl = process.env.fullApiUrl

  mounted() {
    this.fetchResults(this.slug)
  }

  async submitSearch() {
    this.fetchResults(this.search)
    await this.addSearch()
  }

  async fetchResults(term) {
    try {
      this.isLoading = true
      if (term.length === 0) {
        const search_string = "All Resources"
        const skip: any = 0
        const limit: any = 100
        const { data } = await searchResults(
          skip,
          limit,
          search_string,
          this.type,
          this.approved,
          this.me
        )
        this.count = data.count
        this.results = data.resources
        this.slug = "All Resources"
      }
      const search_string = term
      const skip: any = 0
      const limit: any = 100
      const { data } = await searchResults(
        skip,
        limit,
        search_string,
        this.type,
        this.approved,
        this.me
      )
      this.count = data.count
      this.results = data.resources
      this.slug = term
      this.isLoading = false
    } catch {}
  }

  async addSearch() {
    const resource_name = "any"
    const user_id = this.userProfile.id
    const organization_id = this.userProfile.organization_id

    const name = this.search
    await addSearchTerm(user_id, organization_id, resource_name, name)
  }

  async fetchExternalResourceUrl(id) {
    try {
      const { data } = await getSingleExternalResource(id)
      this.externalResourceUrl = data.link
      return data.link
    } catch {}
  }

  async fetchArticleSlug(id) {
    const { data } = await getArticle(id)
    this.articleSlug = data.slug
    return data.slug
  }

  async goToLink(type, id) {
    if (type === "video") {
      this.$router.push({ path: `/resources/videos/${id}` })
    }
    if (type === "document") {
      const doc = await getDocument(id)
      window.open(doc.data.link, "_blank")
    }
    if (type === "audio") {
      this.$router.push({ path: `/resources/podcasts/${id}` })
    }
    if (type === "external_resource") {
      const url: any = await this.fetchExternalResourceUrl(id)

      window.open(url, "_blank")
    }

    if (type === "article") {
      const slug = await this.fetchArticleSlug(id)
      this.$router.push({ path: `/resources/articles/${id}` })
    }
  }
}
</script>

<style lang="scss" scoped>
.result__div {
  display: flex;

  img {
    height: 100px;
    width: auto;
  }
}
.container {
  padding: 2rem 0rem;
}
.search__header {
  padding: 2rem 0rem;
  h3 {
  }
}

input {
  border-radius: 5px !important;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.results__container {
  background-color: white;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  margin-top: 2rem;
  .result {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(226, 226, 226);
    cursor: pointer;

    .header {
      margin: 0.5rem 0rem;
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      img {
        height: 100px;
        width: 100px;
        border-radius: 15px;
      }
    }
    .title {
      font-weight: 700;
      color: var(--dark-text);
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .type {
      font-weight: 700;
      color: white;
      padding: 0.3rem;
      font-size: 0.9rem;
      border-radius: 20px;
      background-color: var(--dark-text);
      text-transform: capitalize;
    }

    .description {
      font-size: 0.8rem;
      margin-top: 0.5rem;
      display: block;
    }
  }
}
</style>
