<template>
  <div class="btn-org-logo-upload">
    <tad-button @click.prevent="clicked" class="btn-upload">
      <i class="las la-cloud-upload-alt la-lg mr-2"></i>
      <span><slot /></span>
    </tad-button>
    <input
      id="image"
      ref="inputFile"
      type="file"
      accept=".png,.jpg,.jpeg"
      hidden
      @change="onFileSelected"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class BtnOrgLogoUpload extends Vue {
  @Prop(Function) readonly upload!: (file: any) => void
  selectedFile: any = ""
  $refs!: {
    inputFile: HTMLInputElement
  }

  clicked() {
    this.$refs.inputFile.click()
  }

  onFileSelected(event: any) {
    this.selectedFile = event.target!.files[0]
    this.uploadFile()
  }

  async uploadFile() {
    if (!this.selectedFile) {
      this.$toast.error("Please select a file to upload")
      return
    }

    this.upload(this.selectedFile)
  }
}
</script>

<style lang="scss" scoped>
.btn-upload {
  width: 150px;
}
</style>
