<template>
  <div class="btn-upload-profile">
    <tad-button @click="clicked">
      <i class="las la-cloud-upload-alt la-lg mr-2"></i>
      <span>Upload Profile Image</span>
    </tad-button>
    <input
      id="image"
      ref="inputFile"
      type="file"
      hidden
      @change="onFileSelected"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator"
import { uploadUserImage } from "~/api/users"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class BtnProfileUpload extends Vue {
  @Prop({ default: () => {} }) readonly onUpload!: () => void
  selectedFile: any = ""
  $refs!: {
    inputFile: HTMLInputElement
  }

  clicked() {
    this.$refs.inputFile.click()
  }

  onFileSelected(event: any) {

    this.selectedFile = event.target!.files[0]
    this.upload()
  }

  async upload() {
    if (!this.selectedFile) {
      this.$toast.error("Please select a file to upload")
      return
    }

    const formData = new FormData()
    formData.append("file", this.selectedFile)
    try {
      await uploadUserImage(formData)
      this.$toast.success("Profile image uploaded successfully.")
      // this.fetchUserDetails()
      this.onUpload()
    } catch (error) {
      this.$toast.error("Error uploading image")
    }
  }
}
</script>

<style lang="scss" scoped></style>
