<template>
  <div>
    <div v-can="'audio.read.likes'" class="liked__resources-container">
      <div class="liked__resource-title">
        <span>Videos Found Helpful</span>
      </div>
      <div v-if="likedVideos && likedVideos.length">
        <div
          v-for="video in likedVideos"
          :key="video.id"
          class="liked__resource"
        >
          <div class="resource__title">{{ video.title }}</div>
          <div>
            <nuxt-link :to="`/resources/videos/${video.id}`">
              <tad-button>View</tad-button>
            </nuxt-link>
          </div>
        </div>
      </div>
      <div v-else class="liked__resource">
        <span class="resource__title"
          >You have not found any videos helpful.</span
        >
      </div>
    </div>

    <div v-can="'audio.read.likes'" class="liked__resources-container">
      <div class="liked__resource-title">
        <span> Podcast Found Helpful</span>
      </div>
      <div v-if="likedPodcasts && likedPodcasts.length">
        <div
          v-for="podcast in likedPodcasts"
          :key="podcast.id"
          class="liked__resource"
        >
          <div class="resource__title">{{ podcast.title }}</div>
          <div>
            <nuxt-link :to="`/resources/podcasts/${podcast.id}`">
              <tad-button>Listen</tad-button>
            </nuxt-link>
          </div>
        </div>
      </div>
      <div v-else class="liked__resource">
        <span class="resource__title"
          >You have not found any podcasts helpful.</span
        >
      </div>
    </div>

    <div v-can="'article.read.likes'" class="liked__resources-container">
      <div class="liked__resource-title">
        <span> Articles Found Helpful</span>
      </div>
      <div v-if="likedArticles && likedArticles.length">
        <div
          v-for="article in likedArticles"
          :key="article.id"
          class="liked__resource"
        >
          <div class="resource__title">{{ article.title }}</div>
          <div>
            <nuxt-link :to="`/resources/articles/${article.slug}`">
              <tad-button>Read</tad-button>
            </nuxt-link>
          </div>
        </div>
      </div>
      <div v-else class="liked__resource">
        <span class="resource__title"
          >You have not found any articles helpful.</span
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"

import {
  getLikedVideos,
  getLikedPodcasts,
  getLikedArticles,
} from "~/api/resources"

import TadButton from "~/components/styled-components/TadButton"

interface Video {
  id: number
  title: string
}

interface Podcast {
  id: number
  title: string
}

interface Article {
  id: number
  title: string
  slug: string
}

@Component({
  components: { TadButton },
})
export default class LikedResources extends Vue {
  likedVideos: Video[] = []
  likedPodcasts: Podcast[] = []
  likedArticles: Article[] = []

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("video.read.likes")) {
      this.fetchLikedVideo()
    }
    if (permissions.includes("audio.read.likes")) {
      this.fetchLikedPodcasts()
    }
    if (permissions.includes("article.read.likes")) {
      this.fetchLikedArticles()
    }
  }

  async fetchLikedVideo() {
    const { data: likeVideos } = await getLikedVideos()
    this.likedVideos = likeVideos
  }

  async fetchLikedPodcasts() {
    const { data: likePodcasts } = await getLikedPodcasts()
    this.likedPodcasts = likePodcasts
  }

  async fetchLikedArticles() {
    const { data: likeArticles } = await getLikedArticles()
    this.likedArticles = likeArticles
  }
}
</script>

<style lang="scss" scoped>
.liked__resources-container {
  box-shadow: var(--default-box-shadow);
  border-radius: 0.5rem /* 8px */;
  margin-bottom: 1rem;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
}

.liked__resource-title {
  font-weight: 700;
  color: var(--dark-text);
  border-bottom: 1px solid #eaeaf2;
  padding: 1rem;
  font-size: 0.875rem;
}

.liked__resource {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaf2;

  font-size: 0.875rem;
  color: #41496b;
  font-weight: 400;
}
</style>
