<template>
  <div>
    <div class="bg-white rounded-lg shadow-md mb-8 border border-gray-300">
      <div
        class="cover__photo-div"
        :style="`background-image: url(${$usercoverimg(user.cover_image)})`"
      >
        <!-- only if you're allowed to edit your profile -->
        <span v-can="'user.customize.profile'"
          ><nuxt-link to="/profile/edit" style="color: #1a535c"
            ><i class="las la-pencil-alt"></i> edit profile</nuxt-link
          ></span
        >
      </div>
      <div class="profile__details">
        <div>
          <img
            class="profile-img"
            :src="$userimg(userProfile.profile_image)"
            :alt="userProfile.full_name"
          />

          <div class="profile__info">
            <span v-if="userProfile.full_name" class="user__name mobile">
              <span>
                {{ userProfile.full_name }}
              </span>
            </span>
            <span v-if="userProfile.type" class="profile__detail">
              {{
                userProfile.type[0].toUpperCase() + userProfile.type.slice(1)
              }}
              at {{ userProfile.organization.name }}
            </span>
            <span v-if="userProfile.type" class="profile__detail">
              <b>Pronouns:</b> {{ userProfile.preferred_pronouns }}
            </span>
            <span v-if="userProfile.gender" class="profile__detail">
              <b>Gender:</b> {{ userProfile.gender }}
            </span>
          </div>
        </div>

        <div class="user__details">
          <span v-if="userProfile.full_name" class="user__name">
            <span>
              {{ userProfile.full_name }}
            </span>
          </span>
          <div class="user__info">
            <span v-if="userProfile.is_verified_publisher" class="user__status">
              <i class="las la-certificate"></i> Verified Publisher
            </span>
            <span v-if="userProfile.phone_number" class="profile__detail">
              <i class="las la-phone"></i> {{ userProfile.phone_number }}
            </span>
            <span v-else class="profile__detail">
              <i class="las la-phone"></i> No phone number
            </span>
            <span v-if="userProfile.email" class="profile__detail">
              <i class="las la-envelope"></i> {{ userProfile.email }}
            </span>
            <span v-else class="profile__detail">
              <i class="las la-envelope"></i> No email address
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="bio__section">
      <div class="bio__heading">
        <span>Bio:</span>
        <span><nuxt-link :to="`/profile/edit`">Edit</nuxt-link></span>
      </div>
      <div class="bio__text">
        <span v-if="userProfile && userProfile.bio" class="small-text">{{
          userProfile.bio
        }}</span>
        <span v-else class="small-text"
          >Add a bio to your profile to let others know more about you.</span
        >
      </div>
    </div>

    <!-- care team and emergency contact buttons -->

    <div class="team__buttons">
      <ul>
        <li v-can="'care.team.access'">
          <tad-button primary>
            <nuxt-link to="/profile/care-team" style="color: white !important">
              <i class="las la-hands-helping"></i> Care Team</nuxt-link
            >
          </tad-button>
        </li>
        <li v-can="'safety.team.access'">
          <tad-button primary>
            <nuxt-link
              to="/profile/emergency-contacts"
              style="color: white !important"
              ><i class="las la-phone"></i> Emergency Contacts</nuxt-link
            >
          </tad-button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue } from "nuxt-property-decorator"
import { IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ProfileCard extends Vue {
  @Getter("loggedInUser") userProfile!: IUserProfile
  fullApiUrl = process.env.fullApiUrl

  user = this.$auth.user as unknown as IUserProfile
}
</script>

<style lang="scss" scoped>
.mobile {
  display: none;
}
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  bottom: 75px;
}
.user__info {
  display: flex;
}

.profile__detail {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.bio__section {
  background-color: white;
  border-radius: 0.5rem /* 8px */;
  margin-bottom: 2rem;
  box-shadow: var(--default-box-shadow);
  min-height: 150px;
  padding: 2rem;
}

.bio__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.bio__heading span:nth-child(1) {
  color: var(--dark-text);
  font-weight: 600;
}

.bio__heading span:nth-child(2) {
  color: var(--light-text);
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
}

.basic-profile-info-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 2rem;
  box-shadow: var(--default-box-shadow);
}
.cover__photo-div {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0.5rem /* 8px */;
  border-top-right-radius: 5px;
  padding: 1rem;

  span a {
    color: white !important;
    text-decoration: none !important;
    font-weight: 600;
  }
}

.profile__details {
  display: flex;
  padding: 0 2rem 2rem;
  height: 300px;
}

.user__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.user__status {
  font-size: 0.8rem;
}

.user__name {
  font-size: 1.8rem;
  color: var(--dark-text);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.profile-img {
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  border-radius: 100%;
  margin: 1rem 0;
  position: relative;
  bottom: 75px;
  border: 3px solid #f5f5fd;
}

.team__buttons {
  ul {
    display: flex;
    margin-bottom: 2rem;
    justify-content: flex-end;
    li {
      //border-radius: 5px;
      //border: 1px solid#9fa6c5;
      //padding: 0.625rem 1.25rem 0.6875rem 1.1875rem;
      margin-left: 1rem;
      //background: var(--main-color);
    }

    li a {
      color: var(--dark-text);
      font-size: 0.875rem;
      font-weight: 700;
    }
  }

  #pro {
    border-radius: 15px;
  }
}

@media only screen and (max-width: 985px) {
  .basic-profile-info-card {
    margin-top: 2rem;
  }

  .cover__photo-div {
    height: 200px !important;
  }
}

@media only screen and (max-width: 560px) {
  .mobile {
    display: block;
    font-size: 1.5rem !important;
  }
  .profile-img {
    height: 120px;
    width: 120px;
    bottom: 60px;
  }

  .profile__details {
    padding: 1rem !important;
  }

  .profile__details {
    display: flex;
    flex-direction: column;
  }

  .user__name {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  .user__details {
    padding: 0 0.5rem 0.5rem 0.75rem;
    display: none;
  }
}
</style>
