<template>
  <div id="closefriends" class="team__container">
    <div class="team">
      <div class="liked__resources-container">
        <div class="liked__resource-title add__friend">
          <span>
            <i class="las la-hands-helping"></i
            ><span class="resources__section">
              Support Network
              <i
                title="about close friends"
                class="las la-info-circle"
                @click.prevent="modalAboutFriends"
              ></i>
            </span>
          </span>

          <tad-button class="ml-auto" @click.prevent="modalSendRequest"
            >Add New</tad-button
          >
        </div>
        <div v-if="closeFriends.length">
          <div
            v-for="request in closeFriends"
            :key="request.id"
            class="closefriend__list-item"
          >
            <div class="friend">
              <img
                :src="`${fullApiUrl}/users/file/${request.user.profile_image}`"
                alt=""
              />
              <span>{{ request.user.full_name }}</span>
            </div>
            <div class="closefriend__buttons">
              <i
                class="las la-ellipsis-v"
                title="see request details"
                @click.prevent="modalRemove(request)"
              ></i>
            </div>
          </div>
        </div>
        <div v-else class="liked__resource">
          <span class="resource__title">You do not have a support team.</span>
        </div>
      </div>
    </div>

    <div class="team">
      <div class="liked__resources-container">
        <div class="liked__resource-title">
          <i class="las la-clock"></i> Pending Received Requests
        </div>
        <div v-if="pendingRequest.length">
          <div
            v-for="request in pendingRequest"
            :key="request.id"
            class="closefriend__list-item"
          >
            <div class="friend">
              <img
                :src="`${fullApiUrl}/users/file/${request.user.profile_image}`"
                alt=""
              />
              <span>{{ request.user.full_name }}</span>
            </div>
            <div class="closefriend__buttons">
              <i
                class="las la-ellipsis-v"
                title="see request details"
                @click.prevent="modalFriendsActions(request)"
              ></i>
            </div>
          </div>
        </div>
        <div v-else class="liked__resource">
          <span class="resource__title"
            >You do not have any pending requests.</span
          >
        </div>
      </div>
    </div>

    <div class="team">
      <div class="liked__resources-container">
        <div class="liked__resource-title">
          <i class="las la-paper-plane"></i> Pending Sent Requests
        </div>
        <div v-if="sentRequest.length">
          <div
            v-for="request in sentRequest"
            :key="request.id"
            class="closefriend__list-item"
          >
            <div class="friend">
              <div class="friend-img">
                <img
                  :src="`${fullApiUrl}/users/file/${request.user.profile_image}`"
                  alt=""
                />
              </div>
              <span>{{ request.user.full_name }}</span>
            </div>
            <div class="closefriend__buttons">
              <span>{{ request.status.toUpperCase() }}</span>
            </div>
          </div>
        </div>
        <div v-else class="liked__resource">
          <span class="resource__title">You have not sent any requests.</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import ModalCloseFriendsInfo from "~/components/modals/ModalCloseFriendsInfo.vue"
import ModalSendFriendRequest from "~/components/modals/ModalSendFriendRequest.vue"
import ModalRemoveFriend from "~/components/modals/ModalRemoveFriend.vue"
import ModalAcceptDeclineFriends from "~/components/modals/ModalAcceptDeclineFriends.vue"

import {
  getPendingRequest,
  getSentRequest,
  getFriends,
} from "~/api/closefriends"

interface UserProfile {
  profile_image: string
}

interface User {
  full_name: string
  profile_image: UserProfile
}

interface Friend {
  id: number
  user: User
  status: string
}

@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class SupportNetwork extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  fullApiUrl = process.env.fullApiUrl

  closeFriends: Friend[] = []
  pendingRequest: Friend[] = []
  sentRequest: Friend[] = []

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("support.team.access")) {
      this.fetchPendingRequest()
      this.fetchSentRequest()
      this.fetchFriends()
    }
  }

  async fetchPendingRequest() {
    const { data: pendingRequest } = await getPendingRequest()
    this.pendingRequest = pendingRequest.items
  }

  async fetchSentRequest() {
    const { data: sendRequest } = await getSentRequest()
    this.sentRequest = sendRequest.items
  }

  async fetchFriends() {
    const { data: closeFriends } = await getFriends()
    this.closeFriends = closeFriends.items
  }

  modalAboutFriends() {
    const modal = {
      title: "About Support Network",
      content: ModalCloseFriendsInfo,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  modalSendRequest() {
    const modal = {
      title: "Send Peer Request",
      content: ModalSendFriendRequest,
      props: {
        onclose: async () => {
          await this.fetchPendingRequest()
          await this.fetchSentRequest()
          await this.fetchFriends()
        },
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  modalRemove(request) {
    const modal = {
      title: `Remove ${request.user.full_name} from your support network?`,
      content: ModalRemoveFriend,
      props: {
        onclose: async () => {
          await this.fetchPendingRequest()
          await this.fetchSentRequest()
          await this.fetchFriends()
        },
        width: "100%",
        request: request,
      },
    }
    this.showModal(modal)
  }

  modalFriendsActions(request) {
    const modal = {
      title: `Accept network request from ${request.user.full_name}?`,
      content: ModalAcceptDeclineFriends,
      props: {
        onclose: async () => {
          await this.fetchPendingRequest()
          await this.fetchSentRequest()
          await this.fetchFriends()
        },
        width: "100%",
        request: request,
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.add__friend {
  span {
    display: inline-block;
  }

  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.content__title {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  span {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--dark-text);
    padding-bottom: 0.5rem;
  }
}

.team__container {
  grid-auto-flow: dense;
}

.la-ellipsis-v {
  cursor: pointer;
  font-size: 1.5rem;
}

.la-info-circle {
  cursor: pointer;
  font-size: 1rem;
}

.content__title {
  font-weight: 600;
  display: inline-block;
}

.liked__resources-container {
  box-shadow: var(--default-box-shadow);
  border-radius: 0.5rem /* 8px */;
  margin-bottom: 1rem;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
}

.liked__resource-title {
  font-weight: 700;
  color: var(--dark-text);
  border-bottom: 1px solid #eaeaf2;
  padding: 1rem;
  font-size: 0.875rem;
}

.liked__resource {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaf2;

  font-size: 0.875rem;
  color: #41496b;
  font-weight: 400;
}

.resource__title {
  font-size: 0.9rem;
  color: var(--dark-text);
}

.team__header {
  span {
    display: block;
  }
  display: flex;
  justify-content: space-between;
}

.team {
  margin-top: 2rem;
}

.team__button {
  display: flex;
  align-items: center;
  span {
    font-size: 1.4rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

.closefriend__list-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 2rem;

  img {
    height: 50px;
  }
}

.friend-img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.friend {
  display: flex;
  align-items: center;
  align-content: center;
  img {
    border-radius: 5px;
    height: 50px;
  }

  span {
    font-size: 0.8rem;
    color: var(--dark-text);
    margin-left: 0.5rem;
  }
}
</style>
