<template>
  <loading-spinner v-if="isLoading">
    Loading organization details...
  </loading-spinner>
  <div v-else class="edit-organization">
    <div>
      <tad-button @click="$router.go(-1)">
        <i class="las la-arrow-left la-lg mr-1"></i>Back
      </tad-button>
    </div>
    <header class="mt-5 mb-5">
      <span class="title-text">Organization Hub</span>
    </header>

    <div class="organization__container">
      <div class="organization__container-header">
        <div>
          <img class="h-12 mb-3" :src="organization.logo" alt="" />
        </div>

        <tad-button
          class="btn-add-user h-12"
          @click="$router.push(`/super/organizations/edit/${organization.id}`)"
          ><i class="las la-pen"></i> Make Changes</tad-button
        >
      </div>
      <div class="organization__info">
        <p class="organization__name">{{ organization.name }}</p>
      </div>
      <div class="organization__info">
        <span>Address: </span>
        <span v-if="organization.address">{{ organization.address }}</span>
        <span v-else>No Data Available</span>
      </div>
      <div class="organization__info">
        <span>Email: </span>
        <span v-if="organization.email">{{ organization.email }}</span>
        <span v-else>No Data Available</span>
      </div>
      <div class="organization__info">
        <span>School District: </span>
        <span v-if="organization.school_district">{{
          organization.school_district
        }}</span>
        <span v-else>No Data Available</span>
      </div>
      <div class="organization__info">
        <span>School URL: </span>
        <span v-if="organization.url">{{ organization.url }}</span>
        <span v-else>No Data Available</span>
      </div>
      <div class="organization__info">
        <span>Organization Type: </span>
        <span v-if="organization.type">{{ organization.type }}</span>
        <span v-else>No Data Available</span>
      </div>

      <div class="organization__info">
        <div class="feature__container-header mb-5">
          <p><span>Features: </span></p>
          <span class="feature__button" @click="openFeatureModal(features)">{{
            features && features.length ? "Edit Features" : "Add Features"
          }}</span>
        </div>
        <div class="features" v-if="features && features.length">
          <div v-for="feature in features" :key="feature.id" class="feature">
            <div class="feature__info">
              <span>{{ feature.name }}</span>
            </div>
          </div>
        </div>

        <div class="features" v-else>
          <span>This organization has no features.</span>
        </div>
      </div>

      <tad-button
        class="btn-add-user-mobile"
        @click="$router.push(`/super/organizations/edit/${organization.id}`)"
        ><i class="las la-pen"></i> Make Changes</tad-button
      >
    </div>

    <h2 class="subtitle-text mb-5">Organization Users</h2>

    <div class="tad-table table-responsive">
      <table>
        <thead class="table__header">
          <tr>
            <td width="100" class="table__header-text"></td>
            <td width="150" class="table__header-text"></td>
            <td width="auto" class="table__header-text email-column"></td>
            <td width="135" class="table__header-text email-column"></td>
            <td width="auto" class="table__header-text">
              <tad-button
                class="add-user"
                @click="$router.push(`/super/users/add?org_id=${id}`)"
              >
                <i class="las la-user-plus la-lg"></i> Create New User
              </tad-button>
            </td>
          </tr>
        </thead>
        <thead class="table__header">
          <tr>
            <td width="100" class="table__header-text">Name</td>
            <td width="150" class="table__header-text"></td>
            <td width="auto" class="table__header-text email-column">Email</td>
            <td width="135" class="table__header-text email-column">Role</td>
            <td width="250" class="table__header-text">Date added</td>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr
            v-for="user in users"
            :key="user.id"
            class="row-user"
            @click="$router.push(`/super/users/${user.id}`)"
          >
            <td>
              <img
                :src="$userimg(user.profile_image)"
                :alt="user.full_name"
                class="user-img"
              />
            </td>
            <td>{{ user.full_name }}</td>
            <td class="email-column">{{ user.email }}</td>
            <td 
              v-if="user.role && user.role.name"
              class="table__header-text type-column capitalize"
            >
              {{ user.role.name }}
            </td>
            <td 
              v-else 
              class="table__header-text type-column"
            >
              No Role Set
            </td>
            <td>{{ $dateFormat(user.created_at, "DD MMM YYYY hh:mm A") }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import { IOrganization, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import { getOrganization, getOrgFeatures } from "~/api/organization"
import { getUsersInOrganization } from "~/api/users"
import ModalEditFeatures from "~/components/modals/ModalEditFeatures.vue"

@Component({
  middleware: ["is-superuser"],
  components: {
    TadInput,
    TadButton,
    TadLink,
    TadText,
  },
})
export default class EditOrganization extends Vue {
  @Getter("loggedInUser") readonly loggedInUser!: IUserProfile
  @Mutation("config/setLogo") readonly setLogo!: (color: string) => void
  @Mutation("config/setAltLogo") readonly setAltLogo!: (color: string) => void
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  id = this.$route.params.id
  isLoading = true
  organization = {} as IOrganization
  features = []

  users: IUserProfile[] = []

  async fetch() {
    try {
      this.isLoading = true
      const { data: organization } = await getOrganization(this.id)
      const { data: users } = await getUsersInOrganization(organization.id)
      const { data: features } = await getOrgFeatures(organization.id)
      this.users = users
      this.organization = organization
      this.features = features
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  async openFeatureModal(features) {
    const modal = {
      title: "Edit Organization Features",
      content: ModalEditFeatures,
      props: {
        features,
        onclose: async () => {
          const { data: features } = await getOrgFeatures(this.organization.id)
          this.features = features
        },
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.organization__name {
  font-size: 1.5rem;
}
.add-user {
  width: 100%;
}
.user-img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  object-fit: cover;
  margin-right: 1rem;
}
.organization__info {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  span:first-of-type {
    font-weight: 600;
  }
}

.feature__button {
  margin-left: auto;
  text-decoration: underline;
  cursor: pointer;
}

.features {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  font-size: 0.8rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), inset 0 0 0 1px #d1d5db;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  margin-right: 1rem;
  flex-wrap: wrap;
  height: 50px;
  font-weight: 600;
}

.feature__container-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.feature__container {
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;

  padding: 2rem 2rem;
}

.organization__container-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.organization__container {
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;
  padding: 2rem 2rem;
}
.edit-organization {
  /* max-width: 1000px;
  margin: 0 auto; */
}
.header-text {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.form-edit-organization {
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding: 2.5rem 2rem;
  .loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.74);
  }
}

.account-type {
  font-size: 0.7rem;
  background-color: rgba(128, 128, 128, 0.123);
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  color: #000;
}

.btn-add-user-mobile {
  display: none;
}

@media (max-width: 768px) {
  .email-column,
  .type-column {
    display: none;
  }

  .feature {
    width: 100%;
    margin-bottom: 1rem;
  }

  .btn-add-user {
    display: none;
  }

  .btn-add-user-mobile {
    display: block;
    width: 100%;
  }
}
</style>
