<template>
  <div class="add-organization">
    <tad-button @click="$router.go(-1)" class="mb-6"
          ><i class="las la-arrow-left la-lg mr-1"></i>Back</tad-button
        >
    
    <form class="form-add-organization" @submit.prevent="createOrganization">
      <div v-if="isWorking" class="loading-overlay">
        <loading-spinner>Please wait...</loading-spinner>
      </div>
      <header>
      <h1 class="title-text ">
        Create New Organization
      </h1>
    </header>
      <div class="form-input-wrapper mb-4">
        <label for="org-name">Name</label>
        <tad-input
          id="org-name"
          v-model="organization.name"
          type="text"
          placeholder="Name"
          required
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-address">Address</label>
        <tad-input
          id="org-address"
          v-model="organization.address"
          type="text"
          placeholder="Address"
          required
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-email">Email</label>
        <tad-input
          id="org-email"
          v-model="organization.email"
          type="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-district">School District</label>
        <tad-input
          id="org-district"
          v-model="organization.school_district"
          type="text"
          placeholder="School District"
          required
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-url">URL</label>
        <tad-input
          id="org-url"
          v-model="organization.url"
          type="url"
          placeholder="https://www.myorg.com"
          required
          pattern="https?:\/\/.+\..*\..*"
          title="Correct format is http://www.myorg.com or https://www.myorg.com"
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-district">Type</label>
        <select v-model="organization.type" required>
          <option value="Company">Company</option>
          <option value="Non-profit">Non-profit</option>
          <option value="School District">School District</option>
          <option value="K-12 School">K-12 School</option>
          <option value="College">College</option>
        </select>
      </div>

      <h2 class="subtitle-text">Organization Branding</h2>

      <div class="branding-colors mb-9">
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Primary Color"
              :initial="organization.primary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ primary: color })"
            />
            <p class="small-text">
              This color affects buttons and form inputs.
            </p>
          </div>
          <div class="preview-container">
            <tad-button primary :bg="previewPColor">
              Primary Button
            </tad-button>
          </div>
        </div>
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Secondary Color"
              :initial="organization.secondary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ secondary: color })"
            />
            <p class="small-text">This color affects links.</p>
          </div>
          <div class="preview-container">
            <tad-text secondary :color="previewSColor">
              <i class="las la-home la-lg"></i> Secondary Link
            </tad-text>
          </div>
        </div>
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Tertiary Color"
              :initial="organization.tertiary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ tertiary: color })"
            />
            <p class="small-text">
              This color will be used on other non-essential elements.
            </p>
          </div>
        </div>
      </div>

      <div class="branding-logos mb-12">
        <div class="branding-logo-container">
          <h3 class="subtitle-text mt-0">Main Logo</h3>
          <div class="image-container">
            <img
              ref="logo"
              class="main-logo"
              src="/tadhealth_logo.png"
              alt=""
            />
          </div>

          <btn-org-logo-upload
            :upload="
              (file) => {
                logo = file
                logoPicked('logo', file)
              }
            "
          >
            Select File
          </btn-org-logo-upload>
          <p class="small-text">
            We recommend at least 250x50px for best image quality. JPEG/JPG/PNG
            only.
          </p>
        </div>

        <div class="branding-logo-container">
          <h3 class="subtitle-text mt-0">Alternate Logo</h3>
          <div class="image-container">
            <img
              ref="alt_logo"
              class="alt-logo"
              width="80"
              src="/tadhealth_alt_logo.png"
              alt=""
            />
          </div>

          <btn-org-logo-upload
            :upload="
              (file) => {
                alt_logo = file
                logoPicked('alt_logo', file)
              }
            "
          >
            Select File
          </btn-org-logo-upload>
          <p class="small-text">
            We recommend at least 80x80px for best image quality. JPEG/JPG/PNG
            only.
          </p>
        </div>
      </div>

      <tad-button class="btn-add-org">Create New Organization</tad-button>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { IOrganization } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import BtnOrgLogoUpload from "~/components/profile/BtnOrgLogoUpload.vue"
import { createOrganization } from "~/api/organization"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import ColorInput from "~/components/ColorInput.vue"

@Component({
  middleware: ["is-superuser"],
  components: {
    ColorInput,
    LoadingSpinner,
    TadInput,
    TadButton,
    TadLink,
    TadText,
    BtnOrgLogoUpload,
  },
})
export default class AddOrganization extends Vue {
  logo: any = ""
  alt_logo: any = ""
  previewPColor = ""
  previewSColor = ""
  previewTColor = ""
  organization = {
    primary_color: "#09535b",
    secondary_color: "#09535b",
    tertiary_color: "#09535b",
    type: "K-12 School",
  } as IOrganization

  isWorking = false
  $refs!: {
    logo: HTMLImageElement
    alt_logo: HTMLImageElement
  }

  colorPicked(payload: {
    primary?: string
    secondary?: string
    tertiary?: string
  }) {
    if (payload.primary) {
      this.previewPColor = payload.primary
      this.organization.primary_color = payload.primary
    } else if (payload.secondary) {
      this.previewSColor = payload.secondary
      this.organization.secondary_color = payload.secondary
    } else if (payload.tertiary) {
      this.previewTColor = payload.tertiary
      this.organization.tertiary_color = payload.tertiary
    }
  }

  logoPicked(key: "logo" | "alt_logo", file: File) {
    const fr = new FileReader()
    fr.onload = () => {
      this.$refs[key].src = fr.result as string
    }
    fr.readAsDataURL(file)
  }

  async createOrganization() {
    try {
      if (!this.allFieldsValid()) return

      this.isWorking = true
      const formData = new FormData()
      formData.append("name", this.organization.name)
      formData.append("email", this.organization.email)
      formData.append("address", this.organization.address)
      formData.append("school_district", this.organization.school_district)
      formData.append("primary_color", this.organization.primary_color)
      formData.append("secondary_color", this.organization.secondary_color)
      formData.append("tertiary_color", this.organization.tertiary_color)
      formData.append("url", this.organization.url)
      formData.append("logo_in", this.logo)
      formData.append("alt_logo_in", this.alt_logo)
      formData.append("type", this.organization.type)
      formData.append("number_of_users", "0")
      formData.append("in_house_counselors", "0")
      formData.append("hours_needed_per_month", "0")

      const { data: organization } = await createOrganization(formData)
      this.organization = organization
      this.$toast.success("Organization added successfully")
      this.$router.push(organization.id)
    } catch (error) {
      this.$toast.error("Unable to create organization")
    } finally {
      this.isWorking = false
    }
  }

  allFieldsValid() {
    const errMessage = (field: string) => {
      this.$toast.error(`Please fill the required field: ${field}`)
    }

    if (!this.organization.primary_color) {
      errMessage("Primary color")
      return false
    }

    if (!this.organization.secondary_color) {
      errMessage("Secondary color")
      return false
    }

    if (!this.organization.tertiary_color) {
      errMessage("Tertiary color")
      return false
    }

    if (!this.logo) {
      errMessage("Main Logo")
      return false
    }

    if (!this.alt_logo) {
      errMessage("Alternate Logo")
      return false
    }

    return true
  }
}
</script>

<style lang="scss" scoped>
.add-organization {
  /* max-width: 1000px;
  margin: 0 auto; */
}
.header-text {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.form-add-organization {
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding: 2.5rem 2rem;
  .loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.74);
  }
}
.branding-colors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .color-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: flex-start;
    .preview-container {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}

.branding-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 1rem 5rem;
}

.branding-logo-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  .image-container {
    height: 80px;
    display: flex;
    align-items: center;

    img {
      max-height: 80px;
      &.main-logo {
        max-width: 200px;
      }
      &.alt-logo {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }
  .btn-upload {
    width: 150px;
  }
}
.btn-add-org {
  width: 100%;
}
</style>
