<template>
  <loading-spinner v-if="isFetching">Please wait...</loading-spinner>
  <div v-else class="organizations">
    <header class="mb-6">
      <h1 class="title-text organizations__header-text">
        Manage Organizations
      </h1>
      <p class="small-text">Manage all organizations on the platform</p>
    </header>

    <div class="organizations__table">
      <div class="organizations__table-header">
        <p class="organizations__header-item">Logo</p>
        <p class="organizations__header-item">Date added</p>
        <p class="organizations__header-item">Name</p>
        
        
        <p class="organizations__header-item header-button">
          <tad-button @click="$router.push('/super/organizations/add')"
            > Create New Organization</tad-button
          >
        </p>
      </div>
      <div
        v-for="org in organizations"
        :key="org.id"
        class="organizations__row"
        @click="$router.push(`/super/organizations/${org.id}`)"
      >
        <p class="organizations__row-item">
          <img
            :src="org.logo"
            :alt="org.name"
            class="organizations__org-logo"
          />
        </p>
        <p class="organizations__row-item">
          {{ $dateFormat(org.created_at, "MMM DD, YYYY") }}
        </p>
        <p class="organizations__row-item">{{ org.name }}</p>

        <p class="organizations__row-item row-button">
          <tad-button
            class="btn-add-user"
            @click="$router.push(`/super/organizations/${org.id}`)"
            ><i class="las la-sliders-h"></i> Manage</tad-button
          >
          <!-- <tad-button
              class="btn-add-user"
              @click.stop="$router.push(`/super/users/add?org_id=${org.id}`)"
              ><i class="las la-user-plus"></i
            > Add User</tad-button> -->
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { IOrganization } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import BtnOrgLogoUpload from "~/components/profile/BtnOrgLogoUpload.vue"
import { getOrganizations } from "~/api/organization"

@Component({
  middleware: ["is-superuser"],
  components: {
    TadInput,
    TadButton,
    TadLink,
    TadText,
    BtnOrgLogoUpload,
  },
})
export default class Organizations extends Vue {
  isFetching = true
  organizations: IOrganization[] = []

  async fetch() {
    try {
      const { data: organizations } = await getOrganizations()
      this.organizations = organizations
    } catch (error) {
    } finally {
      this.isFetching = false
    }
  }
}
</script>

<style lang="scss" scoped>
.organizations__header-text {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.organizations__org-logo {
  max-width: 100px;
  max-height: 50px;
}
.organizations__table {
  div {
    border-bottom: 1px solid #f0f0f0;
  }
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 5px;
}
.organizations__table-header {
  display: flex;
  padding: 2rem;
  align-items: center;
  
  p:nth-of-type(3) {
    min-width: 210px;
  }
  width: 100%;
}
.organizations__header-item {
  text-align: left;
  width: 200px;
  color: #41496b;
  color: var(--dark-text);
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}

.header-button {
  margin-left: auto;
}

.row-button {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.organizations__row-item {
  text-align: left;
  width: 200px;
}
.organizations__row {
  padding: 2rem;
  display: flex;
  align-items: center;
  height: 85px;
  font-size: 0.9rem !important;
  p:nth-of-type(3) {
    min-width: 250px;
  }
}
.organizations__search-form {
  position: relative;
  display: flex;
  justify-content: center;
}
.organizations__search-form .icon {
  position: absolute;
  left: 1rem;
}
.organizations__search-form input {
  width: 100%;
  padding-left: 2.5rem;
}

@media (max-width: 767px) {
  .organizations__table-header,
  .organizations__row {
    .organizations__header-item:nth-of-type(2),
    p:nth-of-type(2) {
      display: none;
    }
    .organizations__header-item:nth-of-type(3),
    p:nth-of-type(3) {
      display: none;
    }
  }
}
</style>
