<template>
  <input
    :type="type"
    class="border-2 rounded w-full px-3 py-2"
    :value="value"
    @input="handleInput"
  />
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator"

@Component({})
export default class FormInput extends Vue {
  @Prop({ default: "" }) readonly value!: string
  @Prop({ default: "text" }) readonly type!: string
  content = "" as string

  handleInput(e) {
    this.$emit("input", e.target.value)
  }
}
</script>
