<template>
  <label class="text-base font-bold">{{ value }}</label>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator"

@Component({})
export default class FormLabel extends Vue {
  @Prop({ default: "No Label" }) readonly value?: string
}
</script>
