<template>
    <div>
      <AudioUploadForm />
    </div>
  </template>
  
  <script lang="ts">
  import { Component, Vue } from "nuxt-property-decorator"
  
  @Component({})
  export default class PodcastUpload extends Vue {}
  </script>
  
  <style lang="scss" scoped></style>
  