<template>
  <div>
    <VideoUploadForm />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import VideoUploadForm from "~/components/VideoUploadForm.vue"

@Component({
  components: { VideoUploadForm }
})
export default class VideoUpload extends Vue {}
</script>

<style lang="scss" scoped></style>
