<template>
  <div>
    <header>
      <tad-button @click="$router.go(-1)" class="mb-3"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
      <h1 class="title-text">User update form</h1>
    </header>
    <p class="small-text mb-6">
      Use the form below to make changes to a users account
    </p>

    <div class="user__form">
      <div v-if="isWorking" class="loading-overlay">
        <loading-spinner>Please wait...</loading-spinner>
      </div>
      <ValidationObserver>
        <form>
          <div class="form-input-wrapper mb-4">
            <label for="full_name">Update Full Name</label>
            <tad-input
              id="full_name"
              v-model="fullName"
              type="text"
              autocomplete="off"
              :placeholder="fullName"
            />
          </div>
          <div class="form-input-wrapper mb-4">
            <label for="email_address">Update Email Address</label>
            <ValidationProvider v-slot="{ errors }" rules="email">
              <tad-input
                id="email_address"
                v-model="email"
                type="text"
                autocomplete="off"
                :placeholder="email"
                class="input-long"
              />
              <span>{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="form-input-wrapper mb-4">
            <fieldset>
              <legend>User Authorization and Status</legend>
              <div>
                <div>
                  <input id="isActive" v-model="isActive" type="checkbox" />
                  <label for="isActive" class="checkbox__label"
                    >IS THIS USER ACTIVE?</label
                  >
                  <p class="help-text">
                    Select to set user status as 'active'.
                  </p>
                </div>
                <div>
                  <input
                    id="isSuperuser"
                    v-model="isSuperuser"
                    type="checkbox"
                  />
                  <label for="isSuperuser" class="checkbox__label"
                    >GIVE THIS USER ADMIN PRIVILEGES?</label
                  >
                  <p class="help-text caution-text">
                    <i class="las la-exclamation-triangle"></i>
                    <strong>Caution:</strong> Admin privileges grant users
                    access to more feature. Only select if this user is a school
                    administrator.
                  </p>
                </div>
              </div>
            </fieldset>
          </div>
          <div>
            <div class="form-input-wrapper mb-4">
              <label for="password1">New password</label>
              <ValidationProvider
                v-slot="{ failedRules }"
                rules="confirmed:confirmation"
              >
                <tad-input
                  id="password1"
                  v-model="password1"
                  type="password"
                  autocomplete="off"
                  class="input-long"
                />
                <p v-if="failedRules.confirmed" class="input-error">
                  Passwords do not match
                </p>
              </ValidationProvider>
            </div>

            <div class="form-input-wrapper mb-4">
              <label for="password2">Confirm password</label>
              <ValidationProvider v-slot="{ failedRules }" vid="confirmation">
                <tad-input
                  id="password2"
                  v-model="password2"
                  type="password"
                  autocomplete="off"
                  class="input-long"
                />
                <p v-if="failedRules.confirmed" class="input-error">
                  Passwords do not match
                </p>
              </ValidationProvider>
            </div>
          </div>
          <div class="form-buttons-container mb-4">
            <tad-button
              success
              class="btn-submit"
              type="submit"
              @click.prevent="submit"
              :disabled="isWorking"
            >
              Make Changes
            </tad-button>
            <tad-button
              warn
              class="btn-reset"
              type="submit"
              @click.prevent="reset"
              :disabled="isWorking"
            >
              Discard Changes
            </tad-button>
            <tad-button
              danger
              class="btn-cancel"
              type="submit"
              @click.prevent="cancel"
              :disabled="isWorking"
            >
              Go Back
            </tad-button>
          </div>
        </form>
        <alert
          :msg="alert.msg"
          :type="alert.type"
          @alert-close="alert.msg = ''"
        />
      </ValidationObserver>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Action } from "nuxt-property-decorator"
import { IUserProfile, IUserProfileUpdate } from "@/interfaces"
import { getApiErrorMsg } from "@/api"
import { AlertProps } from "~/components/Alert.vue"
import { getSingleUser, updateUser } from "~/api/users"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"

@Component({
  middleware: "is-superuser",
  components: { TadButton, TadInput },
})
export default class AdminEditUser extends Vue {
  user = {} as IUserProfile
  fullName: string = ""
  email: string = ""
  isActive: boolean = true
  isSuperuser: boolean = false
  password1: string = ""
  password2: string = ""
  alert: AlertProps = {
    msg: "",
    type: "error",
  }

  isWorking = true

  get setPassword() {
    return Boolean(this.password1) && Boolean(this.password2)
  }

  async fetch() {
    try {
      this.isWorking = true
      const { data: user } = await getSingleUser(this.$route.params.id)
      this.user = user
      this.setUser()
    } catch (error) {
      const msg = getApiErrorMsg(error)
      this.alert = { msg, type: "error" }
    } finally {
      this.isWorking = false
    }
  }

  public reset() {
    // this.setPassword = false
    this.password1 = ""
    this.password2 = ""
    this.setUser()
  }

  public cancel() {
    this.$router.back()
  }

  async submit() {
    try {
      // Clear alert message
    this.alert.msg = ""
    this.isWorking = true
    const updatedProfile: IUserProfileUpdate = {}
    if (this.fullName) {
      updatedProfile.full_name = this.fullName
    }
    if (this.email) {
      updatedProfile.email = this.email
    }
    updatedProfile.is_active = this.isActive
    updatedProfile.is_superuser = this.isSuperuser
    if (this.setPassword) {
      // User filled both password fields
      if (this.password1 !== this.password2) {
        this.alert = { msg: "Passwords do not match", type: "error" }
        return
      }
      updatedProfile.password = this.password1
    }
    this.alert = { msg: "Working, please wait...", type: "info" }

    await updateUser(this.user!.id, updatedProfile)
    // TODO: Currently no way of knowing if update was successful
    this.alert = { msg: "User details updated successfully", type: "success" }
    // Refresh user details
    this.$fetch()
    } catch (error) {
      
    }
    finally{
      this.isWorking = false
    }
  }

  setUser() {
    if (this.user) {
      this.fullName = this.user.full_name
      this.email = this.user.email
      this.isActive = this.user.is_active
      this.isSuperuser = this.user.is_superuser
    }
  }
}
</script>

<style scoped lang="scss">
.help-text {
  color: #41496b;
  font-size: 0.7rem;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.caution-text {
  color: #961a26;
}
.user__form {
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding: 2.5rem 2rem;
  .loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.74);
  }
}
.form-buttons-container {
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1rem;
}
.input-error {
  font-size: 0.8rem;
  color: #be0000;
}

fieldset {
  border: 2px solid #f0f0f0;
  margin: 1rem 0rem;
  padding: 2rem 1rem;
}

legend {
  padding: 0;
  font-weight: 800;
  font-size: 0.9rem;
  color: #41496b;
}

.input-long {
  width: 100% !important;
}

.checkbox__label {
  color: var(--light-text);
  padding-bottom: 1rem;
}
</style>
