<template>
  <loading-spinner v-if="isLoading"></loading-spinner>
  
  <div v-else class="add-user">
    <tad-button @click="$router.go(-1)" class="mb-5">
          <i class="las la-arrow-left la-lg mr-1"></i>Back
        </tad-button>
    <header>
      <h1 class="title-text header-text">
        Create a new user
      </h1>
    </header>

    <form @submit.prevent="addUser" class="form-add-user">
      <div v-if="isWorking" class="loading-overlay">
        <loading-spinner>Please wait...</loading-spinner>
      </div>
      <div class="form-input-wrapper mb-4">
        <div class="form-input-wrapper mb-4">
          <label for="use-full_name">Organization</label>
          <tad-input
            id="user-email"
            type="email"
            placeholder="Email"
            required
            readonly
            :value="organization.name"
          />
        </div>
        <label for="use-full_name">Full Name</label>
        <tad-input
          id="user-full_name"
          type="text"
          placeholder="Full Name"
          required
          v-model="user.full_name"
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="use-full_name">Email</label>
        <tad-input
          id="user-email"
          type="email"
          placeholder="Email"
          required
          v-model="user.email"
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="role">Role</label>
        <select id="role" v-model="user.type" name="">
          <option v-for="role in roles" :key="role.id" :value="role.name">
            {{ role.name }}
          </option>
        </select>
      </div>

      <div class="form-input-wrapper mb-4">
        <label for="use-full_name">Password</label>
        <tad-input
          id="password1"
          v-model="password"
          placeholder="Password"
          name="password"
          type="password"
          required
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="use-full_name">Confirm Password</label>
        <tad-input
          id="password1"
          v-model="password_confirm"
          placeholder="Confirm Password"
          name="password_confirm"
          type="password"
          required
        />
      </div>
      <tad-button class="btn-add-user">Add User</tad-button>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { getOrganization, getOrgRoles } from "~/api/organization"
import { createUser } from "~/api/users"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { IOrganization, IUserProfile, IUserProfileCreate } from "~/interfaces"

@Component({
  middleware: ["is-superuser"],
  components: { TadButton, TadInput },
})
export default class AddUser extends Vue {
  // @Prop(String) readonly prop1!:string
  org_id = this.$route.query.org_id as string
  isLoading = true
  isWorking = false
  user = { type: "admin" } as IUserProfileCreate
  password = ""
  password_confirm = ""
  organization = {} as IOrganization
  roles = []

  async fetch() {
    try {
      this.isLoading = true
      const { data: organization } = await getOrganization(this.org_id)
      this.organization = organization
      const { data: roles } = await getOrgRoles(this.org_id)
      this.roles = roles
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  async addUser() {
    if (this.password !== this.password_confirm) {
      this.$toast.error("Passwords do not match")
      return
    }
    this.user.password = this.password
    this.user.organization_id = this.org_id
    try {
      this.isWorking = true
      await createUser(this.user)
      await new Promise((resolve) => setTimeout(resolve, 10000))
      this.$toast.success("User created successfully")
      this.$router.go(-1)
    } catch (error) {
      this.$toast.error("Unable to create user")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.add-user {
  /* max-width: 1000px;
  margin: 0 auto; */
}
.header-text {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.form-add-user {
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding: 2.5rem 2rem;
  .loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.74);
  }
}
.btn-add-user {
  width: 100%;
}
</style>
