<template>
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-8 mb-8">
      <NeedSomeOneCard v-can="'appointment.book.someone.else'"/>
      <div
        class="bg-white p-4 rounded-lg shadow-md border border-gray-300"
        v-can="'appointment.book.self'"
      >
        <div class="flex flex-col mb-4">
          <i class="las la-calendar-day text-3xl text-dark-text mb-2"></i>
          <div>
            <span class="mb-8 inline-block"
              >Need someone to talk to?</span
            >
          </div>
        </div>
        <tad-button primary @click="$router.push('/bookings')">
          Book Now
        </tad-button>
      </div>
      <div class="bg-white p-4 rounded-lg shadow-md border border-gray-300" v-can="'resources.access'">
        <div class="flex flex-col mb-4">
          <i class="las la-photo-video text-3xl text-dark-text mb-2"></i>
          <div>
            <span class="text-sm font-bold text-dark-text"
              >Latest resources</span
            >
          </div>
        </div>
        <tad-button primary @click="$router.push('/resources')">
          Explore Now
        </tad-button>
      </div>

      <div
        class="bg-white p-4 rounded-lg shadow-md border border-gray-300"
        v-can="'concern.access'"
      >
        <div class="flex flex-col mb-4">
          <i class="las la-hands-helping text-3xl text-dark-text mb-2"></i>
          <div>
            <span class="mb-8 inline-block "
              >Worried about someone?</span
            >
          </div>
        </div>
        <tad-button primary @click.prevent="shareConcern()">
          Share Your Concern
        </tad-button>
      </div>

      <div
        class="bg-white p-4 rounded-lg shadow-md col-span-1"
        v-can="'appointment.analytics'"
      >
        <div class="flex items-center mb-4">
          <i class="las la-user-friends text-3xl text-dark-text mr-4"></i>
          <div>
            <span class="text-sm font-bold text-dark-text">Total Patients</span>
          </div>
        </div>
        <span class="text-sm text-dark-text">0</span>
      </div>
      <div
        class="bg-white p-4 rounded-lg shadow-md col-span-1"
        v-can="'appointment.analytics'"
      >
        <div class="flex items-center mb-4">
          <i class="las la-user-clock text-3xl text-dark-text mr-4"></i>
          <div>
            <span class="text-sm font-bold text-dark-text">Patients Today</span>
          </div>
        </div>
        <span class="text-sm text-dark-text">0</span>
      </div>
      <div
        class="bg-white p-4 rounded-lg shadow-md col-span-1"
        v-can="'appointment.analytics'"
      >
        <div class="flex items-center mb-4">
          <i class="las la-calendar-day text-3xl text-dark-text mr-4"></i>
          <div>
            <span class="text-sm font-bold text-dark-text">Appointments</span>
          </div>
        </div>
        <span class="text-sm text-dark-text">0</span>
      </div>
    </div>

    <AppointmentTable v-can="'appointment.read.client.list'" />
    <AppointmentManagementTable v-can="['appointment.read.provider.list', 'appointment.read.list']" />
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import ModalShareConcern from "~/components/modals/ModalShareConcern.vue"
import AppointmentTable from "~/components/appointments/AppointmentTable.vue"
import AppointmentManagementTable from "~/components/appointments/AppointmentManagementTable.vue"
import AdminHomeOverview from "~/components/analytics/AdminHomeOverview.vue"
import AdminAppointmentList from "~/components/AdminAppointmentList.vue"
import NeedSomeOneCard from "~/components/home/NeedSomeOneCard.vue"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
  components: {
    TadButton,
    AppointmentTable,
    AppointmentManagementTable,
    AdminHomeOverview,
    AdminAppointmentList,
    NeedSomeOneCard,
  },
})
export default class Home extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  shareConcern() {
    const modal = {
      title: "Share your concern",
      content: ModalShareConcern,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
      },
    }
    this.showModal(modal)
  }
}
</script>
