<template>
  <div
    class="bg-white p-4 rounded-lg shadow-md border border-gray-300"
  >
    <div class="flex flex-col mb-4">
      <i class="las la-calendar-day text-3xl text-dark-text mb-2"></i>
      <div>
        <span class="mb-8 inline-block"
          >Need to book an appointment for someone else?</span
        >
      </div>
    </div>
    <tad-button primary @click="$router.push('/bookings/someone/else')">
      Book For Someone Else
    </tad-button>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
@Component({
  middleware: ["authenticated"],
  components: {
    TadButton,
  },
})
export default class NeedSomeOneCard extends Vue {

}
</script>
