<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Home</h1>
      <p class="small-text">Here's your organization at a glance.</p>
    </div>
    <div class="home__card-container">
      <div class="home__card">
        <!-- <div class="home__card-left-side">
          <i class="las la-user-friends home__card-icon"></i>
        </div> -->
        <div v-if="booked" class="home__card-right-side">
          <span class="home__card-title">Total Appointments Booked</span>
          <span class="home__card-subtitle">{{ this.booked }}</span>
        </div>
      </div>
      <div class="home__card">
        <!-- <div class="home__card-left-side">
          <i class="las la-user-clock home__card-icon"></i>
        </div> -->
        <div class="home__card-right-side">
          <span class="home__card-title">Total Appointments Accepted</span>
          <span class="home__card-subtitle">{{ this.accepted }}</span>
        </div>
      </div>
      <div class="home__card">
        <!-- <div class="home__card-left-side">
          <i class="las la-calendar-day home__card-icon"></i>
        </div> -->
        <div class="home__card-right-side">
          <span class="home__card-title">Total Appointments Canceled</span>
          <span class="home__card-subtitle">{{ this.canceled }}</span>
        </div>
      </div>
    </div>

    <AdminAppointmentList />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"
import { getAppointmentAnalytics } from "~/api/analytics"

@Component({})
export default class AdminHome extends Vue {
  booked: any = ""
  accepted: any = ""
  canceled: any = ""
  appointmentAnalytics: {} = {}

  mounted() {
    this.fetchAdminAppointmentAnalytics()
    // this.fetchAdminResourceAnalytics()
  }

  async fetchAdminAppointmentAnalytics() {
    const { data: appointmentAnalytics } = await getAppointmentAnalytics()
    this.appointmentAnalytics = appointmentAnalytics
    this.booked = appointmentAnalytics.booked
    this.accepted = appointmentAnalytics.accepted
    this.canceled = appointmentAnalytics.canceled
  }
}
</script>

<style scoped>
.home__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.home__card {
  background-color: #fff;
  height: 100%;
  padding: 2rem 1rem;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  display: flex;
}


.home__card-right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
}

.home__card-title {
  font-size: 0.9rem;
  color: #41496b;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.home__card-subtitle {
  font-size: 2.5rem;
  color: #8390a2;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 860px) {
  .home__card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 590px) {
  .home__card-container {
    grid-template-columns: 100%;
    margin-top: 3rem;
  }

  .home__card-right-side {
    padding-left: 1.5rem;
  }
 

 
}
</style>
