<!-- eslint-disable camelcase -->
<template>
  <div>
    <!-- Back Button -->
    <PageBackButton class="mb-8" />

    <loading-spinner v-if="isLoadingArticle"
      >Loading article...</loading-spinner
    >
    <alert v-else-if="errMsg" :msg="errMsg" type="error"></alert>
    <div v-else class="">
      <!-- Article management -->
      <div class="card hover:shadow-lg mb-8">
        <h1 class="text-2xl font-bold">Manage this article</h1>
        <p class="last-updated small-text">
          Last updated: {{ formatUpdatedAt(article.updated_at) }}
        </p>
        <div class="status-container">
          <span v-if="article.is_draft">Status: draft</span>
          <span v-else-if="!article.is_approved">Status: needs approval</span>
          <span v-else class="status approved">Status: published</span>
        </div>
        <div class="grid grid-cols-3 gap-4 mt-6">
          <tad-button
            v-if="article.is_draft"
            primary
            :disabled="isWorking"
            @click="readyToPublishConfirmation"
          >
            <span v-if="isWorking">
              <i class="las la-cog la-spin mr-2"></i>Working
            </span>
            <span v-else>Ready to Publish</span>
          </tad-button>
          <tad-button
            danger
            :disabled="isWorking"
            @click="deleteArticleConfirmation"
          >
            <span v-if="isWorking">
              <i class="las la-cog la-spin mr-2"></i>Working
            </span>
            <span v-else>Delete Article</span>
          </tad-button>
          <tad-button primary @click.prevent="modalShareResource(article.id)"
            >Share Resource
          </tad-button>
          <tad-button
              v-if="!article.is_approved && canApprove /*&& !article.is_draft*/"
              class="btn-approve"
              :disabled="isWorking"
              @click="approveArticleConfirmation"
            >
              <span v-if="isWorking">
                <i class="las la-cog la-spin mr-2"></i>Working
              </span>
              <span v-else>Approve &amp; Publish Article</span>
            </tad-button>
        </div>
      </div>

      <!-- Thumbnail -->
      <div class="card hover:shadow-lg mb-8">
        <h1 class="text-2xl font-bold">Manage thumbnail image</h1>
        <div class="flex mt-4 gap-6">
          <div class="form-group flex-auto order-2">
            <label for="image" class="mb-4">Upload Article thumbnail </label>
            <input
              id="image"
              type="file"
              class="form-control mb-4 w-1/2"
              @change="onFileSelected"
            />
            <tad-button primary @click.prevent="uploadThumbnail">
              Upload Thumbnail
            </tad-button>
          </div>
          <img
            v-if="article.thumbnail_name"
            :src="`${fullApiUrl}/articles/thumbnail/${article.thumbnail_name}`"
            :alt="article.title"
            class="flex-shrink w-1/5 rounded-lg order-1"
          />
        </div>
      </div>

      <!-- Edit form -->
      <form class="card hover:shadow-lg mb-8" @submit.prevent="updateArticle">
        <h1 class="text-2xl font-bold mb-6">Edit this article</h1>
        <div class="form-group mb-6">
          <label for="title">Title</label>
          <input
            id="title"
            v-model.trim="article.title"
            type="text"
            required
            :disabled="!article.is_draft"
            class="form-control"
          />
        </div>

        <div class="form-group mb-6">
          <label for="description">Description</label>
          <input
            id="description"
            v-model.trim="article.description"
            type="text"
            required
            :disabled="!article.is_draft"
            class="form-control"
          />
        </div>

        <div class="form-group mb-6">
          <label class="mb-3 block">Add some tags to this article</label>
          <div class="border rounded flex pr-4">
            <div class="flex-auto">
              <ul v-if="tags.length > 0" class="flex py-2">
                <li
                  v-for="(tag, index) in tags"
                  :key="index"
                  class="
                    flex-shrink
                    px-2
                    py-1
                    border
                    rounded
                    mx-2
                    hover:bg-gray-200
                  "
                >
                  <span>{{ tag }}</span>
                  <button
                    class="hover:text-red-500"
                    title="Remove this tag"
                    @click.prevent="removeTag(index)"
                  >
                    <i class="las la-times-circle"></i>
                  </button>
                </li>
              </ul>
              <div v-else class="p-3 text-gray-500">No tags added</div>
            </div>
            <div class="flex-shrink">
              <select v-model="selectedTag" class="border rounded px-2 my-2">
                <option value="">Choose tag</option>
                <option
                  v-for="(tag, index) in allTagNames"
                  :key="index"
                  :value="tag"
                >
                  {{ tag }}
                </option>
              </select>
              <button
                class="text-green-900 font-bold ml-4"
                @click.prevent="addTag"
              >
                Add Tag
              </button>
            </div>
          </div>
        </div>

        <label class="mb-3 block">Edit the article body</label>
        <ArticleEditor
          :initial-value="article.body"
          :disabled="!article.is_draft"
          class="mb-6"
          @content-changed="contentChanged"
        />

        <tad-button
          v-if="article.is_draft"
          primary
          class="btn-save"
          :class="{ disabled: isWorking }"
          :disabled="isWorking"
        >
          <span v-if="isWorking">
            <i class="las la-cog la-spin mr-2"></i>Saving
          </span>
          <span v-else>Save</span>
        </tad-button>
      </form>

      <!-- Analytics -->
      <div class="card hover:shadow-lg mb-8">
        <h1 class="text-2xl font-bold mb-6">Article Analytics</h1>
        <div class="grid grid-cols-4 gap-4">
          <div class="border p-8 bg-white rounded-lg hover:shadow-lg">
            <span class="text-lg">Total View</span>
            <p v-if="articleAnalytics" class="text-5xl font-bold mt-2">
              {{ articleAnalytics.viewed }}
            </p>
          </div>
          <div class="border p-8 bg-white rounded-lg hover:shadow-lg">
            <span class="text-lg">Total Times Shared</span>
            <p v-if="articleAnalytics" class="text-5xl font-bold mt-2">
              {{ articleAnalytics.shared }}
            </p>
          </div>
          <div class="border p-8 bg-white rounded-lg hover:shadow-lg">
            <span class="text-lg">Found Helpful</span>
            <p v-if="articleAnalytics" class="text-5xl font-bold mt-2">
              {{ articleAnalytics.liked }}
            </p>
          </div>
          <div class="border p-8 bg-white rounded-lg hover:shadow-lg">
            <span class="text-lg pb-3">Tags</span>
            <div v-if="tags.length" class="tags">
              <div v-for="tag in tags" :key="tag.id">
                <span>{{ tag }}</span>
              </div>
            </div>
            <p v-else>No Tags Added</p>
          </div>
          <div class="border p-8 bg-white rounded-lg hover:shadow-lg">
            <span>Audience</span>
            <div v-if="audience.length" class="tags">
              <div v-for="tag in audience" :key="tag">
                <span>{{ tag }}</span>
              </div>
            </div>
            <p v-else>No Audience Added</p>
          </div>
        </div>
      </div>

      <!-- Feedback -->
      <div class="feedback__title-section">
        <div class="section-title-text">
          <span class="subtitle-text">Feedback</span>
          <span class="small-text subtitle__text">Article Feedback.</span>
        </div>

        <!-- <div class="form-input-wrapper search-container mb-12">
          <i class="las la-search la-lg ic-search"></i>
          <input type="text" placeholder="Search keyword" />
        </div> -->
      </div>

      <div v-if="articleFeedback.length" class="feedback__table">
        <div
          v-for="feedback in articleFeedback"
          :key="feedback.id"
          class="feedback__container"
        >
          <div class="feedback">
            <p><i class="las la-comment"></i> {{ feedback.comment }}</p>
          </div>
          <!-- <div class="feedback__details">
            <span>posted on</span>
            <span>{{ feedback.date }}</span>
          </div> -->
        </div>
      </div>
      <div v-else class="feedback__table">
        <div class="feedback__container">
          <div class="feedback">
            <p><i class="las la-comment"></i> no feedback to display</p>
          </div>
          <!-- <div class="feedback__details">
            <span>posted on</span>
            <span>{{ feedback.date }}</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation, Getter } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { getArticleFeedback } from "~/api/resources"
import ModalShareResource from "~/components/modals/ModalShareResource.vue"
import {
  deleteArticle,
  getArticle,
  approveArticle,
  getTagNames,
  updateArticle,
  uploadArticleThumbnail,
  getArticleAnalytics,
} from "~/api/articles"
import { IArticle, IArticleUpdate, IModal } from "~/interfaces"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import { getApiErrorMsg } from "~/api"
import TadButton from "~/components/styled-components/TadButton"
import { getSingleArticleAnalytics } from "~/api/analytics"

@Component({
  components: { TadButton },
})
export default class EditArticle extends Vue {
  @Mutation("modals/showModal") showModal
  @Mutation("modals/hideModal") hideModal
  @Getter("modals/getModal") getModal
  fullApiUrl = process.env.fullApiUrl

  id = this.$route.params.id

  isLoadingArticle = true
  errMsg = ""
  isWorking = false
  article = {} as IArticle
  allTagNames: string[] = []
  selectedTag = ""
  tags: string[] = []
  originalTitle = ""
  selectedThumbnailFile: any = ""
  articleAnalytics: any = {}
  articleFeedback: any = {}
  audience: string[] = []
  canApprove = this.$store.state.auth.user.permissions.includes("article.approve")

  mounted() {
    this.fetchArticle()
  }

  async fetchArticle() {
    try {
      this.isLoadingArticle = true
      this.errMsg = ""
      const { data: article } = await getArticle(this.id)
      this.article = article
      this.tags = article.tags
      this.originalTitle = article.title
      const { data: tagNames } = await getTagNames()
      this.allTagNames = tagNames
      const article_id = article.id
      const { data: articleAnalytics } = await getSingleArticleAnalytics(
        article_id
      )
      this.articleAnalytics = articleAnalytics
      this.audience = article.target_audience
      await this.fetchArticleFeedback()
    } catch (error) {
      this.errMsg = `Error loading article: ${getApiErrorMsg(error)}`
    } finally {
      this.isLoadingArticle = false
    }
  }

  async fetchArticleFeedback() {
    try {
      const { data: feedback } = await getArticleFeedback(this.article.id)
      this.articleFeedback = feedback
    } catch {}
  }

  addTag() {
    if (!this.selectedTag) return

    this.tags.push(this.selectedTag.trim())
    this.selectedTag = ""
  }

  removeTag(index: number) {
    this.tags.splice(index, 1)
  }

  async updateArticle() {
    try {
      this.isWorking = true
      this.errMsg = ""

      // Set tags
      this.article.tags = this.tags

      const updatedArticle: IArticleUpdate = {
        title: this.article.title,
        description: this.article.description,
        tags: this.article.tags,
        body: this.article.body,
        is_approved: this.article.is_approved,
        is_draft: this.article.is_draft,
        thumbnail_name: this.article.thumbnail_name,
        target_audience: this.article.target_audience,
      }
      // If title changed, set updated slug
      if (this.article.title !== this.originalTitle) {
        updatedArticle.slug = this.article.title
          .trim()
          .toLowerCase()
          .replaceAll(" ", "-")
      }

      await updateArticle(this.id, updatedArticle)
      this.fetchArticle()
      this.$toast.success("Article updated successfully")
    } catch (error) {
      this.$toast.error(`Error updating the article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isWorking = false
    }
  }

  readyToPublishConfirmation() {
    const modal: IModal = {
      title: "Ready to Publish",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.readyToPublish,
        text: "Before publishing, the article will first require approval from your Institution's Administrator. While waiting for approval, you will no longer be able to make changes to your article.<br/><br/>Are you sure you want to continue?",
        confirmText: "Request Approval",
      },
    }

    this.showModal(modal)
  }

  approveArticleConfirmation() {
    const modal: IModal = {
      title: "Approve Article",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.approveArticle,
        text: "Are you sure you want to approve this article? It will be published immediately and become available for viewing by members of this organization.",
        confirmText: "Approve",
      },
    }

    this.showModal(modal)
  }

  async approveArticle() {
    try {
      this.isWorking = true
      this.errMsg = ""
      let target_audience = this.article.target_audience
      await approveArticle(this.id, target_audience)
      this.$toast.success("Article approved and published successfully.")
    } catch (error) {
      this.$toast.error(`Error approving the article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isWorking = false
    }
  }

  async readyToPublish() {
    try {
      this.isWorking = true
      this.errMsg = ""
      this.article.is_draft = false

      // Remove slug; prevents error in backend
      const updatedArticle = {
        title: this.article.title,
        description: this.article.description,
        tags: this.article.tags,
        body: this.article.body,
        is_approved: this.article.is_approved,
        is_draft: this.article.is_draft,
        thumbnail_name: this.article.thumbnail_name,
        target_audience: this.article.target_audience,
      }

      await updateArticle(this.id, updatedArticle)
      this.fetchArticle()
      this.$toast.success("Article submitted for review.")
    } catch (error) {
      this.$toast.error(`Error updating the article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isWorking = false
    }
  }

  deleteArticleConfirmation() {
    const modal: IModal = {
      title: "Delete Article",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.deleteArticle,
        text: "Are you sure you want to delete this article? All its content will be lost forever.",
        confirmText: "Delete",
      },
    }

    this.showModal(modal)
  }

  async deleteArticle() {
    try {
      this.isWorking = true
      this.errMsg = ""

      await deleteArticle(this.id)
      this.$toast.success("Article deleted successfully.")
      this.$router.go(-1)
    } catch (error) {
      this.$toast.error(`Error deleting the article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isWorking = false
    }
  }

  contentChanged(content: string) {
    this.article.body = content
  }

  formatUpdatedAt(time: string) {
    return dayjs(time).format("h:mmA DD MMM YYYY")
  }

  onFileSelected(event: any) {
    this.selectedThumbnailFile = event.target!.files[0]
  }

  async uploadThumbnail() {
    if (!this.selectedThumbnailFile) {
      this.$toast.error("Please select a file to upload")
      return
    }

    try {
      this.isWorking = true
      const formData = new FormData()
      formData.append("file_in", this.selectedThumbnailFile)
      await uploadArticleThumbnail(this.article.id, formData)
      this.$toast.success("Thumbnail uploaded successfully.")
      this.fetchArticle()
      // location.reload()
    } catch (error) {
      this.$toast.error("Error uploading image")
    } finally {
      this.isWorking = false
    }
  }

  modalShareResource(id) {
    const modal = {
      title: "Share Resource",
      content: ModalShareResource,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        id,
        type: "article",
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.tags {
  display: flex !important;
  padding: 0.5rem 0rem;
  flex-wrap: wrap;
  overflow: scroll;
  span {
    cursor: default;
    display: block;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.3rem 0.3rem;
  }
}
.feedback {
  font-size: 0.8rem;
  color: var(--dark-text);

  p {
    margin-bottom: 0.5rem;
  }
}
.feedback__table {
  margin-top: 0rem;

  box-shadow: var(--default-box-shadow);
  background-color: white;
  margin-top: 2rem;
}

.feedback__details {
  span {
    color: var(--dark-text);
    font-size: 0.8rem;
  }
}

.feedback__title-section {
  display: flex;
  justify-content: space-between;
}

.feedback__container {
  border-bottom: 2px solid #f1f1f1;
  padding: 2rem;
}
.section-title-text {
  display: flex;
  flex-direction: column;
}

// styles for the breadcrumbs
.resource__breadcrumb {
  display: flex;
  margin-bottom: 2rem;

  li {
    margin-right: 10px;
    color: var(--dark-text) !important;
    font-size: 0.9rem;
  }
  li a {
    color: var(--light-text);
  }
}

.section-title-text {
  display: flex;
  flex-direction: column;
}
.article-buttons {
  display: flex !important;
  margin: 1rem 0rem;
  button {
    margin-right: 1rem;
  }
}

.edit-article {
  background-color: white;
  padding: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 10px;
}
.page-header {
  gap: 1rem;
  align-items: center;

  .last-updated {
    font-style: italic;
  }
}
.preview-area {
  border: 1px solid rgb(214, 214, 214);
  padding: 0.75rem;
  border-radius: 3px;
}
.btn-save {
  width: 100%;
}
.status-container {
  display: flex;
  align-items: center;
  font-size: 0.8rem;

  .status {
    padding: 0.8rem 0.3rem;
    background-color: gray;
    border-radius: 5px;
    color: #fff;
    width: 120px;
    text-align: center;

    &.draft {
      background-color: #f89e5d;
    }

    &.not-approved {
      background-color: #02b6ce;
    }
    &.approved {
      background-color: #09ca11;
    }
  }
}

.form-add-tag {
  display: flex;
  gap: 1rem;

  input {
    width: 150px;
  }

  .tags-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;

    .tag {
      font-size: 0.8rem;
      background-color: #fff;
      text-align: center;
      border: 1px solid var(--main-color);
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem;
      color: #333333;
      min-width: 75px;
      gap: 0.5rem;

      .btn-remove-tag {
        background-color: transparent;
        border: none;
        color: var(--danger-color);
        padding: 0.25rem 0.45rem;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 0, 0, 0.116);
        }
        &:disabled {
          background-color: transparent;
          color: rgb(214, 214, 214);
        }
      }
    }
  }
}
.thumbnail-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-direction: row;
  .article-thumbnail {
    max-width: 150px;
    max-height: 150px;
    border-radius: 3px;
  }
}

.analytics__grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.analytic__box {
  padding: 2rem;
  background-color: white;
  max-height: 170px;
  box-shadow: var(--default-box-shadow);
  overflow: scroll;
  span {
    color: var(--dark-text);
    font-size: 0.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.7rem;
    padding: 1rem 0rem;
    color: var(--dark-text);
  }
}
</style>
