<template>
    <loading-spinner v-if="isLoading">
    Loading organization details...
  </loading-spinner>
  <div v-else class="organization-profile">
    <div>
      <tad-button @click="$router.go(-1)" style="margin-bottom: 2rem"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
    </div>
    <div class="welcome__container">
      <h1 class="title-text">Edit Organization Details</h1>
      <p class="small-text">Make changes to your organizations basic details and set organization branding.</p>
    </div>

    <div class="section__header">
      <p>Organization Details</p>
    </div>

    <div class="organization-form-container mb-12 pa-6">
      <div v-if="isWorking" class="loading-overlay">
        <loading-spinner>Please wait...</loading-spinner>
      </div>

      <div class="form-input-wrapper mb-6">
        <label for="organizationName" class="small-text">
          Organization Name
        </label>
        <tad-input
          v-model="organization.name"
          type="text"
          name="name"
          required
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="organizationAddress" class="small-text">Address</label>
        <tad-input
          v-model="organization.address"
          type="text"
          name="address"
          required
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="email" class="small-text">Email</label>
        <tad-input
          v-model="organization.email"
          type="email"
          name="email"
          required
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="school_district" class="small-text">School District</label>
        <tad-input
          v-model="organization.school_district"
          type="text"
          name="school_district"
          required
        />
      </div>

      <div class="form-input-wrapper mb-6">
        <label for="link" class="small-text"
          >Add a Link to your terms.
          <span class="highlight">(must include "https://")</span>
        </label>
        <tad-input
          v-model="organization.company_terms"
          type="text"
          name="company_terms"
          required
        />
      </div>

      <div class="form-input-wrapper mb-6">
        <label for="link" class="small-text"
          >External Crisis Resources Link.
          <span class="highlight">(must include "https://")</span>
        </label>
        <tad-input
          v-model="organization.company_external_resources"
          type="text"
          name="company_external_resources"
          required
        />
      </div>

      <!-- <div class="form-input-wrapper mb-6">
        <label for="link" class="small-text"
          >Upload company terms as a document.</label
        >
        <tad-input
          @change="docSelected"
          type="file"
          name="company_terms_document_in"
          required
        />
      </div> -->

      <div class="form-input-wrapper mb-6">
        <label for="type" class="small-text">Organization Type</label>
        <select v-model="organization.type" id="type" name="">
          <option value="Company">Company</option>
          <option value="Non-profit">Non-profit</option>
          <option value="School District">School District</option>
          <option value="K-12 School">K-12 School</option>
          <option value="College">College</option>
        </select>
      </div>

      <form-button
        primary
        class="btn-save-changes"
        :submitting="isWorking"
        @click.native="saveGeneralInfoChanges"
      >
        Confirm Changes
      </form-button>
    </div>

    <div class="section__header">
      <p>Organization Color Palette and Logos</p>
    </div>

    <div class="organization-form-container mb-12 pa-6">
      <div class="branding-colors mb-9">
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Primary Color"
              :initial="organization.primary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ primary: color })"
            />
            <p class="small-text">
              This color affects buttons and form inputs.
            </p>
          </div>
          <div class="preview-container">
            <tad-button primary :bg="previewPColor">
              Primary Button
            </tad-button>
          </div>
        </div>
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Secondary Color"
              :initial="organization.secondary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ secondary: color })"
            />
            <p class="small-text">This color affects links.</p>
          </div>
          <div class="preview-container">
            <tad-text secondary :color="previewSColor">
              <i class="las la-home la-lg"></i> Secondary Link
            </tad-text>
          </div>
        </div>
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Tertiary Color"
              :initial="organization.tertiary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ tertiary: color })"
            />
            <p class="small-text">
              This color will be used on other non-essential elements.
            </p>
          </div>
        </div>
      </div>

      <div class="branding-logos mb-12">
        <div class="branding-logo-container">
          <h3 class="subtitle-text mt-0">Main Logo</h3>
          <div class="image-container">
            <img class="main-logo" :src="logo" alt="" />
          </div>

          <btn-file-upload
            :upload="
              (file) => {
                dimenisionCheckAndUpload('logo_in', file)
              }
            "
            :loading="isWorking"
          >
            Upload
          </btn-file-upload>
          <p class="small-text">
            We recommend at least 500x100px for best image quality. JPEG/JPG/PNG
            only.
          </p>
        </div>

        <div class="branding-logo-container">
          <h3 class="subtitle-text mt-0">Alternate Logo</h3>
          <div class="image-container">
            <img class="alt-logo" width="80" :src="alt_logo" alt="" />
          </div>

          <btn-file-upload
            :upload="
              (file) => {
                dimenisionCheckAndUpload('alt_logo_in', file)
              }
            "
            :loading="isWorking"
          >
            Upload
          </btn-file-upload>
          <p class="small-text">
            We recommend at least 160x160px for best image quality. JPEG/JPG/PNG
            only.
          </p>
        </div>
      </div>

      <!-- Accessibility checkbox -->
      <div class="accessibility-check-container mb-6">
        <tad-input
          id="accessibility-check"
          type="checkbox"
          value=""
          v-model="accessbilityCheck"
          @change="
            (event) => {
              accessbilityCheck = event.target.checked
            }
          "
        />
        <label for="accessibility-check">
          I agree that the colors provided follow all applicable accessibility
          guidelines.
        </label>
      </div>

      <form-button
        primary
        class="btn-save-changes"
        @click.native="saveBrandingChanges"
        :submitting="isWorking"
      >
        Confirm Changes
      </form-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import { IModal, IOrganization, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import { getOrganization, updateOrganization } from "~/api/organization"
import ModalShowMessage from "~/components/modals/ModalShowMessage.vue"
import AdminTags from "~/components/organization/AdminTags.vue"
import ColorInput from "~/components/ColorInput.vue"

@Component({
  components: { ColorInput, AdminTags, TadButton, TadInput, TadLink, TadText },
  middleware: ["authenticated"],
})

export default class EditOrganizationProfile extends Vue {
      @Getter("config/logo") readonly logo!: string
  // eslint-disable-next-line camelcase
  @Getter("config/alt_logo") readonly alt_logo!: string
  @Getter("loggedInUser") readonly loggedInUser!: IUserProfile
  @Mutation("config/setPColor") readonly setPColor!: (color: string) => void
  @Mutation("config/setSColor") readonly setSColor!: (color: string) => void
  @Mutation("config/setTColor") readonly setTColor!: (color: string) => void
  @Mutation("config/setLogo") readonly setLogo!: (color: string) => void
  @Mutation("config/setAltLogo") readonly setAltLogo!: (color: string) => void

  organization = {} as IOrganization
  accessbilityCheck = false
  previewPColor = ""
  previewSColor = ""
  previewTColor = ""
  isWorking = false
  isLoading = true

  @Mutation("modals/hideModal") hideModal!: Function
  @Mutation("modals/showModal") showModal!: (modal: IModal) => {}

  validURL(url) {
    const regEx =
      /^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)$/gm
    return regEx.test(url)
  }

  async fetch() {
    try {
      this.isLoading = true
      const { data: organization } = await getOrganization(
        this.loggedInUser.organization_id
      )
      this.organization = organization
      this.previewPColor = organization.primary_color
      this.previewSColor = organization.secondary_color
      this.previewTColor = organization.tertiary_color
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  colorPicked(payload: {
    primary?: string
    secondary?: string
    tertiary?: string
  }) {
    if (payload.primary) {
      this.previewPColor = payload.primary
      this.organization.primary_color = payload.primary
    } else if (payload.secondary) {
      this.previewSColor = payload.secondary
      this.organization.secondary_color = payload.secondary
    } else if (payload.tertiary) {
      this.previewTColor = payload.tertiary
      this.organization.tertiary_color = payload.tertiary
    }
  }

  async dimenisionCheckAndUpload(key: "logo_in" | "alt_logo_in", file: File) {
    this.isWorking = true
    const MIN_WIDTH = key == "logo_in" ? 500 : 160
    const MIN_HEIGHT = key == "logo_in" ? 100 : 160
    const fr = new FileReader()
    const vm = this

    fr.onload = function () {
      const img = new Image()

      img.onload = function () {
        if (img.width < MIN_WIDTH || img.height < MIN_HEIGHT) {
          const modal: IModal = {
            title: "The selected image is too small",
            content: ModalShowMessage,
            props: {
              text: `The image should be at least <b>${MIN_WIDTH}x${MIN_HEIGHT}px</b>`,
            },
          }
          vm.showModal(modal)
          vm.isWorking = false
        } else {
          vm.upload(key, file)
        }
      }

      img.onerror = function (ev) {
        console.error(ev)
      }

      img.src = fr.result as string
    }

    fr.readAsDataURL(file)
  }

  async upload(key: "logo_in" | "alt_logo_in", file: File) {
    try {
      this.isWorking = true
      const formData = new FormData()
      formData.append(key, file)

      const { data: organization } = await updateOrganization(
        this.loggedInUser.organization_id,
        formData
      )
      this.organization = organization

      this.setLogo(this.organization.logo)
      this.setAltLogo(this.organization.alt_logo)
      this.$toast.success("Updating logo... please wait...")

      // Artificial delay to give time for the backend to process and upload the image to linode
      const reloadDelay = new Promise((resolve) => setTimeout(resolve, 3000))
      await reloadDelay

      window.location.reload()
    } catch (error) {
      this.$toast.error("Unable to update organization logo")
    } finally {
      this.isWorking = false
    }
  }

  async saveGeneralInfoChanges() {
    try {
      if (!this.validURL(this.organization.company_terms)) {
        this.$toast.error("Organization terms must be a valid URL.")
        return
      }
      if (!this.validURL(this.organization.company_external_resources)) {
        this.$toast.error("External resources must be a valid URL.")
        return
      }
      this.isWorking = true
      const formData = new FormData()
      formData.append("name", this.organization.name)
      formData.append("email", this.organization.email)
      formData.append("address", this.organization.address)
      formData.append("school_district", this.organization.school_district)
      formData.append("type", this.organization.type)
      formData.append(
        "company_external_resources",
        this.organization.company_external_resources
      )

      formData.append("company_terms", this.organization.company_terms)
      // formData.append("company_terms_document_in", this.selectedFile)

      const { data: organization } = await updateOrganization(
        this.loggedInUser.organization_id,
        formData
      )
      this.organization = organization
      this.$router.go(-1)

      this.$toast.success("Successfully updated organization details")
    } catch (error) {
      this.$toast.error("Unable to update organization details")
    } finally {
      this.isWorking = false
    }
  }

  async saveBrandingChanges() {
    if (!this.accessbilityCheck) {
      this.$toast.error("Please check the accessibility checkbox")
      return
    }

    try {
      this.isWorking = true
      const formData = new FormData()
      formData.append("name", this.organization.name)
      formData.append("email", this.organization.email)
      formData.append("address", this.organization.address)

      formData.append("school_district", this.organization.school_district)
      formData.append("primary_color", this.organization.primary_color)
      formData.append("secondary_color", this.organization.secondary_color)
      formData.append("tertiary_color", this.organization.tertiary_color)

      const { data: organization } = await updateOrganization(
        this.loggedInUser.organization_id,
        formData
      )
      this.organization = organization

      this.$toast.success("Successfully updated organization branding")
      this.setPColor(this.organization.primary_color)
      this.setSColor(this.organization.secondary_color)
      this.setTColor(this.organization.tertiary_color)
      this.$router.go(-1)
    } catch (error) {
      this.$toast.error("Unable to update organization branding")
    } finally {
      this.isWorking = false
    }
  }

}

</script>

<style lang="scss">
.btn-save-changes {
    width: 100%;
    margin-bottom: 2rem;
}
.branding-logo-container {
    button {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}
.section__header {
  padding: 1rem 0rem 2rem 0rem;
  p {
    font-weight: 700;
    color: var(--dark-text);
  }
}

.organization-form-container  {
    box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;
}
</style>