<template>
  <div>
    <tad-button primary @click="$router.go(-1)" class="mb-5"
      >Go Back</tad-button
    >
    <div class="welcome__container">
      <h1 class="title-text">Appointment Details</h1>
      <p class="small-text mb-5">View appointment details down below.</p>
    </div>

    <div class="appointment__details" v-if="appointmentData">
      <div class="appointment__host">
        <div class="appointment__host-image">
          <img
            :src="$userimg(appointmentData.availability_owner.profile_image)"
            alt="Host Image"
          />
        </div>
        <div class="appointment__host-details">
          <p class="appointment__host-name mb-2">
            {{ appointmentData.availability_owner.full_name }}
          </p>
          <p class="bold-text mb-2">
            {{ appointmentData.availability_owner.organization_name }}
          </p>
          <p
            class="light-text"
            v-if="
              appointmentData.availability_owner.city &&
              appointmentData.availability_owner.state &&
              appointmentData.availability_owner.city.length &&
              appointmentData.availability_owner.state.length
            "
          >
            {{ appointmentData.availability_owner.city }},
            {{ appointmentData.availability_owner.state }}
          </p>
          <p v-else class="light-text">No location set</p>
          <!-- <p class="light-text">
            Contact: {{ appointment.professional.email }}
          </p>
          <p class="light-text">
            License Number: {{ appointment.professional.licensenumber }}
          </p> -->
        </div>
      </div>
      <div class="appointment__host-bio">
        <p class="bold-text">About Host</p>
        <p
          v-if="
            appointmentData.availability_owner.bio &&
            appointmentData.availability_owner.bio.length
          "
          class="light-text"
        >
          {{ appointmentData.availability_owner.bio }}
        </p>
        <p v-else class="light-text">This user has not set up their bio.</p>
      </div>

      <div class="appointment__tabs">
        <span
          @click="toggleDetails"
          class="bold-text"
          :class="{ active: details }"
          >Appointment Details</span
        >

        <!-- <span
          @click="toggleDetails"
          class="bold-text"
          :class="{ active: forms }"
          >Forms</span
        > -->
      </div>

      <div v-if="details" class="appointment">
        <table class="table-auto w-full mt-5 hide-mobile">
          <!-- Table header -->
          <thead
            class="
              text-xs
              font-semibold
              py-3
              uppercase
              border-b border-slate-200
            "
          >
            <tr>
              <th class="px-2 first:pl-5 last:pr-5 py-3">
                <div class="text-left">Meeting with</div>
              </th>
              <th class="px-2">
                <div class="text-left">Date</div>
              </th>
              <th class="px-2">
                <div class="text-left">Time</div>
              </th>
              <th class="px-2">
                <div class="text-left">Meeting Type</div>
              </th>
              <th class="px-2">
                <div class="text-left">Status</div>
              </th>
              <th class="px-2">
                <span class="sr-only">Menu</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-slate-100">
            <tr class="border-b border-slate-200">
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div class="font-medium bold-text">
                  {{ appointmentData.availability_owner.full_name }}
                </div>
              </td>
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div class="text-left light-text">{{ startDate }}</div>
              </td>
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div class="text-left light-text">
                  {{ startTime }} - {{ endTime }}
                </div>
              </td>
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div
                  v-if="appointmentData.meeting_type === 'virtual'"
                  class="text-left light-text"
                >
                  virtual
                </div>
                <div v-else class="text-left light-text">in-person</div>
              </td>
              <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div
                  class="text-left bold-text"
                  v-if="appointmentData.is_completed"
                >
                  Completed
                </div>
                <div
                  class="text-left bold-text"
                  v-if="
                    appointmentData.is_confirmed &&
                    !appointmentData.is_completed
                  "
                >
                  Confirmed
                </div>
                      <div class="text-left bold-text" v-if="!appointmentData.is_confirmed && !appointmentData.is_rejected && !appointmentData.pending_cancellation">Pending</div>
      <div class="text-left bold-text" v-if="!appointmentData.is_confirmed && !appointmentData.is_rejected && appointmentData.pending_cancellation">Pending Cancellation</div>
                <div
                  class="text-left bold-text"
                  v-if="appointmentData.is_rejected"
                >
                  Rejected
                </div>
              </td>

              <td class="px-2 py-3 whitespace-nowrap text-right text-xs">
                <div v-if="appointmentData.meeting_type == 'virtual' && !appointmentData.is_rejected">
                  <div v-if="appointmentData.meeting_link">
                    <router-link
                      primary
                      :to="appointmentData.meeting_link"
                      target="_blank"
                      ><tad-button>Meeting Room Link</tad-button></router-link
                    >
                  </div>
                  <div v-else>
                    <span>Meeting link pending</span>
                  </div>
                </div>
                <div v-else-if="appointmentData.meeting_type == 'virtual' && appointmentData.is_rejected">
                  <span>This appointment has been rejected</span>
                </div>
                <div
                  v-if="appointmentData.meeting_type == 'in_person' && !appointmentData.is_rejected"
                  class="flex flex-col"
                >
                  <span
                    >Address:
                    {{
                      appointmentData.location
                        ? appointmentData.location
                        : "No Address Set"
                    }}</span
                  >
                  <span
                    >Room #:
                    {{
                      appointmentData.room_number
                        ? appointmentData.room_number
                        : "No Room Set"
                    }}</span
                  >
                </div>
                <div v-else-if="appointmentData.meeting_type == 'in_person' && appointmentData.is_rejected">
                  <span>This appointment has been rejected</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="w-full mt-5 block hide-desktop show-mobile">
          <!-- md:hidden will hide this on medium screens and larger, ensuring it's only visible on mobile. -->

          <!-- Meeting with -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Meeting with:</div>
            <div class="font-medium">
              {{ appointmentData.availability_owner.full_name }}
            </div>
          </div>

          <!-- Date -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Date:</div>
            <div class="light-text">{{ startDate }}</div>
          </div>

          <!-- Time -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Time:</div>
            <div class="light-text">{{ startTime }} - {{ endTime }}</div>
          </div>

          <!-- Meeting Type -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Meeting Type:</div>
            <div
              class="light-text"
              v-if="appointmentData.meeting_type === 'virtual'"
            >
              virtual
            </div>
            <div class="light-text" v-else>in-person</div>
          </div>

          <!-- Status -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Status:</div>
            <div v-if="appointmentData.is_completed" class="bold-text">
              Completed
            </div>
            <div
              v-if="
                appointmentData.is_confirmed && !appointmentData.is_completed
              "
              class="bold-text"
            >
              Confirmed
            </div>
            <div
              v-if="
                !appointmentData.is_confirmed && !appointmentData.is_rejected
              "
              class="bold-text"
            >
              Pending
            </div>
            <div
                  class="text-left bold-text"
                  v-if="
                    !appointmentData.is_confirmed &&
                    !appointmentData.is_rejected &&
                    appointmentData.pending_cancellation
                  "
                >
                  Pending Cancellation
                </div>
                <div
                  class="text-left bold-text"
                  v-if="
                    appointmentData.is_rejected &&
                    appointmentData.pending_cancellation
                  "
                >
                  Cancelled
                </div>
                <div
                  class="text-left bold-text"
                  v-if="appointmentData.is_rejected && !appointmentData.pending_cancellation"
                >
                  Rejected
                </div>
          </div>

          <!-- Meeting Room Link / Address / Room # -->
          <div class="mb-3">
            <div
              v-if="appointmentData.meeting_type == 'virtual'"
              class="w-full"
            >
              <div v-if="appointmentData.meeting_link" class="w-full">
                <router-link
                  primary
                  :to="appointmentData.meeting_link"
                  target="_blank"
                  class="text-right"
                >
                  <tad-button>Meeting Room Link</tad-button>
                </router-link>
              </div>
              <div v-else>
                <span class="font-semibold text-xs uppercase"
                  >Meeting link pending</span
                >
              </div>
            </div>
            <div v-if="appointmentData.meeting_type == 'in_person'">
              <div>
                <span class="font-semibold text-xs uppercase">Address:</span>
                <span class="light-text">
                  {{
                    appointmentData.location
                      ? appointmentData.location
                      : "No Address Set"
                  }}
                </span>
              </div>
              <div>
                <span class="font-semibold text-xs uppercase"
                  >Room Number:</span
                >
                <span class="light-text">
                  {{
                  appointmentData.room_number
                    ? appointmentData.room_number
                    : "No Room Set"
                }}
                </span>
                
              </div>
            </div>
          </div>
        </div>
      </div>



      <div
        class="appointment__action-buttons"
        v-if="
          appointmentData.is_confirmed !== true && appointmentData.is_rejected !== true && appointmentData.is_completed !== true && appointmentData.pending_cancellation == false
        "
      >
        <tad-button danger @click="requestCancellation"
          >Request Cancellation</tad-button
        >
      </div>

      <div
        class="appointment__action-buttons"
        v-if="
          appointmentData.pending_cancellation == true && !appointmentData.is_confirmed
        "
      >
        <em>Pending Cancellation</em>
      </div>


      <!-- <div
        class="appointment__action-buttons"
        v-if="appointment.status === 'pending cancellation' && details"
      >
        <tad-button danger disabled @click="requestCancellation"
          >Pending Cancellation Awaiting Response</tad-button
        >
      </div> -->

      <!-- <div v-if="forms">forms</div> -->
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation, Getter, Prop } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import ModalRequestCancellation from "@/components/modals/ModalRequestCancellation.vue"
import ModalRequestReschedule from "@/components/modals/ModalRequestReschedule.vue"
import ModalCreateNote from "@/components/modals/appointments/ModalCreateNote.vue"
import { getAppointment, requestCancellation } from "~/api/appointments"
import dayjs from "dayjs"
import { start } from "@popperjs/core"

@Component({
  components: { TadButton },
})
export default class appointment extends Vue {
  appointmentId = this.$route.params.id
  appointmentData: any = null

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  async getAppointment() {
    try {
      const { data } = await getAppointment(this.appointmentId)
      this.appointmentData = data
    } catch (error) {}
  }

  get startDate() {
    return dayjs(this.appointmentData.availability.time_start).format(
      "MM DD, YYYY"
    )
  }

  get startTime() {
    return dayjs(this.appointmentData.availability.time_start).format("h:mm A")
  }

  get endTime() {
    return dayjs(this.appointmentData.availability.time_end).format("h:mm A")
  }

  mounted() {
    this.getAppointment()
  }

  testModal() {
    alert("test")
  }

  requestNewTime() {
    const modal = {
      title: "Propose a new time",
      content: ModalRequestReschedule,
      props: {
        onconfirm: this.testModal,
        text: "",
        confirmText: "Request Reschedule",
      },
    }

    this.showModal(modal)
  }

  requestCancellation() {
    const modal = {
      title: "Request Cancellation",
      content: ModalRequestCancellation,
      props: {
        onconfirm: this.requestCancel,
        text: "Canellation is not guaranteed. Please provide a reason.",
        confirmText: "Request Cancellation",
      },
    }

    this.showModal(modal)
  }

  async requestCancel(reason) {
    try {
      await requestCancellation(this.appointmentId, reason)
      this.$toast.success("Successfully sent cancellation request.")
      this.getAppointment()
    } catch (error) {
      this.$toast.error("Unable to reject appointment.")
    } finally {
    }
  }

  details = true
  forms = false

  toggleDetails() {
    this.details = !this.details
    this.forms = !this.forms
  }
}
</script>

<style lang="scss" scoped>
.appointment__details {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}
.appointment__host {
  display: flex;
}

.appointment__host-image {
  margin-right: 2rem;

  img {
    border-radius: 100%;
    height: 200px;
    width: auto;
    border: 1px solid #e7e7e7;
    background-color: #f5f5fd;
  }
}

.appointment__host-details {
  color: #41496b;
  font-size: 0.875rem;
  font-weight: 300;
  p {
    margin-bottom: 0.2rem;
  }
}

.appointment__host-name {
  color: #41496b;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.light-text {
  color: #505a84;
  font-weight: 300;
  font-size: 0.8rem;
}

.bold-text {
  color: #505a84;
  font-weight: 500;
  font-size: 0.8rem;
}

.appointment__host-bio {
  margin-top: 1rem;
  margin-bottom: 2rem;
  p {
    margin-bottom: 0.5rem;
  }
}

.appointment__tabs {
  span {
    margin-right: 1rem;
    cursor: pointer;
  }
}

.active {
  border-bottom: 2px solid #41496b;
  padding-bottom: 0.2rem;
}

.appointment__action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;

  button {
    margin-left: 1rem;
  }
}

.hide-desktop {
  display: none;
}

@media only screen and (max-width: 870px) {
  .hide-mobile {
    display: none !important;
  }

  .appointment__host {
    flex-direction: column;
  }

  .show-mobile {
    display: block;
  }
}
</style>
