<template>
  <div class="professional-availability">
    <div class="header">
      <h1 class="title-text">Availability</h1>
      <p class="small-text">Manage your availability below.</p>
    </div>

    <div>
      <tad-button primary @click="$router.go(-1)" class="mb-5"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
    </div>
    <!--
    <loading-spinner v-if="isLoadingCalendar"
      >Loading your calendar</loading-spinner
    >-->
    <ProfessionalCalendar
      :events="availabilityEvents"
      :dateClicked="dateClicked"
      :visibleDatesSet="visibleDatesSet"
      :eventClicked="eventClicked"
      :refresh="fetchAvailabilities"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Getter, Mutation } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { EventApi } from "@fullcalendar/common"
import { getApiErrorMsg } from "@/api"
import { IAvailability, IModal, IUserProfile } from "~/interfaces"
import ModalSetProfessionalAvailability from "~/components/modals/ModalSetProfessionalAvailability.vue"
import ModalViewAvailabilityEvent from "~/components/modals/ModalViewAvailabilityEvent.vue"
import { getMyAvailabilities } from "~/api/availabilities"
import TadButton from "~/components/styled-components/TadButton"
import moment from "moment"

@Component({
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class ProfessionalAvailability extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile
  @Mutation("modals/showModal") showModal

  isLoadingCalendar = false
  availabilities: IAvailability[] = []
  
  visibleStartDate: string = ""
  visibleEndDate: string = ""

  get availabilityEvents() {
    const events: { [key: string]: any }[] = []

    // eslint-disable-next-line array-callback-return
    this.availabilities.map((a) => {
      const start = a.time_start // updated line
      const end = a.time_end // updated line

      events.push({
        id: a.id,
        title: a.is_booked ? "Booked" : "Available",
        start,
        end,
        allDay: false,
        classNames: ["calendar-event-container"],
        extendedProps: { availability: a },
        color: a.is_booked ? "#01ad01" : "#e0e0e0",
      })
    })

    return events
  }

  async fetchAvailabilities() {
    try {
      this.isLoadingCalendar = true
      const { data } = await getMyAvailabilities(this.visibleStartDate, this.visibleEndDate)
      this.availabilities = data
    } catch (error) {
      const msg = getApiErrorMsg(error)
      console.error(msg)
    } finally {
      this.isLoadingCalendar = false
    }
  }

  visibleDatesSet(startDate: Date, endDate: Date) {
    // For date math see notes in THS-43
    this.visibleStartDate = moment(startDate).subtract(1, 'days').format('YYYY-MM-DD')
    this.visibleEndDate = moment(endDate).add(2, 'days').format('YYYY-MM-DD')
    this.fetchAvailabilities()
  }

  dateClicked(date: Date, currentViewHasTime = false) {
    const modal: IModal = {
      title: "Set Availability",
      content: ModalSetProfessionalAvailability,
      props: {
        date,
        onclose: this.fetchAvailabilities,
        overflowY: "auto",
        currentViewHasTime,
      },
    }

    this.showModal(modal)
  }

  eventClicked(info: { event: EventApi }) {
    const eventInfo = {
      event: {
        start: info.event.start,
        end: info.event.end,
      },
      availability: this.availabilities.find((a) => a.id === info.event.id),
    }

    const modal: IModal = {
      title: "Availability Details",
      content: ModalViewAvailabilityEvent,
      props: {
        eventInfo,
        onclose: this.fetchAvailabilities,
      },
    }
    this.showModal(modal)
  }
}
</script>

<style scoped>
.header {
  margin-bottom: 1rem;
}
</style>
