<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Appointments</h1>
      <p class="small-text">Manage and view your appointments.</p>
    </div>
    <div class="flex justify-end mb-5 w-100">
      <tad-button
        primary
        class="mr-5"
        @click="$router.push('/appointments/availability')"
        v-can="'availability.manage'"
        >Manage Availabilities</tad-button
      >

      <tad-button
        primary
        class=""
        v-can="'appointment.book.client'"
        @click="bookClientAppointment"
        >Book An Appointment</tad-button
      >
    </div>
    <div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
        <ScheduleAppointmentCard v-can="'appointment.book.self'" />
        <BookForSomeoneElse v-can="'appointment.book.someone.else'" />
      </div>
        <AppointmentTable v-can="'appointment.read.client.list'" />
        <AppointmentManagementTable v-can="['appointment.read.provider.list', 'appointment.read.list']" />
      </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation, Getter } from "nuxt-property-decorator"
import dayjs from "dayjs"
import customParseFormat from "dayjs/plugin/customParseFormat"
import LocalizedFormat from "dayjs/plugin/localizedFormat"
import { IAppointment } from "~/interfaces"
import UpcomingAppointment from "~/components/appointments/UpcomingAppointment.vue"
import ScheduleAppointmentCard from "~/components/appointments/ScheduleAppointmentCard.vue"
import AppointmentTable from "~/components/appointments/AppointmentTable.vue"
import BookForSomeoneElse from "~/components/appointments/BookForSomeoneElseCard.vue"
import AppointmentManagementTable from "~/components/appointments/AppointmentManagementTable.vue"
import TadButton from "~/components/styled-components/TadButton"
import ModalBookClient from "~/components/modals/ModalBookClient.vue"

dayjs.extend(customParseFormat)
dayjs.extend(LocalizedFormat)
@Component({
  // layout: "patient",
  middleware: ["authenticated"],
  components: {
    UpcomingAppointment,
    ScheduleAppointmentCard,
    AppointmentTable,
    BookForSomeoneElse,
    AppointmentManagementTable,
    TadButton,
  },
})
export default class Appointments extends Vue {
  appointments: IAppointment[] = []
  upcomingAppointment = {} as IAppointment
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  bookClientAppointment() {
    const modal = {
      title: "Book An Appointment",
      content: ModalBookClient,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
      },
    }
    this.showModal(modal)
  }

}
</script>

<style scoped></style>
