<template>
  <div>
    <div>
      <ul class="pb-4"></ul>
    </div>

    <div class="section__header py-4">
      <p class="font-semibold text-dark-text title">Resource Tag Management</p>
      <span class="text-xs subtitle"
        >Easily categorize and enhance the searchability of your
        resources.</span
      >
    </div>
    <div class="bg-white rounded-lg shadow-md mb-8 p-8">
      <form action="">
        <div
          class="
            form-input-wrapper
            flex
            p-8
            shadow-inner
            rounded-lg
            mb-8
            bg-white
            border border-gray-300
          "
        >
          <label for="" class="mb-3">Add new tag</label>
          <input
            type="text"
            v-model="newtag"
            placeholder="enter tag name"
            class="border rounded mb-3"
          />
          <tad-button primary class="inline-block" @click.prevent="submit"
            >Create Tag</tad-button
          >
        </div>
      </form>
      <div class="rounded-lg flex flex-wrap mt-4" v-if="tags && tags.length">
        <div
          v-for="tag in tags"
          :key="tag.id"
          class="bg-gray-300 text-bold py-2 px-4 rounded-full m-1"
        >
          <span>
            {{ tag.name }}
          </span>
          <i
            class="las la-trash cursor-pointer hover:text-red-500"
            @click.prevent="remove(tag.id)"
          ></i>
        </div>
      </div>
      <div class="mb-6" v-else>
        <span>You have not added any tags</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Prop } from "nuxt-property-decorator"
import { getTags, createTag, deleteTag } from "~/api/tags"
import TadButton from "~/components/styled-components/TadButton"

type Tag = {
  id: number
  name: string
}

@Component({
  components: { TadButton },
})
export default class AdminTags extends Vue {
  @Prop({}) orgId
  tags: Tag[] = []
  newtag: string = ""

  async fetchTags() {
    const { data: tags } = await getTags()
    this.tags = tags
  }

  async submit() {
    try {
      let name = this.newtag.trim() // trimming the name to avoid leading and trailing spaces
      let organization_id = this.orgId

      // Checking if the tag already exists
      if (
        this.tags.find((tag) => tag.name.toLowerCase() === name.toLowerCase())
      ) {
        this.$toast.error("This tag already exists.")
        return
      }
      await createTag(name, organization_id)
      // force reload to update video list (needs refactor)
      this.$toast.success("Success! Your new tag was added.")
      this.newtag = ""
      this.fetchTags()
    } catch (error) {
      this.$toast.error(`Something went wrong, Try Again!`)
    }
  }

  async remove(id) {
    try {
      await deleteTag(id)
      // force reload to update video list (needs refactor)
      this.$toast.success("Success! Your tag was deleted.")
      this.fetchTags()
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("interaction.resource.manage")) {
      this.fetchTags()
    }
  }
}
</script>

<style lang="scss" scoped></style>
