<template>
  <div>
    <div class="section__header">
      <p>Crisis Button Resources</p>
      <span class="small-text"
        >Create crisis resources for your organization.</span
      >
    </div>

    <div class="container">
      <div>
        <span class="resource__subtitle">Resource Preview</span>
        <div v-if="resources.length" class="resource__container pa-6">
          <div
            v-for="resource in resources"
            :key="resource.id"
            class="resource"
          >
            <div class="resource__text">
              <span
                class="resource__edit"
                @click.prevent="modalEditInteraction(resource, resource.id)"
                >Edit Resource <i class="las la-pencil-alt"></i
              ></span>
              <span class="resource__name">{{ resource.name }}</span>
              <span class="resource__edit" style="text-decoration: none">
                Resource Button Action: {{ resource.number_type }}
              </span>
              <div class="resource__button">
                <tad-button v-if="resource.number_type === 'call'"
                  ><a style="color: white" :href="`tel:${resource.number}`">{{
                    resource.button_text
                  }}</a></tad-button
                >
                <tad-button v-else
                  ><a style="color: white" :href="`sms:${resource.number}`">{{
                    resource.button_text
                  }}</a></tad-button
                >
              </div>
              <span class="resource__desc">{{ resource.description }}</span>
            </div>
            <div></div>
          </div>
        </div>

        <div v-else class="organization-form-container mb-6 pa-6">
          <span>Your organization has not added any resources.</span>
        </div>

        <div>
          <tad-button
            class="resource__button"
            @click.prevent="modalCreateInteraction"
            ><i class="las la-life-ring"></i> Add a New Crisis
            Resource</tad-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import { IModal } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { getResources } from "~/api/interactions"
import ModalCreateInteraction from "~/components/modals/ModalCreateInteraction.vue"
import ModalEditCrisisResource from "~/components/modals/ModalEditCrisisResource.vue"

@Component({
  components: { TadButton, TadInput },
  middleware: ["authenticated"],
})
export default class CrisisResources extends Vue {
  resources: any[] = []
  @Mutation("modals/hideModal") hideModal!: Function
  @Mutation("modals/showModal") showModal!: (modal: IModal) => {}

  mounted() {

    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("tag.manage")) {
      this.fetchResources()
    }
    
  }

  modalCreateInteraction() {
    const modal = {
      title: "Create New Crisis Resource",
      content: ModalCreateInteraction,
      props: {},
    }
    this.showModal(modal)
  }

  modalEditInteraction(resource, id) {
    const modal = {
      title: "Edit Crisis Resource",
      content: ModalEditCrisisResource,
      props: {
        id,
        resource,
      },
    }
    this.showModal(modal)
  }

  async fetchResources() {
    try {
      const { data: resources } = await getResources()
      this.resources = resources
    } catch (e) {
      this.$toast.error("Something went wrong trying to fetch resources!")
    }
  }

}
</script>


<style>
.resource__button {
  width: 100%;
}

.resource {
  padding: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), inset 0 0 0 1px #d1d5db;
}

.resource__container {
  padding: 0 !important;
  padding-bottom: 1rem !important;
}

.resource__text {
  display: flex;
  flex-direction: column;
}

.resource__button {
  margin-bottom: 1rem;
}
.resource__name {
  color: var(--dark-text);
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.resource__desc {
  color: var(--dark-text) !important;
  font-size: 0.8rem !important;
}

.resource__subtitle {
  font-size: 0.7rem;
  color: var(-light-text);
  margin-bottom: 1rem !important;
  display: block;
}

.resource__edit {
  text-decoration: underline;
  font-weight: 400;
  color: var(--light-text);
  font-size: 0.7rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.resource__edit:hover {
  color: var(--dark-text);
}

</style>
