<template>
  <div>
    <loading-spinner v-if="isLoading">
      Loading organization details...
    </loading-spinner>
    <div v-else class="organization-profile">
      <div class="welcome__container">
        <h1 class="title-text">Manage Organization</h1>
        <p class="small-text">Manage your organization settings down below.</p>
      </div>

      <div class="section__header">
        <p>Organization Information</p>
      </div>

      <div class="container">
        <div class="organization__container-header">
          <div>
            <img class="h-12" :src="organization.logo" alt="" />
          </div>

          <tad-button
            class="btn-add-user"
            @click="$router.push(`/admin/organization/edit/${organization.id}`)"
            ><i class="las la-pen"></i> Make Changes</tad-button
          >
        </div>
        <div class="organization__info">
          <p class="organization__name">{{ organization.name }}</p>
        </div>
        <div class="organization__info">
          <span>Address: </span>
          <span v-if="organization.address">{{ organization.address }}</span>
          <span v-else>No Data Available</span>
        </div>
        <div class="organization__info">
          <span>Email: </span>
          <span v-if="organization.email">{{ organization.email }}</span>
          <span v-else>No Data Available</span>
        </div>
        <!-- <div class="organization__info">
        <span>School District: </span>
        <span v-if="organization.school_district">{{
          organization.school_district
        }}</span>
        <span v-else>No Data Available</span>
      </div> -->
        <div class="organization__info mb-10">
          <span>Organization URL: </span>
          <span v-if="organization.url">{{ organization.url }}</span>
          <span v-else>No Data Available</span>
        </div>
        <!-- <div class="organization__info">
        <span>Organization Type: </span>
        <span v-if="organization.type">{{ organization.type }}</span>
        <span v-else>No Data Available</span>
      </div> -->

        <div class="organization__info info-highlight mb-5">
          <span>FEATURES AVAILABLE TO YOUR ORGANIZATION:</span>
        </div>

        <div class="features" v-if="features && features.length">
          <div v-for="feature in features" :key="feature.id" class="feature">
            <div class="feature__info">
              <span>{{ feature.name[0].toUpperCase() + feature.name.slice(1)}}</span>
            </div>
          </div>
        </div>

        <tad-button
          class="btn-add-user-mobile"
          @click="$router.push(`/admin/organization/edit/${organization.id}`)"
          ><i class="las la-pen"></i> Edit Organization Information</tad-button
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter } from "vuex-class"
import { IOrganization, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import { getOrganization, getOrgFeatures } from "~/api/organization"
import ColorInput from "~/components/ColorInput.vue"
@Component({
  components: { ColorInput, TadButton, TadInput, TadLink, TadText },
  middleware: ["authenticated"],
})
export default class EditOrganization extends Vue {
  @Getter("loggedInUser") readonly loggedInUser!: IUserProfile
  organization = {} as IOrganization

  isWorking = false
  isLoading = true
  features: any[] = []

  async loadOrg() {
    try {
      this.isLoading = true
      const { data: organization } = await getOrganization(
        this.loggedInUser.organization_id
      )
      this.organization = organization
      const { data: features } = await getOrgFeatures(
        this.loggedInUser.organization_id
      )
      this.features = features
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("organization.edit.access")) {
      this.loadOrg()
    }
  }
}
</script>

<style lang="scss" scoped>
.info-highlight {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.btn-add-user-mobile {
  display: none;
}
.organization__name {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.features {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  font-size: 0.8rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), inset 0 0 0 1px #d1d5db;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  margin-right: 1rem;
  flex-wrap: wrap;
  height: 50px;
}
.organization__info {
  font-size: .8rem;
  margin-bottom: 1rem;
  span:first-of-type {
  }
}

.organization__container-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container {
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
}

.section__header {
  padding: 1rem 0rem 2rem 0rem;
  p {
    font-weight: 700;
    color: var(--dark-text);
  }
}


@media only screen and (max-width: 986px) {
  .feature {
    width: 100%;
    margin-right: 0;
  }
  .welcome__container {
    margin-bottom: 2rem;
  }

  .btn-add-user-mobile {
  display: block;
  width: 100%;
}

.btn-add-user {
  display: none;
}
}
</style>

