<template>
  <div>
    <div class="activity__navbar">
      <div class="user__details">
        <div class="user__image">
          <img
            src="https://static.generated.photos/vue-static/face-generator/landing/wall/14.jpg"
            alt=""
          />
        </div>
        <div class="user__name">
          <span>John Smith</span>
          <span class="user__status">Verified Publisher</span>
        </div>
      </div>
      <div>
        <button class="btn main">Share Activity Feed</button>
      </div>
    </div>

    <div class="activity__center">
      <div>
        <div class="activity__center-nav">
          <span class="text-2">Latest</span>
          <span class="text-2">View All</span>
        </div>
        <div>
          <div class="box"></div>
          <div class="box"></div>
          <div class="box"></div>
        </div>
      </div>

      <div>
        <div class="text">
          <span class="text">
            Pinned Content <i class="las la-thumbtack"></i>
          </span>
        </div>
        <div><div class="box"></div></div>
      </div>
    </div>

    <div class="section-title-text">
      <span class="subtitle-text">Video Analytics</span>
      <span class="small-text subtitle__text"
        >Track important information about your video.</span
      >
    </div>

    <div class="analytics__grid">
      <div class="analytic__box">
        <span>Total Views</span>
        <p>234</p>
      </div>
      <div class="analytic__box">
        <span>Total Shares</span>
        <p>234</p>
      </div>
      <div class="analytic__box">
        <span>Total Storage Used</span>
        <p>256kb</p>
      </div>
    </div>
  </div>
</template>

<script>
import { Component, Vue } from "nuxt-property-decorator"
@Component({
  components: {},
})
export default class Activity extends Vue {}
</script>

<style lang="scss" scoped>
.subtitle__text {
  display: block;
  margin-top: 1rem;
}

.activity__center-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.text {
  margin-bottom: 1rem;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.text-2 {
  color: var(--dark-text);
  font-size: 0.9rem;
}

.activity__navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.activity__center {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.user__status {
}

.box {
  min-height: 100px;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  background-color: white;
  margin-bottom: 1rem;
}

.user__name {
  display: flex;
  flex-direction: column;

  span {
    font-size: 0.9rem;
    color: var(--dark-text);
  }
}

.user__details {
  display: flex;
}
.user__image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
}

.section-title-text {
  padding-bottom: 1rem;
}

// styles for the analytics boxes

.analytics__grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.analytic__box {
  padding: 2rem;
  background-color: white;
  box-shadow: var(--default-box-shadow);

  span {
    color: var(--dark-text);
    font-size: 0.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.7rem;
    padding: 1rem 0;
    color: var(--dark-text);
  }
}
</style>
