<template>
  <div class="admin__appointment-table">
    <div class="admin__appointment-table-title-div">
      <p class="admin__appointment-table-title">All Appointments</p>
      <div class="admin__appointment-table-filters">
        <p class="admin__appointment-table-search-label">Filter by:</p>
        <select name="" id="" @change="filterAppointments">
          <option value="all">View All</option>
          <option value="confirmed">Confirmed</option>
          <option value="rejected">Rejected</option>
          <option value="completed">Completed</option>
        </select>
        <form class="user-search-form" onSubmit="return false;">
          <div class="form-input-wrapper">
            <span class="search-icon">
              <i class="las la-search mr-1"></i>
            </span>
            <input
              type="text"
              class="search-input"
              placeholder="Search student.."
              @change="filterByStudent"
              @enter.prevent="filterByStudent"
            />
          </div>
        </form>
      </div>
    </div>
    <div class="admin__appointment-table-legend">
      <div>
        <p>Professional</p>
      </div>
      <div class="hide-mobile">
        <p>Student</p>
      </div>
      <div class="hide-mobile">
        <p>Date</p>
      </div>
      <div class="hide-mobile">
        <p>Time</p>
      </div>
      <div class="hide-mobile">
        <p>Status</p>
      </div>
      <div></div>
    </div>

    <div class="admin__appointment-list-container">
      <div v-if="appointments.length > 0">
        <div
          v-for="appointment in filteredAppointments"
          :key="appointment.id"
          class="admin__appointment-list-item"
        >
          <div class="appointment__student-name">
            <span v-if="appointment.professional.full_name">{{
              appointment.professional["full_name"]
            }}</span>
            <span v-else>No name to display</span>
          </div>
          <div class="hide-mobile">
            <span v-if="appointment.patient.full_name">{{
              appointment.patient["full_name"]
            }}</span>
            <span v-else>No name to display</span>
          </div>
          <div class="hide-mobile">
            <span>{{ $appointmentStartTimezoneSensitive(appointment, 'MMM DD YYYY') }}</span>
          </div>
          <div class="hide-mobile">
            <span>{{
              $appointmentStartTimezoneSensitive(appointment, 'hh:mm A') + "-" + $appointmentEndTimezoneSensitive(appointment, 'hh:mm A')
            }}</span>
          </div>
          <div class="hide-mobile">
            <b>
              <em>
                <span>{{
                  appointment.is_completed
                    ? "Completed"
                    : appointment.is_confirmed
                    ? "Confirmed"
                    : appointment.is_rejected
                    ? "Rejected"
                    : "Pending"
                }}</span>
              </em>
            </b>
          </div>
          <div>
            <tad-button
              primary
              class="btn secondary"
              @click="openModalAppointment(appointment)"
            >
              Details
            </tad-button>
          </div>
        </div>
      </div>
      <div v-else class="admin__appointment-table-error">
        <p>No Appointments To Display</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import { getAppointments } from "~/api/appointments"
import ModalViewAppointmentDetails from "~/components/modals/ModalViewAppointmentDetails.vue"
import { IAppointment } from "~/interfaces"
import dayjs from "dayjs"

import { IModal } from "~/interfaces"

import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"

@Component({
  middleware: ["authenticated"],
  components: { TadButton, OrangeButton },
})
export default class AdminAppointmentList extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  appointments: any = []
  filteredAppointments: IAppointment[] = []
  userList: any = []

  mounted() {
    this.fetchAllAppointments()
  }

  async fetchAllAppointments() {
    try {
      const { data: appointments } = await getAppointments()
      this.appointments = appointments.reverse()
      this.filteredAppointments = this.appointments
    } catch {}
  }

  filterAppointments(e) {
    switch (e.target.value) {
      case "all":
        this.filteredAppointments = this.appointments
        break
      case "confirmed":
        this.filteredAppointments = this.appointments.filter(
          (appointment) => appointment.is_confirmed === true
        )
        break
      case "rejected":
        this.filteredAppointments = this.appointments.filter(
          (appointment) => appointment.is_rejected === true
        )
        break
      case "is_completed":
        this.filteredAppointments = this.appointments.filter(
          (appointment) => appointment.is_rejected === true
        )
        break
      default:
        this.filteredAppointments = this.appointments
    }
  }

  filterByStudent(e) {
    e.preventDefault()
    if (
      (this.filteredAppointments = this.appointments.filter(
        (appointment) =>
          appointment.patient.full_name.indexOf(e.target.value) !== -1
      ))
    ) {
      this.filteredAppointments = this.appointments.filter(
        (appointment) =>
          appointment.patient.full_name
            .toLowerCase()
            .indexOf(e.target.value.toLowerCase()) !== -1
      )
    } else {
      this.filteredAppointments = this.appointments
    }
  }

  openModalAppointment(appointment: IAppointment) {
    const modal: IModal = {
      title: "Appointment Details",
      content: ModalViewAppointmentDetails,
      props: {
        appointment,
      },
    }
    this.showModal(modal)
  }

  formatDate(date) {
    return dayjs(date).format("MMM DD, YYYY")
  }
}
</script>

<style scoped lang="scss">
.admin__appointment-table {
  border-radius: 5px;
  min-height: 350px;
  box-shadow: var(--default-box-shadow);
  background-color: white;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

.admin__appointment-table-title-div {
  padding: 1rem 2rem;
  border-bottom: 1px solid #e2e8f0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  margin: 0;
  border-radius: 5px;
  padding: 0.6rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 2px solid #f0f0f0;
}

.admin__appointment-table-search-label {
  font-size: 0.7rem;
  color: var(--dark-text);
  width: 100px;
}
.admin__appointment-table-title {
  color: var(--dark-text);
  font-size: 0.9rem !important;
  font-weight: 700 !important;
}

.admin__appointment-table-legend {
  padding: 1.5rem 2rem;
  color: var(--dark-text);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  border-bottom: 1px solid #e2e8f0 !important;
  width: 100%;
}

.admin__appointment-table-legend div {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

.admin__appointment-table-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.admin__appointment-list-item {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: space-between;
  border-bottom: 1px solid #e2e8f0 !important;
  font-size: 0.9rem;
  color: var(--dark-text);
}

.admin__appointment-list-item:hover {
  background-color: #f4f5f8;
}

.admin__appointment-list-item div {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  align-items: center;
}

.admin__appointment-list-container {
  padding: 0rem 0rem;
}

.appointment__student-name {
  color: var(--main-color);
  font-weight: bold;
}

.admin__appointment-table-filters {
  display: flex;
  align-items: center;
}

.form {
  margin-top: 0rem;
  position: relative;
}

.user-search-form {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin-left: 1rem;
  

  .search-icon {
    position: absolute;
    left: 0.75rem;
    top: 60%;
    transform: translateY(-50%);
    color: rgb(122, 122, 122);
  }
  .form-input-wrapper {
    gap: 0.25rem;
    input {
      padding-left: 2rem;
    }
  }
}
@media only screen and (max-width: 870px) {
  .hide-mobile {
    display: none !important;
  }

  .admin__appointment-list-item div {
    width: 25%;
  }

  .admin__appointment-table-legend div {
    width: 25%;
  }

  .admin__appointment-table-title {
    display: none;
  }

  .admin__appointment-table-search-label {
    display: none;
  }
}
</style>