<template>
  <div>
    <div class="welcome__container">
      <h3 class="title-text">Organization Terms</h3>
      <p class="small-text">Add a link or document to your organization terms and data privacy act. This will be display upon user sign-up.</p>
    </div>

    <div class="upload__div">
      <span class="upload__title">Add a link or upload a document</span>
      <div class="form-input-wrapper mb-6">
        <label for="" class="name__label">Upload your document</label>
        <tad-input type="file"></tad-input>
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="link" class="small-text">Add a Link to your terms.</label>
        <tad-input type="text" name="link" required />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadInput, TadButton },
})
export default class AdminCreateTerms extends Vue {}
</script>

<style lang="scss" scoped>
.title-text {
  font-size: 1.7rem !important;
}

.title-text:nth-of-type(1) {
  margin-top: 4rem;
  font-size: 1.5rem !important;
}

.upload__div {
  padding: 2rem;
  box-shadow: 0 8px 24px rgb(149 157 165/20%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.name__label label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.upload__title {
  color: var(--dark-text);
  padding-bottom: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 986px) {
  .welcome__container {
    margin-bottom: 2rem;
  }
}
</style>