<template>
  <div>
    <div class="card hover:shadow-lg mt-10">
      <!-- Filters -->
      <div class="grid grid-cols-5 gap-4 mb-8">
        <div class="form-group">
          <label>Search</label>
          <input
            type="text"
            class="form-control py-3"
            placeholder="Search by tag or name..."
            v-model="search_string"
            @keyup="updateSeachField"
          />
        </div>
        <div class="form-group">
          <label for="">Type</label>
          <select
            class="form-control"
            v-model="type"
            @change.prevent="updateSeachField"
          >
            <option :value="null">all</option>
            <option value="video">videos</option>
            <option value="article">articles</option>
            <option value="audio">podcasts</option>
            <option value="external_resource">external resources</option>
          </select>
        </div>
        <div class="">
          <label for="">Status</label>
          <select
            class="form-control"
            v-model="approved"
            @change.prevent="updateSeachField"
          >
            <option :value="null">all</option>
            <option :value="true">approved</option>
            <option :value="false">pending approval</option>
          </select>
        </div>
        <div class="">
          <label for="">Ownership</label>
          <select
            class="form-control"
            v-model="me"
            @change.prevent="updateSeachField"
          >
            <option :value="null">all</option>
            <option :value="true">My Resources</option>
          </select>
        </div>
        <div class="py-10">
          <label for="" class="text-red-500 cursor-pointer" @click="clearFilters">Reset</label>
        </div>
      </div>

      <!-- Card body -->
      <div class="list-header">
        <div class="status">
          <span class="list-header-title"> Type </span>
        </div>
        <div>
          <span class="list-header-title"> Title </span>
        </div>

        <div class="view">
          <span class="list-header-title"> Action </span>
        </div>
      </div>
      <div v-if="results.length">
        <div v-for="result in results" :key="result.id" class="list videos">
          <div>
            <span>
              {{ result.title }}
            </span>
          </div>
          <div class="status">
            <span>
              {{
                result.type !== "external_resource"
                  ? result.type
                  : "external resource"
              }}
            </span>
          </div>
          <div class="view">
            <span>
              <tad-button
                v-if="!me"
                primary
                @click="manageResource(result.type, result.id)"
              >
                Review
              </tad-button>
              <tad-button
                v-else
                primary
                @click="goToAdminResource(result.type, result.id)"
              >
                Details
              </tad-button>
            </span>
            <span style="margin-left: 5px">
              <tad-button @click="goToLink(result.type, result.id)">
                Public View
              </tad-button>
            </span>
          </div>
        </div>
      </div>
      <div v-if="!results.length && !isLoading" class="no-audios-box">
        <p>No Resources To Display</p>
      </div>
      <loading-spinner v-if="isLoading">Loading resources...</loading-spinner>
      <div class="list-pagination">
        <ServerPaginationControls
          :endpoint="getPaginatorList"
          :styling="{ align: 'right', paddingLeft: '2rem' }"
          @updated-items="updateList"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation } from "nuxt-property-decorator"
import { IModal, IVideoResource } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import { searchResults, getSingleExternalResource } from "~/api/resources"
import { getArticle } from "~/api/articles"

@Component({
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class AdminResourceMasterList extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  videos: IVideoResource[] = []
  listLength: number = 0

  count = 0

  results: any = []
  externalResourceUrl: any = ""
  articleSlug = ""
  skip = 0
  limit = 10
  type = null
  search_string = ""
  approved: any = null
  me: any = null
  isLoading = false

  mounted() {
    this.fetchResults()
  }

  async fetchResults() {
    try {
      const { data } = await searchResults(
        this.skip,
        this.limit,
        this.search_string,
        this.type,
        this.approved,
        this.me
      )
      this.count = data.count
      this.results = data.resources
    } catch {}
  }

  async fetchExternalResourceUrl(id) {
    try {
      const { data } = await getSingleExternalResource(id)
      this.externalResourceUrl = data.link
      return data.link
    } catch {}
  }

  async fetchArticleSlug(id) {
    const { data } = await getArticle(id)
    this.articleSlug = data.slug
    return data.slug
  }

  async goToLink(type, id) {
    if (type === "video") {
      this.$router.push({ path: `/resources/videos/${id}` })
    }
    if (type === "audio") {
      this.$router.push({ path: `/resources/podcasts/${id}` })
    }
    if (type === "external_resource") {
      let url: any = await this.fetchExternalResourceUrl(id)
      window.open(url, "_blank")
    }

    if (type === "article") {
      let slug = await this.fetchArticleSlug(id)
      this.$router.push({ path: `/resources/articles/${slug}` })
    }
  }

  manageResource(type, id) {
    switch (type) {
      case "video":
        this.$router.push({ path: `/resources/admin/videos/${id}` })
        break
      case "audio":
        this.$router.push({ path: `/resources/admin/podcasts/${id}` })
        break
      case "external_resource":
        this.$router.push({
          path: `/resources/admin/external-resources/${id}`,
        })
        break
      case "article":
        this.$router.push({ path: `/resources/manage/articles/${id}` })
        break
    }
  }

  async goToAdminResource(type, id) {
    if (type === "video") {
      this.$router.push({ path: `/resources/admin/my/videos/${id}` })
    }
    if (type === "audio") {
      this.$router.push({
        path: `/resources/admin/my/podcasts/${id}`,
      })
    }
    if (type === "external_resource") {
      this.$router.push({
        path: `/resources/admin/external-resources/${id}`,
      })
    }

    if (type === "article") {
      this.$router.push({
        path: `/resources/admin/my/articles/${id}`,
      })
    }
  }

  getPaginatorList(skip: any = 0, limit: any = 5) {
    return searchResults(
      skip,
      limit,
      this.search_string,
      this.type,
      this.approved,
      this.me
    )
  }

  updateList(results) {
    this.results = results.resources
    this.count = results.count
  }

  clearSearch() {
    this.search_string = ""
  }

  async updateSeachField() {
    this.isLoading = true
    const { data } = await searchResults(
      this.skip,
      this.limit,
      this.search_string,
      this.type,
      this.approved,
      this.me
    )
    this.count = data.count
    this.results = data.resources
    this.isLoading = false
  }

  async clearFilters() {
    this.type = null
    this.search_string = ""
    this.approved = null
    this.me = null

    this.fetchResults()
  }
}
</script>

<style lang="scss" scoped>
.double-input {
  width: 100%;
  div {
    width: 150px !important;
  }
}
.special-input {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 1rem;
  color: var(--dark-text);
  cursor: pointer;
  text-decoration: underline;
}
.la-undo {
  color: rgb(143, 25, 25);
  cursor: pointer;
}
.special {
}
select {
  padding: 0.67rem !important;
  margin-right: 1rem;
}
.user-search-form {
  width: 100%;
  max-width: 500px;
  position: relative;

  .search-icon {
    position: absolute;
    left: 0.75rem;
    top: 53%;
    transform: translateY(-50%);
    color: rgb(201, 201, 201) !important;
  }
  .form-input-wrapper {
    gap: 0.25rem;
    input {
      min-width: 250px;
      border-radius: 5px;
      padding-left: 2rem;
      margin-right: 1rem;
    }
  }
}
.list-pagination {
  padding-left: 2rem;
}

.videos {
  padding-left: 1rem;
  padding-right: 1rem;
}

.videos:hover {
  background-color: #f4f5f8;
}

.no-audios-box {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--light-text);
}

.resource-table {
  background-color: white;
  padding: 2rem 0rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  margin-top: 1rem;
}
.top {
  border-bottom: 0px !important;
}
.filters {
  border-bottom: 0px !important;
  width: 100% !important;
}
.list-header {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;

  span {
    display: block;
    font-size: 0.9rem;
    font-weight: normal !important;
    color: var(--dark-text) !important;
    font-weight: bold !important;
  }

  div {
    width: 30%;
    display: flex;
    padding-bottom: 1rem;
  }

  .view {
    justify-content: end;
  }

  .status {
    display: flex;
    justify-content: flex-start;
  }

  border-bottom: 2px solid #f0f0f0;
}

.list-header-2 {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;

  span {
    display: block;
    font-size: 0.9rem;
    font-weight: normal !important;
    color: var(--dark-text) !important;
    font-weight: bold !important;
  }

  div {
    display: flex;
    padding-bottom: 1rem;
  }

  .input {
    width: 100%;
    display: flex;
    padding-bottom: 1rem;
  }
  .view {
    justify-content: end;
  }

  .status {
    display: flex;
    justify-content: flex-start;
  }

  border-bottom: 2px solid #f0f0f0;
}

.list-header-title {
  font-weight: bold;
  color: #5e6367;
  font-size: 0.8rem;
}

.list {
  .view {
    justify-content: end;
    align-items: center;
    padding: 0.8rem 0;
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  div {
    width: 30%;
    display: flex;
    align-items: center;
  }
  span {
    font-size: 0.8rem;
    font-weight: 500 !important;
    color: var(--dark-text) !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

@media only screen and (max-width: 560px) {
  .special {
    display: flex;
    flex-direction: column;
  }

  .special-input {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 0rem;
  }
  .list {
    .view {
      justify-content: end;
      align-items: center;
      padding: 0.5rem 0;
    }
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      width: 40%;
    }
    span {
      font-size: 0.8rem;
    }
  }
  .view {
    width: 60% !important;

    button {
      padding: 0.5rem !important;
    }
  }

  .status {
    display: none !important;
  }
}
</style>
