<template>
  <transition mode="out-in" name="alert">
    <div v-if="msg" class="alert-container" :class="type">
      <i class="las la-lg" :class="icon"></i>
      <span v-html="msg"></span>
      <button
        v-if="dissmissable"
        class="btn-alert-close"
        @click.prevent="$emit('alert-close')"
      >
        <i class="las la-times"></i>
      </button>
    </div>
  </transition>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator"

export type AlertProps = {
  msg: string
  type: "error" | "info" | "success"
}

@Component({})
export default class Alert extends Vue {
  @Prop(String) readonly msg!: AlertProps["msg"]
  @Prop(String) readonly type!: AlertProps["type"]
  @Prop({ default: true }) readonly dissmissable!: boolean

  get icon(){
    switch(this.type){
      case 'success': return 'la-check-circle'
      default: return 'la-exclamation'
    }
  }
}
</script>

<style lang="css" scoped>
.alert-container {
  padding: 0.5rem 0.5rem;
  width: 100%;
  border-radius: 0px;
  color: #555;
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: 10px auto 25px;
  font-size: 0.75rem;
}
.btn-alert-close {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
}
.btn-alert-close:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.alert-container.error {
  background-color: rgb(240, 84, 84, 0.575);
  color: #fff;
}
.alert-container.info {
  background-color: var(--body-color);
}
.alert-container.success {
  background-color: rgba(13, 197, 7, 0.575);
  color: #fff;
}
.alert-enter-active {
  transition: all 0.3s ease;
}
.alert-enter {
  transform: translateY(-10px);
  opacity: 0;
}
.alert-enter-to {
  transform: translateY(0px);
  opacity: 1;
}
</style>
