<template>
  <div class="editor-container">
    <editor
      v-model="content"
      tinymce-script-src="/vendor/tinymce/tinymce.min.js"
      apiKey="no-api-key"
      :init="{
        height: 500,
      }"
      :initialValue="initialValue"
      plugins="preview image fullscreen lists link"
      toolbar="undo redo | styleselect | bold italic underline link | alignleft aligncenter alignright alignjustify | numlist bullist | preview fullscreen"
      :disabled="disabled"
    >
    </editor>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch, Prop } from "nuxt-property-decorator"
import Editor from "@tinymce/tinymce-vue"

@Component({
  components: { Editor },
})
export default class ArticleEditor extends Vue {
  @Prop(String) initialValue!: string
  @Prop({ default: false }) disabled!: boolean

  @Watch("content")
  changed() {
    this.$emit("content-changed", this.content)
  }

  content = ""
}
</script>

<style lang="scss" scoped></style>
