<template>
  <div class="article-card" @click="$router.push(`/resources/articles/${article.slug}`)">
    <div
      v-if="article.thumbnail_name"
      class="img-container"
      :style="`background-image: url(${fullApiUrl}/articles/thumbnail/${article.thumbnail_name})`"
    ></div>
    <div v-else class="img-container no-thumbnail">No thumbnail</div>
    <div class="info-container">
      <p class="title">{{ $ellipsis(article.title, 70)}}</p>
      <p class="description">{{ $ellipsis(article.description) }}</p>

      <p class="footer">
        <!-- <span class="author">Author Name</span>
            <span>&bull;</span> -->
        <span class="time">{{
          $dateFormat(article.updated_at, "MMM DD")
        }}</span>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { IArticle } from "~/interfaces"

@Component({})
export default class ArticleCard extends Vue {
  @Prop({ default: () => {} }) readonly article!: IArticle
  @Prop({ default: false }) readonly preview!: boolean
  fullApiUrl = process.env.fullApiUrl
}
</script>

<style lang="scss" scoped>
.article-card {
  transition: all 0.2s ease;
  border-radius: 3px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 150px auto;
  gap: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 2rem;

  .img-container {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.no-thumbnail {
      display: grid;
      place-items: center;
      background-color: #eee;
    }
  }

  .info-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .title {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 1.35rem;
  }
  .description {
    color: rgb(49, 49, 49);
    font-size: 0.9rem;
  }

  .footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: auto;
    color: rgb(80, 80, 80);
    font-size: 0.75rem;
  }

  &:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  }
}
</style>