<template>
  <div>
    <div class="welcome__container">
      <div>
        <ul style="padding-bottom: 1rem">
          <li>
            <tad-button primary @click="$router.go(-1)"
              ><i class="las la-arrow-left mr-1"></i>Back</tad-button
            >
          </li>
        </ul>
      </div>
      <h1 class="title-text">Podcast Upload</h1>
      <p class="small-text">Fill out the form below to upload a podcast.</p>
    </div>

    <div class="upload-container">
      <div>
        <span class="upload__step">Select Audio File</span>
      </div>
      <form enctype="multipart/form-data">
        <div class="form-section">
          <div id="app" class="upload-box">
            <div
              class="upload-section"
              @dragover="dragover"
              @dragleave="dragleave"
              @drop="drop"
            >
              <input
                id="assetsFieldHandle"
                ref="file"
                type="file"
                name=""
                class="upload__input"
                accept="audio/*"
                @change="onFileSelected"
              />

              <label
                v-if="filename"
                for="assetsFieldHandle"
                class="block cursor-pointer"
              >
                <div>
                  {{ filename }}
                </div>
              </label>

              <label
                v-else
                for="assetsFieldHandle"
                class="block cursor-pointer"
              >
                <div class="upload__message">
                  Drag and a drop an audio file or
                  <span class="upload__highlight">click anywhere</span> to
                  upload a file.
                </div>
              </label>
            </div>
          </div>
          <span class="upload-message">
            Only audio files allowed, maximum file size is 100MB.
          </span>
        </div>

        <!-- step 2 form -->

        <div class="form-section">
          <div class="">
            <div>
              <span class="upload__step">Enter Basic information</span>
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="title" class="small-text">Podcast Title</label>
              <tad-input id="title" v-model="title" type="text" name="title" />
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="description" class="small-text"
                >Enter a description</label
              >
              <tad-input
                id="description"
                v-model="description"
                type="text"
                name="description"
              />
            </div>
            <div class="form-input-wrapper mb-9">
              <label for="thumbnail" class="small-text">Change Thumbnail</label>
              <tad-input
                id="thumbnail"
                type="file"
                accept="image/png, image/gif, image/jpeg"
                @change="onImageSelected"
              />
            </div>

            <!-- audience types -->
            <div class="form-input-wrapper mb-6">
              <label for="title"
                ><strong>Select Audience (Select all that apply)</strong></label
              >
            </div>

            <div
              v-if="roles.length"
              class="form-input-wrapper special-wrapper mb-6"
            >
              <div v-for="role in roles" :key="role.id" class="mb-6 mr-6">
                <input
                  v-model="audience"
                  type="checkbox"
                  :value="role.name"
                  name="audience"
                />
                <label for="audience" class="capitalize">{{ role.name }}</label>
              </div>
            </div>

            <div class="form-input-wrapper mb-12">
              <label><strong>Select Tags</strong></label>
              <ul v-if="tags.length > 0" class="my-4 flex space-x-2">
                <li
                  v-for="(tag, index) in tags"
                  :key="index"
                  class="
                    border
                    px-2
                    rounded
                    py-1
                    flex-shrink
                    cursor-pointer
                    hover:bg-gray-200
                  "
                >
                  <span>{{ tag }}</span>
                  <button
                    class="btn-remove-tag"
                    @click.prevent="removeTag(index)"
                  >
                    <i class="las la-times-circle"></i>
                  </button>
                </li>
              </ul>
              <div class="form-add-tag">
                <select v-model="selectedTag">
                  <option
                    v-for="(tag, index) in tagNames"
                    :key="index"
                    :value="tag"
                  >
                    {{ tag }}
                  </option>
                </select>

                <tad-button primary @click.prevent="addTag">Add Tag</tad-button>
              </div>
            </div>
            <div class="form-input-wrapper mb-6 upload-terms__input">
              <label for="firstName" class="small-text mb-3">
                <strong
                  >Accept Terms and Agree to Copyright Notice</strong
                ></label
              >
              <div>
                <tad-input
                  id="firstName"
                  v-model="selected"
                  type="checkbox"
                  name="firstName"
                  required
                  @change="check($event)"
                /><span class="upload__terms"
                  >By submitting your podcast to TadHealth, you acknowledge that
                  you agree to TadHealth's Terms of Service and Community
                  Guidelines Please be sure not to violate others' copyright or
                  privacy rights. Learn more.</span
                >
              </div>
            </div>
          </div>
          <div class="upload-buttons">
            <div>
              <tad-button v-if="isWorking" disabled>
                <i class="las la-cog la-lg la-spin mr-2"></i>
                <span style="color: white">Uploading File...</span>
              </tad-button>

              <tad-button v-else primary @click.prevent="submit"
                ><i class="las la-cloud-upload-alt"></i> Upload Podcast
              </tad-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { uploadAudio } from "~/api/resources"
import { getTagNames } from "~/api/articles"
import { getRoles } from "~/api/roles"

@Component({
  middleware: ["authenticated"],
  components: { TadButton, TadInput },
})
export default class ProfessionalPodcastUpload extends Vue {
  filelist: any = []
  selectedImage: any = ""
  title: string = ""
  description: string = ""
  isfileSelected: boolean = true
  isReadyForStepThree: boolean = true
  selected = false
  tagNames: string[] = []
  selectedTag = ""
  tags: any = []
  isWorking = false
  roles: any = []
  audience: any = []
  filename: string = ""

  mounted() {
    this.fetchTagNames()
    this.fetchRoles()
  }

  addTag() {
    if (!this.selectedTag) return
    this.tags.push(this.selectedTag.trim())
    this.selectedTag = ""
  }

  removeTag(index: number) {
    this.tags.splice(index, 1)
  }

  async fetchTagNames() {
    try {
      const { data: tagNames } = await getTagNames()
      this.tagNames = tagNames
    } catch (error) {
      this.$toast.error(`Error loading tags`)
    }
  }

  async fetchRoles() {
    try {
      let { data: roles } = await getRoles()
      roles = roles.filter(function (item) {
        return item.name !== "admin"
      })
      roles = roles.filter(function (item) {
        return item.name !== "super"
      })
      this.roles = roles
    } catch (error) {
      this.$toast.error(`Error getting audience types`)
    }
  }

  $refs!: {
    file: any
  }

  allDetailsEnterd() {
    if (!this.title) {
      this.$toast.error("Please enter a title")
      return
    }

    if (!this.description) {
      this.$toast.error("Please enter a description")
      return
    }

    if (!this.selectedImage) {
      this.$toast.error("Please add a thumbnail")
    }
  }

  stepThree() {
    this.allDetailsEnterd()
  }

  check(e) {
    this.selected = e.target.checked
  }

  onFileSelected(event: any) {
    this.filelist = event.target!.files[0]
    this.filename = event.target!.files[0].name
    this.isfileSelected = false
    event.currentTarget.classList.add("bg-gray-100")
  }

  dragover(event: any) {
    event.preventDefault()
    // Add some visual fluff to show the user can drop its files
    if (!event.currentTarget.classList.contains("bg-green-300")) {
      event.currentTarget.classList.remove("bg-gray-100")
      event.currentTarget.classList.add("dragover")
    }
  }

  dragleave(event: any) {
    // Clean up
    event.currentTarget.classList.add("bg-gray-100")
    event.currentTarget.classList.remove("bg-green-300")
  }

  drop(event: any) {
    event.preventDefault()
    this.$refs.file.files = event.dataTransfer.files
    this.onFileSelected(event)
    // Trigger the onChange event manually
    // Clean up
    event.currentTarget.classList.add("bg-gray-100")
    event.currentTarget.classList.remove("bg-green-300")
  }

  onImageSelected(event: any) {
    this.selectedImage = event.target!.files[0]
  }

  async submit() {
    if (this.selected === false) {
      this.$toast.error("Please accept terms.")
      return
    }
    this.isWorking = true
    this.selected = false
    const formData = new FormData()
    formData.append("audio_in", this.filelist)
    formData.append("thumbnail_in", this.selectedImage)
    formData.append("audio_title", this.title)
    formData.append("audio_description", this.description)
    if (this.tags.length) {
      formData.append("tags", this.tags)
    }
    if (this.audience.length) {
      formData.append("target_audience", this.audience)
    } else {
      this.$toast.error("Please select an audience.")
      this.isWorking = false
      return
    }

    try {
      if (this.selectedImage.size / 1024 / 1024 > 2) {
        this.$toast.error("Oh no, your thumbnail image exceeds 2MB.")
        return
      }
      await uploadAudio(formData)
      // force reload to update video list (needs refactor)
      this.$router.go(-1)
      this.$toast.success("Success! Your audio is uploading.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.special-wrapper {
  display: flex !important;
  flex-direction: row !important;
}
.form-add-tag {
  display: flex;
  gap: 1rem;

  input {
    width: 150px;
  }
}

.tags-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  .tag {
    font-size: 0.8rem;
    background-color: rgb(252, 251, 251);
    text-align: center;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0.25rem 0.5rem;
    color: #333333;
    min-width: 75px;
    gap: 0.5rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
    .btn-remove-tag {
      background-color: transparent;
      border: none;
      color: var(--dark-text);
      border-radius: 100%;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      top: 1px;
      &:hover {
        color: rgb(255, 0, 0);
      }
    }
  }
}
.tag:hover {
  background: #ececf9;
}

.upload__step {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--dark-text);
  padding-bottom: 2rem;
  display: inline-block;
}
.upload__highlight {
  color: var(--main-color);
}

.upload__message {
  color: var(--dark-text) !important;
  font-size: 0.9rem;
}

.upload__terms {
  margin-left: 0.5rem;
  color: var(--dark-text);
  font-size: 0.8rem;
}
.upload__input {
  height: 200px;
  width: 1200px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  opacity: 0;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.dragover {
  background-color: #eceef1;
}
.upload-container {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: var(--default-box-shadow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}
// styles for drag and drop box

.upload-box {
  box-sizing: border-box;
  border: 1px solid #d4deec;
  border-radius: 10px;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.upload-section {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.bg-gray-100 {
  background-color: #d4deec;
}
.upload-message {
  font-size: 0.8rem !important;
  color: var(--light-text) !important;
  margin: 1rem 0rem;
}

.upload-buttons {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 1rem;

  span {
    font-size: 0.8rem;
    color: var(--main-color);
    margin-right: 1rem;
  }

  button {
    margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 986px) {
  .upload-container {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 560px) {
  .upload__steps {
    display: none;
  }

  .upload-buttons {
    padding-top: 0rem !important;
  }
}
</style>
