<template>
  <div class="color-input-container">
    <label :for="`color-picker-${label}`">{{ label }}:</label>
   <div class="color-container">
     <input
      type="color"
      :id="`color-picker-${label}`"
      :value="color"
      @change.prevent="colorChanged"
    />
    <label :for="`color-picker-${label}`" class="pl-2">{{ color }}</label>
   </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
// import { Chrome } from "vue-color"

@Component({
  // components: { ColorPicker: Chrome },
})
export default class ColorInput extends Vue {
  @Prop({ default: "#4acdc4" }) readonly initial!: string
  @Prop(String) readonly label!: string

  color = this.initial

  colorChanged(event: Event) {
    const target = event.target as HTMLInputElement
    this.color = target.value
    this.$emit("color-picked", this.color)
  }
}
</script>

<style lang="scss" scoped>
.color-input-container {
  color: var(--dark-text);
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
  cursor: pointer;
  font-size: .9rem;
}
input {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.color-container{
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: .1rem .75rem;
  

}
</style>