<template>
  <div class="bg-white p-8 rounded-lg shadow-md mb-8 border border-gray-300">
    <header class="pb-5 appointment__header flex flex-col sm:flex-row">
      <div>
        <h2 class="font-semibold text-slate-800 mb-3">Verified Referrals</h2>
        <!-- <p class="text-xs">Filters applied:</p> -->
      </div>
      <div class="apppointment__filters mt-4 sm:mt-0">
        <div class="ml-1">
          <span class="text-xs mb-1 inline-block">Start Date:</span>
          <input
            id="concern-start-date"
            ref="input-concern-start-date"
            v-model="startDate"
            class="filter-dropdown-toggle date-picker"
            type="date"
            required
            @change="filterStartDate()"
          />
        </div>

        <div class="ml-1">
          <span class="text-xs mb-1 inline-block">End Date:</span>
          <input
            id="concern-end-date"
            ref="input-concern-end-date"
            v-model="endDate"
            class="filter-dropdown-toggle date-picker"
            type="date"
            required
            @change="filterEndDate()"
          />
        </div>
      </div>
    </header>
    <div class="flex justify-between border-b border-slate-200 py-2">
      <div class="w-2/12 font-bold text-gray-700 text-sm">Name</div>
      <div class="w-2/12 font-bold text-gray-700 text-sm px-4">Date</div>
      <div class="w-2/12 font-bold text-gray-700 text-sm px-4">Referred by</div>
      <div class="truncated-text-column font-bold text-gray-700 text-sm px-4">Comment</div>
      <div class="truncated-text-column font-bold text-gray-700 text-sm px-4">Note</div>
      <div class="w-2/12 font-bold text-gray-700 text-sm flex justify-end">
        Action
      </div>
    </div>
    <div v-if="isLoading">
      <loading-spinner v-if="isLoading">Loading Concerns...</loading-spinner>
    </div>
    <div v-if="concerns && concerns.length > 0" class="py-2">
      <div
        v-for="concern in filteredConcerns"
        :key="concern.id"
        class="
          flex
          justify-between
          items-center
          align-items-center
          border-b border-slate-200
          pt-2
          pb-2
        "
      >
        <div
          v-if="concern.concerned_for_user.full_name"
          class="w-2/12 text-sm text-gray-600"
        >
          {{ concern.concerned_for_user.full_name}}
        </div>
        <div v-else class="w-2/12 text-sm text-gray-600">
          N/A
        </div>
        <div class="w-2/12 text-sm text-gray-600 px-4">
          {{ formatDate(concern.created_at) }}
        </div>
        <div class="w-2/12 text-sm text-gray-600 px-4">
          {{ concern.request_by }}
        </div>
        <div
          v-if="!concern.comment"
          class="truncated-text-column"
        ></div>
        <div class="truncated-text-column text-sm truncate text-gray-600 px-4">
          {{ concern.comment }}
        </div>
        <div v-if="concern.note" class="truncated-text-column text-sm truncate text-gray-600 px-4">
          {{ concern.note }}
        </div>
        <div
          v-if="!concern.note"
          class="truncated-text-column"
        ></div>
        <div class="w-2/12 flex gap-1 justify-end">
          <dropdown class="form-actions-dropdown" width="12rem">
            <template #toggle>
              <button class="form-actions-dropdown-toggle">
                <i class="las la-ellipsis-h la-2x"></i>
              </button>
            </template>
            <template #menu>
              <ul class="actions-menu">
                <li
                  v-can="'concern.add.note'"
                  class="form-action text-left text-sm"
                  @click="openModalConcernModifyNote(concern)"
                >
                  View Referral
                </li>
                <li
                  v-can="'appointment.book.client'"
                  class="form-action text-left text-sm"
                  @click="bookClientAppointment(concern)"
                >
                  Book Appointment
                </li>
                <li
                  class="form-action text-left text-sm truncate"
                >
                  <a :href="'mailto:' + concern.concerned_for_user.email">
                    Contact {{ `${concern.concerned_for_user.full_name}` }}
                  </a>
                </li>
              </ul>
            </template>
          </dropdown>
        </div>
      </div>
    </div>
    <div
      v-else
      class="min-h-300 flex justify-center items-center text-gray-400 pt-8 pb-8"
    >
      <alert
        type="info"
        msg="There are no referrals"
        :dissmissable="false"
      ></alert>
    </div>
    <div class="mt-4">
      <Pagination
        :current-page="currentPage"
        :total-pages="totalPages"
        :total-records="totalRecords"
        @nextPage="nextPage"
        @prevPage="prevPage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Mutation, Vue } from "nuxt-property-decorator"
import dayjs from "dayjs"
import ModalBookClient from "./modals/ModalBookClient.vue"
import TadButton from "~/components/styled-components/TadButton"
import Pagination from "~/components/Pagination.vue"
import { IConcern, IModal } from "~/interfaces"
import { getConcerns } from "~/api/concerns"
import Dropdown from "~/components/Dropdown.vue"
import ModalConcernModifyNote from "~/components/modals/ModalConcernModifyNote.vue"
import LoadingSpinner from "~/components/LoadingSpinner.vue"

@Component({
  components: { LoadingSpinner, Dropdown, TadButton, Pagination },
  middleware: ["authenticated"],
})
export default class ConcernList extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  concerns: IConcern[] = []
  filteredConcerns: IConcern[] = []

  startDate = null
  endDate = null

  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0

  options = {
    skip: 0,
    limit: 5,
    start_date: this.timeFormatted(dayjs().startOf("year")),
    end_date: this.timeFormatted(dayjs().endOf("year")),
  }

  isLoading: boolean = false

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("concern.read.list")) {
      this.fetchConcerns()
    }
  }

  async fetchConcerns() {
    this.isLoading = true
    try {
      const { data: concerns } = await getConcerns(this.options)
      this.concerns = concerns.items
      this.filteredConcerns = this.concerns
      this.totalRecords = concerns.total
      this.totalPages = Math.ceil(concerns.total / this.options.limit)
    } catch (error) {
      this.$toast.error("Error loading concerns")
    } finally {
      this.isLoading = false
    }
  }

  async nextPage() {
    if (this.currentPage < this.totalPages) {
      this.currentPage++
      this.options.skip = (this.currentPage - 1) * this.options.limit
      await this.fetchConcerns()
    }
  }

  async prevPage() {
    if (this.currentPage > 1) {
      this.currentPage--
      this.options.skip = (this.currentPage - 1) * this.options.limit
      await this.fetchConcerns()
    }
  }

  openModalConcernModifyNote(concern: IConcern) {
    const modal: IModal = {
      title: `Referral for ${concern.concerned_for_user.full_name}`,
      content: ModalConcernModifyNote,
      props: {
        concern,
        onclose: async () => {
          const { data: concerns } = await getConcerns(this.options)
          this.concerns = concerns.items
          this.filteredConcerns = this.concerns
        },
      },
    }
    this.showModal(modal)
  }

  bookClientAppointment(concern: IConcern) {
    const modal = {
      title: "Book An Appointment",
      content: ModalBookClient,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        email: concern.concerned_for_user.email,
        redirectTo: "",
      },
    }
    this.showModal(modal)
  }

  formatDate(time: string) {
    return dayjs(time).format(" MMM DD, YYYY")
  }

  timeFormatted(date) {
    return dayjs(date).format("YYYY-MM-DD")
  }

  async filterStartDate() {
    if (this.startDate) {
      this.options = {
        ...this.options,
        start_date: this.timeFormatted(this.startDate),
      }
      await this.fetchConcerns()
    } else {
      this.options = {
        ...this.options,
        start_date: this.timeFormatted(dayjs().startOf("year")),
      }
      await this.fetchConcerns()
    }
  }

  async filterEndDate() {
    if (this.endDate) {
      this.options = {
        ...this.options,
        end_date: dayjs(this.endDate).add(1, "days").format("YYYY-MM-DD"),
      }
      await this.fetchConcerns()
    } else {
      this.options = {
        ...this.options,
        end_date: this.timeFormatted(dayjs().endOf("year")),
      }
      await this.fetchConcerns()
    }
  }
}
</script>

<style scoped lang="scss">
.appointment__table {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0 8px 30px -6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.appointment__header {
  justify-content: space-between;
}

.apppointment__filters {
  display: flex;
}

.form-actions-dropdown-toggle {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.041);
  }
}

.truncated-text-column {
  width: 300px;
}

.actions-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .form-action {
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.45rem;
    border-radius: 5px;
    &.delete {
      color: var(--danger-color);

      &:hover {
        background-color: rgba(255, 0, 0, 0.041);
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.041);
    }
  }
}

.filter-dropdown-toggle {
  padding: 0.35rem 0.75rem;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background-color: rgba(255, 255, 255, 0.267);
  width: 130px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
}
</style>
