<template>
  <div class="grid grid-cols-4 gap-4" dir="rtl">
    <primary-bg
      v-can="`audio.create`"
      class="
        flex-shrink
        w-7
        h-7
        text-center text-white
        rounded-full
        cursor-pointer
      "
      title="add an audio"
      @click="$router.push('/resources/upload/podcast-upload')"
      ><i
        title="upload an audio file"
        class="las la-file-audio text-xl pt-1"
      ></i
    ></primary-bg>

    <primary-bg
      v-can="`video.create`"
      class="
        flex-shrink
        w-7
        h-7
        text-center text-white
        rounded-full
        cursor-pointer
      "
      @click="$router.push('/resources/upload/video-upload')"
      ><i title="upload a video file" class="las la-file-video text-xl pt-1"></i
    ></primary-bg>
    <primary-bg
      v-can="`article.create`"
      class="
        flex-shrink
        w-7
        h-7
        text-center text-white
        rounded-full
        cursor-pointer
      "
      @click="$router.push('/resources/create-article')"
      ><i title="write a new article" class="las la-edit text-xl pt-1"></i
    ></primary-bg>
    <primary-bg
      v-can="`external.create`"
      class="
        flex-shrink
        w-7
        h-7
        text-center text-white
        rounded-full
        cursor-pointer
      "
      @click="$router.push('/resources/admin/external-resources/create-external-resource')"
      ><i title="create an external resource" class="las la-link text-xl pt-1"></i
    ></primary-bg>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"

import PrimaryBg from "~/components/styled-components/CreateResourceLink"

@Component({
  middleware: ["authenticated"],
  components: { TadButton, OrangeButton, PrimaryBg },
})
export default class CreateResoureSection extends Vue {}
</script>

<style lang="scss" scoped>
.resource__button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  span {
    font-size: 0.8rem;
    color: var(--dark-text);
    margin-left: 1rem;
  }
}

.create__resource-section {
  display: flex;
  align-items: center;
}

.add {
  width: 84px;
  height: 84px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: transform 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: -10px;
}

.add a {
  display: block;
  position: relative;
  width: 50%;
  padding-bottom: 50%;
  background: var(--main-color);
  -webkit-backface-visibility: hidden;
  transition: border-radius 0.3s ease, transform 0.2s ease;
}

.add a .las {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -5px;
  color: #fff;
  transform: scale(0.6) rotate(-45deg);
  transition: all 0.15s ease;
  opacity: 0;
  font-size: 1.2rem;
}

.add a:nth-child(1) {
  border-radius: 8px 0 0 0;
}

.add a:nth-child(2) {
  border-radius: 0 0 0 8px;
}

.add a:nth-child(3) {
  border-radius: 0 8px 0 0;
}

.add a:nth-child(4) {
  border-radius: 0 0 8px 0;
}

.add:before,
.add:after {
  content: "";
  width: 28px;
  height: 6px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  z-index: 1;
  transform-origin: 50% 50%;
  transition: transform 0.25s ease;
}

.add:before {
  transform: translate(-50%, -50%) scaleY(1);
}

.add:after {
  transform: translate(-50%, -50%) rotate(90deg) scaleY(1);
}

.add:hover {
  transform: scale(1) rotate(45deg);
  transition: transform 0.4s ease 0.1s;
  box-shadow: none;
  background: #e9e9f7;
  color: #fff !important;
}

.add:hover:before {
  transform: translate(-50%, -50%) scaleY(0.76) scaleX(3);
  background: #e9e9f7;
}

.add:hover:after {
  transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76) scaleX(3);
  background: #e9e9f7;
}

.add:hover a {
  --scale: 1;
  pointer-events: none;
  border-radius: 50%;
  animation: pointerEvent 0s linear forwards 0.4s;
  transition: border-radius 0.15s ease 0.1s, transform 0.25s ease 0.15s;
}

.add:hover a:nth-child(1) {
  transform: translate(-6px, -6px) scale(var(--scale));
}

.add:hover a:nth-child(2) {
  transform: translate(-6px, 6px) scale(var(--scale));
}

.add:hover a:nth-child(3) {
  transform: translate(6px, -6px) scale(var(--scale));
}

.add:hover a:nth-child(4) {
  transform: translate(6px, 6px) scale(var(--scale));
}

.add:hover a .las {
  opacity: 1;
  transition: all 0.3s ease 0.2s;
  transform: scale(1) rotate(-45deg);
}

.add:hover a:hover {
  --scale: 0.92;
  transition: border-radius 0.2s ease 0.1s, transform 0.25s ease 0s;
}

.add:hover a:hover .las {
  opacity: 1;
  transition: all 0.3s ease 0s;
}

@keyframes pointerEvent {
  100% {
    pointer-events: auto;
  }
}

.logo-2 {
  margin-bottom: 20px;
}
</style>
