<template>
  <div class="sidebar" :class="isNavOpen ? 'open' : 'closed'">
    <!-- Logo -->
    <div class="sidebar__logo">
      <NuxtLink v-if="isNavOpen" to="/" class="logo-link">
        <img :src="logo" alt="" class="sidebar-large-logo" />
      </NuxtLink>
      <NuxtLink v-else to="/">
        <img :src="alt_logo" alt="" class="sidebar__logo-image" />
      </NuxtLink>
    </div>

    <!-- Menu -->
    <ul class="sidebar__menu">
      <sidebar-link @click="$router.push('/')">
        <i class="las la-home"></i>
        <span>Home</span>
      </sidebar-link>
      <sidebar-link @click="$router.push('/appointments')" v-if="canViewAppointments">
        <i class="las la-calendar-day"></i>
        <span>Appointments</span>
      </sidebar-link>
      <sidebar-link @click="$router.push('/resources')" v-if="canViewResources">
        <i class="las la-archive"></i>
        <span>Resources</span>
      </sidebar-link>
      <sidebar-link @click="$router.push(canViewForms ? '/forms/creator' : '/forms/responder')" 
        v-if="canViewFormResponses || canViewForms">
        <i class="las la-comment"></i>
        <span>Forms</span>
      </sidebar-link>
      <sidebar-link @click="$router.push('/concern')" v-if="canViewConcerns">
        <span class="las la-comments"></span>
        <span>Referrals</span>
      </sidebar-link>
      <!--
      <sidebar-link @click="$router.push('/professionals/patient-files')" v-if="canViewNotes">
        <i class="las la-notes-medical"></i>
        <span>My Notes</span>
      </sidebar-link>
      -->
      <sidebar-link @click="$router.push('/documents')" v-if="canViewDocuments" v-can="'document.manage'">
        <span class="las la-folder"></span>
        <span>Documents</span>
      </sidebar-link>
      <sidebar-link
        @click="$router.push('/admin/organization-profile')"
        v-if="canViewOrganization"
      >
        <i class="las la-sliders-h"></i>
        <span>Manage Organization</span>
      </sidebar-link>

      <!-- Admin -->
      <template>
        <sidebar-link @click="$router.push('/admin/manage-users')" v-if="canViewUsers">
          <i class="las la-user-cog"></i>
          <span>User Management</span>
        </sidebar-link>
      </template>

      <!-- Superusers -->
      <template >
        <sidebar-link @click="$router.push('/analytics')" v-if="canViewAnalytics">
          <i class="las la-chart-bar"></i>
          <span>Analytics</span>
        </sidebar-link>
        <sidebar-link @click="$router.push('/super/organizations')" v-if="canViewAllOrganizations">
          <i class="las la-users"></i>
          <span>Manage Organizations</span>
        </sidebar-link>
      </template>

      <!-- Not restricted to any role -->
      <sidebar-link @click="$router.push('/profile')">
        <i class="las la-user"></i><span> My Profile</span>
      </sidebar-link>
      <sidebar-link @click="logout">
        <i class="las la-sign-out-alt"></i><span>Logout</span>
      </sidebar-link>
    </ul>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Getter,
  Prop,
  State,
  Mutation,
} from "nuxt-property-decorator"
import TadLink from "~/components/styled-components/TadLink"
import SidebarLink from "~/components/styled-components/SidebarLink"
import TadText from "~/components/styled-components/TadText"
import { IUserProfile } from "~/interfaces"

@Component({
  components: { TadLink, TadText, SidebarLink },
})
export default class DefaultSidebar extends Vue {
  @Getter("loggedInUser") userProfile!: IUserProfile
  @Getter("main/isSuperUser") isSuperUser!: boolean
  @Getter("isAuthenticated") isLoggedIn!: boolean
  @Getter("main/canViewAnalytics") canViewAnalytics!: boolean
  @Getter("main/canViewResources") canViewResources!: boolean
  @Getter("main/canViewAppointments") canViewAppointments!: boolean
  @Getter("main/canViewFormResponses") canViewFormResponses!: boolean
  @Getter("main/canViewForms") canViewForms!: boolean
  @Getter("main/canViewNotes") canViewNotes!: boolean
  @Getter("main/canViewUsers") canViewUsers!: boolean
  @Getter("main/canViewOrganization") canViewOrganization!: boolean
  @Getter("main/canViewAllOrganizations") canViewAllOrganizations!: boolean
  @Getter("main/canViewDocuments") canViewDocuments!: boolean
  @Getter("main/canViewConcerns") canViewConcerns!: boolean

  @Getter("config/logo") readonly logo!: string
  @Getter("config/alt_logo") readonly alt_logo!: string
  @State("brandColorDefault") brandColorDefault!: string
  @Prop(Boolean) readonly isNavOpen!: boolean

  async logout() {
    await this.$auth.logout()
  }
}
</script>

<style lang="scss" scoped>
$sidebar-width-full: 345px;
.sidebar {
  width: $sidebar-width-full;
  height: 100vh;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  z-index: 900;
  overflow-y: auto;
  overflow-x: hidden;

  position: sticky;
  top: 0;
  transition: width 0.3s ease, left 0.3s ease;
}
// Logo
.sidebar__logo {
  height: 90px;
  // padding: 1.8rem 0rem 1rem 2rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  width: $sidebar-width-full;

  .logo-link {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .sidebar-large-logo {
    // height: 100%;
    max-height: 50px;
    max-width: 250px;
    // margin: 0 auto;
    /* padding-top: 2rem;
    padding-left: 1rem; */
  }

  .sidebar-small-logo {
    height: 50px;
    width: auto;
    position: relative;
    left: 3px;
  }
}

.sidebar__logo h2 span {
  display: inline-block;
  padding-right: 0.9rem;
}

.sidebar__logo-text {
  position: relative;
  // left: -0.8rem;
}

.sidebar__logo-image {
  margin-bottom: -0.35rem;
  width: 2rem;
  height: auto;
}

.sidebar__logo-left {
  padding-right: 0 !important;
  color: #1a535c;
  font-weight: 700;
}

.sidebar__logo-right {
  color: #1a535c;
  font-weight: 300;
  position: relative;
  left: -0.4rem;
}

.sidebar__dark-logo {
  display: none;
}
/* sidebar menu */

.sidebar-logo-logo {
  height: 100px;
  width: auto;
  height: 100%;
  width: 100%;
  padding-right: 4em;
}

.sidebar-small-logo {
  height: 50px;
  width: auto;
  display: none;
  position: relative;
  left: 3px;
}

/* sidebar menu */

.sidebar__menu {
  width: 345px;
  padding-top: 4rem;
}

.sidebar__menu li {
  width: 100%;
  padding: 1.15rem 0;
  padding-left: 2.35rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 1rem;

  i {
    font-size: 1.4rem;
  }
}

.la-folder {
  font-size: 1.4rem;
}

.la-comments {
  font-size: 1.4rem;
}

// Sidebar closed
.sidebar {
  &.closed {
    width: 70px;
    // Logos
    .sidebar__logo {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
    }
    // Menu
    .sidebar__menu {
      li {
        padding-left: 1.5rem;
        span:last-child {
          display: none;
        }
      }
    }
  }
}

// On Small screens
@media only screen and (max-width: 986px) {
  .sidebar {
    position: fixed;
    height: calc(100vh - 90px);
    top: 90px;
    width: 345px !important;
    transition: left 0.3s ease;

    &.closed {
      left: -100%;
    }
    &.open {
      left: 0;
    }

    .sidebar__logo {
      display: none !important;
    }
  }
}
</style>
