<template>
  <div class="document-table">
    <div class="someoneelse__booking-search-container">
      <form class="user-search-form" onSubmit="return false;">
        <div class="form-input-wrapper">
          <span class="search-icon">
            <i class="las la-search mr-1"></i>
          </span>
          <input
            type="text"
            class="search-input"
            placeholder="Search for a document.."
            @change.prevent="searchForDocument"
            @enter.prevent="searchForDocument"
            @submit.prevent="searchForDocument"
          />
        </div>
      </form>
    </div>
    <div class="document__list-header">
      <div>
        <span class="document__list-header-title"> Document Title </span>
      </div>
      <div class="status">
        <span class="document__list-header-title"> Description </span>
      </div>
      <div class="view">
        <span class="document__list-header-title"> Link </span>
      </div>
    </div>
    <div v-if="documents.length" style="padding-bottom: 2rem">
      <div
        v-for="document in filteredDocuments"
        :key="document.id"
        class="document__list documents"
      >
        <div>
          <span>
            {{ document.title }}
          </span>
        </div>
        <div class="status">
          <span class="document-desc">
            {{ document.description }}
          </span>
        </div>
        <div class="view">
          <span>
            <button
              class="btn secondary"
              @click="openModalDetailsDocument(document)"
            >
              Details
            </button>
          </span>
        </div>
      </div>
    </div>
    <div v-else class="no-audios-box">
      <p>No documents</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation } from "nuxt-property-decorator"
import { getDocuments } from "~/api/resources"
import ModalDetailsDocument from "~/components/modals/ModalDetailsDocument.vue"
import { IModal} from "~/interfaces"

@Component({
  middleware: ["authenticated"],
})
export default class DocumentTable extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void

  documents: any[] = []

  filteredDocuments: any[] = []
  mounted() {
    this.fetchVideos()
  }

  async fetchVideos() {
    try {
      const { data: videos } = await getDocuments()
      this.documents = videos
      this.filteredDocuments = this.documents
    } catch (error) {}
  }

  openModalDetailsDocument(document) {
    const modal: IModal = {
      title: "document Details",
      content: ModalDetailsDocument,
      props: {
        document,
      },
    }
    this.showModal(modal)
  }

  searchForDocument (e) {
    e.preventDefault()
    if (this.filteredDocuments = this.documents.filter(document => document.title.indexOf(e.target.value) !== -1)){
      this.filteredDocuments = this.documents.filter(document => document.title.toLowerCase().indexOf(e.target.value.toLowerCase()) !== -1)
    } else {
      this.filteredDocuments = this.documents
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~/assets/css/style.css";
.user-search-form {
  width: 100%;
  max-width: 500px;
  position: relative;

  .search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(122, 122, 122);
  }
  .form-input-wrapper {
    gap: 0.25rem;
    input {
      padding-left: 2rem;
    }
  }
}

.someoneelse__booking-search-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  padding-top: 0rem;
}
.documents {
  padding-left: 1rem;
  padding-right: 1rem;
}

.document-desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

.documents:hover {
  background-color: #f4f5f8;
}
.document-table {
  background-color: white;
  padding: 2rem 0rem;
  padding-bottom: 0rem;
  margin-bottom: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
}

.no-audios-box {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--light-text);
}
.document__list-header {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  span {
    display: block;
    font-size: 0.9rem;
    font-weight: bold !important;
    color: var(--dark-text) !important;
  }

  div {
    width: 30%;
    display: flex;
    padding-bottom: 1rem;
  }
  .view {
    justify-content: end;
  }

  .status {
    display: flex;
    justify-content: flex-start;
  }

  border-bottom: 2px solid #f0f0f0;
}

.document__list-header-title {
  font-weight: bold;
  color: #5e6367;
  font-size: 0.8rem;
}

.document__list {
  .view {
    justify-content: end;
    align-items: center;
    padding: 0.8rem 0;
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  div {
    width: 30%;
    display: flex;
    align-items: center;
  }
  span {
    font-size: 0.8rem;
    font-weight: 600 !important;
    color: var(--dark-text) !important;
  }
}

.document-icon {
  color: var(--secondary-color) !important;
  font-size: 1.5rem;
  position: relative;
  top: 3.5px;
  padding: 1rem;
}

.btn {
  border: none;
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 5px;
  min-width: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #fff;
  margin: 0;
  text-align: center;
  display: inline !important;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 560px) {
  .document__list {
    .view {
      justify-content: end;
      align-items: center;
      padding: 0.5rem 0;
    }
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      width: 40%;
    }
    span {
      font-size: 0.8rem;
    }
  }
  .view {
    width: 60% !important;

    button {
      padding: 0.5rem !important;
    }
  }

  .status {
    display: none !important;
  }

  .document-icon {
    display: none;
  }
}
</style>
