<template>
  <div class="dropdown-container" :class="`align-${align}`">
    <!-- Custom toggle slot -->
    <button class="dropdown-toggle" @click.prevent="toggleMenu">
      <slot name="toggle"></slot>
    </button>
    <transition name="dropdown-menu">
      <div
        v-if="isMenuOpen"
        ref="dropdown-menu"
        data-tad-dropdown
        class="dropdown-menu panel"
        :class="`${origin}`"
        :style="{ width, height }"
        @click.stop="menuClicked"
      >
        <slot name="menu"></slot>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator"

@Component({
  name: "Dropdown",
})
export default class Dropdown extends Vue {
  @Prop({ default: "150px" }) readonly width!: string
  @Prop({ default: "top" }) readonly origin!: string
  @Prop({ default: "right" }) readonly align!: string
  @Prop({ default: "" }) readonly title!: string
  @Prop({ default: true }) readonly closeOnClick!: boolean
  @Prop({ default: "auto" }) readonly height!: string
  // @State('openDropdown') readonly openDropdown!: Dropdown
  // @Mutation('setOpenDropdown') readonly setOpenDropdown!: (el: Dropdown) => void

  // ========= Data ================================= //
  isMenuOpen = false

  // ========= Computed Properties ================== //

  // ========= Lifecycle methods ==================== //

  // ========= Methods ============================== //
  menuClicked() {
    if (this.closeOnClick) {
      this.toggleMenu()
    }
  }

  toggleMenu() {
    this.isMenuOpen = !this.isMenuOpen
    this.$emit(this.isMenuOpen ? "dropdown-open" : "dropdown-close")

    if (this.isMenuOpen) {
      document.body.addEventListener("click", this.closeMenu)
      // this.setOpenDropdown(this)
    } else {
      document.body.removeEventListener("click", this.closeMenu)
    }
  }

  closeMenu(event: MouseEvent) {
    const notPartOfDropdown = !this.$el.contains(event.target as Node)

    if (notPartOfDropdown) {
      this.toggleMenu()
    }

    // this.toggleMenu()
    // const target = event.target as HTMLElement
    // target.style.backgroundColor = 'red'
  }
}
</script>

<style lang="scss">
.dropdown-title {
  border-bottom: 1px solid lighten(red, 5%);
}

.dropdown-container {
  position: relative;
  display: flex;

  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }

  .dropdown-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.21rem 0 0.21rem 0.26rem;
  }

  .dropdown-menu {
    width: 150px;
    max-height: 75vh;
    overflow-y: auto;
    position: absolute;
    box-shadow: var(--default-box-shadow);
    z-index: 100000;
    background-color: #fff;
    border: 1px solid rgb(238, 238, 238);
    padding: 0.35rem 0.25rem;
    // opacity: 1;
    border-radius: 5px;
    &.top {
      transform-origin: top;
      top: 110%;

      &.right {
        transform-origin: top right;
      }

      &.center {
        transform-origin: top center;
      }
    }

    &.bottom {
      transform-origin: bottom;
      bottom: 110%;

      &.right {
        transform-origin: bottom right;
      }
    }

    .item {
      display: block;
      color: inherit;
      padding: 0.75rem 0.45rem;
      border-radius: 5px;
      &:hover:not(.no-hover) {
        cursor: pointer;
        background-color: rgb(241, 241, 241);
      }
    }

    .divider {
      height: 1px;
      background-color: #e5e5e5;
      width: 100%;
      display: block;
      /* margin: 0.5rem 0; */
    }
  }
}

.dropdown-menu-enter-active, .dropdown-menu-leave-active {
  transition: opacity 0.1s ease, transform 0.2s ease;
  pointer-events: none;
}
.dropdown-menu-enter, .dropdown-menu-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
</style>
