<template>
  <div class="footer">
    <p>
      <tad-link
        secondary
        href="https://tadhealth.com/terms"
        target="_blank"
        class="footer__link"
      >
        Terms and Conditions
      </tad-link>
    </p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import TadLink from "~/components/styled-components/TadLink"

@Component({
  components: { TadLink },
})
export default class Footer extends Vue {}
</script>

<style scoped>
.footer {
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: var(--body-color);
}

.footer__link {
  font-size: 0.7rem;
}
</style>
