<template>
  <div class="pt-4">
    <!--  -->
    <!-- <h4 class="mb-4 font-semibold text-lg">Form Details</h4> -->
    <div class="bg-white p-4 mb-4 py-8 rounded-sm shadow-sm">
      <p v-if="form" class="font-bold mb-4 text-3xl">
        {{ form.form.name ? form.form.name : "No name" }}
      </p>
      <p v-if="form" class="mb-12">
        {{ form.form.description ? form.form.description : "No description" }}
      </p>
      <p v-if="form" class="block mb-4 font-semibold mb-4">Form language:</p>
      <select
        v-if="form"
        id="language"
        class="
          bg-gray-50
          border border-gray-300
          text-gray-900 text-sm
          rounded-lg
          focus:ring-blue-500 focus:border-blue-500
          block
          w-full
          p-2
          dark:bg-gray-700
          dark:border-gray-600
          dark:placeholder-gray-400
          dark:text-white
          dark:focus:ring-blue-500
          dark:focus:border-blue-500
        "
      >
        <option selected>{{ form.form.language }}</option>
      </select>
    </div>

    <!-- <h4 class="mb-4 font-semibold text-lg">Form Questions</h4> -->

    <div v-if="form" class="">
      <question-container-view-only
        v-for="question in form.questions"
        :key="question.id"
        :question="question"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import { getForm } from "~/api/form"
import QuestionContainerViewOnly from "~/components/forms/creator/questionnaire/QuestionContainerViewOnly.vue"

@Component({ components: { QuestionContainerViewOnly } })
export default class FormQuestions extends Vue {
  @Prop(String) readonly id!: string

  form: any = null

  mounted() {
    this.fetchForm()
  }

  async fetchForm() {
    try {
      const { data } = await getForm(this.id)
      this.form = data
    } catch (error) {
    } finally {
    }
  }
}
</script>
