<template>
  <div class="bg-white p-4 mb-4 py-8 rounded-sm shadow-sm">
    <p class="mb-4 small-text">
      {{ questionType }}
    </p>
    <p v-if="question" class="font-bold mb-4 text-xl">
      {{ question.content }}
    </p>

    <hr class="mb-6" />

    <div class="border border-gray-400 rounded-md p-4">
      <div class="flex justify-between">
        <p class="font-semibold mt-4 mb-4">
          Responses ({{ totalRecords || 0 }})
        </p>
        <div class="mt-2">
          <Dropdown class="filter-dropdown" width="185px" align="left">
            <template #toggle>
              <div class="filter-dropdown-toggle" style="width: 165px">
                {{ currentFilter }} <i class="las la-caret-down"></i>
              </div>
            </template>

            <template #menu>
              <li class="item" @click="filterPriority()">Priority Responses</li>

              <li class="item" @click="clearFilters()">All</li>
            </template>
          </Dropdown>
        </div>
      </div>
      <div
        class="my-8 border border-gray-400 rounded-md p-8"
        v-if="checkType == 'time' && data"
      >
        <div
          v-for="(timeSlotData, index) in sortedTimeData"
          :key="index"
          class="time-slot-group mb-8 flex gap-4"
        >
          <p class="font-semibold mt-2">{{ timeSlotData.time_slot }}</p>
          <div class="flex gap-2 flex-wrap">
            <div
              v-for="time in timeSlotData.times"
              :key="time.label"
              class="
                time-badge
                bg-gray-100
                border border-gray-300
                p-2
                text-xs
                rounded-md
              "
            >
              {{ time.label }} ({{ time.data }})
            </div>
          </div>
        </div>
      </div>

      <div
        class="my-8 border border-gray-400 rounded-md p-8"
        v-if="checkType == 'date' && data"
      >
        <div
          v-for="(monthData, index) in sortedDateData"
          :key="index"
          class="month-group mb-8 flex gap-4"
        >
          <p class="font-semibold mt-2">{{ monthData.month }}</p>
          <div
            v-for="date in monthData.dates"
            :key="date.label"
            class="
              date-badge
              bg-gray-100
              border border-gray-300
              p-2
              text-xs
              rounded-md
            "
          >
            {{ date.displayLabel }} ({{ date.data }})
          </div>
        </div>
      </div>
      <div
        class="chart-wrapper my-8 py-8 border border-gray-400 rounded-md"
        v-if="checkType == 'multiple choice' && analytics"
      >
        <div class="chart-container">
          <PieChart
            :height="350"
            ref="chart"
            :chart-data="chartData"
            :options="chartOptions"
          />
        </div>
        <div class="percentage-data invisible md:visible">
          <!-- title -->
          <p class="font-semibold mb-4">Percentage Data</p>
          <p
            v-for="(percentage, label) in percentageData"
            :key="label"
            class="text-gray-600"
          >
            {{ label }}: {{ percentage.toFixed(2) }}%
          </p>
        </div>
      </div>

      <div
        class="chart-wrapper my-8 py-8 border border-gray-400 rounded-md"
        v-if="checkType == 'numerical' && analytics"
      >
        <div class="chart-container">
          <BarChart
            :height="350"
            ref="chart"
            :chart-data="barChartData"
            :options="barChartOptions"
          />
        </div>
        <div class="percentage-data ml-8 invisible md:visible">
          <!-- title -->
          <p class="font-semibold mb-4">Percentage Data</p>
          <p
            v-for="(percentage, label) in percentageData"
            :key="label"
            class="text-gray-600"
          >
            {{ label }}: {{ percentage.toFixed(2) }}%
          </p>
        </div>
      </div>

      <table class="table-auto w-full">
        <thead class="text-xs font-semibold py-3 border-b border-slate-200">
          <tr>
            <th
              width="200"
              class="w-2/12 font-bold text-gray-700 text-sm py-2 text-left"
            >
              Name
            </th>
            <th
              class="
                w-2/12
                font-bold
                text-gray-700 text-sm
                px-4
                py-2
                text-left
                invisible
                md:visible
              "
            >
              Answer
            </th>
            <th
              width="150"
              class="
                w-2/12
                font-bold
                text-gray-700 text-sm
                px-4
                py-2
                text-left
                invisible
                md:visible
              "
            >
              Priority
            </th>
            <th class="w-2/12 font-bold text-gray-700 text-sm py-2 text-right">
              Action
            </th>
          </tr>
        </thead>
        <tbody v-if="analytics && analytics.length && !isLoading">
          <tr
            class="border-b border-slate-200"
            v-for="analytic in analytics"
            :key="analytic.id"
          >
            <td class="first:pl-5 last:pr-5 py-2 whitespace-nowrap">
              <div class="text-left text-sm text-gray-600">
                {{ analytic.respondent.full_name || analytic.respondent.email }}
              </div>
            </td>
            <td
              class="
                px-4
                first:pl-5
                last:pr-5
                py-2
                whitespace-nowrap
                invisible
                md:visible
              "
            >
              <p class="line-clamp-3 text-left text-sm text-gray-600">
                {{ analytic.answer.text.join("") }}
              </p>
            </td>
            <td
              class="
                px-4
                first:pl-5
                last:pr-5
                py-2
                whitespace-nowrap
                invisible
                md:visible
              "
            >
              <span
                class="text-left text-sm text-gray-600"
                :class="{ 'text-red-500': analytic.is_priority_response }"
              >
                <i
                  v-if="analytic.is_priority_response"
                  class="las la-exclamation-circle mr-1"
                ></i>

                {{ analytic.is_priority_response ? "Priority" : "General" }}
              </span>
            </td>
            <td class="py-2 whitespace-nowrap text-right">
              <tad-button
                v-if="analytic.respondent.internal == false"
                @click.stop="
                  $router.push(
                    `/forms/creator/${id}/response?email=${analytic.respondent.email}`
                  )
                "
              >
                View Response</tad-button
              >
              <tad-button
                v-else
                class="text-left"
                @click.stop="
                  $router.push(
                    `/forms/creator/${id}/response?user=${analytic.respondent.id}`
                  )
                "
              >
                View Response</tad-button
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div
        v-if="isLoading"
        class="w-full flex justify-center align-content-center my-4"
      >
        <loading-spinner v-if="isLoading">Loading responses...</loading-spinner>
      </div>
      <div v-if="!analytics" class="w-full">
        <alert
          v-if="!filterActive"
          type="info"
          msg="You have not received any responses."
          :dissmissable="false"
        ></alert>
        <alert
          v-else
          type="info"
          msg="You have not received any priority responses."
          :dissmissable="false"
        ></alert>
      </div>
    </div>

    <div class="p-4">
      <Pagination
        :currentPage="currentPage"
        :totalPages="totalPages"
        :totalRecords="totalRecords"
        @nextPage="nextPage"
        @prevPage="prevPage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import {
  getSingleQuestionAnalytics,
  getForm,
  getQuestionChartData,
} from "~/api/form"
import TadButton from "~/components/styled-components/TadButton"
import Dropdown from "~/components/Dropdown.vue"
import { Pie, Bar } from "vue-chartjs/legacy"
import {
  Chart,
  PieController,
  ArcElement,
  Tooltip,
  Legend,
  BarElement,
  PointElement,
  LinearScale,
  CategoryScale,
} from "chart.js"
import { is } from "date-fns/locale"
import dayjs from "dayjs"

type Data = {
  type: string
  count: number
}

Chart.register(
  PieController,
  ArcElement,
  Tooltip,
  Legend,
  BarElement,
  PointElement,
  LinearScale,
  CategoryScale
)

@Component({
  components: { TadButton, Dropdown, PieChart: Pie, BarChart: Bar },
})
export default class FormQuestionAnalysisCard extends Vue {
  // get id from props
  @Prop({ default: [] }) question
  @Prop({}) id!: string
  analytics: any[] = []

  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0
  filterActive: boolean = false
  currentFilter: string = "All"
  questionDetails: any = {}
  questionType: any = ""
  checkType: any = ""
  data: any = []
  percentageData: any = []
  isLoading: boolean = false

  options: any = {
    size: 5,
    page: 1,
  }

  // Function to generate a soft pastel color
  generateRandomColor() {
    const hue = Math.floor(Math.random() * 360) // Hue: 0-360
    const saturation = 50 + Math.floor(Math.random() * 20) // Saturation: 50-70% for softer colors
    const lightness = 70 + Math.floor(Math.random() * 20) // Lightness: 70-90% for a lighter, pastel tone
    return `hsl(${hue}, ${saturation}%, ${lightness}%)`
  }

  get barChartData() {
    // Filter out items with no data
    const filteredData = this.data.filter((item) => item.data > 0)

    // Extract labels and data
    const labels = filteredData.map((item) => item.label)
    const dataPoints = filteredData.map((item) => item.data)

    // Generate a random background color for each data point
    const backgroundColor = this.generateRandomColor()

    return {
      labels: labels,
      datasets: [
        {
          label: "Total Times Selected", // You can name this label according to what the data represents
          data: dataPoints,
          backgroundColor: backgroundColor,
        },
      ],
    }
  }
  get sortedTimeData() {
    const groupedByHour = {};

    // Group the data by hour
    this.data.forEach((item) => {
      const hour = dayjs(item.label, 'hh:mm A').format('hh A'); // Example: '04 PM'
      if (!groupedByHour[hour]) {
        groupedByHour[hour] = [];
      }

      groupedByHour[hour].push({
        label: dayjs(item.label, 'hh:mm A').format('hh:mm'), // Example: '04:08'
        data: item.data
      });
    });

    // Convert the object to an array for use with v-for and sort by the time slot
    return Object.keys(groupedByHour)
      .sort((a, b) => dayjs(a, 'hh A').isAfter(dayjs(b, 'hh A')) ? 1 : -1)
      .map((hour) => ({
        time_slot: hour,
        times: groupedByHour[hour]
      }));
  }

  get sortedDateData() {
    const groupedByMonth = {}

    // Group the data by month
    this.data.forEach((item) => {
      const month = dayjs(item.label).format("MMM YYYY") // Example: 'Apr 2022'
      if (!groupedByMonth[month]) {
        groupedByMonth[month] = []
      }

      groupedByMonth[month].push({
        ...item,
        displayLabel: dayjs(item.label).format("MMM D"), // Example: 'Apr 15'
      })
    })

    // Convert the object to an array for use with v-for
    return Object.keys(groupedByMonth).map((month) => ({
      month,
      dates: groupedByMonth[month],
    }))
  }

  get chartData() {
    const filteredData = this.data.filter((item) => item.data > 0)

    return {
      labels: filteredData.map((item) => item.label),
      datasets: [
        {
          data: filteredData.map((item) => item.data),
          backgroundColor: filteredData.map(() => this.generateRandomColor()),
        },
      ],
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
            position: "bottom",
          },
        },
      },
    }
  }

  chartOptions() {
    return {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false, // Hide legend
        },
        // Other plugin options...
      },
      // Other chart options...
    }
  }

  barChartOptions() {
    return {
      type: "bar",
      responsive: true,
      maintainAspectRatio: true,
      plugins: {
        legend: {
          display: false,
          position: "bottom",
        },
      },
      scales: {
        xAxes: [{ ticks: { display: false } }],
        yAxes: [{ ticks: { display: false } }],
      },
    }
  }

  calculatePercentageData() {
    // Filter out the options that have not been selected (count is 0)
    const filteredData = this.data.filter((item) => item.data > 0)

    // Calculate the total responses from the filtered data
    const totalResponses = filteredData.reduce(
      (total, item) => total + item.data,
      0
    )

    // Calculate the percentage for each item in the filtered data
    this.percentageData = filteredData.reduce((percentages, item) => {
      percentages[item.label] = (item.data / totalResponses) * 100
      return percentages
    }, {} as Record<string, number>)
  }

  async getQuestionChartData() {
    const { data } = await getQuestionChartData(
      this.id,
      this.question.id,
      this.question.type
    )
    this.data = data
    this.calculatePercentageData()
  }

  async fetchFormQuestion() {
    this.isLoading = true
    const { data } = await getForm(this.id)
    this.questionDetails = data.questions.find(
      (question) => question.id === this.question.id
    )

    this.questionType = this.getQuestionType(this.questionDetails.type)
    this.checkType = this.questionDetails.type
    this.isLoading = false
  }
  filterPriority() {
    this.currentFilter = "Priority Responses"
    this.filterActive = true
    this.options.is_priority_response = true

    this.fetchAnalytics()
  }

  getQuestionType(type) {
    switch (type) {
      case "open ended":
        return "Open Ended Question"
      case "date":
        return "Date Selection Question"
      case "time":
        return "Time Selection Question"
      case "numerical":
        return "Numerical Range Question"
      case "multiple choice":
        return "Multiple Choice Question"
    }
  }

  clearFilters() {
    this.currentFilter = "All"
    this.filterActive = false
    delete this.options.is_priority_response
    this.fetchAnalytics()
  }

  async nextPage() {
    this.options.page = this.options.page + 1
    await this.fetchAnalytics()
  }

  async prevPage() {
    this.options.page = this.options.page - 1
    await this.fetchAnalytics()
  }

  async fetchAnalytics() {
    // get the analytics for each question
    this.isLoading = true
    const { data } = await getSingleQuestionAnalytics(
      this.id,
      this.question.id,
      this.options
    )
    this.analytics = data.items
    this.totalRecords = data.total
    this.currentPage = data.page
    this.totalPages = data.pages
    this.isLoading = false
  }

  mounted() {
    this.fetchAnalytics()
    this.fetchFormQuestion()
    this.getQuestionChartData()
  }
}
</script>

<style lang="scss" scoped>
.chart-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #d9d9d9;
  background-color: rgba(255, 255, 255, 0.267);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.chart-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 350px;
  max-width: 300px;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter-dropdown-toggle {
  padding: 0.35rem 0.75rem;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background-color: rgba(255, 255, 255, 0.267);
  width: 130px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle .filter-dropdown-toggle {
  padding-bottom: 0.45rem;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 300px;
}

// mobile

@media (max-width: 768px) {
  .chart-wrapper {
    justify-content: center;
    align-items: center;
    gap: 0rem;
    width: 100%;
    overflow-x: auto;
  }
}
</style>
