<template>
  <div class="mt-5">
    <div class="bg-white p-4 mb-4 py-8 rounded-sm shadow-sm">
      <p v-if="form" class="font-bold mb-4 text-3xl">
        {{ form.form.name ? form.form.name : "No name" }}
      </p>
      <p v-if="form" class="mb-12">
        {{ form.form.description ? form.form.description : "No description" }}
      </p>
      <p v-if="form" class="block mb-4 font-semibold mb-4">Form language:</p>
      <select
        v-if="form"
        id="language"
        class="
          bg-gray-50
          border border-gray-300
          text-gray-900 text-sm
          rounded-lg
          focus:ring-blue-500 focus:border-blue-500
          block
          w-full
          p-2
          dark:bg-gray-700
          dark:border-gray-600
          dark:placeholder-gray-400
          dark:text-white
          dark:focus:ring-blue-500
          dark:focus:border-blue-500
        "
      >
        <option selected>{{ form.form.language }}</option>
      </select>
    </div>

    <!-- for each question make a question card and pass in the question as a prop -->
    <div v-for="question in questions" :key="question.id" class="flex flex-col">
      <FormQuestionAnalysisCard :question="question" :id="form.form.id" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import { getSingleQuestionAnalytics } from "~/api/form"
import FormQuestionAnalysisCard from "~/components/FormQuestionAnalysisCard.vue"

@Component({})
export default class FormAnalysis extends Vue {
  // get id from props
  @Prop({ default: "" }) id!: string
  @Prop({ default: [] }) questions!: any[]
  @Prop({ default: {} }) form!: any
  anayltics: any[] = []

  async mounted() {
    // get the analytics for each question
    const analytics = await Promise.all(
      this.questions.map((question) =>
        getSingleQuestionAnalytics(this.id, question.id)
      )
    )

    this.anayltics = analytics
  }
}
</script>
