<template>
  <div class="pt-4">
    <div class="container">
      <component :is="activeComponent" :id="id" :type="type"></component>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import QuestionnaireFormResponseTable from "~/components/QuestionnaireFormResponseTable.vue"

@Component({})
export default class FormQuestions extends Vue {
  @Prop(String) readonly id!: string
  @Prop(String) readonly type!: string

  get activeComponent() {
    return QuestionnaireFormResponseTable
  }
}
</script>
