<template>
  <tad-button :success="success" :danger="danger" :disabled="submitting">
    <template v-if="submitting">
      <i class="las la-cog la-lg la-spin mr-2"></i>
      <span>Please wait...</span>
    </template>
    <template v-else>
      <slot></slot>
    </template>
  </tad-button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: {
    TadButton,
  },
})
export default class FormButton extends Vue {
  // @Prop(String) readonly icon!: string
  @Prop({ default: false }) readonly submitting!: boolean
  @Prop({ default: false }) readonly success!: boolean
  @Prop({ default: false }) readonly danger!: boolean
}
</script>

<style lang="scss" scoped></style>
