<template>
  <div>
    <div v-if="userProfile.organization.company_external_resources">
      <div class="welcome__container">
        <p class="crisis-link__footer-text">
          *Not a substitute for medical care or medical advice. If you have a
          crisis and are not able to click one of the buttons, please dial 911
          and refer to the
          <span>
            <a
              href="/gethelpnow/me"
              class="crisis-link__footer-link"
              target="_blank"
            >
              Crisis Support Page.
            </a>
          </span>
        </p>
      </div>
    </div>
    <div v-else>
      <div class="welcome__container">
        <p class="crisis-link__footer-text">
          *Not a substitute for medical care or medical advice. If you have a
          crisis and are not able to click one of the buttons, please dial 911.
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter } from "nuxt-property-decorator"
import TadLink from "~/components/styled-components/TadLink"



@Component({
  components: { TadLink },
})
export default class GHNFooterText extends Vue {
  externalLink: string = ""
  @Getter("loggedInUser") userProfile

  mounted() {
    this.externalLink = this.userProfile.organization.company_external_resources
  }

  // async fetchLink() {
  //   const { data: externalLink } = await getExternalResourceLink()
  //   this.externalLink = externalLink
  // }
}
</script>

<style lang="scss" scoped>
.crisis-link__footer-text {
  text-align: center;
  font-size: 0.7rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
  max-width: 400px;
  a {
    color: var(--main-color);
  }
}
</style>
