<template>
  <div>
    <div>
      <ul style="padding-bottom: 1rem">
      </ul>
    </div>
    <div class="welcome__container">
      <h1 class="title-text">Licenses</h1>
      <p class="small-text">Add your license number for verification.</p>
    </div>

    <div>
      <tad-button primary @click.prevent="addLicense"
        >Add a new license</tad-button
      >
    </div>

    <div v-if="licenses.length" class="license__table">
      <div class="license">
        <span class="small-text">License Type</span>
      </div>
      <div v-for="license in licenses" :key="license.id" class="license">
        <span class="">{{ license.type }}</span>
        <tad-button @click.prevent="viewLicense(license)">Details</tad-button>
      </div>
    </div>
    <div v-else class="license__table">
      <span>No licenses to display.</span>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"

import TadButton from "~/components/styled-components/TadButton"
import { getLicenses } from "~/api/licenses"
import ModalCreateLicense from "~/components/modals/ModalCreateLicense.vue"
import ModalLicenseDetails from "~/components/modals/ModalLicenseDetails.vue"

@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class Licenses extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  @Getter("loggedInUser") userProfile
  licenses: {} = {}

  mounted() {
    this.fetchLicenses()
  }

  async fetchLicenses() {
    const { data: licenses } = await getLicenses(this.userProfile.id)
    this.licenses = licenses
  }

  addLicense() {
    const modal = {
      title: "Add A New License",
      content: ModalCreateLicense,
      props: {
        onclose: this.getModal.props?.onclose,
        onsuccess: () => {
          this.$emit('licensesUpdated')
        },
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  viewLicense(license) {
    const modal = {
      title: "License Details",
      content: ModalLicenseDetails,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        license: license,
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.license__table {
  background: white;

  margin: 2rem 0rem;
  box-shadow: var(--default-box-shadow);
  padding: 1rem 0rem;
}

.license {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(240, 240, 240);
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

@media only screen and (max-width: 973px) {
  .welcome__container {
    margin-bottom: 2rem;
  }
}
</style>