<template>
  <div class="loading-overlay" v-if="show">
      <loading-spinner>Please wait</loading-spinner>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({})
export default class LoadingOverlay extends Vue {
  @Prop(Boolean) readonly show!:boolean
  
}
</script>

<style lang="scss" scoped>
  .loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  place-items: center;
}
</style>