<template>
  <tad-text primary as="div" class="loading-container">
    <i class="las la-spinner la-2x la-spin"></i>
    <slot></slot>
  </tad-text>
</template>

<script lang="ts">
import { Vue, Component, Getter } from "nuxt-property-decorator"
import TadText from '~/components/styled-components/TadText'

@Component({
  components: { TadText }
})
export default class LoadingSpinner extends Vue {
  @Getter("config/pColor") readonly pColor!: string
}
</script>

<style lang="scss" scoped>
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--main-color); */
  flex-direction: column;
}
</style>
