<template>
  <div class="modal-container">
    <div class="modal-body" :style="{ 'overflow-y': overflowY }">
      <div class="modal-header">
        <h1 class="font-bold p-5 text-2xl">{{ modal.title }}</h1>
        <button class="btn-close-modal" @click="hideModal">
          <i class="las la-times la-lg"></i>
        </button>
      </div>

      <div class="modal-content-main">
        <transition name="component-transition" mode="out-in">
          <component :is="modal.content" v-bind="modal.props" class="p-5"/>
        </transition>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import { IModal } from "~/interfaces"

@Component({})
export default class ModalContainer extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({
    default: () => {
      return {}
    },
  })
  modal!: IModal

  get bodyWidth() {
    return this.modal.props?.width ? this.modal.props.width : "400px"
  }

  get overflowY() {
    return this.modal.props?.overflowY ? this.modal.props.overflowY : "auto"
  }
}
</script>

<style lang="scss" scoped>
.modal-container {
  background-color: rgba(0, 0, 0, 0.233);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.modal-body {
  background-color: rgb(255, 255, 255);
  width: 90%;
  max-width: 750px;
  border-radius: 0.3125rem;
  box-shadow: var(--default-box-shadow);
  max-height: 90vh;
  overflow-y: auto;
  animation: enterModalBody 0.2s ease forwards;
  min-width: 400px;

  @keyframes enterModalBody {
    from {
      transform: translateY(-50%);
    }
    to {
      transform: translateY(0%);
    }
  }
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(241, 241, 241, 0.616);
}

.btn-close-modal {
  border: none;
  padding: 1rem;
  margin: 1rem;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: rgba(80, 80, 80, 0.179);
  }
}
.modal-content-main {
  padding: 1rem 0;
}
.component-transition-enter-active {
  transition: all 0.2s linear;
}
.component-transition-enter {
  opacity: 0;
}

.modal-body-enter-active {
  transition: all 0.2s linear;
}
.modal-body-enter {
  transform: translateY(-50px);
}

@media screen and (max-width: 768px) {
  .modal-body {
    padding: 1rem 1.25rem;
  }

  .modal-title {
    margin: 0.5rem 0;
  }
}
@media screen and (max-width: 500px) {
  .modal-body {
    min-width: 90%;
  }
}
</style>
