<template>
  <div>
    <ResourceMasterList />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
@Component({
})
export default class MyResources extends Vue {}
</script>

<style lang="scss" scoped>

</style>
