<template>
  <div>
    <div class="audio-details">
      <img
        class="audio-cover"
        src="https://i.pinimg.com/736x/02/2d/f1/022df1a7fee3644d04a61d747f57f2ae.jpg"
        alt=""
      />
      <div class="audio-text">
        <p class="audio-author"><b>Welcome to Podcasts!</b></p>

        <h1 class="audio-title">Select a Podcast To Get Started.</h1>
        <p class="audio-desc">
          Nearly 1 in 5 Americans lives with a mental health condition, but as
          common as disorders like anxiety and depression are, struggling with
          mental health can feel overwhelming and isolating. One of the best
          ways to normalize mental conditions is to learn about them—and these
          days, that can be as easy as popping in a pair of earbuds.
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
@Component({
  components: {},
})
export default class NoAudio extends Vue {}
</script>

<style lang="scss" scoped>
.audio-details {
  display: flex;
  padding-bottom: 1.5rem;
}

.audio-title {
  color: var(--dark-text);
  font-size: 2rem;
  font-weight: bold;
}
.audio-cover {
  height: 250px;
  width: 250px;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
}

.audio-desc {
  color: var(--light-text);
  font-size: 0.8rem;
  padding-right: 2rem;
}

.audio-author {
  color: var(--light-text);
  font-size: 0.8rem;
  padding: 0.5rem 0 0.3rem;
}

.audio-text {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 650px) {
  .audio-details {
    flex-direction: column;
  }

  .audio-text {
    padding-left: 0;
  }

  .audio-cover {
    height: auto;
    width: 100%;
    box-shadow: var(--default-box-shadow);
    border-radius: 5px;
  }

  .audio-author {
    color: var(--light-text);
    font-size: 0.8rem;
    padding: 1rem 0 0.5rem;
  }
}
</style>
