<template>
  <div class="notifications-dropwdown">
    <dropdown width="300px" @dropdown-open="fetchNotifications">
      <template #toggle>
        <!-- <button class="btn-notification-toggle"> -->
        <span class="notifications-toggle">
          <i class="las la-bell notifications-bell" aria-hidden="true"> </i>
          <span
            v-if="notifications.length > 0"
            class="notification-count"
            :style="{ 'background-color': sColor }"
          >
            {{ notificationCount }}
          </span>
        </span>
        <!-- </button> -->
      </template>

      <template #menu>
        <loading-spinner v-if="isLoadingNotifications" class="py-3" />
        <template v-else-if="notifications.length > 0">
          <div
            v-for="notification in notifications"
            :key="notification.id"
            class="item notification"
            @click="notificationClicked(notification)"
          >
            <i
              v-if="notification.notification_topic.includes(`Audio`)"
              class="las la-podcast"
            ></i>
            <i
              v-if="notification.notification_topic.includes(`Video`)"
              class="las la-photo-video"
            ></i>
            <i
              v-if="notification.notification_topic.includes(`Article`)"
              class="las la-newspaper"
            ></i>
            <i
              v-if="notification.notification_topic.includes(`Appointment`)"
              class="las la-calendar"
            ></i>
            <i
              v-if="notification.notification_topic.includes(`concern`)"
              class="las la-person-booth"
            ></i>
            <div class="content-container">
              <p class="content">{{ notification.notification_topic }}</p>
              <p class="small-text time">
                {{
                  $dateFormat(notification.created_at, "h:mm A, Do MMM YYYY")
                }}
              </p>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="msg-no-notifications py-2">
            <i class="las la-check-circle la-lg mb-1"></i>
            <p>All caught up.</p>
          </div>
        </template>
      </template>
    </dropdown>

    <!--


<div class="form-input-wrapper time-container">
        <label for="startTime">Start Time:</label>
        <div class="time-dropdown-container">
          <select v-model="timeStartHour">
            <option
              :value="hour"
              v-for="hour in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
              :key="hour"
            >
              {{ hour }}
            </option>
          </select>

        <label for="timeStartMinuteToggle" ref="timeStartMinuteToggle">s</label>
          <select v-model="timeStartMinute"  id="timeStartMinuteToggle">
            <option
              :value="minute"
              v-for="minute in ['00', '15', '30', '45']"
              :key="minute"
            >
              {{ minute }}
            </option>
          </select>

          <select v-model="timeStartAmPm" ref="timeStartAmPmToggle">
            <option
              :value="amPm"
              v-for="amPm in ['AM', 'PM']"
              :key="amPm"
            >
              {{ amPm }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-input-wrapper time-container">
        <label for="startTime">Duration:</label>
        <select v-model.number="timeBlock">
          <option value="30">30min</option>
          <option value="45">45min</option>
          <option value="60">60min</option>
        </select>
      </div>

     -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Getter } from "nuxt-property-decorator"
import { getNotifications, viewNotification } from "~/api/notifications"
import { INotification } from "~/interfaces"
import { getArticle } from "~/api/articles"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import Dropdown from "~/components/Dropdown.vue"

@Component({
  components: { Dropdown, LoadingSpinner },
})
export default class NotificationsDropdown extends Vue {
  @Getter("config/tColor") readonly sColor!: string

  primaryColor = ""
  isLoadingNotifications = true
  allNotifications: INotification[] = []
  articleSlug = ""

  get notifications() {
    return this.allNotifications.filter((noti) => !noti.is_read)
  }

  get notificationCount() {
    return this.notifications.length < 10 ? this.notifications.length : "9+"
  }

  async fetchNotifications() {
    try {
      this.isLoadingNotifications = true
      const { data: notifications } = await getNotifications()
      this.allNotifications = notifications
    } catch (error) {
    } finally {
      this.isLoadingNotifications = false
    }
  }

  created() {
    this.fetchNotifications()
  }

  async onOpenDropdown() {
    try {
      this.isLoadingNotifications = true
      const { data: notifications } = await getNotifications()
      this.allNotifications = notifications
    } catch (error) {
    } finally {
      this.isLoadingNotifications = false
    }
  }

  async notificationClicked(notification) {
    try {
      this.isLoadingNotifications = true
      if (notification.notification_topic.includes("Video")) {
        this.$router.push(`/resources/videos/${notification.content}`)
      }
      if (notification.notification_topic.includes("Audio")) {
        this.$router.push(`/resources/podcasts/${notification.content}`)
      }
      if (notification.notification_topic.includes("Appointment")) {
        const permissions = this.$store.state.auth.user.permissions
        if (permissions.includes("appointment.book.self")) {
          this.$router.push(`/appointments/${notification.content}`)
        }
        if (permissions.includes("appointment.book.client")) {
          this.$router.push(`/appointments/manage/${notification.content}`)
        }
      }

      if (notification.notification_topic.includes("Article")) {
        const { data: article } = await getArticle(notification.content)
        this.$router.push(`/resources/articles/${article.slug}`)
      }
      if (notification.notification_topic.includes("peer")) {
        this.$router.push(`/profile`)
      }
      await viewNotification(notification.id)
    } catch (error) {
    } finally {
      this.isLoadingNotifications = false
    }
  }
}
</script>

<style lang="scss" scoped>
.msg-no-notifications {
  text-align: center;
}
.item.notification {
  display: flex !important;
  gap: 0.5rem;
  align-items: center;
  .content-container {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }
}

.content {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.la-bell {
  font-size: 1.4rem !important;
  color: #6e6e6e;
}
.notifications-toggle {
  position: relative;
  /* display: grid;
  place-items: center; */
  .notification-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    right: -7px;
    top: -9px;
    font-size: 0.7rem;
    color: #fff;
    border: 2px solid #f5f5fd;
  }
}
</style>
