<template>
  <div class="flex justify-end mt-5 content-center items-center">
    <div>
      <button :disabled="currentPage <= 1" class="ml-3 text-sm rounded-md p-2 border" @click="prevPage">
        &lt;- Previous
      </button>
    </div>

    <div class="flex flex-col justify-center text-center space-y-1">
      <span class="ml-3 text-xs rounded-md">
        Page {{ currentPage }} of {{ totalPages }}
      </span>
      <span class="ml-3 text-xs rounded-md">
        Total Items: {{ totalRecords }}
      </span>
    </div>
    <div>
      <button :disabled="currentPage >= totalPages" class="ml-3 text-sm rounded-md p-2 border" @click="nextPage">
        Next ->
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"

@Component({})
export default class Pagination extends Vue {
  @Prop({ default: 1 }) currentPage!: number
  @Prop({ default: 1 }) totalPages!: number
  @Prop({ default: 1 }) totalRecords!: number

  nextPage() {
    this.$emit("nextPage")
  }

  prevPage() {
    this.$emit("prevPage")
  }
}
</script>
