<template>
  <div class="setup__wrapper">
    <div class="form__div">
      <form v-if="!stepTwo" @submit.prevent="submit">
        <div class="form__titles">
          <span class="form__title">Account Setup</span>
          <span class="form__subtitle">
            Please finish setting up your account
          </span>
        </div>
        <div class="form-input-wrapper mb-1">
          <label for="bio">Update Profile Image</label>
          <div class="profile-img-wrapper">
            <img
              class="profile-img"
              :src="$userimg(user.profile_image)"
              :alt="user.full_name"
            />

            <btn-profile-upload :onUpload="fetchUserDetails" />
          </div>
        </div>
        <div class="form-input-wrapper mb-5">
          <label for="firstName" class="small-text">Full Name (required)</label>
          <tad-input
            id="firstName"
            v-model="user.full_name"
            type="text"
            name="firstName"
            required
            placeholder="enter full name"
          />
        </div>

        <div class="form-input-wrapper mb-6">
          <label for="gender" class="small-text">Gender (optional)</label>
          <select
            id="gender"
            v-model="user.gender"
            class="select__container"
            name="gender"
          >
            <option value="male">Male (He/Him/His)</option>
            <option value="female">Woman (She/Her/Hers)</option>
            <option value="queer">Genderqueer/Non Binary</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="bio" class="small-text"
            >Let people know who you are.</label
          >
          <tad-input
            as="textarea"
            id="bio"
            v-model="user.bio"
            name="bio"
          ></tad-input>
        </div>

        <div class="form-input-wrapper mb-6 upload-terms__input">
          <div>
            <tad-input
              id="firstName"
              type="checkbox"
              name="firstName"
              v-model="selected"
              @change="check($event)"
            /><span class="upload__terms"
              >By setting up your account with <b>TadHealth</b>, I agree to the

              <tad-text
                style="display: inline; text-decoration: underline"
                @click="modalOpenTerms"
                >Terms of Use</tad-text
              >
              and
              <a
                style="display: inline; text-decoration: underline"
                href="https://tadhealth.com/privacy"
                >Privacy Policy.</a
              ></span
            >
          </div>
        </div>

        <div
          v-if="user.organization.company_terms"
          class="form-input-wrapper mb-6 upload-terms__input"
        >
          <div>
            <tad-input
              v-model="selected2"
              type="checkbox"
              @change="check2($event)"
            /><span class="upload__terms"
              >By setting up your account with
              <b>{{ user.organization.name }}</b
              >, you agree to the
              <a
                target="_blank"
                style="display: inline; text-decoration: underline"
                :href="user.organization.company_terms"
                >Terms of Service.</a
              ></span
            >
          </div>
        </div>
        <div>
          <!-- <tad-button class="login__button">Login</tad-button> -->
          <tad-button primary class="login__button"
            >Save and Continue</tad-button
          >
        </div>
      </form>
      <div v-if="stepTwo">
        <form action="" @submit.prevent="submit2">
          <div class="form__titles">
            <span class="form__title">Location Information</span>
            <span class="form__subtitle"> Please add your location. </span>
          </div>
          <div class="form-input-wrapper mb-6">
            <label for="city" class="small-text">City</label>
            <tad-input
              id="city"
              v-model="user.city"
              type="text"
              name="city"
              required
            />
          </div>
          <div class="form-input-wrapper mb-6">
            <label for="zip" class="small-text">Zip</label>
            <tad-input
              id="zip"
              v-model="user.zip_code"
              type="number"
              name="zip"
            />
          </div>
          <div class="form-input-wrapper mb-6">
            <label for="state" class="small-text">State</label>
            <select
              id="state"
              v-model="user.state"
              class="select__container"
              name="state"
            >
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
          <div>
            <!-- <tad-button class="login__button">Login</tad-button> -->
            <tad-button primary class="login__button"
              >Save and Continue</tad-button
            >
          </div>
        </form>
      </div>

      <tad-text @click="logout" class="exit">Logout and finish later?</tad-text>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import { IUserProfile, IUserProfileUpdate } from "~/interfaces"
import BtnProfileUpload from "~/components/profile/BtnProfileUpload.vue"
import BtnCoverUpload from "~/components/profile/BtnCoverUpload.vue"
import { updateMe } from "~/api/users"
import ModalTerms from "~/components/modals/ModalTerms.vue"

@Component({
  // layout: "institution",
  middleware: ["authenticated"],
  components: {
    TadButton,
    TadLink,
    TadInput,
    BtnCoverUpload,
    BtnProfileUpload,
    TadText,
  },
})
export default class PeerSetup extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  selectedFile: any = ""
  stepOne: boolean = true
  stepTwo: boolean = false
  contacts: [] = []
  selected = false
  selected2 = false

  user = this.$auth.user as unknown as IUserProfile

  async logout() {
    await this.$auth.logout()
  }

  async submit2() {
    try {
      const updatedProfile: IUserProfileUpdate = {
        full_name: this.user.full_name,
        email: this.user.email,
        bio: this.user.bio,
        gender: this.user.gender,
        state: this.user.state,
        city: this.user.city,
        zip_code: this.user.zip_code,
      }
      await updateMe(updatedProfile)
      await this.$auth.fetchUser()
      this.$toast.success("Profile updated successfully.")
      this.$router.push("/profile")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  async submit3() {
    try {
      const updatedProfile: IUserProfileUpdate = {
        full_name: this.user.full_name,
        email: this.user.email,
        bio: this.user.bio,
        gender: this.user.gender,
        state: this.user.state,
        city: this.user.city,
        zip_code: this.user.zip_code,
      }
      await updateMe(updatedProfile)
      await this.$auth.fetchUser()
      this.$toast.success("Profile updated successfully.")
      this.$router.push("/profile")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  mounted() {
    if (!this.user.organization?.company_terms) {
      this.selected2 = true
    }
  }
  created() {
    this.fetchUserDetails()
  }

  check2(e) {
    this.selected2 = true
    e.target.checked = true
  }

  check(e) {
    this.selected = true
    e.target.checked = true
  }

  async fetchUserDetails() {
    const response = await this.$auth.fetchUser()
    if (response) {
      this.user = { ...response.data }
    }
  }

  modalOpenTerms() {
    const modal = {
      title: "TadHealth Terms",
      content: ModalTerms,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  async submit() {
    try {
      const updatedProfile: IUserProfileUpdate = {
        full_name: this.user.full_name,
        gender: this.user.gender,
        bio: this.user.bio,
        state: this.user.state,
        city: this.user.city,
        zip_code: this.user.zip_code,
      }
      await updateMe(updatedProfile)
      await this.$auth.fetchUser()
      if (this.selected === false || this.selected2 === false) {
        this.$toast.error("Please accept terms.")
        this.stepTwo = false
        this.stepOne = true
        return
      }
      this.stepTwo = true
      this.stepOne = false
    } catch (error) {
      this.$toast.error("Error updating profile.")
    }
  }
}
</script>

<style lang="scss" scoped>





.exit {
  font-size: 0.8rem;
  text-align: center;
  display: block;
  padding: 2rem 0rem;
  font-weight: 600;
}

.profile-img-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  .profile-img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
  }
}

.upload__terms {
  margin-left: 0.5rem;
  color: var(--dark-text);
  font-size: 0.8rem;
}

.setup__wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.form__titles {
  display: flex;
  flex-direction: column;
}

.form__div {
  background-color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}

.form__logo {
  width: 50%;
  margin-bottom: 3rem;
}

.form__title {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  color: var(--dark-text);
  text-align: center;
}


.form__subtitle {
  font-size: var(--small-text);
  color: #8390a2;
  padding-bottom: 1rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  text-align: center;
  padding: 1rem 0rem;
}

::placeholder {
  color: #8390a279;
}

.login__button {
  width: 100%;
}




@media only screen and (max-width: 560px) {
  .form__div {
    width: 100%;
  }
}
</style>