<template>
  <div>
    <!-- Back Button -->
    <tad-button primary @click="$router.go(-1)" class="mb-5"
      >Go Back</tad-button
    >

    <div class="podcast-table">
      <div v-if="currentAudioLink" :key="currentAudioLink" class="media-player">
        <UserAudioPlayer
          class="mt-5"
          :url="currentAudioLink"
          playerid="audio-player"
          :title="currentTitle"
          :artist="curArt"
          :description="currentDescription"
          :thumbnail="currentThumbnail"
          :audio-id="currentId"
          :audio="audio"
        />
      </div>

      <div v-else>
        <NoAudio />
      </div>

      <div>
        <span class="subtitle-text">Podcast Library</span>
        <span class="small-text subtitle__text"></span>
      </div>

      <div>
        <div class="video__list-header">
          <div>
            <span class="video__list-header-title"> Title </span>
          </div>
          <div class="view">
            <span class="video__list-header-title"> Action</span>
          </div>
        </div>
        <div v-if="audios.length" style="padding-bottom: 2rem" class="podcasts">
          <div
            v-for="audio in audios"
            :key="audio.id"
            class="video__list videos"
          >
            <div class="podcast-table-left">
              <img
                :src="audio.thumbnail_url"
                alt=""
                class="podcast-table-cover"
              />
              <div class="podcast-details">
                <span class="podcast-table-title">
                  {{ audio.title }}
                </span>

                <nuxt-link :to="`/resources/profile/${audio.owner_id}`">
                  <span class="podcast-table-author">
                    {{ audio.owner.full_name }}
                  </span>
                </nuxt-link>
              </div>
            </div>
            <div class="view">
              <span>
                <button
                  class="btn orange"
                  @click.prevent="
                    loadPlayer(
                      audio.title,
                      audio.id,
                      audio.description,
                      audio.thumbnail_url,
                      audio.owner.full_name
                    )
                  "
                >
                  <i class="las la-play"></i>
                </button>
              </span>
              <!-- <span>
              <tad-button primary @click="openModalFeedbackAudio(audio)" class="feedback"
                ><i class="las la-comment"></i> Feedback</tad-button
              >
            </span> -->
            </div>
          </div>
        </div>

        <div v-else>
          <p class="no-audios-box">No Podcasts Available</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Getter,
  Action,
  Mutation,
} from "nuxt-property-decorator"
import ModalFeedbackAudioResource from "~/components/modals/ModalFeedbackAudioResource.vue"

import Anchor from "~/components/global/Anchor.vue"
import UserAudioPlayer from "~/components/UserAudioPlayer.vue"
import {
  getAudios,
  getAudioSignedURL,
  createPodcastView,
  getAudio,
} from "~/api/resources"
import { IAudioResource } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { UserAudioPlayer, Anchor, TadButton },
  middleware: ["authenticated"],
})
export default class Pocasts extends Vue {
  audios: IAudioResource[] = []
  currentTitle: string = ""
  currentAritist: string = ""
  currentDescription: string = ""
  currentThumbnail: string = ""
  currentAudioLink: string = ""
  curArt: string = ""
  currentId: string = ""
  audio: any = {}

  podcastId = this.$route.params.id
  singlePodcast: any = {}

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  mounted() {
    this.fetchAudios()
    if (this.podcastId) {
      this.fetchLoadedAudio(this.podcastId)
    } else {
      this.fetchLoadedAudio(this.singlePodcast.id)
    }
  }

  async loadPlayer(title, podcastId, description, podcastThumbnail, artist) {
    this.currentAritist = podcastId
    this.currentTitle = title
    this.currentDescription = description
    this.currentThumbnail = podcastThumbnail
    this.curArt = artist
    this.currentId = podcastId
    const action = "viewed"
    const audio_id = podcastId
    createPodcastView(action, audio_id)
    await this.fetchSource(podcastId)
  }

  async fetchAudios() {
    try {
      const { data: audios } = await getAudios()
      this.audios = audios
      await this.fetchFirstAudio()
    } catch (error) {}
  }

  async fetchFirstAudio() {
    try {
      this.singlePodcast = this.audios[0]
      this.loadPlayer(
        this.singlePodcast.title,
        this.singlePodcast.id,
        this.singlePodcast.description,
        this.singlePodcast.thumbnail_url,
        this.singlePodcast.owner.full_name
      )
      window.scrollTo(0, 0)
    } catch (error) {}
  }

  async fetchLoadedAudio(id) {
    try {
      const { data: audio } = await getAudio(id)
      this.singlePodcast = audio
      this.loadPlayer(
        this.singlePodcast.title,
        this.singlePodcast.id,
        this.singlePodcast.description,
        this.singlePodcast.thumbnail_url,
        this.singlePodcast.owner.full_name
      )
      window.scrollTo(0, 0)
    } catch (error) {}
  }

  openModalFeedbackAudio(audio) {
    const modal = {
      title: "Provide Feedback",
      content: ModalFeedbackAudioResource,
      props: {
        audio,
      },
    }
    this.showModal(modal)
  }

  async fetchSource(id) {
    try {
      // video.s3_storage_key
      const { data: url } = await getAudioSignedURL(
        // "24ae5a40-9b09-4d42-ad6d-20557d0e8716/8!PNr-recorded-by-24ae5a40-9b09-4d42-ad6d-20557d0e8716.mp4"
        {
          id,
        }
      )
      this.currentAudioLink = url.audio_url
    } catch (error) {}
  }
}
</script>

<style lang="scss" scoped>
/*@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");*/
.la-ellipsis-v {
  font-size: 1rem;
}

.la-ellipsis-v:hover {
  transform: scale(1.5);
}

.not-loaded {
  min-height: 200px;
}
.videos {
  padding-left: 1rem;
  padding-right: 1rem;
}

.videos:hover {
  background-color: #f4f5f8;
}
.no-audios-box {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--light-text);
}

.podcast-table {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  margin-top: 1rem;
}

.subtitle__text {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.subtitle__desc {
  display: block;
  color: var(--light-text);
}

.podcast__title {
  font-size: var(--small-text);
  color: var(--light-text);
  display: inline-block;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.podcasts__featured-subtitle {
  display: inline-block;
  padding: 0rem !important;
  padding-bottom: 1rem !important;
  font-weight: 600;
  color: var(--dark-text);
}

.podcasts__container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.podcast-table-title {
  font-weight: 600;
  color: var(--dark-text);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.podcast-table-author {
  color: var(--light-text);
  font-size: 0.7rem;
  font-weight: 400 !important;
}

.podcast-table-cover {
  align-self: center;
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.la-play {
  font-size: 1.4rem;
  // margin-right: 10px;
}
.podcast-details {
  display: flex;
  flex-direction: column;
}

.podcast-table-left {
}

audio {
  width: 100vw !important;
  background-color: green;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 5px;
}

.media-player {
  margin-bottom: 3rem;
}

.video__list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f0f0f0;

  div {
    display: flex;
    justify-content: center;
  }
  span {
    font-size: 0.8rem;
  }
}

.video__list {
  .view {
    justify-content: end;
    align-items: center;
    padding: 0.5rem 0rem;
  }
}

.video__list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  span {
    display: block;
    font-size: 0.8rem;
  }
}

.video__list-button {
  border: none;
  padding: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 5px;
  min-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: white;
  background-color: var(--tad-mint);
  text-align: center;
  cursor: pointer;
}

.video__list-header {
  div {
    width: 30%;
    display: flex;
    padding-bottom: 1rem;
  }
  .view {
    justify-content: end;
  }

  .status {
    display: flex;
    justify-content: flex-start;
  }
}

.video__list-header-title {
  color: var(--dark-text);
  font-size: 0.9rem !important;
  font-weight: bold !important;
}
@media only screen and (max-width: 1000px) {
  .podcasts__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .podcasts__featured-subtitle {
    padding-top: 2rem !important;
  }
}

@media only screen and (max-width: 650px) {
  .podcasts__container {
    grid-template-columns: 100%;
  }

  .feedback {
    display: none;
  }
}
</style>
