<template>
  <div>
    <div class="resources__table-titles">
      <h3 class="resources__section" v-if="listLength > 0">
        Videos <span class="resource__number">({{ listLength }})</span>
      </h3>
      <h3 class="resources__section" v-else>
        Videos <span class="resource__number">({{ 0 }})</span>
      </h3>
      <span class="small-text"
        >View all of organizations videos below.</span
      >
    </div>
    <div class="video-table">
      <div class="video__list-header">
        <div>
          <span class="video__list-header-title"> Video Title </span>
        </div>
        <div class="status">
          <span class="video__list-header-title"> Publisher </span>
        </div>
        <div class="view">
          <span class="video__list-header-title"> Action </span>
        </div>
      </div>
      <div v-if="videos.length">
        <div v-for="video in videos" :key="video.id" class="video__list videos">
          <div>
            <span>
              <i class="las la-file-video"></i>
              {{ video.title }}
            </span>
          </div>
          <div class="status">
            <span>
              {{ video.owner.full_name }}
            </span>
          </div>
          <div class="view">
            <span>
              <nuxt-link :to="`/resources/videos/${video.id}`"
                ><tad-button > Watch </tad-button></nuxt-link
              >
            </span>
          </div>
        </div>
      </div>
      <div v-else class="no-audios-box">
        <p>No Videos To Display</p>
      </div>
      <div class="video__list-pagination">
        <ServerPaginationControls
          :endpoint="getPaginatorVideos"
          :styling="{ align: 'right', paddingLeft: '2rem' }"
          @updated-items="updateVideoList"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation, Prop } from "nuxt-property-decorator"
import { getProVideos } from "~/api/resources"
import ModalDeleteVideoResource from "~/components/modals/ModalDetailsVideoResource.vue"
import { IModal, IVideoResource } from "~/interfaces"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"


@Component({
  middleware: ["authenticated"],
  components: { TadButton, OrangeButton },
})

export default class ProfileVideoList extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  @Prop(String) readonly id
  videos: IVideoResource[] = []
  listLength: number = 0

  mounted() {
    this.fetchVideos()
  }

  async fetchVideos() {
    try {
      const { data: videos } = await getProVideos(this.id)
      this.videos = videos
      this.listLength = videos.length
    } catch (error) {}
  }

  openModalDeleteVideo(video: IVideoResource) {
    const modal: IModal = {
      title: "Video Details",
      content: ModalDeleteVideoResource,
      props: {
        video,
      },
    }
    this.showModal(modal)
  }

  getPaginatorVideos(skip = 0, limit = 10) {
    return getProVideos(this.id, { skip, limit })
  }

  updateVideoList(videos: IVideoResource[] = []) {
    this.videos = videos
  }
}
</script>

<style lang="scss" scoped>
.resource__number {
  color: var(--light-text) !important;
  font-weight: 500 !important;
}

.video__list-pagination {
  padding-left: 2rem;
}

.resources__table-titles {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e6e6e6;
  span {
    font-weight: 600;
  }
}

.resources__section {
  padding: 0.5rem 0rem;
  font-size: 1rem;
  color: var(--dark-text);
  font-weight: 700;
}
.videos {
  padding-left: 1rem;
  padding-right: 1rem;
}

.videos:hover {
  background-color: #f4f5f8;
}
.video-table {
  background-color: white;
  padding: 2rem 0rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
}

.no-audios-box {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--light-text);
}
.video__list-header {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  span {
    display: block;
    font-size: 0.9rem;
    font-weight: bold !important;
    color: var(--dark-text) !important;
  }

  div {
    width: 30%;
    display: flex;
    padding-bottom: 1rem;
  }
  .view {
    justify-content: end;
  }

  .status {
    display: flex;
    justify-content: flex-start;
  }

  border-bottom: 2px solid #f0f0f0;
}

.video__list-header-title {
  font-weight: bold;
  color: #5e6367;
  font-size: 0.8rem;
}

.video__list {
  .view {
    justify-content: end;
    align-items: center;
    padding: 0.8rem 0;
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;

  div {
    width: 30%;
    display: flex;
    padding: 1.5rem 0rem;
    align-items: center;
  }
  span {
    font-size: 0.8rem;
    color: var(--dark-text) !important;
    font-weight: 500 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

.btn {
  border: none;
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 5px;
  min-width: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #fff;
  margin: 0;
  text-align: center;
  display: inline !important;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 560px) {
  .video__list {
    .view {
      justify-content: end;
      align-items: center;
      padding: 0.5rem 0;
    }
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      width: 40%;
    }
    span {
      font-size: 0.8rem;
    }
  }
  .view {
    width: 60% !important;

    button {
      padding: 0.5rem !important;
    }
  }

  .status {
    display: none !important;
  }

  .video-icon {
    display: none;
  }
}
</style>
