<template>
  <div class="calendar-container">
    <div v-if="isWorking" class="calendar-spinner">
      <loading-spinner>Please wait...</loading-spinner>
    </div>
    <FullCalendar
      ref="fullCalendar"
      v-if="isDeleteActive"
      :options="deleteCalendarOptions"
      class="calendar"
    />
    <FullCalendar
      ref="fullCalendar"
      v-else
      :options="calendarOptions"
      class="calendar"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation, Watch } from "nuxt-property-decorator"
// import "@fullcalendar/core/vdom" // solves problem with Vite
import FullCalendar, { CalendarApi, EventApi } from "@fullcalendar/vue"
import dayGridPlugin from "@fullcalendar/daygrid"
import timeGridPlugin from "@fullcalendar/timegrid"
import interactionPlugin from "@fullcalendar/interaction"
import dayjs from "dayjs"
import { IAvailability, IModal } from "~/interfaces"
import ModalRequestConfirmation from "./modals/ModalRequestConfirmation.vue"
import { deleteMultipleAvailabilities } from "~/api/availabilities"

const ATTR_AVAILAIBILITY_DELETE = "data-availability-delete-selected"

@Component({
  components: { FullCalendar },
})
export default class ProfessionalCalendar extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any
  @Prop({ default: () => [] }) readonly events!: []
  @Prop({ default: () => {} }) readonly dateClicked!: (date: Date, currentViewHasTime: boolean) => void
  @Prop({ default: () => {} }) readonly visibleDatesSet!: (startDate: Date, endDate: Date) => void
  @Prop({ default: () => {} }) readonly eventClicked!: (info: {
    event: EventApi
  }) => void

  @Prop({ default: () => dayjs().format("YYYY-MM-DD") })
  readonly startDate!: string
  @Prop({ default: () => {} }) readonly refresh!: () => void

  @Watch('events')
  onEventsChange(newEvents) {
    this.selectedAvailabilitiesForDelete = []
    const calendarApi = this.$refs.fullCalendar.getApi();
    calendarApi.removeAllEvents();
    calendarApi.addEventSource(newEvents);
  }

  $refs!: {
    fullCalendar: Vue & { getApi: () => CalendarApi }
  }

  isDeleteActive = false
  selectedAvailabilitiesForDelete: string[] = []
  isWorking = false
  currentView = this.getCalendarInitialView()

  calendarOptions = {
    plugins: [interactionPlugin, dayGridPlugin, timeGridPlugin],
    initialView: this.currentView,
    datesSet: dateInfo => {
      this.visibleDatesSet(dateInfo.start, dateInfo.end)
    },
    dateClick: (event: { date: Date; jsEvent: MouseEvent }) => {
      this.dateClicked(event.date, this.currentView !=='dayGridMonth')
    },
    eventClick: this.eventClicked,
    weekends: false,
    events: this.events,
    headerToolbar: {
      left: "prev,next today availabilitydelete",
      center: "title",
      right: "customMonth,customWeek,customDay",
    },
    eventTimeFormat: {
      hour: "numeric",
      minute: "2-digit",
      meridiem: "short",
    },
    validRange: {
      start: this.startDate,
    },
    customButtons: {
      availabilitydelete: {
        text: "Delete Availabilities",
        click: this.toggleDeletion,
      },
      customMonth: {
        text: "month",
        click: () => {
          this.currentView = 'dayGridMonth'
          this.$refs.fullCalendar.getApi().changeView(this.currentView)
          localStorage.setItem("availability-calendar-view", this.currentView)
        },
      },
      customWeek: {
        text: "week",
        click: () => {
          this.currentView = 'timeGridWeek'
          this.$refs.fullCalendar.getApi().changeView(this.currentView)
          localStorage.setItem("availability-calendar-view", this.currentView)
        },
      },
      customDay: {
        text: "day",
        click: () => {
          this.currentView = 'timeGridDay'
          this.$refs.fullCalendar.getApi().changeView(this.currentView)
          localStorage.setItem("availability-calendar-view", this.currentView)
        },
      },
    },
    dayMaxEventRows: 5,
    moreLinkClassNames: ["calendar-more-link"],
    navLinks: true,
    navLinkDayClick: this.dateClicked,
    height: "auto",
    expandRows: true,
    stickyHeaderDates: true,
  }

  deleteCalendarOptions = {
    ...this.calendarOptions,
    dateClick: null,
    datesSet: dateInfo => {
      this.visibleDatesSet(dateInfo.start, dateInfo.end)
    },
    eventClick: this.selectForDelete,
    events: this.events,
    headerToolbar: {
      left: "confirmdelete canceldelete",
      center: "title",
      right: false,
    },
    customButtons: {
      confirmdelete: {
        text: "Confirm Deletion",
        click: this.modalRequestDeleteConfirmation,
      },
      canceldelete: {
        text: "Cancel",
        click: this.toggleDeletion,
      },
    },
    navLinks: false,
  }

  getCalendarInitialView() {
    let view = localStorage.getItem("availability-calendar-view")
    if (!view) {
      view = "dayGridMonth"
      localStorage.setItem("availability-calendar-view", view)
    }

    return view as  'dayGridMonth' | 'timeGridWeek' | 'timeGridDay'
  }

  toggleDeletion() {
    this.isDeleteActive = !this.isDeleteActive
    this.selectedAvailabilitiesForDelete = []
  }

  selectForDelete(info: { event: EventApi; el: HTMLElement }) {
    const { event, el } = info
    // Ignore booked events
    const isBooked = event.extendedProps.availability.is_booked as boolean
    if (isBooked) {
      this.$toast.error("You cannot delete booked time slots.")
      return
    }

    const selected = document.querySelectorAll(`[${ATTR_AVAILAIBILITY_DELETE}]`)
    let wasSelected = false
    for (let i = 0; i < selected.length; i++) {
      const eventId = selected.item(i).getAttribute(ATTR_AVAILAIBILITY_DELETE)
      if (eventId == event.id) {
        wasSelected = true
        break
      }
    }
    if (wasSelected) {
      el.removeAttribute(ATTR_AVAILAIBILITY_DELETE)
      this.selectedAvailabilitiesForDelete =
        this.selectedAvailabilitiesForDelete.filter((id) => id !== event.id)
    } else {
      el.setAttribute(ATTR_AVAILAIBILITY_DELETE, event.id)
      this.selectedAvailabilitiesForDelete.push(event.id)
    }
  }

  modalRequestDeleteConfirmation() {
    if (this.selectedAvailabilitiesForDelete.length <= 0) {
      this.$toast.error("No time slots selected")
      return
    }

    const modal: IModal = {
      title: "Confirm Delete",
      content: ModalRequestConfirmation,
      props: {
        text: `Are you sure you want to delete <b>${
          this.selectedAvailabilitiesForDelete.length
        } time slot${
          this.selectedAvailabilitiesForDelete.length > 1 ? "s" : ""
        }</b>?`,
        onconfirm: this.confirmedDeleteAvailabilities,
      },
    }

    this.showModal(modal)
  }

  async confirmedDeleteAvailabilities() {
    try {
      this.isWorking = true
      await deleteMultipleAvailabilities(this.selectedAvailabilitiesForDelete)
      this.$toast.success("Time slots deleted successfully")
      this.refresh()
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to delete time slots")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style scoped>
@import "~/assets/css/calender.css";
.calendar-container {
  position: relative;
}
.calendar {
  /* height: 80vh;
  max-height: 1000px;
  min-height: 600px; */
}
.calendar-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 9;
  background-color: #ffffffc7;
}
</style>
