<template>
  <div>
    <div class="resources__table-titles">
      <h3 class="resources__section" v-if="listLength > 0">
        Podcasts <span class="resource__number">({{ listLength }})</span>
      </h3>
      <h3 class="resources__section" v-else>
        Podcasts <span class="resource__number">({{ 0 }})</span>
      </h3>
      <span class="small-text"
        >View all of your organizations podcasts below.</span
      >
    </div>
    <div class="video-table">
      <div class="video__list-header">
        <div>
          <span class="video__list-header-title"> Podcast Title </span>
        </div>
        <div class="status">
          <span class="video__list-header-title"> Publisher </span>
        </div>
        <div class="view">
          <span class="video__list-header-title"> Action </span>
        </div>
      </div>
      <div v-if="audios.length">
        <div v-for="audio in audios" :key="audio.id" class="video__list videos">
          <div>
            <span>
              <i class="las la-file-audio"></i>
              {{ audio.title }}
            </span>
          </div>
          <div class="status">
            <span>
              {{ audio.owner.full_name }}
            </span>
          </div>
          <div class="view">
            <span>
              <NuxtLink :to="`/resources/podcasts/${audio.id}`">
                <tad-button> Listen </tad-button>
              </NuxtLink>
            </span>
          </div>
        </div>
      </div>
      <div v-else class="no-audios-box">
        <p>No Audios To Display</p>
      </div>
      <div class="video__list-pagination">
        <ServerPaginationControls
          :endpoint="getPaginatorAudios"
          :styling="{ align: 'right', paddingLeft: '2rem' }"
          @updated-items="updateAudioList"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation, Prop } from "nuxt-property-decorator"
import { getProPodcasts } from "~/api/resources"
import ModalPlayAudioResource from "~/components/modals/ModalPlayAudioResource.vue"
import { IAudioResource, IModal } from "~/interfaces"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"

@Component({
  middleware: ["authenticated"],
  components: { TadButton, OrangeButton },
})
export default class ProfileAudioList extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  @Prop(String) readonly id
  audios: IAudioResource[] = []
  listLength: number = 0

  mounted() {
    this.fetchAudios()
  }

  async fetchAudios() {
    try {
      const { data: audios } = await getProPodcasts(this.id)
      this.audios = audios
      this.listLength = audios.length
    } catch (error) {}
  }

  getPaginatorAudios(skip = 0, limit = 10) {
    return getProPodcasts(this.id, { skip, limit })
  }

  updateAudioList(audios: IAudioResource[] = []) {
    this.audios = audios
  }
}
</script>

<style lang="scss" scoped>
.resource__number {
  color: var(--light-text) !important;
  font-weight: 500 !important;
}

.video__list-pagination {
  padding-left: 2rem;
}

.resources__table-titles {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e6e6e6;
  span {
    font-weight: 600;
  }
}

.resources__section {
  padding: 0.5rem 0rem;
  font-size: 1rem;
  color: var(--dark-text);
  font-weight: 700;
}

.videos {
  padding-left: 1rem;
  padding-right: 1rem;
}

.videos:hover {
  background-color: #f4f5f8;
}

.no-audios-box {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--light-text);
}
.video-table {
  background-color: white;
  padding: 2rem 0rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
}
.video__list-header {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  span {
    display: block;
    font-size: 0.9rem;
    font-weight: normal !important;
    color: var(--dark-text) !important;
    font-weight: bold !important;
  }

  div {
    width: 30%;
    display: flex;
    padding-bottom: 1rem;
  }
  .view {
    justify-content: end;
  }

  .status {
    display: flex;
    justify-content: flex-start;
  }

  border-bottom: 2px solid #f0f0f0;
}

.video__list-header-title {
  color: #5e6367;
  font-size: 0.8rem;
}

.video__list {
  .view {
    justify-content: end;
    align-items: center;
    padding: 0.8rem 0;
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  div {
    width: 30%;
    display: flex;
    padding: 1.5rem 0rem;
    align-items: center;
  }
  span {
    font-size: 0.8rem;
    color: var(--dark-text) !important;
    font-weight: 500 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}


@media only screen and (max-width: 560px) {
  .video__list {
    .view {
      justify-content: end;
      align-items: center;
      padding: 0.5rem 0;
    }
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      width: 40%;
    }
    span {
      font-size: 0.8rem;
    }
  }
  .view {
    width: 60% !important;

    button {
      padding: 0.5rem !important;
    }
  }

  .status {
    display: none !important;
  }


}
</style>
