<template>
  <div>
    <div class="resources__table-titles">
      <h3 class="resources__section" v-if="listLength > 0">
        Articles <span class="resource__number">({{ listLength }})</span>
      </h3>
      <h3 class="resources__section" v-else>
        Articles <span class="resource__number">({{ 0 }})</span>
      </h3>
      <span class="small-text"
        >View all of your organizations articles below.</span
      >
    </div>
    <div class="video-table">
      <div class="video__list-header">
        <div>
          <span class="video__list-header-title"> Article Title </span>
        </div>
        <div class="status">
          <span class="video__list-header-title"> about </span>
        </div>
        <div class="view">
          <span class="video__list-header-title"> Action </span>
        </div>
      </div>
      <div v-if="articles.length">
        <div
          v-for="article in articles"
          :key="article.id"
          class="video__list videos"
        >
          <div>
            <span>
              <i class="las la-newspaper"></i>
              {{ article.title }}
            </span>
          </div>
          <div class="status">
            <span class="status__text">
              {{ article.description }}
            </span>
          </div>
          <div class="view">
            <span>
              <nuxt-link :to="`/resources/articles/${article.slug}`"
                ><tad-button> Read </tad-button></nuxt-link
              >
            </span>
          </div>
        </div>
      </div>
      <div v-else class="no-audios-box">
        <p>No Articles To Display</p>
      </div>
      <div class="video__list-pagination">
        <ServerPaginationControls
          :endpoint="getPaginatorArticles"
          :styling="{ align: 'right', paddingLeft: '2rem' }"
          @updated-items="updateArticleList"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Component, Vue, Mutation, Prop } from "nuxt-property-decorator"
import { getProArticles } from "~/api/resources"
import ModalDeleteVideoResource from "~/components/modals/ModalDetailsVideoResource.vue"
import { IModal, IVideoResource, IArticle } from "~/interfaces"
import { getApiErrorMsg } from "~/api"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"
import ServerPaginationControls from "~/components/ServerPaginationControls.vue"

@Component({
  middleware: ["authenticated"],
  components: { ServerPaginationControls, TadButton, OrangeButton },
})
export default class VideoList extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  @Prop(String) readonly id

  articles: IArticle[] = []
  errMsg = ""
  isLoading = true
  fullApiUrl = process.env.fullApiUrl
  listLength: number = 0

  mounted() {
    this.getArticles()
  }

  async getArticles() {
    try {
      this.isLoading = true
      this.errMsg = ""
      const { data } = await getProArticles(this.id)
      this.articles = data
      this.listLength = data.length
    } catch (error) {
      this.errMsg = `Error loading articles: ${getApiErrorMsg(error)}`
    } finally {
      this.isLoading = false
    }
  }

  formatUpdatedAt(time: string) {
    return dayjs(time).format("h:MMA DD MMM YYYY")
  }

  ellipsis(text: string, maxLen = 60) {
    if (text.length >= maxLen) {
      return text.substr(0, maxLen - 3).concat("...")
    }

    return text
  }

  openModalDeleteVideo(video: IVideoResource) {
    const modal: IModal = {
      title: "Video Details",
      content: ModalDeleteVideoResource,
      props: {
        video,
      },
    }
    this.showModal(modal)
  }

  getPaginatorArticles(skip = 0, limit = 10) {
    return getProArticles(this.id, { skip, limit })
  }

  updateArticleList(articles: IArticle[] = []) {
    this.articles = articles
  }
}
</script>

<style lang="scss" scoped>
.video__list-pagination {
  padding-left: 2rem;
}

.resources__table-titles {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e6e6e6;
  span {
    font-weight: 600;
  }
}

.resource__number {
  color: var(--light-text);
  font-weight: 400 !important;
}

.resources__section {
  padding: 0.5rem 0rem;
  font-size: 1rem;
  color: var(--dark-text);
  font-weight: 700;
}

.video__list-pagination {
  padding-left: 2rem;
}
.videos {
  padding-left: 1rem;
  padding-right: 1rem;
}

.videos:hover {
  background-color: #f4f5f8;
}
.video-table {
  background-color: white;
  padding: 2rem 0rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
}

.no-audios-box {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--light-text);
}
.video__list-header {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  span {
    display: block;
    font-size: 0.9rem;
    font-weight: bold !important;
    color: var(--dark-text) !important;
  }

  div {
    width: 30%;
    display: flex;
    padding-bottom: 1rem;
  }
  .view {
    justify-content: end;
  }

  .status {
    display: flex;
    justify-content: flex-start;
  }

  border-bottom: 2px solid #f0f0f0;
}

.video__list-header-title {
  font-weight: bold;
  color: #5e6367;
  font-size: 0.8rem;
}

.video__list {
  .view {
    justify-content: end;
    align-items: center;
    padding: 0.8rem 0;
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  div {
    width: 30%;
    display: flex;
    padding: 1.5rem 0rem;
    align-items: center;
  }
  span {
    font-size: 0.8rem;
    color: var(--dark-text) !important;
    font-weight: 500 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}


@media only screen and (max-width: 560px) {
  .video__list {
    .view {
      justify-content: end;
      align-items: center;
      padding: 0.5rem 0;
    }
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      width: 40%;
    }
    span {
      font-size: 0.8rem;
    }
  }
  .view {
    width: 60% !important;

    button {
      padding: 0.5rem !important;
    }
  }

  .status {
    display: none !important;
  }

 
}
</style>
