<template>
  <div>
    <div class="resources__table-titles">
      <h3 class="resources__section">Account Overview</h3>
      <span class="small-text"
        >View and manage all your videos resources below.</span
      >
    </div>
    <div class="resource__card-grid">
      <div class="resource__card">
        <span>Total Views</span>
        <p>No Data</p>
      </div>
      <div class="resource__card">
        <span>Total Shares</span>
        <p>No Data</p>
      </div>
      <div class="resource__card">
        <span>Storage Used</span>
        <p>No Data</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
@Component({
  components: {},
})
export default class ProfessionalResourceAnalytics extends Vue {}
</script>

<style lang="scss" scoped>
.resources__table-titles {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  span {
    font-weight: 600;
  }
}

.resource__card {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  span {
    font-size: 0.9rem;
    color: var(--dark-text);
  }

  p {
    font-size: 1.8rem;
    color: var(--dark-text);
  }
}

.resource__card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 726px) {
  .resource__card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .resource__card-grid {
    grid-template-columns: 100%;
  }
}
</style>
