<template>
  <div
    class="
      tad-table
      table-responsive
      bg-white
      p-8
      rounded-lg
      shadow-md
      mb-8
      border border-gray-300
    "
  >
    <div class="flex flex-end w-full justify-end">
      <div>
        <dropdown class="filter-dropdown" width="185px" align="left">
          <template #toggle>
            <div class="filter-dropdown-toggle" style="width: 165px">
              {{
                filterStatus
                  ? filterStatus[0].toUpperCase() + filterStatus.slice(1)
                  : "All"
              }}
              <i class="las la-caret-down"></i>
            </div>
          </template>
          <template #menu>
            <!-- Status Filter -->
            <li class="item" @click="filterOptions('status', 'complete')">
              Completed
            </li>
            <li class="item" @click="filterOptions('status', 'incomplete')">
              Incomplete
            </li>
            <li class="item" @click="filterOptions('status', 'pending')">
              Pending
            </li>
            <li class="item" @click="filterOptions('status', 'All')">All</li>
          </template>
        </dropdown>
      </div>

      <div>
        <dropdown class="filter-dropdown" width="185px" align="left">
          <template #toggle>
            <div class="filter-dropdown-toggle" style="width: 165px">
              {{
                filterPriority
                  ? filterPriority[0].toUpperCase() + filterPriority.slice(1)
                  : "All"
              }}
              <i class="las la-caret-down"></i>
            </div>
          </template>

          <template #menu>
            <!-- Priority Filter -->
            <li
              class="item"
              @click="filterOptions('priority', 'Priority Response')"
            >
              Priority Response
            </li>
            <li class="item" @click="filterOptions('priority', 'All')">All</li>
          </template>
        </dropdown>
      </div>
    </div>
    <table>
      <thead class="table__header">
        <tr>
          <td width="250" class="table__header-text col-name">
            Respondent's name
          </td>
          <td class="table__header-text col-date col-response-type">
            Response Type
          </td>
          <td class="table__header-text col-status col-status">Status</td>
          <td class="table__header-text col-action text-right">Action</td>
        </tr>
      </thead>

      <!-- List of forms -->

      <tbody v-if="responses && responses.length && !busy" class="table-body">
        <tr
          v-for="response in responses"
          :key="response.response.id"
          class="row-form no-hover"
        >
          <td v-if="response.respondent.internal == false">
            {{ response.respondent.email }}
          </td>
          <td v-else>{{ response.respondent.full_name || "No Name Set" }}</td>
          <td class="col-response-type">
            {{
              response.response.is_priority_response ? "Priority" : "General"
            }}
          </td>
          <td class="col-status">
            {{
              response.response.status == "complete" ? "Completed" : "Pending"
            }}
          </td>
          <td class="text-right">
            <tad-button
              v-if="response.respondent.internal == false"
              :disabled="response.response.status !== 'complete'"
              @click.stop="
                $router.push(
                  `/forms/creator/${id}/response?email=${response.respondent.email}`
                )
              "
            >
              View Response</tad-button
            >
            <tad-button
              v-else
              :disabled="response.response.status !== 'complete'"
              @click.stop="
                $router.push(
                  `/forms/creator/${id}/response?user=${response.respondent.id}`
                )
              "
            >
              View Response</tad-button
            >
          </td>
        </tr>
      </tbody>

      <tbody v-if="busy">
        <tr class="no-hover">
          <td colspan="6" class="text-center">
            <loading-spinner>Please wait</loading-spinner>
          </td>
        </tr>
      </tbody>

      <tbody v-if="!busy && !responses" class="table-body" align="center">
        <tr class="no-hover">
          <td colspan="6">This form has not received any responses yet.</td>
        </tr>
      </tbody>
    </table>
    <div class="p-4">
      <Pagination
        :currentPage="currentPage"
        :totalPages="totalPages"
        :totalRecords="totalRecords"
        @nextPage="nextPage"
        @prevPage="prevPage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"
import { getFormResponseAnalytics } from "~/api/form-response"
import TadButton from "~/components/styled-components/TadButton"

type options = {
  size: number
  page: number
  status?: string | null
  is_priority_response?: boolean | null
}
@Component({ components: { TadButton } })
export default class FormQuestions extends Vue {
  @Prop(String) readonly id!: string
  @Prop(String) readonly type!: string

  responses: any = []
  busy: boolean = false
  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0
  filterStatus: any = null
  filterPriority: any = null

  options: options = {
    size: 5,
    page: 1,
    status: null,
    is_priority_response: null,
  }

  filterOptions(type, value) {
    if (type === "status") {
      this.filterStatus = value
      if (value === "All") {
        delete this.options.status
        this.fetchFormResponses()
        return
      }

      this.options.status = value
    } else if (type === "priority") {
      this.filterPriority = value
      if (value === "All") {
        delete this.options.is_priority_response
        this.fetchFormResponses()
        return
      } else {
        this.options.is_priority_response =
          value === "Priority Response" ? true : false
      }
    }
    this.fetchFormResponses()
  }

  mounted() {
    this.fetchFormResponses()
  }

  async nextPage() {
    this.options.page = this.options.page + 1
    await this.fetchFormResponses()
  }

  async prevPage() {
    this.options.page = this.options.page - 1
    await this.fetchFormResponses()
  }

  async fetchFormResponses() {
    try {
      this.busy = true
      const { data } = await getFormResponseAnalytics(this.id, this.options)
      this.totalRecords = data.total
      this.currentPage = data.page
      this.totalPages = data.pages

      this.responses = data.items
      this.busy = false
    } catch (error) {
    } finally {
    }
  }
}
</script>

<style>
.filter-dropdown-toggle {
  padding: 0.35rem 0.75rem;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background-color: rgba(255, 255, 255, 0.267);
  width: 130px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle .filter-dropdown-toggle {
  padding-bottom: 0.45rem;
}

@media screen and (max-width: 768px) {
  .col-response-type,
  .col-status {
    display: none;
  }
}
</style>
