<template lang="html">
  <div :class="{ tabs__light: mode === 'light', tabs__dark: mode === 'dark' }">
    <div class="resource__nav">
      
      <ul class="tabs__header">
        <li
          v-for="(tab, index) in tabs"
          :key="tab.title"
          :class="{ tab__selected: index == selectedIndex }"
          @click="selectTab(index)"
        >
          {{ tab.title }}
        </li>
      </ul>
      <CreateResourceSection />
    </div>
    <slot></slot>
    
  </div>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      default: "light",
    },
  },
  data() {
    return {
      selectedIndex: 0, // the index of the selected tab,
      tabs: [], // all of the tabs
    }
  },
  created() {
    this.tabs = this.$children
  },
  mounted() {
    this.selectTab(0)
    
  },
  methods: {
    selectTab(i) {
      this.selectedIndex = i
      // loop over all the tabs

      this.tabs.forEach((tab, index) => {
        tab.isActive = index === i
      })
    },
  },
}
</script>

<style lang="css" scoped>
.resource__nav {
  display: flex;
  justify-content: space-between;
}

ul.tabs__header {
  display: block;
  list-style: none;
  
}

ul.tabs__header > li {
  padding: 0px 15px;
  margin: 1rem 0rem;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 10px;
}
ul.tabs__header > li:nth-of-type(1){
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
}

ul.tabs__header > li:nth-of-type(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 20px;
}

ul.tabs__header > li:nth-of-type(2) {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

ul.tabs__header > li:nth-of-type(1),
ul.tabs__header > li:nth-of-type(2),
ul.tabs__header > li:nth-of-type(3)  {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
  background-color: #fff;
  padding-top: 10px;
}

ul.tabs__header > li.tab__selected {
  font-weight: 600;
  color: white;
  background-color: #1a535c;
}

.tab {
  display: inline-block;
  color: black;
  min-width: 100%;
  /* min-height: 200px; */
}

.tabs__light .tab {
  padding-bottom: 10px;
}

.tabs__light li {
  color: #aaa;
  
}

.tabs__light li.tab__selected {
  color: #1a535c;
  padding-bottom: 10px;
  /* border-bottom: 3px solid #1a535c !important; */

text-align: center;
}


.tabs__dark .tab {
  color: #eee;
}

.tabs__dark li {
  background-color: #ddd;
  color: #aaa;
}

.tabs__dark li.tab__selected {
  background-color: #555;
  color: white;
}

.tab-form-button {
  background-color: #1a535c !important;
}

@media only screen and (max-width: 560px) {
  ul.tabs__header > li {
    padding: 10px 20px;
    font-size: 0.8rem;
  }

  .tab-time-container {
    display: flex;
    flex-direction: column;
  }

  .time_select {
    border-radius: 10px;
  }

  .tab-form-button {
    padding: 15px 30px !important;
    font-size: 0.7rem !important;
  }
}
</style>
