<template lang="html">
  <div v-show="isActive" class="tab">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Tab",
    },
  },
  data() {
    return {
      isActive: true,
    }
  },
  methods: {
    hello() {
      window.alert("This is from the child!")
    },
  },
}
</script>

<style lang="css"></style>

