<template>
  <div>
    <div class="videos__grid">
      <div v-for="video in videosList" :key="video.id" class="video__card">
        <nuxt-link :to="`/resources/videos/${video.id}`">
          <div class="video__thumb">
            <img :src="video.thumbnail_url" alt="" width="100%" class="" />
          </div>
        </nuxt-link>

        <nuxt-link :to="`/resources/videos/${video.id}`">
          <span class="video__title">
            {{ video.title }} <i class="las la-play"></i>
          </span>
        </nuxt-link>
        <p class="video__author">
          <nuxt-link :to="`/resources/profile/${video.owner_id}`">
            <span v-if="video.owner.full_name">
              <i class="las la-user"></i> {{ video.owner.full_name }}
            </span>
            <span v-else><i class="las la-user"></i> Not Available </span>
          </nuxt-link>
        </p>
        <div class="video__desc-box">
          <p class="video__desc">{{ video.description }}</p>
        </div>
      </div>
    </div>
    <div class="second__grid">
      <div>
        <div v-for="article in articles" :key="article.id">
          <div>
            <span>
              <i class="las la-newspaper"></i>
              {{ article.title }}
            </span>
          </div>
        </div>
      </div>
      <div>
        <div v-for="article in articles" :key="article.id">
          <div>
            <span>
              <i class="las la-newspaper"></i>
              {{ article.title }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"
import { getVideos } from "~/api/resources"
import { getArticles } from "~/api/articles"
import { IVideoResource, IArticle } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { extend } from "vue/types/umd"

@Component({
  components: { TadButton, TadInput },
})
export default class Resources extends Vue {
  @Getter("isAuthenticated") isLoggedIn

  videosList: IVideoResource[] = []
  articles: IArticle[] = []

  mounted() {
    this.fetchVideos()
    this.getArticles()
  }

  async fetchVideos() {
    try {
      const { data: videos } = await getVideos()
      this.videosList = videos.reverse()
    } catch (error) {}
  }

  async getArticles() {
    try {
      const { data } = await getArticles()
      this.articles = data
    } catch (error) {
    } finally {
    }
  }
}
</script>

<style lang="scss" scoped>
.videos__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  border-radius: 5px;
}

.video__card {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
}

.video__title {
  font-size: 0.9rem;
  color: var(--dark-text);
  font-weight: 600;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.video__author {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--dark-text);
  text-transform: uppercase;
}

.video__desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  color: var(--dark-text);
  font-size: 0.7rem;
}

.video__thumb {
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 100px;
  cursor: pointer;
  //   border: 3px solid #f5f5fd;
  border-radius: 15px;
  width: 100%;

  img {
    height: 100%;
  }
}

.second__grid {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  div {
    background: white;
    padding: 1rem;
  }
}
</style>
