<template>
  <div class="resource-analytics-chart pa-6">
    <h3 class="title-text">{{ title }}</h3>
    <div class="chart-stats-container">
      <Bar
        :chart-data="chartData"
        :chart-options="chartOptions"
        :css-classes="'chart-container'"
      />
      <div class="all-stats-container">
        <div class="stat-container">
          <div class="stat">
            <p>Views</p>
            <p class="title-text">{{ views }}</p>
          </div>
          <i class="las la-play la-3x"></i>
        </div>
        <div class="stat-container">
          <div class="stat">
            <p>Likes</p>
            <p class="title-text">{{ likes }}</p>
          </div>
          <i class="las la-thumbs-up la-3x"></i>
        </div>
        <div class="stat-container">
          <div class="stat">
            <p>Shares</p>
            <p class="title-text">{{ shares }}</p>
          </div>
          <i class="las la-external-link-alt la-3x"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Bar } from "vue-chartjs/legacy"
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
  LinearScale,
  BarElement,
} from "chart.js"

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  ArcElement,
  CategoryScale,
  LinearScale,
  BarElement
)

@Component({
  components: { Bar },
})
export default class ResourceAnalyticsChart extends Vue {
  @Prop(String) readonly title!: string
  @Prop(Number) readonly views!: number
  @Prop(Number) readonly likes!: number
  @Prop(Number) readonly shares!: number

  chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    indexAxis: "y",
    borderRadius: 15,
    scales: {
      x: {
        display: false,
      },
    },
    plugins: {
      legend: {
        display: false,
      },
    },
  }

  get dataArray() {
    // eslint-disable-next-line no-array-constructor
    const data = Array()
    data.push(this.views, this.likes, this.shares)

    return data
  }

  chartData = {
    labels: ["Views", "Likes", "Shares"],
    datasets: [
      {
        backgroundColor: [
          "rgb(0, 64, 255)",
          "rgb(0, 204, 255)",
          "rgb(255, 0, 247)",
        ],
        data: this.dataArray,
      },
    ],
  }
}
</script>

<style lang="scss" scoped>
.resource-analytics-chart {
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  border-radius: 10px;
  // max-height: 300px;
}
.chart-container {
  height: 350px;
}

.chart-stats-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 3rem;
}
.all-stats-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.stat-container {
  border: 1px solid rgb(181, 181, 181);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
</style>
