<template>
  <div class="pagination-container" :class="[styling.align]">
    <div class="items-per-page">
      <label for="select-items-per-page" class="small-text">Show:</label>
      <select
        id="select-items-per-page"
        v-model="itemsPerPage"
        class="select-items-per-page"
      >
        <option value="5">5 rows</option>
        <option value="10">10 rows</option>
        <option value="25">25 rows</option>
        <option value="50">50 rows</option>
        <option value="100">100 rows</option>
      </select>
    </div>
    <div class="pagination-actions">
      <tad-button class="btn-page-change" @click="prevPage">
        <span class="las la-arrow-left"></span>
      </tad-button>
      <span>{{ `Page ${pageCounter}` }}</span>
      <tad-button class="btn-page-change" @click="nextPage">
        <span class="las la-arrow-right"></span>
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { AxiosResponse } from "axios"
import { Vue, Component, Prop, Watch } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components:{
    TadButton
  }
})
export default class ServerPaginationControls extends Vue {
  @Prop({ default: () => {} }) readonly endpoint!: (
    skip: number,
    limit: number
  ) => Promise<AxiosResponse<any[]>>

  @Prop({
    default: () => {
      return { align: "align-right" }
    },
  })
  readonly styling!: { align: string }

  itemsPerPage = 10
  pageCounter = 1
  // maxPages = 1

  @Watch("itemsPerPage")
  itemsChanged() {
    this.callEndpoint()
  }

  prevPage() {
    const oldVal = this.pageCounter
    this.pageCounter = Math.max(1, this.pageCounter - 1)
    if (this.pageCounter == oldVal) return
    this.callEndpoint()
  }

  nextPage() {
    this.pageCounter++
    this.callEndpoint()
  }

  async callEndpoint() {
    const skip = (this.pageCounter - 1) * this.itemsPerPage
    const limit = this.itemsPerPage

    this.$emit("loading-items", true)
    const { data: items } = await this.endpoint(skip, limit)
    this.$emit("updated-items", items)
    this.$emit("loading-items", false)
  }
}
</script>

<style lang="scss" scoped>
.pagination-container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;

  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
  &.align-right {
    justify-content: flex-end;
  }
}
.pagination-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.btn-page-change {
  min-width: auto;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}
.select-items-per-page {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}
</style>
