<template>
  <ul class="tabs">
    <tab
      v-for="(tab, index) in titles"
      :key="index"
      class="tab"
      :class="{ selected: selectedTabIndex == index }"
      @click="selectTab(index)"
    >
      {{ tab }}
    </tab>
    <tab key={{2}} @click="selectTab(2)" :class="{ selected: selectedTabIndex == 2 }" class="tab mobile__all">All</tab>
  </ul>
</template>

<script lang="ts" scoped>
import { Vue, Component, Prop } from "vue-property-decorator"
import Tab from "~/components/styled-components/Tab"

@Component({
  components: { Tab },
})
export default class Tabs extends Vue {
  @Prop({ default: [] }) readonly titles!: string[]
  selectedTabIndex = 0

  selectTab(which: number) {
    this.selectedTabIndex = which
    this.$emit("select-tab", which)
  }
}
</script>

<style lang="scss" scoped>

.tab {
  padding: 0.75rem 1rem;
  border-left: 1px solid rgb(192, 192, 192);
}

.tab:nth-of-type(1) {
  border-left: none !important;
}
.tabs {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  font-size: .85rem;
  font-weight: 600;
  
}

.mobile__all {
  display: none;
}

@media only screen and (max-width: 827px) {
  .mobile__all {
  display: block;
}
  .tab:nth-of-type(3) {
  border-left: none !important;
  display: none;
}
}
</style>