<template>
  <div id="nuxt-loading" v-if="$route.path !== '/login' && !themeReady">
    <div/>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Getter } from 'nuxt-property-decorator'

@Component({})
export default class ThemeColorWaitSpinner extends Vue {
  @Getter("config/themeReady") readonly themeReady!: boolean
}
</script>

<style lang="scss" scoped>
/* This is a copy of the native Nuxt.js spinner CSS with minor mod.*/
#nuxt-loading {
  z-index: 1000;
  background: #f5f5fd;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nuxt-loading > div,
#nuxt-loading > div:after {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

#nuxt-loading > div {
  position: relative;
  border: .5rem solid #f5f5fd;
  border-left: .5rem solid #bbb;
  transform: translateZ(0);
  animation: nuxtLoading 1.1s infinite linear;
}

@keyframes nuxtLoading {
  0% {
 	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}
</style>