<template>
  <div class="setup__wrapper">
    <div class="form__div">
      <form v-if="!stepTwo" @submit.prevent="submit">
        <div class="form__titles">
          <span class="form__title">Account Setup</span>
          <span class="form__subtitle">
            Please finish setting up your account
          </span>
        </div>
        <div class="form-input-wrapper mb-1">
          <label for="bio">Update Profile Image</label>
          <div class="profile-img-wrapper">
            <img
              class="profile-img"
              :src="$userimg(user.profile_image)"
              :alt="user.full_name"
            />

            <btn-profile-upload :on-upload="fetchUserDetails" />
          </div>
        </div>
        <div class="form-input-wrapper mb-5">
          <label for="firstName" class="small-text">Full Name (required)</label>
          <tad-input
            id="firstName"
            v-model="user.full_name"
            type="text"
            name="firstName"
            required
            placeholder="enter full name"
          />
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="gender" class="small-text">Gender</label>
          <select
            id="gender"
            v-model="user.gender"
            class="select__container"
            required
            name="gender"
          >
            <option value="male">Male</option>
            <option value="female">Woman</option>
            <option value="queer">Genderqueer/Non Binary</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="gender" class="small-text">Pronouns</label>
          <select
            id="gender"
            required
            v-model="user.preferred_pronouns"
            class="select__container"
            name="gender"
          >
            <option value="he">He (He/Him/his)</option>
            <option value="she">She (She/Her/Hers)</option>
            <option value="xe">Xe (Xe/Xem/Xyrs)</option>
            <option value="ze">Ze (Ze/Hir/Hirs)</option>
            <option value="ey">Ey (Ey/Em/Eirs)</option>
            <option value="hir">Hir (Hir/Hir/Hirs)</option>
            <option value="fae">Fae (Fae/Faer/faers)</option>
            <option value="hu">Hu (Hu/Hu/Humes)</option>
            <option value="they">They (They/Them/Theirs)</option>

            <option value="other">Other</option>
          </select>
        </div>

        <div class="form-input-wrapper mb-6 upload-terms__input">
          <div>
            <tad-input
              id="firstName"
              type="checkbox"
              name="firstName"
              v-model="selected"
              @change="check($event)"
            /><span class="upload__terms"
              >By setting up your account with <b>TadHealth</b>, I agree to the

              <tad-text
                style="display: inline; text-decoration: underline"
                @click="modalOpenTerms"
                >Terms of Use</tad-text
              >
              and
              <a
                style="display: inline; text-decoration: underline"
                href="https://tadhealth.com/privacy"
                >Privacy Policy.</a
              ></span
            >
          </div>
        </div>

        <div
          v-if="user.organization.company_terms"
          class="form-input-wrapper mb-6 upload-terms__input"
        >
          <div>
            <tad-input
              v-model="selected2"
              type="checkbox"
              @change="check2($event)"
            /><span class="upload__terms"
              >By setting up your account with
              <b>{{ user.organization.name }}</b
              >, you agree to the
              <a
                target="_blank"
                style="display: inline; text-decoration: underline"
                :href="user.organization.company_terms"
                >Terms of Service.</a
              ></span
            >
          </div>
        </div>
        <div>
          <!-- <tad-button class="login__button">Login</tad-button> -->
          <tad-button primary class="login__button"
            >Save and Continue</tad-button
          >
        </div>
      </form>
      <div v-if="stepTwo">
        <div class="form__titles">
          <span class="form__title">Add Emergency Contacts</span>
          <span class="form__subtitle">
            Please add a your emergency contacts. You can edit them later.
          </span>
        </div>

        <div>
          <form v-if="!valid" @submit.prevent="submit2">
            <div class="form-input-wrapper mb-6">
              <label for="name">Name</label>
              <input v-model="name" type="text" placeholder="enter full name" />
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="email">Email</label>
              <input v-model="email" type="email" placeholder="enter email" />
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="type" class="small-text"
                >What is your relationship</label
              >
              <select id="type" v-model="relationship" name="">
                <option value="friend">Friend</option>
                <option value="relative">Relative</option>
              </select>
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="phone">Phone Number</label>
              <input
                v-model="number"
                type="tel"
                placeholder="enter phone number"
              />
            </div>
            <div class="form-input-wrapper">
              <tad-button @submit.prevent="submit">Add Contact</tad-button>
            </div>
          </form>
        </div>

        <div class="table__labels">
          <span>Contacts Added</span>
        </div>
        <div v-if="contacts.length">
          <div v-for="contact in contacts" :key="contact.id" class="contact">
            <span>{{
              contact.full_name[0] + contact.full_name.replace(/./g, "*")
            }}</span>
          </div>
        </div>
        <div v-else class="table__no-data">
          <span> You have not added any emergency contacts. </span>
        </div>

        <div v-if="!valid" class="form-input-wrapper mt-6">
          <tad-button disabled @submit.prevent="submit"
            >Please Add 3 Contacts To Continue</tad-button
          >
        </div>
        <div v-else class="form-input-wrapper mt-6">
          <tad-button @click.prevent="submit3">Continue</tad-button>
        </div>
      </div>

      <tad-text class="exit" @click="logout">Logout and finish later?</tad-text>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue, Mutation } from "nuxt-property-decorator"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import { IUserProfile, IUserProfileUpdate } from "~/interfaces"
import BtnProfileUpload from "~/components/profile/BtnProfileUpload.vue"
import BtnCoverUpload from "~/components/profile/BtnCoverUpload.vue"
import { updateMe } from "~/api/users"
import { getContacts, createContact } from "~/api/teams"
import ModalTerms from "~/components/modals/ModalTerms.vue"
import ModalAddEmergencyContact from "~/components/modals/ModalAddEmergencyContact.vue"

@Component({
  // layout: "institution",
  middleware: ["authenticated"],
  components: {
    TadButton,
    TadLink,
    TadInput,
    BtnCoverUpload,
    BtnProfileUpload,
    TadText,
  },
})
export default class UserSetup extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  selectedFile: any = ""
  stepOne: boolean = true
  stepTwo: boolean = false
  contacts: [] = []
  selected = false
  selected2 = false

  user = this.$auth.user as unknown as IUserProfile

  name: string = ""
  email: string = ""
  relationship: string = ""
  number: string = ""
  status: string = ""
  valid: any = false

  async logout() {
    await this.$auth.logout()
  }

  async submit2() {
    try {
      const full_name = this.name
      const email = this.email
      const phone = this.number
      const relationship = this.relationship

      await createContact(full_name, email, phone, relationship)
      this.$toast.success("Success! You have created a new emergency contact.")
      this.hideModal()
      this.fetchContacts()
      this.name = ""
      this.email = ""
      this.relationship = ""
      this.number = ""
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  submit3() {
    this.$router.push("/")
  }

  mounted() {
    this.fetchContacts()
    if (!this.user.organization?.company_terms) {
      this.selected2 = true
    }
  }

  created() {
    this.fetchUserDetails()
  }

  check2(e) {
    this.selected2 = true
    e.target.checked = true
  }

  check(e) {
    this.selected = true
    e.target.checked = true
  }

  async fetchContacts() {
    const { data: contacts } = await getContacts()
    this.contacts = contacts
    if (contacts.length >= 3) {
      this.valid = true
    }
  }

  async fetchUserDetails() {
    const response = await this.$auth.fetchUser()
    if (response) {
      this.user = { ...response.data }
    }
  }

  modalEmergencyContact() {
    const modal = {
      title: "Add Emergency Contact",
      content: ModalAddEmergencyContact,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  modalOpenTerms() {
    const modal = {
      title: "TadHealth Terms",
      content: ModalTerms,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  async submit() {
    try {
      const updatedProfile: IUserProfileUpdate = {
        full_name: this.user.full_name,
        gender: this.user.gender,
        bio: this.user.bio,
        state: this.user.state,
        city: this.user.city,
        zip_code: this.user.zip_code,
        preferred_pronouns: this.user.preferred_pronouns,
      }
      await updateMe(updatedProfile)
      await this.$auth.fetchUser()
      if (this.selected === false || this.selected2 === false) {
        this.$toast.error("Please accept terms.")
        this.stepTwo = false
        this.stepOne = true
        return
      }
      this.stepTwo = true
      this.stepOne = false
    } catch (error) {
      this.$toast.error("Error updating profile.")
    }
  }
}
</script>

<style lang="scss" scoped>
.contact {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 233, 233);
  span {
    font-size: 0.8rem;
    color: var(--dark-text);
  }
}
.table__no-data {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 0.8rem;
    color: var(--light-text);
  }
}

.table__labels {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(233, 233, 233);
  span {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--dark-text);
  }
}

.exit {
  font-size: 0.8rem;
  text-align: center;
  display: block;
  padding: 2rem 0;
  font-weight: 600;
}
.profile-img-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  .profile-img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
  }
}

.upload__terms {
  margin-left: 0.5rem;
  color: var(--dark-text);
  font-size: 0.8rem;
}

.setup__wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.form__titles {
  display: flex;
  flex-direction: column;
}

.form__div {
  background-color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}
.form__title {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  color: var(--dark-text);
  text-align: center;
}


.form__subtitle {
  font-size: var(--small-text);
  color: #8390a2;
  padding-bottom: 1rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  text-align: center;
  padding: 1rem 0;
}

::placeholder {
  color: #8390a279;
}

.login__button {
  width: 100%;
}



@media only screen and (max-width: 560px) {
  .form__div {
    width: 100%;
  }
}
</style>