<template>
  <div>
    <div class="audio-details">
      <img class="audio-cover" :src="thumbnail" alt="" />
      <div class="audio-text">
        <p class="audio-author"><b>Now Playing</b></p>

        <h1 class="audio-title">{{ title }}</h1>
        <p class="audio-author">
          uploaded by
          <b> {{ artist }}</b>
        </p>
        <p class="audio-desc">{{ description }}.</p>
        <div class="mt-4">
          <tad-button :tertiary="isAudioLiked" @click.prevent="likeAudio">
            <i v-if="isAudioLiked" class="las la-heart"></i> Found Helpful
          </tad-button>
          <tad-button primary @click.prevent="modalShareResource"
            ><i class="las la-share-alt"></i> Share Resource</tad-button
          >
        </div>
      </div>
    </div>

    <div id="audio-player-root">
      <!-- Hide the default audio player -->
      <div>
        <audio :id="playerid" ref="player" style="display: none">
          <source :src="url" type="audio/mpeg" />
        </audio>
      </div>

      <div class="w-4/4 px-2 pt-2 mt-4" style="margin: auto">
        <div id="player-row" class="inline-flex flex-wrap w-full">
          <div id="button-div" class="flex-initial pr-3">
            <svg
              v-show="!isPlaying"
              class="play-button text-gray-400"
              :class="{
                'text-orange-500': audioLoaded,
                'hover:text-orange-400': audioLoaded,
                'cursor-pointer': audioLoaded,
              }"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              @click="toggleAudio()"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              v-show="isPlaying"
              class="
                play-button
                text-orange-400
                hover:text-orange-400
                cursor-pointer
              "
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              @click="toggleAudio()"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z"
                clip-rule="evenodd"
              />
            </svg>
          </div>

          <div id="progress-bar" class="flex-grow bg-white border">
            <div class="overlay-container relative w-full h-full">
              <input
                id="position"
                v-model="playbackTime"
                type="range"
                min="0"
                :max="audioDuration"
                class="slider w-full h-full"
                name="position"
              />

              <!-- Show loading indicator until audio has been loaded -->

              <div
                v-show="!audioLoaded"
                class="
                  w-full
                  absolute
                  top-0
                  bottom-0
                  right-0
                  left-0
                  px-2
                  pointer-events-none
                "
                style="color: #94bcec"
              >
                Loading please wait...
              </div>

              <div
                v-show="audioLoaded"
                class="
                  flex
                  w-full
                  justify-between
                  align-middle
                  absolute
                  right-0
                  left-0
                  px-2
                  pointer-events-none
                "
              >
                <span
                  class="text-sm"
                  style="color: #41496b; font-weight: bold; font-size: 0.7rem"
                  v-html="elapsedTime()"
                >
                  00:00
                </span>

                <span
                  class="text-sm"
                  style="color: #41496b; font-weight: bold; font-size: 0.7rem"
                  v-html="totalTime()"
                >
                  00:00
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- outer gray border -->
    </div>
    <!-- white bg -->
  </div>
  <!-- root -->
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
  Prop,
} from "nuxt-property-decorator"

import TadButton from "~/components/styled-components/TadButton"
import { getCareTeam } from "~/api/teams"
import ModalShareResourceUser from "~/components/modals/ModalShareResourceUser.vue"

import { createAudioLike, isAudioLiked } from "~/api/resources"

@Component({
  components: { TadButton },
  // layout: "patient",
})
export default class AudioPlayer extends Vue {
  @Prop({ default: () => {} }) url
  @Prop({ default: () => {} }) playerid
  @Prop({ default: () => {} }) title
  @Prop({ default: () => {} }) artist
  @Prop({ default: () => {} }) description
  @Prop({ default: () => {} }) thumbnail
  @Prop({ default: () => {} }) audioId
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  playbackTime: any = 0
  audioDuration = 100
  audioLoaded = false
  isPlaying = false
  listenerActive: boolean = false
  isAudioLiked: boolean = false
  id = ""

  initSlider() {
    // Set the range slider max value equal to audio duration
    const audio: any = this.$refs.player
    if (audio) {
      this.audioDuration = Math.round(audio.duration)
    }
  }

  // Convert audio current time from seconds to min:sec display
  convertTime(seconds) {
    const format = (val) => `0${Math.floor(val)}`.slice(-2)
    const hours = seconds / 3600
    const minutes = (seconds % 3600) / 60
    return [minutes, seconds % 60].map(format).join(":")
  }

  // Show the total duration of audio file
  totalTime() {
    const audio: any = this.$refs.player
    if (audio) {
      const seconds = audio.duration
      return this.convertTime(seconds)
    } else {
      return "00:00"
    }
  }

  async likeAudio() {
    await createAudioLike(this.audioId)
    this.checkAudioLiked()
  }

  async checkAudioLiked() {
    try {
      const { data: response } = await isAudioLiked(this.audioId)
      if (response) {
        this.isAudioLiked = true
      } else {
        this.isAudioLiked = false
      }
    } catch (e) {}
  }

  // Display the audio time elapsed so far
  elapsedTime() {
    const audio: any = this.$refs.player
    if (audio) {
      const seconds = audio.currentTime
      return this.convertTime(seconds)
    } else {
      return "00:00"
    }
  }

  // Playback listener function runs every 100ms while audio is playing
  playbackListener(e) {
    const audio: any = this.$refs.player
    // Sync local 'playbackTime' var to audio.currentTime and update global state
    this.playbackTime = audio.currentTime

    // console.log("update: " + audio.currentTime);
    // Add listeners for audio pause and audio end events
    audio.addEventListener("ended", this.endListener)
    audio.addEventListener("pause", this.pauseListener)
  }

  // Function to run when audio is paused by user
  pauseListener() {
    this.isPlaying = false
    this.listenerActive = false
    this.cleanupListeners()
  }

  // Function to run when audio play reaches the end of file
  endListener() {
    this.isPlaying = false
    this.listenerActive = false
    this.cleanupListeners()
  }

  // Remove listeners after audio play stops
  cleanupListeners() {
    const audio: any = this.$refs.player
    audio.removeEventListener("timeupdate", this.playbackListener)
    audio.removeEventListener("ended", this.endListener)
    audio.removeEventListener("pause", this.pauseListener)
    // console.log("All cleaned up!");
  }

  modalShareResource() {
    const modal = {
      title: "Sharing a resource",
      content: ModalShareResourceUser,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        type: "audio",
        id: this.id,
      },
    }
    this.showModal(modal)
  }

  toggleAudio() {
    const audio: any = this.$refs.player
    // var audio = document.getElementById("audio-player");
    if (audio.paused) {
      audio.play()
      this.isPlaying = true
    } else {
      audio.pause()
      this.isPlaying = false
    }
  }

  mounted() {
    this.checkAudioLiked()
    this.id = this.audioId
    const outside = this
    // nextTick code will run only after the entire view has been rendered
    this.$nextTick(function () {
      const audio: any = this.$refs.player
      // Wait for audio to load, then run initSlider() to get audio duration and set the max value of our slider
      // "loademetadata" Event https://www.w3schools.com/tags/av_event_loadedmetadata.asp
      audio.addEventListener("loadedmetadata", function (e) {
        outside.initSlider()
      })
      // "canplay" HTML Event lets us know audio is ready for play https://www.w3schools.com/tags/av_event_canplay.asp
      audio.addEventListener("canplay", function (e) {
        outside.audioLoaded = true
      })
      // Wait for audio to begin play, then start playback listener function
      this.$watch("isPlaying", function () {
        if (this.isPlaying) {
          const audio: any = this.$refs.player
          this.initSlider()
          // console.log("Audio playback started.");
          // prevent starting multiple listeners at the same time
          if (!this.listenerActive) {
            this.listenerActive = true
            // for a more consistent timeupdate, include freqtimeupdate.js and replace both instances of 'timeupdate' with 'freqtimeupdate'
            audio.addEventListener("timeupdate", this.playbackListener)
          }
        }
      })
      // Update current audio position when user drags progress slider
      this.$watch("playbackTime", function () {
        const player: any = this.$refs.player
        const diff = Math.abs(this.playbackTime - player.currentTime)

        // Throttle synchronization to prevent infinite loop between playback listener and this watcher
        if (diff > 0.01) {
          player.currentTime = this.playbackTime
        }
      })
    })
  }
}
</script>

<style>
/* Play/Pause Button */
.play-button {
  height: 45px;
}

.audio-box {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.audio-details {
  display: flex;
  padding-bottom: 1.5rem;
}

.audio-title {
  color: var(--dark-text);
  font-size: 2rem;
  font-weight: bold;
}
.audio-cover {
  height: 250px;
  width: 250px;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
}

.audio-desc {
  color: var(--light-text);
  font-size: 0.8rem;
  padding-right: 2rem;
}

.audio-author {
  color: var(--light-text);
  font-size: 0.8rem;
  padding: 0.5rem 0rem;
  padding-bottom: 0.3rem;
}

.audio-text {
  padding-left: 1.5rem;
}
input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 0; /* iOS */
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
::-webkit-slider-runnable-track {
  background: #fff;
}
/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0; /* 1 */
  height: 40px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw #4e4e4e2c;
  border: none; /* 2px solid #999; */
}
::-moz-range-track {
  height: 40px;
  background: #ddd;
}
::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 0; /* 20px; */
  border: none; /* 3px solid #999; */
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  box-sizing: border-box;
}
::-ms-fill-lower {
  background: dodgerblue;
}
::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}
::-ms-ticks-after {
  display: none;
}
::-ms-ticks-before {
  display: none;
}
::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}
::-ms-tooltip {
  display: none;
}

@media only screen and (max-width: 650px) {
  .audio-details {
    flex-direction: column;
  }

  .audio-text {
    padding-left: 0rem;
  }

  .audio-cover {
    height: auto;
    width: 100%;
    box-shadow: var(--default-box-shadow);
    border-radius: 5px;
  }

  .audio-author {
    color: var(--light-text);
    font-size: 0.8rem;
    padding: 1rem 0rem;
    padding-bottom: 0.5rem;
  }

  .podcast-table {
    margin-top: 2rem;
  }
}
</style>
