<template>
  <div>
    <!-- Featured on mobile -->
    <div class="pb-6 mb-8 block lg:hidden">
      <div class="text-xl font-bold text-gray-700 mb-4">Featured Resources</div>

      <ResourcesFeatured :slides="featuredResources" class="w-full" />
    </div>

    <!-- Videos -->
    <div class="pb-6">
      <div v-if="videos && videos.length && !loading" class="mb-8">
        <NuxtLink
          to="/resources/videos"
          class="float-right font-semibold"
          :style="`color: ${pColor};`"
          >See All</NuxtLink
        >
        <div class="text-xl font-bold text-gray-700 mb-4">Videos</div>

        <!-- Desktop -->
        <div v-if="videos.length && !loading" class="hidden lg:block">
          <div
            class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-8"
          >
            <div v-for="video in videos" :key="video.id">
              <ResourcesVideoCard :video="video"></ResourcesVideoCard>
            </div>
          </div>
        </div>

        <!-- Mobile -->
        <div
          v-if="videos.length && !loading"
          class="
            flex flex-no-wrap
            overflow-x-scroll
            scrolling-touch
            items-start
            pb-4
            block
            lg:hidden
          "
        >
          <div
            v-for="video in videos"
            :key="video.id"
            class="flex-none w-2/3 md:w-1/3 mr-8 md:pb-4 rounded-lg"
          >
            <ResourcesVideoCard
              :video="video"
              class="space-y-4"
            ></ResourcesVideoCard>
          </div>
        </div>

        <!-- Empty section -->
        <NoResults v-if="!videos.length && !loading" />

        <SharedLoading v-if="loading" text="Loading..." />
      </div>
    </div>

    <!-- Articles -->
    <div v-if="articles && articles.length && !loading" class="pb-6">
      <NuxtLink
        to="/resources/articles"
        class="float-right font-semibold"
        :style="`color: ${pColor};`"
        >See All</NuxtLink
      >
      <div class="text-xl font-bold text-gray-700 mb-4">Articles</div>

      <div v-if="articles.length" class="mb-8">
        <!-- Desktop -->
        <div class="hidden lg:block">
          <div
            class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-8"
          >
            <div v-for="article in articles" :key="article.id">
              <ResourcesArticleCard :article="article"></ResourcesArticleCard>
            </div>
          </div>
        </div>

        <!-- Mobile -->
        <div
          class="
            flex flex-no-wrap
            overflow-x-scroll
            scrolling-touch
            items-start
            pb-4
            block
            lg:hidden
          "
        >
          <div
            v-for="article in articles"
            :key="article.id"
            class="flex-none w-2/3 md:w-1/3 mr-8 md:pb-4 rounded-lg"
          >
            <ResourcesArticleCard
              :article="article"
              class="space-y-4"
            ></ResourcesArticleCard>
          </div>
        </div>

        <!-- Empty section -->
        <NoResults v-if="!articles.length && !loading" />

        <SharedLoading v-if="loading" text="Loading..." />
      </div>
    </div>

    <!-- Documents -->
    <div v-if="documents && documents.length" class="pb-6">
      <NuxtLink
        to="/resources/documents"
        class="float-right font-semibold"
        :style="`color: ${pColor};`"
        >See All</NuxtLink
      >
      <div class="text-xl font-bold text-gray-700 mb-4">Documents</div>

      <div v-if="documents && documents.length" class="mb-8">
        <!-- Desktop -->
        <div class="hidden lg:block">
          <div
            class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-8"
          >
            <div v-for="document in documents" :key="document.id">
              <ResourcesDocumentCard :document="document" />
            </div>
          </div>
        </div>

        <!-- Mobile -->
        <div
          class="
            flex flex-no-wrap
            overflow-x-scroll
            scrolling-touch
            items-start
            pb-4
            block
            lg:hidden
          "
        >
          <div
            v-for="document in documents"
            :key="document.id"
            class="flex-none w-2/3 md:w-1/3 mr-8 md:pb-4 rounded-lg"
          >
            <ResourcesDocumentCard :document="document" />
          </div>
        </div>

        <!-- Empty section -->
        <NoResults v-if="!documents.length && !loading" />

        <SharedLoading v-if="loading" text="Loading..." />
      </div>
      <!-- Empty section -->
      <NoResults v-if="!documents.length && !loading" />
    </div>

    <!-- Podcasts -->
    <div v-if="audios && audios.length && !loading" class="pb-6">
      <NuxtLink
        to="/resources/podcasts"
        class="float-right font-semibold"
        :style="`color: ${pColor};`"
        >See All</NuxtLink
      >
      <div class="text-xl font-bold text-gray-700 mb-4">Podcasts</div>

      <div class="border rounded-xl hover:shadow-lg">
        <template v-if="audios.length">
          <div class="audio__table">
            <div
              v-for="(audio, index) in audios"
              :key="audio.id"
              class="audio__item"
            >
              <template>
                <div class="audio__details">
                  <div class="audio__cover">
                    <img :src="audio.thumbnail_url" alt="" />
                  </div>
                  <div class="audio__footer">
                    <span class="text-lg pl-3">
                      <span class="pr-3">{{ index + 1 }}. </span>
                      {{ audio.title }}
                    </span>
                    <nuxt-link :to="`/resources/profile/${audio.owner_id}`">
                      <span class="audio__owner">
                        {{ audio.owner.full_name }}
                      </span>
                    </nuxt-link>
                  </div>
                </div>
                <div class="audio__right">
                  <span class="audio__play-icon">
                    <NuxtLink :to="`/resources/podcasts/${audio.id}`">
                      <img
                        height="24"
                        width="18"
                        src="~/assets/images/play.png"
                        alt=""
                      />
                    </NuxtLink>
                  </span>
                </div>
              </template>
            </div>
          </div>
        </template>

        <!-- Empty section -->
        <NoResults v-if="!audios.length && !loading" />

        <SharedLoading v-if="!audios.length && loading" text="Loading..." />
      </div>

      <!-- <pre>{{ JSON.stringify(audios, null, 2) }}</pre> -->
    </div>

    <div v-if="externalResources.length" class="mt-6">
      <!-- <a href="" class="text-teal-500 float-right font-semibold">See All</a> -->
      <div class="text-xl font-bold text-gray-700 mb-4">External Resources</div>

      <!-- Desktop -->
      <div class="video__grid">
        <div
          v-for="resource in externalResources"
          :key="resource.id"
          class="er__item"
        >
          <a :href="resource.link" target="_blank">
            <div
              class="article__cover"
              :style="`background-image: url(${resource.thumbnail_image}); border-radius: 15px;`"
            ></div>
            <span class="title">{{ resource.name }}</span>
            <div class="er__footer">
              <span class="link"> {{ resource.type.toUpperCase() }}</span>
              <span class="link">
                Visit Link <i class="las la-external-link-alt"></i
              ></span>
            </div>
          </a>
        </div>
      </div>
      <!-- <div class="video__list-pagination">
        <ExternalResourcePagination
          :endpoint="getPaginatorER"
          :styling="{ align: 'right', paddingLeft: '2rem' }"
          :list-length="externalResourcesLength"
          @updated-items="updateERList"
        />
      </div> -->
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue } from "nuxt-property-decorator"
import dayjs from "dayjs"
import VueHorizontal from "vue-horizontal"
import _ from "lodash"
import {
  getAudios,
  getExternalResources,
  getVideos,
  getDocuments,
} from "~/api/resources"
import { getArticles } from "~/api/articles"
import {
  IVideoResource,
  IAudioResource,
  IArticle,
  IDocument,
  IResourceFeaturedContent,
} from "~/interfaces"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"
import SharedLoading from "~/components/global/SharedLoading.vue"

@Component({
  components: { TadButton, OrangeButton, VueHorizontal, SharedLoading },
})
export default class UserResourcesGrid extends Vue {
  fullApiUrl = process.env.fullApiUrl
  videos: IVideoResource[] = []
  audios = [] as IAudioResource[]
  articles: IArticle[] = []
  documents: IDocument[] = []
  externalResources: any = []
  externalResourcesLength: any = ""
  featuredResources = [] as IResourceFeaturedContent[]
  loading: boolean = false
  @Getter("config/pColor") readonly pColor!: string

  mounted() {
    this.loading = true
    this.fetchVideos()
    this.fetchAudios()
    this.getArticles()
    this.getDocuments()
    this.fetchER()
    this.loading = false

    // Mobile swipers
    this.renderVideoSwiper()
  }

  renderVideoSwiper() {}

  async getArticles() {
    try {
      const { data } = await getArticles()
      this.articles = data.slice(0, 4)

      if (data.length) {
        this.$emit("_showArticlesTab", true)
      }
    } catch (error) {
    } finally {
      _.take(this.articles, 2).forEach((item) => {
        this.featuredResources.push({
          id: item.id,
          title: item.title,
          image: this.getArticleImage(item),
          tags: [],
          link: item.id,
        })
      })
    }
  }

  async getDocuments() {
    try {
      const { data } = await getDocuments("")
      // only get the first 4
      this.documents = data.items.slice(0, 4)
    } catch (error) {}
  }

  async fetchVideos() {
    try {
      const { data: videos } = await getVideos()
      this.videos = videos.slice(0, 4)

      if (videos.length) {
        this.$emit("_showVideoTab", true)
      }
    } catch (error) {
    } finally {
      _.take(this.videos, 2).forEach((item) => {
        this.featuredResources.push({
          id: item.id,
          title: item.title,
          image: item.thumbnail_url!,
          tags: [],
          link: item.id,
        })
      })
    }
  }

  async fetchAudios() {
    try {
      const { data: audios } = await getAudios()
      this.audios = audios.slice(0, 6)
      // .filter((item) => item.is_approved === true)
      // console.log(audios);

      const skip = 0
      const limit = 12

      if (audios.length) {
        this.$emit("_showPodcastsTab", true)
      }

      const { data: externalResourcesLength } = await getExternalResources()
      this.externalResourcesLength = externalResourcesLength.length
      console.log(externalResourcesLength.length)
      const { data: externalResources } = await getExternalResources({
        skip,
        limit,
      })
      this.externalResources = externalResources
    } finally {
      _.take(this.audios, 2).map((item: any) => {
        this.featuredResources.push({
          id: item.id,
          title: item.title,
          image: item.thumbnail_url,
          tags: [],
          link: item.id,
        })
      })

      _.take(this.externalResources, 2).map((item: any) => {
        this.featuredResources.push({
          id: item.id,
          title: item.name,
          image: item.thumbnail_image,
          tags: [],
          link: item.link,
        })
      })
    }
  }

  async fetchER() {
    try {
      const { data: externalResources } = await getExternalResources()
      this.externalResources = externalResources
    } catch (error) {}
  }

  formatUpdatedAt(time: string) {
    return dayjs(time).format(" MMM DD YYYY")
  }

  getPaginatorER(skip = 0, limit = 4) {
    return getExternalResources({ skip, limit })
  }

  updateERList(externalResources) {
    this.externalResources = externalResources
  }

  getArticleImage(article) {
    return article.thumbnail_name
      ? `${this.fullApiUrl}/articles/thumbnail/${article.thumbnail_name}`
      : "/newspaper.jpeg"
  }
}
</script>

<style lang="scss" scoped>
.swiper-wrapper {
  position: absolute;
}

.er__item {
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    font-weight: bold;
    color: var(--dark-text);
    font-size: 0.7rem;
    margin-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 1.3;
  }

  .er__footer {
    display: flex;
    justify-content: space-between;
  }

  .link {
    font-weight: 400;
    color: var(--dark-text);
    font-size: 0.7rem;
  }
}

.er__title {
  font-weight: 700;
  color: var(--dark-text);
}

.tad__content {
  margin: 0.5rem 0rem;

  img {
    height: 25px;
  }
}

.videos__header {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--dark-text);
}

.link__two {
  margin-bottom: 1rem;
}

.video__grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.video__container {
  background-color: white;
  min-height: 175px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

// .video__details {
//   padding: 1rem;
//     background: rgba(250, 250, 250, 0.521);
//   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
//   backdrop-filter: blur( 4px );
//   -webkit-backdrop-filter: blur( 4px );
//   border-radius: 10px;
//   border-top-right-radius: 0rem;
//   border-top-left-radius: 0rem;
//   border: 1px solid rgba( 255, 255, 255, 0.18 );
//   margin-top: 1rem;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-content: center;
//   align-items: center;
// }

.video {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
}

.video__title {
  color: var(--dark-text);
  font-size: 0.9rem;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.5;
  min-height: 40px;
  margin-top: 1rem;
}

.video__play {
  cursor: pointer;
  color: var(--dark-text);
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  align-content: center;
  padding-left: 0.2rem;
  padding-top: 0.2rem;

  img {
  }
}

.video__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.video__owner {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.2rem;
  color: var(--light-text);
}

.video__verified {
  color: var(--dark-text);
  font-size: 0.7rem;
  font-weight: 400;
  background-color: white;
  padding: 0.2rem;
  border-radius: 15px;
}

.video__footer {
  display: flex;
  justify-content: space-between;
}

.audio__table {
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
  // min-height: 550px;
}

.audio__item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.audio__cover {
  height: 50px;
  width: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-right: 10px;

  img {
    height: auto;
    width: 100%;
  }
}

.audio__details {
  display: flex;
  align-items: center;
}

.audio__title {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--dark-text);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.3;
}

.audio__number {
  color: var(--light-text);
}

.article__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-direction: column;
}

.article__author {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.8rem;
}

.audio__play-icon {
  font-size: 1.6rem;
}

.audio__right {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.audio__owner {
  font-size: 0.7rem;
  color: var(--dark-text);
}

.bottom__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.article__grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}

.article__author {
  padding: 0rem 1rem;
}

.article__title {
  color: var(--dark-text);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.3;
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  padding: 0rem 1rem;
}

.article__cover {
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // border-radius: 15px;
  margin-bottom: 1rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.article__date {
  font-size: 0.7rem;
  color: var(--dark-text);
  padding: 0rem 1rem;
  padding-top: 0.2rem;
}

@media only screen and (max-width: 1200px) {
  .video__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .video__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom__grid {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .article__grid {
    grid-template-columns: 100%;
  }

  .video__grid {
    grid-template-columns: 100%;
  }
}
</style>
