<template>
  <div>
    <div class="bg-white shadow-md rounded-lg p-8 mb-8">
      <div class="mb-8">
        <p class="text-lg font-bold">Create A New Verified Publisher</p>
      </div>
      <div
        class="
          flex flex-col
          md:flex-row
          justify-between
          align-content-center align-items-center
        "
      >
        <div class="flex flex-col">
          <span class="font-bold text-sm text-dark-text mb-5 md:mb-0"
            >Add a new verified publisher
            <i
              title="about verified publisher"
              class="las la-question-circle text-xl relative top-0.5"
              @click.prevent="modalAboutFriends"
            ></i>
          </span>
        </div>
        <div class="">
          <tad-button primary @click.prevent="modalVerify"
            >Add New Verified Publisher</tad-button
          >
        </div>
      </div>

      <div class="mt-4">
        <div>
          <span class="text-sm text-dark-text font-medium block my-4"
            >All Verified Publishers</span
          >
        </div>
        <div v-if="publishers.length">
          <div
            v-for="request in publishers"
            class="
              border-t border-gray-200 border-b
              flex
              justify-between
              items-center
              py-4
            "
            :key="request.id"
          >
            <div class="flex items-center">
              <img
                :src="`${fullApiUrl}/users/file/${request.profile_image}`"
                alt=""
                class="rounded-full h-12"
              />
              <span class="text-xs text-dark-text ml-2">{{
                request.email
              }}</span>
            </div>
            <!-- delete button -->
            <div>
              <tad-button
                danger
                small
                @click.prevent="unVerifyPublisher(request.id)"
                >Delete</tad-button
              >
            </div>
          </div>
        </div>
        <div v-else>
          <div class="border-t border-gray-200 border-b py-4">
            no verified publishers added
          </div>
        </div>
        <div class="mt-4">
          <Pagination
            :current-page="currentPage"
            :total-pages="totalPages"
            :total-records="totalRecords"
            @nextPage="nextPage"
            @prevPage="prevPage"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import ModalAboutVerifiedPro from "~/components/modals/ModalAboutVerifiedPro.vue"
import ModalVerifiedPublisher from "~/components/modals/ModalVerifiedPublisher.vue"
import { getVerifiedPublishers, unVerifyPublisher } from "~/api/users"
import { IUserProfile } from "~/interfaces"
import ModalRequestConfirmation from "~/components/modals/ModalRequestConfirmation.vue"
import Pagination from "~/components/Pagination.vue"

@Component({
  components: { TadButton, TadInput, Pagination },
})
export default class VerifyPublisherForm extends Vue {
  isChecked = false
  publishers: IUserProfile[] = []
  email: string = ""
  clickedUser: string = ""

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  fullApiUrl = process.env.fullApiUrl

  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0

  options = {
    offset: 0,
    limit: 10,
  }

  modalAboutFriends() {
    const modal = {
      title: "About Verified Publisher's",
      content: ModalAboutVerifiedPro,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("user.manage.verified.publishers")) {
      this.fetchPublishers()
    }
  }

  async unVerifyPublisher(id) {
    this.clickedUser = id
    const modal = {
      title: "Un Verify Publisher",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: await this.deletePublisher,
        text: "Are you sure you want to un verify this publisher?",
        confirmText: "Yes",
      },
    }

    this.showModal(modal)
  }

  async deletePublisher() {
    await unVerifyPublisher(this.clickedUser)
    this.$toast.success("Publisher deleted successfully")
    this.fetchPublishers()
  }

  async fetchPublishers() {
    const { data: publishers } = await getVerifiedPublishers(this.options)
    this.publishers = publishers.items
    this.totalRecords = publishers.total
    this.totalPages = Math.ceil(publishers.total / this.options.limit)
  }

  async nextPage() {
    if (this.currentPage < this.totalPages) {
      this.currentPage++
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.fetchPublishers()
    }
  }

  async prevPage() {
    if (this.currentPage > 1) {
      this.currentPage--
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.fetchPublishers()
    }
  }

  modalVerify() {
    const modal = {
      title: "New Verified Publishers",
      content: ModalVerifiedPublisher,
      props: {
        onclose: async () => {
          await this.fetchPublishers()
        },
        width: "100%",
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.la-question-circle {
  font-size: 1.1rem;
  position: relative;
  top: 2px;
}

form {
  padding-top: 2rem;
}
</style>
