<template>
  <div>
    <div class="podcasts__grid">
      <div class="videos__featured-grid">
        <div
          v-for="video in videosList"
          :key="video.id"
          class="videos__featured-card-wrapper"
        >
          <nuxt-link :to="`/resources/videos/${video.id}`">
            <div class="video-thumb">
              <img
                :src="video.thumbnail_url"
                alt=""
                width="100%"
                class="video-cover"
              />
            </div>
          </nuxt-link>

          <nuxt-link :to="`/resources/videos/${video.id}`">
            <span class="video-title">
              {{ video.title }}
            </span>
          </nuxt-link>
          <p class="video-author">
            uploaded by
            <nuxt-link :to="`/resources/profile/${video.owner_id}`">
              <b v-if="video.owner.full_name">
                {{ video.owner.full_name }}
              </b>
            <b v-else> No Name Available </b>
            </nuxt-link>
          </p>
          <div class="video-desc-box">
            <p class="video-desc">{{ video.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"
import VueCoreVideoPlayer from "vue-core-video-player"
import Youtube from "~/components/global/Youtube.vue"
import { getVideos, getVideoSignedURL } from "~/api/resources"
import { IVideoResource } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"

Vue.use(VueCoreVideoPlayer)

@Component({
  components: { Youtube, TadButton, TadInput },
  // layout: "patient",
  middleware: ["authenticated"],
})
export default class Videos extends Vue {
  @Getter("loggedInUser") userProfile
  @Getter("isAuthenticated") isLoggedIn
  @Action("main/logOut") userLogOut
  public isOpen: boolean = false

  videosList: IVideoResource[] = []

  public currentTitle: string = ""
  public currentDescription: string = ""
  public currentAritist: string = ""
  public currentThumbnail: string = ""
  public currentVideoId: string = ""
  public currentVideoLink: string = ""
  public curArt: string = ""

  mounted() {
    this.fetchVideos()
  }

  async fetchVideos() {
    try {
      const { data: videos } = await getVideos()
      this.videosList = videos.reverse()
    } catch (error) {}
  }

  async fetchSource(id) {
    try {
      // video.s3_storage_key
      const { data: url } = await getVideoSignedURL(
        // "24ae5a40-9b09-4d42-ad6d-20557d0e8716/8!PNr-recorded-by-24ae5a40-9b09-4d42-ad6d-20557d0e8716.mp4"
        {
          id: id,
        }
      )
      this.currentVideoLink = url["video_url"]
    } catch (error) {}
  }

  public async logout() {
    await this.userLogOut()
    if (
      this.$router.currentRoute.path !== "/login" &&
      this.$router.currentRoute.path !== "/"
    ) {
      this.$router.push("/")
    }
  }
}
</script>

<style lang="scss" scoped>



.video-title {
  color: var(--dark-text);
  padding-top: 0.7rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.video-author {
  color: var(--dark-text);
  padding: 0.7rem 0rem 0.4rem 0rem;
  font-size: 0.8rem;
}

.video-thumb {
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 150px;
  cursor: pointer;
  border: 3px solid #f5f5fd;
  border-radius: 5px;
  width: 100%;
}

.video-thumb img {
  height: 100%;
  width: 110%;
}

.video-cover {
  transition: transform 0.2s; /* Animation */
}

.video-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  color: var(--dark-text);
  font-size: 0.7rem;
}

.videos__featured-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.videos__featured-card-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}


@media only screen and (max-width: 1360px) {
  .videos__featured-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 960px) {
  .videos__featured-grid {
    grid-template-columns: repeat(2, 1fr);
    .video-thumb {
      height: 200px;
    }
  }
}
@media only screen and (max-width: 560px) {
  .videos__featured-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }



  .videos__featured-grid div {
    display: flex;
  }

  .video-thumb img {
    height: auto;
    width: 100%;
  }

  .videos__featured-card-wrapper {
    width: 100%;
  }

  .podcasts__grid {
    grid-gap: 0rem;
    margin-top: 3rem !important;
  }
}
</style>
