<template>
  <div>
    <div>
      <ul style="padding-bottom: 2rem">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="welcome__container">
        <h1 class="crisis-link__title">
          Who is having a Mental Health Crisis?
        </h1>
      </div>
      <div class="crisislink__stepone-wrapper">
        <div @click="click('me')">
          <NuxtLink class="crisislink__stepone-card" to="/gethelpnow/me">
            <span class="las la-user crisislink__stepone-icon"></span>
            <p class="crisislink__stepone-text">Me</p>
          </NuxtLink>
        </div>

        <div @click="click('me')">
          <NuxtLink
            class="crisislink__stepone-card"
            to="/gethelpnow/someoneelse"
          >
            <span class="las la-users crisislink__stepone-icon"></span>

            <p class="crisislink__stepone-text">Someone Else</p>
          </NuxtLink>
        </div>
      </div>
      <div class="crisis__message">
        <i class="las la-shield-alt"></i>
        <span
          >Please Note: For your safety, your emergency contacts will be notifed
          when you seek help.</span
        >
      </div>

      <GHNFooterText />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Getter } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { createInteraction } from "~/api/interactions"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class CrisisLink1 extends Vue {
  @Getter("loggedInUser") userProfile
  clickName: string = ""

  async click(name: string) {
    let click_name = name
    let view_name = "home"
    let organization_id = this.userProfile.organization_id

    await createInteraction(click_name, view_name, organization_id)
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "CrisisLink")
  }
}
</script>

<style lang="scss" scoped>
.crisis__message {
  font-size: 0.8rem;
  color: var(--dark-text);
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 2rem;
  color: #2c0b0e;
  background-color: #ea868e9e;
  border: 1px solid #842029;
}
.wrapper {
  background-color: white;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.crisis-link__title {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.crisislink__stepone-wrapper {
  display: flex;
  justify-content: center;
  grid-gap: 4rem;
  margin-bottom: 4rem;
  justify-content: center;
}

.crisislink__stepone-card {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.crisislink__stepone-card:hover {
  box-shadow: rgba(3, 135, 158, 0.569) 0px 0px 0px 3px;
}

.crisislink__stepone-text {
  display: inline-block;
  font-size: var(--small-text);
  color: var(--dark-text);
}

.crisislink__stepone-icon {
  display: inline-block;
  font-size: 5rem;
  color: var(--dark-text);
}
.crisis-link__footer-text {
  font-size: 0.9rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
  a {
    color: var(--main-color);
  }
}

@media only screen and (max-width: 560px) {
  .crisislink__stepone-icon {
    display: inline-block;
    font-size: 3rem;
    color: var(--dark-text);
  }

  .crisislink__stepone-wrapper {
    flex-direction: column;
  }

  .crisis__message {
    font-size: .7rem;
    padding: .5rem;
  }


}
</style>
