<template>
  <loading-spinner v-if="isLoading">
    Loading organization details...
  </loading-spinner>
  <div v-else class="edit-organization">
    <div>
      <tad-button @click="$router.go(-1)">
        <i class="las la-arrow-left la-lg mr-1"></i>Back
      </tad-button>
    </div>
    <header class="mt-5 mb-5">
      <span class="title-text">Edit Organization</span>
    </header>
    

    <form
      class="form-edit-organization mb-12"
      @submit.prevent="updateOrganization"
    >
      <h2 class="subtitle-text mt-0">General Information</h2>
      <div v-if="isWorking" class="loading-overlay">
        <loading-spinner>Please wait...</loading-spinner>
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-name">Name</label>
        <tad-input
          id="org-name"
          v-model.trim="organization.name"
          type="text"
          placeholder="Name"
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-address">Address</label>
        <tad-input
          id="org-address"
          v-model.trim="organization.address"
          type="text"
          placeholder="Address"
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-email">Email</label>
        <tad-input
          id="org-email"
          v-model.trim="organization.email"
          type="email"
          placeholder="Email"
        />
      </div>
      <div class="form-input-wrapper mb-4">
        <label for="org-district">School District</label>
        <tad-input
          id="org-district"
          v-model.trim="organization.school_district"
          type="text"
          placeholder="School District"
        />
      </div>
      <div class="form-input-wrapper">
        <label for="org-url">URL</label>
        <tad-input
          id="org-url"
          v-model.trim="organization.url"
          type="url"
          placeholder="https://www.myorg.com"
          required
          pattern="https?:\/\/.+\..*\..*"
          title="Correct format is http://www.myorg.com or https://www.myorg.com"
        />
      </div>

      <div class="form-input-wrapper mb-4">
        <label for="org-district">Type</label>
        <select v-model="organization.type" required>
          <option value="Company">Company</option>
          <option value="Non-profit">Non-profit</option>
          <option value="School District">School District</option>
          <option value="K-12 School">K-12 School</option>
          <option value="College">College</option>
        </select>
      </div>

      <h2 class="subtitle-text">Organization Branding</h2>
      <div class="branding-colors mb-9">
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Primary Color"
              :initial="organization.primary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ primary: color })"
            />
            <p class="small-text">
              This color affects buttons and form inputs.
            </p>
          </div>
          <div class="preview-container">
            <tad-button primary :bg="previewPColor">
              Primary Button
            </tad-button>
          </div>
        </div>
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Secondary Color"
              :initial="organization.secondary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ secondary: color })"
            />
            <p class="small-text">This color affects links.</p>
          </div>
          <div class="preview-container">
            <tad-text secondary :color="previewSColor">
              <i class="las la-home la-lg"></i> Secondary Link
            </tad-text>
          </div>
        </div>
        <div class="color-container">
          <div class="color-input-wrapper">
            <color-input
              label="Tertiary Color"
              :initial="organization.tertiary_color"
              class="color-picker"
              @color-picked="(color) => colorPicked({ tertiary: color })"
            />
            <p class="small-text">
              This color will be used on other non-essential elements.
            </p>
          </div>
        </div>
      </div>

      <div class="branding-logos mb-12">
        <div class="branding-logo-container">
          <h3 class="subtitle-text mt-0">Main Logo</h3>
          <div class="image-container">
            <img class="main-logo" :src="organization.logo" alt="" />
          </div>

          <btn-org-logo-upload
            :upload="
              (file) => {
                uploadLogo('logo_in', file)
              }
            "
          >
            Select File
          </btn-org-logo-upload>
          <p class="small-text">
            We recommend at least 250x50px for best image quality. JPEG/JPG/PNG
            only.
          </p>
        </div>

        <div class="branding-logo-container">
          <h3 class="subtitle-text mt-0">Alternate Logo</h3>
          <div class="image-container">
            <img
              class="alt-logo"
              width="80"
              :src="organization.alt_logo"
              alt=""
            />
          </div>

          <btn-org-logo-upload
            :upload="
              (file) => {
                uploadLogo('alt_logo_in', file)
              }
            "
          >
            Select File
          </btn-org-logo-upload>
          <p class="small-text">
            We recommend at least 80x80px for best image quality. JPEG/JPG/PNG
            only.
          </p>
        </div>
      </div>

      <tad-button class="btn-edit-org">Save Changes</tad-button>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import { IOrganization, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import TadLink from "~/components/styled-components/TadLink"
import TadText from "~/components/styled-components/TadText"
import BtnOrgLogoUpload from "~/components/profile/BtnOrgLogoUpload.vue"
import { getOrganization, updateOrganization } from "~/api/organization"
import { getUsersInOrganization } from "~/api/users"

@Component({
  middleware: ["is-superuser"],
  components: {
    TadInput,
    TadButton,
    TadLink,
    TadText,
    BtnOrgLogoUpload,
  },
})
export default class EditOrganization extends Vue {
  @Getter("loggedInUser") readonly loggedInUser!: IUserProfile
  @Mutation("config/setLogo") readonly setLogo!: (color: string) => void
  @Mutation("config/setAltLogo") readonly setAltLogo!: (color: string) => void

  id = this.$route.params.id
  isLoading = true
  isWorking = false
  previewPColor = ""
  previewSColor = ""
  previewTColor = ""
  organization = {
    primary_color: "#09535b",
    secondary_color: "#09535b",
    tertiary_color: "#09535b",
  } as IOrganization

  users: IUserProfile[] = []

  async fetch() {
    try {
      this.isLoading = true
      const { data: organization } = await getOrganization(this.id)
      const { data: users } = await getUsersInOrganization(organization.id)
      this.users = users
      this.organization = organization
      this.previewPColor = organization.primary_color
      this.previewSColor = organization.secondary_color
      this.previewTColor = organization.tertiary_color
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  colorPicked(payload: {
    primary?: string
    secondary?: string
    tertiary?: string
  }) {
    if (payload.primary) {
      this.previewPColor = payload.primary
      this.organization.primary_color = payload.primary
    } else if (payload.secondary) {
      this.previewSColor = payload.secondary
      this.organization.secondary_color = payload.secondary
    } else if (payload.tertiary) {
      this.previewTColor = payload.tertiary
      this.organization.tertiary_color = payload.tertiary
    }
  }

  async uploadLogo(key: "logo_in" | "alt_logo_in", file: any) {
    try {
      this.isWorking = true
      const formData = new FormData()
      formData.append(key, file)

      this.organization.logo = ""
      this.organization.alt_logo = ""
      const { data: organization } = await updateOrganization(this.id, formData)
      // Forced delay
      // await new Promise((resolve: any) => setTimeout(resolve, 3500))
      this.organization = organization

      this.$toast.success("Successfully updated logo")
      // this.setLogo(this.organization.logo)
      // this.setAltLogo(this.organization.alt_logo)
    } catch (error) {
      this.$toast.error("Unable to update organization logo")
    } finally {
      this.isWorking = false
    }
  }

  async updateOrganization() {
    try {
      this.isWorking = true
      const formData = new FormData()
      formData.append("name", this.organization.name)
      formData.append("email", this.organization.email)
      formData.append("address", this.organization.address)
      formData.append("school_district", this.organization.school_district)
      formData.append("primary_color", this.organization.primary_color)
      formData.append("secondary_color", this.organization.secondary_color)
      formData.append("tertiary_color", this.organization.tertiary_color)
      formData.append("url", this.organization.url)
      formData.append("number_of_users", "0")
      formData.append("in_house_counselors", "0")
      formData.append("hours_needed_per_month", "0")

      const { data: organization } = await updateOrganization(this.id, formData)
      this.organization = organization
      this.$toast.success("Successfully updated organization details")
    } catch (error) {
      this.$toast.error("Unable to update organization info")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.edit-organization {
  /* max-width: 1000px;
  margin: 0 auto; */
}
.header-text {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.form-edit-organization {
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  padding: 2.5rem 2rem;
  .loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.74);
  }
}
.branding-colors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .color-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: flex-start;
    .preview-container {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}

.branding-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 1rem 5rem;
}

.branding-logo-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  .image-container {
    height: 80px;
    display: flex;
    align-items: center;

    img {
      max-height: 80px;
      &.main-logo {
        max-width: 200px;
      }
      &.alt-logo {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }
  .btn-upload {
    width: 150px;
  }
}
.btn-edit-org {
  width: 100%;
}
.btn-add-user {
  /* min-width: 50px; */
}
.account-type {
  font-size: 0.7rem;
  background-color: rgba(128, 128, 128, 0.123);
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  color: #000;

  &.super {
    background-color: rgba(201, 187, 110, 0.3);
    border-color: rgba(201, 187, 110);
  }
  &.admin {
    background-color: rgb(138, 197, 100, 0.3);
    border-color: rgb(138, 197, 100, 0.3);
  }
  &.professional {
    background-color: rgb(110, 183, 201, 0.3);
    border-color: rgb(110, 183, 201, 0.3);
  }
  &.peer_counselor {
    background-color: rgb(41, 31, 185, 0.3);
    border-color: rgb(41, 31, 185, 0.3);
  }
  &.patient {
    background-color: rgb(134, 110, 201, 0.3);
    border-color: rgb(134, 110, 201, 0.3);
  }
}
</style>
