<template>
    <div>
      <div>
        <tad-button @click="$router.go(-1)" style="margin-bottom: 2rem"
          ><i class="las la-arrow-left mr-1"></i>Back</tad-button
        >
      </div>
      <div class="view-article">
        <div class="page-header">
          <p class="article-title">{{ article.title }}</p>
          <p v-if="article.author" class="article-details mb-6">
            Submitted by: {{ article.author.full_name }}
          </p>
          <b class="last-updated small-text mb-6">
            Last updated: {{ formatUpdatedAt(article.updated_at) }}
          </b>
          <div class="status-container mb-3">
            <b>
              <span class="">Status:</span>
              <span v-if="article.is_draft">Draft</span>
              <span v-else-if="!article.is_approved"> Needs Approval </span>
              <span v-else>Published</span>
            </b>
          </div>
          <div v-if="article.is_approved" class="mb-3">
            <tad-button danger @click="deleteArticleConfirmation">
              Delete Article
            </tad-button>
          </div>
        </div>
  
        <loading-spinner v-if="isLoadingArticle"></loading-spinner>
        <alert v-else-if="errMsg" :msg="errMsg" type="error"></alert>
        <div v-else class="article-details-container">
          <p class="mb-3">tags:</p>
          <ul v-if="article.tags && article.tags.length > 0" class="tags-list">
            <li v-for="(tag, index) in article.tags" :key="index" class="tag">
              <span>{{ tag }}</span>
            </li>
          </ul>
  
          <div class="status-container mb-3">
            <p class="mb-3 mr-3">Selected Audience:</p>
            <ul
              v-if="article.target_audience && article.target_audience.length > 0"
              class="tags-list"
            >
              <li
                v-for="(tag, index) in article.target_audience"
                :key="index"
                class="tag"
              >
                <span>{{ tag }}</span>
              </li>
            </ul>
          </div>
  
          <div v-if="!article.is_approved && !article.is_draft" class="modal-delete-video">
            <div>
              <span class="subtitle-text detail-label">Update Audience</span>
              <div
                v-if="roles.length"
                class="form-input-wrapper special-wrapper mb-6"
              >
                <div v-for="role in roles" :key="role.id">
                  <input
                    type="checkbox"
                    name="audience"
                    :checked="ifChecked(role.name)"
                    @change.stop="addRole(role.name)"
                  />
                  <template v-if="role.name === 'patient'"
                    ><label for="audience">{{ "student" }}</label></template
                  >
                  <template v-else-if="role.name === 'peer_counselor'"
                    ><label for="audience">{{
                      "peer counselor"
                    }}</label></template
                  >
                  <template v-else
                    ><label for="audience">{{ role.name }}</label></template
                  >
                </div>
              </div>
            </div>
          </div>
  
          <div class="content">
            <h3 class="subtitle-text">Article Body</h3>
            <p class="body mb-3" v-html="article.body"></p>
            <tad-button
              v-if="!article.is_approved && !article.is_draft"
              class="btn-approve"
              :disabled="isWorking"
              @click="approveArticleConfirmation"
            >
              <span v-if="isWorking">
                <i class="las la-cog la-spin mr-2"></i>Working
              </span>
              <span v-else>Approve &amp; Publish Article</span>
            </tad-button>
  
            <alert
              v-if="article.is_draft"
              msg="This article cannot be published because the author has not submitted it for approval."
              type="info"
            ></alert>
          </div>
  
          <h2 class="subtitle-text">Article Card Preview</h2>
          <p class="small-text mb-3">
            This is what other users in your organization will see when browsing
            articles.
          </p>
          <article-card :article="article" preview />
        </div>
      </div>
    </div>
  </template>
  
  <script lang="ts">
  import dayjs from "dayjs"
  import { Vue, Component, Mutation } from "nuxt-property-decorator"
  import { getApiErrorMsg } from "~/api"
  import { approveArticle, getArticle, deleteArticle } from "~/api/articles"
  import ModalRequestConfirmation from "~/components/modals/ModalRequestConfirmation.vue"
  import { IArticle, IModal } from "~/interfaces"
  import TadButton from "~/components/styled-components/TadButton"
  import { getRoles } from "~/api/roles"
  import { cloneNode } from "@babel/types"
  
  @Component({
    components: { TadButton },
    middleware: ["authenticated"],
  })
  export default class ViewArticle extends Vue {
    @Mutation("modals/showModal") showModal
    id = this.$route.params.id
    isLoadingArticle = true
    errMsg = ""
    isWorking = false
    article = {} as IArticle
    roles: any = []
    targetAudience: any = []
  
    mounted() {
      this.fetchRoles()
    }
  
    async fetchRoles() {
      try {
        let { data: roles } = await getRoles()
        roles = roles.filter(function (item) {
          return item.name !== "admin"
        })
        roles = roles.filter(function (item) {
          return item.name !== "super"
        })
        this.roles = roles
      } catch (error) {
        this.$toast.error(`Error getting audience types`)
      }
    }
  
    addRole(role: string) {
      if (this.targetAudience.includes(role)) {
        let item = this.targetAudience.indexOf(role)
        let tempArray = this.targetAudience
        tempArray.splice(item, 1)
        this.targetAudience = tempArray
      } else {
        this.targetAudience.push(role)
      }
    }
  
    ifChecked(role: string) {
      return this.targetAudience.includes(role)
    }
  
    async fetch() {
      try {
        this.isLoadingArticle = true
        this.errMsg = ""
        const { data } = await getArticle(this.id)
        this.article = data
        this.targetAudience = data.target_audience
      } catch (error) {
        this.errMsg = `Error loading article: ${getApiErrorMsg(error)}`
      } finally {
        this.isLoadingArticle = false
      }
    }
  
    formatUpdatedAt(time: string) {
      return dayjs(time).format("h:mmA DD MMM YYYY")
    }
  
    approveArticleConfirmation() {
      const modal: IModal = {
        title: "Approve Article",
        content: ModalRequestConfirmation,
        props: {
          onconfirm: this.approveArticle,
          text: "Are you sure you want to approve this article? It will be published immediately and become available for viewing by members of this organization.",
          confirmText: "Approve",
        },
      }
  
      this.showModal(modal)
    }
  
    async approveArticle() {
      try {
        this.isWorking = true
        this.errMsg = ""
        let target_audience = this.article.target_audience
        await approveArticle(this.id, target_audience)
        this.$toast.success("Article approved and published successfully.")
        this.$fetch()
      } catch (error) {
        this.$toast.error(`Error approving the article: ${getApiErrorMsg(error)}`)
      } finally {
        this.isWorking = false
      }
    }
  
    deleteArticleConfirmation() {
      const modal: IModal = {
        title: "Delete Article",
        content: ModalRequestConfirmation,
        props: {
          onconfirm: this.deleteArticle,
          text: "Are you sure you want to delete this article? All its content will be lost forever.",
          confirmText: "Delete",
        },
      }
  
      this.showModal(modal)
    }
  
    async deleteArticle() {
      try {
        this.isWorking = true
        this.errMsg = ""
  
        await deleteArticle(this.id)
        this.$toast.success("Article deleted successfully.")
        this.$router.go(-1)
      } catch (error) {
        this.$toast.error(`Error deleting the article: ${getApiErrorMsg(error)}`)
      } finally {
        this.isWorking = false
      }
    }
  }
  </script>
  
  <style lang="scss" scoped>
  .special-wrapper {
    display: flex !important;
    flex-direction: row !important;
  }
  .view-article {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
  }
  .page-header {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
  }
  .status-container {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  
  .article-title {
    font-weight: 800;
    font-size: 1.9rem;
    color: var(--dark-text);
    margin-bottom: 0rem !important;
  }
  
  .article-details {
    font-size: 1rem;
    color: var(--dark-text);
    font-weight: bold;
  }
  .body {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    padding: 2rem 1rem;
    background-color: #fff;
  }
  .btn-approve {
    width: 100%;
  }
  .tags-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  
    .tag {
      font-size: 0.8rem;
      background-color: #fff;
      text-align: center;
      border: 1px solid var(--main-color);
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem 0.5rem;
      color: #333333;
      min-width: 75px;
      gap: 0.5rem;
  
      .btn-remove-tag {
        background-color: transparent;
        border: none;
        color: var(--danger-color);
        padding: 0.25rem 0.45rem;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 0, 0, 0.116);
        }
        &:disabled {
          background-color: rgba(0, 0, 0, 0.041);
          color: gray;
        }
      }
    }
  }
  
  .article {
    transition: all 0.2s ease;
    border-radius: 3px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 150px auto;
    gap: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    width: 450px;
    margin-bottom: 2rem;
  
    .img-container {
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  
      &.no-thumbnail {
        display: grid;
        place-items: center;
        background-color: #eee;
      }
    }
  
    .info-container {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: space-between;
    }
  
    .title {
      color: var(--dark-text);
      font-weight: bold;
      font-size: 1.35rem;
    }
    .description {
      color: rgb(49, 49, 49);
      font-size: 0.9rem;
    }
  
    .footer {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: auto;
      color: rgb(80, 80, 80);
      font-size: 0.75rem;
    }
  
    &:hover {
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    }
  }
  </style>
  