<template>
  <loading-spinner v-if="$fetchState.pending"
    >Loading user notes...</loading-spinner
  >
  <div v-else-if="err">
    <alert
      type="error"
      msg="Error loading user note. Please reload the page."
      :dissmissable="false"
      class="mb-6"
    />
    <!-- <button class="btn orange"><i class="las la-sync mr-2"></i>Reload</button> -->
  </div>
  <div v-else class="patient-file">
    <div class="title-container">
      <img :src="$userimg('')" alt="" width="40" />
      <h1 class="title-text mb-0 py-2">{{ patientFile.patient.full_name }}</h1>
    </div>

    <section class="patient-info-card">
      <section class="info-header">
        <div class="patient-info-container">
          <h3 class="subtitle-text">Preferred Pronouns</h3>
          <p>{{ patientFile.patient.preferred_pronouns || "N/A" }}</p>
        </div>
        <div class="patient-info-container">
          <h3 class="subtitle-text">DOB</h3>
          <p>{{ patientFile.patient.date_of_birth || "N/A" }}</p>
        </div>
      </section>

      <transition mode="out-in" name="patient-file-details">
        <form v-if="isEditingTreatmentPlan" @submit.prevent="updatePatientFile">
          <section class="area-of-concern">
            <h2 class="subtitle-text">Presenting Problem/Areas of Concern</h2>

            <div class="form-input-wrapper">
              <textarea
                cols="30"
                rows="10"
                placeholder="Describe the patient's major areas of concern..."
                v-model="patientFile.areas_of_concern"
              ></textarea>
              <!-- <button class="btn main">Update Areas of Concern</button> -->
            </div>
          </section>
          <!-- 
           <section class="treatment-plan">
            <h2 class="subtitle-text">Treatment Plan</h2>

            <div class="form-input-wrapper mb-6">
              <textarea
                cols="30"
                rows="10"
                placeholder="Describe the preferred treatment plan..."
                v-model="patientFile.treatment_plan"
              ></textarea>
            </div>
            
          </section>
          -->

          <div class="edit-btns-container">
              <tad-button>Save Changes</tad-button>
              <tad-button
                danger
                @click.prevent="isEditingTreatmentPlan = false"
              >
                Cancel
              </tad-button>
            </div>

          <div v-if="isSavingChanges" class="spinner-container">
            <loading-spinner>Saving changes...</loading-spinner>
          </div>
        </form>

        <section v-else>
          <div class="patient-info-container mb-6">
            <h3 class="subtitle-text">Presenting Problem/Areas of Concern</h3>
            <p>{{ patientFile.areas_of_concern || "N/A" }}</p>
          </div>

          <!-- <div class="patient-info-container mb-6">
            <h3 class="subtitle-text">Treatment Plan</h3>
            <p>{{ patientFile.treatment_plan || "N/A" }}</p>
          </div> -->
          <tad-button
            class="btn-edit-treatment-plan"
            @click="isEditingTreatmentPlan = true"
          >
            Edit User Information
          </tad-button>
        </section>
      </transition>
    </section>

    <section class="appointments">
      <h2 class="subtitle-text">Individual Notes</h2>
      <div class="tad-table table-responsive">
        <table>
          <thead class="table__header tab-header">
            <tr>
              <td colspan="3">
                <div class="table-tabs">
                  <button class="tab selected">All</button>
                  <button class="tab">Upcoming</button>
                  <button class="tab">Cancelled</button>
                </div>
              </td>
            </tr>
          </thead>
          <thead class="table__header">
            <tr>
              <td class="table__header-text col-date">Appointment Date/Time</td>
              <td class="table__header-text col-type">Session Type</td>
              <td class="table__header-text col-type">Status</td>
              <td class="table__header-text col-actions">
                <div class="form-input-wrapper search-container">
                  <i class="las la-search la-lg ic-search"></i>
                  <input type="text" placeholder="Search appointments" />
                </div>
              </td>
            </tr>
          </thead>

          <tbody class="table-body">
            <template v-if="appointments.length > 0">
              <IndividualNotesTr
                v-for="appointment in appointments"
                :key="appointment.id"
                :appointment="appointment"
                :casenotes="casenotes"
                :patientFile="patientFile"
              />
            </template>
            <tr v-else>
              <td colspan="4">
                <p>No appointments available</p>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="controls-container px-5 py-3">
          <ServerPaginationControls
            :endpoint="getPaginatorAppointments"
            :styling="{ align: 'right' }"
            @updated-items="updateAppointmentsList"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation } from "nuxt-property-decorator"
import {
  getPatientFile,
  getPatientFileAppointments,
  getPatientFileCaseNotes,
  updatePatientFile,
} from "~/api/patient-files"
import { IAppointment, ICaseNote, IPatientFile } from "~/interfaces"
import IndividualNotesTr from "~/components/patient-files/IndividualNotesTr.vue"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  middleware: ["authenticated", 'is-password-protected-page'],
  components: { IndividualNotesTr, TadButton },
})
export default class PatientFile extends Vue {
  @Mutation("modals/showModal") showModal
  err = false
  isLoading = true
  id = this.$route.params.id
  patientFile = {} as IPatientFile
  appointments: IAppointment[] = []
  casenotes: ICaseNote[] = []
  isEditingTreatmentPlan = false
  isSavingChanges = false

  async fetch() {
    try {
      this.err = false
      const { data: patientFile } = await getPatientFile(this.id)
      this.patientFile = patientFile

      const { data: appointments } = await getPatientFileAppointments(this.id)
      this.appointments = appointments

      const { data: casenotes } = await getPatientFileCaseNotes(this.id)
      this.casenotes = casenotes
    } catch (error) {
      this.err = true
    }
  }

  async updatePatientFile() {
    try {
      this.isSavingChanges = true
      await updatePatientFile(this.patientFile)
      this.$toast.success("User notes updated")
      this.$fetch()
      this.isEditingTreatmentPlan = false
    } catch (error) {
      this.$toast.error("Error updating user notes")
    } finally {
      this.isSavingChanges = false
    }
  }

  getPaginatorAppointments(skip = 0, limit = 10) {
    return getPatientFileAppointments(this.id, { skip, limit })
  }
  updateAppointmentsList(appointments: IAppointment[] = []) {
    this.appointments = appointments
  }
  getPaginatorCaseNotes(skip = 0, limit = 10) {
    return getPatientFileCaseNotes(this.id, { skip, limit })
  }
  updateCaseNotesList(casenotes: ICaseNote[] = []) {
    this.casenotes = casenotes
  }
}
</script>

<style lang="scss" scoped>
.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 5rem;
  background: #f5f5fd;
  z-index: 10;
}
.info-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.appointment-actions {
  text-align: right;
}
.search-container {
  position: relative;
  max-width: 350px;
  margin-left: auto;
  .ic-search {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    padding-left: 2rem;
  }
}

.case-notes {
  .col-status {
    width: 100px;
  }
  .status-container {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;

    &.draft {
      background-color: #adadad;
    }
    &.completed {
      background-color: var(--success-color);
    }
  }
}
.patient-info-container {
  p {
    font-size: 0.9em;
  }
}
.patient-info-card {
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  position: relative;
}
.btn-edit-treatment-plan {
  width: 100%;
}
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  background-color: rgba(255, 255, 255, 0.747);
  backdrop-filter: blur(3px);
}
.edit-btns-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.btn-case-note-action {
  width: 135px;
}

.patient-file-details-enter-active, .patient-file-details-leave-active{
  transition: transform .3s ease, opacity .15s ease;
}
.patient-file-details-enter, .patient-file-details-leave-to{
  opacity: 0;
  transform: translateY(-30px);
}
</style>