<template>
  <div class="case-note">
    <div class="header mb-4">
      <tad-button @click="$router.go(-1)"
      ><i class="las la-arrow-left"></i> Back
      </tad-button>
      <h1 class="title-text mb-0">Add new case note</h1>
    </div>

    <section class="notes">
      <h2 class="subtitle-text">Notes</h2>
      <article-editor
        class="mb-6"
        :initial-value="note"
        @content-changed="editorContentChanged"
      />
      <div v-if="editable && !loading" class="notes-actions">
        <tad-button @click="saveNote"
          ><i class="las la-file-alt la-lg mr-2"></i> Save Draft</tad-button
        >
        <tad-button success @click="complete"
          ><i class="las la-check-circle la-lg mr-2"></i>Mark
          Completed</tad-button
        >
      </div>
      <loading-spinner v-if="loading">Saving case note...</loading-spinner>
    </section>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator"
import { createCaseNote, updateCaseNote } from "~/api/case-notes"
import TadButton from "~/components/styled-components/TadButton"
import { GenericType } from "~/interfaces/index"

@Component({
  middleware: [
    "authenticated",
    "is-password-protected-page",
  ],
  components: {
    TadButton,
  },
})
export default class ViewCaseNote extends Vue {
  caseNote = {}
  note = ""
  editable = true as boolean
  saved = false as boolean
  loading = false as boolean

  editorContentChanged(content: string) {
    this.note = content
  }

  async saveNote() {
    let res = {} as GenericType
    let msg = "Case note created"
    this.loading = true

    if (this.saved) {
      const payload = { ...this.caseNote, narrative: this.note }
      res = await updateCaseNote(payload)
      msg = msg.replace("created", "updated")
    } else {
      res = await createCaseNote({
        narrative: this.note,
        session_format: "NOTE",
        is_draft: true,
      })
      this.saved = true
    }
    this.caseNote = res?.data
    this.$toast.success(msg)
    this.loading = false
  }

  async complete() {
    this.loading = true

    const newCaseNote = { ...this.caseNote, is_draft: false }
    this.caseNote = await updateCaseNote({ ...newCaseNote })
    this.editable = false
    this.$toast.success("Case note complete")
    this.loading = false
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  .status-container {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 5px;
    color: #fff;

    &.draft {
      background-color: #adadad;
    }

    &.completed {
      background-color: var(--success-color);
    }
  }

  .last-updated {
    color: #a5a5a5;
  }
}

.patient-info-card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: var(--default-box-shadow);
  width: 100%;
  max-width: 1000px;

  .info-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  .info-container {
    h3 {
      margin-top: 0;
    }
  }

  .patient-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}

.btn-back {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--dark-text);
}

.notes-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
</style>
