<template>
  <div class="my-patient-files">
    <div class="title-container mb-6">
      <tad-button
        class="float-right"
        @click="$router.push(`/professionals/patient-files/add-note`)"
      >
        Add a note
      </tad-button>
      <h1 class="title-text">Client Notes</h1>
      <p class="small-text">View and manage your users' notes.</p>
    </div>
    <div class="form-input-wrapper search-container mb-12">
      <i class="las la-search la-lg ic-search"></i>
      <input type="text" placeholder="Search user notes" />
    </div>
    <div class="tad-table table-responsive">
      <table>
        <thead class="table__header">
          <tr>
            <td class="table__header-text col-name">Name</td>
            <td class="table__header-text col-age">User Type</td>
            <!-- <td class="table__header-text col-concern">Area of Concern</td> -->
            <td class="table__header-text col-appointment">Next Appointment</td>
          </tr>
        </thead>

        <tbody class="table-body">
          <template v-if="patientFiles.length > 0">
            <tr
              v-for="file in patientFiles"
              :key="file.id"
              @click="$router.push(`/professionals/patient-files/${file.id}`)"
            >
              <td class="col-name patient-name">
                {{ file.patient_full_name }}
              </td>
              <td class="col-age">{{ file.patient_age || "N/A" }}</td>
              <!-- <td>
                {{ $ellipsis(file.areas_of_concern || "N/A", 80) }}
              </td> -->
              <td class="col-appointment">
                <template
                  v-if="
                    file.next_appointment_date &&
                    file.next_appointment_start_time
                  "
                >
                  {{
                    $dateFormat(
                      `${file.next_appointment_date} ${file.next_appointment_start_time}`,
                      "ddd DD MMMM YYYY, hh:mm A"
                    )
                  }}
                </template>
                <template v-else>N/A</template>
              </td>
            </tr>
          </template>

          <tr v-else>
            <td colspan="4">No notes found.</td>
          </tr>
        </tbody>
      </table>
      <div class="controls-container px-5 py-3">
        <ServerPaginationControls
          :endpoint="getPaginatorPatientFiles"
          :styling="{ align: 'right' }"
          @updated-items="updatePatientFilesList"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Getter } from "nuxt-property-decorator"
import { getPatientFiles, PatientFilesListItem } from "~/api/patient-files"
import { login } from "~/api/users"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  middleware: [
    "authenticated",
    "is-password-protected-page",
  ],
  components: { TadButton },
})
export default class MyPatients extends Vue {
  patientFiles: PatientFilesListItem[] = []

  async fetch() {
    const { data: patientFiles } = await getPatientFiles()
    this.patientFiles = patientFiles
  }

  async getPaginatorPatientFiles(skip = 0, limit = 10) {
    return await getPatientFiles({ skip, limit })
  }

  updatePatientFilesList(patientFiles: PatientFilesListItem[]) {
    this.patientFiles = patientFiles
  }
}
</script>

<style lang="scss" scoped>
.lock {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  min-height: 500px;
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);

  form {
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}
.search-container {
  position: relative;
  margin-left: auto;
  .ic-search {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    padding-left: 2rem;
  }
}
.table-body {
  font-weight: 300;
}
.patient-name {
  font-weight: 700;
  color: var(--dark-text);
}
.col-name {
  width: 250px;
}
.col-age {
  width: 50px;
}
.col-concern {
  width: auto;
}
.col-appointment {
  width: 250px;
  text-align: right;
}
</style>
