<template>
  <loading-spinner v-if="isLoading"></loading-spinner>
  <div v-else class="new-form">
    <header class="mb-6">
      <tad-button @click="$router.go(-1)">
        <i class="las la-arrow-left mr-1"></i>Back
      </tad-button>
    </header>
    <div class="form-content">
      <div class="form-general-details">
        <label for="form-name" class="block mb-4 font-semibold"
          >Enter Form Name</label
        >
        <tad-forms-input
          v-model="form.name"
          type="text"
          class="tad-forms-input large"
          required
          id="form-name"
        />
        <label for="form-desc" class="block mb-4 font-semibold"
          >Enter Form Description</label
        >
        <tad-forms-input
          v-model="form.description"
          type="text"
          class="tad-forms-input description"
          id="form-desc"
          required
        />
        <div class="form-input-wrapper">
          <label for="" class="mb-5">What language is the form in?</label>
          <select
            v-model="form.language"
            name="form-language"
            class="select-form-language"
            required
          >
            <option value="en" selected>English</option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
          </select>
        </div>

        <div v-if="isWorking" class="loading-overlay">
          <loading-spinner>Please wait</loading-spinner>
        </div>
      </div>

      <component
        :is="formQuestions"
        :form="form"
        @save-form="saveDraft"
        @autosave="saveDraftNoToast"
      ></component>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import CheckinFormQuestions from "~/components/forms/creator/CheckinFormQuestions.vue"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import QuestionnaireFormQuestions from "~/components/forms/creator/QuestionnaireFormQuestions.vue"
import { IForm } from "~/interfaces"
import ConsentFormQuestions from "~/components/forms/creator/ConsentFormQuestions.vue"
import { getForm, updateForm } from "~/api/form"

@Component({
  middleware: ["authenticated", "is-form-creator"],
  components: { LoadingSpinner, TadButton, TadInput, TadFormsInput },
})
export default class EditForm extends Vue {
  id = this.$route.params.id
  form: any = {
    // name: 'Form Name',
    // description: 'Form Description',
    // type: "consent form",
  }

  isWorking = false
  isLoading = true

  async fetch() {
    try {
      this.isLoading = true
      let { data: form } = await getForm(this.id)
      form = { ...form.form, questions: form.questions }

      form.questions.sort((q1, q2) => (q1.position <= q2.position ? -1 : 1))
      this.form = form
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  get formQuestions() {
    switch (this.form.type) {
      case "checkin form":
        return CheckinFormQuestions
      case "questionnaire form":
        return QuestionnaireFormQuestions
      case "consent form":
        return ConsentFormQuestions
      default:
        return LoadingSpinner
    }
  }

  get headerText() {
    switch (this.form.type) {
      case "questionnaire form":
        return "Questionnaire Form"
      case "consent form":
        return "Consent Form"
      case "checkin form":
        return "Check-in Form"
      default:
        return "N/A"
    }
  }

  async fetchForm() {
    let { data: form } = await getForm(this.id)
    form = { ...form.form, questions: form.questions }

    form.questions.sort((q1, q2) => (q1.position <= q2.position ? -1 : 1))
    this.form = form
  }

  async saveDraftNoToast(form: IForm) {
    await this.saveDraft(form, false)
  }

  async saveDraft(form: IForm, toast = true) {
    try {
      form.questions.sort((q1, q2) => (q1.position <= q2.position ? -1 : 1))
      this.isWorking = true
      this.form.status = "draft"
      const { data: updatedForm } = await updateForm(form)

      this.fetchForm()

      if (toast) this.$toast.success("Form saved successfully.")
    } catch (error) {
      this.$toast.error("Error occurred when updating the form")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.form-content {
  position: relative;
}
.form-general-details {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}

.select-form-language {
  max-width: 250px;
  cursor: pointer;
}
.form-submit-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}
.loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  place-items: center;
}
</style>
