<template>
  <div>
    <header class="mb-6">
      <tad-button @click="$router.go(-1)">
        <i class="las la-arrow-left mr-1"></i>Back
      </tad-button>
    </header>

    <div class="container">
      <div class="flex justify-end" v-if="form && form.form">
        <tad-button
          @click="requestDuplicateConfirmation(duplicateForm)"
          class="btn-publish-form mr-4"
        >
          Duplicate Form
        </tad-button>

        <tad-button
          v-if="form.form.status === 'draft'"
          primary
          class="mr-4"
          @click="$router.push(`/forms/creator/${form.form.id}/edit`)"
        >
          Finish Editing Form</tad-button
        >
        <!-- <tad-button v-if="form.form.status === 'active'" primary class="" @click="$router.push(`/forms/creator/${form.form.id}/edit`)"> Edit Form Questions </tad-button> -->
        <tad-button @click="shareForm" class="btn-publish-form">
          Share Form
        </tad-button>
      </div>
      <!-- button that goes to other page -->
    </div>

    <div>
      <div class="container my-4 mt-8">
        <div class="flex justify-end">
          <span
            :style="
              activeTab === 'questions'
                ? {
                    color: configPrimColor,
                    fontWeight: '500',
                  }
                : {}
            "
            @click="setActiveTab('questions')"
            class="tab mx-2 cursor-pointer"
            >Details</span
          >
          <span
            :style="
              activeTab === 'analysis'
                ? {
                    color: configPrimColor,
                    fontWeight: '500',
                  }
                : {}
            "
            @click="setActiveTab('analysis')"
            class="tab mx-2 cursor-pointer"
            >Analysis</span
          >
          <span
            :style="
              activeTab === 'responses'
                ? {
                    color: configPrimColor,
                    fontWeight: '500',
                  }
                : {}
            "
            @click="setActiveTab('responses')"
            class="tab mx-2 cursor-pointer"
            >Responses</span
          >
        </div>
      </div>

      <div v-if="isLoading" class="bg-white p-8 flex justify-center">
        <loading-spinner>Loading form details...</loading-spinner>
      </div>

      <div class="container">
        <component
          :is="activeComponent"
          :id="id"
          :type="type"
          :questions="form.questions"
          :form="form"
        ></component>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import TadButton from "~/components/styled-components/TadButton"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import { createForm, getForm } from "~/api/form"
import FormAnalysis from "~/components/FormAnalysis.vue"
import FormQuestions from "~/components/FormQuestions.vue"
import FormResponses from "~/components/FormResponses.vue"
import ModalRequestConfirmation from "~/components/modals/ModalRequestConfirmation.vue"
import dayjs from "dayjs"

@Component({
  middleware: ["authenticated", "is-form-creator"],
  components: {
    LoadingSpinner,
    TadButton,
    FormQuestions,
    FormAnalysis,
    FormResponses,
  },
})
export default class EditForm extends Vue {
  @Getter("config/pColor") readonly configPrimColor!: string
  @Mutation("modals/showModal") showModal!: (modal) => any
  @Getter("loggedInUser") currentUser
  id = this.$route.params.id
  type: string = ""
  form: any = {}
  duplicateForm: any = {}
  isLoading = false
  activeTab = "questions"

  setActiveTab(tabName: string) {
    this.activeTab = tabName
  }

  componentsMap = {
    questions: FormQuestions,
    analysis: FormAnalysis,
    responses: FormResponses,
  }

  get activeComponent() {
    return this.componentsMap[this.activeTab] || LoadingSpinner
  }

  requestDuplicateConfirmation(duplicateForm) {
    const modal = {
      title: "Duplicate Form?",
      content: ModalRequestConfirmation,
      props: {
        text: `Are you sure you want to duplicate the form "${this.form.form.name}"`,
        onconfirm: () => {
          this.duplicateFormCall(duplicateForm)
        },
      },
    }

    this.showModal(modal)
  }

  async duplicateFormCall(duplicateForm) {
    try {
      const { data } = await createForm({
        name: "Copy - ".concat(duplicateForm.name),
        description: duplicateForm.description,
        type: duplicateForm.type,
        language: duplicateForm.language,
        questions: duplicateForm.questions,
        preferred_submit_date: dayjs().toISOString(),
        organization_id: this.currentUser.organization_id,
        target: "internal",
      })

      this.$router.push(`/forms/creator/${data.id}`)
      
    } catch (error) {
      this.$toast.error("Error duplicating form")
    } finally {
    }
  }

  mounted() {
    this.fetchForm()
  }

  shareForm() {
    this.$router.push(`/forms/creator/${this.id}/share`)
  }
  async fetchForm() {
    this.isLoading = true
    try {
      const { data } = await getForm(this.id)
      this.form = data
      this.type = data.form.type
      this.duplicateForm = { ...this.form.form, questions: this.form.questions }
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }
}
</script>


