<template>
  <div>
    <header class="mb-6">
      <tad-button @click="$router.go(-1)">
        <i class="las la-arrow-left mr-1"></i>Back
      </tad-button>
    </header>
    <div>
      <div class="bg-white p-4 sm:p-8 rounded-sm shadow-sm">
        <div class="flex flex-col sm:flex-row">
          <div class="mr-8">
            <img
              class="h-32 w-32 rounded-full max-w-full"
              :src="$userimg(userInfo.profile_image)"
              :alt="userInfo.full_name"
            />
          </div>
          <div v-if="form && form.form">
            <h1 class="text-xl sm:text-2xl font-semibold mt-4">
              {{ form.form.name }}
            </h1>

            <p class="text-sm mt-2">
              {{ form.form.description }}
            </p>
          </div>
        </div>
        <div class="mt-8">
          <ul class="flex flex-col sm:flex-row" >
            <li class="mr-4 mb-4 sm:mb-0" v-if="isExternalUser !== true">
              <span class="font-semibold">Respondent Name: </span
              >{{ userInfo.full_name }}
            </li>
            <li class="mb-4 sm:mb-0">
              <span class="font-semibold">Respondent Email: </span
              >{{ isExternalUser !== true ? userInfo.email : email }}
            </li>
          </ul>
        </div>


        <div class="mt-4 flex flex-col sm:flex-row justify-end" v-if="isExternalUser !== true">
          <tad-button
            class="w-full sm:w-auto mr-4 mb-4 sm:mb-0"
            primary
            v-can="'appointment.book.client'"
            @click="bookClientAppointment(userInfo.email)"
          >
            Book An Appointment
          </tad-button>

          <tad-button
            primary
            class="w-full sm:w-auto mr-4 mb-4 sm:mb-0"
            v-can="'appointment.book.someone.else'"
            @click="bookSomeoneElse(userInfo.email)"
            >Book An Appointment For This User</tad-button
          >
        </div>
      </div>

      <div class="response-cards" v-if="formResponse && formResponse.response">
        <div
          v-for="response in formResponse.response.responses"
          :key="response.id"
          class="bg-white p-8 my-4 rounded-sm shadow-sm"
        >
          <div>
            <div class="font-bold mb-4">
              <h3>{{ response.question_body }}</h3>
            </div>
            <div class="card-body">
              <span
                v-if="response.is_priority_response"
                class="
                  bg-red-100
                  text-red-800 text-xs
                  font-medium
                  me-2
                  px-2
                  py-1
                  rounded
                  mb-4
                  inline-block
                "
                >Priority Response Submitted</span
              >

              <p>
                <span class="font-semibold">User Response:</span>
                <i class="las la-lg" :class="answerIcon(answer)"></i>
                {{ response.answers.text.join(", ") }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        v-if="isLoading"
        class="bg-white bg-white p-8 rounded-sm shadow-sm"
        style="height: 300px"
      >
        <loading-spinner>Loading response...</loading-spinner>
      </div>

      <div v-if="isConsentForm && content.length" class="bg-white p-4 mt-4">
        <div>
          <Editor
            tinymce-script-src="/vendor/tinymce/tinymce.min.js"
            apiKey="no-api-key"
            :init="tinyMceConfig"
            :initialValue="content"
            plugins="preview image fullscreen lists link"
            toolbar="undo redo | styleselect | bold italic underline link | alignleft aligncenter alignright alignjustify | numlist bullist | preview fullscreen"
            disabled
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import TadButton from "~/components/styled-components/TadButton"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import { createForm, getForm } from "~/api/form"
import FormAnalysis from "~/components/FormAnalysis.vue"
import FormQuestions from "~/components/FormQuestions.vue"
import FormResponses from "~/components/FormResponses.vue"
import { getSingleUser } from "~/api/users"
import ModalBookClient from "~/components/modals/ModalBookClient.vue"
import { getUserResponse, getExternalUserResponse } from "~/api/form-response"
import Editor from "@tinymce/tinymce-vue"

@Component({
  middleware: ["authenticated", "is-form-creator"],
  components: {
    LoadingSpinner,
    TadButton,
    FormQuestions,
    FormAnalysis,
    FormResponses,
    ModalBookClient,
    Editor,
  },
})
export default class EditForm extends Vue {
  @Mutation("modals/showModal") showModal!: (modal) => any
  @Mutation("modals/hideModal") hideModal
  @Getter("modals/getModal") getModal
  @Getter("loggedInUser") currentUser
  id = this.$route.params.id
  user = this.$route.query.user
  email = this.$route.query.email
  isExternalUser = false
  userInfo: any = {}
  fullApiUrl = process.env.fullApiUrl
  form: any = {}
  formResponse: any = {}
  isConsentForm = false
  content = ""
  answer
  isLoading = false

  tinyMceConfig = {
    readonly: true, // Read-only mode
    menubar: false, // Hide the menu bar
    toolbar: false, // Hide the tool bar
    height: 600,
    intialContent: this.content,
  }

  mounted() {
    this.fetchUserInfo()
    this.fetchFormInfo()
    this.fetchFormResponse()
  }

  async fetchUserInfo() {
    const { data } = await getSingleUser(this.user)
    this.userInfo = data
  }

  async fetchFormInfo() {
    const { data } = await getForm(this.id)
    this.form = data
    if (data.form.type === "consent form") {
      this.isConsentForm = true
      this.content = data.questions[0].notes
    }
  }

  async fetchFormResponse() {
    this.isLoading = true
    if (this.email) {
      const { data } = await getExternalUserResponse(this.id, this.email)
      this.isExternalUser = true
      this.formResponse = data
    } else {
      const { data } = await getUserResponse(this.id, this.user)
      this.formResponse = data
    }

    
    this.answer = this.formResponse.response.responses[0].answers.text[0]
    this.isLoading = false
  }
  bookSomeoneElse(email) {
    // push to /bookings/someone/else
    this.$router.push({
      path: `/bookings/someone/else?email=${email}`,
    })
  }

  answerIcon(answer: string) {
    switch (answer) {
      case "Feeling Great":
        return "la-grin-beam"
      case "Feeling Better Than Normal":
        return "la-smile"
      case "Feeling Just Average":
        return "la-meh"
      case "Feeling Worse Than Normal":
        return "la-frown"
      case "Feeling Awful":
        return "la-sad-tear"
      default:
        return ""
    }
  }

  bookClientAppointment(email) {
    const modal = {
      title: "Book An Appointment",
      content: ModalBookClient,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        email,
      },
    }
    this.showModal(modal)
  }
}
</script>

<style></style>
