<!-- eslint-disable array-callback-return -->
<template>
  <div class="publish-form">
    <!-- Back Button -->
    <header class="mb-6">
      <tad-button @click="$router.go(-1)">
        <i class="las la-arrow-left mr-1"></i>Back
      </tad-button>
    </header>

    <!-- Page title -->
    <SharedPageTitle
      title="Share Form"
      subtitle="Easily share your form with others"
      class="text-center mb-6"
    />

    <div
      class="
        flex flex-col
        max-w-xl
        mx-auto
        bg-white
        p-6
        border
        rounded-lg
        space-y-4
      "
    >
      <!-- Respondents -->
      <div>
        <label class="text-base font-normal mb-3 block"
          >Choose Respondents</label
        >
        <div
          class="
            border-2
            rounded-lg
            text-center
            flex-col
            py-2
            cursor-pointer
            hover:bg-gray-300
          "
          @click="openDirectoryModal()"
        >
          Select recipients from organization's directory
        </div>

        <!-- List dir users -->
        <div class="my-3 text-xs">
          <div
            v-if="shortLists && directoryRecipients.length"
            class="flex flex-wrap gap-1"
          >
            <div
              v-for="user in directoryRecipients.slice(0, 4)"
              :key="user.email"
              class="flex-shrink border rounded-lg px-3 py-2 hover:bg-gray-300"
            >
              {{ user.full_name || "Anonymous User" }}

              <i
                class="la la-times la-fw cursor-pointer hover:text-red-800"
                @click="removeDirectoryRecipient(user)"
              ></i>
            </div>
            <div
              class="
                bg-orange-300
                cursor-pointer
                flex-shrink
                border
                rounded-lg
                px-3
                py-2
                hover:bg-gray-300
              "
              @click="shortLists = false"
            >
              Show all {{ directoryRecipients.length }}
            </div>
          </div>

          <div
            v-if="!shortLists && directoryRecipients.length"
            class="flex flex-wrap gap-1"
          >
            <div
              v-for="user in directoryRecipients"
              :key="user.email"
              class="flex-shrink border rounded-lg px-3 py-2 hover:bg-gray-300"
            >
              {{ user.full_name || "Anonymous User" }}
              <i
                class="la la-times la-fw cursor-pointer hover:text-red-800"
                @click="removeDirectoryRecipient(user)"
              ></i>
            </div>
          </div>
        </div>
      </div>

      <h3 class="py-2">- OR -</h3>

      <div class="flex flex-col space-y-4 pb-8">
        <label class="text-base font-normal m-0 p-0"
          >Share with a user outside your organization's directory</label
        >
        <div class="grid grid-cols-12 gap-x-4">
          <div class="col-span-8">
            <input
              v-model="emailInput"
              type="text"
              class="border-2 rounded-lg px-4 py-2 w-full"
              placeholder="Enter emails separated by spaces"
            />
          </div>
          <div class="col-span-4">
            <tad-button primary @click="addEmails">Add Respondents</tad-button>
          </div>
        </div>

        <!-- List external emails -->
        <div class="my-3 text-xs">
          <div
            v-if="shortLists && externalRecipients.length"
            class="flex flex-wrap gap-1"
          >
            <div
              v-for="user in externalRecipients.slice(0, 4)"
              :key="user"
              class="flex-shrink border rounded-md px-3 py-2 hover:bg-gray-300"
            >
              {{ user }}

              <i
                class="la la-times la-fw cursor-pointer hover:text-red-800"
                @click="removeExternalRecipient(user)"
              ></i>
            </div>
            <div
              class="
                flex-shrink
                border
                rounded-md
                px-3
                py-2
                bg-orange-300
                cursor-pointer
              "
              @click="shortLists = false"
            >
              Show all {{ externalRecipients.length }}
            </div>
          </div>

          <div
            v-if="!shortLists && externalRecipients.length"
            class="flex flex-wrap gap-1"
          >
            <div
              v-for="user in externalRecipients"
              :key="user"
              class="flex-shrink border rounded-md px-3 py-2 hover:bg-gray-300"
            >
              {{ user || "Anonymous User" }}
              <i
                class="la la-times la-fw cursor-pointer hover:text-red-800"
                @click="removeExternalRecipient(user)"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-4 pb-8">
        <label class="text-base font-normal text-left m-0 p-0">Form Link</label>
        <div class="flex space-x-4">
          <div class="flex-auto">
            <input
              ref="direct-link"
              placeholder="Enter email"
              class="border-2 rounded-lg px-4 py-2 w-full truncate"
              type="text"
              readonly
              :value="directLink"
            />
          </div>
          <div class="flex-shrink">
            <tad-button class="btn-copy-link" @click="copyLink">
              {{ btnCopyText }}
            </tad-button>
          </div>
        </div>
      </div>

      <tad-button class="btn-publish-form" @click="shareSubmit"
        >Share Form</tad-button
      >
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component } from "vue-property-decorator"
import { Mutation } from "vuex-class"
import { getForm, shareForm, updateFormStatus } from "~/api/form"
import { searchPatients } from "~/api/users"
import ModalFormShareSuccess from "~/components/modals/ModalFormShareSuccess.vue"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { IForm, IModal, IOrgDirectoryUser, IUserProfile } from "~/interfaces"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import ModalOrganizationDirectory from "~/components/modals/ModalOrganizationDirectory.vue"

@Component({
  middleware: ["authenticated", "is-form-creator"],
  components: { TadButton, TadInput, LoadingSpinner },
})
export default class ShareForm extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any

  $refs!: {
    "direct-link": Vue
  }

  frontendBaseUrl = process.env.baseUrl
  id = this.$route.params.id
  form = {
    // name: 'Form Name',
    // description: 'Form Description',
    // type: "consent form",
  } as IForm

  emailInput: string = ""

  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patientsSearchList: IUserProfile[] = []
  recipients: IUserProfile[] = []
  respondentGroup: "patient" | "professional" | "individual" | "all" = "patient"
  btnCopyText = "Copy Link"
  directoryRecipients = [] as IOrgDirectoryUser[]
  externalRecipients = [] as string[]
  shortLists = true
  email = "" as string
  // eslint-disable-next-line camelcase
  preferred_submit_date = this.$dateFormat(new Date(), "YYYY-MM-DD")
  busy = false

  get directLink() {
    return `${this.frontendBaseUrl}/form-response/view/${this.form.id}`
  }

  isWorking = false

  async fetch() {
    const { data: form } = await getForm(this.id)
    this.form = form.form
  }

  addEmails() {
    // Split on spaces and trim each email
    const emails: string[] = this.emailInput
      .split(" ")
      .map((email) => email.trim())

    // Spread into existing
    this.externalRecipients = [...this.externalRecipients, ...emails]

    // Clear the input field
    this.emailInput = ""
  }

  async copyLink() {
    try {
      await navigator.clipboard.writeText(this.directLink)
      this.$toast.success("Link successfully copied to clipboard")
    } catch (err) {
      console.error("Failed to copy: ", err)
      /* Rejected - text failed to copy to the clipboard */
    }
  }

  async shareSubmit() {
    this.busy = true
    try {
      let recipients: any = this.directoryRecipients.map((user) => user.email)
      const isExternalRecipients = recipients.length === 0
      if (isExternalRecipients) recipients = [...this.externalRecipients]

      if (!recipients.length) {
        this.$toast.error("Please add one or more recipients")
        return
      }

      // Activate form
      await updateFormStatus(this.id, "active")
      await shareForm({
        form_id: this.id,
        subject: "",
        preferred_submit_date: dayjs(this.preferred_submit_date).toISOString(),
        recipients,
        external: isExternalRecipients,
      })
      this.shareFormSuccess()
    } catch (error) {
      console.error(error)
    } finally {
      this.busy = false
    }
  }

  removeDirectoryRecipient(user: IOrgDirectoryUser) {
    this.directoryRecipients = this.directoryRecipients.filter(
      (_user) => _user.email !== user.email
    )
  }

  removeExternalRecipient(email: string) {
    const index = this.externalRecipients.findIndex(
      (recipient) => recipient === email
    )
    if (index !== -1) {
      this.externalRecipients.splice(index, 1)
    }
  }

  shareFormSuccess() {
    const modal: IModal = {
      content: ModalFormShareSuccess,
      title: "Form shared successfully!",
      props: {
        text: "All recipients will be notified via email.",
        onclose: () => {
          this.$router.push(`/forms/creator/`)
        },
      },
    }
    this.showModal(modal)
  }

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async patientSearch() {
    this.isSearching = true
    this.patientsSearchList = []
    const { data: patients } = await searchPatients(this.patientSearchString)
    this.patientsSearchList = patients

    this.isSearching = false
  }

  addExternalEmail() {
    if (!this.email?.length) {
      this.$toast.error("Please enter an email")
      return
    }

    this.externalRecipients.push(this.email)
    this.email = ""
  }

  removeIndividualrecipient(user: IUserProfile) {
    const index = this.recipients.findIndex((r) => r.id === user.id)
    if (index !== -1) {
      this.recipients.splice(index, 1)
    }
  }

  openDirectoryModal() {
    const modal: IModal = {
      title: "Organization Directory",
      content: ModalOrganizationDirectory,
      props: {
        selectedUsers: this.directoryRecipients as IOrgDirectoryUser[],
        onclose: (selectedUsers: IOrgDirectoryUser[]) => {
          this.directoryRecipients = selectedUsers
        },
      },
    }
    this.showModal(modal)
  }
}
</script>
