<template>
  <div>
    <!-- Back Button -->
    <div class="block py-3">
      <a href="" class="text-lg text-gray-700"> Go Back </a>
    </div>

      <!-- Page titles -->
      <div>
      <span>
        <h1 class="title-text">Resources</h1>
      </span>
    </div>

    <!-- Tabs bar -->
    <div class="resource_nav">
        <nav>
          <ul>
            <li id="first__tab">
              <NuxtLink to="/resources/admin">My Resources</NuxtLink>
            </li>
            <li id="fourth__tab">
              <NuxtLink to="/resources"> All Resources </NuxtLink>
            </li>
          </ul>
        </nav>
    </div>

    <AdminResourceMasterList />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter } from "nuxt-property-decorator"

@Component({})
export default class AdminResourceIndex extends Vue {
}
</script>

<style lang="scss" scoped></style>
