<template>
    <div>
      <div>
        <div>
        <tad-button primary @click="$router.go(-1)"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
      </div>
      </div>
      <div class="wrapper">
        <div class="welcome__container">
          <h1 class="crisis-link__title">
            Ask Questions and Be Direct
          </h1>
          <p class="crisis-link__subtitle">
            It’s okay to ask the following questions and be direct when talking to
            someone in a mental health crisis.
            <br class="hide__br" />
            Remember you don’t have to deal with this alone. Contact one of the
            crisis services numbers if “Yes” is the answer to any of the following
            questions:
          </p>
        </div>
  
        <div class="modal__question-container">
          <div class="modal__question question-left">
            <p>"Are you having a mental health crisis?"</p>
          </div>
          <div class="modal__question question-right">
            <p>"I’m concerned about you. Do you have a plan to hurt yourself?"</p>
          </div>
          <div class="modal__question question-left">
            <p>
              "Have you thought about when you would do that (today, tomorrow,
              next week)?"
            </p>
          </div>
          <div class="modal__question question-right">
            <p>"Have you thought about what method you would use?"</p>
          </div>
        </div>
        <div class="crisislink__footer-button-container mb-6">
            
          <tad-button
            class="crisislink__footer-button"
            @click="$router.push('/gethelpnow/someoneelse/resources')"
            >Crisis Services</tad-button
          >
          <!-- <NuxtLink
            class="crisislink__footer-button btn main"
            to="/crisislinkmoresupport"
            >More Support</NuxtLink
          > -->
        </div>
        <div class="ghn-footer">
            <GHNFooterText />
        </div>
      </div>
    </div>
  </template>
  
  <script lang="ts">
  import { Component, Vue } from "nuxt-property-decorator"
  import TadButton from "~/components/styled-components/TadButton"
  
  @Component({
    // layout: "patient",
    middleware: ["authenticated"],
    components: { TadButton },
  })
  export default class CrisisLinkQuestions extends Vue {
    asyncData({ store }) {
      store.commit("helpers/setHeadingTitle", "Crisis Link Questions")
    }
  }
  </script>
  
  <style lang="scss" scoped>
  .ghn-footer {
  display: flex;
  justify-content: center;
}
  .modal__question-container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  
  .question-left {
    background: #f5f5fd;
    color: var(--dark-text);
    font-weight: 600;
    position: relative;
    right: 60px;
    width: 50%;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.8rem;
  }
  
  .question-left::before {
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    left: -14px;
    border-bottom: 10px solid #f5f5fd;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    width: 0;
    font-size: 20px;
    top: 50%;
    position: absolute;
  }
  
  .question-right {
    font-weight: 600;
    color: var(--dark-text);
    font-size: 0.8rem;
    background: #f5f5fd;
    position: relative;
    left: 70px;
    width: 45%;
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .question-right::before {
    border-bottom: 10px solid #f5f5fd;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    width: 0;
    font-size: 20px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    right: -14px;
  }
  
  .wrapper {
    margin-top: 2rem;
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .crisis-link__title {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}
  
  .crisis-link__subtitle {
    font-size: 0.9rem;
    color: #8390a2;
    text-align: center;
  }
  
  .crisislink__footer-button-container {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .crisis-link__footer-text {
    font-size: 0.9rem;
    color: #8390a2;
    line-height: 1.5;
    text-align: center;
    a {
      color: var(--main-color);
    }
  }
  </style>
  