<template>
  <div>
    <div>
      <tad-button primary @click="$router.go(-1)"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
    </div>
    <div class="wrapper">
      <div class="welcome__container">
        <h1 class="crisis-link__title">What can you do to help?</h1>
      </div>
      <div class="crisislink__three-card-wrapper">
        <NuxtLink to="/gethelpnow/someoneelse/resources">
          <div @click="click('contact crisis services')" class="crisislink__three-card">
            <i class="las la-phone crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text">Contact Crisis Services</p>
          </div>
        </NuxtLink>
        <NuxtLink  to="/gethelpnow/someoneelse/ask">
          <div @click="click('ask questions and be direct')" class="crisislink__three-card">
            <i class="las la-sms crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text">Ask Questions & Be Direct</p>
          </div>
        </NuxtLink>
        <NuxtLink to="/gethelpnow/someoneelse/more">
          <div @click="click('find more support')" class="crisislink__three-card">
            <i class="las la-users crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text">Find More Support</p>
          </div>
        </NuxtLink>
      </div>
      <div class="ghn-footer">

        <GHNFooterText />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Getter } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { createInteraction } from "~/api/interactions"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class CrisisLink2b extends Vue {
@Getter("loggedInUser") userProfile
  async click(name: string) {
    let click_name = name
    let view_name = "home"
    let organization_id = this.userProfile.organization_id

    await createInteraction(click_name, view_name, organization_id)
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "CrisisLink2b")
  }
}
</script>

<style lang="scss" scoped>
.ghn-footer {
  display: flex;
  justify-content: center;
}

.wrapper {
    margin-top: 2rem;
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .crisis-link__title {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.crisislink__three-card-wrapper {
  display: flex;
  justify-content: center;
  grid-gap: 4rem;
  margin-bottom: 4rem;
  justify-content: center;
}

.crisislink__three-card {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 3rem;
  border-radius: 5px;
  min-width: 200px;
  min-height: 200px;
  text-align: center;
}

.crisislink__three-card:hover {
  box-shadow: rgba(3, 135, 158, 0.569) 0px 0px 0px 3px;
}
.crisislink__three-card-icon {
  font-size: 3rem;
  color: var(--dark-text);
  margin-bottom: 0.5rem;
}
.crisislink__three-card-text {
  display: inline-block;
  font-size: var(--small-text);
  color: var(--dark-text);
}
.crisis-link__footer-text {
  font-size: 0.9rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
  a {
    color: var(--main-color);
  }
}

@media only screen and (max-width: 560px) {
    .crisislink__three-card-wrapper {
      flex-direction: column;
    }
  }
</style>
