<template>
    <div>
      <div>
        <tad-button primary @click="$router.go(-1)"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
      </div>
      <div class="wrapper">
        <div class="welcome__container">
          <h1 class="title-text crisis-link__title">Find More Support</h1>
          <p class="crisis-link__subtitle">
            If you need help caring for the individual, contact crisis services or
  
            <em>see examples of support below.</em>
          </p>
        </div>
        <div class="crisislink__three-card-wrapper">
          <div class="crisislink__three-card clear-bg">
            <i class="las la-user-nurse crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text">General Doctor</p>
          </div>
          <div class="crisislink__three-card clear-bg">
            <i class="las la-clinic-medical crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text">Hospital</p>
          </div>
          <div class="crisislink__three-card clear-bg">
            <i class="las la-brain crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text" style="text-align: center">
              Mental Health Professional
            </p>
          </div>
        </div>
        <div>
          <p class="crisislink__more-support-text">
            With the individual's permission see who might also be able to support
            the individual at this time.
          </p>
        </div>
        <div class="crisislink__three-card-wrapper">
          <div class="crisislink__three-card clear-bg">
            <i class="las la-user-friends crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text">Family Member</p>
          </div>
          <div class="crisislink__three-card clear-bg">
            <i class="las la-chalkboard-teacher crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text">Teacher</p>
          </div>
          <div class="crisislink__three-card clear-bg">
            <i class="las la-hands-helping crisislink__three-card-icon"></i>
            <p class="crisislink__three-card-text">Significant Other</p>
          </div>
        </div>
        <div class="crisislink__footer-button-container">
          <tad-button>
            <NuxtLink
              class="crisislink__footer-button btn main"
              style="color: white"
              to="/gethelpnow/someoneelse/resources"
              >Crisis Services</NuxtLink
            >
          </tad-button>
          <tad-button primary @click.prevent="shareConcern()">
            Share Your Concern
          </tad-button>
        </div>
        <div class="ghn-footer">
            <GHNFooterText />
        </div>
      </div>
    </div>
  </template>
  
  <script lang="ts">
  import {
    Action,
    Component,
    Getter,
    Vue,
    Mutation,
  } from "nuxt-property-decorator"
  import TadButton from "~/components/styled-components/TadButton"
  import ModalShareConcern from "~/components/modals/ModalShareConcern.vue"
  
  @Component({
    // layout: "patient",
    middleware: ["authenticated"],
    components: { TadButton },
  })
  export default class CrisisLinkMoreSupport extends Vue {
    @Mutation("modals/hideModal") hideModal
    @Mutation("modals/showModal") showModal
    @Getter("modals/getModal") getModal
  
    asyncData({ store }) {
      store.commit("helpers/setHeadingTitle", "Crisis Link More Support")
    }
  
    shareConcern() {
      const modal = {
        title: "Share your concern",
        content: ModalShareConcern,
        props: {
          onclose: this.getModal.props?.onclose,
          width: "100%",
        },
      }
      this.showModal(modal)
    }
  }
  </script>
  
  <style lang="scss" scoped>
  .ghn-footer {
  display: flex;
  justify-content: center;
}
  .crisislink__more-support-text {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: #8390a2;
    text-align: center;
  }
  
  .clear-bg {
    background: transparent;
    box-shadow: none;
  }
  .wrapper {
    margin-top: 2rem;
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .crisis-link__title {
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
}
  
  .crisis-link__subtitle {
    font-size: 0.9rem;
    color: #8390a2;
    text-align: center;
  }
  .crisislink__three-card-wrapper {
    margin-top: 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }
  .crisislink__three-card {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
  }
  .crisislink__three-card-icon {
    font-size: 3rem;
    color: var(--dark-text);
    margin-bottom: 0.5rem;
  }
  .crisislink__three-card-text {
    font-size: 0.9rem;
    color: var(--dark-text);
    font-weight: 700;
  }
  .crisislink__footer-button-container {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .crisis-link__footer-text {
    font-size: 0.9rem;
    color: #8390a2;
    line-height: 1.5;
    text-align: center;
    a {
      color: var(--main-color);
    }
  }

  @media only screen and (max-width: 560px) {
    .crisislink__three-card-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }

    .crisislink__footer-button-container {
      flex-direction: column;
      button {
        margin-bottom: 1rem;
      }
    }
  }
  </style>
  