// .btn {
//   border: none;
//   padding: 0.75rem 1rem;
//   font-size: 0.85rem;
//   font-weight: 600;
//   border-radius: 5px;
//   // width: 145px;
//   min-width: 100px;
//   // height: 45px;
//   box-shadow: $default-box-shadow;
//   color: rgba(0, 0, 0, 0.5);
//   margin: 0;
//   text-align: center;

//   &.main {
//     color: #fff;
//     background-color: $main-color;

//     &:hover {
//       background-color: lighten($main-color, 5%);
//     }
//   }

//   &.secondary {
//     background-color: $tad-pink;
//     color: white;
//   }

//   &.mint {
//     background-color: $tad-mint;
//     color: white;
//   }

//   &.orange {
//     background-color: $tad-orange;
//     color: white;
//   }

  
//   &.pink {
//     background-color: $tad-pink;
//     color: white;
//   }

  

//   &.danger,
//   &.error {
//     color: #fff;
//     background-color: $danger-color;

//     &:hover {
//       background-color: lighten($danger-color, 5%);
//     }
//   }

//   &.warn {
//     color: #fff;
//     background-color: $warn-color;

//     &:hover {
//       background-color: lighten($warn-color, 5%);
//     }
//   }

//   &.success {
//     color: #fff;
//     background-color: $success-color;

//     &:hover {
//       background-color: lighten($success-color, 5%);
//     }
//   }

//   &:not(:disabled) {
//     cursor: pointer;
//   }
//   &:disabled {
//     cursor: not-allowed;
//     background-color: rgb(172, 172, 172) !important ;
//   }
// }
