textarea {
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

// select {
//   // margin: 1rem 0;
//   border-radius: 5px;
//   // padding: 0.4rem;
//     // font-size: 0.8rem;
//   background-color: #fff;
//   border: 1px solid #f0f0f0;
// }

.form-input-wrapper {
  display: flex;
  flex-direction: column;

  &.radio,
  &.checkbox {
    display: block;
  }

  label {
    font-weight: 500;
    font-size: 0.9rem;
    color: #41496b !important;
  }

  input,
  select,
  textarea {
    margin: 0;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 0.8rem;
    background-color: #fff;
    border: 2px solid #f0f0f0;

    &:focus {
      // border-color: transparentize($color: $main-color, $amount: 0.5);
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}
