@media only screen and (max-width: 960px) {
  /* start user appointment styles */
  .appointmentcard__card-grid {
    padding: 0 5rem;
  }

  .appointment__table-second-td {
    display: block !important;
  }
  /* end user appointment styles */
}

@media only screen and (max-width: 850px) {
  .fc .fc-toolbar {
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: 0.8rem !important;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    padding-top: 0.5rem;
  }
  .fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky > * {
    top: 13rem !important;
  }
}

@media only screen and (max-width: 827px) {
  /* start user appointments tab style */
  .appointmentcard__card-grid {
    grid-template-columns: 100%;
  }
  .mobile__subtitle {
    margin-bottom: 1.5rem;
  }
  /* start user appointments tab style */
}

@media only screen and (max-width: 800px) {
  /* start professionals profile (student pov) styles  */

  .profile-name {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .profile-pronouns {
    padding-left: 1rem;
  }

  .profile-header {
    position: relative;
  }
  /* end professionals profile (student pov) styles  */

  /* start professional profile page styles */
  .profile-name {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .profile-pronouns {
    padding-left: 1rem;
  }

  .profile-header {
    position: relative;
  }

  /* end professional profile page styles */
}

@media only screen and (max-width: 680px) {
  .header__right-side h4,
  .header__right-side small {
    display: none;
  }

  .header__right-side img {
    border-radius: 10px;
    margin-right: 1rem;
  }

  .header__right-side h4 {
    font-size: 0.8rem;
  }

  .header__right-side small {
    font-size: 0.6rem;
  }

  .header__notifications {
    padding: 0 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .header__notifications-bell {
    font-size: 1.5rem;
    position: relative;
    left: 1rem;
    border-radius: 5px;
    z-index: 50;
  }

  .header__notifications-count {
    bottom: 0.4rem;
    right: -0.3rem;
    height: 0.5rem;
    width: 0.5rem;
    z-index: 100;
  }

  /* start helpfinder styles */
  .helpfinder__footer-text {
    font-size: 0.6rem;
  }

  .emoji__title {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem !important;
  }

  .booknow__page-3 input {
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--dark-text);
    font-size: 1rem;
    padding: 0.5rem;
  }

  /* end helpfinder styles */

  /* start crisislink styles */
  .crisislink__three-card-wrapper {
    grid-template-columns: 100%;
  }
  .crisis-link__footer-text {
    font-size: 0.6rem;
  }

  .crisis-link__title {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem !important;
  }
  /* end crisislink stykes */
}

@media only screen and (max-width: 560px) {
  /* podcast horazontal scroll temp fix */
  tr div iframe {
    width: 100% !important;
    margin-top: 2rem !important;
  }
  /* start video grid styles */

  /* end video grid styles */
  /* start professional appointment styles */

  .appointment__row {
    display: none;
  }

  /* end professional appointment styles */
}

@media only screen and (max-width: 560px) {
  .home__card {
    padding: 1rem;
  }

  /* start notifications style */
  .notification-drop {
    display: flex;
    justify-content: flex-end;
  }
  .notification-drop .item {
    border: none;
  }

  .notification-drop .item ul {
    margin-top: 2.5rem;
  }

  /* start userappointments tab styles*/
  .appointmentcard__card-grid {
    padding: 0 0;
  }
  .appointmentcard__details-left-side {
    flex-direction: column;
  }

  .appointmentcard__details-cover-wrapper {
    margin-bottom: 10px;
  }

  .appointmentcard__details-date {
    font-size: 0.5rem;
  }
  /* end userappointments tab styles*/

  /* start availability */

  .time__slot-button {
    padding: 0.4rem;
    font-size: var(--small-text);
  }
  /* end availability */
}

@media only screen and (max-width: 460px) {
  /* start login styles */

  .form__logo {
    width: 60%;
    align-self: center;
  }

  .form__div {
    padding: 2rem;
  }

  .login__button {
    width: 40%;
  }
  /* end login styles */
}

@media only screen and (max-width: 960px) {
  /* start helpfinder styles */
  .radio__buttons2 {
    margin-top: 2rem;
  }
  .date__text-highlight {
    font-size: var(--small-text);
    color: var(--dark-text);
    font-weight: 800;
    display: inline-block;
  }
  .date__container {
    flex-direction: column;
  }
  .helpfinder__footer-text {
    font-size: var(--small-text);
  }
  .emoji__title {
    margin-top: 2rem;
    font-size: 1.2rem !important;
  }

  .emoji__card-text {
    display: inline-block;
    font-size: var(--small-text);
    position: relative;
    font-weight: 600;
    bottom: 1rem;
    color: var(--dark-text);
    text-align: center;
  }
  /* end helpfinder styles */

  /* start videos styles */
  .video__table-second-td {
    display: block !important;
  }

  /* end videos styles */
}

@media only screen and (max-width: 960px) {
  .setting__form-wrapper form {
    width: 100%;
  }

  td {
    font-size: var(--small-text);
  }

  .settings__grid {
    grid-template-columns: 100%;
  }

  .podcasts__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3rem;
    margin-top: 1rem;
  }

  /* start modals styles */
  .modal-content {
    margin: 30% auto;
  }
  /* end modals syles */
}

@media only screen and (max-width: 986px) {
  .title-text {
    font-size: 1.8rem !important;
    margin-bottom: 1.5rem;
  }

  .welcome__container {
    padding-bottom: 0;
  }

  header.nav-header h2 label {
    display: inline-block;
    background: var(--main-color);
    padding-right: 0;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
  }

  header.nav-header h2 span {
    text-align: center;
    padding-right: 0;
  }

  header.nav-header h2 {
    font-size: 1.1rem;
  }

  header.nav-header {
    width: 100% !important;
    left: 0 !important;
    box-shadow: var(--default-box-shadow);
  }

  header.nav-header {
    background-color: #fff !important;
  }

  .sidebar {
    background-color: #fff !important;
  }

  header.nav-header .header__left-side label {
    display: inline-block;
  }

  /* start login styles */
  .image__div {
    display: none;
  }

  .form__div {
    width: 400px;
  }
  /* end login styles */

  /* start crisislink styles */
  .hide__br {
    display: none;
  }
  .crisis-link__footer-text {
    font-size: var(--small-text);
  }
  .crisis-link__title {
    margin-top: 2rem;
    font-size: 1.2rem !important;
  }
  /* end crisislink styles */
}

@media only screen and (max-width: 1300px) {
  // .sidebar-logo-logo {
  //   display: none;
  // }

  // .sidebar-small-logo {
  //   display: block;
  // }
  // .sidebar {
  //   width: 70px;
  // }

  header.nav-header .header__left-side label {
    display: none;
  }
}
