.tad-table {
  &.table-responsive {
    background-color: #fff;
   
    table {
      width: 100%;
      border-collapse: collapse;

      .table__header {
        &:not(.tab-header) {
          border-bottom: 1px solid #f0f0f0;
        }
        height: 3rem;

        .table__header-text {
          color: var(--dark-text);
          font-size: 0.9rem !important;
          font-weight: 700 !important;
          padding: 1.35rem 0;
          padding-left: 1.2rem;
        }

        .table__header-text:first-child {
          padding-left: 0;
        }

        .table__header-text:last-child {
          text-align: right;
        }

        .table__header-link {
          font-weight: 400 !important;
        }

        .table-tabs {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          padding: .85rem 1.2rem;
          background-color: #fdfdfd;
          overflow: hidden;
          .tab {
            max-width: 150px;
            padding: 0.5rem 2rem;
            background-color: transparent;
            border: none;
            border-radius: 5px;
            color: var(--dark-text);
            &:not(.selected) {
              cursor: pointer;
              &:hover {
                background-color: rgb(238, 238, 238);
              }
            }

            &.selected {
              background-color: var(--main-color);
              color: #fff;
            }
          }
        }
      }

      tbody {
        font-size: .9rem;
        tr {
          height: 3.5rem;
          border-bottom: 1px solid #f0f0f0;
          td {
            padding: 0.95rem 0;
            padding-left: 1.2rem;
          }
          td:first-child {
            padding-left: 0;
          }
          td.col-action {
            text-align: right;
          }

          &:not(.no-hover){
            cursor: pointer;
            &:hover {
              background-color: rgb(243, 243, 243);
            }
          }
        }
      }
    }
  }
}