.title-text {
  color: var(--dark-text) !important;
  font-size: 1.9rem !important;
  margin-bottom: 1rem;
  font-weight: 800 !important;
}

.subtitle-text {
  color: var(--dark-text) !important;
  font-weight: 600 !important;
  margin: 2rem 0 1rem;
}

.small-text {
  color: var(--light-text) !important;
  font-size: 0.8rem !important;
}

.card-title {
  color: var(--dark-text);
  font-size: 1rem !important;
}

.card-subtitle {
  color: var(--light-text) !important;
  font-size: 0.9rem !important;
}

.link-text {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  color: var(--light-text) !important;
  cursor: pointer;
}

.search__wrapper {
  display: flex;
  justify-content: space-between;
}
