/* colors */
$main-color: #1a535c;
$main-color-hover: #1e99ac;
$dark-text: #41496b;
$tad-pink: #ff6b6b;
$light-text: #8390a2;
$tad-mint: #4acdc4;
$tad-orange: #f89e5d;
$danger-color: #db4949;
$warn-color: #e2c12f;
$success-color: #4caf50;
/* box styles */
$default-box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
/* text styles */
$small-text: 0.7rem;
$page-title-text: 1.9rem;
