.fc .fc-button-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.fc .fc-button-primary:hover:not(:disabled) {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
