.home__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.home__card {
  background-color: #fff;
  height: 100%;
  padding: 2rem 1rem;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  display: flex;
}

.home__card-icon {
  font-size: 4rem;
  color: #41496b;
}

.home__card-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__card-right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
}

.home__card-title {
  font-size: 0.9rem;
  color: #41496b;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.home__card-subtitle {
  font-size: 2.5rem;
  color: #8390a2;
  margin-bottom: 0.5rem;
}





.orange-text {
  color: #4ecdc4 !important;
}

.pink-text {
  color: #da1f32;
}

.home__table-row-wrapper {
  display: flex;
}



.home__table-row-img {
  height: 100%;
  width: auto;
}

.home__table-row-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.home__table-text {
  display: inline-block;
  font-size: 0.7rem;
  color: #8390a2;
}



.home__table-button {
  margin-left: 1rem;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

.green-button {
  color: #00541d;
  background-color: #00541d49;
}

.orange-button {
  color: #4ecdc4;
  background-color: #ff5e0033;
}

.pink-button {
  color: #da1f32;
  background-color: #da1f322c;
}



.home__table-filter {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 1rem;
}



.clear-button {
  background-color: transparent;
  color: #4ecdc4;
}

@media only screen and (max-width: 860px) {
  .home__card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 590px) {
  .home__card-container {
    grid-template-columns: 100%;
    margin-top: 3rem;
  }

  .home__card-right-side {
    padding-left: 1.5rem;
  }

  .appointment__row {
    display: none;
  }

  .home__table-button {
    font-size: 0.5rem;
  }

 

  .home__table-text {
    font-size: 0.5rem;
  }

  .home__table-button {
    margin-left: 0.5rem;
  }

  
}
