/* css imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.login__container {
  height: 100vh;
  background-color: #f5f5fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.login__wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
}

.image__div {
  background-image: url(~/assets/images/login/guy-sitting-with-laptop.jpg);
  background-size: cover;
  background-position: center;
  width: 500px;
}

.form__div {
  background-color: #fff !important;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
}

.form__logo {
  width: 50%;
  margin-bottom: 3rem;
}

.form__title {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  color: #41496b;
}

.form__subtitle {
  font-size: 0.7rem;
  color: #8390a2;
  padding-bottom: 1rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  padding-top: 2rem;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.form__input-wrapper label {
  font-size: 0.8rem;
  color: #41496b;
  margin-bottom: 1rem;
  font-weight: 600;
}

.form__input-wrapper input {
  font-size: 0.8rem;
  color: #41496b;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #8390a242;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5fd;
}

.form__input-wrapper input:focus {
  outline: none;
  border: 2px solid #4ecdc55d;
}

::placeholder {
  color: #8390a279;
}

.login__button {
  margin-top: 0.5rem;
  width: 30%;
  padding: 0.4rem 0.5rem;
  border: none;
  background-color: #4ecdc4;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.form__footer input,
.form__footer span {
  display: inline-block;
}

.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer__text {
  color: #8390a2;
  font-size: 0.7rem;
  text-align: right;
  margin-top: 3rem;
}

.footer__text a {
  color: #4ecdc4;
}

@media only screen and (max-width: 986px) {
  .image__div {
    display: none;
  }

  .form__div {
    width: 400px;
  }
}

@media only screen and (max-width: 460px) {
  body {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    height: 100%;
  }

  .form__logo {
    width: 60%;
    align-self: center;
  }

  .form__div {
    padding: 2rem;
  }

  .login__button {
    width: 40%;
  }
}
