@import "vars";
@import "spacing-helpers";
@import "text";
@import "buttons";
@import "forms";
@import "tables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  
}

:root {
  /* colors */
  --main-color: #{$main-color};
  --main-color-hover: #{$main-color-hover};
  --dark-text: #{$dark-text};
  --light-text: #{$light-text};
  /* box styles */
  --default-box-shadow: #{$default-box-shadow};
  /* text styles */
  --small-text: #{$small-text};
  --page-title-text: #{$page-title-text};
  --danger-color: #{$danger-color};
  --warn-color: #{$warn-color};
  --success-color: #{$success-color};
  --body-color: #f5f5fd;
}
body{
  color: var(--dark-text);
  background-color: var(--body-color);
}

.welcome__container {
  padding-bottom: 2rem;
}
// Helpfinder footer text
.helpfinder__footer-text {
  font-size: 0.9rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
}

.tox-statusbar__branding {
  display: none;
}

.small-bold {
  color: #41496b;
}

// Fullcalendar override
.fc .fc-button.fc-availabilitydelete-button, .fc .fc-button.fc-confirmdelete-button {
  background-color: $danger-color;
  border-color: $danger-color;

  &:hover{
    background-color: lighten($danger-color, 5%);
    border-color: lighten($danger-color, 5%);
  }
}

[data-availability-delete-selected]{
  color: $danger-color!important;
  background-color: transparentize($color: $danger-color, $amount: .8)!important;

}
.calendar-event-container{
  cursor: pointer;
}
.calendar-more-link{
  text-align: center;
  width: 100%;
  display: inline-block;
  &:hover{
    background-color: rgb(220, 220, 220);
  }
}
.fc .fc-view-harness{
  background-color: #fff;
}
.fc .fc-col-header-cell{
  background-color: #f5f5f5;
  padding: 0.5rem 0;
}

.fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky > * {
  top: 8.25rem !important;
}
.fc .fc-toolbar.fc-header-toolbar {
  position: sticky;
  top:5.625rem;
  z-index: 99;
  background-color: #f5f5fd;
}
.fc .fc-daygrid-day, .fc-timegrid-slot{
  &:hover{
    background-color: rgb(242, 242, 242);
    cursor: pointer;
  }
}

.page-enter-active {
  transition: opacity 0.25s ease;
}
.page-enter{
  opacity: 0;
}

.vcp-container, .vcp-container video {
  max-height: 600px ;
}

.sortable-ghost{
  opacity: 0 !important;
}
.sortable-chosen{
  opacity: .9 !important;

}
@import "responsive";
