/* css imports */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* // Import TailwindCSS  */
@import url("./tailwind.css");

/* body styles - just set the background color and the font */


:root {
  /* colors */
  --main-color: #1a535c;
  --tad-pink: #ff6b6b;
  --dark-text: #41496b;
  --tad-mint: #4acdc4;
  --light-text: #5e6367;
  /* box styles */
  --default-box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  /* text styles */
  --small-text: 0.7rem !important;
  --page-title-text: 1.9rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

/* font colors */

/* font styles */

/* start notifications style */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-drop {
  font-family: "Ubuntu", sans-serif;
  color: #444;
}
.notification-drop .item {
  padding: 10px;
  font-size: 18px;
  position: relative;
}
.notification-drop .item:hover {
  cursor: pointer;
}
.notification-drop .item i {
  margin-left: 10px;
}
.notification-drop .item ul {
  position: absolute;
  top: 100%;
  background: #fff;
  left: -200px;
  right: 0;
  margin-top: 1rem;
  z-index: 1;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
}
.notification-drop .item ul li {
  padding: 15px 0 15px 25px;
  color: var(--dark-text);
  font-size: var(--small-text);
  font-weight: 800;
}

/* end notifications style */

/* header */

/* style for the toggler */

header label span {
  font-size: var(--small-text);
  padding-right: 1rem;
  padding-top: 0.8rem;
}

/* welcome container */

.welcome__container {
  padding-bottom: 2rem;
}

/* sessions section */

td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

td {
  padding: 1rem 0;
  font-size: 0.9rem;
  color: var(--light-text);
}

td .status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}

/* status colors */

.status-green {
  background: #1a535c;
}

.status-yellow {
  background-color: #4ecdc4;
}



td:nth-child(5) {
  color: var(--dark-text);
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
  font-size: 1rem;
}

/* three cards styles */

.card {
  background: #fff;
  border-radius: 5px;
  padding: 2rem 2rem 2rem 2rem;
}

.card a {
  color: #1a535c !important;
}

/* start crisis link styles*/
.crisis-link__title {
  margin-top: 2rem;
  align-self: center;
  text-align: center !important;
}

.crisis-link__subtitle {
  font-size: 0.9rem;
  color: #8390a2;
  text-align: center;
}

.crisis-link__footer-text {
  font-size: 0.9rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
}

.crisis-link__go-back-link {
  color: var(--dark-text);
  font-size: 0.9rem !important;
  font-weight: 800 !important;
}

/* page one */
/* crisis link 2a */
/* page 3a */
.crisislink__footer-button-container {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.crisislink__footer-button {
  color: #fff;
  background-color: var(--main-color);
  padding: 0.5rem;
  border-radius: 5px;
}

.crisis-link__footer-link {
  color: var(--main-color);
  cursor: pointer;
}

/* what can  you do to help */

.crisislink__three-card-wrapper {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.crisislink__three-card {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.crisislink__three-card-icon {
  font-size: 3rem;
  color: var(--dark-text);
  margin-bottom: 0.5rem;
}

.crisislink__three-card-text {
  font-size: 0.9rem;
  color: var(--dark-text);
  font-weight: bold;
}

.crisislink__form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 1rem;
}

.crisislink__input-wrapper input {
  width: 375px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  color: var(--dark-text);
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  box-shadow: var(--default-box-shadow);
}

.crisislink__input-wrapper label {
  border: none;
  padding: 0.5rem;
  color: var(--dark-text);
  margin-bottom: 0.5rem;
  font-size: var(--small-text);
  font-weight: bold;
}


.crisislink__input-wrapper {
  display: flex;
  flex-direction: column;
}

.wcidn-title {
  font-weight: bold;
  color: black;
  margin-bottom: 3rem;
  display: inline-block;
  margin-top: 2rem;
  font-size: 1rem;
}

.wcidn-name {
  color: var(--dark-text);
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.wcidn-number {
  display: inline-block;
  color: white;
  background-color: var(--main-color);
  font-weight: bold;
  font-size: var(--small-text);
  padding: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.wcidn-card {
  padding: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: white;
}

.wcidn-section-header {
  margin-bottom: 1rem;
}
.wcidn-section-text {
  color: #8390a2;
  font-size: 0.8rem;
}

.wcidn-section-body {
  margin-bottom: 2rem;
}

.btn {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  width: 145px;
  height: 45px;
  box-shadow: var(--default-box-shadow);
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.5);
}
/* end crisis link styles */

/* setting form style */

.settings__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.setting__form-input-wrapper {
  display: flex;
  flex-direction: column;
}

.setting__form-wrapper {
  padding-bottom: 1rem;
}

.setting__form-wrapper form {
  width: 100%;
}

.setting__form-input-wrapper label {
  padding: 2rem 0 0 0;
}

.setting__form-input-wrapper input {
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

.setting__form-submit-button {
  background-color: var(--main-color) !important;
  color: #fff;
  font-weight: 800;
  padding: 0.8rem !important;
}

.setting__profile-card {
  margin: 2.4rem 0;
  padding: 2rem;
  border-radius: 5px;
  background-color: #fff;
}

.setting__form-input-wrapper textarea {
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

textarea {
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

.setting__form-input-wrapper select {
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

/* start podcast section section */

tr div iframe {
  margin-top: 2rem !important;
}

.podcasts__grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 3rem;
  margin-top: 1rem;
}

/* end podcast styles */

/* start podcast PLAYER styles */

/* start individual article styles */

.go__back-link {
  color: #f89e5d !important;
  font-size: var(--small-text);
}

/* end individual article styles  */

/* start appointments tab professional */
.green-button {
  color: var(--main-color);
  background-color: #1a535c33;
}

.orange-button {
  color: var(--main-color);
  background-color: #f89e5d23;
}

.pink-button {
  color: #ff6b6b;
  background-color: #ff6b6b1f;
}



.clear-button {
  background-color: transparent;
  color: var(--main-color);
}
/* end appointments tab professional */

/* start user appointments tab styles */

.match-card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--default-box-shadow);
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

.match-about {
  font-size: var(--small-text);
  padding-top: 1rem;
  display: inline-block;
  font-weight: bold;
}

.match-text {
  font-size: var(--small-text);
}

.appointment__table-second-td {
  height: 100%;
}

.appointments__featured-card {
  display: flex;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  box-shadow: var(--default-box-shadow);
}

/* video table */
.appointment__details-count {
  font-size: 0.9rem;
  font-weight: 900;
  color: #8390a2;
  margin-right: 1rem;
}

.appointment__details-count {
  display: none;
}

.appointmentcard__card-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 10rem;
}

.appointmentcard__details-container {
  justify-content: space-between;
  display: flex;

  background-color: #fff;
  border-radius: 5px;
}

.appointmentcard__details-left-side {
  display: flex;
  margin-right: 20px;
}

.appointmentcard__details-right-side {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.appointmentcard__details-count {
  font-size: 0.9rem;
  font-weight: 900;
  color: #8390a2;
  margin-right: 1rem;
  text-align: center;
}

.appointmentcard__details-cover-wrapper {
  height: 40px;
  width: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
}

.appointmentcard__details-cover {
  position: relative;
  height: 150%;
  width: auto;
  align-self: center;
}

.appointmentcard__details-title {
  font-size: 0.9rem;
  font-weight: 900;
  color: var(--dark-text);
  text-align: center;
}

.appointmentcard__details-date {
  font-size: 0.6rem;
  color: #8390a2;
  font-weight: 600;
  text-align: center;
}

.appointmentcard__details-count {
  display: none;
}

/* end user appointments tab styles */

/* start availabilty */

.time__slot-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 2rem 1rem;
}

.time__slot-button {
  border-radius: 5px;
  padding: 0.5rem;
  color: #ff6b6b;
  background-color: #ff6b6b42;
  margin-right: 5px;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.time__slot-button i {
  color: #ff6b6b;
  cursor: pointer;
}

/* end availabilty */

/* start professional profile page styles */

.profile-header {
  border-radius: 10px;
  margin-bottom: 3rem;
  display: flex;
}

.profile-name {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.profile-pronouns {
  color: #1a535c;
  font-size: 0.7rem;
  font-weight: bold;
}

.profile-about-text {
  line-height: 1.5;
  font-size: 0.8rem;
}

/* end professional profile page styles */

.notification-bell {
  font-size: 20px;
}

.btn__badge {
  background: var(--main-color) !important;
  color: white;
  position: absolute;
  top: 5px;
  right: 2px;
  padding: 1px 5px;
  border-radius: 50%;
}

.pulse-button {
  box-shadow: 0 0 0 0 rgba(255, 153, 0, 0.123);
  font-size: var(--small-text);
  font-weight: 600;
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
  /* end notifications style */
}
