/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*
==========================================================================
IMPORTANT NOTES
==========================================================================
This is the main file for Tailwind specific styling.
It is recommended to extract commonly used TW classes
into a custom CSS class that acts as a collection of utility classes
For more info about TW class extraction strategies, read this link:
https://tailwindcss.com/docs/reusing-styles
https://tailwindcss.com/docs/functions-and-directives
==========================================================================
*/

@layer components {
  .table {
    @apply table-auto w-full;
  }

  .card {
    @apply border bg-white rounded-xl p-6 block;
  }

  .form-group {
    @apply block mb-5;
  }

  .form-control {
    @apply block w-full rounded border p-2 text-lg my-2;
  }
}
