<template>
  <div class="form-create-type">
    <tad-button @click="$router.go(-1)" class="mb-5">
      <i class="las la-arrow-left mr-1"></i>Back
    </tad-button>
    <header class="mb-6 mt-5">
      <h1 class="title-text">What type of form do you want to create?</h1>
    </header>

    <div class="form-types">
      <div class="form-type-panel">
        <h2 class="subtitle-text mt-0">Questionnaire Form</h2>
        <p class="mb-6">
          Create a questionnaire with different types of questions.
        </p>
        <form-button
          :submitting="isWorking"
          @click.native="createForm('questionnaire form')"
        >
          Create Form
        </form-button>
      </div>

      <div class="form-type-panel">
        <h2 class="subtitle-text mt-0">Consent Form</h2>
        <p class="mb-6">
          Add documents and get agreements from your respondents.
        </p>
        <form-button
          :submitting="isWorking"
          @click.native="createForm('consent form')"
        >
          Create Form
        </form-button>
      </div>

      <div class="form-type-panel">
        <h2 class="subtitle-text mt-0">Check-in</h2>
        <p class="mb-6">Check-in with users.</p>
        <form-button
          :submitting="isWorking"
          @click.native="createForm('checkin form')"
        >
          Create Form
        </form-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component } from "vue-property-decorator"
import { Getter } from "vuex-class"
import { v4 as uuid } from "uuid"
import { createForm } from "~/api/form"
import TadButton from "~/components/styled-components/TadButton"
import { IFormCreate, IFormQuestion, IUserProfile } from "~/interfaces"
import FormButton from "~/components/FormButton.vue"

@Component({
  middleware: ["authenticated", "is-form-creator"],
  components: { FormButton, TadButton },
})
export default class NewFormType extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile
  isWorking = false

  async createForm(type) {
    // this.$router.push(`/professionals/forms/1234`)
    // return
    const { name, initQuestion } = this.getInitialFormProperties(type)

    try {
      this.isWorking = true
      const { data: form } = await createForm({
        name,
        description: "",
        type,
        language: "en",
        questions: [{ ...initQuestion, id: uuid() }],
        preferred_submit_date: dayjs().toISOString(),
        organization_id: this.currentUser.organization_id,
        target: "internal",
      })

      await this.$router.push(`/forms/creator/${form.id}/edit`)
      
    } catch (error) {
    } finally {
      this.isWorking = false
    }
  }

  getInitialFormProperties(type: IFormCreate["type"]) {
    let name = "Form Name"
    let initQuestion: any = {}

    if (type === "consent form") {
      name = "New Consent Form"
      initQuestion = {
        type: "open ended",
        content: "Consent Question...",
        position: 0,
        notes: "Consent description...",
        id: uuid(),
      }
    }

    if (type === "checkin form") {
      name = "New Check-in Form"
      initQuestion = {
        type: "multiple choice",
        content: "Check-in Question...",
        possible_responses: [
          "Feeling Great",
          "Feeling Better Than Normal",
          "Feeling Just Average",
          "Feeling Worse Than Normal",
          "Feeling Awful",
        ],
        priority_response: [] as string[],
        position: 0,
        id: uuid(),
      }
    }

    if (type === "questionnaire form") {
      name = "New Questionnaire Form"
      initQuestion = {
        type: "open ended",
        content: "Sample open-ended question...",
        priority_response: [] as string[],
        position: 1,
      } as IFormQuestion
    }

    return { name, initQuestion }
  }
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-types {
  display: grid;
  gap: 3rem;
}
.form-type-panel {
  box-shadow: var(--default-box-shadow);
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
</style>
