<template>
  <div class="forms-list">
    <header class="mb-6">
      <div class="header-text">
        <div class="header-left">
          <h1 class="title-text">Forms</h1>
        </div>
        <p class="small-text">Create and share forms with anyone.</p>
      </div>
      <div class="flex gap-4 mt-6">
        <div class="flex-auto">
          <tad-button @click="$router.push(`/forms/creator/create-type`)">
            New Form
          </tad-button>
        </div>
        <div class="flex-auto">
          <tad-button @click="$router.push(`/forms/packets/create`)">
            Share Packet
          </tad-button>
        </div>
      </div>
    </header>

    <creator-responder-tab active="creator" />

    <div class="tad-table table-responsive bg-white p-8 rounded-lg shadow-md mb-8 border border-gray-300">
      <table>
        <!-- Filters -->
        <thead class="table__header">
          <tr>
            <td colspan="6" class="table__header-text">
              <div class="filter-container">
                <p>Filter by:</p>
                <div class="form-input-wrapper">
                  <select
                    v-model="filterStatus"
                    class="filter-dropdown"
                    @change="fetchForms"
                  >
                    <!-- draft, completed, removed, active, paused, suspended -->
                    <option value="">Any</option>
                    <option value="draft">Drafts</option>
                    <option value="suspended">Suspended</option>
                    <option value="active">Active</option>
                    <option value="removed">Archived</option>
                    <option value="completed">Completed</option>
                    <option value="paused">Paused</option>
                  </select>
                </div>
                <div class="form-input-wrapper">
                  <select
                    v-model="filterLanguage"
                    class="filter-dropdown"
                    @change="fetchForms"
                  >
                    <option value="">Any</option>
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                    <option value="fr">French</option>
                  </select>
                </div>
              </div>
            </td>
          </tr>
        </thead>

        <thead class="table__header">
          <tr>
            <td width="250" class="table__header-text col-name">Name</td>
            <td class="table__header-text col-date">Date</td>
            <td class="table__header-text col-status">Status</td>
            <td class="table__header-text col-language">Language</td>
            <td class="table__header-text col-link">Link</td>
            <td class="table__header-text col-action">Action</td>
          </tr>
        </thead>

        <!-- Table loading state -->
        <tbody v-if="busy" class="table-body" align="center">
          <tr class="no-hover">
            <td colspan="6">
              <loading-spinner></loading-spinner>
            </td>
          </tr>
        </tbody>

        <!-- List of forms -->
        <tbody
          v-else-if="forms && !forms.items.length"
          class="table-body"
          align="center"
        >
          <tr class="no-hover">
            <td colspan="6">No forms available.</td>
          </tr>
        </tbody>

        <tbody v-else class="table-body">
          <tr
            v-for="form in forms.items"
            :key="form.id"
            class="row-form no-hover"
          >
            <td>{{ form.name }}</td>
            <td>{{ $dateFormat(form.updated_at, "MM/DD/YYYY") }}</td>
            <td>
              <div class="form-status" :class="form.status">
                {{ form.status }}
              </div>
            </td>
            <td>{{ form.language }}</td>
            <td>
              <tad-button
                @click.stop="$router.push(`/forms/creator/${form.id}/share`)"
              >
                Share
              </tad-button>
            </td>
            <td>
              <dropdown
                :id="`form-actions-dropdown-${form.id}`"
                class="form-actions-dropdown"
                width="100px"
              >
                <template #toggle>
                  <button class="form-actions-dropdown-toggle">
                    <i class="las la-ellipsis-h la-2x"></i>
                  </button>
                </template>
                <template #menu>
                  <ul class="actions-menu">
                    <li
                      v-if="form.status === 'active'"
                      class="form-action"
                      @click="$router.push(`/forms/creator/${form.id}`)"
                    >
                      View
                    </li>
                    <li
                      v-if="
                        form.status === 'draft' || form.status === 'suspended'
                      "
                      class="form-action"
                      @click="$router.push(`/forms/creator/${form.id}`)"
                    >
                      Edit
                    </li>
                    <li
                      class="form-action"
                      @click="requestDuplicateConfirmation(form)"
                    >
                      Duplicate
                    </li>
                    <li
                      v-if="form.status === 'active'"
                      class="form-action"
                      @click="requestSuspendConfirmation(form)"
                    >
                      Suspend
                    </li>
                    <li
                      v-if="form.status === 'suspended'"
                      class="form-action"
                      @click="requestActivateConfirmation(form)"
                    >
                      Activate
                    </li>
                    <li class="divider"></li>
                    <li
                      class="form-action delete"
                      @click="requestArchiveConfirmation(form)"
                    >
                      Archive
                    </li>
                  </ul>
                </template>
              </dropdown>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="p-4">
        <Pagination
          :currentPage="currentPage"
          :totalPages="totalPages"
          :totalRecords="totalRecords"
          @nextPage="nextPage"
          @prevPage="prevPage"
        />
      </div>

      <div v-if="busy" class="loading-overlay">
        <loading-spinner>Please wait</loading-spinner>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import dayjs from "dayjs"
import { Getter, Mutation } from "vuex-class"
import { IForm, IFormsResponseObject, IModal, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import { createForm, getMyForms, updateFormStatus } from "~/api/form"
import ModalRequestConfirmation from "~/components/modals/ModalRequestConfirmation.vue"
import CreatorResponderTab from "~/components/forms/creator/CreatorResponderTab.vue"
import Dropdown from "~/components/Dropdown.vue"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import Pagination from "~/components/Pagination.vue"

/*
interface IOptions {
  size: number
  page: number
  language?: string
  status?: string,
  type: string
}*/

@Component({
  middleware: ["authenticated", "is-form-creator"],
  components: {
    LoadingSpinner,
    Dropdown,
    TadButton,
    CreatorResponderTab,
    Pagination,
  },
})
export default class FormsList extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any
  @Getter("loggedInUser") currentUser!: IUserProfile
  @Getter("forms/isFormResponder") isFormResponder!: boolean
  @Getter("forms/isFormCreator") isFormCreator!: boolean

  busy = false
  forms: IFormsResponseObject = {
    items: [],
    page: 0,
    pages: 0,
    size: 0,
    total: 0,
  }

  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0
  filterStatus: string = ""
  filterLanguage: string = ""

  options = {
    size: 5,
    page: 1,
    language: this.filterLanguage,
    status: this.filterStatus
  }

  async nextPage() {
    this.options.page = this.options.page + 1
    await this.fetchForms()
  }

  async prevPage() {
    this.options.page = this.options.page - 1
    await this.fetchForms()
  }

  async fetchForms() {
    // if language and filter are empty, remove them

    this.options.language = this.filterLanguage
    this.options.status = this.filterStatus

    try {
      this.busy = true
      const { data } = await getMyForms(this.options)
      this.forms = data
      this.totalRecords = data.total
      this.currentPage = data.page
      this.totalPages = data.pages
    } catch (error: any) {
    } finally {
      this.busy = false
    }
  }

  mounted() {
    this.fetchForms()
  }

  // async duplicateForm(formDup: IForm) {
  //   try {
  //     this.busy = true
  //     const { data: form } = await createForm({
  //       name: "Copy - ".concat(formDup.name),
  //       description: formDup.description,
  //       type: formDup.type,
  //       language: formDup.language,
  //       questions: formDup.questions,
  //       preferred_submit_date: dayjs().toISOString(),
  //       organization_id: this.currentUser.organization_id,
  //     })

  //     this.$router.push(`/forms/creator/${form.id}`)
  //   } catch (error) {
  //   } finally {
  //     this.busy = false
  //   }
  // }

  requestDuplicateConfirmation(form: IForm) {
    const modal: IModal = {
      title: "Duplicate Form?",
      content: ModalRequestConfirmation,
      props: {
        text: `Are you sure you want to duplicate the form "${form.name}"`,
        onconfirm: () => {
          // this.duplicateForm(form)
        },
      },
    }

    this.showModal(modal)
  }

  requestArchiveConfirmation(form: IForm) {
    const modal: IModal = {
      title: `Are you sure you want to archive "${form.name}"?`,
      content: ModalRequestConfirmation,
      props: {
        text: `An archived form must be recovered before it can be modified or activated again. `,
        confirmText: "Yes, Archive",
        onconfirm: async () => {
          try {
            this.busy = true
            await updateFormStatus(form.id, "removed")
            this.$toast.success("Form archived successfully")
            this.fetchForms()

          } catch (error) {
          } finally {
            this.busy = false
          }
        },
        onclose: async () => {
          this.$fetch()

        }
      
      },
    
    }

    this.showModal(modal)
  }

  requestSuspendConfirmation(form: IForm) {
    const modal: IModal = {
      title: `Are you sure you want to suspend "${form.name}"?`,
      content: ModalRequestConfirmation,
      props: {
        text: `Suspended forms cannot be responed to. You can always re-activate it later.`,
        confirmText: "Yes, Suspend",
        onconfirm: async () => {
          // this.removeFile(index)
          try {
            this.busy = true
            await updateFormStatus(form.id, "suspended")
            this.$toast.success("Form suspended successfully")
            this.fetchForms()
          } catch (error) {
          } finally {
            this.busy = false
          }
        },
      },
    }

    this.showModal(modal)
  }

  requestActivateConfirmation(form: IForm) {
    const modal: IModal = {
      title: `Are you sure you want to activate "${form.name}"?`,
      content: ModalRequestConfirmation,
      props: {
        text: `Active forms are immediately available and can be responded to.`,
        confirmText: "Yes, Activate",
        onconfirm: async () => {
          // this.removeFile(index)
          try {
            this.busy = true
            await updateFormStatus(form.id, "active")
            this.$toast.success("Form activated successfully")
            this.$fetch()
          } catch (error) {
          } finally {
            this.busy = false
          }
        },
      },
    }

    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .header-left {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}
.col-name {
  /* max-width: ; */
}
.col-date {
  width: 130px;
}
.col-status {
  width: 100px;
}
.col-language {
  width: 120px;
}
.col-link {
  width: 120px;
}
.col-action {
  width: 100px;
}

.form-actions-dropdown-toggle {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.041);
  }
}

.actions-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .form-action {
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.45rem;
    border-radius: 5px;
    &.delete {
      color: var(--danger-color);

      &:hover {
        background-color: rgba(255, 0, 0, 0.041);
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.041);
    }
  }
}
.form-status {
  /*
  font-size: 0.7rem;
  background-color: rgba(128, 128, 128, 0.123);
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  color: #000;
  */
  text-transform: capitalize;
  /*
  &.draft {
    $color: rgba(201, 187, 110);
    background-color: transparentize($color, 0.7);
    border-color: $color;
  }
  &.completed,
  &.active {
    $color: rgba(138, 197, 100);
    background-color: transparentize($color, 0.7);
    border-color: $color;
  }
  &.suspended {
    $color: rgb(212, 129, 3);
    background-color: transparentize($color, 0.7);
    border-color: $color;
  }
  &.removed {
    $color: rgba(201, 110, 133);
    background-color: transparentize($color, 0.7);
    border-color: $color;
  }
  */
}
.loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  place-items: center;
}
.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.filter-dropdown-toggle {
  padding: 0.35rem 0.75rem;
  border-radius: 20px;
  border: 1px solid rgb(0, 116, 161);
  background-color: rgba(255, 255, 255, 0.267);
  width: 130px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
