<template>
  <div>
    <div class="welcome__container">
      <tad-button primary @click="$router.go(-1)"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
    </div>
    <div class="welcome__container">
      <h1 class="title-text">User Management</h1>
      <div class="user__edit-desc-wrapper">
        <span class="user__form-desc"
          >Use the form below to make changes to a users account.</span
        >
      </div>
    </div>

    <div class="user__card-grid" v-if="user.is_active === true">
      <div class="user__card user__form">
        <h2 id="h2">Basic Info</h2>
        <ValidationObserver>
          <form>
            <div class="form-input-wrapper mb-4">
              <label for="full_name">Name</label>
              <tad-input
                id="full_name"
                v-model="fullName"
                type="text"
                autocomplete="off"
              />
            </div>
            <div class="form-input-wrapper mb-4">
              <label for="email_address">Email Address</label>
              <ValidationProvider v-slot="{ errors }" rules="email">
                <tad-input
                  id="email_address"
                  v-model="email"
                  type="text"
                  autocomplete="off"
                  :placeholder="email"
                  class="input-long"
                />
                <span>{{ errors[0] }}</span>
              </ValidationProvider>
            </div>

            <template v-can="'role.manage'">
              <div class="form-input-wrapper mb-5">
                <label for="role">Role</label>
                <ValidationProvider>
                  <select id="role" v-model="userType" name="" required>
                    <option v-for="role in roles" :key="role.id" :value="role">
                      {{ role.name }}
                    </option>
                  </select>
                  <!-- <span>{{ errors[0] }}</span> -->
                </ValidationProvider>
              </div>
            </template>

            <div>
              <div class="form-input-wrapper mb-4">
                <label for="password1">New password</label>
                <ValidationProvider
                  v-slot="{ failedRules }"
                  rules="confirmed:confirmation"
                >
                  <tad-input
                    id="password1"
                    v-model="password1"
                    type="password"
                    autocomplete="off"
                    class="input-long"
                  />
                  <p v-if="failedRules.confirmed" class="input-error">
                    Passwords do not match
                  </p>
                </ValidationProvider>
              </div>

              <div class="form-input-wrapper mb-4">
                <label for="password2">Confirm password</label>
                <ValidationProvider v-slot="{ failedRules }" vid="confirmation">
                  <tad-input
                    id="password2"
                    v-model="password2"
                    type="password"
                    autocomplete="off"
                    class="input-long"
                  />
                  <p v-if="failedRules.confirmed" class="input-error">
                    Passwords do not match
                  </p>
                </ValidationProvider>
              </div>
            </div>
            <div class="form-buttons-container mb-4">
              <tad-button
                primary
                class="btn-submit"
                type="submit"
                @click.prevent="submit"
                :disabled="isWorking"
              >
                Make Changes
              </tad-button>
              <tad-button
                class="btn-reset"
                type="submit"
                @click.prevent="reset"
                :disabled="isWorking"
              >
                Discard Changes
              </tad-button>
              <tad-button
                danger
                :disabled="isWorking"
                class="btn-reset"
                type="submit"
                @click.prevent="resetPassword"
              >
                Send Reset Password Link
              </tad-button>
            </div>
          </form>
          <alert
            :msg="alert.msg"
            :type="alert.type"
            @alert-close="alert.msg = ''"
          />
        </ValidationObserver>
      </div>
    </div>

    <div class="section" v-if="user.is_active === true">
      <div class="section__title">
        <span>Care Team</span>
        <tad-button @click.prevent="modalCareTeam"
          >Add New Care Team Member</tad-button
        >
      </div>
      <div v-if="careTeam.length > 0">
        <div
          v-for="request in careTeam"
          class="closefriend__list-item"
          :key="request.id"
        >
          <div class="friend">
            <img
              :src="`${fullApiUrl}/users/file/${request.user.profile_image}`"
              alt=""
            />
            <span>{{ request.user.full_name }}</span>
          </div>
          <div class="closefriend__buttons">
            <i
              @click.prevent="modalRemove(request)"
              class="las la-ellipsis-v"
              title="see request details"
            ></i>
          </div>
        </div>
      </div>
      <div v-else class="no-data">No Care Team Members</div>
    </div>
    <div class="section" v-if="user.is_active === true">
      <div class="section__title">
        <span>Emergency Contact List</span>
        <tad-button @click.prevent="modalEmergencyContact"
          >Add Contact</tad-button
        >
      </div>
      <div v-if="contacts.length">
        <div v-for="contact in contacts" :key="contact.id" class="contact">
          <span>{{
            contact.full_name[0] + contact.full_name.replace(/./g, "*")
          }}</span>
          <tad-button @click.prevent="viewContact(contact)">View</tad-button>
        </div>
      </div>
      <div v-else class="no-data">No Emergency Contacts</div>
    </div>

    <div class="section delete__user" v-can="'license.verify'">
      <div v-if="licenses.length" class="license__table">
        <div class="license">
          <span class="small-text">License Type</span>
        </div>
        <div v-for="license in licenses" :key="license.id" class="license">
          <span class="">{{ license.type }}</span>
          <div>
            <tad-button secondary @click.prevent="viewLicense(license)"
              >Details</tad-button
            >
            <tad-button primary @click.prevent="verifyLicense(license)"
              >Verify</tad-button
            >
          </div>
        </div>
      </div>
      <div v-else class="license__table">
        <span>No licenses to display.</span>
      </div>
    </div>

    <div class="section delete__user" v-if="user.is_active === true">
      <div class="section__title">
        <div class="section__header">
          <span>Deactive User </span>
          <span class="small-text"
            >Note: This will prevent the user from accessing there
            account.</span
          >
        </div>
        <tad-button danger @click.prevent="modalDeactivate"
          >Deactivate Account</tad-button
        >
      </div>
    </div>

    <div class="section delete__user" v-if="user.is_active === false">
      <div class="section__title">
        <div class="section__header">
          <span class="mb-6">Account Disabled </span>
          <span class="small-text">Reason: {{ inactiveDetails.reason }}</span>
          <span class="small-text">Note: {{ inactiveDetails.note }}</span>
        </div>
        <tad-button danger @click.prevent="modalActivate"
          >Reactive Account</tad-button
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import { IUserProfile, IUserProfileUpdate } from "@/interfaces"
import { getApiErrorMsg } from "@/api"
import { AlertProps } from "~/components/Alert.vue"
import { getSingleUser, updateUser, passwordRecovery } from "~/api/users"
import { getUserContact, getCareTeamAdmin } from "~/api/teams"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { readInactiveUser } from "~/api/users"

import ModalAdminAddEmergencyContact from "~/components/modals/ModalAdminAddEmergencyContact.vue"

import ModalViewContactAdmin from "~/components/modals/ModalViewContactAdmin.vue"
import ModalRemoveCareTeam from "~/components/modals/ModalRemoveCareTeam.vue"
import ModalAddCareTeamAdmin from "~/components/modals/ModalAddCareTeamAdmin.vue"

import ModalDeactivateAccount from "~/components/modals/ModalDeactivateAccount.vue"
import ModalActivateUser from "~/components/modals/ModalActivateUser.vue"
import { getLicenses } from "~/api/licenses"
import ModalLicenseDetails from "~/components/modals/ModalLicenseDetails.vue"
import ModalVerifyLicense from "~/components/modals/ModalVerifyLicense.vue"
import {getRoles} from "~/api/organization";
import { ILicense } from "~/interfaces/license"

@Component({
  components: { TadButton, TadInput },
})
export default class AdminEditUser extends Vue {
  @Action("admin/updateUser") updateUser
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal
  fullApiUrl = process.env.fullApiUrl
  user = {} as IUserProfile
  licenses: ILicense[] = []
  fullName: string = ""
  email: string = ""
  isActive: boolean = true
  public userType: { id: string; name: string } = { id: "", name: "" }
  public roles: any = []

  // isSuperuser: boolean = false
  password1: string = ""
  password2: string = ""
  alert: AlertProps = {
    msg: "",
    type: "error",
  }

  contacts: any = []

  isWorking = true

  careTeam: any = []
  inactiveDetails: any = {}

  mounted() {
    this.fetchCareTeam()
    this.fetchInactiveStatus()
  }

  async fetchRoles() {
    try {
      const { data: roles } = await getRoles()
      this.roles = roles
      this.userType =  this.roles.find(role => role.id === this.user.role_id);
    } catch (error) {
      console.log(error)
    }
  }

  async fetchLicenses() {
    const { data: licenses } = await getLicenses(this.user.id)
    this.licenses = licenses
  }

  async fetch() {
    try {
      this.isWorking = true
      const { data: user } = await getSingleUser(this.$route.params.id)
      this.user = user
      this.setUser()
      this.fetchContacts()
      this.fetchLicenses()

      const permissions = this.$store.state.auth.user.permissions
      if (permissions.includes("user.create.users")) {
        this.fetchRoles()
      }
    } catch (error) {
      const msg = getApiErrorMsg(error)
      this.alert = { msg, type: "error" }
    } finally {
      this.isWorking = false
    }
  }

  async fetchContacts() {
    const { data: contacts } = await getUserContact(this.$route.params.id)

    this.contacts = contacts
  }

  async fetchInactiveStatus() {
    const { data: inactiveDetails } = await readInactiveUser(
      this.$route.params.id
    )

    this.inactiveDetails = inactiveDetails
  }

  async fetchCareTeam() {
    const { data: careTeam } = await getCareTeamAdmin(this.$route.params.id)

    this.careTeam = careTeam
  }

  async resetPassword() {
    try {
      this.isWorking = true
      await passwordRecovery(this.user.email)
      this.alert = {
        msg: "Password reset link sent to user's email",
        type: "success",
      }
    } catch (error) {
      const msg = getApiErrorMsg(error)
      this.alert = { msg, type: "error" }
    } finally {
      this.isWorking = false
    }
  }

  modalCareTeam() {
    const modal = {
      title: "Add New Care Team Member",
      content: ModalAddCareTeamAdmin,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        user_id: this.$route.params.id,
      },
    }
    this.showModal(modal)
  }

  get setPassword() {
    return Boolean(this.password1) && Boolean(this.password2)
  }

  public reset() {
    // this.setPassword = false
    this.password1 = ""
    this.password2 = ""
    this.setUser()
  }

  public cancel() {
    this.$router.back()
  }

  public async submit() {
    // Clear alert message
    this.alert.msg = ""
    this.isWorking = true
    const updatedProfile: IUserProfileUpdate = {}
    if (this.fullName) {
      updatedProfile.full_name = this.fullName
    }
    if (this.email) {
      updatedProfile.email = this.email
    }
    if (this.userType) {
      updatedProfile.role_id = this.userType.id
    }
    updatedProfile.is_active = this.isActive
    if (this.setPassword) {
      // User filled both password fields
      if (this.password1 !== this.password2) {
        this.alert = { msg: "Passwords do not match", type: "error" }
        return
      }
      updatedProfile.password = this.password1
    }
    this.alert = { msg: "Working, please wait...", type: "info" }
    await updateUser(this.user!.id, updatedProfile)
    this.alert = { msg: "User details updated successfully", type: "success" }
    // Refresh user details
    this.$fetch()
  }

  setUser() {
    if (this.user) {
      this.fullName = this.user.full_name
      this.email = this.user.email
      this.isActive = this.user.is_active
    }
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Administration - Edit User")
  }

  modalRemove(request) {
    const modal = {
      title: "Remove Care Team Member",
      content: ModalRemoveCareTeam,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        request: request,
      },
    }
    this.showModal(modal)
  }

  modalEmergencyContact() {
    const modal = {
      title: "Add Emergency Contact",
      content: ModalAdminAddEmergencyContact,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        id: this.$route.params.id,
      },
    }
    this.showModal(modal)
  }

  modalDeactivate() {
    const modal = {
      title: "Deactivate Account",
      content: ModalDeactivateAccount,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        id: this.$route.params.id,
      },
    }
    this.showModal(modal)
  }

  modalActivate() {
    const modal = {
      title: "Are you sure you want to reactive this account?",
      content: ModalActivateUser,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        id: this.$route.params.id,
      },
    }
    this.showModal(modal)
  }

  viewContact(contact) {
    const modal = {
      title: "Emergency Contact",
      content: ModalViewContactAdmin,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        contact: contact,
      },
    }
    this.showModal(modal)
  }

  viewLicense(license) {
    const modal = {
      title: "License Details",
      content: ModalLicenseDetails,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        license: license,
      },
    }
    this.showModal(modal)
  }

  verifyLicense(license) {
    const modal = {
      title: "Verify License",
      content: ModalVerifyLicense,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        id: license.id,
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.license__table {
  background: white;

  margin: 2rem 0rem;
  box-shadow: var(--default-box-shadow);
  padding: 1rem 0rem;
}

.license {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(240, 240, 240);
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

.closefriend__list-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(228, 228, 228);

  img {
    height: 50px;
  }
}
.contact {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 233, 233);
  span {
    font-size: 0.8rem;
    color: var(--dark-text);
  }
}

.friend {
  display: flex;
  align-items: center;
  align-content: center;
  img {
    border-radius: 5px;
    height: 50px;
  }

  span {
    font-size: 0.8rem;
    color: var(--dark-text);
    margin-left: 0.5rem;
  }
}
.help-text {
  color: #41496b;
  font-size: 0.7rem;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.caution-text {
  color: #961a26;
}

.form-buttons-container {
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1rem;
}
.input-error {
  font-size: 0.8rem;
  color: #be0000;
}
form {
  padding-top: 0rem !important;
}

.user__edit-desc-wrapper {
}

.user__form-desc {
  font-size: 0.8rem;
  color: var(--light-text);
  padding-bottom: 1rem;
}

fieldset {
  border: 2px solid #f0f0f0;
  margin: 1rem 0rem;
  padding: 2rem 1rem;
}

legend {
  padding: 0;
  font-weight: 800;
  font-size: 0.9rem;
  color: #41496b;
}

.input-long {
  width: 100% !important;
}

.section__header {
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 0.5rem;
  }
}

.checkbox__label {
  color: var(--light-text);
  padding-bottom: 1rem;
}

.user__card-grid {
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  padding: 2rem;
}

#h2 {
  padding-bottom: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.section {
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  margin-top: 3rem;
  span {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.section__title {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.no-data {
  padding: 1.5rem;
  border-bottom: 1px solid rgb(238, 238, 238);
  font-size: 0.9rem;
  color: var(--light-text);
}

@media only screen and (max-width: 895px) {
  .welcome__container {
    margin-bottom: 2rem;
  }

   .form-buttons-container {
    grid-template-columns: 1fr;
   }
}
</style>
