<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">User Management</h1>
      <p class="small-text">Manage your users and roles.</p>
    </div>

    <div class="grid grid-cols-1 gap-y-8">
      <RolesAndPermissions v-can="'role.manage'" />
      <UserManagementTable v-can="'user.create.users'" />
      <!-- <CreateUserForm v-can="'user.create.users'" /> -->
      <VerifyPublisherForm v-can="'user.manage.verified.publishers'" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import CreateUserForm from "~/components/admin/CreateUserForm.vue"
import RolesAndPermissions from "~/components/admin/RolesAndPermissions.vue"
import UserManagementTable from "~/components/admin/UserManagementTable.vue"
import VerifyPublisherForm from "~/components/VerifyPublisherForm.vue"

@Component({
  // layout: "institution",
  middleware: ["authenticated"],
  components: {
    VerifyPublisherForm,
    TadInput,
    TadButton,
    RolesAndPermissions,
    CreateUserForm,
    UserManagementTable,
  },
})
export default class OrgAdminManageUsers extends Vue {}
</script>
