<template>
  <div>
    <!-- resource breadcrumb -->
    <div>
      <ul class="resource__breadcrumb">
        <li>
          <tad-button primary  @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>
    <loading-spinner v-if="isLoadingArticle"
      >Loading article...</loading-spinner
    >
    <alert v-else-if="errMsg" :msg="errMsg" type="error"></alert>
    <div v-else class="edit-article">
      <div class="page-header">
        <h1 class="title-text">Edit Article</h1>
        <div>
          <p class="last-updated small-text">
            Last updated: {{ formatUpdatedAt(article.updated_at) }}
          </p>
        </div>
      </div>
      <div class="article-buttons">
        <tad-button primary
          v-if="article.is_draft"
          :disabled="isWorking"
          @click="readyToPublishConfirmation"
        >
          <span v-if="isWorking">
            <i class="las la-cog la-spin mr-2"></i>Working
          </span>
          <span v-else>Ready to Publish</span>
        </tad-button>

        <tad-button danger
          :disabled="isWorking"
          @click="deleteArticleConfirmation"
        >
          <span v-if="isWorking">
            <i class="las la-cog la-spin mr-2"></i>Working
          </span>
          <span v-else>Delete Article</span>
        </tad-button>
        <div class="status-container">
          
          <span v-if="article.is_draft">Status: draft</span>
          <span v-else-if="!article.is_approved"
            >Status: needs approval</span
          >
          <span v-else class="status approved">Status: published</span>
        </div>
      </div>

      <!-- <h1>Slug:{{ article.slug }}</h1> -->

      <form @submit.prevent="updateArticle">
        <div class="thumbnail-container">
          <div class="form-input-wrapper mb-6">
            <label for="image" class="small-text"
              >Upload Article thumbnail
            </label>
            <input id="image" type="file" @change="onFileSelected" />
            <tad-button primary @click.prevent="uploadThumbnail">
              Upload Thumbnail
            </tad-button>
          </div>
          <img
            v-if="article.thumbnail_name"
            :src="`${fullApiUrl}/articles/thumbnail/${article.thumbnail_name}`"
            :alt="article.title"
            class="article-thumbnail"
          />
        </div>

        <div class="form-input-wrapper mb-3">
          <label for="title">Title</label>
          <input
            id="title"
            v-model.trim="article.title"
            type="text"
            required
            :disabled="!article.is_draft"
          />
        </div>

        <div class="form-input-wrapper mb-3">
          <label for="description">Description</label>
          <input
            id="description"
            v-model.trim="article.description"
            type="text"
            required
            :disabled="!article.is_draft"
          />
        </div>

        <div class="form-input-wrapper mb-3">
          <label for="tags">Tags</label>
          <div class="form-add-tag">
            <ul v-if="tags.length > 0" class="tags-list">
              <li v-for="(tag, index) in tags" :key="index" class="tag">
                <span>{{ tag }}</span>
                <button
                  class="btn-remove-tag"
                  :disabled="!article.is_draft"
                  @click.prevent="removeTag(index)"
                >
                  <i class="las la-times"></i>
                </button>
              </li>
            </ul>
            <input
              id="tags"
              v-model.trim="selectedTag"
              type="text"
              list="tag-options"
              :disabled="!article.is_draft"
            />

            <datalist id="tag-options">
              <option
                v-for="(tag, index) in allTagNames"
                :key="index"
                :value="tag"
              ></option>
            </datalist>

            <button
              class="btn main"
              :disabled="!article.is_draft"
              @click.prevent="addTag"
            >
              Add Tag
            </button>
          </div>
        </div>

        <ArticleEditor
          :initial-value="article.body"
          :disabled="!article.is_draft"
          @content-changed="contentChanged"
        />

        <tad-button primary
          v-if="article.is_draft"
          class="btn main mt-4 btn-save"
          :class="{ disabled: isWorking }"
          :disabled="isWorking"
        >
          <span v-if="isWorking">
            <i class="las la-cog la-spin mr-2"></i>Saving
          </span>
          <span v-else>Save</span>
        </tad-button>
      </form>
    </div>
    <div class="section-title-text">
      <span class="subtitle-text">Podcast Analytics</span>
      <span class="small-text subtitle__text"
        >Track important information about your article.</span
      >
    </div>

    <div class="analytics__grid">
      <div class="analytic__box">
        <span>Total Listens</span>
        <p v-if="podcast.analytics.length">234</p>
        <p v-else>No Data</p>
      </div>
      <div class="analytic__box">
        <span>Total Times Shared</span>
        <p v-if="podcast.analytics.length">234</p>
        <p v-else>No Data</p>
      </div>
      <div class="analytic__box">
        <span>File Size</span>
        <p v-if="podcast.analytics.length">256kb</p>
        <p v-else>No Data</p>
      </div>
      <div class="analytic__box">
        <span>Found Helpful</span>
        <p v-if="podcast.analytics.length">245</p>
        <p v-else>No Data</p>
      </div>
      <div class="analytic__box">
        <span>Tags</span>
        <p v-if="podcast.analytics.length">234</p>
        <p v-else>No Data</p>
      </div>
      <div class="analytic__box">
        <span>Pronoun Ratio</span>
        <p v-if="podcast.analytics.length">234</p>
        <p v-else>No Data</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation } from "nuxt-property-decorator"
import dayjs from "dayjs"
import {
  deleteArticle,
  getArticle,
  getTagNames,
  updateArticle,
  uploadArticleThumbnail,
} from "~/api/articles"
import { IArticle, IArticleUpdate, IModal } from "~/interfaces"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import { getApiErrorMsg } from "~/api"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class EditArticle extends Vue {
  @Mutation("modals/showModal") showModal
  fullApiUrl = process.env.fullApiUrl

  id = this.$route.params.id

  podcast: {} = {
    title: "",
    podcastUrl: "",
    author: "",
    date: "",
    authorImgUrl: "",
    analytics: [],
    feedback: [
      { comment: "This is a comment", id: "11", date: "7/13/22" },
      { comment: "This is another commment", id: 12, date: "7/03/22" },
    ],
  }

  isLoadingArticle = true
  errMsg = ""
  isWorking = false
  article = {} as IArticle
  allTagNames: string[] = []
  selectedTag = ""
  tags: string[] = []
  originalTitle = ""
  selectedThumbnailFile: any = ""

  mounted() {
    this.fetchArticle()
  }

  async fetchArticle() {
    try {
      this.isLoadingArticle = true
      this.errMsg = ""
      const { data: article } = await getArticle(this.id)
      this.article = article
      this.tags = article.tags
      this.originalTitle = article.title
      const { data: tagNames } = await getTagNames()
      this.allTagNames = tagNames
    } catch (error) {
      this.errMsg = `Error loading article: ${getApiErrorMsg(error)}`
    } finally {
      this.isLoadingArticle = false
    }
  }

  addTag() {
    if (!this.selectedTag) return
    this.tags.push(this.selectedTag.trim())
    this.selectedTag = ""
  }

  removeTag(index: number) {
    this.tags.splice(index, 1)
  }

  async updateArticle() {
    try {
      this.isWorking = true
      this.errMsg = ""

      // Set tags
      this.article.tags = this.tags

      const updatedArticle: IArticleUpdate = {
        title: this.article.title,
        description: this.article.description,
        tags: this.article.tags,
        body: this.article.body,
        is_approved: this.article.is_approved,
        is_draft: this.article.is_draft,
        thumbnail_name: this.article.thumbnail_name,
        target_audience: this.article.target_audience
      }
      // If title changed, set updated slug
      if (this.article.title !== this.originalTitle) {
        updatedArticle.slug = this.article.title
          .trim()
          .toLowerCase()
          .replaceAll(" ", "-")
      }

      await updateArticle(this.id, updatedArticle)
      this.fetchArticle()
      this.$toast.success("Article updated successfully")
    } catch (error) {
      this.$toast.error(`Error updating the article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isWorking = false
    }
  }

  readyToPublishConfirmation() {
    const modal: IModal = {
      title: "Ready to Publish",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.readyToPublish,
        text: "Before publishing, the article will first require approval from your Institution's Administrator. While waiting for approval, you will no longer be able to make changes to your article.<br/><br/>Are you sure you want to continue?",
        confirmText: "Request Approval",
      },
    }

    this.showModal(modal)
  }

  async readyToPublish() {
    try {
      this.isWorking = true
      this.errMsg = ""
      this.article.is_draft = false

      // Remove slug; prevents error in backend
      const updatedArticle = {
        title: this.article.title,
        description: this.article.description,
        tags: this.article.tags,
        body: this.article.body,
        is_approved: this.article.is_approved,
        is_draft: this.article.is_draft,
        thumbnail_name: this.article.thumbnail_name,
        target_audience: this.article.target_audience
      }

      await updateArticle(this.id, updatedArticle)
      this.fetchArticle()
      this.$toast.success("Article submitted for review.")
    } catch (error) {
      this.$toast.error(`Error updating the article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isWorking = false
    }
  }

  deleteArticleConfirmation() {
    const modal: IModal = {
      title: "Delete Article",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.deleteArticle,
        text: "Are you sure you want to delete this article? All its content will be lost forever.",
        confirmText: "Delete",
      },
    }

    this.showModal(modal)
  }

  async deleteArticle() {
    try {
      this.isWorking = true
      this.errMsg = ""

      await deleteArticle(this.id)
      this.$toast.success("Article deleted successfully.")
      this.$router.go(-1)
    } catch (error) {
      this.$toast.error(`Error deleting the article: ${getApiErrorMsg(error)}`)
    } finally {
      this.isWorking = false
    }
  }

  contentChanged(content: string) {
    this.article.body = content
  }

  formatUpdatedAt(time: string) {
    return dayjs(time).format("h:mmA DD MMM YYYY")
  }

  onFileSelected(event: any) {

    this.selectedThumbnailFile = event.target!.files[0]
  }

  async uploadThumbnail() {
    if (!this.selectedThumbnailFile) {
      this.$toast.error("Please select a file to upload")
      return
    }

    try {
      this.isWorking = true
      const formData = new FormData()
      formData.append("file_in", this.selectedThumbnailFile)
      await uploadArticleThumbnail(this.article.id, formData)
      this.$toast.success("Thumbnail uploaded successfully.")
      this.fetchArticle()
      // location.reload()
    } catch (error) {
      this.$toast.error("Error uploading image")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
// styles for the breadcrumbs
.resource__breadcrumb {
  display: flex;
  margin-bottom: 2rem;

  li {
    margin-right: 10px;
    color: var(--dark-text) !important;
    font-size: 0.9rem;
  }
  li a {
    color: var(--light-text);
  }

}

.section-title-text {
  display: flex;
  flex-direction: column;
}
.article-buttons {
  display: flex !important;
  margin: 1rem 0rem;
  button {
    margin-right: 1rem;
  }
}

.edit-article {
  background-color: white;
  padding: 2rem;
  box-shadow: var(--default-box-shadow);
  border-radius: 10px;
}
.page-header {
  gap: 1rem;
  align-items: center;

  .last-updated {
    font-style: italic;
  }
}
.preview-area {
  border: 1px solid rgb(214, 214, 214);
  padding: 0.75rem;
  border-radius: 3px;
}
.btn-save {
  width: 100%;
}
.status-container {
  display: flex;
  align-items: center;
  font-size: 0.8rem;

  .status {
    padding: 0.8rem 0.3rem;
    background-color: gray;
    border-radius: 5px;
    color: #fff;
    width: 120px;
    text-align: center;

    &.draft {
      background-color: #f89e5d;
    }

    &.not-approved {
      background-color: #02b6ce;
    }
    &.approved {
      background-color: #09ca11;
    }
  }
}

.form-add-tag {
  display: flex;
  gap: 1rem;

  input {
    width: 150px;
  }

  .tags-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;

    .tag {
      font-size: 0.8rem;
      background-color: #fff;
      text-align: center;
      border: 1px solid var(--main-color);
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem;
      color: #333333;
      min-width: 75px;
      gap: 0.5rem;

      .btn-remove-tag {
        background-color: transparent;
        border: none;
        color: var(--danger-color);
        padding: 0.25rem 0.45rem;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 0, 0, 0.116);
        }
        &:disabled {
          background-color: transparent;
          color: rgb(214, 214, 214);
        }
      }
    }
  }
}
.thumbnail-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-direction: row;
  .article-thumbnail {
    max-width: 150px;
    max-height: 150px;
    border-radius: 3px;
  }
}

.analytics__grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.analytic__box {
  padding: 2rem;
  background-color: white;
  box-shadow: var(--default-box-shadow);

  span {
    color: var(--dark-text);
    font-size: 0.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.7rem;
    padding: 1rem 0rem;
    color: var(--dark-text);
  }
}
</style>
