<template>
  <div>
    <!-- resource breadcrumb -->
    <div>
      <ul class="resource__breadcrumb">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>

    <div class="welcome__container">
      <h1 class="title-text">Edit Podcast</h1>
      <p class="small-text">Edit and make changes changes to your video.</p>
    </div>

    <div class="edit-form-container">
      <form @submit.prevent="submit()">
        <div>
          <div class="form-grid">
            <div class="form-input-wrapper mb-6">
              <label for="title" class="small-text">Edit Podcast Title</label>
              <tad-input id="title" type="text" name="title" v-model="title" />
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="description" class="small-text"
                >Edit description</label
              >
              <textarea
                id="description"
                type="textarea"
                name="description"
                v-model="description"
              />
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="thumbnail" class="small-text">Change Thumbnail</label>
              <tad-input
                id="thumbnail"
                type="file"
                @change="onImageSelected"
                accept="image/png, image/gif, image/jpeg"
              />
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="pdocastfile" class="small-text"
                >Change Audio File</label
              >
              <tad-input
                id="podcastfile"
                type="file"
                accept="audio/*"
                @change="onFileSelected"
              />
            </div>
            <div class="form-input-wrapper mb-6">
              <label for="pdocastfile" class="small-text"
                >Selected Audience</label
              >
            </div>
          </div>
          <div>
            <div
              v-if="roles.length"
              class="form-input-wrapper special-wrapper mb-6"
            >
              <div v-for="role in roles" :key="role.id">
                <input
                  type="checkbox"
                  name="audience"
                  :checked="ifChecked(role.name)"
                  @change.stop="addRole(role.name)"
                />
                <template v-if="role.name === 'patient'"
                  ><label for="audience">{{ "student" }}</label></template
                >
                <template v-else-if="role.name === 'peer_counselor'"
                  ><label for="audience">{{
                    "peer counselor"
                  }}</label></template
                >
                <template v-else
                  ><label for="audience">{{ role.name }}</label></template
                >
              </div>
            </div>
          </div>

          <div class="form-input-wrapper mb-6">
              <label for="">Tags</label>
              <ul class="tags-list" v-if="tags.length > 0">
                <li class="tag" v-for="(tag, index) in tags" :key="index">
                  <span>{{ tag }}</span>
                  <button
                    class="btn-remove-tag"
                    @click.prevent="removeTag(index)"
                  >
                    <i class="las la-times"></i>
                  </button>
                </li>
              </ul>
              <div class="form-add-tag">
                <select v-model="selectedTag">
                  <option
                    v-for="(tag, index) in tagNames"
                    :key="index"
                    :value="tag"
                  >
                    {{ tag }}
                  </option>
                </select>

                <tad-button primary @click.prevent="addTag">Add Tag</tad-button>
              </div>
            </div>
          <div class="video__upload-buttons">
            <tad-button primary @click.prevent="submit"
              >Save Changes</tad-button
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { updatePodcast, getAudio } from "~/api/resources"
import { getRoles } from "~/api/roles"
import { getAudioTags } from "~/api/resources"
import { getTagNames } from "~/api/articles"
import {
  Component,
  Vue,
  Getter,
  Action,
  Mutation,
} from "nuxt-property-decorator"

@Component({
  components: { TadButton, TadInput },
  // layout: "patient",
})
export default class podcastEdit extends Vue {
  podcastId = this.$route.params.id
  title: string = ""
  description: string = ""
  selectedImage: any = ""
  selectedFile: any = ""
  roles: any = []
  selectedTag = ""
  tags: any = []
  tagNames: string[] = []
  public targetAudience: any = []

  mounted() {
    this.fetchPodcast()
    this.fetchRoles()
    this.fetchAudience()
    this.fetchTagNames()
  }

  addTag() {
    if (!this.selectedTag) return
    this.tags.push(this.selectedTag.trim())
    this.selectedTag = ""
  }

  removeTag(index: number) {
    this.tags.splice(index, 1)
  }

  async fetchTagNames() {
    try {
      const { data: tagNames } = await getTagNames()
      this.tagNames = tagNames
    } catch (error) {
      this.$toast.error(`Error loading tags`)
    }
  }


  async fetchRoles() {
    try {
      let { data: roles } = await getRoles()
      roles = roles.filter(function (item) {
        return item.name !== "admin"
      })
      roles = roles.filter(function (item) {
        return item.name !== "super"
      })
      this.roles = roles
    } catch (error) {
      this.$toast.error(`Error getting audience types`)
    }
  }

  addRole(role: string) {
    if (this.targetAudience.includes(role)) {
      let item = this.targetAudience.indexOf(role)
      let tempArray = this.targetAudience
      tempArray.splice(item, 1)
      this.targetAudience = tempArray
    } else {
      this.targetAudience.push(role)
    }
  }
  
  ifChecked(role: string) {
    return this.targetAudience.includes(role)
  }
  async fetchAudience(){
    try {
      let{ data } = await getAudioTags(this.podcastId)
      this.targetAudience = [...data.target_audience]
    } catch (e){

    }
  }

  async fetchPodcast() {
    try {
      const { data: podcast } = await getAudio(this.podcastId)
      const { data: tags } = await getAudioTags(this.podcastId)
      this.title = podcast.title
      this.description = podcast.description
      this.tags = tags.tags
    } catch {}
  }

  async submit() {
    const formData = new FormData()
    formData.append("audio_in", this.selectedFile)
    formData.append("thumbnail_in", this.selectedImage)
    formData.append("audio_title", this.title)
    formData.append("audio_description", this.description)
    formData.append("tags", this.tags)
    formData.append("target_audience", this.targetAudience)

    try {
      if (this.selectedImage.size / 1024 / 1024 > 2) {
        this.$toast.error("Oh no, your thumbnail image exceeds 2MB.")
        return
      }

      await updatePodcast(formData, this.podcastId)
      if (this.selectedFile) {
        this.$toast.success(
          "Success! Note: Changing audio file may take a moment!"
        )
      } else {
        this.$toast.success("Success! Your podcast has been updated.")
      }
      this.$router.go(-1)
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  onImageSelected(event: any) {
    this.selectedImage = event.target!.files[0]
  }

  onFileSelected(event: any) {
    this.selectedFile = event.target!.files[0]
  }
}
</script>

<style lang="scss" scoped>

.tags-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;


    .tag {
    font-size: 0.8rem;
    background-color: #f5f5fd;
    text-align: center;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0.25rem 0.5rem;
    color: #333333;
    min-width: 75px;
    gap: 0.5rem;
    .btn-remove-tag {
      background-color: transparent;
      border: none;
      color: var(--dark-text);
      border-radius: 100%;
      cursor: pointer;
      &:hover {
        color: rgb(255, 0, 0);
      }
    }
  }
  }
.special-wrapper {
  display: flex !important;
  flex-direction: row !important;
}
.video__upload-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  button {
    margin-left: 0.5rem;
  }
}
// styles for the breadcrumbs
.resource__breadcrumb {
  display: flex;
  margin-bottom: 2rem;

  li {
    margin-right: 10px;
    color: var(--dark-text) !important;
    font-size: 0.9rem;
  }
  li a {
    color: var(--light-text);
  }
}

.resource__breadcrumb-title {
  font-size: 0.9rem;
  font-weight: 500;
}
// edit form container

.edit-form-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  padding: 2rem;
  min-height: 500px;
}

.edit__thumbnail-preview {
  height: 200px;
  width: 350px;
  box-shadow: var(--default-box-shadow);
  overflow: hidden;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  img {
    height: 170px;
    width: 320px;
  }
}

@media only screen and (max-width: 986px) {
  .welcome__container {
    padding-bottom: 2rem !important;
  }
}
</style>
