<template>
  <div>
    <!-- resource breadcrumb -->
    <div>
      <ul class="resource__breadcrumb">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>

    <!-- podcast section -->
    <div class="podcast-table">
      <div v-if="currentTitle" class="media-player" :key="currentAudioLink">
        <AudioPlayer
          class="mt-5"
          :url="currentAudioLink"
          playerid="audio-player"
          :title="currentTitle"
          :artist="currentArtist"
          :description="currentDescription"
          :thumbnail="currentThumbnail"
        />
      </div>
      <div v-else class="media-player"></div>
    </div>

    <!-- podcast info section -->
    <div class="resource__details">
      <div class="resource__details-meta">
        <div class="resource__uploader-image">
          <img
            v-if="owner.profile_image"
            :src="`${fullApiUrl}/users/file/${podcast.owner.profile_image}`"
            alt=""
          />
          <img v-else src="~/assets/images/default.png" alt="" />
        </div>
        <div class="">
          <span class="resource__title" v-if="podcast.title">{{
            podcast.title
          }}</span>
          <span class="resource__title" v-else>No Title Available</span>
          <div>
            <span class="resource__uploader" v-if="podcast.owner">{{
              podcast.owner.full_name
            }}</span>
            <span class="resource__uploader" v-else>Name Name Available</span>
            <span class="resource__date" v-if="podcast.created_at">
              posted on {{ formatUpdatedAt(podcast.created_at) }}
            </span>
            <span class="resource__date" v-else>No Date Available</span>
          </div>
        </div>
      </div>
      <div>
        <tad-button
          danger
          v-if="podcast.is_approved"
          @click="deletePodcastConfirmation"
          >Delete Podcast
        </tad-button>
        <tad-button
          primary
          @click.prevent="modalShareResource(podcast.id)"
          v-if="podcast.is_approved"
        >
          Share Resource
        </tad-button>
        <tad-button
          v-if="!podcast.is_approved"
          primary
          @click="openModalDeclineAudio(podcast)"
        >
          Manage Resource
        </tad-button>
      </div>
    </div>

    <div class="section-title-text">
      <span class="subtitle-text">Podcast Analytics</span>
      <span class="small-text subtitle__text"
        >Track important information about your podcast.</span
      >
    </div>

    <div class="analytics__grid">
      <div class="analytic__box">
        <span>Total View</span>
        <p v-if="audioAnalytics">{{ audioAnalytics.viewed }}</p>
      </div>
      <div class="analytic__box">
        <span>Total Times Shared</span>
        <p v-if="audioAnalytics">{{ audioAnalytics.shared }}</p>
      </div>
      <div class="analytic__box">
        <span>Found Helpful</span>
        <p v-if="audioAnalytics">{{ audioAnalytics.liked }}</p>
      </div>
      <div class="analytic__box">
        <span>File Size</span>
        <p v-if="podcast.file_size">{{ formatBytes(podcast.file_size) }}</p>
        <p v-else>No Data</p>
      </div>
      <div class="analytic__box">
        <span>Tags</span>
        <div v-if="tags.length" class="tags">
          <div v-for="tag in tags" :key="tag.id" >
            <span>{{ tag }}</span>
          </div>
        </div>
        <p v-else>No Tags Added</p>
      </div>
      <div class="analytic__box">
        <span>Audience</span>
        <div v-if="audience.length" class="tags">
          <div v-for="tag in audience" :key="tag">
            <span>{{ tag }}</span>
          </div>
        </div>
        <p v-else>No Audience Added</p>
      </div>
    </div>

    <!-- feedback table -->
    <div class="feedback__title-section">
      <div class="section-title-text">
        <span class="subtitle-text">Feedback</span>
        <span class="small-text subtitle__text"
          >Podcast Feedback.</span
        >
      </div>

      <!-- <div class="form-input-wrapper search-container mb-12">
        <i class="las la-search la-lg ic-search"></i>
        <input type="text" placeholder="Search keyword" />
      </div> -->
    </div>

    <div class="feedback__table" v-if="audioFeedback.length">
      <div
        v-for="feedback in audioFeedback"
        :key="feedback.id"
        class="feedback__container"
      >
        <div class="feedback">
          <p><i class="las la-comment"></i> {{ feedback.comment }}</p>
        </div>
        <!-- <div class="feedback__details">
          <span>posted on</span>
          <span>{{ feedback.date }}</span>
        </div> -->
      </div>
    </div>
    <div class="feedback__table" v-else>
      <div class="feedback__container">
        <div class="feedback">
          <p><i class="las la-comment"></i> no feedback to display</p>
        </div>
        <!-- <div class="feedback__details">
          <span>posted on</span>
          <span>{{ feedback.date }}</span>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Getter,
  Mutation,
} from "nuxt-property-decorator"
import Anchor from "~/components/global/Anchor.vue"
import AudioPlayer from "~/components/AudioPlayer.vue"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import {
  getAudio,
  getAudioSignedURL,
  deleteAudio,
  getAudioTags,
  getAudioFeedback,
} from "~/api/resources"
import ModalShareResource from "~/components/modals/ModalShareResource.vue"
import TadButton from "~/components/styled-components/TadButton"
import dayjs from "dayjs"
import { IAudioResource, IModal } from "~/interfaces"
import ModalDeclineAudioResource from "~/components/modals/ModalDeclineAudioResource.vue"
import { getSingleAudioAnalytics } from "~/api/analytics"

@Component({
  components: { AudioPlayer, Anchor, TadButton },
  // layout: "patient",
})
export default class SinglePodcast extends Vue {
  podcastId = this.$route.params.id

  podcastAnalytics: {} = {}
  podcast: any = {}
  fullApiUrl = process.env.fullApiUrl
  audios: IAudioResource[] = []
  public currentTitle: string = ""
  public currentArtist: string = ""
  public currentDescription: string = ""
  public currentThumbnail: string = ""
  public currentAudioLink: string = ""
  public curArt: string = ""
  owner: {} = {}
  audioAnalytics: {} = {}
  audioFeedback: {} = {}
  tags: string[] = []
  audience: string[] = []

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  mounted() {
    this.fetchAudio()
    this.fetchAudioFeedback()
  }

  // format the time and make it readable

  formatUpdatedAt(time: string) {
    return dayjs(time).format("MMM DD, YYYY")
  }

  // format the bytes into mbs

  formatBytes(bytes, decimals = 2) {
    if (bytes === 0) return "0 Bytes"

    const k = 1024
    const dm = decimals < 0 ? 0 : decimals
    const sizes = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"]

    const i = Math.floor(Math.log(bytes) / Math.log(k))

    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i]
  }

  async fetchAudio() {
    try {
      const { data: podcast } = await getAudio(this.podcastId)
      const { data: tags } = await getAudioTags(this.podcastId)
      this.podcast = podcast
      this.currentTitle = podcast.title
      this.currentArtist = podcast.owner.full_name
      this.currentDescription = podcast.description
      this.currentThumbnail = podcast.thumbnail_url
      this.currentAudioLink = podcast.audio_url
      this.owner = podcast.owner
      this.tags = tags.tags
      this.audience = tags.target_audience

      const { data: audioAnalytics } = await getSingleAudioAnalytics(podcast.id)
      this.audioAnalytics = audioAnalytics
    } catch (error) {}
  }

  async fetchSource(id) {
    try {
      // video.s3_storage_key
      const { data: url } = await getAudioSignedURL(
        // "24ae5a40-9b09-4d42-ad6d-20557d0e8716/8!PNr-recorded-by-24ae5a40-9b09-4d42-ad6d-20557d0e8716.mp4"
        {
          id: id,
        }
      )
      this.currentAudioLink = url["audio_url"]
    } catch (error) {}
  }

  async fetchAudioFeedback() {
    try {
      const { data: feedback } = await getAudioFeedback(this.podcastId)
      this.audioFeedback = feedback
    } catch {}
  }

  modalShareResource(id) {
    const modal = {
      title: "Share Resource",
      content: ModalShareResource,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        id: this.podcastId,
        type: "audio",
      },
    }
    this.showModal(modal)
  }

  deletePodcastConfirmation() {
    const modal = {
      title: "Delete Podcast",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.deletePodcast,
        text: "Are you sure you want to delete this podcast? All its content will be lost forever.",
        confirmText: "Delete",
      },
    }

    this.showModal(modal)
  }

  async deletePodcast() {
    try {
      await deleteAudio(this.podcastId)
      this.$toast.success("Video deleted successfully.")
      this.$router.go(-1)
    } catch (error) {
    } finally {
    }
  }

  openModalDeclineAudio(audio: IAudioResource) {
    const modal: IModal = {
      title: "Manage Resource",
      content: ModalDeclineAudioResource,
      props: {
        audio,
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
/*@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");*/
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.tags {
  display: flex !important;
  padding: .5rem 0rem;
  flex-wrap: wrap;
  overflow: scroll;
  span {
    cursor: default;
    display: block;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 15px;
    padding: .5rem;
    margin: .3rem .3rem;
  }
}
.feedback {
  font-size: 0.8rem;
  color: var(--dark-text);

  p {
    margin-bottom: 0.5rem;
  }
}
.feedback__table {
  margin-top: 2rem;

  box-shadow: var(--default-box-shadow);
  background-color: white;
}

.feedback__details {
  span {
    color: var(--dark-text);
    font-size: 0.8rem;
  }
}

.feedback__title-section {
  display: flex;
  justify-content: space-between;
}

.feedback__container {
  border-bottom: 2px solid #f1f1f1;
  padding: 2rem;
}
.section-title-text {
  display: flex;
  flex-direction: column;
}

.section-title-text {
  display: flex;
  flex-direction: column;
}
// styles for the breadcrumbs
.resource__breadcrumb {
  display: flex;
  margin-bottom: 2rem;

  li {
    margin-right: 10px;
    color: var(--dark-text) !important;
    font-size: 0.9rem;
  }
  li a {
    color: var(--light-text);
  }
}

.resource__breadcrumb-title {
  font-size: 0.9rem;
  font-weight: 500;
}

// styles for video player

.resource {
  padding-bottom: 1rem;
}

// styles for resource details

.resource__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.resource__details-meta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource__title {
  font-size: 0.9rem;
  color: var(--dark-text);
  font-weight: bold;
  display: inline-block;
}

.resource__uploader {
  font-size: 0.8rem;
  color: var(--dark-text);
  margin-right: 0.1rem;
}

.resource__uploader-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.resource__uploader-image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.resource__date {
  font-size: 0.7rem;
  color: var(--light-text);
}
// styles for the analytics boxes

.analytics__grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.analytic__box {
  overflow: scroll;
  max-height: 170px;
  padding: 2rem;
  background-color: white;
  box-shadow: var(--default-box-shadow);

  span {
    color: var(--dark-text);
    font-size: 0.8rem;
    font-weight: bold;
  }

  p {
    font-size: 1.7rem;
    padding: 1rem 0rem;
    color: var(--dark-text);
  }
}

.not-loaded {
  min-height: 200px;
}
.videos {
  padding-left: 1rem;
  padding-right: 1rem;
}

.videos:hover {
  background-color: #f4f5f8;
}
.no-audios-box {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--light-text);
}

.podcast-table {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}

.subtitle__desc {
  display: block;
  color: var(--light-text);
}

.podcast__title {
  font-size: var(--small-text);
  color: var(--light-text);
  display: inline-block;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.podcasts__featured-subtitle {
  display: inline-block;
  padding: 0rem !important;
  padding-bottom: 1rem !important;
  font-weight: 600;
  color: var(--dark-text);
}

.podcasts__container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.podcast-table-title {
  font-weight: bold;
  color: var(--dark-text);
}

.podcast-table-author {
  color: var(--light-text);
  font-size: 0.7rem;
}

.podcast-table-cover {
  align-self: center;
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.podcast-details {
  display: flex;
  flex-direction: column;
}

.podcast-table-left {
}

audio {
  width: 100vw !important;
  background-color: green;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 5px;
}

.media-player {
  margin-bottom: 3rem;
}

.video__list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f0f0f0;

  div {
    display: flex;
    justify-content: center;
  }
  span {
    font-size: 0.8rem;
  }
}

.video__list {
  .view {
    justify-content: end;
    align-items: center;
    padding: 0.5rem 0rem;
  }
}

.video__list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  span {
    display: block;
    font-size: 0.8rem;
  }
}

.video__list-button {
  border: none;
  padding: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 5px;
  min-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: white;
  background-color: var(--tad-mint);
  text-align: center;
  cursor: pointer;
}

.video__list-header {
  div {
    width: 30%;
    display: flex;
    padding-bottom: 1rem;
  }
  .view {
    justify-content: end;
  }

  .status {
    display: flex;
    justify-content: flex-start;
  }
}

.video__list-header-title {
  color: var(--dark-text);
  font-size: 0.9rem !important;
  font-weight: bold !important;
}

.resource__detail {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .resource__details {
    display: flex !important;
    flex-direction: column !important;
  }

  .resource__details-meta {
    justify-content: flex-start !important;
    margin-bottom: 1rem !important;
  }
}

@media only screen and (max-width: 1000px) {
  .podcasts__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .podcasts__featured-subtitle {
    padding-top: 2rem !important;
  }
}

@media only screen and (max-width: 650px) {
  .podcasts__container {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 726px) {
  .analytics__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .analytics__grid {
    grid-template-columns: 100%;
  }
}
</style>