<template>
  <div class="border border-gray-400 hover:shadow-xl rounded-xl">
    <nuxt-link
      :to="`/resources/articles/${article.id}`"
      :title="article.title"
    >
      <div
        class="relative h-48 rounded-t-xl bg-cover"
        :style="`background-image: url(${getArticleImage(article)})`"
      >
        <!-- <img
          height="30"
          width="24"
          src="~/assets/images/play.png"
          class="absolute m-auto left-0 right-0 z-20"
        /> -->
      </div>
    </nuxt-link>
    <div class="p-3 bg-white rounded-b-xl border-t border-gray-400">
      <nuxt-link
        :to="`/resources/articles/${article.id}`"
        class="text-base block"
        :title="article.title"
      >
        {{
          article.title.length > titleLength
            ? `${article.title.substring(0, titleLength)}...`
            : article.title
        }}
      </nuxt-link>
      <nuxt-link
        :to="`/resources/profile/${article.owner_id}`"
        class="text-gray-500 block text-sm my-2"
      >
        {{ formatDate(article.created_at) }}
      </nuxt-link>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue } from "nuxt-property-decorator"

const ArticleCardProps = Vue.extend({
  props: {
    article: {
      type: Object,
      required: true,
    },
  },
})

export default class ArticleCard extends ArticleCardProps {
  titleLength = 30 as number
  fullApiUrl = process.env.fullApiUrl


  formatDate(dateString) {
    return dayjs(dateString).format("MMM DD YYYY")
  }

  getArticleImage(article) {
    return article.thumbnail_name
      ? `${this.fullApiUrl}/articles/thumbnail/${article.thumbnail_name}`
      : "/newspaper.jpeg"
  }
}
</script>
