<template>
  <div class="border border-gray-400 hover:shadow-xl rounded-xl document-card">
    <a :href="documentLink" target="_blank" :title="document.title">
      <div
        class="p-5 h-48 rounded-t-xl bg-no-repeat bg-center bg-white graphic"
      >
        <div
          class="
            h-40
            flex
            text-center
            justify-center
            items-center
            bg-white
            text-sm
            opacity-0
            leading-5
            overflow-hidden
          "
        >
          {{
            document.description.length > descLength
              ? `${document.description.substring(0, descLength)}...`
              : document.description
          }}
        </div>
      </div>
      <div class="p-3 bg-white rounded-b-xl border-t border-gray-400">
        <div class="text-base block truncate">
          {{ document.title }}
        </div>
        <div class="text-gray-500 block text-sm my-2">
          {{ formatDate(document.created_at) }}
        </div>
      </div>
    </a>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Component, Vue, Prop } from 'nuxt-property-decorator';

import { getDocument } from "~/api/resources"

// make interface for document

interface Document {
  id: string
  title: string
  description: string
  created_at: string
}


@Component({
  components: {},
})

export default class DocumentCard extends Vue {
   @Prop({ required: true }) document!: Document;

  descLength: number = 128
  documentLink: string = ""

  formatDate(dateString) {
    return dayjs(dateString).format("MMM DD YYYY")
  }

  mounted() {
    this.fetchDocument()
  }

  async fetchDocument() {
    const { data } = await getDocument(this.document.id)
    this.documentLink = data.link
  }
}
</script>

<style lang="scss" scoped>
.document-card .graphic {
  background-image: url(~/assets/images/resources/resource-document-stub.svg);
  background-size: 120px;
}
.document-card:hover .graphic > div {
  opacity: 0.8;
  transition: opacity 300ms;
}
</style>
