<template>
  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li v-for="item in slides" :key="img" class="splide__slide relative">
          <img :src="item.image" class="w-full rounded-xl aspect-video" />

          <!-- Overlay -->
          <div
            class="absolute left-0 right-0 top-0 bottom-0 text-center text-white align-middle rounded-xl"
            style="padding-top: 30%; background-color: rgba(0, 0, 0, 0.5)"
          >
            <h3 class="text-2xl font-bold py-6">
              {{ item.caption }}
            </h3>
            <div class="flex flex-wrap justify-center gap-x-4">
              <template v-for="(tag, key) in item.tags">
                <div :key="key" class="flex-shrink">{{ tag }}</div>
                <div
                  v-if="key !== Object.keys(item.tags).length - 1"
                  :key="`${key}_circle`"
                  class="flex-shrink pt-3"
                >
                  <div class="h-1 w-1 rounded-full bg-white"></div>
                </div>
              </template>
            </div>
            <div class="flex flex-wrap justify-center gap-x-4 my-6">
              <div class="flex-shrink">
                <tad-button primary>
                  <i class="las la-play la-fw"></i> Play
                </tad-button>
              </div>
              <div class="flex-shrink">
                <tad-button secondary>
                  <i class="las la-plus la-fw"></i> My List
                </tad-button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import Splide from "@splidejs/splide"
import "@splidejs/splide/dist/css/splide.min.css"
import TadButton from "../styled-components/TadButton"

const FeaturedProps = Vue.extend({
  props: {
    // eslint-disable-next-line vue/require-default-prop
    slides: {
      type: Object,
      required: true,
    },
  },
})

@Component({
  components: { TadButton },
})
export default class Featured extends FeaturedProps {
  mounted() {
    new Splide(".splide", {
      classes: {
        pagination: "splide__pagination pb-10",
        page: "splide__pagination__page",
      },
    }).mount()
  }
}
</script>
