<template>
  <div class="border border-gray-400 hover:shadow-xl rounded-xl">
    <nuxt-link
      :to="`/resources/videos/${video.id}`"
      :title="video.title"
    >
      <div
        class="relative h-48 rounded-t-xl bg-cover"
        :style="`background-image: url(${video.thumbnail_url});`"
      >
        <!-- <img
          height="30"
          width="24"
          src="~/assets/images/play.png"
          class="absolute m-auto left-0 right-0 z-20"
        /> -->
      </div>
    </nuxt-link>
    <div class="p-3 bg-white rounded-b-xl border-t border-gray-400">
      <nuxt-link
        :to="`/resources/videos/${video.id}`"
        class="text-base block"
        :title="video.title"
      >
        {{
          video.title.length > titleLength
            ? `${video.title.substring(0, titleLength)}...`
            : video.title
        }}
      </nuxt-link>
      <nuxt-link
        :to="`/resources/profile/${video.owner_id}`"
        class="text-gray-500 block text-sm my-2"
      >
        {{ formatDate(video.created_at) }}
      </nuxt-link>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue } from "nuxt-property-decorator"

const VideoCardProps = Vue.extend({
  props: {
    video: {
      type: Object,
      required: true,
    },
  },
})

export default class VideoCard extends VideoCardProps {
  titleLength = 30 as number

  formatDate(dateString) {
    return dayjs(dateString).format("MMM DD YYYY")
  }
}
</script>
