<template>
  <div>
    <div>
      <ul style="padding-bottom: 2rem">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>

    <loading-spinner v-if="isLoading">
      Getting available times...
    </loading-spinner>
    <div v-else class="booking__wrapper">
      <div class="welcome__container">
        <h1 class="title-text emoji__title">Availabilities</h1>
        <p
          v-if="isViewingSingleDayAvailabilities"
          class="small-text mobile__subtitle availability-date-header"
        >
          Times available on {{ day }}.
        </p>
        <p v-else class="subtitle-text availability-date-header">
          Showing times between
          {{ $dateFormat(availabilityOptions.dateStart) }} and
          {{ $dateFormat(availabilityOptions.dateEnd) }}
        </p>
      </div>

      <alert
        v-if="availabilities.length <= 0"
        :msg="'We did not find any matches.'"
        type="error"
      />
      <ul v-else class="appointments-list-container">
        <tad-button
          v-for="availability in availabilities"
          :key="availability.id"
          as="li"
          class="matches__button availability-time"
          @click.prevent="book(availability)"
        >
          <p v-if="!isViewingSingleDayAvailabilities" class="date">
            {{ formatDate(availability.time_start) }}
          </p>
          <p>
            {{ formatDate(availability.time_start) }} -
            {{ formatDate(availability.time_end) }}
          </p>
        </tad-button>
      </ul>

      <p class="booking__footer-text py-6">
        Please note that appointments are subject to availability. If you have a
        crisis and are not able to schedule immediate help, please refer to our
        <span class="text-teal-600 cursor-pointer"><a href="/gethelpnow/me">Crisis Support Page.</a></span>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue } from "nuxt-property-decorator"
import dayjs from "dayjs"
import customParseFormat from "dayjs/plugin/customParseFormat"
import LocalizedFormat from "dayjs/plugin/localizedFormat"
import {
  AppointmentMood,
  IAppointmentCreate,
  IAvailability,
  IUserProfile,
} from "~/interfaces"
import { createAppointment } from "~/api/appointments"
import {
  getProfessionalAvailabilities,
  getProfessionalAvailabilitiesInDateRange,
} from "~/api/availabilities"
import TadButton from "~/components/styled-components/TadButton"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import Alert from "~/components/Alert.vue"
dayjs.extend(customParseFormat)
dayjs.extend(LocalizedFormat)

@Component({
  middleware: ["authenticated"],
  components: { Alert, LoadingSpinner, TadButton },
})
export default class ProfessionalID extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile
  isLoading = true
  professional = {} as IUserProfile
  availabilities: IAvailability[] = []
  availabilityOptions = {
    date: this.$route.query.date as string,
    gender: this.$route.query.gender as string,
    zipCode: this.$route.query.zipCode as string,
    // For appointments across multiple days
    dateStart: this.$route.query.dateStart as string,
    dateEnd: this.$route.query.dateEnd as string,
    // mood tracking
  }

  patientMood = this.$route.query.mood as AppointmentMood
  isViewingSingleDayAvailabilities = true

  formatDate(dateString: string): string {
    const date = new Date(dateString)
    const options: Intl.DateTimeFormatOptions = {
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "numeric",
      minute: "numeric",
    }

    return date.toLocaleString("default", options)
  }

  async book(availability: IAvailability) {
    const date = this.$dateFormat(
      availability.time_start.concat("Z"),
      "YYYY-MM-DD"
    )
    const start_time = availability.start_time
    const end_time = availability.end_time
    try {
      const createdAppointment = {
        patient_id: this.currentUser.id,
        availability_id: availability.id,
        owner_id: availability.owner_id,
        organization_id: this.currentUser.organization_id,
        mood: this.patientMood,
      }
      await createAppointment(createdAppointment)
      this.$toast.success("Appointment booked.")
      await this.$router.push({
        path: "/bookings/success",
        query: {
          userId: this.professional.id,
          date: this.availabilityOptions.date as string,
          startTime: start_time,
          endTime: end_time,
        },
      })
    } catch (error) {
      this.$toast.error("Error booking appointment.")
    }
  }

  created() {
    this.fetchAvailabilities()
  }

  async fetchAvailabilities() {
    try {
      this.isLoading = true
      const professionalId = "af01af51-5402-458a-87c2-fea285ebde77"

      if (this.availabilityOptions.date) {
        this.isViewingSingleDayAvailabilities = true
        const { data } = await getProfessionalAvailabilities(
          professionalId,
          10,
          this.availabilityOptions.date
        )
        this.availabilities = data
      }
      // ...across multiple days
      else if (
        this.availabilityOptions.dateStart ||
        this.availabilityOptions.dateEnd
      ) {
        this.isViewingSingleDayAvailabilities = false
        const { data } = await getProfessionalAvailabilitiesInDateRange(
          professionalId,
          this.availabilityOptions.dateStart,
          this.availabilityOptions.dateEnd
        )
        this.availabilities = data
      }

      this.professional = this.availabilities[0].owner
    } catch (error) {
      this.$toast.error("Unable to fetch available times")
    } finally {
      this.isLoading = false
    }
  }

  get day() {
    return dayjs(this.availabilityOptions.date).format("dddd")
  }
}
</script>

<style lang="scss" scoped>
.booking__footer-text {
  font-size: 0.7rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
  max-width: 400px;
}
.booking__wrapper {
  background-color: #fff;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.appointments-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;

  .matches__button {
    text-align: center;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
  }
}
.loading-container {
  padding: 1rem 0;
}
.availability-time {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .date {
    font-size: 1.1em;
    font-weight: bold;
  }
}
.availability-date-header {
  text-align: center;
}
</style>
