<template>
  <div>
    <template v-if="currentStep == 1">
      <div>
        <ul class="pb-8">
          <li>
            <tad-button primary @click="$router.push(`/appointments`)"
              ><i class="las la-arrow-left mr-1"></i>Back</tad-button
            >
          </li>
        </ul>
      </div>
      <div
        class="
          bg-white
          p-12
          rounded-lg
          shadow-lg
          flex
          justify-center
          flex-col
          items-center
        "
      >
        <h1 class="text-center font-medium text-xl mb-8">
          What brought you to request an appointment?
        </h1>
        <div class="flex justify-around px-8 pb-16 flex-wrap transition-all">
          <div
            class="
              shadow-sm
              flex flex-col
              items-center
              bg-white
              rounded-sm
              p-8
              text-center
              m-4
              cursor-pointer
              border-2
              hover:border hover:border-blue-200
            "
            @click.prevent="moodSelected('Feeling Awful')"
          >
            <img
              src="~/assets/images/appointments/disface.png"
              alt="You're feeling awful"
            />
            <span class="inline-block text-sm text-gray-800"
              >Feeling Awful</span
            >
          </div>
          <div
            class="
              shadow-sm
              flex flex-col
              items-center
              bg-white
              rounded-sm
              p-8
              text-center
              m-4
              cursor-pointer
              border-2
              hover:border hover:border-blue-200
            "
            @click.prevent="moodSelected('Feeling Worse Than Normal')"
          >
            <img
              src="~/assets/images/appointments/concernface.png"
              alt="You're feeling worse"
            />
            <span class="inline-block text-sm text-gray-800"
              >Feeling Worse <br />
              Than Normal
            </span>
          </div>
          <div
            class="
              shadow-sm
              flex flex-col
              items-center
              bg-white
              rounded-sm
              p-8
              text-center
              m-4
              cursor-pointer
              border-2
              hover:border hover:border-blue-200
            "
            @click.prevent="moodSelected('Feeling Just Average')"
          >
            <img
              src="~/assets/images/appointments/averageface.png"
              alt="You're feeling just average"
            />
            <span class="inline-block text-sm text-gray-800"
              >Feeling Just <br />
              Average</span
            >
          </div>
          <div
            class="
              shadow-sm
              flex flex-col
              items-center
              bg-white
              rounded-sm
              p-8
              text-center
              m-4
              cursor-pointer
              border-2
              hover:border hover:border-blue-200
            "
            @click.prevent="moodSelected('Feeling Better Than Normal')"
          >
            <img
              src="~/assets/images/appointments/happyface.png"
              alt="Feeling Better Than Normal"
            />
            <span class="inline-block text-sm text-gray-800"
              >Feeling Better <br />
              Than Normal</span
            >
          </div>
          <div
            class="
              shadow-sm
              flex flex-col
              items-center
              bg-white
              rounded-sm
              p-8
              text-center
              m-4
              cursor-pointer
              border-2
              hover:border hover:border-blue-200
            "
            @click.prevent="moodSelected('Feeling Great')"
          >
            <img
              src="~/assets/images/appointments/bigsmile.png"
              alt="Feeling Great"
            />
            <span class="inline-block text-sm text-gray-800"
              >Feeling Great</span
            >
          </div>
        </div>
        <p class="text-xs text-gray-500 leading-7 text-center max-w-md">
          Please note that appointments are subject to availability. If you have
          a crisis and are not able to schedule immediate help, please refer to
          our
          <span class="text-teal-600 cursor-pointer"><a href="/gethelpnow/me">Crisis Support Page.</a></span>
        </p>
      </div>
    </template>

    <template v-if="currentStep == 2">
      <div>
        <ul class="pb-8">
          <li>
            <tad-button primary @click.prevent="goToStep(1)"
              ><i class="las la-arrow-left mr-1"></i>Back</tad-button
            >
          </li>
        </ul>
      </div>
      <div
        class="
          bg-white
          p-8
          rounded-lg
          shadow-lg
          flex
          justify-center
          flex-col
          items-center
        "
      >
        <h1 class="text-center font-medium text-xl mb-8">
          What day are you available?
        </h1>
        <div class="mt-8 mb-16 flex justify-between">
          <div class="container-calendar">
            <vc-date-picker
              v-model="date"
              is-expanded
              :min-date="new Date()"
              :attributes="attrs"
              color="blue"
              :disabled-dates="{ weekdays: [1, 7] }"
            />
            <tad-button class="w-full mt-4" @click.prevent="matches">
              See Availabilities
            </tad-button>
          </div>
        </div>
        <p class="text-xs text-gray-500 leading-7 text-center max-w-md">
          Please note that appointments are subject to availability. If you have
          a crisis and are not able to schedule immediate help, please refer to
          our
         <span class="text-teal-600 cursor-pointer"><a href="/gethelpnow/me">Crisis Support Page.</a></span>
        </p>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { AppointmentMood, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class Bookings extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile
  @Getter("isAuthenticated") isLoggedIn
  // grab the value from /bookings?tab=date
  tab = this.$route.query.tab
  mood = this.$route.query.mood



  currentStep = 1
  date = new Date()

  selectedMood: any  = ""

   mounted() {
    if (this.tab) {
      this.currentStep = 2
      this.selectedMood = this.mood
    }
  }

  attrs = [
    {
      key: "today",
      highlight: false,
      dates: new Date(),
    },
  ]

  public async matches() {
    if (!this.date) {
      this.$toast.error("Please select a date")
      return
    }

    return await this.$router.push({
      path: "/bookings/matches",
      query: {
        date: this.toDate(this.date),
        mood: this.selectedMood,
      },
    })
  }

  moodSelected(mood: AppointmentMood) {
    this.selectedMood = mood
    this.goToStep(2)
  }

  goToStep(step) {
    this.currentStep = step
  }

  toDate(date: Date) {
    return dayjs(date).format("YYYY-MM-DD")
  }
}
</script>
