<template>
  <div>
    <div>
      <ul style="padding-bottom: 2rem">
        <li>
          <tad-button
            primary
            @click="$router.push(`/bookings?tab=date&mood=${mood}`)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>

    <div
      class="
        bg-white
        p-12
        rounded-2xl
        shadow-xl
        flex flex-col
        justify-center
        content-center
        items-center
        mb-8
      "
    >
      <div class="mb-8">
        <h1 class="font-semibold text-center text-3xl">Available Counselors</h1>
        <p class="text-xs text-center text-gray-600">
          Counselors available on {{ selectedDateFormated }}
        </p>
      </div>
      <div v-if="isLoading">
        <loading-spinner />
      </div>
      <div
        v-if="!isLoading && availabilities && availabilities.length > 0"
        class=""
      >
        <div
          class="
            border
            w-full
            mb-8
            p-4
            grid
            sm:grid-cols-1
            md:grid-cols-2
            gap-4
          "
          v-for="availability in availabilities"
          :key="availability.id"
        >
          <div>
            <div class="flex items-center">
              <div class="h-24 mb-5">
                <img
                  class="h-24 rounded-sm mr-5"
                  :src="`${fullApiUrl}/users/file/${availability.profile_image}`"
                  alt=""
                />
              </div>
              <div>
                <p class="font-bold text-lg text-gray-700">
                  {{ availability.full_name }}
                </p>
                <p class="text-xs text-gray-600">
                  {{ availability.organization_name }}
                </p>
              </div>
            </div>

            <div class="mb-5">
              <p v-if="availability.bio" class="text-sm mb-2 font-normal">About Me</p>
              <p v-if="availability.bio" class="text-sm text-gray-600 font-light">
                {{ availability.bio }}
              </p>

              <!-- <p v-else class="text-xs text-gray-500 font-light">
                  No Bio To Display
                </p> -->
            </div>
          </div>

          <!-- List of available times -->
          <div class="flex flex-col justify-between h-full">
            <div class="grid grid-cols-2 gap-2">
              <div
                v-for="time in availability.availableTimes"
                :key="time.id"
                @click="selectTime(time.id, time.owner_id)"
                class="
                  time-slot
                  flex
                  justify-center
                  border
                  p-3
                  items-center
                  mb-2
                  bg-gray-100
                "
                :class="{
                  'time-slot-sel': selectedTimeId === time.id,
                }"
                :style="
                  selectedTimeId === time.id
                    ? {
                        backgroundColor: configPrimColor,
                      }
                    : {}
                "
              >
                <div>
                  <div class="text-xs">
                    {{ formatTime(time.time_start) }} -
                    {{ formatTime(time.time_end) }}
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="sm:flex-row sm:items-center sm:justify-between">
                <nav
                  class="mb-2 sm:mb-0 flex justify-end w-full"
                  role="navigation"
                  aria-label="Navigation"
                >
                  <li class="ml-5 first:ml-0">
                    <span
                      class="text-xs cursor-pointer"
                      :class="{
                        'text-gray-400': !canGoToPreviousPage(availability.id),
                      }"
                      @click="
                        canGoToPreviousPage(availability.id)
                          ? previousPage(availability.id)
                          : null
                      "
                    >
                      &lt;- Previous
                    </span>
                  </li>
                  <li class="ml-5 first:ml-0">
                    <span
                      class="text-xs cursor-pointer"
                      :class="{
                        'text-gray-400': !canLoadMoreTimes(availability.id),
                      }"
                      @click="
                        canLoadMoreTimes(availability.id)
                          ? nextPage(availability.id)
                          : null
                      "
                    >
                      Next ->
                    </span>
                  </li>
                </nav>
              </div>
              <div class="flex flex-col">
                <span class="text-xs text-gray-500 mb-3 text-right"
                  >*all times are in your local timezone</span
                >
                <tad-button class="mb-2" @click="bookAppointment">
                  Book
                </tad-button>
              </div>
            </div>
          </div>

          <!-- render this professional availabilities for the past in date -->
        </div>
      </div>
      <div v-else-if="!isLoading && availabilities.length < 1" class="w-full">
        <alert
          type="info"
          msg="There are no available counselors for the selected date. Please select another date."
          :dissmissable="false"
        />
      </div>
      <p class="text-xs text-gray-500 leading-7 text-center max-w-md">
        Please note that appointments are subject to availability. If you have a
        crisis and are not able to schedule immediate help, please refer to our
        <span class="text-teal-600 cursor-pointer"><a href="/gethelpnow/me">Crisis Support Page.</a></span>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue } from "nuxt-property-decorator"
import dayjs from "dayjs"
import {
  getAvailabilities,
  getProfessionalAvailabilities,
} from "~/api/availabilities"
import { createAppointment } from "~/api/appointments"
import TadButton from "~/components/styled-components/TadButton"
import Alert from "~/components/Alert.vue"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import GetHelpButton from "~/components/global/GetHelpButton.vue"

@Component({
  middleware: ["authenticated"],
  components: { GetHelpButton, LoadingSpinner, Alert, TadButton },
})
export default class Matches extends Vue {
  @Getter("config/pColor") readonly configPrimColor!: string
  @Getter("loggedInUser") userProfile
  @Getter("isAuthenticated") isLoggedIn
  fullApiUrl = process.env.fullApiUrl

  isSearchingDateRange = false
  availabilities: any = []
  skip = 0
  professionalsPageIndices: {} = {}

  isLoading = true
  matchesParams = {
    date: this.$route.query.date as string,
    mood: this.$route.query.mood as string,
  }
  selectedTimeId = null
  owner_id = null

  mood: any = ""

  canGoToPreviousPage(professionalId) {
    const currentIndex = this.professionalsPageIndices[professionalId] || 0
    return currentIndex > 0
  }

  get selectedDateFormated() {
    return dayjs(this.matchesParams.date).format(
      "MMM DD, YYYY"
    )
  }

  get formatTime() {
    return (time: string) => {
      return dayjs(time).format("hh:mm A")
    }
  }

  selectTime(timeId, ownerId) {
    if (this.selectedTimeId === timeId) {
      return // do nothing if the same time slot is clicked
    }
    this.selectedTimeId = timeId
    this.owner_id = ownerId
  }
  nextPage(professionalId) {
    if (!this.professionalsPageIndices[professionalId]) {
      this.$set(this.professionalsPageIndices, professionalId, 0)
    }
    this.professionalsPageIndices[professionalId] += 5 // change this to match the number of times you want to load per page
    this.getTimesForProfessional(professionalId)
  }

  previousPage(professionalId) {
    const currentIndex = this.professionalsPageIndices[professionalId] || 0
    if (currentIndex > 0) {
      this.professionalsPageIndices[professionalId] -= 5
      this.getTimesForProfessional(professionalId)
    }
  }

  created() {
    this.getTimes()
    this.mood = this.matchesParams.mood
  }

  async bookAppointment() {
    let data = {
      availability_id: this.selectedTimeId,
      owner_id: this.owner_id,
      mood: this.matchesParams.mood,
      organization_id: this.userProfile.organization_id,
      is_self_appointment: true,
      meeting_type: "in_person",
    }
    try {
      await createAppointment(data)
      this.$toast.success("Appointment booked successfully")
      this.$router.push("/appointments")
    } catch (error) {
      this.$toast.error("Error booking appointment")
    }
  }

  async getTimes() {
    try {
      let current_date = this.matchesParams.date
      const { data } = await getAvailabilities(current_date)

      // assign professionals to availabilities and add a totalTimes field to each
      this.availabilities = data.items.map((item) => ({
        ...item,
        totalTimes: item.total,
      }))

      const timePromises = this.availabilities.map((professional) =>
        this.getTimesForProfessional(professional.id)
      )

      await Promise.all(timePromises)

      this.isLoading = false
    } catch (error) {
      this.$toast.error(`Error fetching availabilities: ${error.message}`)
    }
  }

  canLoadMoreTimes(professionalId) {
    const professional = this.availabilities.find(
      (professional) => professional.id === professionalId
    )
    if (!professional) return false

    const currentIndex = this.professionalsPageIndices[professionalId] || 0
    const timesPerPage = 5 // change this to match the number of times you want to load per page

    // now we use the total times from the professional instead of the fixed number
    return professional.totalTimes > currentIndex + timesPerPage
  }

  async getTimesForProfessional(professionalId) {
    try {
      const skip = this.professionalsPageIndices[professionalId] || 0
      const availableTimesData = await getProfessionalAvailabilities(
        professionalId,
        skip,
        this.matchesParams.date
      )
      // find the professional in the availabilities array
      const professionalIndex = this.availabilities.findIndex(
        (professional) => professional.id === professionalId
      )

      // ensure professional exists in the availabilities array before setting property
      if (this.availabilities[professionalIndex]) {
        // update the professional's available times
        this.$set(
          this.availabilities[professionalIndex],
          "availableTimes",
          availableTimesData.data.items
        )
        // update total times for professional
        this.availabilities[professionalIndex].totalTimes =
          availableTimesData.data.total
      }
    } catch (error) {
      this.$toast.error(`Error fetching availabilities: ${error.message}`)
    }
  }
}
</script>

<style scoped>
.time-slot {
  cursor: pointer;
  transition: border-color 0.3s ease;
  border-radius: 5px;
}
.time-slot:hover {
  border-color: #bbb;
}
.time-slot-sel {
  color: #fff;
}
</style>
