<template>
  <div>
    <div>
      <ul style="padding-bottom: 2rem">
        <li>
          <tad-button primary @click="$router.push('/')"
            ><i class="las la-arrow-left mr-1"></i>Go Home</tad-button
          >
        </li>
      </ul>
    </div>

    <div class="booking__wrapper">
      <div class="welcome__container">
        <h1 class="title-text emoji__title booking-success-header">
          Appointment Booked Successfully
        </h1>
      </div>
      <div class="appointment__success-container">
        <img src="~/assets/images/appointments/check.png" alt="" />
        <p class="appointment__success-text">
          Appointment booked with
          <span class="appointment__success-highlight">
            <NuxtLink to="/">
              <span v-if="user" class="font-weight-bold">
                {{ user.full_name }}
              </span>
            </NuxtLink></span
          >
        </p>
        <p class="appointment__success-text">
          on
          <span class="appointment__success-highlight">
            <NuxtLink to="/">
              {{ $dateFormat(selectedDate) }} at
              {{ selectedStartTime }}</NuxtLink
            >
          </span>
        </p>
      </div>
        <p class="booking__footer-text ">
          Please note that appointments are subject to availability. If you have
          have a crisis and are not able to schedule immediate help, please
          refer to our
          <span class="text-teal-600 cursor-pointer"><a href="/gethelpnow/me">Crisis Support Page.</a></span>
        </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Prop } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  middleware: ["authenticated"],
    components: {  TadButton },
})
export default class Page6 extends Vue {
  @Getter("professional/professionalOneUser") professionalOneUser
  @Prop({ default: "" }) readonly professionalName!: string
  public user: IUserProfile | null = null

  created() {
    this.user = this.professionalOneUser(this.selectedProfessionalId)
  }

  currentDateTime() {
    return dayjs().format("MMMM Do YYYY, h:mm:ss a")
  }

  get selectedDate() {
    return this.$route.query.date as string
  }

  get selectedStartTime() {
    const time = this.$route.query.startTime as string
    const today = dayjs().format("YYYY-MM-DD")
    return dayjs(`${today} ${time}`.concat("Z")).format("hh:mm a")
  }

  get selectedProfessionalId() {
    return this.$route.query.userId
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Dashboard")
  }
}
</script>

<style lang="scss" scoped>
.booking__footer-text {
  font-size: 0.7rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
  max-width: 400px;
}
.booking__wrapper {
  background-color: #fff;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.booking-success-header {
  text-align: center;
}
.appointment__success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.appointment__success-text {
  font-size: 0.9rem;
  font-weight: 800;
  color: var(--dark-text);
}

.appointment__success-highlight a {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}
</style>
