<template>
  <div>
    <!-- Back Button -->
    <div class="block py-1">
      <tad-button primary @click="$router.go(-1)"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
    </div>

    <!-- Page title -->
    <SharedPageTitle title="Documents" />

    <template v-if="documents.length && !loading"
      ><div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-8">
        <div
          v-for="document in documents"
          :key="document.id"
          
        >
          <ResourcesDocumentCard :document="document" />
        </div>
      </div>
    </template>
    <template v-else-if="!documents.length && loading">
      <SharedLoading text="Loading documents..." />
    </template>
    <template v-else>
      <div class="no-audios-box">
        <p>No Documents To Display</p>
      </div>
    </template>

    <div class="video__list-pagination">
       <div class="mt-4">
          <Pagination
            :currentPage="currentPage"
            :totalPages="totalPages"
            :totalRecords="totalRecords"
            @nextPage="nextPage"
            @prevPage="prevPage"
          />
        </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { getArticles } from "~/api/articles"
import { IArticle } from "~/interfaces"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"
import { getDocuments } from "~/api/resources"

@Component({
  components: { TadButton, OrangeButton },
})
export default class index extends Vue {
  fullApiUrl = process.env.fullApiUrl

  loading = false as Boolean
  documents = []

  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0

  searchQuery = ""
  filteredDocuments: any[] = []

  options = {
    offset: 0,
    limit: 16,
  }

  mounted() {
    this.fetchDocuments()
  }

   async fetchDocuments() {
    try {
      const { data: docs } = await getDocuments(
        this.searchQuery,
        this.options,
      )
      this.documents = docs.items
      this.filteredDocuments = this.documents
    this.totalRecords = docs.total
    this.totalPages = Math.ceil(docs.total / this.options.limit)


    } catch (error) {}
  }

  async nextPage() {
    if (this.currentPage < this.totalPages) {
      this.currentPage++
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.fetchDocuments()
    }
  }

  async prevPage() {
    if (this.currentPage > 1) {
      this.currentPage--
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.fetchDocuments()
    }
  }


  formatUpdatedAt(time: string) {
    return dayjs(time).format(" MMM DD YYYY")
  }

}
</script>


