<template>
  <div>
    <div>
      <ul style="padding-bottom: 1rem">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>
    <div class="welcome__container">
      <h1 class="title-text">Care Team</h1>
      <p class="small-text">
        Add individuals to your care team that are part of your organization.
      </p>
    </div>

    <div>
      <tad-button @click.prevent="modalCareTeam"
        >Add New Care Team Member</tad-button
      >
    </div>
    <div class="team">
      <div class="liked__resources-container">
        <div class="liked__resource-title">
          <i class="las la-hand-holding-heart"></i> Care Team
        </div>
        <div v-if="careTeam.length">
          <div
            v-for="request in careTeam"
            :key="request.id"
            class="closefriend__list-item"
          >
            <div class="friend">
              <img
                :src="`${fullApiUrl}/users/file/${request.user.profile_image}`"
                alt=""
              />
              <span>{{ request.user.full_name }}</span>
            </div>
            <div class="closefriend__buttons">
              <i
                class="las la-ellipsis-h la-2x"
                title="see request details"
                @click.prevent="modalRemove(request)"
              ></i>
            </div>
          </div>
        </div>
        <div v-else class="liked__resource">
          <span class="resource__title">You do not have a support team.</span>
        </div>
      </div>
    </div>

    <div class="team">
      <div class="liked__resources-container">
        <div class="liked__resource-title">
          <i class="las la-clock"></i> Pending Requests
        </div>
        <div v-if="pendingRequest.length">
          <div
            v-for="request in pendingRequest"
            :key="request.id"
            class="closefriend__list-item"
          >
            <div class="friend">
              <img
                :src="`${fullApiUrl}/users/file/${request.user.profile_image}`"
                alt=""
              />
              <span>{{ request.user.full_name }}</span>
            </div>
            <div class="closefriend__buttons">
              <i
                title="see request details"
                class="las la-ellipsis-h la-2x"
                @click.prevent="modalTeamActions(request)"
              ></i>
            </div>
          </div>
        </div>
        <div v-else class="liked__resource">
          <span class="resource__title"
            >You do not have any pending requests.</span
          >
        </div>
      </div>
    </div>

    <div class="team">
      <div class="liked__resources-container">
        <div class="liked__resource-title">
          <i class="las la-paper-plane"></i> Pending Sent Requests
        </div>
        <div v-if="sentRequest.length">
          <div
            v-for="request in sentRequest"
            :key="request.id"
            class="closefriend__list-item"
          >
            <div class="friend">
              <div class="friend-img">
                <img
                  :src="`${fullApiUrl}/users/file/${request.user.profile_image}`"
                  alt=""
                />
              </div>
              <span>{{ request.user.full_name }}</span>
            </div>
            <div class="closefriend__buttons">
              <span>{{ request.status.toUpperCase() }}</span>
            </div>
          </div>
        </div>
        <div v-else class="liked__resource">
          <span class="resource__title">You have not sent any requests.</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import ModalAddCareTeam from "~/components/modals/ModalAddCareTeam.vue"
import { getSentRequest, getPendingRequest, getCareTeam } from "~/api/teams"
import ModalAcceptDeclineTeam from "~/components/modals/ModalAcceptDeclineTeam.vue"
import ModalRemoveCareTeam from "~/components/modals/ModalRemoveCareTeam.vue"

interface CareTeam {
  id: number
  user: {
    id: number
    full_name: string
    profile_image: string
  }
  status: string
}

interface Request {
  id: number
  user: {
    id: number
    full_name: string
    profile_image: string
  }
  status: string
}

@Component({
  middleware: ["authenticated"],
  components: { TadButton, TadInput },
})
export default class careteam extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  careTeam: CareTeam[] = []
  pendingRequest: Request[] = []
  sentRequest: Request[] = []

  fullApiUrl = process.env.fullApiUrl

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("care.team.access")) {
      this.fetchCareTeam()
    }
    if (permissions.includes("care.team.access")) {
      this.fetchCareTeamPending()
    }
    if (permissions.includes("care.team.access")) {
      this.fetchCareTeamRequest()
    }
  }

  modalCareTeam() {
    const modal = {
      title: "Add New Care Team Member",
      content: ModalAddCareTeam,
      props: {
        onclose: async () => {
          await this.fetchCareTeam()
          await this.fetchCareTeamPending()
          await this.fetchCareTeamRequest()
        },
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  modalTeamActions(request) {
    const modal = {
      title: `${request.user.full_name} sent care team request.`,
      content: ModalAcceptDeclineTeam,
      props: {
        onclose: async () => {
          await this.fetchCareTeam()
          await this.fetchCareTeamPending()
          await this.fetchCareTeamRequest()
        },
        width: "100%",
        request: request,
      },
    }
    this.showModal(modal)
  }

  modalRemove(request) {
    const modal = {
      title: "Remove Care Team Member",
      content: ModalRemoveCareTeam,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        request: request,
      },
    }
    this.showModal(modal)
  }

  async fetchCareTeamRequest() {
    const { data: sentRequest } = await getSentRequest()
    this.sentRequest = sentRequest
  }

  async fetchCareTeamPending() {
    const { data: pendingRequest } = await getPendingRequest()
    this.pendingRequest = pendingRequest
  }

  async fetchCareTeam() {
    const { data: careTeam } = await getCareTeam()
    this.careTeam = careTeam
  }
}
</script>

<style lang="scss" scoped>
.team {
  margin-top: 2rem;
}

.liked__resources-container {
  box-shadow: var(--default-box-shadow);
  border-radius: 30px;
  margin-bottom: 1rem;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
}

.liked__resource-title {
  font-weight: 700;
  color: var(--dark-text);
  border-bottom: 1px solid #eaeaf2;
  padding: 1rem;
  font-size: 0.875rem;
}

.liked__resource {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaf2;

  font-size: 0.875rem;
  color: #41496b;
  font-weight: 400;
}

.resource__title {
  font-size: 0.9rem;
  color: var(--dark-text);
}

.closefriend__list-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(228, 228, 228);

  img {
    height: 50px;
  }
}

.friend {
  display: flex;
  align-items: center;
  align-content: center;
  img {
    border-radius: 5px;
    height: 50px;
  }

  span {
    font-size: 0.8rem;
    color: var(--dark-text);
    margin-left: 0.5rem;
  }
}

@media only screen and (max-width: 820px) {
  .welcome__container {
    margin-bottom: 2rem;
  }
}
</style>
