<template>
  <div>
    <div>

      <form class="edit-profile-container" @submit.prevent="submit">
        <div class="welcome__container">
        <span style="text-underline: #1a535c; text-decoration: underline"
          ><nuxt-link to="/profile" style="color: #1a535c"
            >view profile</nuxt-link
          ></span
        >
        <h1 class="title-text mt-5">Edit Details</h1>
        <p class="small-text">Make changes to your profile down below.</p>
      </div>
        <p class="edit-profile-title">Basic Information</p>

        <div class="edit-profile-images">
          <div>
            <label
              for="bio"
              class="small-text"
              style="
                margin-bottom: 1rem;
                display: inline-block;
                color: var(--dark-text);
              "
              >Update Profile Image</label
            >
            <div class="profile-img-wrapper">
              <img
                class="profile-img"
                :src="$userimg(user.profile_image)"
                :alt="user.full_name"
              />

              <!-- <btn-profile-upload :onUpload="fetchUserDetails" /> -->
              <btn-file-upload
                :upload="(file) => uploadProfileImg(file)"
                width="200"
                :loading="isWorking"
                >Upload Profile Image</btn-file-upload
              >
            </div>
          </div>
          <div class="cover-photo">
            <label
              for="cover"
              class="small-text"
              style="
                margin-bottom: 1rem;
                display: inline-block;
                color: var(--dark-text);
              "
              >Update Cover Photo Image</label
            >
            <div class="profile-img-wrapper">
              <img
                class="profile-img"
                :src="$usercoverimg(user.cover_image)"
                :alt="user.cover_image"
              />

              <!-- <btn-cover-upload :onUpload="fetchUserDetails" /> -->
              <btn-file-upload
                :upload="(file) => uploadCoverImg(file)"
                width="200"
                :loading="isWorking"
                >Upload Cover Image</btn-file-upload
              >
            </div>
          </div>
        </div>

        <div class="form-grid">
          <div class="form-input-wrapper mb-6">
            <label for="firstName" class="small-text">Full Name</label>
            <tad-input
              id="firstName"
              v-model="user.full_name"
              type="text"
              name="firstName"
              required
            />
          </div>
          <div class="form-input-wrapper mb-6">
            <label for="phoneNumber" class="small-text">Phone Number</label>
            <tad-input
              id="phoneNumber"
              v-model="user.phone_number"
              type="text"
              name="phoneNumber"
            />
          </div>
          <div class="form-input-wrapper mb-6">
            <label for="gender" class="small-text">Gender</label>
            <select
              id="gender"
              v-model="user.gender"
              class="select__container"
              name="gender"
            >
              <option value="male">Male</option>
              <option value="female">Woman</option>
              <option value="queer">Genderqueer/Non Binary</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="form-input-wrapper mb-6">
            <label for="gender" class="small-text">Pronouns</label>
            <select
              id="gender"
              v-model="user.preferred_pronouns"
              required
              class="select__container"
              name="gender"
            >
              <option value="he">He (He/Him/his)</option>
              <option value="she">She (She/Her/Hers)</option>
              <option value="xe">Xe (Xe/Xem/Xyrs)</option>
              <option value="ze">Ze (Ze/Hir/Hirs)</option>
              <option value="ey">Ey (Ey/Em/Eirs)</option>
              <option value="hir">Hir (Hir/Hir/Hirs)</option>
              <option value="fae">Fae (Fae/Faer/faers)</option>
              <option value="hu">Hu (Hu/Hu/Humes)</option>
              <option value="they">They (They/Them/Theirs)</option>

              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div v-if="user.type === 'admin' || 'professional'">
          <p class="subtitle-text">Location</p>
        </div>

        <div v-if="user.type === 'admin' || 'professional'" class="form-grid">
          <div class="form-input-wrapper mb-6">
            <label for="city" class="small-text">City</label>
            <tad-input
              id="city"
              v-model="user.city"
              type="text"
              name="city"
              required
            />
          </div>
          <div class="form-input-wrapper mb-6">
            <label for="zip" class="small-text">Zip</label>
            <tad-input
              id="zip"
              v-model="user.zip_code"
              type="number"
              name="zip"
            />
          </div>
          <div class="form-input-wrapper mb-6">
            <label for="state" class="small-text">State</label>
            <select
              id="state"
              v-model="user.state"
              class="select__container"
              name="state"
            >
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
        </div>

        <div>
          <p class="subtitle-text">About Me</p>
        </div>
        <div class="form-input-wrapper mb-6">
          <label
            for="bio"
            class="small-text"
            style="margin-bottom: 1rem; display: inline-block"
            >Biography</label
          >
          <tad-input
            id="bio"
            v-model="user.bio"
            as="textarea"
            name="bio"
            cols="30"
            rows="10"
          ></tad-input>
        </div>

        <tad-button
          class="setting__form-submit-button"
          :submitting="isWorking"
          @click.prevent="submit"
          >Update Profile</tad-button
        >
      </form>
    </div>

    <div v-can="'license.create'">
      <Licenses :key="licenseRefreshKey" @licensesUpdated="onLicensesUpdated"/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { IUserProfile, IUserProfileUpdate } from "~/interfaces"
import { updateMe, uploadUserCoverImage, uploadUserImage } from "~/api/users"
import BtnProfileUpload from "~/components/profile/BtnProfileUpload.vue"
import BtnCoverUpload from "~/components/profile/BtnCoverUpload.vue"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import BtnFileUpload from "~/components/BtnFileUpload.vue"
import Licenses from "~/components/Licenses.vue"

@Component({
  middleware: ["authenticated"],
  components: {
    Licenses,
    BtnFileUpload,
    BtnProfileUpload,
    TadButton,
    TadInput,
    BtnCoverUpload,
  },
})
export default class ProfileEdit extends Vue {
  user = this.$auth.user as unknown as IUserProfile
  isWorking = false
  licenseRefreshKey: number = 0

  mounted() {}
  created() {
    this.fetchUserDetails()
  }

  async fetchUserDetails() {
    const response = await this.$auth.fetchUser()
    if (response) {
      this.user = { ...response.data }
    }
  }

  public cancel() {
    this.$router.back()
  }

  async submit() {
    try {
      this.isWorking = true
      const updatedProfile: IUserProfileUpdate = {
        full_name: this.user.full_name,
        email: this.user.email,
        bio: this.user.bio,
        gender: this.user.gender,
        state: this.user.state,
        city: this.user.city,
        phone_number: this.user.phone_number,
        zip_code: this.user.zip_code,
        preferred_pronouns: this.user.preferred_pronouns,
      }
      await updateMe(updatedProfile)
      await this.$auth.fetchUser()
      this.$toast.success("Profile updated successfully.")
      this.$router.push("/profile")
    } catch (error) {
      this.$toast.error("Error updating profile.")
    } finally {
      this.isWorking = false
    }
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Profile")
  }

  async uploadProfileImg(file: File) {
    const formData = new FormData()
    formData.append("file", file)
    try {
      this.isWorking = true
      await uploadUserImage(formData)
      this.$toast.success("Uploading profile image...")
      this.fetchUserDetails()
      // Artificial delay to give time for the backend to process and upload the image to linode
      const reloadDelay = new Promise((resolve) => setTimeout(resolve, 3000))
      await reloadDelay
      window.location.reload()
    } catch (error) {
      this.$toast.error("Error uploading image")
      this.isWorking = false
    }
  }

  async uploadCoverImg(file: File) {
    const formData = new FormData()
    formData.append("file", file)
    try {
      this.isWorking = true
      await uploadUserCoverImage(formData)
      this.$toast.success("Uploading cover image...")
      this.fetchUserDetails()
      // Artificial delay to give time for the backend to process and upload the image to linode
      const reloadDelay = new Promise((resolve) => setTimeout(resolve, 3000))
      await reloadDelay
      window.location.reload()
    } catch (error) {
      this.$toast.error("Error uploading image")
      this.isWorking = false
    }
  }

  onLicensesUpdated() {
    this.licenseRefreshKey++;
  }
}
</script>

<style lang="scss" scoped>
.setting__form-submit-button {
  width: 100%;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
}
.profile-img-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
  align-items: flex-start;
  .profile-img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
  }
}

label {
  color: var(--dark-text) !important;
}

.edit-profile-container {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.edit-profile-title {
  font-weight: bold;
  color: var(--dark-text);
  margin-bottom: 2rem;
}

.edit-profile-images {
  display: flex;
  div {
    margin-right: 1rem;
  }
}

.cover-img-container {
  display: flex;
  img {
    height: 50px;
    width: 50px;
    margin-right: 0.5rem;
    cursor img.selected {
      border: 2px solid #333;
    }
  }
}

.cover-img-setting {
  margin-left: 2rem;
}
</style>
