<template>
  <div>
    <div>
      <ul style="padding-bottom: 1rem">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>
    <div class="welcome__container">
      <h1 class="title-text">Emergency Contacts</h1>
      <p class="small-text">
        Add someone who could be contacted for help during an emergency. You can
        add only 3 people.
      </p>
    </div>

    <div class="safetyteam__table">
      <div class="safetyteam__header">
        <div class="safetyteam__table-text">
          <span class="table-title">Add Emergency Contact</span>
        </div>
        <div>
          <tad-button @click.prevent="modalEmergencyContact">Add</tad-button>
        </div>
      </div>
      <div class="table__labels">
        <span>Name</span>
        <span>Action</span>
      </div>
      <div v-if="contacts.length">
        <div v-for="contact in contacts" :key="contact.id" class="contact">
          <span>{{
            contact.full_name[0] + contact.full_name.replace(/./g, "*")
          }}</span>
          <tad-button @click.prevent="viewContact(contact)">View</tad-button>
        </div>
      </div>
      <div v-else class="table__no-data">
        <span> You have not added any emergency contacts </span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import ModalAddEmergencyContact from "~/components/modals/ModalAddEmergencyContact.vue"

import ModalViewContact from "~/components/modals/ModalViewContact.vue"
import { getContacts } from "~/api/teams"

interface Contact {
  id: number
  full_name: string
  email: string
  phone: string
  relationship: string
  created_at: string
  updated_at: string
}

@Component({
  middleware: ["authenticated"],
  components: { TadButton, TadInput },
})
export default class safetyteam extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  contacts: Contact[] = []

  mounted() {
    this.fetchContacts()
  }

  async fetchContacts() {
    const { data: contacts } = await getContacts()
    this.contacts = contacts
  }

  modalEmergencyContact() {
    const modal = {
      title: "Add Emergency Contact",
      content: ModalAddEmergencyContact,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
      },
    }
    this.showModal(modal)
  }

  viewContact(contact) {
    const modal = {
      title: "Emergency Contact",
      content: ModalViewContact,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        contact: contact,
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.contact {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 233, 233);
  span {
    font-size: 0.8rem;
    color: var(--dark-text);
  }
}
.table__no-data {
  padding: 1rem;
  display: flex;
  min-height: 300px;
  justify-content: center;
  align-items: center;
  span {
    font-size: 0.8rem;
    color: var(--light-text);
  }
}
.safetyteam__table {
  box-shadow: var(--default-box-shadow);
  background-color: white;
  border-radius: 5px;
  padding-bottom: 2rem;
}

.safetyteam__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.safetyteam__table-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-title {
  font-weight: 560;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


.table__labels {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgb(233, 233, 233);
  span {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--dark-text);
  }
}

@media only screen and (max-width: 820px) {
  .welcome__container {
    margin-bottom: 2rem;
  }
}
</style>
