<template>
  <div>
    <div class="welcome__container">
      <tad-button primary @click="$router.go(-1)"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
    </div>

    <ProfileCard />
    <div class="content__grid">
      <LikedResources />
      <SupportNetwork v-can="'support.team.access'"/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import LikedResources from "~/components/profile/LikedResources.vue"
import SupportNetwork from "~/components/profile/SupportNetwork.vue"
import ProfileCard from "~/components/profile/ProfileCard.vue"

@Component({
  middleware: ["authenticated"],
  components: { TadButton, LikedResources, SupportNetwork, ProfileCard },
})
export default class NewProfile extends Vue {}
</script>

<style lang="scss" scoped>
.content__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

@media only screen and (max-width: 985px) {
  .content__grid {
    display: grid;
    grid-template-columns: 100%;
  }
}
</style>
