<template>
  <div>
    <!-- resource breadcrumb -->
    <div class="mb-6">
      <ul class="resource__breadcrumb">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
    </div>
    <div class="resource" v-if="resource">
      <div class="welcome__container">
        <h1 class="title-text">{{ resource.name }}</h1>
        <p class="small-text">{{ resource.description }}</p>
      </div>

      <ul class="tags-list" v-if="tags.length > 0">
        <li class="tag" v-for="(tag, index) in tags" :key="index">
          <span>{{ tag }}</span>
        </li>
      </ul>

      <div class="mb-6" v-if="resource.type === 'video'">
        <Youtube :video="youtube_parser(resource.link)" />
      </div>

      <div class="mb-10">
        <a :href="resource.link" target="_blank"
          ><tad-button
            >Visit Resource Link
            <i class="las la-external-link-alt"></i></tad-button
        ></a>
        <tad-button primary>
          <NuxtLink
            class="video__button"
            :to="`/resources/manage/external-resources/edit/${resource.id}`"
            >Edit Resource</NuxtLink
          >
        </tad-button>
        <!-- <tad-button primary> Edit Resource </tad-button> -->
        <tad-button danger @click.prevent="modalDeleteResource"
          ><i class="las la-trash"></i> Delete
        </tad-button>
      </div>
      <div>
        <div class="mb-6">
          <strong>
            <p class="mb-3">RESOURCE TYPE</p>
          </strong>
          <span v-if="resource.type">
            {{ resource.type.toUpperCase() }}
          </span>
        </div>
        <div class="mb-6">
          <strong>
          <p class="mb-3">RESOURCE SUMMARY</p>
        </strong>
        <span>
          {{ resource.summary }}
        </span>
        </div>
        
        <div class="mb-6">
          <strong>
            <p class="mb-3">Available for:</p>
          </strong>
          <span>
            <ul class="tags-list" v-if="resource.target_audience">
        <li v-for="(tag, index) in resource.target_audience" :key="index">
          <span>{{ tag }}</span>
        </li>
      </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Getter,
  Action,
  Mutation,
} from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { getSingleExternalResource } from "~/api/resources"
import Youtube from "~/components/global/Youtube.vue"
import ModalDeleteExternalResource from "~/components/modals/ModalDeleteExternalResource.vue"

@Component({
  components: { TadButton },
  // layout: "patient",
})
export default class SingleExternalResource extends Vue {
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal
  id = this.$route.params.id
  resource: any = {}
  tags: any = []

  mounted() {
    this.fetchExternalResource()
  }

  async fetchExternalResource() {
    try {
      const { data: resource } = await getSingleExternalResource(this.id)
      this.resource = resource
      this.tags = resource.tags
    } catch {
      this.$toast.error("Error getting resource")
    }
  }

  youtube_parser(url) {
    var regExp =
      /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/
    var match = url.match(regExp)
    return match && match[7].length == 11 ? match[7] : false
  }

  modalDeleteResource() {
    const modal = {
      title: "Delete External Resource",
      content: ModalDeleteExternalResource,
      props: {
        id: this.id,
        onclose: this.getModal.props?.onclose,
      },
    }
    this.showModal(modal)
  }

  // modalEditResource() {
  //   const modal = {
  //     title: "Delete External Resource",
  //     content: ModalDeleteExternalResource,
  //     props: {
  //       id: this.id,
  //       onclose: this.getModal.props?.onclose,
  //     },
  //   }
  //   this.showModal(modal)
  // }
}
</script>

<style lang="scss" scoped>
.tags-list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  .tag {
    font-size: 0.8rem;
    background-color: #f5f5fd;
    text-align: center;
    border-radius: 100px;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0.25rem 0.5rem;
    color: #333333;
    min-width: 75px;
    gap: 0.5rem;
    .btn-remove-tag {
      background-color: transparent;
      border: none;
      color: var(--dark-text);
      border-radius: 100%;
      cursor: pointer;
      &:hover {
        color: rgb(255, 0, 0);
      }
    }
  }
}

button {
  a {
    color: white !important;
  }
}
.resource {
  background-color: white;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  padding: 2rem;
}
</style>
