<template>
  <div>
    <div class="pb-4">
      <ul class="pb-4">
        <li>
          <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
        </li>
      </ul>
      <h1 class="text-2xl font-bold mb-2">Create External Resource</h1>
      <p class="text-sm mb-4">
        Fill out the form below to create an external resource.
      </p>
    </div>
    <div class="p-8 bg-white  rounded-lg">
      <form @submit.prevent="submit">
        <div class="mb-6">
          <label for="type" class="block text-sm font-bold mb-2">Resource Type</label>
          <select v-model="type" name="type" required class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500">
            <option value="video" selected>YouTube Video</option>
            <option value="podcast">Podcast</option>
            <option value="article">Article</option>
          </select>
        </div>
        <div class="mb-6">
          <label for="title" class="block text-sm font-bold mb-2">Resource Title</label>
          <input class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" v-model="title" name="title" required type="text" />
        </div>
        <div class="mb-6">
          <label for="link" class="block text-sm font-bold mb-2">Resource Link (URL)</label>
          <input class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="link" v-model="link" name="link" required type="text" />
        </div>
        <div class="mb-6">
          <label for="description" class="block text-sm font-bold mb-2">Description</label>
          <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" v-model="description" name="description" required type="text" @keyup.enter="submit" />
        </div>
        <div class="mb-6">
          <label for="title" class="block text-sm font-bold mb-2">Select Audience (Select all that apply.)</label>
        </div>

        <div v-if="roles.length" class="mb-9">
          <div v-for="role in roles" :key="role.id" class="flex items-center mb-2">
            <input type="checkbox" :value="role.name" v-model="audience" name="audience" class="mr-2">
            <label for="audience">{{ role.name }}</label>
          </div>
        </div>

        <div class="mb-9">
          <label for="tags" class="block text-sm font-bold mb-2">Add Tags</label>
          <ul class="flex flex-wrap gap-2 mb-4" v-if="tags.length > 0">
            <li v-for="(tag, index) in tags" :key="index" class="flex items-center bg-gray-200 text-gray-700 rounded-full py-1 px-2">
              <span>{{ tag }}</span>
              <button class="ml-2 text-red-500" @click.prevent="removeTag(index)">
                <i class="las la-times"></i>
              </button>
            </li>
          </ul>
          <div class="flex gap-2">
            <select v-model="selectedTag" class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500">
              <option v-for="(tag, index) in tagNames" :key="index" :value="tag">
                {{ tag }}
              </option>
            </select>
            <tad-button primary @click.prevent="addTag">Add Tag</tad-button>
          </div>
        </div>

        <div class="mb-6">
          <label for="summary" class="block text-sm font-bold mb-2">Resource Summary</label>
          <textarea class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="summary" v-model="summary" name="summary" required></textarea>
        </div>

        <div class="mb-6">
          <label for="video-thumbnail" class="block text-sm font-bold mb-2">Select a thumbnail</label>
          <span class="block text-sm mb-2">Add a custom thumbnail. We recommend you use a 16:9 aspect ratio high-resolution image. <b><em>(Max size of 2MB)</em></b></span>
          <tad-input id="video-thumbnail" type="file" class="border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500" @change="onImageSelected" accept="image/*" required />
        </div>

        <tad-button primary @click.prevent="submit" :disabled="isLoading" class="w-full">
          <span v-if="isLoading">Uploading Please Wait...</span>
          <span v-else>Create External Resource</span>
        </tad-button>
      </form>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Getter, Vue } from "nuxt-property-decorator"
import { createExternalResources } from "~/api/resources"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { getTagNames } from "~/api/articles"
import { getRoles } from "~/api/roles"

@Component({
  components: { TadButton, TadInput },
})
export default class AudioUpload extends Vue {
  @Getter("loggedInUser") userProfile
  type: string = ""
  title: string = ""
  link: string = ""
  description: string = ""
  selectedImage: any = ""
  fileSize = null
  summary: string = ""
  tagNames: string[] = []
  selectedTag = ""
  tags: any = []
  roles: any = []
  audience: any = []
  isLoading: boolean = false

  mounted() {
    this.fetchTagNames()
    this.fetchRoles()
  }

  addTag() {
    if (!this.selectedTag) return
    this.tags.push(this.selectedTag.trim())
    this.selectedTag = ""
  }

  removeTag(index: number) {
    this.tags.splice(index, 1)
  }

  async fetchTagNames() {
    try {
      const { data: tagNames } = await getTagNames()
      this.tagNames = tagNames
    } catch (error) {
      this.$toast.error(`Error loading tags`)
    }
  }

  async fetchRoles() {
    try {
      let { data: roles } = await getRoles()
      roles = roles.filter(function (item) {
        return item.name !== "admin"
      })
      roles = roles.filter(function (item) {
        return item.name !== "super"
      })
      this.roles = roles
    } catch (error) {
      this.$toast.error(`Error getting audience types`)
    }
  }

  validURL(url) {
    let regEx =
      /^https?:\/\/(?:www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)$/gm
    return regEx.test(url)
  }

  waitFor(milliseconds) {
    return new Promise((resolve) => setTimeout(resolve, milliseconds))
  }

  async submit() {
    this.isLoading = true
    await this.waitFor(3000)

    if (!this.validURL(this.link)) {
      this.$toast.error("Must be a valid link")
      this.isLoading = false
      return
    }
    const formData = new FormData()

    formData.append("name", this.title)
    formData.append("description", this.description)
    formData.append("summary", this.summary)
    formData.append("source_name", "none")
    formData.append("type", this.type)
    formData.append("link", this.link)
    formData.append("thumbnail_image_in", this.selectedImage)
    if (this.audience.length) {
      formData.append("target_audience", this.audience)
    } else {
      this.$toast.error("Please select an audience.")
      return
    }
    if (this.tags.length) {
      formData.append("tags", this.tags)
    }

    try {
      if (this.selectedImage.size / 1024 / 1024 > 2) {
        this.$toast.error("Oh no, your thumbnail image exceeds 2MB.")
        this.isLoading = false
        return
      }

      if (!this.selectedImage) {
        this.$toast.error("Oh no, your video must have a thumbnail!")
        this.isLoading = false
        return
      }

      // force reload to update video list (needs refactor)
      await createExternalResources(formData)
      this.$router.go(-1)
      this.$toast.success("Success! Your resource is uploading.")
      this.isLoading = false
      
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
      this.isLoading = false

    } 
  }

  onImageSelected(event: any) {
    this.selectedImage = event.target!.files[0]
  }
}
</script>
