<template>
  <div class="patient-forms">
    <header class="mb-6">
      <div class="header-text">
        <div class="header-left">
          <h1 class="title-text">Forms</h1>
        </div>
        <p class="small-text">Respond to any forms below.</p>
      </div>
    </header>

    <creator-responder-tab active="responder" />

    <div
      class="
        tad-table
        table-responsive
        bg-white
        p-8
        rounded-lg
        shadow-md
        mb-8
        border border-gray-300
      "
    >
      <div class="flex justify-end gap-3">
        <!-- search bar -->
        <div class="form-input-wrapper">
          <input
            type="text"
            class="form-input"
            placeholder="Search by name"
            v-model="options.name"
            @input="fetchForms"
          />
        </div>
        <div class="form-input-wrapper">
          <select
            v-model="options.language"
            class="filter-dropdown"
            @change="fetchForms"
          >
            <option :value="null">Any</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
          </select>
        </div>
        <div class="form-input-wrapper">
          <select
            v-model="options.status"
            class="filter-dropdown"
            @change="fetchForms"
          >
            <option :value="null">Any</option>
            <!-- completed -->
            <option value="complete">Completed</option>
            <option value="incomplete">Incomplete</option>
            <option value="pending">Pending</option>
          </select>
        </div>
      </div>
      <table>
        <thead class="table__header">
          <tr>
            <td width="200" class="table__header-text col-name">Name</td>
            <td class="table__header-text col-date">Date</td>
            <td width="150" class="table__header-text col-name">Packet</td>
            <td class="table__header-text col-language">Language</td>
            <td class="table__header-text col-action">Action</td>
          </tr>
        </thead>
        <tbody v-if="busy" class="table-body" align="center">
          <tr>
            <td colspan="6">
              <loading-spinner></loading-spinner>
            </td>
          </tr>
        </tbody>

        <tbody v-else-if="forms && forms.length" class="table-body">
          <tr v-for="form in forms" :key="form.id" class="row-form no-hover">
            <td>{{ form.name }}</td>
            <td>{{ $dateFormat(form.created_at, "MM/DD/YYYY") }}</td>
            <td>{{ form.packet ? form.packet.name : "-" }}</td>
            <td>
              {{ formLanguage(form.language) }}
            </td>
            <td class="col-action">
              <tad-button
                class="btn-action w-full"
                @click="$router.push(`/form-response/view/${form.id}`)"
                :disabled="form.response_status === 'complete'"
              >
                <span v-if="form.response_status === 'complete'"
                  >Completed</span
                >
                <span v-else-if="form.response_status === 'incomplete'"
                  >Respond</span
                >
                <span v-else-if="form.response_status === 'pending'"
                  >Respond</span
                >
              </tad-button>
            </td>
          </tr>
        </tbody>

        <tbody v-else class="table-body" align="center">
          <tr class="no-hover">
            <td colspan="6">You do not have any forms.</td>
          </tr>
        </tbody>
      </table>

      <div class="p-4">
        <Pagination
          :currentPage="currentPage"
          :totalPages="totalPages"
          :totalRecords="totalRecords"
          @nextPage="nextPage"
          @prevPage="prevPage"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter } from "vuex-class"
import { IForm, GenericType } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import { getFormsToRespondTo } from "~/api/form-response"
import CreatorResponderTab from "~/components/forms/creator/CreatorResponderTab.vue"

@Component({
  middleware: ["authenticated", "is-form-responder"],
  components: { TadButton, CreatorResponderTab },
})
export default class FormsResponderList extends Vue {
  @Getter("forms/isFormCreator") isFormCreator!: boolean
  busy = true
  forms = [] as GenericType[]
  respondedTo: IForm[] = []
  notRespondedTo: IForm[] = []

  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0
  filterLanguage: string = ""

  options = {
    size: 5,
    page: 1,
    language: null,
    status: null,
    name: null,
  }

  async nextPage() {
    this.options.page = this.options.page + 1
    await this.fetchForms()
  }

  async prevPage() {
    this.options.page = this.options.page - 1
    await this.fetchForms()
  }

  async mounted() {
    await this.fetchForms()
  }

  async fetchForms() {
    try {
      this.busy = true
      const { data } = await getFormsToRespondTo(this.options)

      this.forms = data.items
      this.totalRecords = data.total
      this.currentPage = data.page
      this.totalPages = data.pages
    } catch (error: any) {
    } finally {
      this.busy = false
    }
  }

  formLanguage(language: "en" | "es" | "fr") {
    switch (language) {
      case "en":
        return "English"
      case "es":
        return "Spanish"
      case "fr":
        return "French"
      default:
        return "English"
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .header-left {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}
.col-action {
  width: 100px;
}
.form-actions-dropdown-toggle {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.041);
  }
}

.actions-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .form-action {
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.45rem;
    border-radius: 5px;
    &.delete {
      color: var(--danger-color);

      &:hover {
        background-color: rgba(255, 0, 0, 0.041);
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.041);
    }
  }
}
.form-status {
  /*
  font-size: 0.7rem;
  background-color: rgba(128, 128, 128, 0.123);
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 0.25rem;
  text-align: center;
  color: #000;
  */
  text-transform: capitalize;
  /*
  &.draft {
    background-color: rgba(201, 187, 110, 0.3);
    border-color: rgba(201, 187, 110);
  }
  &.completed {
    background-color: rgb(138, 197, 100, 0.3);
    border-color: rgb(138, 197, 100, 0.3);
  }
  &.removed {
    background-color: rgba(201, 110, 133, 0.3);
    border-color: rgba(201, 110, 133);
  }*/
}
.col-date {
  width: 130px;
}
.col-language {
  width: 120px;
}
.col-action {
  max-width: 100px;
}
.row-form.responded {
  background-color: rgb(247, 247, 247);
}
</style>
