<template>
  <div :class="{ colorBanner: isBannerPage() }" :style="{ background: bannerBackground }">
    <transition name="modal-fade" mode="out-in">
      <ModalContainer v-if="modals.modal.content" :modal="modals.modal" />
    </transition>
    <transition name="modal-fade" mode="out-in">
      <ModalContainer v-if="modals.childModal.content" :modal="modals.childModal" />
    </transition>
    <main>
      <Nuxt/>
    </main>
    <Footer />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter } from 'nuxt-property-decorator'
import { IModal } from '~/interfaces'
import ModalContainer from '~/components/ModalContainer.vue'

@Component({
  components: {
    ModalContainer
  }
})
export default class DefaultLayoutNoAuth extends Vue {
  bannerBackground: string = ''
  @Getter("config/pColor") readonly pColor!: string
  @Getter('modals/getModals') readonly modals!: { 
    modal: IModal, 
    childModal: IModal 
  }

  created() {
    const lighterBrandColor = this.calculateLighterColor(this.pColor);
    this.bannerBackground = this.isBannerPage() ? `linear-gradient(to left, ${lighterBrandColor} 0%, ${this.pColor} 15%, ${this.pColor} 70%, ${lighterBrandColor} 100%)` : ''
}

  isBannerPage() {
    return this.$route.name?.includes('referral-external')
  }

  calculateLighterColor(hexColor: string, factor: number = 0.08): string {
    // Convert the hex color to RGB
    const r = parseInt(hexColor.slice(1, 3), 16)
    const g = parseInt(hexColor.slice(3, 5), 16)
    const b = parseInt(hexColor.slice(5, 7), 16)

    // Calculate a lighter color by adjusting RGB values
    const newR = Math.min(255, r + 255 * factor)
    const newG = Math.min(255, g + 255 * factor)
    const newB = Math.min(255, b + 255 * factor)

    // Convert the new RGB values back to hex
    const lighterHexColor = `#${Math.round(newR).toString(16).padStart(2, '0')}${Math.round(newG).toString(16).padStart(2, '0')}${Math.round(newB).toString(16).padStart(2, '0')}`

    return lighterHexColor;
  }
}
</script>

<style lang="scss" scoped>
.colorBanner {
  height: 220px;
  padding: 2rem 0 0 0;
}

main {
  max-width: 1240px;
  margin: 0 auto;
  min-height: calc(100vh - 175px);
  &.padded {
    padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 1300px) {
  main {
    &.padded {
      padding: 2rem 4rem;
    }
  }
}

@media only screen and (max-width: 960px) {
  main {
    &.padded {
      padding: 2rem 1.5rem;
    }
  }
}
</style>
