<template>
  <ThemeProvider
    :theme="{ primary: pColor, secondary: sColor, tertiary: tColor }"
  >
<!--    <ThemeColorWaitSpinner />-->

    <transition name="modal-fade" mode="out-in">
      <ModalContainer v-if="modals.modal.content" :modal="modals.modal" />
    </transition>
    <transition name="modal-fade" mode="out-in">
      <ModalContainer
        v-if="modals.childModal.content"
        :modal="modals.childModal"
      />
    </transition>

    <account-setup
      v-if="
        $auth.loggedIn &&
        !userProfile.has_setup_account &&
        userProfile.type == 'admin'
      "
    />
    <div
    v-else
      class="content-grid"
      :class="[
        isNavOpen ? 'nav-open' : 'nav-closed',
        { 'not-logged-in': !isLoggedIn },
      ]"
    >
      <DefaultSidebar v-if="isLoggedIn" :is-nav-open="isNavOpen" />
      <div class="main__content">
        <header v-if="isLoggedIn" class="nav-header">
          <div class="header__left-side">
            <button class="nav-toggle-btn" @click="isNavOpen = !isNavOpen">
              <span class="las la-bars icon"></span>
            </button>
          </div>

          <div class="header__right-side">
            <GetHelpButton v-can="'interaction.ghn.access'" />
            <div
              class="header__notifications"
              @click="showNotificationList = !showNotificationList"
            >
              <NotificationsDropdown />
            </div>
            <img
              class="profile-img"
              :src="$userimg(userProfile.profile_image)"
              :alt="userProfile.full_name"
            />
            <div class="user_name">
              <h4 v-if="userProfile && userProfile.full_name">
                {{ userProfile.full_name }}
              </h4>
              <h4 v-else>-----</h4>
              <small>{{ userProfile.role.name[0].toUpperCase() + userProfile.role.name.slice(1) }} Account</small>
            </div>
          </div>
        </header>

        <main class="main-content" :class="{ padded: isLoggedIn }">
          <Nuxt />
        </main>
        <Footer v-if="$route.path !== '/login'" />
      </div>
    </div>
  </ThemeProvider>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Mutation,
  State,
  Vue,
} from "nuxt-property-decorator"
import { ThemeProvider } from "vue-styled-components"
import { IModal, IUserProfile } from "~/interfaces"
import DefaultSidebar from "~/components/DefaultSidebar.vue"
import GetHelpButton from "~/components/global/GetHelpButton.vue"
import NotificationsDropdown from "~/components/NotificationsDropdown.vue"
import ModalContainer from "~/components/ModalContainer.vue"
import AccountSetup from "~/components/account-setup/AccountSetup.vue"
// import ThemeColorWaitSpinner from "~/components/ThemeColorWaitSpinner.vue"

@Component({
  components: {
    ModalContainer,
    NotificationsDropdown,
    GetHelpButton,
    DefaultSidebar,
    ThemeProvider,
    AccountSetup,
    // ThemeColorWaitSpinner
  }
})
export default class DefaultLayout extends Vue {
  @Getter("loggedInUser") readonly userProfile!: IUserProfile
  @Getter("isAuthenticated") readonly isLoggedIn
  @Action("main/logOut") userLogOut
  @Action("main/updateUserProfile") updateUserProfile

  @Getter("modals/getModals") readonly modals!: { modal: IModal, childModal: IModal };
  @Getter("config/pColor") readonly pColor!: string
  @Getter("config/sColor") readonly sColor!: string
  @Getter("config/tColor") readonly tColor!: string

  @Mutation("config/setPColor") readonly setPColor!: (color: string) => void
  @Mutation("config/setSColor") readonly setSColor!: (color: string) => void
  @Mutation("config/setTColor") readonly setTColor!: (color: string) => void
  @Mutation("config/setLogo") readonly setLogo!: (color: string) => void
  @Mutation("config/setAltLogo") readonly setAltLogo!: (color: string) => void
  @Mutation("config/setThemeReady") setThemeReady!: (isReady: boolean) => void
  @State("brandColorDefault") brandColorDefault!: string

  active: boolean = true
  isNavOpen: boolean = true
  showNotificationList: boolean = false
  window: any = {}

  toggleNav() {
    this.$parent.$emit("toggleNav")
  }

  async created() {
    // await this.getNotifications
    this.$parent.$on("toggleNav", () => {
      this.active = !this.active
    })
    if (this.isLoggedIn) {
      const fetchUserResponse = await this.$auth.fetchUser()
      if (fetchUserResponse) {
        const user = fetchUserResponse.data as IUserProfile
        this.setPColor(
          user.organization?.primary_color ?? this.brandColorDefault
        )
        this.setSColor(
          user.organization?.secondary_color ?? this.brandColorDefault
        )
        this.setTColor(
          user.organization?.tertiary_color ?? this.brandColorDefault
        )
        this.setLogo(user.organization?.logo ?? "/tadhealth_logo.png")
        this.setAltLogo(
          user.organization?.alt_logo ?? "/tadhealth_alt_logo.png"
        )
        this.setThemeReady(true)
      }
    }
  }

  mounted() {
    let name = this.userProfile.full_name
    let email = this.userProfile.email
    
    // When page is loaded on smaller screens, hide nav
    if (window.innerWidth <= 986) {
      this.isNavOpen = false
    }

    this.loadExternalScript().then(() => {
      if (window.zeda) {
        window.zeda.init({ email: email, name: name });  // Assuming these values are static for test purposes. In production, replace them with dynamic user data.
      }
    });
  }

  async loadExternalScript() {
    return new Promise((resolve, reject) => {
      const script = document.createElement('script');
      script.src = 'https://zeda-widget.s3.ap-south-1.amazonaws.com/dist/widget.bundle.js';
      script.async = true;
      script.onload = () => {
        console.log('Widget script has loaded!');
        resolve(true);
      };
      script.onerror = (error) => {
        console.error('Error loading widget script:', error);
        reject(error);
      };
      document.body.appendChild(script);
    });
  }

  head() {
    return {
      script: [
        {
          innerHTML: `
            console.log('Widget script is being loaded!');
            (function (k) {
              window.zeda = {}; 
              window.zeda._key = k;
            })('DX6VXFP-A2VM631-MZ8JYT4-PDYCHHC');
          `,
          type: 'text/javascript',
          charset: 'utf-8'
        }
      ],
      __dangerouslyDisableSanitizers: ['script']
    }
  }
}
</script>

<style lang="scss" scoped>
.content-grid {
  display: grid;

  &.nav-open {
    grid-template-columns: 345px auto;
  }
  &.nav-closed {
    grid-template-columns: 70px auto;
  }

  &.not-logged-in {
    grid-template-columns: auto !important;
  }
}
main {
  max-width: 1440px;
  margin: 0 auto;
  min-height: calc(100vh - 175px);
  &.padded {
    padding: 2rem 4rem;
  }
}
.main__content {
  transition: margin-left 300ms;
  // &.not-logged-in {
  //   margin-left: 0px;
  // }
}
#nav-toggle {
  position: absolute;
  left: -100px;
  top: -100px;
  opacity: 0;
  pointer-events: none;
}
.nav-toggle-btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__left-side {
  align-items: center;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: all 0.2s linear;
}
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}
.modal-fade-enter-to,
.modal-fade-leave {
  opacity: 1;
}

// Header
header {
  background-color: var(--body-color);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  left: 345px;
  height: 90px;
  z-index: 100;
}

.header__left-side {
  display: flex;
  justify-content: center;
}

.header__right-side {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  color: var(--dark-text);
  gap: 1rem;
}

.header__right-side img {
  border-radius: 10px;
}

.header__right-side h4 {
  color: var(--dark-text);
  font-size: 1.1rem;
}

.header__right-side small {
  display: inline-block;
  color: var(--light-text);
  font-size: 0.8rem;
}

.header__notifications {
  // padding: 0rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__notifications-bell {
  font-size: 1.5rem;
  position: relative;
  border-radius: 5px;
  z-index: 50;
}

.header__notifications-count {
  display: inline-block;
  position: relative;
  bottom: 0.4rem;
  right: 0.6rem;
  background-color: #f89e5d !important;
  color: #fff !important;
  border-radius: 100%;
  height: 0.5rem;
  width: 0.5rem;
  z-index: 100;
}

.header__crisis-button {
  background-color: var(--main-color);
  padding: 0.8rem 1rem;
  font-size: var(--small-text);
  border-radius: 40px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}

.profile-img {
  max-width: 40px;
  max-height: 40px;
}

@media only screen and (max-width: 1300px) {
  main {
    &.padded {
      padding: 2rem 4rem;
    }
  }
}

@media only screen and (max-width: 960px) {
  main {
    &.padded {
      padding: 2rem 1.5rem;
    }
  }
}

// Small screens
@media only screen and (max-width: 986px) {
  .content-grid {
    grid-template-columns: auto !important;
  }
}

@media only screen and (max-width: 560px) {
  .user_name {
    display: none;
  }
}
</style>
