<template>
  <div>
    <nuxt />
  </div>
</template>

<script>
import { Component, Vue } from "nuxt-property-decorator"
@Component({
  components: {},
})
export default class Setup extends Vue {}
</script>
