<template>
  <div>
    <div class="welcome__container">
      <tad-button primary @click="$router.go(-1)"
        ><i class="las la-arrow-left mr-1"></i>Back</tad-button
      >
    </div>

    <div class="basic-profile-info-card">
      <div
        class="cover__photo-div"
        :style="`background-image: url(${fullApiUrl}/users/download_cover_image/${pro.cover_image})`"
      ></div>
      <div class="profile__details">
        <img
          class="profile-img"
          :src="`${fullApiUrl}/users/file/${pro.profile_image}`"
          :alt="pro.full_name"
        />
        <div class="user__details">
          <span v-if="pro" class="user__name">
            <span>
              {{ pro.full_name }}
            </span>
          </span>
          <span v-if="pro.is_verified_publisher" class="user__status">
            <i class="las la-certificate"></i> Verified Publisher
          </span>
        </div>
      </div>
    </div>

    <div>
      <ProfileVideoList :id="userId" />
      <ProfileAudioList :id="userId" />
      <ProfileArticleList :id="userId" />
    </div>
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import { IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import { getProUser } from "~/api/users"

@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
  components: { TadButton },
})
export default class NewProfile extends Vue {
  @Getter("loggedInUser") userProfile!: IUserProfile
  @Getter("isAuthenticated") isLoggedIn
  @Action("main/logOut") userLogOut
  @Action("main/updateUserProfile") updateUserProfile
  fullApiUrl = process.env.fullApiUrl

  pro: {} = {}

  mounted() {
    this.fetchProfessional()
  }

  userId = this.$route.params.id

  async fetchProfessional() {
    const { data: pro } = await getProUser(this.userId)
    this.pro = pro
  }
}
</script>

<style lang="scss" scoped>
.content__title {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #e4e4e4;
  span {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--dark-text);
    padding-bottom: 0.5rem;
  }
}

.basic-profile-info-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 3rem;
  box-shadow: var(--default-box-shadow);
}
.cover__photo-div {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1rem;

  span a {
    color: white !important;
    text-decoration: none !important;
    font-weight: 600;
  }
}

.team__container {
  grid-auto-flow: dense;
}
.profile__details {
  padding: 2rem;
  display: flex;
  padding-top: 0rem;
}

.profile-img-container {
  margin-right: 10px;
}

.user__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.la-ellipsis-v {
  cursor: pointer;
  font-size: 1.5rem;
}

.la-info-circle {
  cursor: pointer;
  font-size: 1rem;
}
.user__status {
  font-size: 0.8rem;
}

.user__name {
  font-size: 1.8rem;
  color: var(--dark-text);
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.bio-div {
  padding: 2rem;
  background-color: white;
  box-shadow: var(--default-box-shadow);
  border-radius: 10px;
}
.profile-img {
  width: 100%;
  max-height: 140px;
  max-width: 140px;
  border-radius: 10px;
  margin: 1rem 0rem;
  position: relative;
  bottom: 75px;
  border: 3px solid #f5f5fd;
}

.profile-title {
  color: var(--dark-text);
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile-pronouns {
  font-size: 0.7rem;
  color: #1a535c;
}

.profile-insta {
  color: var(--dark-text);
  font-size: 0.7rem;
}

.profile-bio {
}

.profile-about-text {
  font-size: 0.8rem;
}

/* start professionals profile (student pov) styles */

.basic-profile-info {
  font-size: 0.8rem;
  color: var(--dark-text);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.profile-pronouns {
  color: var(--main-color);
  font-size: var(--small-text);
  font-weight: bold;
}

.profile-about-text {
  line-height: 1.5;
  font-size: 0.8rem;
}

@media only screen and (max-width: 985px) {
  .basic-profile-info-card {
    margin-top: 2rem;
  }

  .cover__photo-div {
    height: 200px !important;
  }
}

@media only screen and (max-width: 560px) {
  .profile-img-container {
  }

  .profile-img {
    height: 120px;
    width: 120px;
    bottom: 60px;
  }

  .profile__details {
    padding: 1rem !important;
  }

  .user__name {
    font-size: 1.2rem;
    padding-top: 0.5rem;
  }

  .bio-div {
    padding: 1rem;
  }
  .basic-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .user__details {
    padding: 0.5rem;
    padding-top: 0rem;
    padding-left: 0.75rem;
  }
}

/* end professionals profile (student pov) styles  */
</style>
