<template>
  <div>
    <div class="card hover:shadow-lg">
      <div class="flex justify-between items-center mb-4">
        <p class="text-2xl font-semibold">Roles and Permissions</p>
        <tad-button primary @click="openRoleModal('Create New Role', '', '')"
          >Add New Role</tad-button
        >
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div
          v-for="role in roles"
          :key="role.id"
          class="
            flex flex-col
            justify-between
            items-center
            p-4
            border-2
            hover:bg-gray-100
            rounded-lg
            h-36
          "
        >
          <p class="relative top-[-0.5rem] my-8 capitalize text-xl">
            {{ role.name }}
          </p>
          <div class="flex justify-center w-full cursor-pointer space-x-6">
            <button
              class="text-base font-semibold text-blue-500 hover:text-blue-700"
              @click="openRoleModal('Edit Role', role.name, role.id)"
            >
              <i class="las la-user-edit"></i> Edit Role
            </button>

            <button
              class="text-base font-semibold text-red-500 hover:text-red-700"
              @click="deleteRoleModal(role.id)"
            >
              <i class="las la-trash-alt"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import TadInput from "~/components/styled-components/TadInput"
import { getRoles, deleteRole } from "~/api/organization"
import ModalCreateEditRole from "~/components/modals/ModalCreateEditRole.vue"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"

@Component({
  // layout: "institution",
  middleware: ["authenticated"],
  components: { TadInput, TadButton },
})
export default class RolesAndPermisions extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  roles = []

  openRoleModal(title, roleName, roleId) {
    const modal = {
      title,
      content: ModalCreateEditRole,
      props: {
        roleName,
        roleId,
        onclose: async () => {
          const { data: roles } = await getRoles()
          this.roles = roles
        },
      },
    }
    this.showModal(modal)
  }

  deleteRoleModal(id) {
    const modal = {
      title: "Delete Role",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: () => this.deleteRole(id),
        text: "Are you sure you want to delete this role? You can always create new roles.",
        confirmText: "Delete",
        cancelText: "Cancel",
      },
    }
    this.showModal(modal)
  }

  async deleteRole(id) {
    try {
      await deleteRole(id)
      this.$toast.success("Role deleted successfully")
      this.fetchRoles()
    } catch (error) {}
  }

  async fetchRoles() {
    try {
      const { data: roles } = await getRoles()
      this.roles = roles
    } catch (error) {}
  }

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("role.manage")) {
      this.fetchRoles()
    }
  }
}
</script>
