<template>
  <div class="card hover:shadow-lg">
     <div class="flex justify-between flex-col md:flex-row mb-4 sm:items-center ">
      <p class="text-2xl font-semibold">Manage Organization Users</p>
      <div class="button-group">
        <tad-button primary @click="openResetPasswordUploadCSVModal">Reset Passwords</tad-button>
        <tad-button primary @click="openUploadCSVModal">Upload a CSV</tad-button>
        <tad-button primary @click="openCreateUserModal" >Add New User</tad-button>
      </div>
    </div>

    <div class="my-8 w-full">
      <!-- Filters -->
      <div class="flex flex-wrap gap-3 my-4">
        <div
          v-for="(_filter, idx) in filters"
          :key="idx"
          class="
            flex-shrink
            border
            rounded-full
            px-4
            py-2
            hover:bg-gray-300
            cursor-pointer
            capitalize
          "
          :class="{
            'bg-gray-800 hover:bg-gray-200 text-white':
              _filter.id === filter.id,
          }"
          @click="selectFilter(_filter)"
        >
          {{ _filter.name }}
        </div>
      </div>

      <!-- Searchbox -->
      <div class="form-input-wrapper flex items-center border rounded">
        <input
          v-model="searchUsersQuery"
          type="text"
          class="search-input p-2 w-full"
          placeholder="Search users by name or email.."
          @input="searchUsersDebounce"
        />
      </div>
    </div>

    <table class="table-auto w-full">
      <thead>
        <tr>
          <td>Name</td>
          <td class="hide-on-mobile">Role</td>
          <td class="hide-on-mobile">Last Modified</td>
          <td class="text-right">Action</td>
        </tr>
      </thead>
      <tbody v-if="isLoadingUsers || isSearching">
        <tr>
          <td colspan="4">
            <loading-spinner></loading-spinner>
          </td>
        </tr>
      </tbody>
      <tbody v-else-if="userList.length <= 0">
        <tr>
          <td colspan="4">
            <alert
              type="info"
              msg="No user data available"
              :dissmissable="false"
            />
          </td>
        </tr>
      </tbody>
      <tbody v-else class="user__table-hidden-mobile">
        <tr
          v-for="user in userList"
          :key="user.email"
          class="border-b border-slate-200"
        >
          <td
            v-if="user.full_name && user.full_name.length"
            colspan="1"
            class="py-2"
          >
            {{ user.full_name }}
          </td>
          <td v-else colspan="1" class="py-2">No Name Set</td>

          <td
            v-if="user.role && user.role.name"
            colspan="1"
            class="hide-on-mobile capitalize"
          >
            {{ user.role.name }}
          </td>
          <td v-else colspan="1" class="hide-on-mobile">No Role Set</td>
          <td
            v-if="user.updated_at && user.updated_at.length"
            colspan="1"
            class="hide-on-mobile"
          >
            {{ formatDate(user.updated_at) }}
          </td>
          <td v-else colspan="1" class="hide-on-mobile">Not modified</td>
          <td colspan="1" class="text-right py-4">
            <tad-button
              class="btn-edit-user"
              @click="$router.push(`/admin/manage-users/${user.id}`)"
            >
              Manage
            </tad-button>
          </td>
        </tr>
      </tbody>

      <tbody v-if="false" class="user__table-show-mobile">
        <tr v-for="user in userList" :key="user.email">
          <td>
            <div class="user__mobile-table-left">
              <div style="margin-bottom: 5px">
                <span class="user__mobile-table-left-text"
                  ><span class="user__mobile-table-left-text-highlight"
                    >Name:
                  </span>
                  {{ user.full_name }}</span
                >
              </div>
              <div>
                <span class="user__mobile-table-left-text"
                  ><span class="user__mobile-table-left-text-highlight"
                    >Role:
                  </span>
                  <span
                    class="status status-green"
                    style="
                      margin-left: 0;
                      height: 8px;
                      width: 8px;
                      margin-right: 1px;
                    "
                  ></span>
                  {{ user.type ? user.type : "No Role Set" }}</span
                >
                <span class="user__mobile-table-left-text"
                  ><span class="hide-on-mobile">Last Modified:</span>
                  {{ user.updated_at ? user.updated_at : "Not modified" }}</span
                >
              </div>
            </div>
          </td>
          <td>
            <div class="user__mobile-table-right">
              <span
                class="
                  user__mobile-table-right-text
                  user__mobile-table-right-text-top
                "
                ><span
                  class="las la-eye user__mobile-table-right-text-highlight"
                  style="color: #41496b !important"
                ></span>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="px-4">
      <Pagination
        :current-page="currentPage"
        :total-pages="totalPages"
        :total-records="totalRecords"
        @nextPage="nextPage"
        @prevPage="prevPage"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation, Getter } from "nuxt-property-decorator"
import dayjs from "dayjs"
import { getUsersManagement, searchUsers } from "~/api/users"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import Pagination from "~/components/Pagination.vue"
import { getRoles } from "~/api/roles"

import ModalCreateNewUser from "@/components/modals/ModalCreateNewUser.vue"
import ModalUploadCSV from "@/components/modals/ModalUploadCSV.vue"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import Alert from "~/components/Alert.vue"
import ModalResetPasswordUploadCSV from "~/components/modals/ModalResetPasswordUploadCSV.vue"

interface Role {
  id: string
  name: string
}
interface FilterType extends Role {}

@Component({
  components: {
    Alert,
    LoadingSpinner,
    TadInput,
    TadButton,
    Pagination,
  },
})
export default class UserMangementTable extends Vue {
  isLoadingUsers = true
  searchUsersQuery = ""
  searchUsersDebounceHandle: any = -999
  isSearching = false
  roles = [] as Role[]
  userList: any[] = []
  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0
  filters = [] as FilterType[]
  filter = {} as FilterType
  options = {
    offset: 0,
    limit: 10,
  }

  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Getter("modals/getModal") getModal

  formatDate(date) {
    return dayjs(date).format("MM/DD/YYYY")
  }

  async openCreateUserModal() {
    const modal = {
      title: "Create New User Form",
      content: ModalCreateNewUser,
      props: {
        onconfirm: await this.getUsers,
      },
    }

    this.showModal(modal)
  }

  async openUploadCSVModal() {
    const modal = {
      title: "Upload a CSV of users",
      content: ModalUploadCSV,
      props: {
        onconfirm: await this.getUsers,
      },
    }

    this.showModal(modal)
  }

  async openResetPasswordUploadCSVModal() {
    const modal = {
      title: "Send Reset Password Emails To Users",
      content: ModalResetPasswordUploadCSV,
      props: {
        onconfirm: await this.getUsers,
      },
    }

    this.showModal(modal)
  }

  created() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("user.create.users")) {
      this.getUsers()
    }

    // Get all roles
    this.getAvailableRoles()
  }

  async getAvailableRoles() {
    const res = await getRoles()
    this.filters = [
      { name: "all groups", id: "" },
      ...res.data.map((role) => ({ name: role.name, id: role.id })),
    ]
  }

  async getUsers() {
    try {
      this.isLoadingUsers = true
      this.userList = []
      if (this.filter.name === "all groups") {
        const { data: users } = await getUsersManagement(this.options)
        this.userList = users.items
        this.totalRecords = users.total
        this.totalPages = Math.ceil(users.total / this.options.limit)
      } else {
        const { data: users } = await getUsersManagement(
          this.options,
          this.filter.name
        )
        this.userList = users.items
        this.totalRecords = users.total
        this.totalPages = Math.ceil(users.total / this.options.limit)
      }

      // Removed role fetching as it's not used
    } catch (error) {
      this.$toast.error("Error occurred when fetching users.")
    } finally {
      this.isLoadingUsers = false
    }
  }

  async nextPage() {
    if (this.currentPage < this.totalPages) {
      this.currentPage++
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.getUsers()
    }
  }

  async prevPage() {
    if (this.currentPage > 1) {
      this.currentPage--
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.getUsers()
    }
  }

  searchUsersDebounce() {
    clearTimeout(this.searchUsersDebounceHandle)
    this.searchUsersDebounceHandle = setTimeout(() => this.searchUsers(), 500)
  }

  async searchUsers() {
    // reset pagination
    this.currentPage = 1
    this.options.offset = 0

    if (this.searchUsersQuery) {
      try {
        this.isSearching = true
        this.userList = []

        const { data: users } = await searchUsers(
          this.searchUsersQuery,
          this.options
        )
        this.userList = users.items
        this.totalRecords = users.total
        this.totalPages = Math.ceil(users.total / this.options.limit)
      } catch (error) {
      } finally {
        this.isSearching = false
      }
    } else {
      this.getUsers()
    }
  }

  selectFilter(filter) {
    if (this.filter.id === filter.id) {
      this.filter = { name: "all", id: "" }
    } else {
      this.filter = filter
    }
    this.searchUsers()
  }
}
</script>

<style>

.appointment__table {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0 8px 30px -6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 640px) {

  .hide-on-mobile {
    display: none;
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 768px) {
.button-group{
  margin-top: 1rem;
}
  .button-group tad-button {
    flex: 1 1 auto;
    margin-bottom: 10px;
  }
}
</style>
