<template>
  <div>
    <main>
      <div>
        <div class="welcome__container">
          <h1 class="title-text">Account Settings</h1>
          <p class="small-text">Update your password.</p>
        </div>

        <div>
          <ValidationObserver>
            <form action="#" method="POST">
              <ValidationProvider
                v-slot="{ errors }"
                rules="confirmed:confirmation"
              >
                <div class="form-input-wrapper">
                  <label for="password1" class="small-text">
                    New password
                  </label>
                  <input
                    id="password1"
                    v-model="password1"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    required
                    class="inpt"
                  />
                  <span>{{ errors[0] }}</span>
                </div>
              </ValidationProvider>

              <ValidationProvider v-slot="{ errors }" vid="confirmation">
                <div class="form-input-wrapper">
                  <label for="password2" class="small-text">
                    Confirm password
                  </label>
                  <input
                    id="password2"
                    v-model="password2"
                    name="confirm-password"
                    type="password"
                    autocomplete="current-password"
                    required
                    class="inpt"
                  />
                  <span
                    class="block px-3 py-2 text-sm font-light text-gray-700"
                    >{{ errors[0] }}</span
                  >
                </div>
              </ValidationProvider>

              <div class="form-footer">
                <input
                  type="submit"
                  class="btn main setting__form-submit-button"
                  value="Update"
                  @click.prevent="submit"
                />

                <input
                  type="submit"
                  class="btn orange setting__form-submit-button"
                  value="Cancel"
                  @click.prevent="cancel"
                />
              </div>
            </form>
          </ValidationObserver>
        </div>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { Action, Component, Vue } from "nuxt-property-decorator"
import { IUserProfileUpdate } from "@/interfaces"

@Component({
  middleware: "authenticated",
})
export default class UserProfileEditPassword extends Vue {
  @Action("main/updateUserProfile") updateUserProfile
  public password1 = ""
  public password2 = ""

  public cancel() {
    this.$router.back()
  }

  public async submit() {
    const updatedProfile: IUserProfileUpdate = {}
    updatedProfile.password = this.password1
    await this.updateUserProfile(updatedProfile)
    this.$router.push("/password-success")
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Dashboard - Change Password")
  }
}
</script>

<style></style>
