<template>
  <component :is="homeComponent" />
</template>

<script lang="ts">
import { Component, Vue, Action, Getter } from "nuxt-property-decorator"
import SuperHome from "~/components/home/SuperHome.vue"
import MasterHome from "~/components/home/MasterHome.vue"
import { IUserProfile } from "~/interfaces"

@Component({
  middleware: "authenticated",
})
export default class Welcome extends Vue {
  @Getter("loggedInUser") userProfile!: IUserProfile
  @Getter("isAuthenticated") isLoggedIn
  @Action("main/logOut") userLogOut
  public isOpen: boolean = false


  public async logout() {
    await this.userLogOut()
    if (
      this.$router.currentRoute.path !== "/login" &&
      this.$router.currentRoute.path !== "/"
    ) {
      this.$router.push("/login")
    }
  }

  get homeComponent() {
    return this.userProfile.is_superuser ? SuperHome : MasterHome
  }
}
</script>


