<template>
  <div class="offset">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User ID</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="p in displayedPosts">
          <td>{{ p.first }}</td>
          <td>{{ p.last }}</td>
          <td>{{ p.suffix }}</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <button
            v-if="page != 1"
            type="button"
            class="page-link"
            @click="page--"
          >
            Previous
          </button>
        </li>
        <li class="page-item">
          <button
            v-for="pageNumber in pages.slice(page - 1, page + 5)"
            type="button"
            class="page-link"
            @click="page = pageNumber"
          >
            {{ pageNumber }}
          </button>
        </li>
        <li class="page-item">
          <button
            v-if="page < pages.length"
            type="button"
            class="page-link"
            @click="page++"
          >
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Pagination",
  filters: {
    trimWords(value) {
      return value.split(" ").splice(0, 20).join(" ") + "..."
    },
  },
  data() {
    return {
      posts: [""],
      page: 1,
      perPage: 9,
      pages: [],
    }
  },
  computed: {
    displayedPosts() {
      return this.paginate(this.posts)
    },
  },
  watch: {
    posts() {
      this.setPages()
    },
  },
  created() {
    this.getPosts()
  },
  methods: {
    getPosts() {
      const data = []
      for (let i = 0; i < 19; i++) {
        this.posts.push({ first: "John", last: "Doe", suffix: "#" + i })
      }
    },
    setPages() {
      const numberOfPages = Math.ceil(this.posts.length / this.perPage)
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index)
      }
    },
    paginate(posts) {
      const page = this.page
      const perPage = this.perPage
      const from = page * perPage - perPage
      const to = page * perPage
      return posts.slice(from, to)
    },
  },
}
</script>

<style scoped></style>
