<template>
  <div>
    <main>
      <div>
        <NuxtLink
          to="/"
          class="link-text booknow__go-back-link"
          style="color: #41496b !important"
        >
          Go home</NuxtLink
        >
      </div>

      <div class="emoji__wrapper">
        <div class="welcome__container">
          <h1 class="title-text emoji__title">Password Change Successfully</h1>
        </div>
        <div class="appointment__success-container">
          <img src="~/assets/images/appointments/check.png" alt="" />
        </div>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { Component, Getter, Vue } from "nuxt-property-decorator"

@Component({
  middleware: "authenticated",
})
export default class UserProfileEditPassword extends Vue {
  @Getter("loggedInUser") userProfile
  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Dashboard - Change Password")
  }
}
</script>

<style>
.inpt {
  @apply mt-1 relative block w-full px-3 py-2 border border-gray-300 text-gray-900 rounded-md shadow-sm;
}

.inpt:focus {
  @apply outline-none border-indigo-300
}

</style>
