<template>
  <div class="password-protected">
    <div class="lock">
      <h1 class="title-text">This page is password-protected.</h1>
      <div class="mb-6">Please Re-Enter Your Password To Continue.</div>
      <form @submit.prevent="login">
        <div class="form-input-wrapper mb-6">
          <input type="password" v-model="password" required />
        </div>
        <form-button class="mb-3" :submitting="isWorking">Enter Password</form-button>
        <tad-text hover @click="$router.go(-1)"
          ><i class="las la-arrow-left mr-1"></i>Go Back</tad-text
        >
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import { login } from "~/api/users"
import TadButton from "~/components/styled-components/TadButton"
import TadText from "~/components/styled-components/TadText"
import { IUserProfile } from "~/interfaces"

@Component({
  middleware: ["authenticated"],
  components: { TadButton, TadText },
})
export default class PasswordProtected extends Vue {
  @Getter("loggedInUser") userProfile!: IUserProfile
  @Mutation("setPasswordProtection") setPasswordProtection!: (
    expiry: string
  ) => any
  origin = this.$route.query.origin as string
  password = ""
  isWorking = false

  async login() {
    try {
      this.isWorking = true
      await login(this.userProfile.email, this.password)
      this.$toast.success("Success! Thank you for entering your password.")
      const expiry = dayjs().add(1, "hour").toISOString()
      this.setPasswordProtection(expiry)
      this.$router.replace(this.origin)
    } catch {
      this.$toast.error("Wrong Password! Try again.")
      this.password = ""
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.lock {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  min-height: 500px;
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--default-box-shadow);
  text-align: center;

  form {
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}
</style>