<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Podcasts</h1>
      <p class="small-text">
        Podcasts covering all types of mental health topics.
      </p>
    </div>

    <!-- <div>
      <span class="subtitle-text">What's New</span>
      <span class="small-text subtitle__text"
        >Check out the latest podcast.</span
      >
    </div> -->

    <div class="podcast-table">
      <div class="media-player" v-if="currentAudioLink" :key="currentAudioLink">
        <AudioPlayer
          class="mt-5"
          :url="currentAudioLink"
          playerid="audio-player"
          :title="currentTitle"
          :artist="curArt"
          :description="currentDescription"
          :thumbnail="currentThumbnail"
          
        />
      </div>

      <div v-else>
        <NoAudio />
      </div>

      <div>
        <span class="subtitle-text">Podcast Library</span>
        <span class="small-text subtitle__text"></span>
      </div>

      <div>
        <div class="video__list-header">
          <div>
            <span class="video__list-header-title"> Title </span>
          </div>
          <div class="view">
            <span class="video__list-header-title"> Action</span>
          </div>
        </div>
        <div v-if="audios.length" style="padding-bottom: 2rem" class="podcasts">
          <div v-for="audio in audios" :key="audio.id" class="video__list videos">
            <div class="podcast-table-left">
              <img
                :src="audio.thumbnail_url"
                alt=""
                class="podcast-table-cover"
              />
              <div class="podcast-details">
                <span class="podcast-table-title">
                  {{ audio.title }}
                </span>

                <span class="podcast-table-author">
                  <em>uploaded by</em>
                  <b>

                  {{ audio.owner.full_name }}
                  </b>
                </span>
              </div>
            </div>
            <div class="view">
              <span>
                <button
                  class="btn orange"
                  @click.prevent="
                    loadPlayer(
                      audio.title,
                      audio.id,
                      audio.description,
                      audio.thumbnail_url,
                      audio.owner.full_name
                    )
                  "
                >
                  <i class="las la-play"></i> Play
                </button>
              </span>
            </div>
          </div>
        </div>

        <div v-else>
          <p class="no-audios-box">No Podcasts Available</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"
import Anchor from "~/components/global/Anchor.vue"
import AudioPlayer from "~/components/AudioPlayer.vue"
import { getAudios, getAudioSignedURL } from "~/api/resources"
import { IAudioResource } from "~/interfaces"

@Component({
  components: { AudioPlayer, Anchor },
  middleware: ["authenticated"],
})
export default class Pocasts extends Vue {
  audios: IAudioResource[] = []
  public currentTitle: string = ""
  public currentAritist: string = ""
  public currentDescription: string = ""
  public currentThumbnail: string = ""
  public currentAudioLink: string = ""
  public curArt: string = ""

  mounted() {
    this.fetchAudios()
  }

  async loadPlayer(title, podcastId, description, podcastThumbnail, artist) {
    this.currentAritist = podcastId
    this.currentTitle = title
    this.currentDescription = description
    this.currentThumbnail = podcastThumbnail
    this.curArt = artist
    await this.fetchSource(podcastId)
  }

  async fetchAudios() {
    try {
      const { data: audios } = await getAudios()
      this.audios = audios
    } catch (error) {}
  }

  async fetchSource(id) {
    try {
      // video.s3_storage_key
      const { data: url } = await getAudioSignedURL(
        // "24ae5a40-9b09-4d42-ad6d-20557d0e8716/8!PNr-recorded-by-24ae5a40-9b09-4d42-ad6d-20557d0e8716.mp4"
        {
          id: id,
        }
      )
      this.currentAudioLink =  url["audio_url"]
    } catch (error) {
    }
  }
}
</script>

<style lang="scss" scoped>
/*@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");*/

.not-loaded {
  min-height: 200px;
}
.videos {
  padding-left: 1rem;
  padding-right: 1rem;
}

.videos:hover {
  
  background-color: #f4f5f8;
}
.no-audios-box {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--light-text);
}

.podcast-table {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.subtitle__text {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.subtitle__desc {
  display: block;
  color: var(--light-text);
}



.podcast-table-title {
  font-weight: bold;
  color: var(--dark-text);
}

.podcast-table-author {
  color: var(--light-text);
  font-size: 0.7rem;
}

.podcast-table-cover {
  align-self: center;
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.podcast-details {
  display: flex;
  flex-direction: column;
}

.podcast-table-left {
}

audio {
  width: 100vw !important;
  background-color: green;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 5px;
}

.media-player {
  margin-bottom: 3rem;
}

.video__list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f0f0f0;

  div {
    display: flex;
    justify-content: center;
  }
  span {
    font-size: 0.8rem;
  }
}

.video__list {
  .view {
    justify-content: end;
    align-items: center;
    padding: 0.5rem 0rem;
  }
}

.video__list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
  span {
    display: block;
    font-size: 0.8rem;
  }
}

.video__list-header {
  div {
    width: 30%;
    display: flex;
    padding-bottom: 1rem;
  }
  .view {
    justify-content: end;
  }

}

.video__list-header-title {
  color: var(--dark-text);
  font-size: 0.9rem !important;
  font-weight: bold !important;
}


</style>
