<template>
  <div class="password-reset">
    <form
      class="password-reset-form"
      @submit.prevent="sendPasswordResetRequest"
    >
      <h1 class="title-text">Change your password</h1>
      <div class="form-input-wrapper mb-6">
        <label for="password_reset">Enter new password:</label>
        <tad-input id="password_reset" v-model="password1" type="password" />
      </div>
      <div class="form-input-wrapper mb-3">
        <label for="password_reset">Confirm new password:</label>
        <tad-input
          id="password_reset_confirm"
          v-model="password2"
          type="password"
        />
      </div>
      <alert
        v-if="!passwordsMatch"
        class="mb-6"
        type="error"
        msg="Passwords do not match"
        :dissmissable="false"
      />
      <form-button
        :success="true"
        class="btn-submit"
        :submitting="isWorking"
        :disabled="isWorking || !passwordsMatch"
      >
        Update password
      </form-button>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import TadInput from "~/components/styled-components/TadFormsInput"
import FormButton from "~/components/FormButton.vue"
import { resetPassword } from "~/api/utils"
import Alert from "~/components/Alert.vue"

@Component({
  components: { Alert, TadInput, FormButton },
  layout: "no-nav",
})
export default class reset extends Vue {
  token = this.$route.query["token"] as string
  isWorking = false
  password1 = ""
  password2 = ""

  get passwordsMatch() {
    return this.password1 && this.password2 && this.password1 === this.password2
  }

  async sendPasswordResetRequest() {
    try {
      this.isWorking = true
      await resetPassword(this.password2, this.token)
      await this.$auth.logout()
      await this.$router.replace("/login")
      this.$toast.success("Your password was changed successfully.")
    } catch (error) {
      this.$toast.error("Password reset failed.")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.password-reset-form {
  max-width: 500px;
  margin: 1rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}
.btn-submit {
  width: 100%;
}
</style>
