<template>
  <div>
    <div class="welcome__container">
      <h1 class="title-text">Account Settings</h1>
      <p class="small-text">Update your account settings.</p>
    </div>

    <div class="settings__grid">
      <div class="setting__account-info">
        <div class="section__title-container">
          <h1 class="setting-title-text">Basic Account Info</h1>
          <p class="small-text">
            Certain information is not displayed for privacy and security
            reasons.
          </p>

          <div class="setting__profile-card">
            <span class="card-title">Name:</span>
            <span v-if="userProfile && userProfile.full_name">{{
              userProfile.full_name
            }}</span>
            <span v-else class="small-text">User</span>
            <span class="card-title">Email:</span>
            <span v-if="userProfile && userProfile.email" class="small-text">{{
              userProfile.email
            }}</span>
            <span v-else class="small-text">----</span>
            <!-- h1 class="card-title">Affiliation:</h1>
            <span class="small-text"></span -->
          </div>
        </div>
      </div>
      <div class="setting__form-wrapper">
        <div class="section__title-container">
          <h1 class="setting-title-text">Update Account Info</h1>
          <p class="small-text">
            General settings allow you to change basic info and adjust your
            account email and password.
          </p>
        </div>
        <form action="">
          <div class="form-input-wrapper">
            <label for="name" class="small-text text">Full Name</label>
            <input
              id="name"
              v-model="fullName"
              type="text"
              autocomplete="given-name"
              :placeholder="fullName"
              name="name"
            />
          </div>
          <div class="setting__form-input-wrapper">
            <input
              type="submit"
              class="setting__form-submit-button btn mint input"
              value="Update"
              @click.prevent="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"
import { IUserProfileUpdate } from "@/interfaces"

@Component({
  middleware: ["authenticated"],
})
export default class PatientSettings extends Vue {
  @Getter("loggedInUser") userProfile
  @Getter("isAuthenticated") isLoggedIn
  @Action("main/logOut") userLogOut
  @Action("main/updateUserProfile") updateUserProfile
  public fullName: string = ""
  public email: string = ""

  public created() {
    this.reset()
  }

  public reset() {
    if (this.userProfile) {
      this.fullName = this.userProfile.full_name
      this.email = this.userProfile.email
    }
  }

  public cancel() {
    this.$router.back()
  }

  public async submit() {
    const updatedProfile: IUserProfileUpdate = {}
    if (this.fullName) {
      updatedProfile.full_name = this.fullName
    }
    if (this.email) {
      updatedProfile.email = this.email
    }
    await this.updateUserProfile(updatedProfile)
    this.$router.push("/settings")
  }

  public async logout() {
    await this.userLogOut()
    if (
      this.$router.currentRoute.path !== "/login" &&
      this.$router.currentRoute.path !== "/"
    ) {
      this.$router.push("/")
    }
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Dashboard")
  }
}
</script>

<style>
.setting__account-info {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}

.input {
  margin-top: 1rem;
}

.setting__form-wrapper {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow);
}

.setting-title-text {
  font-weight: bold;
  color: var(--dark-text);
  margin-bottom: 0.5rem;
}

.text {
  padding-top: 1rem;
  display: block;
}
</style>
