<template>
  <div>
    <div>
      <NuxtLink
        to="/crisislinkmoresupport"
        class="link-text crisis-link__go-back-link"
        style="color: #41496b !important"
      >
        Go back</NuxtLink
      >
    </div>
    <div class="emoji__wrapper">
      <div class="welcome__container">
        <h1 class="title-text crisis-link__title">
          Who are you concerned about?
        </h1>
      </div>

      <div class="crisislink__form mb-6">
        <form action="">
          <div class="form-input-wrapper mb-5">
            <label for="studentlastname">Students last name or initial</label>
            <input id="studentlastname" type="text" name="studentname" />
          </div>
          <div class="form-input-wrapper mb-5">
            <label for="studentfirstname">Students first name</label>
            <input id="studentfirstname" type="text" name="studentfirstname" />
          </div>
          <div class="form-input-wrapper">
            <label for="studentid">Student ID (if you know it)</label>
            <input id="studentid" type="text" name="studentid" />
          </div>
        </form>
      </div>
      <div class="crisislink__footer-button-container">
        <NuxtLink
          class="crisislink__footer-button btn main"
          to="/shareyourconcern2"
          >Continue</NuxtLink
        >
      </div>
      <div class="welcome__container">
        <p class="crisis-link__footer-text" style="margin-bottom: 0.5rem">
          This form is for an individual to recommend counseling services for a
          for a BHHS student.
        </p>
        <p class="crisis-link__footer-text">
          A Counselor from the NormanAid Wellness Team will reach out to the
          student as quickly as possible. For additional resources, visit
          normanaid.org.
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
})
export default class ShareYourConcern2 extends Vue {
  @Getter("loggedInUser") userProfile
  @Getter("isAuthenticated") isLoggedIn
  @Action("main/logOut") userLogOut
  public isOpen: boolean = false
  public async logout() {
    await this.userLogOut()
    if (
      this.$router.currentRoute.path !== "/login" &&
      this.$router.currentRoute.path !== "/"
    ) {
      this.$router.push("/")
    }
  }
}
</script>

<style lang="scss" scoped>
.crisis-link__title {
  text-align: center;
}
.crisislink__form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.crisislink__footer-button-container {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.crisis-link__footer-text {
  font-size: 0.9rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
}
</style>
