<template>
  <div>
    <div>
      <NuxtLink
        to="/shareyourconcern"
        class="link-text crisis-link__go-back-link"
        style="color: #41496b !important"
      >
        Go back</NuxtLink
      >
    </div>
    <div class="emoji__wrapper">
      <div class="welcome__container">
        <h1 class="title-text crisis-link__title">
          Who is making the request?
        </h1>
      </div>

      <div class="crisislink__form mb-6">
        <form>
          <p class="form-label">Request being made by</p>
          <div class="radio__buttons mb-4">
            <div class="form-input-wrapper radio">
              <input
                id="request-made-by-friend"
                type="radio"
                name="request-made-by"
                value="friend"
              />
                <label for="request-made-by-friend">Friend/Peer</label>
            </div>
            <div class="form-input-wrapper radio">
              <input
                id="request-made-by-parent"
                type="radio"
                name="request-made-by"
                value="Parent/Gaurdian"
              />
                <label for="request-made-by-parent">Parent/Gaurdian</label>
            </div>
            <div class="form-input-wrapper radio">
              <input
                id="request-made-by-staff"
                type="radio"
                name="request-made-by"
                value="BHUSD Staff Member"
              />
               <label for="request-made-by-staff"> BHUSD Staff Member</label>
            </div>
          </div>
          <div class="form-input-wrapper mb-6">
            <label for="studentname"
              >Name of the Person Making the Request</label
            >
            <input id="studentname" type="text" name="studentname" />
          </div>
          <div class="form-input-wrapper">
            <label for="studentid"
              >Email of the person referring student to NAWC(Parent's/Staff
              Member)</label
            >
            <input id="studentid" type="text" name="studentid" />
          </div>
        </form>
      </div>
      <div class="crisislink__footer-button-container">
        <NuxtLink
          class="crisislink__footer-button btn main"
          to="/shareyourconcernsuccess"
          >Submit</NuxtLink
        >
      </div>
      <div class="welcome__container">
        <p class="crisis-link__footer-text" style="margin-bottom: 0.5rem">
          This form is for an individual to recommend counseling services for a
          for a BHHS student.
        </p>
        <p class="crisis-link__footer-text">
          A Counselor from the NormanAid Wellness Team will reach out to the
          student as quickly as possible. For additional resources, visit
          normanaid.org.
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
})
export default class ShareYourConcern2 extends Vue {
  @Getter("loggedInUser") userProfile
  @Getter("isAuthenticated") isLoggedIn
  @Action("main/logOut") userLogOut

  public async logout() {
    await this.userLogOut()
    if (
      this.$router.currentRoute.path !== "/login" &&
      this.$router.currentRoute.path !== "/"
    ) {
      this.$router.push("/")
    }
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Dashboard")
  }
}
</script>

<style scoped>
.radio__buttons {
  padding-bottom: 0.5rem;
}
.form-label {
  border: none;
  color: var(--dark-text);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.crisis-link__title {
  text-align: center;
}
.crisislink__form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.crisislink__footer-button-container {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.crisis-link__footer-text {
  font-size: 0.9rem;
  color: #8390a2;
  line-height: 1.5;
  text-align: center;
}
</style>
