<template>
  <div>
    <div>
      <NuxtLink
        to="/shareyourconcern2"
        class="link-text booknow__go-back-link"
        style="color: #41496b !important"
      >
        Go back
      </NuxtLink>
    </div>

    <div class="emoji__wrapper">
      <div class="welcome__container">
        <h1 class="title-text success-title">Thank You!</h1>
      </div>
      <div class="appointment__success-container">
        <img
          src="~/assets/images/appointments/heart.png"
          alt="Thank you heart"
          class="mb-6"
        />
        <p class="appointment__success-text" style="text-align: center">
          Thank you for sharing your concern about someone else. If you or
          someone you know is in immediate danger see the BHHS
          <span style="color: #1a535c; cursor: pointer">
            <a
              style="color: #1a535c; cursor: pointer"
              class="appointment__success-highlight"
              href="https://www.greenwoodcollege.org/community/supporting-well-being"
            >
              Crisis Support Page
            </a>
          </span>
          or call 911.
        </p>
      </div>
      <div class="welcome__container">
        <p class="helpfinder__footer-text">
          Please note that appointments are subject to availability. If you have
          have a crisis and are not able to schedule immediate help, please
          refer to our
          <span>
            <a
              href="https://www.greenwoodcollege.org/community/supporting-well-being"
              class="crisis-link__footer-link"
              target="_blank"
              style="color: #1a535c"
              >Crisis Support Page.</a
            ></span
          >
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter, Action } from "nuxt-property-decorator"

@Component({
  // layout: "patient",
  middleware: ["authenticated"],
})
export default class ShareYourConcernSuccess extends Vue {
  @Getter("loggedInUser") userProfile
  @Getter("isAuthenticated") isLoggedIn
  @Action("main/logOut") userLogOut

  public async logout() {
    await this.userLogOut()
    if (
      this.$router.currentRoute.path !== "/login" &&
      this.$router.currentRoute.path !== "/"
    ) {
      this.$router.push("/")
    }
  }

  asyncData({ store }) {
    store.commit("helpers/setHeadingTitle", "Dashboard")
  }
}
</script>

<style lang="scss" scoped>
.success-title {
  text-align: center;
}
.appointment__success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.appointment__success-text {
  font-size: 0.9rem;
  font-weight: 800;
  color: var(--dark-text);
}
</style>
