<template>

<div class="container-fluid mx-auto">
  <div class="text-3xl font-bold text-center my-8">Tailwind Test Title</div>

  <div class="grid grid-cols-4 gap-4 my-8">
    <div class="bg-green-500 h-64 text-white text-center rounded-lg hover:shadow-xl">
      Test Div
    </div>
    <div class="bg-blue-500 h-64 text-white text-center rounded-lg hover:shadow-xl">
      Test Div
    </div>
    <div class="bg-purple-500 h-64 text-white text-center rounded-lg hover:shadow-xl">
      Test Div
    </div>
    <div class="bg-orange-500 h-64 text-white text-center rounded-lg hover:shadow-xl">
      Test Div
    </div>
  </div>

  <div class="text-3xl font-bold text-center my-8">Button Test</div>

  <div class="grid grid-cols-4 gap-4 my-8">
    <button class="btnx w-full">
      Test Button
    </button>
  </div>


</div>

</template>
