<template>
  <div class="admin-overview-grid">
    <UserActivity />
    <DeviceDetails />
    <LoginAttempts />
    <!-- <StorageUsage /> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"

import UserActivity from "./UserActivity.vue"
import LoginAttempts from "./LoginAttempts.vue"
import StorageUsage from "./StorageUsage.vue"
import DeviceDetails from "./DeviceDetails.vue"


@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
  components: {
    UserActivity,
    LoginAttempts,
    StorageUsage,
    DeviceDetails
  },
})
export default class AdminAnalyticsOverview extends Vue {
}
</script>

<style lang="scss" >

.admin-overview-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
}
.admin-overview-grid__card {
  background-color: #fff;
  height: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  display: flex;
  flex-direction: column;
  width: 100%
}

// chnage this to 2 and uncomment the small class to make the cards smaller and add small class to device details
.admin-overview-grid__card--large {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  grid-row: 1 / 2;
}


// .admin-overview-grid__card--small {
//   grid-column: span 1;
//   grid-row: 1 / 2;
// }

// active users



@media (max-width: 868px) {
  .admin-overview-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .admin-overview-grid__card {
    min-width: 100%;
  }

  .admin-overview-grid__card--large,
  .admin-overview-grid__card--small {
    grid-column: auto;
    grid-row: auto;
    max-width: 90vw;
  }
}
</style>
