<template>
  <div class="crisis-resources-grid">
    <GetHelpNowCard />
    <MeVsSomeoneElse />
    <SomeoneElseActions />
    <TopCrisisResources />
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import GetHelpNowCard from "./GetHelpNowCard.vue"
import MeVsSomeoneElse from "./MeVsSomeoneElse.vue"
import SomeoneElseActions from "./SomeoneElseActions.vue"
import TopCrisisResources from "./TopCrisisResources.vue"

@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
  components: {
    GetHelpNowCard,
    MeVsSomeoneElse,
    SomeoneElseActions,
    TopCrisisResources
  }
})
export default class AdminCrisisResources extends Vue {}
</script>

<style lang="scss" scoped>
.crisis-resources-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
}

.crisis-resources-grid__card {
  background-color: #fff;
  height: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  display: flex;
  flex-direction: column;
  width: 100%
}

.crisis-resources-grid__card--full {
  grid-column: 1 / 4; /* Span the full width of the grid */
  grid-row: 1 / 2;
}

@media (max-width: 768px) {
  .crisis-resources-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .crisis-resources-grid__card--full {
    grid-column: auto;
    grid-row: auto;
    max-width: 90vw;
  }

}
</style>
