<template>
  <div class="resources-grid">
    <div class="resources-grid__left">
      <div class="resources-inner-grid">
        <!-- Add the inner grid cards here -->
        <VideoViews />
        <MostViewedVideos />
        <MostLikedVideos />
        <PodcastViews />
        <MostViewedPodcasts />
        <MostLikedPodcasts />
        <ArticleViews />
        <MostViewedArticles />
        <MostLikedArticles />
      </div>
    </div>
    <div class="resources-grid__right">
      <!-- Add the right side cards here -->
      <!-- <ResourceStorage /> -->
      <TopSearchTerms />
      <MostUsedTags />

    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import MostUsedTags from "./MostUsedTags.vue";
import ResourceStorage from "./ResourceStorage.vue";
import TopSearchTerms from "./TopSearchTerms.vue";
import VideoViews from "./VideoViews.vue";
import PodcastViews from "./PodcastViews.vue";
import ArticleViews from "./ArticleViews.vue";
import MostViewedVideos from "./MostViewedVideos.vue";
import MostLikedVideos from "./MostLikedVideos.vue"
import MostViewedPodcasts from "./MostViewedPodcasts.vue";
import MostLikedPodcasts from "./MostLikedPodcasts.vue";
import MostViewedArticles from "./MostViewedArticles.vue";
import MostLikedArticles from "./MostLikedArticles.vue";

@Component({
  components: {
    ResourceStorage,
    TopSearchTerms,
    MostUsedTags,
    VideoViews,
    PodcastViews,
    ArticleViews,
    MostViewedVideos,
    MostLikedVideos,
    MostViewedPodcasts,
    MostLikedPodcasts,
    MostViewedArticles,
    MostLikedArticles
  },
})
export default class ResourceGrid extends Vue {

}
</script>

<style lang="scss" scoped>
.resources-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
  }
}

.resources-inner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1.5rem;
}

.resource-card {
  background-color: #fff;
  height: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  display: flex;
  flex-direction: column;


  &--large {
    grid-column: span 2;
  }
}

.right-resource-card {
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .resources-grid {
    grid-template-columns: 1fr;
  }

  .resources-inner-grid {
    grid-template-columns: 1fr;
  }

  .resource-card--large {
    grid-column: auto;
    max-width: 90vw;
  }
}
</style>
