<template>
  <div class="appointments-grid">

    <!-- <Appointments /> -->
    <!-- <StudentCounselorRatio />
    <AppointmentsByCounselor /> -->
    <!-- <AppointmentLength /> -->
    <!-- <AppointmentsMood /> -->
    <!-- <AppointmentHours /> -->
  </div>
</template>

<script lang="ts">
import {
  Action,
  Component,
  Getter,
  Vue,
  Mutation,
} from "nuxt-property-decorator"
import AppointmentLength from "./AppointmentLength.vue"
import Appointments from "./Appointments.vue"
import AppointmentsByCounselor from "./AppointmentsByCounselors.vue"
import AppointmentsMood from "./AppointmentsMood.vue"
import StudentCounselorRatio from "./StudentCounselorRatio.vue"
import AppointmentHours from "./AppointmentHours.vue"

@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
  components: {
    Appointments,
    StudentCounselorRatio,
    AppointmentsByCounselor,
    AppointmentsMood,
    AppointmentLength,
    AppointmentHours
  }
})
export default class AdminAppointments extends Vue {}
</script>

<style lang="scss" scoped>
.appointments-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
}

.appointments-grid__card {
  background-color: #fff;
  height: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
  display: flex;
  flex-direction: column;
  width: 100%
}

.appointments-grid__card--large {
  grid-column: span 2;
  grid-row: 1 / 2;
}

.appointments-grid__card--small {
  grid-column: span 1;
  grid-row: 1 / 2;
}

.appointments-grid__card--full {
  grid-column: 1 / 4; /* Span the full width of the grid */
  grid-row: 3 / 4;
}

@media (max-width: 768px) {
  .appointments-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .appointments-grid__card--large,
  .appointments-grid__card--small,
  .appointments-grid__card--full {
    grid-column: auto;
    grid-row: auto;
    max-width: 90vw;
  }
}
</style>
