<template>
  <div class="appointments-grid__card appointment-length-card">
    <div class="appointment-length-card__header">
      <div class="appointment-length-card__title">
        <p class="appointment-length-card__name">Avg. Appointment Length</p>
      </div>
      <div class="appointment-length-card__options">
        <select v-model="selectedUpto">
          <option value="1">Today</option>
          <option value="7">Last 7 Days</option>
          <option value="30">Last 30 Days</option>
          <option value="365">Last Year</option>
        </select>
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-container">
        <PieChart
          :height="250"
          ref="chart"
          :chart-data="chartData"
          :options="chartOptions"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator"
import { Pie } from "vue-chartjs/legacy"
import { Chart, PieController, ArcElement, Tooltip, Legend } from "chart.js"
import { getAppointmentLength } from "~/api/analytics"

// Register the required elements for Pie chart
Chart.register(PieController, ArcElement, Tooltip, Legend)
type LoginEntry = {
  type: string
  count: number
}

@Component({
  middleware: ["authenticated"],
  components: {
    PieChart: Pie,
  },
})
export default class AppointmentLength extends Vue {
  list: LoginEntry[] = []
  selectedUpto = 7
  chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        position: "bottom",
      },
    },
  }

  // Replace this with data fetched from your API
  async getLengths(upto) {
  try {
    const { data } = await getAppointmentLength(upto)

    const durationData = {}
    data.forEach((element) => {
      durationData[element.duration] = element.num_appointments
    })

    this.list = [
      { type: "30 Minutes", count: durationData[30] || 0 },
      { type: "45 Minutes", count: durationData[45] || 0 },
      { type: "60 Minutes", count: durationData[60] || 0 },
    ]
  } catch (error) {
    this.$toast.error("Error loading avg. appointment lengths attempts")
  }
}

  get chartData(): {
    labels: string[]
    datasets: { data: number[]; backgroundColor: string[] }[]
  } {
    const labels = this.list.map((entry) => entry.type)
    const data = this.list.map((entry) => entry.count)

    return {
      labels,
      datasets: [
        {
          data,
          backgroundColor: ["rgba(75, 192, 192, 1)",
            "rgba(255, 99, 132, 1)",
            "rgba(255, 205, 86, 1)",
            "rgba(153, 102, 255, 1)",],
        },
      ],
    }
  }

  @Watch("selectedUpto")
  onSelectedUptoChange(newValue: number) {
    this.getLengths(newValue)
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }

  mounted() {
    this.getLengths(this.selectedUpto)
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>

<style scoped lang="scss">
.chart-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart-container {
  display: flex;
  align-items: center;
  height: 250px;
  flex-direction: column;
  max-width: 270px;
}

.appointment-length-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.appointment-length-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.appointment-length-card__options {
  font-size: 0.8rem;
  color: var(--dark-text);
}
</style>
