<template>
  <div
    class="
      appointments-grid__card appointments-grid__card--large
      appointments-card
    "
  >
    <div class="appointments-card__header">
      <div class="appointments-card__title">
        <p class="appointments-card__name">Number of Appointments</p>
        <p class="appointments-card__subtitle">
          A view of all scheduled and canceled appointments.
        </p>
      </div>
      <div class="active-users-card__options">
        <select v-model="selectedUpto">
          <option value="1">Daily</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </div>
    </div>
    <div class="chart-container">
      <BarChart
        :height="250"
        ref="chart"
        :chart-data="chartData"
        :options="chartOptions"
      />
    </div>

    <div class="active-users-card__pagination">
      <button @click="nextPage" :disabled="isEndOfList">
        <span class="las la-arrow-left"></span>
      </button>
      <button @click="prevPage" :disabled="skip === 0">
        <span class="las la-arrow-right"></span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator"
import { Bar } from "vue-chartjs/legacy"
import { format } from "date-fns"
import {
  Chart,
  BarElement,
  PointElement,
  LinearScale,
  CategoryScale,
} from "chart.js"
import { getAppointments } from "~/api/analytics"

// Register the required elements for Bar chart
Chart.register(BarElement, PointElement, LinearScale, CategoryScale)
interface Entry {
  total_cancelled: number
  total_scheduled_or_completed: number
  d: string
  label: string
}

@Component({
  middleware: ["authenticated"],
  components: {
    BarChart: Bar,
  },
})
export default class AppointmentsCard extends Vue {
  data = []
  selectedUpto = 1
  skip = 0
  limit = 5
  isEndOfList = false

  chartOptions = {
    type: "bar",
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: true,
        position: "bottom",
      },
    },
    scales: {
      x: {
        display: true,
      },
      y: {
        display: true,
        beginAtZero: true,
        ticks: {
          stepSize: 1, // Add this line to set the step size to 1.
        },
      },
    },
  }

  // Sample data for multiple days

  get chartData() {
    const processedData = this.data.reduce(
      (
        acc: {
          labels: string[]
          datasets: {
            label: string
            data: number[]
            borderColor: string
            pointBackgroundColor: string
            pointBorderColor: string
            pointHoverBackgroundColor: string
            pointHoverBorderColor: string
            backgroundColor: string
          }[]
        },
        entry: Entry
      ) => {
        if (!acc.labels.includes(entry.label)) {
          acc.labels.push(entry.label)
        }

        const dataIndex = acc.labels.indexOf(entry.label)
        acc.datasets[0].data[dataIndex] = entry.total_scheduled_or_completed
        acc.datasets[1].data[dataIndex] = entry.total_cancelled

        return acc
      },
      {
        labels: [],
        datasets: [
          {
            label: "Total Scheduled",
            data: [],
            borderColor: "rgb(75, 192, 192)",
            pointBackgroundColor: "rgba(75, 192, 192, 1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(75, 192, 192, 1)",
            backgroundColor: "rgba(75, 192, 192, 1)",
          },
          {
            label: "Total Cancelled",
            data: [],
            borderColor: "rgba(255, 99, 132, 1)",
            pointBackgroundColor: "rgba(255, 99, 132, 1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(255, 99, 132, 1)",
            backgroundColor: "rgba(255, 99, 132, 1)",
          },
        ],
      }
    )

    return processedData
  }

  async fetchData() {
    try {
      const response = await getAppointments({
        skip: this.skip,
        limit: this.limit,
        upto: this.selectedUpto,
      })

      if (response.data.length === 0) {
        this.isEndOfList = true
        return
      }

      if (JSON.stringify(this.data) === JSON.stringify(response.data)) {
        this.isEndOfList = true
      } else {
        this.isEndOfList = false
        this.data = response.data.reverse()
      }
    } catch (error) {
      console.error("Error fetching user login analytics data:", error)
    }
  }

  async created() {
    await this.fetchData()
  }

  async prevPage() {
    if (this.skip > 0) {
      this.skip -= this.limit
      await this.fetchData()
    }
  }

  async nextPage() {
    if (!this.isEndOfList) {
      this.skip += this.limit
      await this.fetchData()
    }
  }

  chartPlugins = {
    id: "updateChart",
    beforeUpdate: (chart) => {
      chart.data = this.chartData
    },
  }

  @Watch("data")
  onDataChange() {
    this.updateChart()
  }

  @Watch("selectedUpto")
  async onSelectedUptoChange() {
    this.skip = 0 // Reset the skip value when changing the selectedUpto
    await this.fetchData()
  }

  updateChart() {
    const chartComponent = this.$refs.chart as any
    if (chartComponent) {
      chartComponent.$data._chart.update()
    }
  }

  mounted() {
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>

<style lang="scss" scoped>
.chart-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  flex-direction: column;
  div {
    width: 100%;
  }
}

.appointments-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.appointments-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.appointments-card__subtitle {
  color: var(--light-text);
  font-size: 0.7rem;
}

.appointments-card__options {
  font-size: 0.8rem;
  color: var(--dark-text);
}

.appointments-card__pagination {
  display: flex;
  justify-content: flex-end;
}

.appointments-card__pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  margin: 0rem 0.2rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}
</style>
