<template>
  <div class="appointments-grid__card appointment-moods-card">
    <div class="appointment-moods-card__header">
      <div class="appointment-moods-card__title">
        <p class="appointment-moods-card__name">Mood When Booking</p>
      </div>
      <div class="device-details-card__options">
        <select v-model="upto" @change="getMoods">
          <option value="1">Today</option>
          <option value="7">Last 7 Days</option>
          <option value="30">Last 30 Days</option>
          <option value="365">Last Year</option>
        </select>
      </div>
    </div>
    <ul class="appointment-moods-card__list" v-if="list && list.length">
      <li v-for="item in list" :key="item.appointment_date">
        <template v-if="item.mood.length">
          <span class="appointment-moods-card__data">
          <img
          v-if="item.mood.length"
            class="appointment-moods-card__image"
            :src="require(`~/assets/images/${item.mood}.png`)"
            :alt="`${item.mood} image`"
          />
          {{ item.mood }}
          
        </span>

        <span class="appointment-moods-card__data">{{ item.total_moods }}</span>
        </template>
        
        
      </li>
    </ul>
    <ul class="appointment-moods-card__list" v-else>
      <li>
        <span>Nothing to display</span>
      </li>
    </ul>

    <!-- <NuxtLink to="/admin/appointments" class="appointment-moods-card__link"
      ><span>Go To Appointments</span></NuxtLink
    > -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { getAppointmentMoods } from "~/api/analytics"
interface AppointmentMood {
  appointment_date: string
  mood: string
  total_moods: number
}


@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
})


export default class AppointmentsMood extends Vue {
  list: AppointmentMood[] = [];
  upto = 7
  async getMoods() {
    try {
      const { data: list } = await getAppointmentMoods(this.upto)
      this.list = list
    } catch (error) {
      this.$toast.error("Error loading appointment moods")
    }
  }

  mounted() {
    this.getMoods()
  }
}
</script>

<style scoped lang="scss">
.appointment-moods-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.appointment-moods-card {
  grid-column: span 1 !important;
}
.appointment-moods-card__name {
  /* Add any specific styles for the title and subtitle */
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.appointment-moods-card__options {
  /* Add any specific styles for the options input */
  font-size: 0.8rem;
  color: var(--dark-text);
}

.appointment-moods-card__list {
  margin-bottom: 0.5rem;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.appointment-moods-card__data:nth-last-of-type(2) {
  color: var(--dark-text);
}

.appointment-moods-card__data {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  color: var(--light-text);
  img {
    margin-right: 0.5rem;
  }
}

.appointment-moods-card__link {
  text-align: right;
  font-size: 0.9rem;
  color: #2c8c9c;
  text-decoration: underline;
}

.appointment-moods-card__image {
  width: 33px !important;
  height: 33px !important;
}
</style>
