<template>
  <div class="appointments-grid__card appointment-by-counselors-card">
    <div class="appointment-by-counselors-card__header">
      <div class="appointment-by-counselors-card__title">
        <p class="appointment-by-counselors-card__name">Total Appointments by Counselor</p>
      </div>
      <!-- <div class="appointment-by-counselors-card__options">
        Last
        <select>
          <option value="daily">7 Days</option>
          <option value="monthly">30 Days</option>
          <option value="monthly">60 Days</option>
          <option value="monthly">90 Days</option>
          <option value="monthly">Year</option>
        </select>
      </div> -->
    </div>
    <!-- <ul class="appointment-by-counselors-card__list" v-if="list && list.length">
      <li v-for="item in list" :key="item.id">
        <span class="appointment-by-counselors-card__data">{{ item.type }}</span>
        <span class="appointment-by-counselors-card__data">{{ item.count }}</span>
      </li>
    </ul> -->

    <ul class="appointment-by-counselors-card__list">
    <li v-for="item in list" :key="item.full_name">
      <span class="appointment-by-counselors-card__data">{{ item.full_name }}</span>
      <span class="appointment-by-counselors-card__data">{{ item.num_appointments }}</span>
    </li>
  </ul>


    <!-- <NuxtLink to="/admin/appointments" class="appointment-by-counselors-card__link"
      ><span>Go To Appointments</span></NuxtLink
    > -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import { getAppointmentsByCounselor } from "~/api/analytics";

interface AppointmentByCounselor {
  full_name: string;
  num_appointments: number;
}

@Component({
  middleware: ["authenticated"],
})
export default class AppointmentsByCounselor extends Vue {
  list: AppointmentByCounselor[] = [];

  async getUserTypes() {
    try {
      const response = await getAppointmentsByCounselor();
      this.list = response.data.slice(0, 8);
    } catch (error) {
      this.$toast.error("Error loading appointments by counselor");
    }
  }

  mounted() {
    this.getUserTypes();
  }
}
</script>

<style scoped lang="scss">

.appointment-by-counselors-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.appointment-by-counselors-card {
    grid-column: span 1 !important;
}
.appointment-by-counselors-card__name {
  /* Add any specific styles for the title and subtitle */
  font-weight: 600;
  color: var(--dark-text);
  font-size: .9rem;
}

.appointment-by-counselors-card__options {
  /* Add any specific styles for the options input */
  font-size: 0.8rem;
  color: var(--dark-text);
}

.appointment-by-counselors-card__list {
    margin-bottom: .5rem;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.appointment-by-counselors-card__data:nth-last-of-type(2) {
  color: var(--dark-text);
}

.appointment-by-counselors-card__data {
  font-size: 0.8rem;
  color: var(--light-text);
}

.appointment-by-counselors-card__link {
    text-align: right;
  font-size: 0.9rem;
  color: #2c8c9c;
  text-decoration: underline;
}
</style>