<template>
  <div class="appointments-grid__card appointments-grid__card--full hours-card">
    <div class="hours-card__header">
      <div class="hours-card__title">
        <p class="hours-card__name">Hours Available vs. Hours Booked</p>
        <p class="hours-card__subtitle">
          Comparing the number of available hours vs the hours booked by
          students.
        </p>
      </div>
      <div class="active-users-card__options">
        <select v-model="selectedUpto">
          <option value="1">Daily</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </div>
    </div>
    <div class="chart-container">
      <LineChart
        :height="250"
        ref="chart"
        :chart-data="chartData"
        :options="chartOptions"
      />
    </div>

    <div class="active-users-card__pagination">
      <button @click="nextPage" :disabled="isEndOfList">
        <span class="las la-arrow-left"></span>
      </button>
      <button @click="prevPage" :disabled="skip === 0">
        <span class="las la-arrow-right"></span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator"
import { getAvailVsBooked } from "~/api/analytics"

import { Line } from "vue-chartjs/legacy"
import {
  Chart,
  LineElement,
  PointElement,
  LinearScale,
  CategoryScale,
  TimeScale,
} from "chart.js"

// Register the required elements for Line chart
Chart.register(LineElement, PointElement, LinearScale, CategoryScale, TimeScale)
interface Entry {
  d: string
  total_booked: number
  total_availability: number
  label: string
}

@Component({
  middleware: ["authenticated"],
  components: {
    LineChart: Line,
  },
})
export default class AppointmentHours extends Vue {
  data = []
  selectedUpto = 1
  skip = 0
  limit = 5
  isEndOfList = false

  chartOptions = {
    type: "line",
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: true,
        position: "bottom",
      },
    },
    scales: {
      x: {
        display: true,
      },
      y: {
        display: true,
        beginAtZero: true,
      },
    },
  }

  get chartData() {
    const processedData = this.data.reduce(
      (
        acc: {
          labels: string[]
          datasets: {
            label: string
            data: number[]
            borderColor: string
            pointBackgroundColor: string
            pointBorderColor: string
            pointHoverBackgroundColor: string
            pointHoverBorderColor: string
            tension: number
            fill: boolean
            backgroundColor: string
          }[]
        },
        entry: Entry
      ) => {
        if (!acc.labels.includes(entry.label)) {
          acc.labels.push(entry.label)
        }

        const dataIndex = acc.labels.indexOf(entry.label)
        acc.datasets[0].data[dataIndex] = entry.total_availability
        acc.datasets[1].data[dataIndex] = entry.total_booked

        return acc
      },
      {
        labels: [],
        datasets: [
          {
            label: "Total Availability",
            data: [],
            borderColor: "rgb(75, 192, 192)",
            pointBackgroundColor: "rgba(75, 192, 192, 1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(75, 192, 192, 1)",
            tension: 0.5,
            fill: true,
            backgroundColor: "rgba(75, 192, 192, 0.2)",
          },
          {
            label: "Total Booked",
            data: [],
            borderColor: "rgba(255, 99, 132, 1)",
            pointBackgroundColor: "rgba(255, 99, 132, 1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(255, 99, 132, 1)",
            tension: 0.5,
            fill: true,
            backgroundColor: "rgba(255, 99, 132, .2)",
          },
        ],
      }
    )

    return processedData
  }

  // get chartData() {
  //   const labels = this.rawData.map((entry) =>
  //     format(new Date(entry.date), "MMM dd")
  //   )
  //   const availableHours = this.rawData.map((entry) => entry.available_hours)
  //   const bookedHours = this.rawData.map((entry) => entry.booked_hours)

  //   return {
  //     labels,
  //     datasets: [
  //       {
  //         label: "Hours Available",
  //         data: availableHours,
  //         borderColor: "rgb(75, 192, 192)",
  //         pointBackgroundColor: "rgba(75, 192, 192, 1)",
  //         pointBorderColor: "#fff",
  //         pointHoverBackgroundColor: "#fff",
  //         pointHoverBorderColor: "rgba(75, 192, 192, 1)",
  //         tension: 0.5,
  //         fill: true,
  //         backgroundColor: "rgba(75, 192, 192, 0.2)",
  //       },
  //       {
  //         label: "Hours Booked",
  //         data: bookedHours,
  //         borderColor: "rgb(255, 99, 132)",
  //         pointBackgroundColor: "rgba(255, 99, 132, 1)",
  //         pointBorderColor: "#fff",
  //         pointHoverBackgroundColor: "#fff",
  //         pointHoverBorderColor: "rgba(255, 99, 132, 1)",
  //         tension: 0.5,
  //         fill: true,
  //         backgroundColor: "rgba(255, 99, 132, 0.2)",
  //       },
  //     ],
  //   }
  // }

  async fetchData() {
    try {
      const response = await getAvailVsBooked({
        skip: this.skip,
        limit: this.limit,
        upto: this.selectedUpto,
      })

      if (response.data.length === 0) {
        this.isEndOfList = true
        return
      }

      if (JSON.stringify(this.data) === JSON.stringify(response.data)) {
        this.isEndOfList = true
      } else {
        this.isEndOfList = false
        this.data = response.data.reverse()
      }
    } catch (error) {
      console.error("Error fetching user login analytics data:", error)
    }
  }

  async created() {
    await this.fetchData()
  }

  async prevPage() {
    if (this.skip > 0) {
      this.skip -= this.limit
      await this.fetchData()
    }
  }

  async nextPage() {
    if (!this.isEndOfList) {
      this.skip += this.limit
      await this.fetchData()
    }
  }

  chartPlugins = {
    id: "updateChart",
    beforeUpdate: (chart) => {
      chart.data = this.chartData
    },
  }

  @Watch("data")
  onDataChange() {
    this.updateChart()
  }

  @Watch("selectedUpto")
  async onSelectedUptoChange() {
    this.skip = 0 // Reset the skip value when changing the selectedUpto
    await this.fetchData()
  }

  updateChart() {
    const chartComponent = this.$refs.chart as any
    if (chartComponent) {
      chartComponent.$data._chart.update()
    }
  }

  mounted() {
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>

<style lang="scss">
.chart-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  flex-direction: column;
  div {
    width: 100%;
  }
}

.hours-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.hours-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.hours-card__subtitle {
  color: var(--light-text);
  font-size: 0.7rem;
}

.hours-card__options {
  font-size: 0.8rem;
  color: var(--dark-text);
}

.hours-card__pagination {
  display: flex;
  justify-content: flex-end;
}

.hours-card__pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  margin: 0rem 0.2rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}
</style>
