<template>
  <div class="admin-overview-grid__card">
    <div class="device-details-card__header">
      <div class="device-details-card__title">
        <p class="device-details-card__name">Device Details</p>
      </div>
      <div class="device-details-card__options">
        <select v-model="selectedOption" @change="fetchDeviceDetails">
          <option value="os">Most Used OS</option>
          <option value="browser">Most Used Browser</option>
        </select>
      </div>
    </div>
    <ul class="device-details-card__list" v-if="selectedOption === 'os'">
      <li v-for="item in deviceDetails" :key="item.device">
        <span class="device-details-card__data">{{ item.device }}</span>
        <span class="device-details-card__data">{{ item.device_count }}</span>
      </li>
    </ul>
    <ul class="device-details-card__list" v-if="selectedOption === 'browser'">
      <li v-for="item in deviceDetails" :key="item.device">
        <span class="device-details-card__data">{{ item.device }}</span>
        <span class="device-details-card__data">{{ item.device_count }}</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { getDeviceDetails } from "~/api/analytics"

interface DeviceDetails {
  device: string
  device_count: number
}

@Component({
  middleware: ["authenticated"],
})
export default class DeviceDetailsCard extends Vue {
  selectedOption = "os"
  deviceDetails: DeviceDetails[] = []

  async fetchDeviceDetails() {
    try {
      const device_type = this.selectedOption
      const { data } = await getDeviceDetails(device_type)
      this.deviceDetails = data
        .map((item) => {
          return {
            device: item.browser_version || item.os_version,
            device_count: item.device_count,
          }
        })
        .slice(0, 8)
    } catch (error) {
      const permissions = this.$store.state.auth.user.permissions
      if (permissions.includes("organization.read.list")) {
        this.$toast.error("Error loading device details")
      }
    }
  }

  mounted() {
    this.fetchDeviceDetails()
  }
}
</script>

<style scoped lang="scss">
.device-details-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.device-details-card__name {
  /* Add any specific styles for the title and subtitle */
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.device-details-card__options {
  /* Add any specific styles for the options input */
  font-size: 0.8rem;
  color: var(--dark-text);
}

.device-details-card__list {
  margin-bottom: 0.5rem;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.device-details-card__data:nth-last-of-type(2) {
  color: var(--dark-text);
}

.device-details-card__data {
  font-size: 0.8rem;
  color: var(--light-text);
}
</style>
