<template>
  <div class="admin-overview-grid__card login-attempts-card">
    <div class="login-attempts-card__header">
      <div class="login-attempts-card__title">
        <p class="login-attempts-card__name">Login Attempts</p>
      </div>
      <div class="login-attempts-card__options">
        <select v-model="selectedUpto">
          <option value="1">Today</option>
          <option value="7">Last 7 Days</option>
          <option value="30">Last 30 Days</option>
          <option value="365">Last Year</option>
          
        </select>
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-container">
        <PieChart
          :height="250"
          ref="chart"
          :chart-data="chartData"
          :options="chartOptions"
        />
      </div>
    </div>
    <div class="total-logins">
      Total Logins: {{ totalLogins }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator"
import { Pie } from "vue-chartjs/legacy"
import { Chart, PieController, ArcElement, Tooltip, Legend } from "chart.js"
import { getLoginAttepts } from "~/api/analytics"

type LoginEntry = {
  type: string
  count: number
}

// Register the required elements for Pie chart
Chart.register(PieController, ArcElement, Tooltip, Legend)

@Component({
  middleware: ["authenticated"],
  components: {
    PieChart: Pie,
  },
})
export default class LoginAttempts extends Vue {
  list: LoginEntry[] = []
  selectedUpto = 7
  

get totalLogins() {
    return this.list.reduce((sum, entry) => sum + entry.count, 0);
  }

  async getLogins(upto) {
    try {
      const { data } = await getLoginAttepts(upto)
      this.list = [
        { type: "Successful Logins", count: data[0].successful_login },
        { type: "Failed Logins", count: data[1].failed_login },
      ]
    } catch (error) {
      this.$toast.error("Error loading login attempts")
    }
  }

  get rawData() {
  const totalAttempts = this.list.reduce((sum, entry) => sum + entry.count, 0);

  return this.list.map((entry) => ({
    label: entry.type,
    value: totalAttempts > 0 ? (entry.count / totalAttempts) * 100 : 0,
  }));
}

chartOptions = {
  responsive: true,
  maintainAspectRatio: false,
  plugins: {
    tooltip: {
      callbacks: {
        label: function (context) {
          return (
            context.chart.data.labels[context.dataIndex] +
            ": " +
            context.parsed.toFixed(2) +
            "%"
          );
        },
      },
    },
    legend: {
      position: "bottom",
    },
  },
};

 get chartData() {
    const labels = this.rawData.map((entry) => entry.label)
    const data = this.rawData.map((entry) => entry.value)

    return {
      labels,
      datasets: [
        {
          data,
          backgroundColor: [
            "rgba(75, 192, 192, 1)",
            "rgba(255, 99, 132, 1)",
            "rgba(255, 205, 86, 1)",
          ],
        },
      ],
    }
  }


  @Watch("selectedUpto")
  onSelectedUptoChange(newValue: number) {
    this.getLogins(newValue)
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("organization.read.list")) {
      this.getLogins(this.selectedUpto)
    }
    
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>

<style scoped lang="scss">
.total-logins {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}
.chart-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  display: flex;
  align-items: center;
  height: 250px;
  flex-direction: column;
  max-width: 270px;
}

.login-attempts-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.login-attempts-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.login-attempts-card__options {
  font-size: 0.8rem;
  color: var(--dark-text);
}
</style>
