<template>
  <div class="crisis-resources-grid__card me-someone-else-card">
    <div class="me-someone-else-card__header">
      <div class="me-someone-else-card__title">
        <p class="me-someone-else-card__name">Me vs. Someone Else</p>
      </div>
      <div class="me-someone-else-card__options">
        <!-- <select v-model="selectedUpto">
          <option value="1">Today</option>
          <option value="7">Last 7 Days</option>
          <option value="30">Last 30 Days</option>
          <option value="365">Last Year</option>
          
        </select> -->
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-container">
        <PieChart
          :height="250"
          ref="chart"
          :chart-data="chartData"
          :options="chartOptions"
        />
      </div>
    </div>
    <div class="me-someone-else-card__total">
      <p>Total Clicks: {{ totalCount }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator"
import { Pie } from "vue-chartjs/legacy"
import { Chart, PieController, ArcElement, Tooltip, Legend } from "chart.js"
import { getMeVsSomeoneelse } from "~/api/analytics"

type Data = {
  type: string
  count: number
}

// Register the required elements for Pie chart
Chart.register(PieController, ArcElement, Tooltip, Legend)

@Component({
  middleware: ["authenticated"],
  components: {
    PieChart: Pie,
  },
})
export default class MeVsSomeoneElse extends Vue {
  list: Data[] = []

  get rawData() {
    const total = this.list.reduce((sum, entry) => sum + entry.count, 0)

    return this.list.map((entry) => ({
      label: entry.type,
      value: total > 0 ? (entry.count / total) * 100 : 0,
    }))
  }

  chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      tooltip: {
        callbacks: {
          label: (context) => {
            const label = context.chart.data.labels[context.dataIndex]
            const value = context.parsed.toFixed(2)
            return `${label}: ${value}%`
          },
        },
      },
      legend: {
        position: "bottom",
      },
    },
  }

  async getMeVsSomeoneElse() {
    try {
      const { data } = await getMeVsSomeoneelse()
      this.list = [
        { type: "Me", count: data.me },
        { type: "Someone Else", count: data.someone_else },
      ]
    } catch (error) {
      this.$toast.error("Error loading me vs someone else data")
    }
  }

  get totalCount() {
    return this.list.reduce((sum, entry) => sum + entry.count, 0)
  }

  get chartData(): {
    labels: string[]
    datasets: { data: number[]; backgroundColor: string[] }[]
  } {
    const labels = this.rawData.map((entry) => entry.label)
    const data = this.rawData.map((entry) => entry.value)

    return {
      labels,
      datasets: [
        {
          data,
          backgroundColor: ["rgba(75, 192, 192, 1)", "rgba(255, 99, 132, 1)"],
        },
      ],
    }
  }

 mounted() {
  this.getMeVsSomeoneElse()
  this.$nextTick(() => {
    const chartComponent = this.$refs.chart as any
    chartComponent.renderChart(this.chartData, this.chartOptions)
  })
}

}
</script>

<style scoped lang="scss">
.chart-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  display: flex;
  align-items: center;
  height: 250px;
  flex-direction: column;
  max-width: 270px;
}

.me-someone-else-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.me-someone-else-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.me-someone-else-card__options {
  font-size: 0.8rem;
  color: var(--dark-text);
}
.me-someone-else-card__total {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}
</style>
