<template>
  <div class="right-resource-card tags-used-card">
    <div class="tags-used-card__header">
      <div class="tags-used-card__title">
        <p class="tags-used-card__name">Most Used Tags</p>
      </div>
      <div class="tags-used-card__options">
        <select v-model="upto" @change="getTags">
          <option value="1">Today</option>
          <option value="7">Last 7 Days</option>
          <option value="30">Last 30 Days</option>
          <option value="365">Last Year</option>
        </select>
      </div>
    </div>
    <ul class="tags-used-card__list" v-if="list && list.length">
      <li v-for="item in list" :key="item.name">
        <span class="tags-used-card__data"># {{ item.name }}</span>
        <!-- <span class="tags-used-card__data">{{ item.used_count }}</span> -->
      </li>
    </ul>

    <div v-else class="tags-used-card__list">
      <p class="tags-used-card__data">No data available</p>
    </div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { getResourceInteractions } from "~/api/analytics"

interface Entry {
  name: string
  used_count: number
}

@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
})
export default class MostUsedTags extends Vue {
  list: Entry[] = [];
  upto = 7

  async getTags() {
    try {
      let resource_type = "any"
      let interaction_type = "tags"
      const { data } = await getResourceInteractions(
        resource_type,
        interaction_type,
        {
          skip: 0,
          limit: 8,
          upto: this.upto,
        }
      )
      this.list = data
    } catch (error) {
      this.$toast.error("Error loading most used tags")
    }
  }

  mounted() {
    this.getTags()
  }
}
</script>

<style scoped lang="scss">

.tags-used-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.tags-used-card__name {
  /* Add any specific styles for the title and subtitle */
  font-weight: 600;
  color: var(--dark-text);
  font-size: .9rem;
}

.tags-used-card__options {
  /* Add any specific styles for the options input */
  font-size: 0.8rem;
  color: var(--dark-text);
}

.tags-used-card__list {
    margin-bottom: .5rem;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.tags-used-card__data:nth-last-of-type(2) {
  color: var(--dark-text);
}

.tags-used-card__data {
  font-size: 0.8rem;
  color: var(--light-text);
}

</style>
