<template>
  <div class="resource-card crisis-resources-grid__card">
    <div class="most-viewed-article-card__header">
      <div class="most-viewed-article-card__title">
        <p class="most-viewed-article-card__name">Most Viewed Articles</p>
      </div>
      <div class="most-viewed-article-card__options">
        <select v-model="upto" @change="getArticles">
          <option value="1">Today</option>
          <option value="7">Last 7 Days</option>
          <option value="30">Last 30 Days</option>
          <option value="365">Last Year</option>
        </select>
      </div>
    </div>
    <ul class="most-viewed-article-card__list" v-if="list && list.length">
      <li v-for="item in list" :key="item.title">
        <span class="most-viewed-article-card__data">{{ item.title }}</span>
        <span class="most-viewed-article-card__data">{{ item.views }}</span>
      </li>
    </ul>
    <div v-else class="most-viewed-article-card__list">
      <p class="most-viewed-article-card__data">No data available</p>
      </div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { getResourceInteractions } from "~/api/analytics"
interface Entry {
  title: string
  views: number
}


@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
})
export default class MostViewedArticles extends Vue {
  list: Entry[] = [];
  upto = 7

  async getArticles() {
    try {
      let resource_type = "articles"
      let interaction_type = "most-viewed"
      const { data } = await getResourceInteractions(
        resource_type,
        interaction_type,
        {
          skip: 0,
          limit: 5,
          upto: this.upto,
        }
      )
      this.list = data
    } catch (error) {
      this.$toast.error("Error loading most viewed articles")
    }
  }

  mounted() {
    this.getArticles()
  }
}
</script>

<style scoped lang="scss">

.most-viewed-article-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.most-viewed-article-card__name {
  /* Add any specific styles for the title and subtitle */
  font-weight: 600;
  color: var(--dark-text);
  font-size: .9rem;
}

.most-viewed-article-card__options {
  /* Add any specific styles for the options input */
  font-size: 0.8rem;
  color: var(--dark-text);
}

.most-viewed-article-card__list {
    margin-bottom: .5rem;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.most-viewed-article-card__data:nth-last-of-type(2) {
  color: var(--dark-text);
}

.most-viewed-article-card__data {
  font-size: 0.8rem;
  color: var(--light-text);
}

</style>
