<template>
  <div class="resource-card resource-card--large podcast-views-card">
    <div class="podcast-views-card__header">
      <div class="podcast-views-card__title">
        <p class="podcast-views-card__name">Podcast Views</p>
        <!-- <p class="podcast-views-card__subtitle">
          Track daily "Get Help Now" button clicks.
        </p> -->
      </div>
      <div class="podcast-views-card__options">
        <select v-model="selectedUpto">
          <option value="1">Daily</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </div>
    </div>
    <div class="chart-container">
      <LineChart
        :height="180"
        ref="chart"
        :chart-data="chartData"
        :options="chartOptions"
      />
    </div>

    <div class="podcast-views-card__pagination">
      <button @click="nextPage" :disabled="isEndOfList">
        <span class="las la-arrow-left"></span>
      </button>
      <button @click="prevPage" :disabled="skip == 0">
        <span class="las la-arrow-right"></span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator"
import { getResourceInteractions } from "~/api/analytics"

import { Line } from "vue-chartjs/legacy"
import { Chart, LineElement, PointElement, LinearScale, CategoryScale, TimeScale } from "chart.js"

// Register the required elements for Line chart
Chart.register(LineElement, PointElement, LinearScale, CategoryScale, TimeScale)

interface Entry {
  d: string
  view_count: number
  label: string
}

@Component({
    middleware: ["authenticated"],
  components: {
    
    LineChart: Line,
  },
})
export default class PodcastViews extends Vue {
  data = []
  selectedUpto = 1
  skip = 0
  limit = 5
  isEndOfList = false

  chartOptions = {
    type: "line",
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
        position: "bottom",
      },
    },
    scales: {
      x: {
        display: true,
        grid: {
          drawBorder: true,
          borderWidth: 1,
          color: (context) => {
            return context.tick.index === 0
              ? "rgba(0, 0, 0, 0.1)"
              : "rgba(0, 0, 0, 0)"
          },
        },
      },
      y: {
        display: true,
        grid: {
          drawBorder: true,
          borderWidth: 1,
          color: (context) => {
            return context.tick.index === 0
              ? "rgba(0, 0, 0, 0.1)"
              : "rgba(0, 0, 0, 0)"
          },
        },
      },
    },
  }

  get chartData() {
    const processedData = this.data.reduce(
      (
        acc: {
          labels: string[]
          datasets: {
            label: string
            data: number[]
            borderColor: string
            pointBackgroundColor: string
            pointBorderColor: string
            pointHoverBackgroundColor: string
            pointHoverBorderColor: string
            tension: number
            fill: boolean
            backgroundColor: string
          }[]
        },
        entry : Entry
      ) => {
        if (!acc.labels.includes(entry.label)) {
          acc.labels.push(entry.label)
        }

        const dataIndex = acc.labels.indexOf(entry.label)
        acc.datasets[0].data[dataIndex] = entry.view_count

        return acc
      },
      {
        labels: [],
        datasets: [
          {
            label: "User Activity",
            data: [],
            borderColor: "rgb(75, 192, 192)",
            pointBackgroundColor: "rgba(75, 192, 192, 1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(75, 192, 192, 1)",
            tension: 0.5,
            fill: true,
            backgroundColor: "rgba(75, 192, 192, 0.2)",
          },
        ],
      }
    )

    return processedData
  }

  async fetchData() {
    try {
      let resource_type = "podcasts"
      let interaction_type = "views"
      const response = await getResourceInteractions(
        resource_type,
        interaction_type,
        {
          skip: this.skip,
          limit: this.limit,
          upto: this.selectedUpto,
        }
      )

      if (response.data.length === 0) {
        this.isEndOfList = true
        return
      }

      if (JSON.stringify(this.data) === JSON.stringify(response.data)) {
        this.isEndOfList = true
      } else {
        this.isEndOfList = false
        this.data = response.data.reverse()
      }
    } catch (error) {
      console.error("Error fetching data:", error)
    }
  }

  async created() {
    await this.fetchData()
  }

  async prevPage() {
    if (this.skip > 0) {
      this.skip -= this.limit
      await this.fetchData()
    }
  }

  async nextPage() {
    if (!this.isEndOfList) {
      this.skip += this.limit
      await this.fetchData()
    }
  }

  chartPlugins = {
    id: "updateChart",
    beforeUpdate: (chart) => {
      chart.data = this.chartData
    },
  }
  @Watch("data")
  onDataChange() {
    this.updateChart()
  }

  @Watch("selectedUpto")
  async onSelectedUptoChange() {
    this.skip = 0 // Reset the skip value when changing the selectedUpto
    await this.fetchData()
  }

  updateChart() {
    const chartComponent = this.$refs.chart as any
    if (chartComponent) {
      chartComponent.$data._chart.update()
    }
  }

  mounted() {
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>

<style lang="scss" scoped>


.chart-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 184px;
  div {
    width: 100%;
  }
}

.podcast-views-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.podcast-views-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.podcast-views-card__subtitle {
  // ...
  color: var(--light-text);
  font-size: 0.7rem;
}

.podcast-views-card__options {
  /* Add any specific styles for the options input */
  font-size: 0.8rem;
  color: var(--dark-text);
}

.podcast-views-card__pagination {
  display: flex;
  justify-content: flex-end;
}

.podcast-views-card__pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  margin: 0rem 0.2rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}



</style>
