<template>
  <div class="crisis-resources-grid__card someone-else-action-card">
    <div class="someone-else-action-card__header">
      <div class="someone-else-action-card__title">
        <p class="someone-else-action-card__name">Action After Someone Else</p>
      </div>
      <div class="someone-else-action-card__options"></div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-container">
        <PieChart
          :height="250"
          ref="chart"
          :chart-data="chartData"
          :options="chartOptions"
        />
      </div>
    </div>

    <div class="someone-else-action-card__total">
      <p>Total Clicks: {{ totalCount }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { Pie } from "vue-chartjs/legacy"
import { Chart, PieController, ArcElement, Tooltip, Legend } from "chart.js"
import { getSomeoneelseAction } from "~/api/analytics"

type Data = {
  type: string
  count: number
}

// Register the required elements for Pie chart
Chart.register(PieController, ArcElement, Tooltip, Legend)

@Component({
  middleware: ["authenticated"],
  components: {
    PieChart: Pie,
  },
})
export default class SomeoneElseAction extends Vue {
  list: Data[] = []
  chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      tooltip: {
        callbacks: {
          label: (context) => {
            const label = context.chart.data.labels[context.dataIndex]
            const value = context.raw // Get the raw count value

            // Calculate the total count of all actions
            const totalCount = context.chart.data.datasets[0].data.reduce(
              (sum, count) => sum + count,
              0
            )

            // Calculate the percentage
            const percentage = (value / totalCount) * 100

            return `${label}: ${percentage.toFixed(2)}%` // Show the correct percentage
          },
        },
      },
      legend: {
        position: "bottom",
      },
    },
  }

  async getSomeoneelseAction() {
    try {
      const { data } = await getSomeoneelseAction()
      this.list = [
        {
          type: "Contact Crisis Services",
          count: data.contact_crisis_services,
        },
        {
          type: "Ask Questions And Be Direct",
          count: data.ask_questions_and_be_direct,
        },
        { type: "Find More Support", count: data.find_more_support },
      ]
    } catch (error) {
      this.$toast.error("Error loading someone else action data")
    }
  }

  get chartData(): {
    labels: string[]
    datasets: { data: number[]; backgroundColor: string[] }[]
  } {
    const labels = this.list.map((entry) => entry.type)
    const data = this.list.map((entry) => entry.count)

    return {
      labels,
      datasets: [
        {
          data,
          backgroundColor: [
            "rgba(75, 192, 192, 1)",
            "rgba(255, 99, 132, 1)",
            "rgba(255, 205, 86, 1)",
          ],
        },
      ],
    }
  }

  get totalCount() {
    return this.list.reduce((sum, entry) => sum + entry.count, 0)
  }

  mounted() {
    this.getSomeoneelseAction()
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>

<style scoped lang="scss">
.chart-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  display: flex;
  align-items: center;
  height: 250px;
  flex-direction: column;
  max-width: 270px;
}

.someone-else-action-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.someone-else-action-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.someone-else-action-card__options {
  font-size: 0.8rem;
  color: var(--dark-text);
}

.someone-else-action-card__total {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

</style>
