<template>
  <div class="admin-overview-grid__card storage-usage-card">
    <div class="storage-usage-card__header">
      <div class="storage-usage-card__title">
        <p class="storage-usage-card__name">Storage Usage (TEST DATA)</p>
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-container">
        <PieChart
          :height="250"
          ref="chart"
          :chart-data="chartData"
          :options="chartOptions"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { Pie } from "vue-chartjs/legacy"
import { Chart, PieController, ArcElement, Tooltip, Legend } from "chart.js"

// Register the required elements for Pie chart
Chart.register(PieController, ArcElement, Tooltip, Legend)

@Component({
  middleware: ["authenticated"],
  components: {
    PieChart: Pie,
  },
})
export default class StorageUsage extends Vue {
  chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        position: "bottom",
      },
    },
  }

  // Replace this with data fetched from your API
  rawData = [
    {
      label: "User Data",
      value: 25,
    },
    {
      label: "Videos",
      value: 35,
    },
    {
      label: "Articles",
      value: 20,
    },
    {
      label: "Podcasts",
      value: 20,
    },
  ]

  get chartData() {
    const labels = this.rawData.map((entry) => entry.label)
    const data = this.rawData.map((entry) => entry.value)

    return {
      labels,
      datasets: [
        {
          data,
          backgroundColor: [
            "rgba(75, 192, 192, 1)",
            "rgba(255, 99, 132, 1)",
            "rgba(255, 205, 86, 1)",
            "rgba(153, 102, 255, 1)",
          ],
        },
      ],
    }
  }

  mounted() {
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>

<style scoped lang="scss">
.chart-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  display: flex;
  align-items: center;
  height: 250px;
  flex-direction: column;
  max-width: 270px;
}

.storage-usage-card {
  grid-column: span 1 !important;
}

.storage-usage-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.storage-usage-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}
</style>
