<template>
  <div
    class="
      appointments-grid__card appointments-grid__card--small
      student-counselor-card
    "
  >
    <div class="student-counselor-card__header">
      <div class="student-counselor-card__title">
        <p class="student-counselor-card__name">Counselor to Student Ratio</p>
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart-container">
        <PieChart
          :height="250"
          ref="chart"
          :chart-data="chartData"
          :options="chartOptions"
        />
      </div>
    </div>
    <div class="student-counselor-card__fact-container">
  <span class="student-counselor-card__fact">The counselor to student ratio is {{ ratioData.counselor_to_client_ratio}}.</span>
</div>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator"
import { Pie } from "vue-chartjs/legacy"
import { Chart, PieController, ArcElement, Tooltip, Legend } from "chart.js"
import { getStudentCounselorRatio } from "~/api/analytics"

// Register the required elements for Pie chart
Chart.register(PieController, ArcElement, Tooltip, Legend)

@Component({
  middleware: ["authenticated"],
  components: {
    PieChart: Pie,
  },
})
export default class StudentCounselorRatio extends Vue {
  ratioData = {
    clients: 0,
    counselors: 0,
    counselor_to_client_ratio: "",
  }

  chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        position: "bottom",
      },
    },
  }

  get rawData() {
    return [
      {
        label: "Students",
        value: this.ratioData.clients,
      },
      {
        label: "Counselors",
        value: this.ratioData.counselors,
      },
    ]
  }

  get chartData() {
    const labels = this.rawData.map((entry) => entry.label)
    const data = this.rawData.map((entry) => entry.value)

    return {
      labels,
      datasets: [
        {
          data,
          backgroundColor: [
            "rgba(75, 192, 192, 1)",
            "rgba(255, 99, 132, 1)",
            "rgba(255, 205, 86, 1)",
          ],
        },
      ],
    }
  }

  async mounted() {
    const { data } = await getStudentCounselorRatio()
    this.ratioData = data

    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>



<style scoped lang="scss">
.chart-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart-container {
  display: flex;
  align-items: center;
  height: 250px;
  flex-direction: column;
  max-width: 270px;
}

.student-counselor-card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.student-counselor-card__name {
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.student-counselor-card__options {
  font-size: 0.8rem;
  color: var(--dark-text);
}

.student-counselor-card__fact-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.student-counselor-card__fact {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}
</style>
