<template>
  <div class="crisis-resources-grid__card">
    <div class="top-crisis-resources-card__header">
      <div class="top-crisis-resources-card__title">
        <p class="top-crisis-resources-card__name">Top Crisis Resources</p>
      </div>
      <div class="top-crisis-resources-card__options">
        <select v-model="selectedList">
          <option value="me">Me</option>
          <option value="someone_else">Someone Else</option>
        </select>
      </div>
    </div>
    <ul class="top-crisis-resources-card__list" v-if="selectedList === 'me'">
      <li v-for="item in meResources" :key="item.resource">
        <span class="top-crisis-resources-card__data"
          >{{ addAsterisk(item.resource) }}
        </span>
        <span class="top-crisis-resources-card__data">{{
          item.total_count
        }}</span>
      </li>
    </ul>
    <ul
      class="top-crisis-resources-card__list"
      v-if="selectedList === 'someone_else'"
    >
      <li v-for="item in someoneElseResources" :key="item.resource">
        <span class="top-crisis-resources-card__data">{{
          addAsterisk(item.resource)
        }}</span>
        <span class="top-crisis-resources-card__data">{{
          item.total_count
        }}</span>
      </li>
    </ul>
    <span class="top-crisis-resources-card__asterisk-note">
       * Resources marked with an asterisk are custom resources.
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { getTopCrisisResources } from "~/api/analytics"

interface CrisiResource {
  click: boolean
  resource: string
  total_count: number
}
@Component({
  // layout: "authenticated",
  middleware: ["authenticated"],
})
export default class TopCrisisResources extends Vue {
  selectedList = "me"
  meResources: CrisiResource[] = []
  someoneElseResources: CrisiResource[] = []
  upto = 7

  async fetchTopCrisisResources() {
    try {
      const { data } = await getTopCrisisResources(this.upto)
      this.meResources = data.me.slice(0, 6)
      this.someoneElseResources = data.someone_else.slice(0, 6)
    } catch (error) {
      this.$toast.error("Error loading crisis resources")
    }
  }

  addAsterisk(resource) {
    const resourcesWithAsterisk = [
      "Local Emergency Services",
      "National Suicide Prevention Lifeline",
      "Crisis Text Line",
    ]

    if (!resourcesWithAsterisk.includes(resource)) {
      return resource + "*"
    }

    return resource
  }

  mounted() {
    this.fetchTopCrisisResources()
  }
}
</script>

<style scoped lang="scss">
.top-crisis-resources-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.top-crisis-resources-card__name {
  /* Add any specific styles for the title and subtitle */
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
}

.top-crisis-resources-card__options {
  /* Add any specific styles for the options input */
  font-size: 0.8rem;
  color: var(--dark-text);
}

.top-crisis-resources-card__list {
  margin-bottom: 0.5rem;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.top-crisis-resources-card__data:nth-last-of-type(2) {
  color: var(--dark-text);
}

.top-crisis-resources-card__data {
  font-size: 0.8rem;
  color: var(--light-text);
}

.top-crisis-resources-card__asterisk-note {
  font-size: 0.7rem;
  color: var(--light-text);
  display: block;
  margin-top: 1rem;
}
</style>
