<template>
  <div
    class="
      admin-overview-grid__card admin-overview-grid__card--large
      active-users-card
    "
  >
    <div class="active-users-card__header">
      <div class="active-users-card__title">
        <p class="active-users-card__name">Daily User Logins</p>
        <p class="active-users-card__subtitle">
          Visualize daily login trends to understand user activity and engagement on the platform.
        </p>
      </div>
      <div class="active-users-card__options">
        <select v-model="selectedUpto">
          <option value="1">Daily</option>
          <option value="30">Monthly</option>
          <option value="365">Yearly</option>
        </select>
      </div>
    </div>
    <div class="chart-container">
      <LineChart
        :height="250"
        ref="chart"
        :chart-data="chartData"
        :options="chartOptions"
      />
    </div>

    <div class="active-users-card__pagination">
      <button @click="nextPage" :disabled="isEndOfList">
        <span class="las la-arrow-left"></span>
      </button>
      <button @click="prevPage" :disabled="skip === 0">
        <span class="las la-arrow-right"></span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "nuxt-property-decorator"
import { format } from "date-fns"
import { getUserLoginAnalytics } from "~/api/analytics"

import { Line } from "vue-chartjs/legacy"
import {
  Chart,
  LineElement,
  PointElement,
  LinearScale,
  CategoryScale,
  TimeScale,
} from "chart.js"

// Register the required elements for Line chart
Chart.register(LineElement, PointElement, LinearScale, CategoryScale, TimeScale)
interface Entry {
  d: string
  num_actions: number
  label: string
}

@Component({
  middleware: ["authenticated"],
  components: {
    LineChart: Line,
  },
})
export default class UserActivity extends Vue {
  data = []
  selectedUpto = 1
  skip = 0
  limit = 5
  isEndOfList = false

  chartOptions = {
    type: "line",
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: true,
        position: "bottom",
      },
    },
    scales: {
      x: {
        display: true,
        grid: {
          drawBorder: true,
          borderWidth: 1,
          color: (context) => {
            return context.tick.index === 0
              ? "rgba(0, 0, 0, 0.4)"
              : "rgba(0, 0, 0, 0)"
          },
        },
      },
      y: {
        display: true,
        grid: {
          drawBorder: true,
          borderWidth: 1,
          color: (context) => {
            return context.tick.index === 0
              ? "rgba(0, 0, 0, 0.4)"
              : "rgba(0, 0, 0, 0)"
          },
        },
      },
    },
  }

  get chartData() {
    const processedData = this.data.reduce(
      (
        acc: {
          labels: string[]
          datasets: {
            label: string
            data: number[]
            borderColor: string
            pointBackgroundColor: string
            pointBorderColor: string
            pointHoverBackgroundColor: string
            pointHoverBorderColor: string
            tension: number
            fill: boolean
            backgroundColor: string
          }[]
        },
        entry: Entry
      ) => {
        if (!acc.labels.includes(entry.label)) {
          acc.labels.push(entry.label)
        }

        const dataIndex = acc.labels.indexOf(entry.label)
        acc.datasets[0].data[dataIndex] = entry.num_actions

        return acc
      },
      {
        labels: [],
        datasets: [
          {
            label: "User Logins",
            data: [],
            borderColor: "rgb(75, 192, 192)",
            pointBackgroundColor: "rgba(75, 192, 192, 1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(75, 192, 192, 1)",
            tension: 0.5,
            fill: true,
            backgroundColor: "rgba(75, 192, 192, 0.2)",
          },
        ],
      }
    )

    return processedData
  }

  async fetchData() {
    try {
      const response = await getUserLoginAnalytics({
        skip: this.skip,
        limit: this.limit,
        upto: this.selectedUpto,
      })

      if (response.data.length === 0) {
        this.isEndOfList = true
        return
      }

      if (JSON.stringify(this.data) === JSON.stringify(response.data)) {
        this.isEndOfList = true
      } else {
        this.isEndOfList = false
        this.data = response.data.reverse()
      }
    } catch (error) {
      console.error("Error fetching user login analytics data:", error)
    }
  }

  async created() {
    await this.fetchData()
  }

  async prevPage() {
    if (this.skip > 0) {
      this.skip -= this.limit
      await this.fetchData()
    }
  }

  async nextPage() {
    if (!this.isEndOfList) {
      this.skip += this.limit
      await this.fetchData()
    }
  }

  chartPlugins = {
    id: "updateChart",
    beforeUpdate: (chart) => {
      chart.data = this.chartData
    },
  }

  @Watch("data")
  onDataChange() {
    this.updateChart()
  }

  @Watch("selectedUpto")
  async onSelectedUptoChange() {
    this.skip = 0 // Reset the skip value when changing the selectedUpto
    await this.fetchData()
  }

  updateChart() {
    const chartComponent = this.$refs.chart as any
    if (chartComponent) {
      chartComponent.$data._chart.update()
    }
  }

  mounted() {
    this.$nextTick(() => {
      const chartComponent = this.$refs.chart as any
      chartComponent.renderChart(this.chartData, this.chartOptions)
    })
  }
}
</script>

<style lang="scss">
.chart-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  flex-direction: column;
  div {
    width: 100%;
  }
}

.active-users-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.active-users-card__name {
  /* Add any specific styles for the title and subtitle */
  font-weight: 600;
  color: var(--dark-text);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.active-users-card__subtitle {
  /* Add any specific styles for the title and subtitle */

  color: var(--light-text);
  font-size: 0.7rem;
}

.active-users-card__options {
  /* Add any specific styles for the options input */
  font-size: 0.8rem;
  color: var(--dark-text);
}

.active-users-card__pagination {
  display: flex;
  justify-content: flex-end;
}

.active-users-card__pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  margin: 0rem 0.2rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #dddddd;
}
button:disabled,
button[disabled] {
  background-color: #fdfdfd;
  color: #e1e1e1;
  border: 1px solid #e1e1e1 !important;
  cursor: not-allowed;
}
</style>
