<template>
  <div class="sso-callback">
   <loading-spinner>Please wait...</loading-spinner>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import jwt_decode from "jwt-decode"
import { ssoLogin } from "~/api/sso"
import { getMe } from "~/api/users"

@Component({})
export default class SSOCallback extends Vue {
  // @Prop(String) readonly prop1!:string
  fromSSO = this.$route.fullPath.split("#")[1].split("&")
  token = this.fromSSO[1].split("=")[1]

  get tokenDecoded(): {
    upn: string
    name: string
  } {
    return jwt_decode(this.token)
  }

  mounted(){
    this.login()
  }

  async login() {
    // console.log(this.tokenDecoded)
    try {
      // FIXME Dont use hardcoded organization id
      const {data: loginResponse} = await ssoLogin(this.token)
      const access_token = loginResponse.access_token
      localStorage.setItem('auth._token.local', `Bearer ${access_token}`)

      const {data:  user} = await getMe()
      console.log(user);

      this.$auth.setUserToken(access_token)
      this.$auth.setUser(user)

    } catch (error) {
      console.error(error);
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
