<template>
  <div class="modal-form-share-success">
    <p>All recipients will be notified via email.</p>

    <tad-button class="btn-back-to-forms mt-12" @click="hideModal"
      >Back to my Forms</tad-button
    >
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Mutation } from "vuex-class"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ModalFormShareSuccess extends Vue {
  @Mutation("modals/hideModal") hideModal
}
</script>

<style lang="scss" scoped>
.btn-back-to-forms {
  width: 100%;
}
</style>
