<template>
  <div class="modal-video-details">
    <div>
      <form>
        <div class="form-input-wrapper">
          <tad-button primary type="submit" @click.prevent="addUser"
            >Accept Request</tad-button
          >
        </div>
      </form>

      <form>
        <div class="form-input-wrapper">
          <tad-button danger type="submit" @click.prevent="declineUser"
            >Decline Request</tad-button
          >
        </div>
      </form>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { acceptRequest, declineRequest } from "~/api/closefriends"

@Component({
  components: { TadButton },
})
export default class ModalAcceptDeclineFriends extends Vue {
  @Mutation("modals/hideModal") hideModal

  @Prop({}) request

  // mounted() {}

  async addUser() {
    try {
      await acceptRequest(this.request.id)
      // window.history.go()
      this.$toast.success("Success! You have accepted a close friend.")
      this.hideModal()
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to accept request")
    }
  }

  async declineUser() {
    try {
      await declineRequest(this.request.id)
      // window.history.go()
      this.$toast.success("Success! You have removed a close friend.")
      this.hideModal()
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to decline request")
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

form {
  padding-bottom: 2rem;
}
</style>
