<template>
  <div class="pointer-events-none">
    <h3 class="text-xl font-bold pb-3">{{ form.name }}</h3>
    <p class="pb-9">{{ form.description }}</p>
    <component
      :is='formResponder'
      :form='form'
    />
  </div>
</template>

<script lang='ts'>
import { Vue, Component, Mutation, Prop } from 'nuxt-property-decorator'
import LoadingSpinner from '../LoadingSpinner.vue'
import ConsentFormResponder from '~/components/forms/responder/ConsentFormResponder.vue'
import CheckInFormResponder from '~/components/forms/responder/CheckInFormResponder.vue'
import QuestionnaireFormResponder from '~/components/forms/responder/QuestionnaireFormResponder.vue'
import { getFormToRespondTo } from '~/api/form-response'
import { IForm } from '~/interfaces'

@Component({})
export default class ModalPreviewForm extends Vue {
  @Mutation('modals/hideModal') hideModal
  @Prop(String) readonly formId!: string;
  
  form = {} as IForm

  get formResponder() {
    switch (this.form.type) {
      case 'consent form':
        return ConsentFormResponder
      case 'checkin form':
        return CheckInFormResponder
      case 'questionnaire form':
        return QuestionnaireFormResponder
      default:
        return LoadingSpinner
    }
  }

  async fetch() {
    try {
      const { data: form } = await getFormToRespondTo(this.formId)
      this.form = form
    }
    catch (exp){
      console.error("Failed to fetch form:", exp);
    }
  }

  backToParent() {
    this.hideModal()
  }
}
</script>
