<template>
  <div class="pt-0 p-2">
    <div>
      <form>
        <div v-if="referral.student_id" class="form-input-wrapper mb-6">
          <label for="concern-student-id" class="mb-2 inline-block">
            Student ID
          </label>
          <input
            id="cconcern-student-id"
            v-model="referral.student_id"
            disabled
          >
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="concern-student-email" class="mb-2 inline-block">
            Email
          </label>
          <input
            id="concern-student-email"
            v-model="referral.student_email"
            disabled
          >
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="concern-comment" class="mb-2 inline-block">
            Comment by <tad-link :href="'mailto:' + referral.referrer_email">{{ referral.referrer_name }}</tad-link> ({{ referral.referrer_relationship }}) on
            {{ formatUpdatedAt(referral.created_at) }}
          </label>
          <textarea
            id="concern-comment"
            v-model="referral.comment"
            class="border-2 rounded w-full px-3 py-2"
            rows="10"
            disabled
          >
          </textarea>
        </div>
        <div class="form-input-wrapper mb-5">
          <label for="concern-note" class="mb-2 inline-block"
            >Enter referral note</label
          >
          <textarea
            id="concern-note"
            :value="note"
            class="border-2 rounded w-full px-3 py-2"
            :placeholder="referral.note"
            maxlength="1024"
            rows="4"
            @input="updateNoteData($event)"
          >
          </textarea>
        </div>
        <div class="w-full pt-6 text-right">
          <tad-button
            primary
            @click.prevent="createNote"
          >
            Update Note
          </tad-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Mutation,
  Prop,
  Vue,
  Watch,
} from "nuxt-property-decorator"
import dayjs from "dayjs"
import { IReferral } from "~/interfaces"
import TadLink from "~/components/styled-components/TadLink"
import TadButton from "~/components/styled-components/TadButton"
import { addReferralNote } from "~/api/referrals"
import TadInput from "~/components/styled-components/TadInput"
import LoadingSpinner from "~/components/LoadingSpinner.vue"

@Component({
  components: { LoadingSpinner, TadInput, TadButton, TadLink },
})
export default class ModalConcernModifyNoteExternal extends Vue {
  @Mutation("modals/hideModal") hideModal!: () => void
  @Prop({}) readonly referral!: IReferral

  note: string | undefined = this.referral.note
  myNote: string = ""
  isLoading: boolean = false

  options = {
    skip: 0,
    limit: 5,
  }

  @Watch("note")
  onDataChanged(value: string) {
    this.myNote = value
  }

  async createNote() {
    const id = this.referral.id
    const note_in = this.note ? this.note : ""
    try {
      await addReferralNote(id, note_in)
      this.$toast.success("Successfully created referral note.")
      this.hideModal()
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to create referral note")
    }
  }

  get concernNoteButtonText() {
    return this.referral.note ? "Edit Note" : "Add Note"
  }

  formatStartDate(date: string) {
    return dayjs(date).format("MM DD, YYYY")
  }

  formatStartTime(time: string) {
    return dayjs(time).format("h:mm A")
  }

  formatEndTime(time: string) {
    return dayjs(time).format("h:mm A")
  }

  updateNoteData($event: { target: { value: string } }) {
    this.note = $event.target.value
  }

  formatUpdatedAt(time: string) {
    return dayjs(time).format(" MMM DD, YYYY")
  }
}
</script>

<style lang="scss" scoped>
span {
  font-size: 0.9rem;
  color: var(--dark-text);
  margin-bottom: 1rem;
  display: block;
}
</style>
