<template>
  <div class="modal-video-details">
    <div>
      <span class="subtitle-text detail-label">Title: </span>
      <span class="video-detail">{{ video.title }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">Description: </span>
      <span class="video-detail">{{ video.description }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">Status: </span>
      <span class="video-detail">{{ video.is_approved ? "approved" 
            : video.decline_reason ? "declined"
            : !video.is_approved ? "pending approval"
            : "" }}</span>
    </div>
    <div v-if="video.decline_reason">
      <span class="subtitle-text detail-label">Reason For Decline: </span>
      <span class="video-detail">{{ video.decline_reason }}</span>
    </div>
    <div class="modal-delete-video">
      <div>
        <span class="subtitle-text">Delete this video?</span>
        <span class="modal-delete-warning"
          >Note: this action is irreversible</span
        >
      </div>
      <tad-button danger @click="destroyVideo(video.id)">Delete</tad-button>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import { deleteVideo } from "~/api/resources"
import { IVideoResource } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components:{TadButton}
})
export default class ModalDeleteVideoResource extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({})
  readonly video!: IVideoResource
  async destroyVideo(id) {
    try {
      deleteVideo(id)
      this.hideModal()
      // force reload to update video list (needs refactor)
      window.history.go()
      this.$toast.success("Success! You have deleted this resource.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-delete-warning {
  font-size: 0.7rem;
  color: #ff6b6b;
  display: block;
}

.video-detail {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.modal-delete-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.modal-video-details {
  div {
    padding: 0.5rem 0rem;
  }
}
</style>
