<template>
  <div>
    <form @submit.prevent="createResource">
      <div class="form-input-wrapper mb-6">
        <label for="name">Name</label>
        <input
          v-model="name"
          type="text"
          placeholder="Local Emergency Services"
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="number">Number</label>
        <input v-model="number" type="text" placeholder="ex. 911" />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="description">Resource Action</label>
        <select id="" v-model="number_type" name="">
          <option value="call">Phone Call</option>
          <option value="text">Send Text</option>
        </select>
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="description">Description</label>
        <input
          v-model="description"
          type="text"
          placeholder="ex. contact local emergency services"
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="buttonText">Button Text</label>
        <input
          v-model="buttonText"
          type="text"
          placeholder='ex. "Call Counselor Now"'
        />
      </div>
      <div class="form-input-wrapper">
        <tad-button @submit.prevent="createResource">Add Resource</tad-button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { createResources } from "~/api/interactions"

@Component({
  components: { TadButton },
})
export default class ModalCreateInteraction extends Vue {
  @Mutation("modals/hideModal") hideModal

  name: string = ""
  number: string = ""
  buttonText: string = ""
  description: string = ""
  // eslint-disable-next-line camelcase
  number_type: string = ""

  mounted() {}

  async createResource() {
    try {
      const name = this.name
      const number = this.number
      const description = this.description
      // eslint-disable-next-line camelcase
      const button_text = this.buttonText
      // eslint-disable-next-line camelcase
      const number_type = this.number_type

      await createResources(name, number, description, button_text, number_type)
      this.$toast.success("Your resource was successfully created!")
      this.hideModal()
      this.$router.go(0)
    } catch (e) {
      this.$toast.error("There was an error creating your resource!")
      this.hideModal()
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}
</style>
