<template>
  <div class="modal-request-confirmation">
    <p class="mb-4" v-html="text"></p>
    <div class="form-input-wrapper mb-5">
        <label for="reason" class=" mb-2 inline-block">Please provide a reason:</label>
        <textarea type="text" id="reason" name="reason" v-model="reason" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter a reason..."></textarea>

    </div>

    <footer>
      <tad-button danger @click="confirmed">{{ confirmText }}</tad-button>
    </footer>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ModalRequestConfirmation extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) onconfirm!: (reason: string) => void

  @Prop(String) text!: string
  @Prop({ default: "Confirm" }) confirmText!: string
  @Prop({ default: "Cancel" }) cancelText!: string
  @Prop(String) warningText!: string

  reason: string = ""

  confirmed() {
    let reason = this.reason
    this.onconfirm(reason)
    this.hide()
  }

  hide() {
    this.hideModal()
  }
}
</script>

<style lang="scss" scoped>
.warning {
  color: #f44336;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 1rem;
}
.btn {
  cursor: pointer;
  width: 100%;
  margin: 0;
}
.text-availability-info {
  margin-bottom: 1rem;
}
footer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
</style>
