<template>
  <div>
    <div class="form-input-wrapper">
      <label>Support Network</label>
      <!-- get all friends and make the circle -->
      <div v-if="friends.length" class="friends">
        <div v-for="friend in friends" :key="friend.id" @click.prevent="setSelectedPatient(friend)">
          <img
            :src="`${fullApiUrl}/users/file/${friend.user.profile_image}`"
            
          />
          <p >
            {{ friend.user.full_name }}
          </p>
        </div>
      </div>
      <form v-if="selectedPatient.user" class="selected-patient-container">
        <h3 class="subtitle-text my-0 mb-5">Share resource with</h3>
        <div class="selected-patient mb-5">
          <img
            class="profile-img"
            :src="`${fullApiUrl}/users/file/${selectedPatient.user.profile_image}`"
            alt=""
            width="45"
          />
          <p class="name">
            {{ selectedPatient.user.full_name }}
          </p>
        </div>
        <tad-button class="btn main btn-book" @click.prevent="shareResource">
          <span>Share Resource</span>
        </tad-button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Getter, Mutation } from "nuxt-property-decorator"

import { getFriends } from "~/api/closefriends"
import { shareVideo, shareAudio, shareArticle } from "~/api/resources"
import TadButton from "~/components/styled-components/TadButton"

interface Friend {
  id: number
  user: {
    full_name: string
    profile_image: string
  }
}

@Component({
  components: { TadButton },
})
export default class ModalShareResourceUser extends Vue {
  fullApiUrl = process.env.fullApiUrl
  @Getter("loggedInUser") currentUser // the professional
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) readonly id!: {}
  @Prop({ default: () => {} }) readonly type!: {}

  selectedPatient: any = {}
  isWorking = false
  friends: Friend[] = []

  mounted() {
    this.fetchFriends()
  }

  setSelectedPatient(friend) {
    this.selectedPatient = friend
  }

  async shareResource() {
    try {
      if (this.type === "video") {
        const video_id = this.id
        const friends_id = this.selectedPatient.user_id
        await shareVideo(video_id, friends_id)
        this.$toast.success("You've successfully shared a video!")
        return
      }
      if (this.type === "audio") {
        const audio_id = this.id
        const friends_id = this.selectedPatient.user_id
        await shareAudio(audio_id, friends_id)
        this.$toast.success("You've successfully shared a podcast!")
        return
      }
      if (this.type === "article") {
        const article_id = this.id
        const friends_id = this.selectedPatient.user_id
        await shareArticle(article_id, friends_id)
        this.$toast.success("You've successfully shared an article!")
        return
      }
    } catch (e) {
      this.$toast.error("Oh no, something went wrong!")
    }
  }

  async fetchFriends() {
    const { data: friends } = await getFriends()
    this.friends = friends.items
  }
}
</script>

<style lang="scss" scoped>
// styles for friends section

.friends {
  padding-bottom: 1rem;
  display: flex;
  padding-top: 1rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #bbb3b3;

    p {
      font-size: 0.8rem;
      color: var(--dark-text);
      text-align: center;
      margin-top: 0.5rem;
    }

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  div:hover {
    box-shadow: 0 2px 2px #0000001c;
  } 
}

.text-availability-info {
  margin-bottom: 1rem;
}
.patient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .patient {
    background-color: #fff;
    border: 2px solid #bbb3b3;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px #0000001c;

    cursor: pointer;
    &:hover {
      border-color: var(--main-color);
      background-color: var(--main-color-hover);
    }

    &.selected {
      border-color: var(--success-color);
      background-color: rgba(9, 247, 9, 0.274);
    }
  }
}

.selected-patient-container {
  border: 1px solid #bbb3b3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px #0000001c;
  .selected-patient {
    background-color: #fff;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .btn-book {
    width: 100%;
  }
}
</style>
