<template>
  <div>
    <div class="feature-list">
      <div
        v-for="feature in allFeatures"
        :key="feature.id"
        class="feature-list__item"
      >
        <input
          type="checkbox"
          :id="feature.id"
          v-model="selectedFeatures"
          :value="feature.name"
          class="feature-list__checkbox"
        />
        <label :for="feature.id" class="feature-list__label">{{
          feature.name
        }}</label>
      </div>
    </div>
    <tad-button @click="saveFeatures" class="feature-list__button"
      >Update Features</tad-button
    >
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { getAllFeatures, updateOrgFeatures } from "~/api/organization"

interface Feature {
  id: number;
  name: string;
}



@Component({
  components: { TadButton },
})


export default class ModalEditFeatures extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({}) features

  allFeatures: Feature[] = []
  selectedFeatures: string[] = []


  created() {
    this.selectedFeatures = this.features.map((feature) => feature.name)
    this.fetchFeatures()
  }

  async fetchFeatures() {
    try {
      const { data: features } = await getAllFeatures()
      this.allFeatures = features
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  updateFeatures() {
    // Update the features here
    const updatedFeatures = this.allFeatures.filter((feature) =>
      this.selectedFeatures.includes(feature.name)
    )
    this.features = updatedFeatures
  }

  get formattedSelectedFeatures() {
    return {
      feature_list: this.selectedFeatures,
    }
  }

  async saveFeatures() {
    try {
      const { data: features } = await updateOrgFeatures(
        this.$route.params.id,
        this.formattedSelectedFeatures
      )
      this.$toast.success("Features Updated Successfully!")
      this.hideModal()
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
}
</script>

<style lang="scss" scoped>
.feature-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.feature-list__item {
  display: flex;
  align-items: center;
}

.feature-list__checkbox {
  margin-right: 10px;
}

.feature-list__button {
  margin-top: 20px;
  width: 100%;
}
</style>
