<template>
  <div class="modal-video-details">
    <span style="display: block" class="small-text mb-6"
      >Note: This will prevent the user from accessing there account</span
    >
    <div>
      <form @submit.prevent="deactivateUser">
        <div class="form-input-wrapper mb-6">
          <label for="type" class="small-text">Select a reason: </label>
          <select id="type" v-model="reason">
            <option value="User is no longer at this organization">No longer at organization</option>
            <option value="User violated terms">Violated terms and conditions</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-input-wrapper mb-6">
          <label for="firstName" class="small-text">Note:</label>
          <input type="text" v-model="note" placeholder="enter comment" />
        </div>
        <div class="form-input-wrapper">
          <tad-button danger type="submit" @click.prevent="deactivateUser"
            >Deactivate Account</tad-button
          >
        </div>
      </form>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { deactiveUser } from "~/api/users"

@Component({
  components: { TadButton },
})
export default class ModalDeactivateAccount extends Vue {
  @Mutation("modals/hideModal") hideModal

  @Prop({}) id

  reason: string = ""
  note: string = ""

  mounted() {
  }

  async deactivateUser() {
    try {
      let reason = this.reason
      let note = this.note
      let user_id = this.id
      await deactiveUser(reason, note, user_id)
      this.$toast.success("Success! You have deactived this user.")
      this.hideModal()
      this.$router.go(-1)
    } catch {}
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

form {
  padding-bottom: 2rem;
}
</style>