<template>
  <div class="modal-video-details">
    <div>
      <form @submit="submit">
        <div class="form-input-wrapper">
          <tad-button danger type="submit">Delete Resource</tad-button>
        </div>
      </form>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { deleteExternalResource } from "~/api/resources"

@Component({
  components: { TadButton },
})
export default class ModalDeleteExternalResource extends Vue {
  @Mutation("modals/hideModal") hideModal

  @Prop({}) id

  mounted() {}

  async submit() {
    try {
      await deleteExternalResource(this.id)
      this.$router.go(-1)

      this.$toast.success("Success! Your resource has been deleted.")
      this.hideModal()
    } catch {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

form {
  padding-bottom: 2rem;
}
</style>
