<template>
  <div>

    <div class="form-input-wrapper">
      <label>
        <i class="las la-search mr-3"></i>Search for a peer by email:
      </label>
      <input
        v-model="patientSearchString"
        type="text"
        placeholder="enter email"
        @input="patientSearchDebounce"
      />
      <!-- <datalist id="patients">
        <option
          v-for="patient in patients"
          :key="patient.id"
          :value="patient.full_name"
        >
          <img :src="$userimg(patient.profile_image)" alt="" />
        </option>
      </datalist> -->

      <loading-spinner v-if="isSearching">Searching</loading-spinner>
      <alert
        v-else-if="patients.length <= 0"
        type="info"
        :dissmissable="false"
        msg="No results"
      >
      </alert>
      <ul v-else-if="selectedPatient.id == null" class="patient-list mb-6">
        <li
          v-for="patient in patients"
          :key="patient.id"
          class="patient"
          :class="{ selected: patient.id === selectedPatient.id }"
          @click="selectedPatient = patient"
        >
          <img
            class="profile-img"
            :src="$userimg(patient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{ patient.full_name.concat(" - ").concat(patient.email) }}
          </p>
        </li>
      </ul>

      <form
        v-if="selectedPatient.id"
        class="selected-patient-container"
        @submit.prevent="sendCareRequest"
      >
        <h3 class="subtitle-text my-0 mb-5">Sending Care Team request to:</h3>
        <div class="selected-patient mb-5">
          <img
            class="profile-img"
            :src="$userimg(selectedPatient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{
              selectedPatient.full_name
                .concat(" - ")
                .concat(selectedPatient.email)
            }}
          </p>
        </div>
        <tad-button primary class="btn main btn-book" :disabled="isWorking">
          <span v-if="isWorking">
            <i class="las la-cog la-spin la-lg mr-3"></i>
          </span>
          <span v-else>Send Request</span>
        </tad-button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Prop, Getter, Mutation } from "nuxt-property-decorator"
import { adminAddCareTeam } from "~/api/teams"
import { searchProfessional } from "~/api/users"
import TadButton from "~/components/styled-components/TadButton"
import { IUserProfile } from "~/interfaces"

@Component({
  // layout: "authenticated",
  components: { TadButton },
})
export default class ModalAddCareTeamAdmin extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile // the professional
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) readonly eventInfo!: {
  }

  @Prop({})user_id

  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patients: IUserProfile[] = []
  selectedPatient = {} as IUserProfile
  isWorking = false

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async patientSearch() {
    this.isSearching = true
    this.patients = []
    this.selectedPatient = {} as IUserProfile

    const { data: patients } = await searchProfessional(this.patientSearchString)
    this.patients = patients

    this.isSearching = false
  }

  async sendCareRequest() {
    try {
      this.isWorking = true

      let user_id = this.$route.params.id
      let professional_id = this.selectedPatient.id

      await adminAddCareTeam(user_id,professional_id)
      this.$toast.success("Success! Care Team Member Added.")
      this.hideModal()
    } catch (error) {
      this.$toast.error("Error adding care team member.")
      console.error(error)
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.text-availability-info {
  margin-bottom: 1rem;
}
.patient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .patient {
    background-color: #fff;
    border: 2px solid #bbb3b3;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px #0000001c;

    cursor: pointer;
    &:hover {
      border-color: var(--main-color);
      background-color: var(--main-color-hover);
    }

    &.selected {
      border-color: var(--success-color);
      background-color: rgba(9, 247, 9, 0.274);
    }
  }
}

.selected-patient-container {
  border: 1px solid #bbb3b3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px #0000001c;
  .selected-patient {
    background-color: #fff;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .btn-book {
    width: 100%;
  }
}
</style>
