<template>
  <div class="modal-video-details">
    <div>
      <span class="subtitle-text detail-label">License type: </span>
      <span class="video-detail">{{ license.type }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">License number: </span>
      <span class="video-detail">{{ license.number }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">Status: </span>
      <span class="video-detail">{{
        license.is_verified ? "Verified" : "Not Verified"
      }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">Expiration Date: </span>
      <span class="video-detail">{{
        formatUpdatedAt(license.expiration_date)
      }}</span>
    </div>
    <!-- <div class="modal-delete-video">
      <div>
        <span class="subtitle-text">Delete this video?</span>
        <span class="modal-delete-warning"
          >Note: this action is irreversible</span
        >
      </div>
      <tad-button danger @click="destroyVideo(video.id)">Delete</tad-button>
    </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import dayjs from "dayjs"

@Component({
  components: { TadButton },
})
export default class ModalLicenseDetails extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({}) license
  //   async destroyVideo(id) {
  //     try {
  //       deleteVideo(id)
  //       this.hideModal()
  //       // force reload to update video list (needs refactor)
  //       window.history.go()
  //       this.$toast.success("Success! You have deleted this resource.")
  //     } catch (error) {
  //       this.$toast.error("Something went wrong, Try Again!")
  //     }
  //   }

  formatUpdatedAt(time: string) {
    return dayjs(time).format("MMMM DD, YYYY")
  }
}
</script>

<style lang="scss" scoped>
.modal-delete-warning {
  font-size: 0.7rem;
  color: #ff6b6b;
  display: block;
}

.video-detail {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.modal-delete-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.modal-video-details {
  div {
    padding: 0.5rem 0rem;
  }
}
</style>