<template>
  <div class="upload-csv-form">
    <form @submit.prevent="uploadCSV">
      <div class="mb-4">
        <label for="csv" class="block font-medium text-gray-700 mb-2">
          Select your CSV file
        </label>
        <input
          id="csv"
          type="file"
          accept=".csv"
          class="border p-2 rounded"
          @change="onFileChange"
        />
      </div>

      <tad-button
        type="submit"
        :disabled:="isLoaded"
        class="text-white rounded w-full"
        :class="{
          'bg-gray-400': isLoaded,
        }"
      >
        <span v-if="isLoaded">Please Wait...</span>
        <span v-else>Send Reset Emails</span>
      </tad-button>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import CreateUserForm from "~/components/admin/CreateUserForm.vue"
import { sendResetEmailsToUsersList } from "~/api/users"
import TadInput from "~/components/styled-components/TadInput"

interface AxiosError {
  response: {
    data: {
      detail: string
    }
  }
}

@Component({
  components: { TadButton, CreateUserForm, TadInput },
})
export default class ModalResetPasswordUploadCSV extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) onconfirm!: () => void

  @Prop(String) warningText!: string
  isLoaded = false

  mounted() {}

  private selectedFile: File | null = null

  onFileChange(event: Event) {
    const input = event.target as HTMLInputElement
    if (input.files) {
      this.selectedFile = input.files[0]
    }
  }

  async uploadCSV() {
    this.isLoaded = true
    if (!this.selectedFile) {
      alert("Please select a CSV file first.")
      return
    }

    const formData = new FormData()
    formData.append("file", this.selectedFile)

    try {
      await sendResetEmailsToUsersList(formData)

      this.$toast.success("Emails being sent")
      this.onconfirm()
      this.hideModal()
    } catch (error) {
      const axiosError = error as AxiosError
      if (
        axiosError.response &&
        axiosError.response.data &&
        axiosError.response.data.detail
      ) {
        this.$toast.error(axiosError.response.data.detail)
      } else {
        this.$toast.error("An error occurred.")
      }
    } finally {
      this.isLoaded = false
    }
  }
}
</script>

<style lang="scss" scoped></style>
