<template>
  <div class="modal-video-details">
    <div>
      <form @submit.prevent="addUser">
        <div class="form-input-wrapper">
          <tad-button primary type="submit">Accept Request</tad-button>
        </div>
      </form>

      <form @submit.prevent="declineUser">
        <div class="form-input-wrapper">
          <tad-button danger type="submit">Decline Request</tad-button>
        </div>
      </form>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { acceptRequest, declineRequest } from "~/api/teams"

@Component({
  components: { TadButton },
})
export default class ModalAcceptDeclineTeam extends Vue {
  @Mutation("modals/hideModal") hideModal

  @Prop({}) request

  async addUser() {
    try {
      await acceptRequest(this.request.id)
      // window.history.go()
      this.hideModal()
      this.$toast.success("Success! You have added a close friend.")
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to add a close friend")
    }
  }

  async declineUser() {
    try {
      await declineRequest(this.request.id)
      // window.history.go()
      this.$toast.success("Success! You have removed a close friend.")
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to remove a close friend")
    }
  }
}
</script>

<style lang="scss" scoped>
.form-input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

form {
  padding-bottom: 2rem;
}
</style>
