<template>
  <div>
    <form @submit.prevent="submit">
      <div class="form-input-wrapper mb-6">
        <label for="number">License Number</label>
        <input
          type="text"
          v-model="number"
          placeholder="enter license number"
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="type">License Type</label>
        <select v-model="type" class="select__container" required>
          <option value="Licensed professional counselors (LPCs)">
            Licensed professional counselors (LPCs)
          </option>
          <option value="Licensed mental health counselors (LMHCs)">
            Licensed mental health counselors (LMHCs)
          </option>
          <option value="Licensed marriage and family therapists (LMFTs)">
            Licensed marriage and family therapists (LMFTs)
          </option>
          <option value="Licensed clinical social workers (LCSWs)">
            Licensed clinical social workers (LCSWs)
          </option>

          <option value="Psychologists (PhDs or PsyDs)">
            Psychologists (PhDs or PsyDs)
          </option>

          <option value="Psychiatrists (MDs or DOs)">
            Psychiatrists (MDs or DOs)
          </option>
          <option value="Pre-licensed Counselor or Therapist">
            Pre-licensed Counselor or Therapist
          </option>
        </select>
      </div>

      <div class="form-input-wrapper mb-6">
        <label for="expiration_date">Expiration Date</label>
        <input
          type="date"
          id="expiration_date"
          name="expiration_date"
          v-model="expiration_date"
        />
      </div>

      <div class="form-input-wrapper">
        <tad-button @submit.prevent="submit">Add License</tad-button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { createLicense } from "~/api/licenses"

@Component({
  components: { TadButton },
})
export default class ModalCreateLicense extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: null }) onsuccess!: Function | null
  
  number: string = ""
  type: string = ""
  expiration_date: string = ""

  async submit() {
    try {
      let number = this.number
      let type = this.type
      let expiration_date = this.expiration_date

      await createLicense(number, type, expiration_date)
      this.$toast.success("Your license was added!")
      this.hideModal()
      if (this.onsuccess)
        this.onsuccess();
    } catch (e) {
      this.$toast.error("There was an error adding your license!")
      this.hideModal()
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}
</style>