<template>
  <div>
    <!-- Date & time -->
    <div class="grid grid-cols-2 gap-4">
      <!-- Date -->
      <div class="">
        <label :class="labelCss" for="availability-date">Select date</label>
        <input
          id="availability-date"
          ref="input-availability-date"
          v-model="dateSelected"
          type="date"
          required
          class="w-full border-2 rounded-lg px-3 py-2"
          @change="fetchAvailabilities()"
        />
      </div>

      <!-- Time -->
      <div class="">
        <h4>
          <label :class="labelCss">Select time </label>
        </h4>

        <div v-if="isLoadingTimes" class="py-3">
          <i class="la la-refresh la-fw la-spin"></i> Loading available times
        </div>

        <select
          v-if="!isLoadingTimes && Object.keys(availabilities).length"
          v-model="selectedAvailability"
          :class="inputCss"
          class="m-0 py-1"
        >
          <option
            v-for="availability in availabilities"
            :key="availability.id"
            :value="availability.id"
          >
            {{ formatTime(availability.time_start) }} -
            {{ formatTime(availability.time_end) }}
          </option>
        </select>

        <div
          v-if="!Object.keys(availabilities).length && !isLoadingTimes"
          class="
            w-full
            rounded-lg
            px-3
            py-2
            border-2 border-dotted border-gray-300
          "
        >
          No times available
        </div>
      </div>
    </div>

    <!-- Create availability on the fly -->
    <div v-if="!creatingNewAvailability" class="mb-5">
      <span class="text-xs"
        >Don't see a time that works?
        <span class="cursor-pointer text-blue-500" @click="dateClicked"
          >Create a new time</span
        ></span
      >
    </div>

    <div
      v-if="creatingNewAvailability"
      class="border-2 px-6 rounded-lg hover:shadow-lg my-8"
    >
      <div class="grid grid-cols-2 gap-4 my-6">
        <div class="">
          <label :class="labelCss">Start Time</label>
          <input v-model="startTime" type="time" required :class="inputCss" />
        </div>
        <div class="">
          <label :class="labelCss">End Time</label>
          <input v-model="endTime" type="time" required :class="inputCss" />
        </div>
      </div>
      <div class="my-6 flex gap-4">
        <tad-button class="btn-submit" success @click="createTime"
          >Create new availability</tad-button
        >
        <tad-button class="btn-submit" danger @click="cancelAddingTime"
          >Cancel</tad-button
        >
      </div>
    </div>

    <!-- Find user -->
    <label :class="labelCss">Find User </label>
    <div class="mb-6">
      <!-- if email exists, preload it -->
      <input
        v-model="patientSearchString"
        type="text"
        placeholder="Search by name or email address"
        :class="inputCss"
        @input="patientSearchDebounce"
      />

      <SharedLoading v-if="isSearching" text="Searching" />

      <!-- Search results -->
      <ul
        v-if="patients.length && !selectedPatient.id"
        class="border w-full my-4 rounded-lg hover:shadow-lg p-2 cursor-pointer"
      >
        <li
          v-for="patient in patients"
          :key="patient.id"
          class="w-full px-3 py-2"
          :class="{ selected: patient.id === selectedPatient.id }"
          @click="selectedPatient = patient"
        >
          <div class="flex">
            <img
              class="profile-img h-10 w-10 rounded-full mr-3"
              :src="$userimg(patient.profile_image)"
            />
            <div class="grid grid-cols-1 space-y-1">
              <h3 class="text-lg block">
                <span v-if="patient.full_name">{{ patient.full_name }}</span>
                <span v-if="!patient.full_name">Anonymous User</span>
              </h3>
              <div class="block text-sm text-gray-500">
                <i class="la la-envelope la-fw"></i> {{ patient.email }}
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- Empty search results -->
      <div
        v-if="!patients.length && patientSearchString.length"
        class="block text-center py-4"
      >
        No results matching "{{ patientSearchString }}"
      </div>

      <!-- Selected patient -->
      <h3 v-if="selectedPatient.id" class="text-base text-blue-500 my-2 mt-4">
        You are now booking an appointment for
      </h3>
      <ul
        v-if="selectedPatient.id"
        class="border w-full my-2 rounded-lg hover:shadow-lg p-2"
      >
        <li class="flex space-x-3">
          <img
            class="flex-shrink rounded-full w-10 h-10"
            :src="$userimg(selectedPatient.profile_image)"
          />
          <div class="flex-auto">
            <div class="grid grid-cols-1 space-y-1">
              <h3 class="text-lg block">
                {{ selectedPatient.full_name }}
              </h3>
              <div class="block text-sm text-gray-500">
                <i class="la la-envelope la-fw"></i> {{ selectedPatient.email }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <h3 :class="labelCss">Type of appointment</h3>
    <div class="grid grid-cols-2 gap-6 mb-8">
      <div class="border rounded-lg">
        <div class="flex gap-4">
          <div class="flex-shrink p-3">
            <input
              v-model="meetingType"
              type="radio"
              value="virtual"
              class="w-4 h-4"
            />
          </div>
          <div class="flex-auto pt-1">
            <label :class="labelCss">Online</label>
          </div>
        </div>
      </div>
      <div class="border rounded-lg">
        <div class="flex gap-4">
          <div class="flex-shrink p-3">
            <input
              v-model="meetingType"
              checked
              type="radio"
              value="in_person"
              name="bordered-radio"
              class="w-4 h-4"
            />
          </div>
          <div class="flex-auto pt-1">
            <label for="bordered-radio-2" :class="labelCss">In Person</label>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="meetingType === 'in_person'"
      class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-5"
    >
      <div class="md:col-span-2">
        <label for="address" :class="labelCss">Location</label>
        <input
          id="address"
          v-model="location"
          name="address"
          type="text"
          required
          :class="inputCss"
        />
      </div>
      <div class="md:col-span-2">
        <label for="room" :class="labelCss"
          >Room Number <i class="la la-info-circle float-right"></i
        ></label>
        <input
          id="room"
          v-model="roomNo"
          name="room"
          type="text"
          required
          :class="inputCss"
          placeholder="101"
        />
      </div>
    </div>

    <!-- Selected Forms -->
    <div class="block mt-10">
      <tad-button class="float-right" @click="openFormsModal"
        >Add Form</tad-button
      >
      <h3 :class="labelCss" class="text-xl font-bold">Selected Forms</h3>
      <hr class="my-2" />

      <!-- List of forms -->
      <div
        v-if="selectedForms.length"
        class="grid grid-cols-1 border divide-y rounded-lg mt-0 mb-5"
      >
        <div
          v-for="form in selectedForms"
          :key="form.id"
          class="flex p-3 hover:bg-gray-100"
        >
          <div class="flex-auto text-left">
            <h3 class="text-base pb-0">{{ form.name }}</h3>
          </div>
          <div class="flex-shrink text-right block">
            <a
              href="#!"
              class="text-red-500 hover:underline"
              @click="removeForm(form)"
              ><i class="la la-trash la-fw"></i> Remove</a
            >
          </div>
        </div>
      </div>
      <div
        v-if="!selectedForms.length"
        class="block text-center text-lg text-gray-500"
      >
        <br />
        <i class="la la-exclamation-circle la-2x pb-2"></i>
        <br />
        You have not added any forms
      </div>
    </div>

    <div class="w-full mt-6">
      <tad-button @click="bookAppointment"> Book Appointment </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Getter, Mutation, Prop } from "nuxt-property-decorator"
import timezone from "dayjs/plugin/timezone" // dependent on utc plugin
import customParseFormat from "dayjs/plugin/customParseFormat"
import { createAppointment } from "~/api/appointments"
import { getSingleDay, createAvailability } from "~/api/availabilities"
import { searchPatients } from "~/api/users"
import { IForm, IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import ModalSelectAppointmentForm from "~/components/modals/ModalSelectAppointmentForm.vue"
import SharedLoading from "~/components/global/SharedLoading.vue"

dayjs.extend(timezone)
dayjs.extend(customParseFormat)

@Component({
  components: {
    TadButton,
    TadInput,
    ModalSelectAppointmentForm,
    SharedLoading,
  },
})
export default class ModalBookClient extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile // the professional
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showChildModal") showChildModal
  labelCss = "text-base font-normal py-2 px-0 block"
  inputCss = "w-full border-2 rounded-lg px-3 py-2 border-gray-300"
  @Prop(Boolean) readonly email!: string
  @Prop({ default: "/appointments" }) readonly redirectTo!: string

  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patients: IUserProfile[] = []
  selectedPatient = {} as IUserProfile
  isWorking = false
  meetingType = "in_person"

  // selecting a date
  dateSelected = null
  availabilities = []
  selectedAvailability: { from: string; to: string } = { from: "", to: "" }
  isLoadingTimes = false
  noDates = false
  creatingNewAvailability = false
  isRepeating = false
  startTime = ""
  endTime = ""
  requestConsent = null
  location = "" as string
  roomNo = "" as string
  selectedForms: IForm[] = []

  autoSelectedPatientEmail: string = this.email

  mounted() {
    if (this.autoSelectedPatientEmail) {
      this.patientSearchString = this.autoSelectedPatientEmail
      this.patientSearch(true)
    }
  }

  formatTime(time) {
    return dayjs(time).format("h:mm A")
  }

  get startTimeFormatted() {
    return dayjs(this.dateSelected)
      .format("YYYY-MM-DD")
      .concat("T")
      .concat(this.startTime)
  }

  get endTimeFormatted() {
    return dayjs(this.dateSelected)
      .format("YYYY-MM-DD")
      .concat("T")
      .concat(this.endTime)
  }

  async createTime() {
    try {
      const availability: any = {
        time_start: this.startTimeFormatted,
        time_end: this.endTimeFormatted,
        timezone: dayjs.tz.guess(),
        organization_id: this.currentUser.organization_id,
      }

      await createAvailability(availability)
      this.$toast.success("Availability set successfully.")
      this.creatingNewAvailability = false
      this.fetchAvailabilities()
    } catch (error) {}
  }

  dateClicked() {
    this.creatingNewAvailability = true
  }

  cancelAddingTime() {
    this.creatingNewAvailability = false
  }

  //   get startDate() {
  //     return dayjs(this.eventInfo.event.start).format("MM DD, YYYY")
  //   }

  //   get startTime() {
  //     return dayjs(this.eventInfo.event.start).format("h:mm A")
  //   }

  //   get endTime() {
  //     return dayjs(this.eventInfo.event.end).format("h:mm A")
  //   }

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async patientSearch(autoSelect = false) {
    this.isSearching = true
    this.patients = []
    this.selectedPatient = {} as IUserProfile

    const { data: patients } = await searchPatients(this.patientSearchString)
    this.patients = patients

    if (autoSelect && this.patients.length) {
      const autoSelectedPatient = this.patients.find(
        (patient) => patient.email === this.autoSelectedPatientEmail
      )
      if (autoSelectedPatient) {
        this.selectedPatient = autoSelectedPatient
      }
    }

    this.isSearching = false
  }

  async fetchAvailabilities() {
    this.isLoadingTimes = true
    const date: any = this.dateSelected
    const id = this.currentUser.id
    const { data } = await getSingleDay(date, id)

    this.availabilities = data.items.sort((a, b) => {
      // Convert strings to Date objects for comparison
      const dateA = new Date(a.time_start)
      const dateB = new Date(b.time_start)

      // If dateA is less than dateB by some ordering criterion
      if (dateA < dateB) {
        return -1
      }
      // If dateA is greater than dateB by the ordering criterion
      if (dateA > dateB) {
        return 1
      }
      // dateA must be equal to dateB
      return 0
    })

    this.isLoadingTimes = false
    if (!data.items.length) {
      this.noDates = true
    }
  }

  async bookAppointment() {
    const data = {
      availability_id: this.selectedAvailability,
      owner_id: this.selectedPatient.id,
      organization_id: this.selectedPatient.organization_id,
      is_self_appointment: false,
      meeting_type: this.meetingType,
      location: this.location,
      room_number: this.roomNo,

      // Not implemented in backend
      requestConsent: this.requestConsent,
      forms: [...this.selectedForms.map((form) => form.id)],
    }

    try {
      await createAppointment(data)
      this.$toast.success("Appointment booked successfully")
      this.$router.push(this.redirectTo)
      this.hideModal()
    } catch (error) {
      this.$toast.error("Error booking appointment")
    }
  }

  openFormsModal() {
    const modal = {
      title: "Add Form(s)",
      content: ModalSelectAppointmentForm,
      props: {
        selectedForms: this.selectedForms as IForm[],
        onclose: (selectedForms: IForm[]) => {
          if (selectedForms.length) {
            this.selectedForms = selectedForms
          }
        },
      },
    }
    this.showChildModal(modal)
  }

  removeForm(form: IForm) {
    this.selectedForms = this.selectedForms.filter((f) => f.id !== form.id)
  }
}
</script>

<style lang="scss" scoped>
.text-availability-info {
  margin-bottom: 1rem;
}
.patient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .patient {
    background-color: #fff;
    border: 1px solid #bbb3b3;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px #0000001c;

    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }

    &.selected {
      border-color: var(--success-color);
      background-color: rgb(213, 223, 229);
    }
  }
}

.selected-patient-container {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  .selected-patient {
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .btn-book {
    width: 100%;
  }
}
</style>
