<template>
  <div class="modal-video-details">
    <div>
      <span class="subtitle-text detail-label">Title: </span>
      <span class="video-detail">{{ document.title }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">Description: </span>
      <span class="video-detail">{{ document.description }}</span>
    </div>
    <div>
      <br>
      <a :href="document.link" target="_blank" class="btn main view-button"
        >View Document</a
      >
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn fourth-color" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"

@Component({})
export default class ModalDetailsDocument extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({})
  readonly document
}
</script>

<style lang="scss" scoped>
.modal-delete-warning {
  font-size: 0.7rem;
  color: var(--third-color);
  display: block;
}

.video-detail {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.modal-delete-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.view-button {
    display: block;
}

.modal-video-details {
  div {
    padding: 0.5rem 0rem;
  }
}
</style>
