<template>
  <div class="modal-video-details pt-0">
    <ul v-if="results.length" role="list" class="divide-y divide-gray-100">
      <li
        v-for="form in results"
        :key="form.id"
        class="flex justify-between gap-x-4 py-5"
      >
        <div class="flex min-w-0 gap-x-4">
          <i class="la la-comment la-fw la-3x"></i>
          <div class="min-w-0 flex-auto pt-1">
            <p class="text-xl">
              {{ form.name }}
            </p>
            <p class="mt-1 truncate text-xs text-gray-500">
              Last updated on {{ formatDate(form.updated_at) }}
            </p>
          </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end pt-1">
          <input
            type="checkbox"
            class="w-8 h-8 mt-2"
            :style="{ accentColor: pColor }"
            :checked="form.selected"
            @change="_selectForm(form)"
          />
        </div>
      </li>
    </ul>

    <tad-button
      class="mt-4 float-right mb-6"
      :disabled="!selected.length"
      @click="outputSelection"
      >Select Forms</tad-button
    >

    <div v-if="!results.length" class="text-center text-xl py-20 text-gray-500">
      <i class="la la-wpforms la-fw la-3x"></i>
      <br />
      <div class="py-3">Nothing to display</div>
      <p class="text-sm">Click <b>Add Form</b> to create a new form</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation, Getter, Prop } from "nuxt-property-decorator"
import dayjs from "dayjs"
import TadButton from "~/components/styled-components/TadButton"
import ModalBookClient from "~/components/modals/ModalBookClient.vue"
import { IForm } from "~/interfaces/index"
import { getMyForms } from "~/api/form"

@Component({
  components: { TadButton, ModalBookClient },
})
export default class ModalSelectAppointmentForm extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Getter("modals/getModal") getModal
  @Getter("appointment/selectedForms") selected
  @Mutation("modals/showModal") showModal
  @Prop([Array, String]) readonly selectedForms!: any
  @Getter("config/pColor") pColor

  results = [] as IForm[]
  filters = [
    {
      id: "my_forms",
      name: "My Forms",
    },

    // Endpoints for the filters below are unavailable :-(
    // {
    //   id: "shared_forms",
    //   name: "Shared Forms",
    // },
    // {
    //   id: "templates",
    //   name: "Templates",
    // },
  ]

  mounted() {
    // Reset state on first load
    this.$store.commit("appointment/resetForms", [])

    // Remember last selected values
    if (this.selectedForms.length) {
      this.selectedForms.map((form) =>
        this.$store.commit("appointment/selectForm", form)
      )
    }

    this.loadForms()
  }

  async loadForms() {
    const { data } = await getMyForms()
    this.results = data.items.map((form: IForm) => {
      const selected = this.selectedForms.filter(
        (_form: IForm) => _form.id === form.id
      ).length

      return { ...form, selected: !!selected }
    })
  }

  outputSelection() {
    this.hideModal(this.selected)
  }

  _selectForm(form: IForm) {
    if (this._selected(form)) {
      this.$store.commit("appointment/deselectForm", form)
    } else {
      this.$store.commit("appointment/selectForm", { ...form, selected: true })
    }
  }

  _selected(form: IForm) {
    return this.selected.filter((_form) => _form.id === form.id).length
  }

  formatDate(date) {
    return dayjs(date).format("MMM D, YYYY")
  }
}
</script>
