<template>
  <div>
    <div class="appointment__detail">
      <b>
        <span>Appointment ID: </span>
      </b>
      <span>{{ appointment.id }}</span>
    </div>
    <div class="appointment__detail">
      <b>
        <span>Professional: </span>
      </b>
      <span>{{ appointment.professional["full_name"] }}</span>
    </div>
    <div class="appointment__detail">
      <b>
        <span>Student: </span>
      </b>
      <span>{{ appointment.patient["full_name"] }}</span>
    </div>
    <div class="appointment__detail">
      <b>
        <span>Date: </span>
      </b>
      <span>{{ $appointmentStartTimezoneSensitive(appointment, 'MMM DD YYYY') }}</span>
    </div>
    <div class="appointment__detail">
      <b>
        <span>Time: </span>
      </b>
      <span>{{  $appointmentStartTimezoneSensitive(appointment, 'hh:mm A') + "-" +  $appointmentEndTimezoneSensitive(appointment, 'hh:mm A') }}</span>
    </div>
    <div class="appointment__detail">
      <b>
        <span>Status: </span>
      </b>
      <b>
        <em>
          <span>{{
            appointment.is_completed
              ? "Completed"
              : appointment.is_confirmed
              ? "Ongoing"
              : appointment.is_rejected
              ? "Rejected"
              : "Pending"
          }}</span>
        </em>
      </b>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import { IAppointment } from "~/interfaces"

@Component({})
export default class ModalViewAppointmentDetails extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({})
  readonly appointment!: IAppointment

}
</script>

<style lang="scss" scoped>
.appointment__detail {
    margin-bottom: 1rem;
    font-size: .9rem;
    color: var(--dark-text);
}
</style>
