<template>
  <div class="modal-video-details">
    <div>
      <form @submit.prevent="submit">
        <div class="form-input-wrapper">
          <tad-button danger type="submit" @click.prevent="submit"
            >Reactivate Account</tad-button
          >
        </div>
      </form>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { activateUser } from "~/api/users"

@Component({
  components: { TadButton },
})
export default class ModalActivateUser extends Vue {
  @Mutation("modals/hideModal") hideModal

  @Prop({}) id

  mounted() {}

  async submit() {
    try {
        await activateUser(this.id)
      this.$toast.success("Success! This user account has been restored.")
      this.$router.go(-1)
      this.hideModal()
    } catch {}
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

form {
  padding-bottom: 2rem;
}
</style>