<template>
  <div class="modal-video-details">
    <div>
      <span class="subtitle-text detail-label">Title: </span>
      <span class="video-detail">{{ document.title }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">Description: </span>
      <span class="video-detail">{{ document.description }}</span>
    </div>
    <div>
      <br />
      <tad-link
        :href="`${documentLink}`"
        target="_blank"
        class="btn main view-button"
        > View Document <i class="las la-link"></i>
      </tad-link>
    </div>
    <div>
      <br />
      <tad-button
        danger
        class="btn main view-button"
        @click="destroyDocument(document.id)"
      >
        Delete
      </tad-button>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn fourth-color" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import { deleteDocument, getDocument } from "~/api/resources"
import TadButton from "~/components/styled-components/TadButton"
import TadLink from "~/components/styled-components/TadLink"

@Component({
  components: { TadButton, TadLink },
})
export default class ModalAdminDetailsDocument extends Vue {
  @Mutation("modals/hideModal") hideModal!: () => any
  @Prop({}) readonly document

  fullApiUrl = process.env.fullApiUrl
  documentLink = ""
  async destroyDocument(id) {
    try {
      deleteDocument(id)
      this.hideModal()
      this.$toast.success("Success! You have deleted this resource.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  mounted() {
    getDocument(this.document.id).then((res) => {
      this.documentLink = res.data.link
    })
  }

  

  async getDocument(id) {
    try {
      getDocument(id)
      this.hideModal()
      this.$toast.success("Success! You have deleted this resource.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
}


</script>

<style lang="scss" scoped>
.modal-delete-warning {
  font-size: 0.7rem;
  color: var(--third-color);
  display: block;
}

.video-detail {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.modal-delete-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.view-button {
  display: block;
  width: 100%;
  cursor: pointer;
}

.modal-video-details {
  div {
    padding: 0.5rem 0rem;
  }
}
</style>
