<template>
  <div class="modal-video-details">
    <div>
      <span class="subtitle-text detail-label">Status: </span>
      <span class="video-detail">{{
        video.is_approved
          ? "approved"
          : video.decline_reason
          ? "declined"
          : !video.is_approved
          ? "pending approval"
          : ""
      }}</span>
    </div>

    <div v-if="!video.is_approved" class="modal-delete-video">
      <div>
        <span class="subtitle-text detail-label">Selected Audience</span>
        <div
          v-if="roles.length"
          class="form-input-wrapper special-wrapper mb-6"
        >
          <div v-for="role in roles" :key="role.id">
            <input
              type="checkbox"
              name="audience"
              :checked="ifChecked(role.name)"
              @change.stop="addRole(role.name)"
            />
            <template v-if="role.name === 'patient'"
              ><label for="audience">{{ "student" }}</label></template
            >
            <template v-else-if="role.name === 'peer_counselor'"
              ><label for="audience">{{ "peer counselor" }}</label></template
            >
            <template v-else
              ><label for="audience">{{ role.name }}</label></template
            >
          </div>
        </div>
      </div>
    </div>

    <div v-if="!video.is_approved" class="modal-delete-video">
      <div>
        <span class="subtitle-text detail-label">Ready to approve?</span>
      </div>
      <tad-button primary @click="approveVideoResource(video.id)"
        >Approve Resource</tad-button
      >
    </div>

    <div v-if="!video.decline_reason && !video.is_approved">
      <form @submit.prevent="submit">
        <div class="form-input-wrapper mb-3 setting__form-input-wrapper">
          <label for="name" class="detail-label">Decline This Resource</label>
          <span class="modal-delete-warning">Please provide a reason.</span>
          <input
            id="decline-comment"
            type="text"
            v-model="declineComment"
            placeholder="Enter reason"
            name="decline-comment"
            required
          />
        </div>
        <tad-button
          danger
          value="Submit Decline"
          @click.prevent="submit(video.id)"
          >Decline Video</tad-button
        >
      </form>
    </div>

    <div v-if="video.decline_reason">
      <span class="subtitle-text detail-label">Reason For Decline: </span>
      <span class="video-detail">{{ video.decline_reason }}</span>
    </div>
    <div class="modal-delete-video">
      <div>
        <span class="subtitle-text">DELETE THIS VIDEO?</span>
        <span class="modal-delete-warning"
          >Note: this action is irreversible</span
        >
      </div>
      <tad-button danger @click="destroyVideo(video.id)">Delete</tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import {
  declineVideoResource,
  deleteVideo,
  approveVideo,
} from "~/api/resources"
import TadButton from "~/components/styled-components/TadButton"
import { getRoles } from "~/api/roles"

@Component({
  components: { TadButton },
})
export default class ModalDeleteVideoResource extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({})
  readonly video
  public declineComment: any = ""
  roles: any = []
  public targetAudience: any = []

  mounted() {
    this.fetchRoles()
    this.targetAudience = [...this.video.target_audience]
  }

  async fetchRoles() {
    try {
      let { data: roles } = await getRoles()
      roles = roles.filter(function (item) {
        return item.name !== "admin"
      })
      roles = roles.filter(function (item) {
        return item.name !== "super"
      })
      this.roles = roles
    } catch (error) {
      this.$toast.error(`Error getting audience types`)
    }
  }

  addRole(role: string) {
    if (this.targetAudience.includes(role)) {
      let item = this.targetAudience.indexOf(role)
      let tempArray = this.targetAudience
      tempArray.splice(item, 1)
      this.targetAudience = tempArray
    } else {
      this.targetAudience.push(role)
    }
  }

  async submit(id) {
    try {
      await declineVideoResource(this.declineComment, id)
      // force reload to update video list (needs refactor)
      this.$router.go(-1)
      this.$toast.success("Success! You have declined this resource.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  async destroyVideo(id) {
    try {
      await deleteVideo(id)
      this.hideModal()
      // force reload to update video list (needs refactor)
      this.$router.go(-1)
      this.$toast.success("Success! You have deleted this resource.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  async approveVideoResource(id) {
    try {
      const formData = new FormData()
      formData.append("target_audience", this.targetAudience)
      await approveVideo(id, formData)
      this.hideModal()
      // force reload to update video list (needs refactor)
      this.$toast.success("Success! You have approved this resource.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  ifChecked(role: string) {
    return this.targetAudience.includes(role)
  }
}
</script>

<style lang="scss" scoped>
.special-wrapper {
  display: flex !important;
  flex-direction: row !important;
}
.modal-delete-warning {
  font-size: 0.7rem;
  color: var(--light-text);
  display: block;
}

.video-detail {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
  font-weight: bold;
}

.modal-delete-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.modal-video-details {
  div {
    padding: 0.5rem 0rem;
  }
}
</style>
