<template>
  <div class="modal-request-confirmation">
    <p class="mb-4 bold-text" v-html="text"></p>

    <div class="time mb-10 old">
      <div class="time__label">Current Time</div>
      <div class="time__value">12:00 pm PST - 1:00 pm PST</div>
    </div>

    <ul class="days">
      <li class="time__label">Mon, July 1st</li>
      <li class="time__label">Tues, July 2nd</li>
      <li class="time__label">Wed, July 3rd</li>
    </ul>

    <div class="times mb-10">
      <div class="time">
        <div class="time__label">New Time</div>
        <div class="time__value">9:00 am PST - 10:00 am PST</div>
      </div>
      <div class="time">
        <div class="time__label">New Time</div>
        <div class="time__value">2:00 pm PST - 3:00 pm PST</div>
      </div>
    </div>
    <div>
      <tad-button primary @click="confirmed">{{ confirmText }}</tad-button>
      <tad-button danger @click="hide">{{ cancelText }}</tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ModalRequestReschedule extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) onconfirm!: () => void
  @Prop(String) text!: string
  @Prop({ default: "Confirm" }) confirmText!: string
  @Prop({ default: "Cancel" }) cancelText!: string

  confirmed() {
    this.onconfirm()
    this.hide()
  }

  hide() {
    this.hideModal()
  }
}
</script>

<style lang="scss" scoped>
.bold-text {
  color: #505a84;
  font-weight: 500;
  font-size: 0.8rem;
}
.old {
  background-color: #f0f0f0;
}
.days {
  display: flex;
  li:first-of-type{
    border-bottom: 1px solid #c0c0c0;
  }
  li {
    list-style: none;
    padding: 0.5rem;
    
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  position: relative;
  bottom: 15px;
}

.time {
  padding: 1rem;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.time:hover {
  background-color: #f5f5f5;
}

.btn {
  cursor: pointer;
  width: 100%;
  margin: 0;
}
.text-availability-info {
  margin-bottom: 1rem;
}
footer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.time__label {
  color: #505a84;
  font-size: 0.8rem;
  font-weight: 500;
}

.time__value {
  font-size: 0.8rem;
  font-weight: 300;
  color: #505a84;
}
</style>
