<template>
  <div class="modal-request-confirmation">
    <!-- <p class="mb-4" v-html="text"></p> -->
    <div class="form-input-wrapper mb-5">
      <div class="mb-5">
        <label for="location" class="mb-2 inline-block">Enter Addres</label>
        <input
          type="text"
          id="location"
          name="location"
          v-model="location"
          class="
            block
            p-2.5
            w-full
            text-sm text-gray-900
            bg-gray-50
            rounded-lg
            border border-gray-300
            focus:ring-blue-500 focus:border-blue-500
            dark:bg-gray-700
            dark:border-gray-600
            dark:placeholder-gray-400
            dark:text-white
            dark:focus:ring-blue-500
            dark:focus:border-blue-500
          "
          placeholder="Ex: 1234 Main St."
        />
      </div>

      <div class="mb-5">
        <label for="room_number" class="mb-2 inline-block"
          >Enter Room Number</label
        >
        <input
          type="text"
          id="room_number"
          name="room_number"
          v-model="room_number"
          class="
            block
            p-2.5
            w-full
            text-sm text-gray-900
            bg-gray-50
            rounded-lg
            border border-gray-300
            focus:ring-blue-500 focus:border-blue-500
            dark:bg-gray-700
            dark:border-gray-600
            dark:placeholder-gray-400
            dark:text-white
            dark:focus:ring-blue-500
            dark:focus:border-blue-500
          "
          placeholder="Ex: 1234"
        />
      </div>
    </div>

    <footer>
      <tad-button primary @click="confirmed">{{ confirmText }}</tad-button>
    </footer>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"


@Component({
  components: { TadButton },
})
export default class ModalSetLocation extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) onconfirm!: (
    location: string,
    room_number
  ) => void

  @Prop(String) text!: string
  @Prop({ default: "Confirm" }) confirmText!: string
  @Prop({ default: "Cancel" }) cancelText!: string

  location: string = ""
  room_number: string = ""

  confirmed() {
    let location = this.location
    let room_number = this.room_number
    this.onconfirm(location, room_number)
    this.hide()
  }

  hide() {
    this.hideModal()
  }
}
</script>

<style lang="scss" scoped>
footer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
</style>
