<template>
  <loading-spinner v-if="isLoading"></loading-spinner>
  <div v-else class="appointment-details">
    <div class="info-block">
      <p class="info-title">Date/Time:</p>
      <p class="info">
        {{
          $appointmentStartTimezoneSensitive(
            appointment,
            "MMM DD YYYY, hh:mm A"
          )
        }}
      </p>
    </div>

    <div class="info-block">
      <p class="info-title">User:</p>
      <div class="patient info">
        <img
          :src="$userimg(appointment.patient.profile_image)"
          alt=""
          class="image"
        />
        <p>{{ appointment.patient.full_name }}</p>
      </div>
    </div>

    <div class="info-block">
      <p class="info-title">User Mood(when booking):</p>
      <div class="patient info">
        <template v-if="appointment.mood">
          <i :class="`las ${icMood} la-2x`"></i>
          <p>{{ appointment.mood }}</p>
        </template>
        <p v-else>N/A</p>
      </div>
    </div>

    <div class="info-block">
      <p class="info-title">Status:</p>
      <p class="info appointment-status">
        <span v-if="appointment.is_confirmed" class="confirmed">
          <i class="las la-check-circle la-lg mr-2"></i>Confirmed
        </span>
        <span v-else-if="appointment.is_rejected" class="rejected">
          <i class="las la-times la-lg mr-2"></i>Cancelled
        </span>
        <span v-else class="pending">Pending</span>
      </p>
    </div>

    <template v-if="appointment.is_confirmed">
      <tad-button
        v-if="
          appointment.meeting_link && appointment.meeting_link !== 'PROCESSING'
        "
        as="a"
        :href="appointment.meeting_link"
        target="_blank"
      >
        <i class="las la-video fa-lg mr-2"></i>
        <span> Join Meeting</span>
      </tad-button>

      <alert
        v-else-if="appointment.meeting_link === 'PROCESSING'"
        type="info"
        msg="The meeting link is being created. Please check back later."
        :dissmissable="false"
      />
      <template v-else>
        <form-button
          icon=""
          type="main"
          :submitting="isSubmitting"
          @click.native="scheduleMeeting"
        >
          <i class="las la-video la-lg mr-2"></i>
          <span> Schedule Video Call</span>
        </form-button>
      </template>
    </template>
    <template
      v-if="
        !appointment.is_confirmed &&
        !appointment.is_rejected &&
        !appointment.is_completed
      "
    >
      <div class="appointment-actions">
        <form-button
          success
          :submitting="isSubmitting"
          @click.native="acceptAppointment"
        >
          <i class="las la-check"></i> Accept
        </form-button>
        <form-button
          danger
          :submitting="isSubmitting"
          @click.native="cancelAppointment"
        >
          <i class="las la-times"></i> Cancel
        </form-button>
      </div>
    </template>
    <orange-button
      v-if="!appointmentHasCaseNote"
      icon=""
      type="main"
      :submitting="isSubmitting"
      @click.native="createNote"
    >
      <i class="las la-plus la-lg mr-2"></i>
      <span> Create Client Notes</span>
    </orange-button>

    <orange-button
      v-else
      icon=""
      type="main"
      :submitting="isSubmitting"
      @click.native="openCaseNote"
    >
      <i class="las la-plus la-lg mr-2"></i>
      <span> Go To Case Note</span>
    </orange-button>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import ModalRequestConfirmation from "./ModalRequestConfirmation.vue"
import {
  confirmAppointment,
  getAppointment,
  rejectAppointment,
  scheduleAppointmentMeeting,
} from "~/api/appointments"
import { IAppointment, ICaseNote, IModal } from "~/interfaces"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"
import { createCaseNote, getCaseNoteByAppointmentId } from "~/api/case-notes"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import Alert from "~/components/Alert.vue"
import FormButton from "~/components/FormButton.vue"

@Component({
  components: { FormButton, Alert, LoadingSpinner, TadButton, OrangeButton },
})
export default class ModalAppointmentDetails extends Vue {
  @Prop(String) readonly appointmentId!: string
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any
  @Mutation("modals/hideModal") hideModal!: () => any

  appointment = {} as IAppointment
  isLoading = true
  isSubmitting = false
  appointmentHasCaseNote = false
  patientFileId = ""
  caseNote: ICaseNote = {} as ICaseNote

  get icMood() {
    switch (this.appointment.mood) {
      case "Feeling Awful":
        return "la-sad-tear"
      case "Feeling Worse Than Normal":
        return "la-frown"
      case "Feeling Just Average":
        return "la-meh"
      case "Feeling Better Than Normal":
        return "la-smile"
      case "Feeling Great":
        return "la-grin-beam"
      default:
        return "la-meh"
    }
  }

  formatUpdatedAt(time: string) {
    return dayjs(time).format("MMM DD, YYYY - h:mmA ")
  }

  async fetch() {
    try {
      this.isLoading = true
      const { data: appointment } = await getAppointment(this.appointmentId)
      this.appointment = appointment
    } catch (error) {
      this.$toasted.error("Error fetching appointment details")
    } finally {
      this.isLoading = false
    }

    try {
      this.isLoading = true
      const { data } = await getCaseNoteByAppointmentId(this.appointmentId)
      this.caseNote.id = data.id
      this.patientFileId = data.patient_file_id
      this.appointmentHasCaseNote = true
    } catch (error) {
      this.appointmentHasCaseNote = false
    } finally {
      this.isLoading = false
    }
  }

  get appointmentDateTime() {
    if (!this.appointment.date) return ""
    return dayjs(
      this.appointment.date
        .concat("T")
        .concat(this.appointment.start_time)
        .concat("Z")
    ).format("DD MMM YYYY, hh:mm A")
  }

  public async acceptAppointment() {
    try {
      this.isSubmitting = true
      await confirmAppointment(this.appointment.id)
      this.$toast.success("Appointment Confirmed")
    } catch (error) {
      this.$toast.error("Unable to confirm appointment")
    } finally {
      this.isSubmitting = false
      this.$fetch()
    }
  }

  public async cancelAppointment() {
    try {
      this.isSubmitting = true
      // await rejectAppointment(this.appointment.id)
      this.$toast.success("Appointment Confirmed")
    } catch (error) {
      this.$toast.error("Unable to confirm appointment")
    } finally {
      this.isSubmitting = false
      this.$fetch()
    }
  }

  async scheduleMeeting() {
    try {
      this.isSubmitting = true
      const { data: appointment } = await scheduleAppointmentMeeting(
        this.appointment.id
      )
      this.appointment = appointment
      this.$toasted.success("Video call scheduled successfully")
    } catch (error) {
      this.$toasted.error("An error occurred when scheduling the video call")
    } finally {
      this.isSubmitting = false
    }
  }

  async createNote() {
    try {
      this.isSubmitting = true
      await createCaseNote({
        appointment_id: this.appointment.id,
        narrative: "Fill user progress notes here",
        is_draft: true,
        session_format: "Appointment",
      })
      // this.$router.push(
      //   `/professionals/case-notes/${createdNote.id}?file=${this.patientFile.id}`
      // )
      // this.caseNoteCreateSuccess()
      this.$fetch()
      this.$toast.success("Successfully created client note.")
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to create client note")
    } finally {
      this.isSubmitting = false
    }
  }

  openCaseNote() {
    this.hideModal()
    // TODO Need patient file id to show this page
    this.$router.push(
      `/professionals/case-notes/${this.caseNote.id}?file=${this.patientFileId}`
    )
  }

  caseNoteCreateSuccess() {
    const modal: IModal = {
      content: ModalRequestConfirmation,
      title: "Client Note created successfully!",
      props: {
        text: "You can view all notes from the <b>Client Notes</b> page.",
        confirmText: "Go to Client Notes",
        cancelText: "Stay here",
        onconfirm: () => {
          this.$router.push(`/professionals/patient-files`)
        },
      },
    }
    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.appointment-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info-block {
  .info-title {
    color: var(--dark-text);
    margin-bottom: 0.2rem;
  }
  .info {
    font-weight: bold;
  }
}
.patient {
  display: flex;
  gap: 1rem;
  align-items: center;
  .image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 5px;
  }
}

.appointment-status {
  .confirmed {
    color: var(--success-color);
  }
  .rejected {
    color: var(--danger-color);
  }
  .pending {
    color: gray;
  }
}
.btn-schedule-video-call {
  width: 100%;
}
.appointment-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}
</style>
