<template>
  <div class="modal-request-confirmation">
    <div>
      <!-- <div class="mt-5 mb-4">
      <p class="text-lg font-bold">Create A New User</p>
    </div> -->

      <div class="bg-white">
        <div class="mb-2">
          <span class="text-xl">Setup New User</span>
        </div>
        <span class="text-sm mb-5 inline-block"
          >Use the form below to add a new user.</span
        >
        <ValidationObserver>
          <form @submit.prevent="submit" id="form">
            <div class="form-input-wrapper mb-5">
              <label for="email_address">Full Name</label>
              <ValidationProvider rules="email">
                <tad-input
                  id="fullName"
                  v-model="fullName"
                  type="text"
                  required
                  class="w-full"
                />
                <!-- <span>{{ errors[0] }}</span> -->
              </ValidationProvider>
            </div>
            <div class="form-input-wrapper mb-5">
              <label for="email_address">Email</label>
              <ValidationProvider rules="email">
                <tad-input
                  id="email_address"
                  v-model="email"
                  type="email"
                  :placeholder="email"
                  required
                  class="w-full"
                />
                <!-- <span>{{ errors[0] }}</span> -->
              </ValidationProvider>
            </div>
            <div class="form-input-wrapper mb-5">
              <label for="role">Role</label>
              <ValidationProvider>
                <select id="role" v-model="userType" name="" required>
                  <option v-for="role in roles" :key="role.id" :value="role">
                    {{ role.name }}
                  </option>
                </select>
                <!-- <span>{{ errors[0] }}</span> -->
              </ValidationProvider>
            </div>
            <div class="form-input-wrapper mb-5">
              <label for="password1">New password</label>
              <ValidationProvider rules="confirmed:password2">
                <tad-input
                  id="password1"
                  v-model="password1"
                  name="password1"
                  type="password"
                  required
                  class="w-full"
                />
                <!-- <span
                  class="block px-3 py-2 text-sm font-light text-gray-700"
                  >{{ errors[0] }}</span
                > -->
              </ValidationProvider>
            </div>
            <div class="form-input-wrapper mb-4">
              <label for="password2">Confirm password</label>
              <ValidationProvider vid="password2">
                <tad-input
                  id="password2"
                  v-model="password2"
                  name="password2"
                  type="password"
                  required
                  class="w-full"
                />
                <!-- <span
                  class="block px-3 py-2 text-sm font-light text-gray-700"
                  >{{ errors[0] }}</span
                > -->
              </ValidationProvider>
            </div>

            <tad-button class="w-full mt-5">Add User</tad-button>
          </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation, Getter } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import CreateUserForm from "~/components/admin/CreateUserForm.vue"
import { createUser } from "~/api/users"
import TadInput from "~/components/styled-components/TadInput"
import { getRoles } from "~/api/organization"

type Role = {
  id: string
  name: string
}

interface AxiosError {
  response: {
    data: {
      detail: string
    }
  }
}

@Component({
  components: { TadButton, CreateUserForm, TadInput },
})
export default class ModalCreateNewUser extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) onconfirm!: () => void

  @Prop(String) warningText!: string
  @Getter("loggedInUser") currentUser

  public fullName: string = ""
  public email: string = ""
  public userType: { id: string; name: string } = { id: "", name: "" }
  public isActive: boolean = true
  public isSuperuser: boolean = false
  public password1: string = ""
  public password2: string = ""
  public roles: any = []

  get setPassword() {
    return Boolean(this.password1) && Boolean(this.password2)
  }

  async fetchRoles() {
    try {
      const { data: roles } = await getRoles()
      this.roles = roles
    } catch (error) {
      console.log(error)
    }
  }

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("user.create.users")) {
      this.fetchRoles()
    }
  }

  public async submit() {
    const createdProfile: any = {
      email: this.email,
      organization_id: this.currentUser.organization_id,
    }
    if (this.fullName) {
      createdProfile.full_name = this.fullName
    }
    if (this.email) {
      createdProfile.email = this.email
    }
    createdProfile.is_active = this.isActive
    createdProfile.is_superuser = this.isSuperuser
    createdProfile.role_id = this.userType.id

    if (this.setPassword) {
      // User filled both password fields
      if (this.password1 !== this.password2) {
        this.$toast.error("Passwords do not match")
        return
      }
      createdProfile.password = this.password1
    }
    try {
      await createUser(createdProfile)
      this.$toast.success("User created successfully")
      this.onconfirm()
      this.hide()
      // Refresh user details
    } catch (error) {
      const axiosError = error as AxiosError
      if (
        axiosError.response &&
        axiosError.response.data &&
        axiosError.response.data.detail
      ) {
        this.$toast.error(axiosError.response.data.detail)
      } else {
        this.$toast.error("An error occurred.")
      }
    }
  }

  hide() {
    this.hideModal()
  }
}
</script>

<style lang="scss" scoped>
.warning {
  color: #f44336;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 1rem;
}
.btn {
  cursor: pointer;
  width: 100%;
  margin: 0;
}
.text-availability-info {
  margin-bottom: 1rem;
}
footer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
</style>
