<template>
  <div class="modal-video-details">
    <div>
      <form @submit.prevent="removeUser">
        <div class="form-input-wrapper">
          <label for="remove">
            Are you sure you want to remove this Care Team member?
          </label>
          <tad-button danger type="submit">Remove Care Team Member</tad-button>
        </div>
      </form>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { deleteCareTeam } from "~/api/teams"

@Component({
  components: { TadButton },
})
export default class ModalRemoveCareTeam extends Vue {
  @Mutation("modals/hideModal") hideModal

  @Prop({}) request

  async removeUser() {
    try {
      await deleteCareTeam(this.request.id)
      // window.history.go()
      this.$toast.success("Success! You have removed a close friend.")
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to remove a close friend")
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
</style>
