<template>
  <div class="block space-y-6">
    <div class="role-form__field">
      <label for="role-name" class="role-form__feature-title mb-4"
        >Role Name:</label
      >
      <input
        id="role-name"
        v-model="name"
        type="text"
        class="role-form__input"
      />
    </div>

    <div
      v-for="(feature, key) in featureAndPermissions"
      :key="feature.feature_name"
      class="role-form__feature"
    >
      <div class="border bg-white rounded-lg hover:shadow">
        <div class="block px-3 py-2 border-b bg-gray-100">
          <div class="flex">
            <div class="flex-auto">
              <h3 class="text-base font-semibold">
                {{ feature.feature_name }}
              </h3>
            </div>
            <!-- <div class="flex-shrink">
              <input
                type="text"
                class="border w-32 px-2 rounded text-sm h-6"
                placeholder="Filter"
                @keyup="filterPermission($event, key)"
              />
            </div> -->
          </div>
        </div>
        <div class="p-3 grid grid-cols-1 lg:grid-cols-2 gap-4">
          <div
            v-for="permission in feature.permissions"
            :key="permission.name"
            class=""
          >
            <div class="flex space-x-2">
              <div class="flex-shrink">
                <input
                  :id="permission.name"
                  v-model="permission.selected"
                  type="checkbox"
                  class=""
                />
              </div>
              <div class="flex-auto">
                <label :for="permission.name" class="">
                  {{ permission.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <tad-button
      v-if="!roleName.length"
      class="role-form__submit"
      @click="createRole"
      >Create Role</tad-button
    >
    <tad-button v-else class="role-form__submit" @click="updateRole"
      >Update Role</tad-button
    >
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation, Getter } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import {
  getOrgFeaturesAndPermissions,
  createRole,
  getRole,
  updateRole,
} from "~/api/organization"

interface Permission {
  name: string
  selected: boolean
}

interface Feature {
  feature_name: string
  permissions: Permission[]
}

interface Role {
  name: string
  permissions_list: Feature[]
}

@Component({
  components: { TadButton },
})
export default class ModalCreateEditRole extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({}) roleName
  @Prop({}) roleId
  @Getter("loggedInUser") userProfile
  @Getter("isAuthenticated") readonly readIsLoggedIn!: boolean

  name = ""

  selectedFeaturesAndPermissions: any[] = [] // Add your correct type here
  rolePermissions: any[] = [] // Add your correct type here
  featureAndPermissions: Feature[] = []
  backups: string | null = null

  created() {
    this.fetchFeaturesAndPermissions()
    this.name = this.roleName
    if (this.roleId) {
      this.fetchRole()
    }
  }

  async fetchRole() {
    try {
      const { data: role } = await getRole(this.roleId)
      this.rolePermissions = role.permissions
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  async fetchFeaturesAndPermissions() {
    try {
      const { data } = await getOrgFeaturesAndPermissions(
        this.userProfile.organization_id
      )

      this.setSelections(data)
    } catch (error: any) {
      this.$toast.error("Something went wrong, Try Again!")
    } finally {
      // Clone data to enable reverting filters
      this.backups = JSON.stringify(this.featureAndPermissions)
    }
  }

  setSelections(features) {
    this.featureAndPermissions = features.map((feature) => {
      // Find the same feature from rolePermissions
      const roleFeature = this.rolePermissions.find(
        (roleFeature) => roleFeature.feature_name === feature.feature_name
      )

      return {
        feature_name: feature.feature_name,
        permissions: feature.permissions.map((permission) => {
          // If the feature exists in rolePermissions, check if the permission is also present
          const isSelected = roleFeature
            ? roleFeature.permissions.includes(permission)
            : false

          return {
            name: permission,
            selected: isSelected,
          }
        }),
      }
    })
  }

  async updateRole() {
    if (this.name.length > 0) {
      try {
        const permissionsList = this.featureAndPermissions.map((feature) => ({
          feature_name: feature.feature_name,
          permissions: feature.permissions
            .filter((permission) => permission.selected)
            .map((permission) => permission.name),
        }))

        // Only include the name if it has changed
        const role: any = {
          permissions_list: permissionsList,
        }

        if (this.name !== this.roleName) {
          role.name = this.name
        }

        const { data: updatedRole } = await updateRole(this.roleId, role)
        this.$toast.success("Role updated successfully!")
        this.hideModal()

        // Do something with updatedRole or refresh your data
      } catch (error) {
        this.$toast.error("Something went wrong, Try Again!")
      }
    } else {
      this.$toast.error("Role name cannot be empty")
    }
  }

  async createRole() {
    if (this.name.length > 0) {
      try {
        const permissionsList = this.featureAndPermissions.map((feature) => ({
          feature_name: feature.feature_name,
          permissions: feature.permissions
            .filter((permission) => permission.selected)
            .map((permission) => permission.name),
        }))

        const role = {
          name: this.name,
          permissions_list: permissionsList,
        }

        const { data: newRole } = await createRole(role)
        this.$toast.success("Role created successfully!")
        this.hideModal()

        // do something with newRole, or refresh your data
      } catch (error) {
        this.$toast.error("Something went wrong, Try Again!")
      }
    } else {
      this.$toast.error("Role name cannot be empty")
    }
  }

  filterPermission(e: any, key: number) {
    if (e.target.value === "") {
      // Reset from backup if textbox empty
      this.featureAndPermissions = JSON.parse(this.backups as string)
    } else {
      // Filter permissions
      const filteredPermissions = this.featureAndPermissions[
        key
      ].permissions.filter((permission) => {
        return permission.name.includes(e.target.value)
      })

      if (filteredPermissions.length) {
        this.featureAndPermissions[key].permissions = [...filteredPermissions]
      } else {
        this.featureAndPermissions = JSON.parse(this.backups as string)
      }
      this.setSelections(this.featureAndPermissions)
    }
  }
}
</script>

<style lang="scss" scoped>
.role-form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 0.5em;
    position: relative;
    top: 0.2rem;
  }

  &__input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__feature-title {
    font-weight: 500;
    text-transform: capitalize;
  }

  &__permission {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__checkbox {
    margin-right: 0.5em;
  }

  &__submit {
    margin-top: 2em;
    align-self: flex-end;
    width: 100%;
  }
}
</style>
