<template>
  <div>
    <div class="form-input-wrapper">
      <label>Share your thoughts: </label>
      <input
        v-model="patientSearchString"
        type="text"
        placeholder="Write a message..."
        @input="patientSearchDebounce"
      />

      <button class="btn main">Submit Feedback</button>
      <!-- <datalist id="patients">
        <option
          v-for="patient in patients"
          :key="patient.id"
          :value="patient.full_name"
        >
          <img :src="$userimg(patient.profile_image)" alt="" />
        </option>
      </datalist> -->

      <!-- <loading-spinner v-if="isSearching">Searching</loading-spinner>
      <alert
        v-else-if="patients.length <= 0"
        type="info"
        :dissmissable="false"
        msg="No results"
      >
      </alert> -->
      <!-- <ul v-else-if="selectedPatient.id == null" class="patient-list mb-6">
        <li
          v-for="patient in patients"
          :key="patient.id"
          class="patient"
          :class="{ selected: patient.id === selectedPatient.id }"
          @click="selectedPatient = patient"
        >
          <img
            class="profile-img"
            :src="$userimg(patient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{ patient.full_name.concat(", ").concat(patient.email) }}
          </p>
        </li>
      </ul> -->

      <form
        v-if="selectedPatient.id"
        class="selected-patient-container"
        @submit.prevent="bookAppointment"
      >
        <h3 class="subtitle-text my-0 mb-5">Book Appointment for:</h3>
        <div class="selected-patient mb-5">
          <img
            class="profile-img"
            :src="$userimg(selectedPatient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{
              selectedPatient.full_name
                .concat(", ")
                .concat(selectedPatient.email)
            }}
          </p>
        </div>
        <button class="btn main btn-book" :disabled="isWorking">
          <span v-if="isWorking">
            <i class="las la-cog la-spin la-lg mr-3"></i>
          </span>
          <span v-else>Book Appointment</span>
        </button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Prop, Getter, Mutation } from "nuxt-property-decorator"
import { createAppointment } from "~/api/appointments"
import { searchPatients } from "~/api/users"
import { IAppointmentCreate, IAvailability, IUserProfile } from "~/interfaces"


@Component({})
export default class ModalFeedback extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile // the professional
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) readonly eventInfo!: {
    availability: IAvailability
    event: {
      start: Date
      end: Date
    }
  }

  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patients: IUserProfile[] = []
  selectedPatient = {} as IUserProfile
  isWorking = false

  get startTime() {
    return dayjs(this.eventInfo.availability.time_start.concat('Z')).format(
      "h:mm A dddd, D MMM YYYY"
    )
  }

  get endTime() {
    return dayjs(this.eventInfo.availability.time_end.concat('Z')).format(
      "h:mm A dddd, D MMM YYYY"
    )
  }

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async patientSearch() {
    this.isSearching = true
    this.patients = []
    this.selectedPatient = {} as IUserProfile

    const { data: patients } = await searchPatients(this.patientSearchString)
    this.patients = patients

    this.isSearching = false
  }

}
</script>

<style lang="scss" scoped>
// styles for friends section

.friends {
    padding-bottom: 1rem;
  display: flex;

  div {
    height: 40px;
    width: 40px;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 50%;
    cursor: pointer;

    img {
      height: 40px;
      width: 40px;
    }
  }
}
.text-availability-info {
  margin-bottom: 1rem;
}
.patient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .patient {
    background-color: #fff;
    border: 2px solid #bbb3b3;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px #0000001c;

    cursor: pointer;
    &:hover {
      border-color: var(--main-color);
      background-color: var(--main-color-hover);
    }

    &.selected {
      border-color: var(--success-color);
      background-color: rgba(9, 247, 9, 0.274);
    }
  }
}

.selected-patient-container {
  border: 1px solid #bbb3b3;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 2px #0000001c;
  .selected-patient {
    background-color: #fff;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .btn-book {
    width: 100%;
  }
}
</style>
