<template>
  <div class="modal-form-share-success">
    <p v-html="text"></p>

    <tad-button class="btn-back-to-forms mt-12" @click="hideModal">
      {{closeText}}
    </tad-button>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Mutation } from "vuex-class"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ModalShowMessage extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop(String) text!: string
  @Prop({ default: "Close" }) closeText!: string
}
</script>

<style lang="scss" scoped>
.btn-back-to-forms {
  width: 100%;
}
</style>