<template>
  <div>
    <form @submit.prevent="submit">
      <div class="form-input-wrapper mb-6">
        <label for="name">Name</label>
        <input v-model="name" type="text" placeholder="enter full name" />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="email">Email</label>
        <input v-model="email" type="email" placeholder="enter email" />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="type" class="small-text">What is your relationship</label>
        <select v-model="relationship" id="type" name="">
          <option value="friend">Friend</option>
          <option value="relative">Relative</option>
        </select>
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="phone">Phone Number</label>
        <input type="tel" v-model="number" placeholder="enter phone number" />
      </div>
      <div class="form-input-wrapper">
        <tad-button @submit.prevent="submit">Add Contact</tad-button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { createContact } from "~/api/teams"

@Component({
  components: { TadButton },
})
export default class ModalAddEmergencyContact extends Vue {
  @Mutation("modals/hideModal") hideModal

  name: string = ""
  email: string = ""
  relationship: string = ""
  number: string = ""
  status: string = ""

  async submit() {
    try {
      let full_name = this.name
      let email = this.email
      let phone = this.number
      let relationship = this.relationship

      await createContact(full_name, email, phone, relationship)
      this.$toast.success("Success! You have created a new emergency contact.")
      this.hideModal()
      window.history.go()
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
}
</script>

<style lang="scss" scoped>
</style>