<template>
  <div class="modal-password-reset-email">
    <p v-if="emailSent" class="subtitle-text">
      A password recovery email has been sent to <em>{{ email }}</em
      >. Please follow the instructions in the email to reset your password.
    </p>
    <form v-else @submit.prevent="passwordRecoveryEmail">
      <div class="form-input-wrapper mb-6">
        <label for="password_reset">Enter your account email:</label>
        <tad-input id="password_reset" v-model="email" type="email" required />
      </div>
      <form-button :success="true" class="btn-submit" :submitting="isWorking">
        Send password recovery link
      </form-button>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import TadInput from "~/components/styled-components/TadFormsInput"
import FormButton from "~/components/FormButton.vue"
import { sendPasswordRecoveryEmail } from "~/api/utils"

@Component({
  components: { TadInput, FormButton },
})
export default class ModalPasswordResetEmail extends Vue {
  email = ""
  isWorking = false
  emailSent = false

  async passwordRecoveryEmail() {
    try {
      this.isWorking = true
      await sendPasswordRecoveryEmail(this.email)
      this.emailSent = true
    } catch (error) {
      this.$toasted.error("Could not send password recover email")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-submit {
  width: 100%;
}
</style>
