<template>
  <div class="modal-video-details">
    <div>
      <article>
        <header class="mb-8">
          <div class="text-center md:text-left">
            <h1 class="h1 mb-4 aos-init aos-animate" data-aos="fade-up">
              Terms
            </h1>
            <p
              class="text-xl text-gray-400 aos-init aos-animate"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              TERMS OF SERVICE
            </p>
          </div>
        </header>
        <div class="text-lg text-gray-400">
          <p class="mb-8">1. TADHealth Terms of Service</p>
          <p class="mb-8">
            These Terms of Service (“Terms”) govern your use of TAD Health Inc.
            dba TADHealth Privacy Policy and its subsidiaries, and Affiliates
            (collectively, “us”, “we” “our” or "TADHealth") websites. These
            Terms covers all TADHealth’s websites, mobile phone applications,
            and which include, but are not limited to, the website(s) at
            https://tadhealth.com/, the crisis link button API (“Button”), the
            TADHealth dashboard (“Dashboard”), the appointment API (“Booking”),
            the subscription API (“Subcriptions”), and the resources content API
            (“Resources”) posted or published by TADHealth on the Dashboard and
            our associated website (collectively, the “Service”) and any content
            posted or published by TADHealth on the Dashboard and specifically
            includes any branded website(s) or applications we have developed
            for any of our Affiliates (the “Sites”). For the purposes of this
            policy, the term “Affiliate” shall mean any entity, individual,
            firm, or corporation, directly or indirectly, through one or more
            intermediaries, controlling, controlled by, or under common control
            with TADHealth. TADHealth’s Privacy Policy [tadhealth.com/privacy]
            is hereby incorporated into these Terms. By accessing and using the
            Sites, User affirms that it understands and agrees to these Terms
            (the last modified date is found at the end of these Terms).
          </p>
          <p class="mb-8">2. Applicability of These Terms</p>
          <p class="mb-8">
            These Terms apply to all who use or access the Sites (“Users”).
            Users can be individuals, businesses, or other organizations,
            including educational institutions or entities through which the use
            of the Sites may be offered (“Institution”). By using the Sites User
            agree to be bound by these Terms. If the User of the Sites does not
            agree to these Terms, do not use the Sites. These Terms do not apply
            to third party sites or applications, including but not limited to
            medical provider pages, to which we provide access through the
            Sites. These sites or applications set their terms and privacy
            policies independent of TADHealth. Please review the terms and
            privacy policies of these sites and applications before using them.
            These Terms do not apply to services rendered by the Institution or
            by another health care provider (“Outside Services”). whether or not
            recommended by or booked through the Sites. TADHealth disclaims any
            and all liability arising out of or in connection with the Outside
            Services. TADHealth may revise and update these Terms in its sole
            discretion, and will post any updates to the Terms on the Sites.
            User’s continued use of the Sites, or any other service provided
            through the Sites, signifies agreement and consent to be bound by
            the updated Terms.
          </p>
          <p class="mb-8">3. Access and Use of the Sites</p>
          <p class="mb-8">
            Account Security: TADHealth employs reasonable commercial efforts to
            deploy and maintain reasonable administrative, physical, and
            technical safeguards to keep User data and other information
            confidential and secure. Users may be required to create their own
            unique account prior to gaining access to the Sites. Users shall be
            responsible for appropriately securing their accounts, computers,
            and other electronic devices accessing the Sites and for protect
            their passwords and other access rights to the Sites. User may not
            interfere with others’ legitimate access to and use of the Sites.
            TADHealth may monitor use of the Sites for security and technical
            support purposes and for validating compliance with these Terms and
            for any legitimate business purpose. TADHealth may at any time
            remove access rights to the Sites or require Users to change their
            passwords if TADHealth determines, in its sole discretion, that the
            Users use or access to the Sites poses an imminent threat to the
            Sites, to others’ use of the Sites, or of a violation of law.
            TADHealth will restore connectivity and functionality as soon as
            practicable after they identify and neutralize the threat and
            implement any measures to ensure the threat does not reoccur. User
            shall be responsible for ensuring that the information provided
            pursuant to its use of the Sites is accurate. Mobile Services:
            TADHealth may send push notifications, SMS/text messages, or other
            electronic messages to User's mobile device. User's wireless service
            carrier's charges, data rates, and other fees may apply. Under no
            circumstances will TADHealth be responsible for any internet service
            or wireless service carrier charges, fees, or expenses incurred by
            the User. If User changes or deactivates User's mobile telephone
            number, User agrees to promptly update User's account information to
            stay notified. Electronic Communications: By consenting to these
            Terms, User confirms that User can access electronic information and
            communications on the Sites or via email or mobile services and
            consents to receiving electronic information and communications.
            User gives TADHealth permission to email User information about
            upcoming appointments, marketing etc. communicate between users,
            notifications from friends, or other information pertaining the
            User’s use of the Sites. User agrees to keep his or her profile
            email address up to date so TADHealth may communicate with User.
            Users may change their communication preferences at any time in
            their account or opt-out of marketing or promotion communication by
            following opt-out procedures found on those communications.
            TADHealth’s Rights with respect to the Sites: User acknowledges that
            TADHealth may limit or control the use of the Sites in its
            discretion at any time and in any manner, including the setting or
            altering of data retention parameters. TADHealth may terminate
            accounts that it deems to be inactive. User agrees that TADHealth,
            its directors, officers, employees, affiliates, and assigns will not
            be liable to User or to any third party for any modification,
            suspension, or discontinuance of all or any part of the Sites,
            whether temporary or permanent. Prohibited Conduct: TADHealth
            reserves the right to investigate and take appropriate action,
            including legal action, against anyone who, in TADHealth's sole
            discretion, violates these Terms. TADHealth may also suspend or
            terminate the accounts of violators and report Users to law
            enforcement authorities. Special Notice for International Use;
            Export Controls: TADHealth operates in the United States (U.S.) and
            is not targeted to individuals who reside in the European Economic
            Area (EEA) or other countries outside of the U.S. Content Submitted
            to the Sites: The opinions and posts expressed on the Sites by Users
            reflect solely the opinions of the Users who post thereon and do not
            reflect the opinions of TADHealth. You acknowledge and agree that we
            have the right (but not the obligation) to monitor the Sites; to
            alter or remove any comments or other interactions with or on the
            Sites that TADHealth determines, in its sole discretion are not
            appropriate; and to disclose such comments and interactions and the
            circumstances surrounding their transmission to any third party in
            order to operate the Sites properly; to protect ourselves, our
            sponsors, Users, or other Affiliates, and to comply with legal
            obligations or governmental requests. If User a believes a message
            or posting violates these Terms, please contact TADHealth
            immediately at [support@tadhealth.com] so that TADHealth may
            consider its editing or removal. NOT A SUBSTITUTE FOR MEDICAL
            ADVICE. TADHealth provides the Sites and the services, information,
            content and/or data (collectively, “Information”) contained therein
            for informational purposes only. TADHealth does not provide any
            medical advice on the Sites, and the Information should not be so
            construed or used. Using, accessing and/or browsing the Sites and/or
            providing personal or medical information to TADHealth does not
            create a physician-patient relationship between User and TADHealth.
            Nothing contained in the Sites is intended to (a) create a
            physician-patient relationship, whether or not User is referred to a
            physician or an appointment is booked through the Sites, (b) replace
            the services of a licensed, trained physician or health professional
            or (c) be a substitute for medical advice of a licensed physician or
            trained health professional. User should not rely on anything
            contained in the Site and should consult a licensed physician
            licensed in all matters relating to User’s health. User hereby agree
            that you shall not make any health or medical related decision based
            in whole or in part on anything contained in the Site. The content
            posted on the Sites is not intended to be a substitute for
            professional medical advice, diagnosis, or treatment. Always seek
            the advice of your physician or other qualified health provider with
            any questions you may have regarding a medical condition. Never
            disregard professional medical advice or delay in seeking it because
            of something you have read on the Sites. TADHealth does not
            recommend or endorse any specific tests, physicians, products,
            procedures, opinions, or other information that may be mentioned on
            the Sites. Reliance on any information provided by TADHealth, other
            Users, or medical professionals linked or booked through the Sites,
            is solely at User’s own risk.
          </p>
          <p class="mb-8">4. Intellectual Property</p>
          <p class="mb-8">
            User is granted a non-exclusive, non-transferable, revocable license
            to access and use the Sites. As a condition of the use of the Sites,
            User warrants that it will not use the Sites for any purpose that is
            unlawful or prohibited by these Terms. User may not use the Sites in
            any manner which could damage, disable, overburden, or impair the
            Sites, or interfere with any other party's use and enjoyment of the
            Sites. User may not obtain or attempt to obtain any materials or
            information through any means not intentionally made available or
            provided for through the Sites. All content included as part of the
            Sites, such as text, graphics, logos, images, as well as the
            compilation thereof, and any software used on the Sites, is the
            property of TADHealth or its Affiliates and protected by copyright
            and other laws that protect intellectual property and proprietary
            rights. User agrees to observe and abide by all copyright and other
            proprietary notices, legends, or other restrictions contained in any
            such content, and will not make any changes thereto. User will not
            modify, publish, transmit, reverse engineer, participate in the
            transfer or sale, create derivative works, or in any way exploit any
            of the content, in whole or in part, found on the Sites. User’s use
            of the Sites does not entitle User to make any unauthorized use of
            any protected content, and in particular, User will not delete or
            alter any proprietary rights or attribution notices in any content.
            User will use protected content solely for personal use and will
            make no other use of the content without TADHealth’s express written
            permission. User agrees that it does not acquire any ownership
            rights in any protected content. TADHealth does not grant User any
            licenses, express or implied, to TADHealth’s intellectual property
            or TADHealth’s licensors, except as expressly authorized by these
            Terms.
          </p>
          <p class="mb-8">5. Termination</p>
          <p class="mb-8">
            TADHealth, in its sole discretion, may suspend or terminate User's
            account or use of any of the Sites at any time, without notice, for
            any reason. User may terminate User's account at any time. Upon
            termination (a) User's usage rights will terminate and User must
            immediately cease all use of the Sites; (b) User will no longer be
            authorized to access User's account or the Sites; and (c) all
            obligations accrued prior to termination and with respect to
            TADHealth’s intellectual property, limited or absence of liability,
            indemnity rights, and rights regarding its ownership and control of
            the Sites will survive.
          </p>
          <p class="mb-8">6. User Information Transmitted Through the Sites:</p>
          <p class="mb-8">
            Except as otherwise provided in the Privacy Policy or under these
            Terms, User acknowledges and agrees that any comments, suggestions,
            ideas, feedback or other information about the Sites
            ("Submissions"), provided by User to TADHealth are non-confidential
            and TADHealth is entitled to the unrestricted use and dissemination
            of these Submissions, and any and all derivative works thereof, for
            any purpose, commercial or otherwise, without acknowledgment,
            accounting to, or compensation to User. If User chooses to provide
            Submissions, User grants TADHealth an unrestricted, perpetual,
            irrevocable, non-exclusive, fully-paid, royalty-free right to
            exploit the Submissions and derivative works thereof in any manner
            and for any purpose, including to improve the Sites and to create
            other products and services that TADHealth sells or offers for sale.
          </p>
          <p class="mb-8">7. Third Party Websites</p>
          <p class="mb-8">
            TADHealth may provide, or third parties may provide, links or other
            access to other sites and resources on the Sites. TADHealth has no
            control over such sites and resources and TADHealth is not
            responsible for and does not endorse such sites and resources. User
            further acknowledges and agrees that TADHealth, its directors,
            officers, employees, Affiliates, and assigns will not be responsible
            or liable, directly or indirectly, for any damage or loss caused or
            alleged to be caused by or in connection with the use of or reliance
            on any content, events, goods or services available on or through
            any such site or resource. Any dealings User has with third parties
            found while using the Sites are between User and the third party,
            and User agrees that TADHealth, its directors, officers, employees,
            Affiliates, and assigns are not liable for any loss or claim that
            User may have against any such third party. User is responsible for
            reviewing the terms of service and privacy policies of such third
            party sites.
          </p>
          <p class="mb-8">8. Indemnity and Release</p>
          <p class="mb-8">
            To the fullest extent permitted by law, User is responsible for
            User's use of the Sites. User releases and agrees to indemnify and
            hold TADHealth and its officers, directors, employees, consultants,
            subsidiaries, Affiliates, assigns, and agents harmless from any and
            all losses, damages, expenses, including reasonable attorneys' fees,
            rights, claims, actions of any kind and injury (including death)
            arising out of or relating to: (a) User's unauthorized use or misuse
            of the Sites; (b) User's violation of these Terms, any
            representation, warranty, or agreement referenced in these Terms, or
            any applicable law or regulation; (c) User's violation of any rights
            of a third party, including any intellectual property right or
            publicity, confidentiality, other property, or privacy right; or (d)
            any dispute or issue between User and any third party.
          </p>
          <p class="mb-8">9. Disclaimer of Warranties</p>
          <p class="mb-8">
            USE OF ANY PORTION OF THE SITES IS AT USER’S OWN DISCRETION AND
            RISK. THE SITES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.
            TADHEALTH EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER
            EXPRESS, IMPLIED OR STATUTORY, RELATING TO THE SITES AND ALL
            MATERIALS AND CONTENT AVAILABLE THROUGH THE SITES, INCLUDING, BUT
            NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
            FOR A PARTICULAR PURPOSE, TITLE AND NON- INFRINGEMENT, AND ANY
            WARRANTY ARISING OUT OF COURSE OF DEALING, USAGE, OR TRADE.
            TADHEALTH MAKES NO WARRANTY THAT ANY PORTION OF THE SITES, OR ANY
            MATERIALS OR CONTENT OFFERED THROUGH THE SITES (A) WILL MEET USER'S
            REQUIREMENTS, (B) WILL BE UNINTERRUPTED, TIMELY, SECURE, OR FREE OF
            ERRORS, VIRUSES, OR OTHER HARMFUL COMPONENTS, (C) THAT THE RESULTS
            THAT MAY BE OBTAINED FROM THE USE OF THE SITES WILL BE ACCURATE OR
            RELIABLE, OR (D) THAT THE QUALITY OF ANY PRODUCTS, SERVICES,
            INFORMATION, OR OTHER MATERIAL OBTAINED BY USER THROUGH THE SITES
            WILL MEET USER'S EXPECTATIONS, AND TADHEALTH DOES NOT WARRANT THAT
            ANY OF THOSE ISSUES WILL BE CORRECTED. TADHEALTH AND ITS OFFICERS,
            DIRECTORS, EMPLOYEES AND AFFILIATES ARE NOT RESPONSIBLE FOR ANY
            DAMAGE THAT MAY RESULT FROM THE TADHEALTH SITES, INCLUDING BUT NOT
            LIMITED TO LOSS OF OR DAMAGE TO USER'S PROPERTY, SUCH AS USER'S
            COMPUTER SYSTEM, MOBILE DEVICE OR DATA. TADHEALTH AND ITS OFFICERS,
            DIRECTORS, EMPLOYEES AND AFFILIATES ARE NO RESPONSIBLE FOR ANY
            DAMAGES ARISING OUT OF OR IN CONNECTION WITH ANY OUTSIDE SERVICES.
            THE LIMITATIONS, EXCLUSIONS AND DISCLAIMERS IN THIS SECTION APPLY TO
            THE FULLEST EXTENT PERMITTED BY LAW.
          </p>
          <p class="mb-8">10. Limitation of Liability</p>
          <p class="mb-8">
            TADHEALTH AND ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS,
            THIRD PARTY SERVICE PROVIDERS, LICENSORS, OR CONTENT PROVIDERS, WILL
            NOT BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR
            ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SITES: (A)
            FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE
            GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE,
            EXEMPLARY, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER; (B) FOR
            ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE
            SOURCE OF ORIGINATION); (C) FOR USER'S USE OR INABILITY TO USE OR
            RELIANCE ON THE SITES OR ANY CONTENT OR OTHER MATERIALS AVAILABLE
            THROUGH THE SITES; (D) UNAUTHORIZED ACCESS TO OR ALTERATION OF
            USER'S DATA; OR (E) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE
            SITES. UNLESS OTHERWISE PROHIBITED BY LAW, THE MAXIMUM LIABILITY OF
            TADHEALTH AND ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS,
            THIRD PARTY SERVICE PROVIDERS, LICENSORS OR CONTENT PROVIDERS TO
            USER FOR ANY AND ALL DAMAGES, LOSSES AND CAUSES OF ACTION WILL NOT
            EXCEED $100.00. IN STATES WHERE THE EXCLUSIONS AND LIMITATIONS SET
            FORTH ABOVE ARE NOT ALLOWED, TADHEALTH IS RESPONSIBLE TO USER ONLY
            FOR LOSSES AND DAMAGES THAT ARE A REASONABLY FORESEEABLE RESULT OF
            ITS FAILURE TO USE REASONABLE CARE AND SKILL OR RESULTING FROM A
            MATERIAL BREACH OF THESE TERMS. TADHEALTH DOES NOT LIMIT LIABILITY
            TO USERS WHERE IT WOULD BE ILLEGAL TO DO SO. THIS SECTION DOES NOT
            AFFECT CONSUMER RIGHTS THAT CANNOT BE WAIVED OR LIMITED BY ANY
            CONTRACT OR AGREEMENT. SOME STATES DO NOT ALLOW THE EXCLUSION OR
            LIMITATION OF INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES, SO THE
            LIMITATIONS AND EXCLUSIONS IN THIS SECTION MAY NOT APPLY TO USER IF
            USER RESIDES IN SUCH A JURISDICTION. IF ANY PORTION OF THIS
            LIMITATION OF LIABILITY IS FOUND TO BE INVALID, TADHEALTH’S
            LIABILITY WILL OTHERWISE BE LIMITED TO THE GREATEST EXTENT PERMITTED
            BY LAW.
          </p>
          <p class="mb-8">11. Governing Law</p>
          <p class="mb-8">
            These Terms shall be treated as though they were executed and
            performed in Delaware and shall be governed by the laws of the State
            of Delaware and the laws of the United States without regard to
            conflict of law principles. Any claim or dispute related to the
            Sites or under these Terms, the Privacy Policy, and any legal
            notices on the Sites, must be instituted within one (1) year after
            the claim arose (if multiple claims, from the date the first claim
            arose), or be forever waived and barred. User agrees that it will
            bring any claims in, and submit to the exclusive jurisdiction of,
            the state and federal courts located in the State of Delaware.
          </p>
          <p class="mb-8">12. Construction and Assignment</p>
          <p class="mb-8">
            Construction. In the event that these Terms conflict with any
            agreement between User and TADHealth, or any additional terms of
            service or other agreements provided at any TADHealth physical
            location, these Terms shall govern. The failure of TADHealth to
            exercise or enforce any right or provision of these Terms will not
            constitute a waiver of such right or provision or a waiver of any
            subsequent breach or default such provision. If any provision of
            these Terms is found by a court of competent jurisdiction or an
            arbitrator to be invalid, the parties nevertheless agree that the
            court or arbitrator should endeavor to give effect to the parties'
            intentions as reflected in that provision, and the other provisions
            of these Terms will remain in full force and effect. The section
            titles in these Terms are for convenience only and have no legal or
            contractual effect. Throughout these Terms the use of the word
            "including" means "including but not limited to". User Assignment
            Prohibited without Prior Written Consent. User may not assign these
            Terms, in whole or in part, by operation of law or otherwise,
            without the prior written consent of TADHealth. Any attempt to
            assign or transfer the Terms, without such consent, will be void.
            TADHealth may assign or transfer these Terms, in whole or in part,
            without restriction and without providing notice to or obtaining
            consent from User. The provisions of these Terms will inure to the
            benefit of, and be binding upon, the parties and their respective
            successors and permitted assigns.
          </p>
          <p class="mb-8">13. Notice for California Users</p>
          <p class="mb-8">
            Under California Civil Code Section 1789.3, users of the Sites from
            California are entitled to the following specific consumer rights
            notice: You may contact us to resolve a complaint regarding the
            service or to receive further information regarding use of the
            service at 2618 San Miguel Drive Suite 501, Newport Beach CA, 92660
            or by emailing at support@tadhealth.com. If you choose, you may also
            contact the Complaint Assistance Unit of the Division of Consumer
            Services of the California Department of Consumer Affairs in writing
            at 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834 or by
            telephone at (916) 445-1254 or (800) 952-5210. Information about the
            Department's consumer complaint process can be found on its website
            California Civil Code Section 1798.83 permits California residents
            who use the Sites to request certain information regarding our
            disclosure of personal information to third parties for their direct
            marketing purposes. To make such a request, or if you have any
            questions or concerns about your California privacy rights, our
            Privacy Policy or our use of your Personal Information, please
            contact us at the address or email provided below. Please include
            “Privacy” in the subject line of any email or postal letter.
            Additional information for California residents pertaining to their
            privacy rights can be found in the Privacy Policy.
          </p>
          <p class="mb-8">14. Changes to Terms</p>
          <p class="mb-8">
            These Terms may be updated from time to time. We reserve the right
            to modify these Terms at any time without notice, so please review
            these Terms frequently. When changes are made to these Terms, we
            will revise the “last updated” date at the bottom of these Terms.
            Your continued use of the Sites after we have posted any Terms
            changes indicates your agreement to the changes unless you notify us
            otherwise. If you wish to retain a copy of these Terms, you should
            print a copy or save a copy for your records.
          </p>
          <p class="mb-8">15. Contact Us</p>
          <p class="mb-8">
            If you have any questions or comments about these Terms or if you
            wish to report a violation of these Terms, please e-mail us at
            support@tadhealth.com send us a letter at:
          </p>
          <p class="mb-8">
            2618 San Miguel Drive Suite 501 Newport Beach, CA 92660
          </p>
          <p class="mb-8">Last Modified: June 24, 2021</p>
        </div>
      </article>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ModalTerms extends Vue {
  @Mutation("modals/hideModal") hideModal
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.modal-video-details {
  max-height: 300px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
</style>