<template>
  <div class="modal-set-professional-availability">
    <form @submit.prevent="submit">
      <header>
        <!-- <h4 class="date"><b>Date: </b>{{ availabilityDate }}</h4> -->

        <div class="form-input-wrapper time-container">
          <h4><label cl for="availability-date">Date: </label></h4>
          <tad-input
            id="availability-date"
            ref="input-availability-date"
            v-model="availabilityDate"
            type="date"
            required
          />
        </div>
      </header>

      <div class="form-input-wrapper time-container">
        <label for="startTime">Start Time</label>
        <tad-input
          v-model="startTime"
          type="time"
          required
          class="
            w-full
            border-2
            rounded-lg
            px-3
            py-2
            border-gray-300
            time-select
          "
        />
      </div>
      <div class="form-input-wrapper time-container">
        <label for="startTime">End Time</label>
        <tad-input
          v-model="endTime"
          type="time"
          required
          class="
            w-full
            border-2
            rounded-lg
            px-3
            py-2
            border-gray-300
            time-select
          "
        />
      </div>
      <div class="form-input-wrapper time-container">
        <label for="startTime">Duration: </label>
        <select v-model.number="timeBlock">
          <option value="0"></option>
          <option value="30">30min</option>
          <option value="45">45min</option>
          <option value="60">60min</option>
        </select>
      </div>
      <p v-if="!isStartTimeBeforeEndTime" class="small-text error-msg mb-3">
        <i class="las la-exclamation-circle mr-1"></i>End time cannot be before
        or the same as start time
      </p>

      <div class="repeating-options-container">
        <div class="form-input-wrapper checkbox-repeat-container pb-4 pt-3">
          <label for="is_repeating" class="pr-2">Repeat Availability?</label>
          <input id="is_repeating" v-model="isRepeating" type="checkbox" />
        </div>

        <div v-if="isRepeating" class="repeating-options">
          <div class="form-input-wrapper frequency">
            <label for="">Frequency:</label>
            <select v-model="repeat_frequency">
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
            </select>
          </div>

          <div class="form-input-wrapper repeat_until">
            <label for="repeat_up_to_date">Until:</label>
            <tad-input
              id="repeat_up_to_date"
              v-model="repeat_up_to_date"
              type="date"
              :min="minDate"
            />
          </div>
        </div>
      </div>

      <p
        v-if="isStartTimeBeforeEndTime"
        class="msg-availabilities-count small-text"
      >
        <i class="las la-exclamation-circle mr-1"></i>At most
        {{ blocksToBeCreated }}
        {{ blocksToBeCreated > 1 ? "time slots" : "time slot" }} will be
        created{{ isRepeating ? " on each day." : "." }}
        <br />
        {{ isRepeating ? `${entries} availabilities will be created` : "." }}
      </p>

      <p
        v-if="isRepeating && entries > allowedNumberOfAvailabilities"
        class="text-center text-red-500 text-sm p-2"
      >
        Cannot create more than
        {{ allowedNumberOfAvailabilities }} availabilities
      </p>

      <form-button
        class="btn-submit mt-4"
        success
        :submitting="isWorking"
        :disabled="
          isWorking ||
          !isStartTimeBeforeEndTime ||
          isStartTimeMinusEndTimeLessThanTimeBlock ||
          entries > allowedNumberOfAvailabilities
        "
        >Confirm availability</form-button
      >
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation, Getter } from "nuxt-property-decorator"
import dayjs from "dayjs"
import timezone from "dayjs/plugin/timezone" // dependent on utc plugin
import customParseFormat from "dayjs/plugin/customParseFormat"
import { IAvailabilityCreate } from "~/interfaces"
import { getApiErrorMsg } from "~/api"
import { createAvailability } from "~/api/availabilities"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import FormButton from "~/components/FormButton.vue"
dayjs.extend(timezone)
dayjs.extend(customParseFormat)

@Component({
  components: { FormButton, TadInput, TadButton },
})
export default class ModalSetProfessionalAvailability extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop(Date) date!: Date
  @Prop(Boolean) currentViewHasTime!: boolean
  @Getter("loggedInUser") userProfile
  $refs!: {
    timeStartMinuteToggle: HTMLButtonElement
    timeStartAmPmToggle: HTMLButtonElement
    timeEndMinuteToggle: HTMLButtonElement
    timeEndAmPmToggle: HTMLButtonElement
    "input-availability-date": HTMLInputElement
  }

  availabilityDate = dayjs(this.date).format("YYYY-MM-DD")
  startTime = ""
  endTime = ""
  isRepeating = false
  minDate = dayjs().format("YYYY-MM-DD")
  repeat_up_to_date = dayjs().format("YYYY-MM-DD")
  repeat_frequency = "daily"

  timeBlock = 0

  allowedNumberOfAvailabilities = 100

  isWorking = false

  get startTimeFormatted() {
    // const date = new Date(this.date)
    return dayjs(this.date)
      .format("YYYY-MM-DD")
      .concat("T")
      .concat(this.startTime)
  }

  get endTimeFormatted() {
    return dayjs(this.date)
      .format("YYYY-MM-DD")
      .concat("T")
      .concat(this.endTime)
  }

  get isStartTimeBeforeEndTime() {
    return dayjs(this.startTimeFormatted).isBefore(this.endTimeFormatted)
  }

  get blocksToBeCreated() {
    const minutes = dayjs(this.endTimeFormatted).diff(
      this.startTimeFormatted,
      "minutes"
    )

    if (this.timeBlock === 0) return 1

    return Number((minutes / this.timeBlock).toFixed(0))
  }

  get differenceOfDays() {
    const startDate = dayjs(this.availabilityDate)
    const repeatUpToDate = dayjs(this.repeat_up_to_date)

    if (this.repeat_frequency === "monthly")
      return repeatUpToDate.diff(startDate, "month") + 1
    else if (this.repeat_frequency === "weekly")
      return repeatUpToDate.diff(startDate, "week") + 1
    else return repeatUpToDate.diff(startDate, "day") + 1
  }

  get entries() {
    if (dayjs(this.repeat_up_to_date).isBefore(this.availabilityDate)) {
      return this.blocksToBeCreated
    }
    return this.differenceOfDays * this.blocksToBeCreated
  }

  get isStartTimeMinusEndTimeLessThanTimeBlock() {
    const duration = Number(
      dayjs(this.endTimeFormatted).diff(this.startTimeFormatted, "minutes")
    )
    return duration < this.timeBlock
  }

  async submit() {
    try {
      this.isWorking = true
      const availability: IAvailabilityCreate = {
        time_start: this.startTimeFormatted,
        time_end: this.endTimeFormatted,
        time_block: Number(this.timeBlock),
        timezone: dayjs.tz.guess(),
        organization_id: this.userProfile.organization_id,
      }
      if (this.isRepeating) {
        availability.repeat_up_to_date = this.repeat_up_to_date
        availability.repeat_frequency = this.repeat_frequency
      }

      await createAvailability(availability)
      this.$toast.success("Availability set successfully.")
      this.hideModal()
    } catch (error) {
      const msg = getApiErrorMsg(error)
      this.$toast.error(`Error creating availability: ${msg}`)
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.time-select {
  padding: 0.25rem;
}
.date {
  margin-bottom: 1rem;
}
label {
  padding-left: 0;
}
.time-container,
.repeat_until,
.frequency {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 85px minmax(100px, 300px);
  gap: 1rem;
  align-items: center;
  font-weight: 500;
}
.btn-submit {
  width: 100%;
}
label {
  cursor: pointer;
}
.repeating-options-container {
  color: var(--dark-text);
  font-size: 0.9rem;
  // .repeating-options{
  //   border: 1px solid rgb(234, 234, 234);
  //   border-radius: 5px;
  //   padding: .5rem;
  //   margin-bottom: 1rem;
  // }
}
.time-dropdown-container {
  display: flex;
  flex-direction: row;
  .time-dropdown-toggle {
    width: 50px;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 5px;
    padding: 0.5rem 0;
  }

  .item.selected {
    background: rgb(234, 234, 234);
  }
}
.checkbox-repeat-container {
  flex-direction: row;
}
.error-msg {
  color: var(--danger-color) !important;
}
.msg-availabilities-count {
  color: var(--success-color) !important;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .time-container {
    grid-template-columns: auto;
  }
}
</style>
