<template>
  <div>
    <h3 class="mb-2 text-sm font-medium text-gray-700">Date Selected:</h3>

    <span
      class="
        py-2
        mt-2
        mb-2
        inline-block
        px-5
        text-sm
        font-medium
        focus:outline-none
        rounded-lg
        border
        bg-gray-100
        text-blue-700
      "
    >
      <i class="las la-calendar-day"></i> {{ startDate }}</span
    >
    <span
      class="
        py-2
        mt-2
        mb-5
        inline-block
        px-5
        text-sm
        font-medium
        focus:outline-none
        rounded-lg
        border
        bg-gray-100
        text-blue-700
      "
    >
      <i class="las la-clock"></i> From {{ startTime }} To {{ endTime }}</span
    >

    <label :class="labelCss">Find User </label>
    <div class="">
      <input
        v-model="patientSearchString"
        type="text"
        placeholder="Search by name or email address"
        :class="inputCss"
        @input="patientSearchDebounce"
      />

      <loading-spinner v-if="isSearching">Searching</loading-spinner>

      <ul v-else-if="selectedPatient.id == null" class="mb-6 mt-6 block w-full">
        <li
          v-for="patient in patients"
          :key="patient.id"
          class="w-full border-b border-t px-3 py-2"
          :class="{ selected: patient.id === selectedPatient.id }"
          @click="selectedPatient = patient"
        >
          <img
            class="profile-img"
            :src="$userimg(patient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{ patient.full_name.concat(", ").concat(patient.email) }}
          </p>
        </li>
      </ul>

      <div
        v-if="selectedPatient.id"
        class="
          selected-patient-container
          py-2
          mt-2
          mb-5
          inline-block
          px-5
          text-sm
          font-medium
          focus:outline-none
          rounded-lg
          border
          bg-gray-100
          text-blue-700
        "
      >
        <h3 class="subtitle-text my-0 mb-5">Booking appointment for:</h3>
        <div class="selected-patient mb-5">
          <img
            class="profile-img"
            :src="$userimg(selectedPatient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{
              selectedPatient.full_name
                .concat(", ")
                .concat(selectedPatient.email)
            }}
          </p>
        </div>
      </div>
    </div>

    <h3 :class="labelCss">Type of appointment</h3>
    <div class="grid grid-cols-2 gap-6 mb-8">
      <div class="border rounded-lg">
        <div class="flex gap-4">
          <div class="flex-shrink p-3">
            <input
              v-model="meetingType"
              type="radio"
              value="virtual"
              class="w-4 h-4"
            />
          </div>
          <div class="flex-auto pt-1">
            <label :class="labelCss">Online</label>
          </div>
        </div>
      </div>
      <div class="border rounded-lg">
        <div class="flex gap-4">
          <div class="flex-shrink p-3">
            <input
              v-model="meetingType"
              checked
              type="radio"
              value="in_person"
              name="bordered-radio"
              class="w-4 h-4"
              @change="loadForms"
            />
          </div>
          <div class="flex-auto pt-1">
            <label for="bordered-radio-2" :class="labelCss">In Person</label>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="meetingType === 'in_person'"
      class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-5"
    >
      <div class="md:col-span-2">
        <label for="address" :class="labelCss">Location</label>
        <input
          id="address"
          v-model="location"
          name="address"
          type="text"
          required
          class="
            mt-1
            block
            w-full
            py-2
            px-3
            border border-gray-300
            bg-white
            rounded-md
            shadow-sm
            focus:outline-none focus:ring-blue-500 focus:border-blue-500
            sm:text-sm
          "
        />
      </div>
      <div class="md:col-span-2">
        <label for="room" :class="labelCss"
          >Room Number <i class="la la-info-circle float-right"></i
        ></label>
        <input
          id="room"
          v-model="roomNo"
          name="room"
          type="text"
          required
          class="
            mt-1
            block
            w-full
            py-2
            px-3
            border border-gray-300
            bg-white
            rounded-md
            shadow-sm
            focus:outline-none focus:ring-blue-500 focus:border-blue-500
            sm:text-sm
          "
          placeholder="101"
        />
      </div>
    </div>

    <!-- Selected Forms -->
    <div class="block mt-10">
      <tad-button class="float-right" @click="openFormsModal"
        >Add Form</tad-button
      >
      <h3 :class="labelCss" class="text-xl font-bold">Selected Forms</h3>
      <hr class="my-2" />

      <!-- List of forms -->
      <div
        v-if="selectedForms.length"
        class="grid grid-cols-1 border divide-y rounded-lg mt-0 mb-5"
      >
        <div
          v-for="form in selectedForms"
          :key="form.id"
          class="flex p-3 hover:bg-gray-100"
        >
          <div class="flex-auto text-left">
            <h3 class="text-base pb-0">{{ form.name }}</h3>
          </div>
          <div class="flex-shrink text-right block">
            <a
              href="#!"
              class="text-red-500 hover:underline"
              @click="removeForm(form)"
              ><i class="la la-trash la-fw"></i> Remove</a
            >
          </div>
        </div>
      </div>
      <div
        v-if="!selectedForms.length"
        class="block text-center text-lg text-gray-500"
      >
        <br />
        <i class="la la-exclamation-circle la-2x pb-2"></i>
        <br />
        You have not added any forms
      </div>
    </div>

    <div class="w-full mt-6">
      <tad-button secondary @click="bookAppointment">
        Book Appointment
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Prop, Getter, Mutation } from "nuxt-property-decorator"
import { createAppointment } from "~/api/appointments"
import { searchPatients } from "~/api/users"
import { IForm, IUserProfile, GenericType } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import ModalSelectAppointmentForm from "~/components/modals/ModalSelectAppointmentForm.vue"
import ModalPreviewForm from "~/components/modals/ModalPreviewForm.vue"
import { getMyForms } from "~/api/form"

@Component({
  components: { TadButton, ModalSelectAppointmentForm },
})
export default class ModalWalkInAppointment extends Vue {
  @Getter("loggedInUser") currentUser!: IUserProfile
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showChildModal") showChildModal
  @Prop({ default: () => {} }) readonly eventInfo!: {
    availability: any
    event: {
      start: Date
      end: Date
    }
  }

  labelCss = "text-base font-normal py-2 px-0 block"
  inputCss = "w-full border-2 rounded-lg px-3 py-2"

  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patients: IUserProfile[] = []
  selectedPatient = {} as IUserProfile
  meetingType = "in_person"
  requestConsent = null
  forms = [] as IForm[]
  location = "" as string
  roomNo = "" as string
  selectedForms: IForm[] = []

  mounted() {
    this.loadForms()
  }

  get startDate() {
    return dayjs(this.eventInfo.event.start).format("MM DD, YYYY")
  }

  get startTime() {
    return dayjs(this.eventInfo.event.start).format("h:mm A")
  }

  get endTime() {
    return dayjs(this.eventInfo.event.end).format("h:mm A")
  }

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async patientSearch() {
    this.isSearching = true
    this.patients = []
    this.selectedPatient = {} as IUserProfile

    const { data: patients } = await searchPatients(this.patientSearchString)
    this.patients = patients

    this.isSearching = false
  }

  async bookAppointment() {
    const data = {
      availability_id: this.eventInfo.availability.id,
      owner_id: this.selectedPatient.id,
      organization_id: this.selectedPatient.organization_id,
      is_self_appointment: false,
      meeting_type: this.meetingType,
      location: this.location,
      room_number: this.roomNo,
      forms: [...this.selectedForms.map((form) => form.id)],
    }

    try {
      await createAppointment(data)
      this.$toast.success("Appointment booked successfully")
      this.$router.push("/appointments/availability")
      this.hideModal()
    } catch (error) {
      this.$toast.error("Error booking appointment")
    }
  }

  async loadForms() {
    if (this.meetingType === "in_person") {
      const { data } = await getMyForms()
      this.forms = data.items
    }
  }

  openFormsModal() {
    const modal = {
      title: "Add Form(s)",
      content: ModalSelectAppointmentForm,
      props: {
        selectedForms: this.selectedForms,
        onclose: (selectedForms: IForm[]) => {
          this.selectedForms = selectedForms
        },
      },
    }
    this.showChildModal(modal)
  }

  removeForm(form: IForm) {
    this.selectedForms = this.selectedForms.filter((f) => f.id !== form.id)
  }
}
</script>

<style lang="scss" scoped>
.text-availability-info {
  margin-bottom: 1rem;
}
.patient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .patient {
    background-color: #fff;
    border: 1px solid #bbb3b3;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 2px #0000001c;

    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }

    &.selected {
      border-color: var(--success-color);
      background-color: rgb(213, 223, 229);
    }
  }
}

.selected-patient-container {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  .selected-patient {
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .btn-book {
    width: 100%;
  }
}
</style>
