<template>
  <div class="modal-video-details">
    <div>
      <span class="subtitle-text detail-label"
        >A verified publisher is a trusted user who can upload content without admin approval.</span
      >
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ModalAboutVerifiedPro extends Vue {
  @Mutation("modals/hideModal") hideModal
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}
</style>
