<template>
  <div class="">
    <!-- Filters -->
    <div class="flex flex-wrap gap-3 mb-8">
      <div
        v-for="(_filter, idx) in filters"
        :key="idx"
        class="
          flex-shrink
          border
          rounded-full
          px-4
          py-2
          cursor-pointer
          capitalize
        "
        :style="[
          filter.id === _filter.id
            ? { 'background-color': pColor, color: '#ffffff' }
            : {},
        ]"
        @click="selectFilter(_filter)"
      >
        {{ _filter.name }}
      </div>
    </div>

    <!-- search -->
    <div class="block relative mb-10">
      <input
        v-model="q"
        type="text"
        class="border-2 rounded-lg px-4 py-2 w-full"
        placeholder="Search user"
        @keyup="loadUsers"
      />
    </div>

    <!-- Select all -->
    <div class="flex gap-x-4 pb-4">
      <div class="flex-shrink">
        <input
          type="checkbox"
          class="w-6 h-6"
          :style="{ accentColor: pColor }"
          :checked="selectedAll"
          @change="selectAll"
        />
      </div>
      <div class="flex-shrink text-lg">Select all users</div>
    </div>

    <!-- Directory list -->
    <div
      class="block overflow-y-auto border-2 px-8 py-3 rounded-lg mb-10"
      style="height: 40vh"
    >
      <loading-spinner v-if="busy" />

      <template v-if="!busy">
        <div
          v-for="user in results"
          :key="user.email"
          class="flex py-4 space-x-4 cursor-pointer hover:text-black"
        >
          <div class="flex-shrink pt-3">
            <input
              type="checkbox"
              class="w-6 h-6"
              :style="{ accentColor: pColor }"
              :checked="user.selected"
              @change="setSelection(user, $event.target.checked)"
            />
          </div>
          <div class="flex-grow">
            <div class="flex space-x-4">
              <div class="flex-shrink">
                <img
                  src="~/static/user-profile-placeholder.png"
                  class="w-12 rounded-full"
                />
              </div>
              <div class="flex flex-col">
                <h3 class="font-bold text-lg pt-3">
                  {{ user.full_name || `Anonymous User` }}
                </h3>
                <p class="text-gray-500 text-md">
                  {{ obfuscateEmail(user.email) }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>

    <div class="flex space-x-4 justify-end">
      <tad-button
        class="flex-shrink"
        :disabled="!isValid"
        @click="outputSelection()"
      >
        Add Respondents
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import { Mutation, Getter } from "vuex-class"
import _, { find } from "lodash"
import TadButton from "~/components/styled-components/TadButton"
import { IOrgDirectoryUser } from "~/interfaces"
import { getRoles } from "~/api/roles"
import { getUsersFromOrgDirectoryByRole } from "~/api/form"

interface IOrgDirectoryFilter {
  id: string | null
  name: string
}

@Component({
  components: { TadButton },
})
export default class ModalOrganizationDirectory extends Vue {
  @Prop(String) text!: string
  @Prop([Array, String]) readonly selectedUsers!: any
  @Prop({ default: "Okay" }) btnText!: string
  @Getter("modals/getModal") modalData
  @Mutation("modals/hideModal") hideModal
  @Getter("config/pColor") pColor

  q: string = ""
  filters: IOrgDirectoryFilter[] = []
  filter: IOrgDirectoryFilter | any = {}
  busy = false
  isChecked = false
  results: IOrgDirectoryUser[] = []
  selected: IOrgDirectoryUser[] = []

  get selectedAll() {
    const falsey = find(this.results, ["selected", false])
    return !falsey
  }

  get isValid() {
    const selected = this.selected.filter((user) => user.selected)
    return !!selected.length
  }

  @Watch("_results")
  unifiedList() {
    this.results = this.results.map((user) => {
      const exists = find(this.selectedUsers, ["email", user.email])
      return { ...user, selected: !!exists }
    })
  }

  async mounted() {
    this.busy = true

    try {
      // Load users
      this.loadUsers()

      // Load roles
      const { data } = await getRoles()
      this.filters = [
        { name: "All", id: "" },
        ...data.map((role) => ({ name: role.name, id: role.id })),
      ]
    } catch (error: any) {
      this.$toast.error(
        "An error occured while loading. Please try again later"
      )
    } finally {
      // Set default filter
      this.filter = this.filters[0]
      this.busy = false
    }
  }

  async loadUsers() {
    const roleId = !this.filter ? null : this.filter.id
    const searchStr = this.q === "" ? null : this.q.trim()

    const { data } = await getUsersFromOrgDirectoryByRole(roleId, searchStr)

    this.results = data.map((user) => {
      const selected = find(this.selectedUsers, ["email", user.email])

      if (selected) {
        this.selected.push({ ...user, selected: true })
      }

      return { ...user, selected: !!selected }
    })
  }

  setSelection(user: IOrgDirectoryUser, checked: boolean = false) {
    if (checked) {
      if (!find(this.selected, ["email", user.email])) {
        this.selected.push({ ...user, selected: true })
      }
    } else {
      this.selected = this.selected.filter(
        (_user) => _user.email !== user.email
      )
    }

    this.results = this.results.map((_user) => {
      if (_user.email === user.email) {
        return { ..._user, selected: checked }
      }
      return _user
    })
  }

  isSelected(user: IOrgDirectoryUser) {
    return this.selected.filter((_user) => _user.email === user.email).length
  }

  selectAll(e) {
    this.results = this.results.map((user) => {
      return { ...user, selected: e.target.checked }
    })
    this.selected = this.results
  }

  selectFilter(filter) {
    if (Object.keys(filter).length) {
      this.filter = filter
    } else {
      this.filter = null
    }
    this.loadUsers()
  }

  outputSelection() {
    if (this.selected.length) {
      this.$toast.success(
        `Successfully selected ${this.selected.length} respondents!`
      )
    }
    this.$store.commit("modals/hideModal", this.selected as Object[])
  }

  currentFilter(_filter: IOrgDirectoryFilter) {
    if (!this.filter) {
      return false
    } else if (this.filter.id === _filter.id) {
      return true
    } else {
      return false
    }
  }

  obfuscateEmail(email: string | undefined) {
    if (!email) return ""

    const [alias, domain]: string[] = email.split("@")
    const visibleChars: number = 2
    const maskChar: string = "*"

    let obfuscatedAlias: string

    if (alias.length <= visibleChars * 2) {
      obfuscatedAlias = new Array(alias.length + 1).join(maskChar)
    } else {
      const start: string = alias.substring(0, visibleChars)
      const end: string = alias.substring(alias.length - visibleChars)
      const maskedLength: number = alias.length - visibleChars * 2
      const masked: string = new Array(maskedLength + 1).join(maskChar)

      obfuscatedAlias = start + masked + end
    }

    return obfuscatedAlias + "@" + domain
  }
}
</script>
