<template>
  <div>
    <form @submit.prevent='submit'>
      <div class="form-input-wrapper mb-6">
        <label for="name">Name</label>
        <input type="text" v-model="name" placeholder="enter full name" />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="email">Email</label>
        <input type="email" v-model="email" placeholder="enter email" />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="type" class="small-text">What is your relationship</label>
        <select v-model="relationship" id="type" name="">
          <option value="friend">Friend</option>
          <option value="relative">Relative</option>
        </select>
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="phone">Phone Number</label>
        <input type="tel" v-model="number" placeholder="enter phone number" />
      </div>
      <div class="form-input-wrapper">
        <tad-button  @submit.prevent='submit'>Add Contact</tad-button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { createContactAdmin } from "~/api/teams"

@Component({
  components: { TadButton },
})
export default class ModalAddEmergencyContact extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({})id

  name: string = ''
  email: string = ''
  relationship: string = ''
  number: string = ''
  user_id: string = this.$route.params.id

  async submit() {
    try {
      let full_name = this.name
      let email = this.email
      let phone = this.number
      let relationship = this.relationship

      await createContactAdmin(full_name, email, phone, relationship, this.user_id)
      this.$toast.success("Success! You have created a new emergency contact.")
      this.hideModal()
      window.history.go()
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}
</style>
