<template>
  <div class="modal-request-confirmation">
    <p class="mb-4" v-html="text"></p>
    
    <footer>
      
      <tad-button danger @click="confirmed">{{ confirmText }}</tad-button>
    </footer>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class ModalRequestConfirmation extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) onconfirm!: () => void
  @Prop(String) text!: string
  @Prop({ default: "Confirm" }) confirmText!: string
  @Prop({ default: "Cancel" }) cancelText!: string
  @Prop(String) warningText!: string
  @Prop(String) reason!: string

  confirmed() {
    this.onconfirm()
    this.hide()
  }

  hide() {
    this.hideModal()
  }
}
</script>

<style lang="scss" scoped>
.warning {
  color: #f44336;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 1rem;
}
.btn {
  cursor: pointer;
  width: 100%;
  margin: 0;
}
.text-availability-info {
  margin-bottom: 1rem;
}
footer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
</style>
