<template>
  <div>
    <div class="appointment__details" v-if="appointmentData">
      <div class="appointment__host">
        <div class="appointment__host-image">
          <img
            :src="$userimg(appointmentData.appointment_owner.profile_image)"
            alt="Host Image"
            class="rounded-full w-32 h-32"
          />
        </div>
        <div class="appointment__host-details">
          <p class="appointment__host-name mb-2">
            Meeting w/ {{ appointmentData.appointment_owner.full_name }}
          </p>
          <p class="bold-text mb-2">
            {{ appointmentData.appointment_owner.organization_name }}
          </p>

          <p
            v-if="appointmentData.mood && appointmentData.mood.length"
            class="light-text"
          >
            Mood when booking: {{ appointmentData.mood }}
          </p>
          <p v-else class="light-text">
            Mood when booking: No mood set when booking
          </p>
          <!-- <p class="light-text">
            Contact: {{ appointment.professional.email }}
          </p> -->
        </div>
      </div>
      <!-- <div class="appointment__host-bio">
        <p class="bold-text">Presenting problem/Area of Concern</p>
        <p class="light-text">{{ appointment.client.concern }}</p>
      </div> -->

      <div class="appointment__tabs mt-5 flex justify-between">
       
        <div class="flex">
          <tad-button
            v-if="!appointmentData.is_rejected && !appointmentData.is_confirmed"
            danger
            @click="modalRejectAppointment"
            class="mb-5 mr-2"
            >Reject Appointment</tad-button
          >
          <div class="flex flex-col">
            <span class="text-xs mb-2" v-if="appointmentData.is_rejected"
              >This appointment has been rejected.</span
            >
            <span v-if="appointmentData.is_rejected" class="text-xs"
              >Reason provided: {{ appointmentData.reject_reason }}</span
            >
          </div>

          <tad-button
            v-if="!appointmentData.is_confirmed && !appointmentData.is_rejected"
            primary
            @click="modalConfirmAppointment"
            class="mb-5"
            >Confirm Appointment</tad-button
          >
          <span class="text-xs" v-if="appointmentData.is_confirmed"
            >This meeting is confirmed.</span
          >
        </div>

        <!-- <div
          class="appointment__action-buttons"
          v-if="
            appointment.status === 'pending cancellation' &&
            activeTab === 'details'
          "
        >
          <span class="warning-text"
            >Action required: User requested to cancel this appointment</span
          >
          <tad-button danger @click="approveCancellation"
            >Approve Cancellation</tad-button
          >
        </div> -->
      </div>

      <div class="appointment">
        <div class="w-full mt-5 block hide-desktop show-mobile">
          <!-- md:hidden ensures this is visible only on mobile. -->

          <!-- Meeting with -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Meeting with:</div>
            <div class="font-medium">
              {{ appointmentData.appointment_owner.full_name }}
            </div>
          </div>

          <!-- Date -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Date:</div>
            <div class="light-text">{{ startDate }}</div>
          </div>

          <!-- Time -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Time:</div>
            <div class="light-text">{{ startTime }} - {{ endTime }}</div>
          </div>

          <!-- Meeting Type -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Meeting Type:</div>
            <div
              class="light-text"
              v-if="appointmentData.meeting_type === 'virtual'"
            >
              virtual
            </div>
            <div class="light-text" v-else>in-person</div>
          </div>

          <!-- Status -->
          <div class="flex justify-between items-center mb-3">
            <div class="font-semibold text-xs uppercase">Status:</div>
            <div v-if="appointmentData.is_completed" class="bold-text">
              Completed
            </div>
            <div
              v-if="
                appointmentData.is_confirmed && !appointmentData.is_completed
              "
              class="bold-text"
            >
              Confirmed
            </div>
            <div
              v-if="
                !appointmentData.is_confirmed && !appointmentData.is_rejected
              "
              class="bold-text"
            >
              Pending
            </div>
            <div v-if="appointmentData.is_rejected" class="bold-text">
              Rejected
            </div>
          </div>

          <!-- Meeting Room Link / Address / Room # -->
          <div class="mb-2">
            <div v-if="appointmentData.meeting_type == 'virtual'">
              <div v-if="appointmentData.meeting_link">
                <router-link
                  primary
                  :to="appointmentData.meeting_link"
                  target="_blank"
                >
                  <tad-button>Meeting Room Link</tad-button>
                </router-link>
              </div>
              <div v-else>
                <tad-button primary @click="scheduleAppointmentLink"
                  >Create Meeting Link</tad-button
                >
              </div>
            </div>

            <div v-if="appointmentData.meeting_type == 'in_person'">
              <div class="mt-2">
                <span class="font-semibold text-xs uppercase">Address:</span>
                <span class="light-text">
                  {{
                    appointmentData.location
                      ? appointmentData.location
                      : "No Address Set"
                  }}
                </span>
              </div>
              <div class="mt-2">
                <span class="font-semibold text-xs uppercase">Room #:</span>
                <span class="light-text">
                  {{
                    appointmentData.room_number
                      ? appointmentData.room_number
                      : "No Room Set"
                  }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- <div
          class="mt-5 flex justify-end text-red-700 cursor-pointer"
          v-if="activeTab === 'details'"
        >
          <span danger @click="deleteAppointmentModal" class="mb-5 text-xs" v-if="!appointmentData.is_confirmed && !appointmentData.is_rejected" 
            >Delete Appointment</span
          >
        </div> -->
      </div>

      <!-- <div
        class="appointment__action-buttons"
        v-if="
          appointment.status !== 'completed' &&
          activeTab === 'details' &&
          appointment.status !== 'pending cancellation'
        "
      >
        <tad-button danger @click="requestCancellation"
          >Cancel Appointment</tad-button
        >
        <tad-button
          primary
          @click="requestNewTime"
          v-if="appointment.status !== 'upcoming'"
          >Reschedule Appointment
        </tad-button>
      </div> -->

      <!-- <div class="appointment__action-buttons" v-if="activeTab === 'notes'">
        <tad-button
          primary
          @click="createNote"
          v-if="appointment.status !== 'upcoming'"
          >Create New Note
        </tad-button>
      </div> -->

     

      <!-- <div v-if="activeTab === 'forms'">forms</div> -->
    </div>
    <div class="modal-view-availability-event">
      <!-- TODO Allow update of availability -->
      <template v-if="!eventInfo.availability.is_booked">

  
      <p class="text-availability-info"><b>From: </b>{{ startTimeLong }}</p>
      <p class="text-availability-info"><b>To: </b>{{ endTimeLong }}</p>
        <footer class="action-btns">
          <tad-button class="btn-walk-in" @click.prevent="modalWalkInAppointment">
            <i class="las la-calendar-plus la-lg mr-2"></i>Book Appointment
          </tad-button>
          <tad-button
            danger
            class="btn-delete-availability"
            @click.prevent="deleteAvailability"
          >
            <i class="las la-trash la-lg mr-2"></i>Delete
          </tad-button>
        </footer>
      </template>
  
      
    </div>
  </div>
</template>

<script lang="ts">
import dayjs from "dayjs"
import { Vue, Component, Prop, Mutation, Getter } from "nuxt-property-decorator"
import { IAvailability, IModal } from "~/interfaces"
import { getApiErrorMsg } from "~/api"
import { deleteAvailability } from "~/api/availabilities"
import ModalWalkInAppointment from "~/components/modals/ModalWalkInAppointment.vue"
import TadButton from "~/components/styled-components/TadButton"
import ModalRequestConfirmation from "@/components/modals/ModalRequestConfirmation.vue"
import ModalCreateNote from "@/components/modals/appointments/ModalCreateNote.vue"
import ModalRejectAppointment from "@/components/modals/ModalRejectAppointment.vue"
import {
  deleteAppointment,
  confirmAppointment,
  rejectAppointment,
  scheduleAppointmentMeeting,
  getAppointmentByAvailabilityId,
} from "~/api/appointments"


import utc from "dayjs/plugin/utc"
import timezone from "dayjs/plugin/timezone" // corrected line
dayjs.extend(utc)
dayjs.extend(timezone)

@Component({
  components: { TadButton },
})
export default class ModalViewAvailabilityEvent extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Mutation("modals/showModal") showModal
  @Mutation("modals/showChildModal") showChildModal
  @Getter("modals/getModal") getModal!: IModal
  @Prop({ default: () => {} }) readonly eventInfo!: {
    availability: IAvailability
    event: {
      start: Date
      end: Date
    }
  }


  appointmentData: any = null

  async getAppointment() {
    try {
      const { data } = await getAppointmentByAvailabilityId(this.eventInfo.availability.id)
      this.appointmentData = data
    } catch (error) {}
  }

  mounted() {
    this.getAppointment()
  }

 
  get startDate() {
    return dayjs(this.eventInfo.availability.time_start).format(
      "MM DD, YYYY"
    )
  }

  get startTime() {
    return dayjs(this.eventInfo.availability.time_start).format("h:mm A")
  }

 get startTimeLong(){
    return dayjs(this.eventInfo.availability.time_start).format("dddd, MMMM D, YYYY h:mm A")
 }

  get endTimeLong(){
      return dayjs(this.eventInfo.availability.time_end).format("dddd, MMMM D, YYYY h:mm A")
  }

  get endTime() {
    return dayjs(this.eventInfo.availability.time_end).format("h:mm A")
  }


  async deleteAvailability() {
    try {
      await deleteAvailability(this.eventInfo.availability.id)
      this.$toast.success("Availability deleted successfully.")
      this.hideModal()
    } catch (error) {
      const msg = getApiErrorMsg(error)
      this.$toast.error(`Error deleting availability: ${msg}`)
    }
  }

  modalWalkInAppointment() {
    const modal: IModal = {
      title: "Book An Appointment",
      content: ModalWalkInAppointment,
      props: {
        onclose: this.getModal.props?.onclose,
        width: "100%",
        eventInfo: this.eventInfo,
      },
    }
    this.showModal(modal)
  }

  async scheduleAppointmentLink() {
    try {
      await scheduleAppointmentMeeting(this.appointmentData.id)
      this.$toast.success("Successfully created appointment link.")
      this.getAppointment()
    } catch (error) {
      this.$toast.error("Unable to create meeting link.")
    }
  }

  async deleteAppointment() {
    try {
      await deleteAppointment(this.appointmentData.id)
      this.$toast.success("Successfully deleted appointment.")
      this.$router.push("/appointments")
    } catch (error) {
      this.$toast.error("Unable to delete appointment.")
    }
  }

  async deleteAppointmentModal() {
    const modal = {
      title: "Are you sure you want to delete this appointment?",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.deleteAppointment,
        text: "All users will be notified of your cancellation via email.",
        confirmText: "Delete Appointment",
      },
    }

    this.showChildModal(modal)
  }

  async modalConfirmAppointment() {
    const modal = {
      title: "Are you sure you want to confirm this appointment?",
      content: ModalRequestConfirmation,
      props: {
        onconfirm: this.confirmAppointment,
        text: "All users will be notified of your confirmation via email.",
        confirmText: "Confirm Appointment",
      },
    }

    this.showChildModal(modal)
  }

  async confirmAppointment() {
    try {
      await confirmAppointment(this.appointmentData.id)
      this.$toast.success("Successfully confirmed appointment.")
      this.getAppointment()
    } catch (error) {
      this.$toast.error("Unable to confirm appointment.")
    } finally {
    }
  }

  async modalRejectAppointment() {
    const modal = {
      title: "Are you sure you want to reject this appointment?",
      content: ModalRejectAppointment,
      props: {
        onconfirm: this.rejectAppointment,
        text: "All users will be notified of your rejection via email.",
        confirmText: "Reject Appointment",
      },
    }

    this.showChildModal(modal)
  }

  async rejectAppointment(reason) {
    try {
      await rejectAppointment(this.appointmentData.id, reason)
      this.$toast.success("Successfully rejected appointment.")
      this.getAppointment()
    } catch (error) {
      this.$toast.error("Unable to reject appointment.")
    } finally {
    }
  }

   createNote() {
    const modal = {
      title: "Create New Note",
      content: ModalCreateNote,
      props: {},
    }

    this.showChildModal(modal)
  }



}
</script>

<style lang="scss" scoped>
.modal-view-availability-event {
  color: var(--dark-text);
}
.btn {
  cursor: pointer;
  width: 100%;
  margin: 0;
  &.danger {
    background-color: #e74444;
    color: #fff;

    &:hover {
      background-color: #fd1010;
    }
  }
}
.text-availability-info {
  margin-bottom: 1rem;
}
.msg-booked {
  color: var(--success-color);
  border: 1px solid var(--success-color);
  border-radius: 3px;
  padding: 0.5rem;
  background-color: rgba(0, 255, 0, 0.24);
}
.action-btns {
  display: grid;
  gap: 1rem;
}

.appointment__details {
  padding: 1rem;
}
.appointment__host {
  display: flex;
}

.appointment__host-image {
  margin-right: 2rem;

  img {
    border-radius: 100%;
    height: 200px;
    width: auto;
    border: 1px solid #e7e7e7;
    background-color: #f5f5fd;
  }
}

.appointment__host-details {
  color: #41496b;
  font-size: 0.875rem;
  font-weight: 300;
  p {
    margin-bottom: 0.2rem;
  }
}

.las {
  position: relative;
  top: 3px !important;
}

.appointment__host-name {
  color: #41496b;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.light-text {
  color: #505a84;
  font-weight: 300;
  font-size: 0.8rem;
}

.bold-text {
  color: #505a84;
  font-weight: 500;
  font-size: 0.8rem;
}

.appointment__tabs {
  span {
    margin-right: 1rem;
    cursor: pointer;
  }
}

.active {
  border-bottom: 2px solid #41496b;
  padding-bottom: 0.2rem;
}



@media only screen and (max-width: 870px) {


  .appointment__host {
    flex-direction: column;
  }


}
</style>
