<template>
  <div class="modal-video-details">
    <div>
      <span class="subtitle-text detail-label">Title: </span>
      <span class="video-detail">{{ audio.title }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">Description: </span>
      <span class="video-detail">{{ audio.description }}</span>
    </div>
    <div>
      <span class="subtitle-text detail-label">Status: </span>
      <span class="video-detail">{{
        audio.is_approved
          ? "approved"
          : audio.decline_reason
          ? "declined"
          : !audio.is_approved
          ? "pending approval"
          : ""
      }}</span>
    </div>
    <div v-if="audio.decline_reason">
      <span class="subtitle-text detail-label">Reason For Decline: </span>
      <span class="video-detail">{{ audio.decline_reason }}</span>
    </div>
    <div class="modal-delete-video">
      <div>
        <span class="subtitle-text">Delete this video?</span>
        <span class="modal-delete-warning"
          >Note: this action is irreversible</span
        >
      </div>
      <button class="btn pink" @click="destroyAudio(audio.id)">Delete</button>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import { deleteAudio } from "~/api/resources"
import { IAudioResource } from "~/interfaces"

@Component({})
export default class ModalDeleteAudioResource extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({})
  readonly audio!: IAudioResource
  async destroyAudio(id) {
    try {
      deleteAudio(id)
      this.hideModal()
      // force reload to update video list (needs refactor)
      window.history.go()
      this.$toast.success("Success! You have deleted this resource.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-delete-warning {
  font-size: 0.7rem;
  color: #ff6b6b;
  display: block;
}

.video-detail {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.modal-delete-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.modal-video-details {
  div {
    padding: 0.5rem 0rem;
  }
}
</style>
