<template>
  <div class="modal-video-details">
    <div>
      <form @submit.prevent="submit">
        <span style="display: block" class="mb-6">Note: You must perform your own manual verification.</span>
        <div class="form-input-wrapper">
          <tad-button primary type="submit" @click.prevent="submit"
            >Verify License</tad-button
          >
        </div>
      </form>
    </div>
    <!-- <div class="modal-delete-buttons">
        <button class="btn orange" @click="hideModal">Cancel</button>
      </div> -->
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { verifyLicense } from "~/api/licenses"

@Component({
  components: { TadButton },
})
export default class ModalVerifyLicense extends Vue {
  @Mutation("modals/hideModal") hideModal

  @Prop({}) id

  mounted() {}

  async submit() {
    try {
    await verifyLicense(this.id)
      // window.history.go(0)
      this.$toast.success("Success! You have verfied this license.")
    } catch {}
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.form-input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

form {
  padding-bottom: 2rem;
}
</style>
