<template>
  <div>
    <form @submit.prevent="editCrisisResource">
      <div class="form-input-wrapper mb-6">
        <label for="name">Update Name</label>
        <input
          v-model="name"
          :placeholder="interactionResource.name"
          type="text"
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="number">Update Number</label>
        <input
          v-model="number"
          :placeholder="interactionResource.number"
          type="text"
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="description">Update Resource Action</label>
        <select id="" v-model="number_type" name="">
          <option value="call">Phone Call</option>
          <option value="text">Send Text</option>
        </select>
      </div>

      <div class="form-input-wrapper mb-6">
        <label for="description">Update Description</label>
        <input
          v-model="description"
          type="text"
          :placeholder="interactionResource.description"
        />
      </div>
      <div class="form-input-wrapper mb-6">
        <label for="buttonText">Update Button Text</label>
        <input
          v-model="buttonText"
          type="text"
          :placeholder="interactionResource.button_text"
        />
      </div>
      <div class="form-input-wrapper">
        <tad-button @submit.prevent="editCrisisResource">
          Update Resource
        </tad-button>
      </div>
    </form>
    <div class="delete-resource">
      <span>Delete this crisis resource?</span>
      <tad-button danger @click.prevent="deleteCrisisResource">
        Delete
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import {
  updateResources,
  deleteResources,
  getInteractionResourceByID,
} from "~/api/interactions"
import TadButton from "~/components/styled-components/TadButton"
import { IInteractionResource } from "~/interfaces"

@Component({
  components: { TadButton },
})
export default class ModalEditCrisisResource extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({}) readonly id
  @Prop({}) readonly resource

  name: string = ""
  number: string = ""
  buttonText: string = ""
  description: string = ""
  // eslint-disable-next-line camelcase
  number_type: string = ""
  isLoading = true
  interactionResource = {} as IInteractionResource

  async submit() {}

  async deleteCrisisResource() {
    try {
      await deleteResources(this.id)
      this.hideModal()
      this.$toast.success("Success! You have deleted this crisis resource.")
      window.history.go(0)
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }

  async fetch() {
    try {
      this.isLoading = true
      const { data: interactionResource } = await getInteractionResourceByID(
        this.id
      )
      this.interactionResource = interactionResource
    } catch (error) {
      this.$toasted.error("Error fetching appointment details")
    } finally {
      this.isLoading = false
    }
  }

  async editCrisisResource() {
    try {
      const id = this.id
      let name
      let number
      let description
      // eslint-disable-next-line camelcase
      let button_text
      // eslint-disable-next-line camelcase
      let number_type
      if (!this.name.length) {
        name = this.resource.name
      } else {
        name = this.name
      }

      if (!this.number.length) {
        number = this.resource.name
      } else {
        number = this.number
      }

      if (!this.description.length) {
        description = this.resource.description
      } else {
        description = this.description
      }

      if (!this.buttonText.length) {
        // eslint-disable-next-line camelcase
        button_text = this.resource.button_text
      } else {
        // eslint-disable-next-line camelcase
        button_text = this.buttonText
      }

      if (!this.number_type.length) {
        // eslint-disable-next-line camelcase
        number_type = this.resource.number_type
      } else {
        // eslint-disable-next-line camelcase
        number_type = this.number_type
      }

      await updateResources(
        name,
        number,
        description,
        button_text,
        id,
        number_type
      )
      this.$toast.success("Your resource has been successfully updated!")
      this.hideModal()
      this.$router.go(0)
    } catch (e) {
      this.$toast.error("There was an error updating your resource!")
      this.hideModal()
    }
  }
}
</script>

<style lang="scss" scoped>
form {
  margin-bottom: 1rem;
}

.delete-resource {
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: var(--dark-text);
  }
}
</style>
