<template>
  <div >
    <div>
      <label class="flex items-center mb-2">
        <i class="las la-search mr-3"></i>
        <p>Please enter a name or email:</p>
      </label>
      <input
        v-model="patientSearchString"
        type="text"

        placeholder="Who are you concerned about?"
        @input="patientSearchDebounce"
        class="border p-2 rounded w-full text-sm"
      />

      <loading-spinner v-if="isSearching" class="text-center mt-2"
        >Searching</loading-spinner
      >
      <alert
        v-else-if="patients.length <= 0"
        type="info"
        :dissmissable="false"
        msg="Start typing to search for a user"
        class="text-center mt-2 mb-2"
      >
      </alert>
      <ul v-else-if="selectedPatient.id == null" class="patient-list mb-6 mt-2">
        <li
          v-for="patient in patients"
          :key="patient.id"
          @click="selectedPatient = patient"
          class="
            bg-white
            border-2 border-gray-300
            flex
            gap-4
            p-2
            rounded
            shadow
            hover:border-main-color hover:bg-main-color-hover
          "
          :class="{
            'border-success-color bg-success-color-opacity':
              patient.id === selectedPatient.id,
          }"
        >
          <img
            class="profile-img"
            :src="$userimg(patient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{ patient.full_name.concat(", ").concat(patient.email) }}
          </p>
        </li>
      </ul>

      <form
        class="border p-4 rounded shadow mt-2"
        @submit.prevent="shareConcern"
      >
        <p class="mb-6 ">
          Sharing your concern for:
        </p>
        <div
          v-if="selectedPatient.id"
          class=" mb-5 flex gap-4 items-center"
        >
          <img
            class="profile-img"
            :src="$userimg(selectedPatient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{
              selectedPatient.full_name
                .concat(" - ")
                .concat(selectedPatient.email)
            }}
          </p>
        </div>
        <div v-else class=" mb-5">
          <p class="name">No user selected</p>
        </div>
        <div class="mb-6">
          <label for="relationship">
            Request being made by
            <span class="text-red-600 text-xs">(Required)</span>
          </label>
          <select
            id="relationship"
            v-model="relationship"
            name=""
            required
            class="border rounded p-2 w-full"
          >
            <option value="Friend/Peer">Friend/Peer</option>
            <option value="Parent/Guardian">Parent/Guardian</option>
            <option value="Staff Member">Staff Member</option>
          </select>
        </div>
        <div class="mb-6">
          <label for="comment">
            Comment <span class="text-red-600 text-xs">(Required)</span>
          </label>
          <textarea
            id="comment"
            v-model="comment"
            type="comment"
            required
            class="border p-2 rounded w-full"
          ></textarea>
        </div>
        <tad-button class="btn-book w-full" :disabled="isWorking">
          <span v-if="isWorking">
            <i class="las la-cog la-spin la-lg mr-3"></i>
          </span>
          <span v-else>Share Your Concern</span>
        </tad-button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import { searchPatients } from "~/api/users"
import { shareYourConcern } from "~/api/concerns"
import { IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import LoadingSpinner from "~/components/LoadingSpinner.vue"

@Component({
  components: { TadButton, LoadingSpinner },
})
export default class ModalShareConcern extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({ default: () => {} }) readonly id!: {}
  @Prop({ default: () => {} }) readonly type!: {}
  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patients: IUserProfile[] = []
  selectedPatient = {} as IUserProfile
  isWorking = false

  relationship = ""
  comment = ""

  mounted() {}

  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }

  async shareConcern() {
    try {
      const concerned_for_user_id = this.selectedPatient.id
      const request_by = this.relationship
      const comment = this.comment
      await shareYourConcern(concerned_for_user_id, request_by, comment)
      this.$toast.success("Thank you for sharing your concern!")
      this.hideModal()
      return
    } catch (e) {
      this.$toast.error("Oh no, something went wrong!")
    }
  }

  async patientSearch() {
    this.isSearching = true
    this.patients = []
    this.selectedPatient = {} as IUserProfile

    const { data: patients } = await searchPatients(this.patientSearchString)
    this.patients = patients

    this.isSearching = false
  }
}
</script>
