<template>
  <div>
    <template>
      <div>
        <div class="contact__details">
          <span>Contact Name: {{ contact.full_name }} </span>
          <span>Contact Email: {{ contact.email }} </span>
          <span>Contact Number: {{ contact.phone }} </span>
        </div>
        <div>
          <!-- <tad-button primary>Edit</tad-button> -->
          <tad-button danger @click.prevent="deleteContact(contact.id)"
            >Delete</tad-button
          >
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation, Getter } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

import { login } from "~/api/users"
import { deleteContact } from "~/api/teams"

@Component({
  components: { TadButton },
})
export default class ModalViewContactAdmin extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({}) contact
  @Getter("loggedInUser") userProfile

  password: string = ""
  email: string = ""

  mounted() {}

  async login() {
    try {
      let username = this.userProfile.email
      let password = this.password
      await login(username, password)
      this.$toast.success("Success! Thank you for entering your password.")
      
      
    } catch {
      this.$toast.error("An error has occurred!")
    }
  }

  async deleteContact(id) {
    try {
      await deleteContact(id)
      this.$toast.success("Success! The contact has been deleted.")
      this.hideModal()
      window.history.go()
    } catch {
      this.$toast.error("Oh no!An error has occurred!")
    }
  }
}
</script>

<style lang="scss" scoped>
.contact__details {
  margin-bottom: 2rem;
}

span {
  font-size: 0.9rem;
  color: var(--dark-text);
  margin-bottom: 1rem;
  display: block;
}

button {
  width: 100%;
  margin-bottom: 1rem;
}
</style>
