<template>
  <div class="modal-play-video">
    <loading-spinner v-if="!src"></loading-spinner>
    <template v-else>
      <alert
        v-if="err"
        type="error"
        :msg="err"
        class="mb-2"
        :dissmissable="false"
      />
      <audio controls>
        <source :src="src" />
      </audio>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator"
import { getAudioSignedURL } from "~/api/resources"
import { IAudioResource } from "~/interfaces"

@Component({})
export default class ModalPlayAudioResource extends Vue {
  @Prop({}) readonly audio!: IAudioResource
  src = ""
  err = ""

  async mounted() {
    try {
      this.err = ""
      this.src = ""
      // video.s3_storage_key
      const { data: url } = await getAudioSignedURL(
        // "24ae5a40-9b09-4d42-ad6d-20557d0e8716/8!PNr-recorded-by-24ae5a40-9b09-4d42-ad6d-20557d0e8716.mp4"
        {
          id: this.audio.id,
        }
      )
      this.src = url["audio_url"]
    } catch (error) {
      console.error(error)
      this.err = "Unable to load the audio file."
    }
  }
}
</script>

<style lang="scss" scoped></style>
