<template>
  <div class="modal-play-video">
    <loading-spinner v-if="!src"></loading-spinner>
    <template v-else>
      <alert
        v-if="err"
        type="error"
        :msg="err"
        class="mb-2"
        :dissmissable="false"
      />
      <video class="video" controls autoplay>
        <source :src="src" />
      </video>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator"
import { getVideoSignedURL } from "~/api/resources"
import { IVideoResource } from "~/interfaces"

@Component({})
export default class ModalPlayVideoResource extends Vue {
  @Prop({}) readonly video!: IVideoResource

  src = ""
  err = ""

  async mounted() {
    try {
      this.err = ""
      this.src = ""
      // video.s3_storage_key
      const { data: url } = await getVideoSignedURL(
        // "24ae5a40-9b09-4d42-ad6d-20557d0e8716/8!PNr-recorded-by-24ae5a40-9b09-4d42-ad6d-20557d0e8716.mp4"
        {
          id: this.video.id,
        }
      )
      this.src = url["video_url"]
    } catch (error) {
      console.error(error)
      this.err = "Unable to load the video"
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-play-video {
  max-height: 500px;

}
video {
  max-height: 400px;
}

@media only screen and (max-width: 760px) {
  video {
    max-width: 100%;
    height: auto;
  }
}

</style>
