<template>
  <div>
    <p class="remove mb-5 inline-block">
      Are you sure you want to remove this user from your support network?
    </p>
    <div>
      <tad-button
        danger
        type="submit"
        class="w-full mt-5"
        @click.prevent="removeUser"
        >Remove User</tad-button
      >
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { deleteFriend } from "~/api/closefriends"

@Component({
  components: { TadButton },
})
export default class ModalRemoveFriend extends Vue {
  @Mutation("modals/hideModal") hideModal

  @Prop({}) request

  mounted() {}

  async removeUser() {
    try {
      await deleteFriend(this.request.id)
      // window.history.go()
      this.$toast.success("Success! You have removed a close friend.")
      this.hideModal()
    } catch (error) {
      console.error(error)
      this.$toast.error("Unable to accept request")
    }
  }
}
</script>

<style lang="scss" scoped>
.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
}
</style>
