<!-- eslint-disable camelcase -->
<template>
  <div class="">
    <!-- Tags -->
    <div class="flex flex-wrap gap-2 mb-8">
      <div
        v-for="(_filter, idx) in filters"
        :key="idx"
        class="
          flex-shrink
          border
          rounded-full
          px-4
          py-2
          cursor-pointer
          capitalize
        "
        :style="[
          filter.id === _filter.id
            ? { 'background-color': pColor, color: '#ffffff' }
            : {},
        ]"
        @click="selectFilter(_filter)"
      >
        {{ _filter.name }}
      </div>
    </div>

    <!-- search -->
    <div class="block relative mb-10">
      <input
        v-model="q"
        type="text"
        class="border-2 rounded-lg px-4 py-2 w-full"
        placeholder="Find a specific form..."
        @keyup="loadForms"
      />
    </div>

    <!-- Select all -->
    <div class="flex gap-x-4 pb-4">
      <div class="flex-shrink">
        <input
          type="checkbox"
          :style="{ accentColor: pColor }"
          class="w-6 h-6"
          :checked="selectedAll"
          @change="selectAll"
        />
      </div>
      <div class="flex-shrink text-lg">Select all forms</div>
    </div>

    <div
      class="block overflow-y-auto border-2 rounded-lg mb-10"
      style="height: 40vh"
    >
      <!-- Form list -->
      <div v-if="!busy">
        <div
          v-for="form in results"
          :key="form.id"
          class="
            flex
            px-8
            py-4
            space-x-4
            cursor-pointer
            hover:text-black hover:bg-gray-200
          "
        >
          <div class="flex-shrink pt-1">
            <input
              type="checkbox"
              class="w-6 h-6"
              :style="{ accentColor: pColor }"
              :checked="form.selected"
              @change="setSelection(form, $event.target.checked)"
            />
          </div>
          <div class="flex-grow">
            <div class="flex space-x-4">
              <div class="flex-shrink">
                <i class="la la-comment la-fw la-2x"></i>
              </div>
              <div class="flex flex-col">
                <h3 class="font-bold text-lg py-2">{{ form.name }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Loading state -->
      <div v-if="busy" class="block text-center pt-5">
        <loading-spinner />
        <br />
        Working...
      </div>

      <!-- No results -->
      <div
        v-if="!results.length && !busy"
        class="block text-center text-lg text-gray-500"
      >
        <br />
        <i class="la la-exclamation-circle la-2x pb-2"></i>
        <br />
        No forms available
      </div>
    </div>

    <div class="flex space-x-4 justify-end">
      <tad-button
        class="flex-shrink"
        :disabled="!isValid"
        @click="outputSelection()"
      >
        Add Forms
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Mutation, Getter } from "vuex-class"
import { find } from "lodash"
import TadButton from "~/components/styled-components/TadButton"
import { GenericType, IForm } from "~/interfaces"
import { getMyForms } from "~/api/form"
import LoadingSpinner from "~/components/LoadingSpinner.vue"

@Component({
  components: { TadButton, LoadingSpinner },
})
export default class ModalSharePacket extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop(String) text!: string
  @Prop({ default: "Okay" }) btnText!: string
  @Getter("config/pColor") pColor
  @Prop([Array, String]) readonly selectedForms!: any

  q = "" as string
  filters: Array<{ name: string; id: string }> = [
    { name: "All", id: "" },
    { name: "Questionnaire Form", id: "questionnaire form" },
    { name: "Check-in Form", id: "checkin form" },
    { name: "Consent Form", id: "consent form" },
  ]

  filter = {} as GenericType
  results = {} as IForm[]
  busy = false as boolean
  isChecked = false as boolean
  selected: IForm[] = []

  get selectedAll() {
    const falsey = find(this.results, ["selected", false])
    return !falsey
  }

  get isValid() {
    const selected = this.selected.filter((user) => user.selected)
    return !!selected.length
  }

  async mounted() {
    // Set default filter (All)
    this.filter = this.filters[0]

    // Remember preselected values
    this.selected = this.selectedForms

    // Load forms (always run this last to apply latest values)
    await this.loadForms()
  }

  async loadForms() {
    this.busy = true
    const filter = this.filter.id ? this.filter.id : null
    const q = this.q ? this.q : null

    try {
      const { data, status } = await getMyForms({
        size: 100,
        page: 1,
        language: "en",
        status: null,
        type: filter,
        search: q,
      })

      if (status === 204) {
        this.results = []
      } else {
        this.results = data.items.map((form: IForm) => {
          // Apply current selections to new data
          const exists = this.selected.filter(
            (_form) => _form.id === form.id
          ).length

          return { ...form, selected: !!exists }
        })
      }
    } finally {
      this.busy = false
    }
  }

  setSelection(form: IForm, checked: boolean) {
    if (checked) {
      if (!find(this.selected, ["id", form.id])) {
        this.selected.push({ ...form, selected: true })
      }
    } else {
      this.selected = this.selected.filter((_form) => _form.id !== form.id)
    }

    this.results = this.results.map((_form) => {
      if (_form.id === form.id) {
        return { ..._form, selected: checked }
      }
      return _form
    })
  }

  selectAll(e) {
    this.results = this.results.map((form) => {
      return { ...form, selected: e.target.checked }
    })
    this.selected = this.results
  }

  selectFilter(filter) {
    this.filter = filter
    this.loadForms()
  }

  outputSelection() {
    this.$store.commit("modals/hideModal", this.selected as Object[])
  }
}
</script>
