<template>
  <div class="modal-video-details">
    <div>
      <span class="video-detail"
        >Notice: All feedback is submitted anonymously. <i class="las la-user-secret"></i></span
      >
    </div>
    <div>
      <form @submit.prevent="submit">
        <div class="form-input-wrapper">
          <label class="audio-title" for="feeback"></label>
          <TadInput
            id="feeback"
            v-model="feedback"
            name="feeback"
            required
            placeholder="enter your feedback......"
            type="text"
            @keyup.enter="submit"
          />
        </div>
        <div class="form-button">
        <tad-button primary @click.prevent="submit">Submit</tad-button>
        </div>

      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import {
  createAudioFeedback
} from "~/api/resources"
import { IAudioResource } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"

@Component({
  components: { TadButton, TadInput },
})
export default class ModalFeedbackAudioResource extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({})
  readonly audio!: IAudioResource
  feedback:any = ''

  async submit() {
    try {
      let comment = this.feedback
      let audio_id = this.audio.id
      await createAudioFeedback(comment, audio_id)
      this.$toast.success("Success! Your feedback has been sent.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
}
</script>

<style lang="scss" scoped>

.form-button {
    padding: 1rem 0rem;
    display: flex;
}

form {
 div {
    display: flex;
    flex-direction: column;
 }
}

.video-detail {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
  font-weight: bold;
}

.modal-delete-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.modal-video-details {
  div {
    padding: 0.5rem 0rem;
  }
}
</style>
