<template>
  <div class="modal-video-details">
    <form action="">
        <div class="form-input-wrapper">
      <label>
        <i class="las la-search mr-3"></i>Enter full name or email:
      </label>
      <input
        v-model="patientSearchString"
        type="text"
        placeholder=""
        @input="patientSearchDebounce"
      />
      <!-- <datalist id="patients">
        <option
          v-for="patient in patients"
          :key="patient.id"
          :value="patient.full_name"
        >
          <img :src="$userimg(patient.profile_image)" alt="" />
        </option>
      </datalist> -->

      <loading-spinner v-if="isSearching">Searching</loading-spinner>
      <alert
        v-else-if="patients.length <= 0"
        type="info"
        :dissmissable="false"
        msg="No results"
      >
      </alert>
      <ul v-else-if="selectedPatient.id == null" class="patient-list mb-6">
        <li
          v-for="patient in patients"
          :key="patient.id"
          class="patient"
          :class="{ selected: patient.id === selectedPatient.id }"
          @click="selectedPatient = patient"
        >
          <img
            class="profile-img"
            :src="$userimg(patient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{ patient.full_name.concat(", ").concat(patient.email) }}
          </p>
        </li>
      </ul>

      <form
        v-if="selectedPatient.id"
        class="selected-patient-container"
        @submit.prevent="shareResource"
      >
        <h3 class="subtitle-text my-0 mb-5">Sharing resource with:</h3>
        <div class="selected-patient mb-5">
          <img
            class="profile-img"
            :src="$userimg(selectedPatient.profile_image)"
            alt=""
            width="45"
          />
          <p class="name">
            {{
              selectedPatient.full_name
                .concat(", ")
                .concat(selectedPatient.email)
            }}
          </p>
        </div>
        <tad-button class=" btn-book" :disabled="isWorking">
          <span v-if="isWorking">
            <i class="las la-cog la-spin la-lg mr-3"></i>
          </span>
          <span v-else>Share Resource</span>
        </tad-button>
      </form>
    </div>
        <div class="form-input-wrapper">
            <label for="relationship">Request being made by</label>
            <select id="relationship" v-model="relationship" name="" required>
                  <option value="friend">Friend/Peer</option>
                  <option value="parent">Parent/Gaurdian</option>
                  <option value="staff">Staff Member</option>
                </select>
        </div>
        <div class="form-input-wrapper">
            <label for="comment">Comment</label>
            <textarea type="comment" id="comment" v-model="comment"></textarea>
        </div>
        <tad-button style="width: 100%; margin-top: 1rem">Submit Your Concern</tad-button>
    </form>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Mutation } from "nuxt-property-decorator"
import { declineAudioResource, deleteAudio, approveAudio } from "~/api/resources"
import { IAudioResource } from "~/interfaces"
import { searchUsers } from "~/api/users"
import { IUserProfile } from "~/interfaces"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components:{ TadButton }
})
export default class ModalDeleteVideoResource extends Vue {
  @Mutation("modals/hideModal") hideModal
  @Prop({})

  patientSearchString = ""
  patientSearchDebounceHandle: any = -999
  isSearching = false
  patients: IUserProfile[] = []
  selectedPatient = {} as IUserProfile
  isWorking = false

  async submit(id) {
    try {
      this.$router.go(-1)
      this.$toast.success("Success! You have declined this resource.")
    } catch (error) {
      this.$toast.error("Something went wrong, Try Again!")
    }
  }
  patientSearchDebounce() {
    if (this.isSearching) return
    clearTimeout(this.patientSearchDebounceHandle)
    this.patientSearchDebounceHandle = setTimeout(this.patientSearch, 500)
  }


  async patientSearch() {
    this.isSearching = true
    this.patients = []
    this.selectedPatient = {} as IUserProfile

    const { data: patients } = await searchUsers(this.patientSearchString)
    this.patients = patients

    this.isSearching = false
  }

}
</script>

<style lang="scss" scoped>
.modal-delete-warning {
  font-size: 0.7rem;
  color: var(--light-text);
  display: block;
}

.video-detail {
  color: var(--dark-text);
  font-size: 0.8rem;
}

.detail-label {
  color: var(--dark-text);
  font-size: 0.8rem;
  font-weight: bold;
}

.modal-delete-video {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.modal-video-details {
  div {
    padding: 0.5rem 0rem;
  }
}
</style>
