<template>
  <div>
    <!-- Back Button -->
    <!-- <div class="block py-3">
      <a href="" class="text-lg text-gray-700"> Go Back </a>
    </div> -->

    <!-- Page titles -->
    <div v-for="(title, idx) in pageTitles" :key="idx">
      <span v-if="$route.path === title.url">
        <h1 class="title-text">{{ title.label }}</h1>
        <p class="small-text mb-3">{{ title.description }}</p>
      </span>
    </div>

    <!-- Tabs bar -->
    <div class="gap-4 my-8">
      <div v-if="canManageCombinedResources" class="inline-block">
        <nav>
          <ul>
            <li id="first__tab">
              <NuxtLink to="/resources/admin">My Resources</NuxtLink>
            </li>
            <li id="fourth__tab">
              <NuxtLink to="/resources">All Resources</NuxtLink>
            </li>
          </ul>
        </nav>
      </div>
      <div v-if="!canManageCombinedResources" class="inline-block">
        <nav class="second_nav">
          <ul>
            <li
              v-if="showVideoTab && showArticlesTab && showPodcastsTab"
              id="first__tab"
            >
              <NuxtLink to="/resources/">Home</NuxtLink>
            </li>
            <li v-if="showVideoTab">
              <NuxtLink to="/resources/videos">Videos</NuxtLink>
            </li>
            <li v-if="showArticlesTab">
              <NuxtLink to="/resources/articles">Articles</NuxtLink>
            </li>
            <li v-if="showPodcastsTab" id="fourth__tab">
              <NuxtLink to="/resources/podcasts/">Podcasts</NuxtLink>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Search bar -->

      <div
        v-if="showVideoTab || showArticlesTab || showPodcastsTab"
        class="inline-block"
      >
        <form class="user-search-form" @submit.prevent="submitSearch">
          <div class="form-input-wrapper">
            <span class="search-icon">
              <i class="las la-search mr-1"></i>
            </span>
            <input
              v-model="search"
              type="text"
              class="search-input"
              placeholder="Search by tag or name..."
              @enter.prevent="submitSearch"
            />
          </div>
        </form>
      </div>

      <!-- Create resource buttons -->
      <div class="inline-block text-right float-right pt-8">
        <CreateResourceSection />
      </div>
    </div>

    <!-- List of resources -->
    <UserResourcesGrid
      @_showVideoTab="showVideoTab_"
      @_showArticlesTab="showArticlesTab_"
      @_showPodcastsTab="showPodcastsTab_"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Getter } from "nuxt-property-decorator"
import { addSearchTerm } from "~/api/analytics"

export interface MenuItem {
  label: string
  description: string
  url: string
  roles: string[]
}

@Component({ middleware: ["authenticated"] })
export default class Resources extends Vue {
  @Getter("loggedInUser") userProfile

  canManageCombinedResources = this.$store.state.auth.user.permissions.includes(
    "combined.resources.manage.all"
  )

  search = "" as string

  showVideoTab = false
  showArticlesTab = false
  showPodcastsTab = false

  pageTitles = [
    {
      label: "All Resources",
      description: "View all available resources below.",
      url: "/resources",
      roles: ["parent", "patient"],
    },
    {
      label: "Videos",
      description: "View all videos below.",
      url: "/resources/videos",
      roles: ["parent", "patient"],
    },
    {
      label: "Articles",
      description: "View all articles below.",
      url: "/resources/articles",
      roles: ["parent", "patient"],
    },
    {
      label: "Podcasts",
      description: "View all podcasts below.",
      url: "/resources/podcasts",
      roles: ["parent", "patient"],
    },
    {
      label: "Resource Management",
      description: "Manage all your organizations resources below.",
      url: "/resources/admin",
      roles: ["admin"],
    },
  ] as MenuItem[]

  async submitSearch() {
    await this.addSearch()
    this.$router.push({
      path: `/resources/search/?search=${this.search}`,
    })
  }

  async addSearch() {
    const user_id = this.userProfile.id
    const organization_id = this.userProfile.organization_id
    const resource_name = "any"
    const name = this.search
    await addSearchTerm(user_id, organization_id, resource_name, name)
  }

  // Hide tabs if no data is present
  showVideoTab_(state: boolean) {
    this.showVideoTab = state
  }

  showArticlesTab_(state: boolean) {
    this.showArticlesTab = state
  }

  showPodcastsTab_(state: boolean) {
    this.showPodcastsTab = state
  }
}
</script>

<style lang="scss">
.user-search-form {
  width: 100%;
  max-width: 500px;

  .search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(122, 122, 122);
  }
  .form-input-wrapper {
    gap: 0.25rem;
    input {
      min-width: 250px;
      border-radius: 20px;
    }
  }
}

.resource_nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.resources-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* home route and active route will show in bold as it matches / and /about */
a.nuxt-link-active {
}
/* exact link will show the primary color for only the exact matching link */
a.nuxt-link-exact-active {
  color: var(--dark-text);
  font-weight: 600;
}

#first__tab {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#fourth__tab {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

nav ul {
  display: flex;
  li {
    background-color: white;
    padding-right: 0.5rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    a {
      color: var(--light-text);
      font-weight: 500;
    }
  }
}

nav {
  margin-top: 1rem;
}

@media only screen and (max-width: 985px) {
  .welcome__container {
    margin-bottom: 2rem;
  }
}
</style>
