<template>
  <div class="consent-forms-questions">
    <div class="question consent">
      <tad-forms-input
        type="text"
        class="tad-forms-input large"
        placeholder="Question"
        v-model="question.content"
        required
      />

      <ul class="answer-options mb-6">
        <li
          v-for="(answer, index) in question.possible_responses"
          :key="`${answer}-${index}`"
          class="option-container"
        >
          <div class="option">
            <i class="las la-lg" :class="answerIcon(answer)"></i>
            <span>{{ answer }}</span>
          </div>
          <div class="priority-response-container">
            <label for="">Priority response?</label>
            <div
              class="priority-checkbox"
              :class="{ checked: isOptionPriority(answer) }"
              @click="priorityToggle(answer)"
            >
              <i class="las la-check check"></i>
            </div>
          </div>
        </li>
      </ul>

      <p class="mb-2 mt-4 font-semibold">Priority responses(optional)</p>
      <p class="text-sm mb-2">
        You will get a notification whenever a priority response is received.
      </p>
      <div
        v-if="
          question.priority_response && question.priority_response.length > 0
        "
        class="priority-responses"
      >
        <div
          v-for="response in question.priority_response"
          :key="response"
          @click="priorityToggle(response)"
          class="p-1 border cursor-pointer my-4"
          :style="{
            color: configPrimColor,
            borderColor: configPrimColor,
            borderRadius: '0.25rem',
            minWidth: '50px',
            textAlign: 'center',
          }"
        >
          <i class="las la-2x" :class="answerIcon(response)"></i>
          <i class="las la-times la-1x"></i>
        </div>
      </div>
      <p v-else>
        <i class="las la-exclamation-circle la-lg mr-1"></i>No priority
        responses selected.
      </p>
    </div>

    <div class="form-submit-actions">
      <tad-button @click="saveDraft" class="btn-save-form" bg="#cc9b20">
        Save Draft
      </tad-button>
      <tad-button @click="shareForm" class="btn-publish-form">
        Share Form
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"
import { Getter, Mutation } from "vuex-class"
import { IForm } from "~/interfaces"

// type ConsentOption = {
//   icon: string
//   text: string
// }

@Component({
  components: { TadFormsInput, TadButton },
})
export default class CheckinFormQuestions extends Vue {
  @Prop({ default: () => {} }) form
  @Getter("config/pColor") readonly configPrimColor!: string

  question: any = []

  mounted() {
    this.question = this.form.questions[0]
  }

  // options: ConsentOption[] = [
  //   {
  //     icon: "la-grin-beam",
  //     text: "Feeling Great",
  //   },
  //   {
  //     icon: "la-smile",
  //     text: "Feeling Better Than Normal",
  //   },
  //   {
  //     icon: "la-meh",
  //     text: "Feeling Just Average",
  //   },
  //   {
  //     icon: "la-frown",
  //     text: "Feeling Worse Than Normal",
  //   },
  //   {
  //     icon: "la-sad-tear",
  //     text: "Feeling Awful",
  //   },
  // ]

  answerIcon(answer: string) {
    switch (answer) {
      case "Feeling Great":
        return "la-grin-beam"
      case "Feeling Better Than Normal":
        return "la-smile"
      case "Feeling Just Average":
        return "la-meh"
      case "Feeling Worse Than Normal":
        return "la-frown"
      case "Feeling Awful":
        return "la-sad-tear"
      default:
        return "la-meh"
    }
  }
  options = {
    "Feeling Great": "la-grin-beam",
    "Feeling Better Than Normal": "la-smile",
    "Feeling Just Average": "la-meh",
    "Feeling Worse Than Normal": "la-frown",
    "Feeling Awful": "la-sad-tear",
  }

  priorityToggle(answer: string) {
    if (!this.isOptionPriority(answer)) {
      this.question.priority_response.push(answer)
    } else {
      this.question.priority_response = this.question.priority_response.filter(
        (a) => a !== answer
      )
    }
  }

  isOptionPriority(answer: string) {
    const opt = this.question.priority_response.find((a) => a === answer)

    return opt !== undefined
  }

  saveDraft() {
    this.question.position = 0
    this.question.has_priority_response =
      this.question.priority_response.length > 0
    this.form.questions = [this.question]
    this.$emit("save-form", this.form)
  }

  shareForm() {
    this.saveDraft()
    this.$router.push(`/forms/creator/${this.form.id}/share`)
  }
}
</script>

<style lang="scss" scoped>
.question {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}
.answer-options {
  .option-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    .option {
      display: flex;
      gap: 1rem;
      align-items: center;
      width: 350px;
      border: 1px solid #9fa6c5;
      border-radius: 20px;
      background: #f5f5fd;
      padding: 9px 26px;
    }
    .priority-response-container {
      opacity: 0;
      display: flex;
      gap: 0.25rem;
      align-items: center;

      .priority-checkbox {
        border: 1px solid #2c8c9c;
        border-radius: 5px;
        width: 25px;
        text-align: center;
        background-color: transparent;
        cursor: pointer;
        .check {
          opacity: 0;
          color: #fff;
        }

        &.checked {
          background-color: #2c8c9c;
          .check {
            opacity: 1;
          }
        }
      }
    }
    &:hover {
      .priority-response-container {
        opacity: 1;
      }
    }
  }
}
.priority-responses {
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  gap: 1rem;
  width: auto;
  .priority-response {
    background-color: #2c8c9c;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      background-color: #5b9aa5;
    }
  }
}
.form-submit-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 2rem;
  justify-content: flex-end;
}
</style>
