<template>
  <div class="consent-form-questions-container mb-6">
    <div class="question mb-6">
      <tad-forms-input
        type="text"
        class="tad-forms-input large"
        placeholder="Question"
        v-model="question.content"
        required
      />

      <!-- <tad-forms-input
        type="text"
        class="tad-forms-input"
        placeholder="Consent form description..."
        v-model="question.notes"
        required
      /> -->

      <!-- <BtnFileUpload class="btn-add-documents mb-4" :upload="filePicked">
        Add Documents
      </BtnFileUpload>

       <ul class="uploaded-documents" v-if="files.length > 0">
        <li v-for="(file, index) in files" :key="index" class="doc">
          <span>{{ $ellipsis(file.name, 75) }}</span>
          <button
            class="btn-remove-doc"
            @click="requestDeleteConfirmation(file, index)"
          >
            <i class="las la-trash la-lg"></i>
          </button>
        </li>
      </ul> 
      <p v-else>
        <i class="las la-exclamation-circle la-lg mr-2 mb-6"></i>You have not
        uploaded any documents
      </p>-->

      <ArticleEditor :initialValue="this.question.notes" @content-changed="consentNotesChanged"/>
    </div>

    <div class="form-submit-actions">
      <tad-button @click="saveDraft" class="btn-save-form" bg="#cc9b20">
        Save Draft
      </tad-button>
      <tad-button @click="shareForm" class="btn-publish-form">
        Share Form
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { IForm, IModal } from "~/interfaces"
import BtnFileUpload from "~/components/BtnFileUpload.vue"
import ModalRequestConfirmation from "~/components/modals/ModalRequestConfirmation.vue"
import { Mutation } from "vuex-class"

@Component({
  components: { TadFormsInput, TadButton, TadInput },
})
export default class ConsentFormQuestions extends Vue {
  @Prop({ default: () => {} }) form!: IForm
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any

  question = this.form.questions[0]

  consentNotesChanged(notes: string){
    this.question.notes = notes
  }

  // files: File[] = []

  // filePicked(file: File) {
  //   this.files.push(file)
  // }

  // removeFile(i: number) {
  //   this.files.splice(i, 1)
  // }

  saveDraft() {
    this.question.position = 0
    this.form.questions = [this.question]
    this.$emit("save-form", this.form)
  }

  shareForm() {
    this.saveDraft()
    this.$router.push(`/forms/creator/${this.form.id}/share`)
  }

  // requestDeleteConfirmation(file: File, index: number) {
  //   const modal: IModal = {
  //     title: "Delete file?",
  //     content: ModalRequestConfirmation,
  //     props: {
  //       text: `Are you sure you want to delete "${file.name}"?`,
  //       onconfirm: () => {
  //         this.removeFile(index)
  //       },
  //     },
  //   }

  //   this.showModal(modal)
  // }
}
</script>

<style lang="scss" scoped>
.question {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
}
.doc {
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.219);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  font-size: 0.9rem;
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.btn-remove-doc {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  color: var(--danger-color);
  transition: all 0.2s ease;

  &:hover {
    background-color: rgba(248, 0, 0, 0.075);
  }
}
.form-submit-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 2rem;
  justify-content: flex-end;
}
</style>