<template>
  <ul class="forms-tabs" v-if="isFormCreator && isFormResponder">
    <nuxt-link
      tag="li"
      class="tab"
      to="/forms/creator"
      :class="{ selected: active == 'creator' }"
    >
      My Forms
    </nuxt-link>
    <nuxt-link
      tag="li"
      class="tab"
      to="/forms/responder"
      :class="{ selected: active == 'responder' }"
    >
      Shared Forms
    </nuxt-link>
  </ul>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Getter } from "vuex-class"

@Component({})
export default class CreatorResponderTab extends Vue {
  @Getter("forms/isFormResponder") isFormResponder!: boolean
  @Getter("forms/isFormCreator") isFormCreator!: boolean
  @Prop(String) active!: "creator" | "responder"
}
</script>

<style lang="scss" scoped>
.forms-tabs {
  background-color: white;

  margin-bottom: 1rem;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  border: 1px solid rgb(228, 228, 228);
  /* gap:  */
  max-width: 300px;

  .tab {
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
    color: #839082;
    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.137);
    }

    &.selected {
      color: #000;
      /* background-color: rgba(0, 0, 0, 0.068); */
    }
    &:hover:not(.selected) {
      background-color: rgba(0, 0, 0, 0.068);
    }
  }
}
</style>