<template>
  <div class="questionnaire-form-questions">
    <draggable
      class="draggable-container"
      :class="{ dragging: isDragActive }"
      :list="questions"
      group="people"
      @start="isDragActive = true"
      @end="saveDraft"
      handle=".question-handle"
      direction="vertical"
      :forceFallback="true"
      easing="ease"
      :animation="350"
      :emptyInsertThreshold="500"
    >
      <transition-group
        tag="div"
        mode="out-in"
        name="question"
        v-show="form && form.questions.length > 0"
      >
        <question-container
          v-for="question in form.questions"
          :key="question.id"
          :question="question"
          :isDragActive="isDragActive"
          @question-edited="questionEdited"
          @remove-question="removeQuestion"
        />
      </transition-group>
    </draggable>

    <div slot="footer" class="form-input-wrapper add-question">
      <label for="" class="mb-3">New question:</label>
      <select v-model="newQuestionType" class="mb-3">
        <option value="open ended">Open-ended</option>
        <option value="date">Date</option>
        <option value="time">Time</option>
        <option value="numerical">Numerical</option>
        <!-- <option value="range">Range</option> -->
        <option value="multiple choice">Multiple Choice</option>
      </select>
      <tad-button class="btn-add-question" @click="addQuestion">
        <i class="las la-plus"></i> Add Question
      </tad-button>
    </div>

    <div class="form-submit-actions">
      <tad-button
        @click="() => saveDraft()"
        class="btn-save-form"
        bg="#cc9b20"
        :disabled="isSaving"
      >
        {{ isSaving ? "Saving..." : " Save Draft" }}
      </tad-button>
      <tad-button @click="shareForm" class="btn-publish-form">
        Share Form
      </tad-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { v4 as uuid } from "uuid"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import OpenEndedQuestion from "~/components/forms/creator/questionnaire/OpenEndedQuestion.vue"
import DateQuestion from "~/components/forms/creator/questionnaire/DateQuestion.vue"
import TimeQuestion from "~/components/forms/creator/questionnaire/TimeQuestion.vue"
import NumericalQuestion from "~/components/forms/creator/questionnaire/NumericalQuestion.vue"
import MultipleChoiceQuestion from "~/components/forms/creator/questionnaire/MultipleChoiceQuestion.vue"

import draggable from "vuedraggable"
import QuestionContainer from "./questionnaire/QuestionContainer.vue"
@Component({
  components: {
    TadFormsInput,
    TadButton,
    TadInput,
    draggable,
    QuestionContainer,
  },
})
export default class QuestionnaireFormQuestions extends Vue {
  @Prop({ default: () => {} }) form 
  newQuestionType = "open ended"
  questions = [] as any[]
  isDragActive = false
  isSaving = false
  autosaveTimeoutHandle: any = -9999

  mounted() {
    this.questions = this.form.questions
  }

  questionType(type) {
    switch (type) {
      case "open ended":
        return OpenEndedQuestion
      case "date":
        return DateQuestion
      case "time":
        return TimeQuestion
      case "numerical":
        return NumericalQuestion
      case "multiple choice":
        return MultipleChoiceQuestion
    }
  }

  addQuestion() {
    this.questions.push({
      content: `New Question ${this.newQuestionType}`,
      position: this.questions.length,
      type: this.newQuestionType,
      id: uuid(),
      priority_response: [] as string[],
      possible_responses: [] as string[],
    })

    this.saveDraft()
  }

  questionEdited(question) {
    // Replace exisiting question with edited one
    const index = this.questions.findIndex((q) => q.id == question.id)
    this.questions[index] = question
    this.autosave()
  }

  removeQuestion(question) {
    this.questions = this.questions.filter((q) => question.id !== q.id)
    this.saveDraft(false)
  }

  autosave() {
    clearTimeout(this.autosaveTimeoutHandle)
    this.autosaveTimeoutHandle = setTimeout(() => {
      this.saveDraft(true)
    }, 1000)
  }

  async saveDraft(isAutosave = false) {
    this.isDragActive = false
    const form = this.form
    form.questions = this.questions
    form.questions = form.questions.map((q, index) => {
      q.position = index
      return q
    })


    this.$emit(isAutosave ? "autosave" : "save-form", form)
    this.isSaving = true
    await new Promise(() =>
      setTimeout(() => {
        this.isSaving = false
      }, 1000)
    )
  }

  shareForm() {
    this.saveDraft()
    this.$router.push(`/forms/creator/${this.form.id}/share`)
  }
}
</script>

<style lang="scss" scoped>
.add-question {
  margin: 1.5rem auto;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  padding: 1rem;
  border-radius: 5px;
}
.draggable-container {
  transition: 0.2s ease-in;
  transform-origin: center;
  &.dragging {
    // transform: scale(.7);
  }
}

.question-enter-active,
.question-leave-active {
  transition: all 0.3s;
}
.question-enter,
.question-leave-to {
  opacity: 0;
  transform: scale(0.95);
}
.question-leave-active {
  width: 100%;
}
.form-submit-actions {
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 235px);
  gap: 2rem;
  justify-content: center;
  background-color: #f5f4fde3;
  backdrop-filter: blur(3px);
  padding: 1rem 0;
}
</style>
