<template>
  <div class="setup__container">

    <UserSetup v-if="userProfile.type === 'patient'" />

    <AdminSetup v-else-if="userProfile.type === 'admin'" />

    <ProSetUp v-else-if="userProfile.type === 'professional'" />

    <PeerSetUp v-else-if="userProfile.type === 'peer_counselor'" />
  </div>
</template>

<script lang="ts">
import {
  Component,
  Getter,
  Mutation,
  State,
  Vue,
  Action,
} from "nuxt-property-decorator"

import { ThemeProvider } from "vue-styled-components"
import { IModal, INotification, IUserProfile } from "~/interfaces"
import ModalContainer from "~/components/ModalContainer.vue"
import UserSetup from "~/components/UserSetup.vue"
import AdminSetup from "~/components/account-setup/admin/AdminSetup.vue"
import ProSetUp from "~/components/account-setup/professional/ProSetUp.vue"
import PeerSetUp from "~/components/PeerSetUp.vue"

export enum SetupStep {
  UserInfo,
  OrgGeneral,
  OrgBranding,
  OrgLogo,
  CrisisResource,
}

@Component({
  layout: "setup",
  components: {
    PeerSetUp,
    ProSetUp,
    AdminSetup,
    UserSetup,
    ModalContainer,
    ThemeProvider,
  },
})
export default class AccountSetup extends Vue {
  @Getter("loggedInUser") userProfile!: IUserProfile
  @Getter("isAuthenticated") readonly isLoggedIn
  @Getter("notification/notifications") readonly notificationsList
  @Action("main/logOut") userLogOut
  @Action("main/updateUserProfile") updateUserProfile

  @Getter("modals/getModal") readonly modal!: IModal
  @Getter("config/pColor") readonly pColor!: string
  @Getter("config/sColor") readonly sColor!: string
  @Getter("config/tColor") readonly tColor!: string

  @Mutation("config/setPColor") readonly setPColor!: (color: string) => void
  @Mutation("config/setSColor") readonly setSColor!: (color: string) => void
  @Mutation("config/setTColor") readonly setTColor!: (color: string) => void
  @Mutation("config/setLogo") readonly setLogo!: (color: string) => void
  @Mutation("config/setAltLogo") readonly setAltLogo!: (color: string) => void
  @State("brandColorDefault") brandColorDefault!: string

  active: boolean = true
  mounted() {}

  async created() {
    // await this.getNotifications
    this.$parent.$on("toggleNav", () => {
      this.active = !this.active
    })
    if (this.isLoggedIn) {
      const fetchUserResponse = await this.$auth.fetchUser()
      if (fetchUserResponse) {
        const user = fetchUserResponse.data as IUserProfile

        this.setPColor(
          user.organization
            ? user.organization.primary_color
            : this.brandColorDefault
        )
        this.setSColor(
          user.organization
            ? user.organization.secondary_color
            : this.brandColorDefault
        )
        this.setTColor(
          user.organization
            ? user.organization.tertiary_color
            : this.brandColorDefault
        )
        this.setLogo(user.organization?.logo ?? "/tadhealth_logo.png")
        this.setAltLogo(user.organization?.logo ?? "/tadhealth_alt_logo.png")
      }
    }
  }

  get theNotifications() {
    return this.notificationsList.filter(
      (notification: INotification) => !notification.is_read
    )
  }

  get loggedIn() {
    return this.isLoggedIn
  }
}
</script>

<style lang="scss" scoped>
.setup__container {
  // height: 100vh;
  background-color: #f5f5fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
</style>
