<template functional>
  <i class="las la-check-circle field-complete"></i>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"

@Component({})
export default class FieldOkay extends Vue {
  // @Prop(String) readonly prop1!:string
}
</script>

<style lang="scss" scoped>
.field-complete {
  color: green;
  font-size: 1.2rem !important;
}
</style>