<template>
  <header>
    <tad-button class="btn-back" @click="onBackPressed">
      <i class="las la-arrow-left"></i>
    </tad-button>
    <div class="form__titles">
      <span class="form__title">{{ title }}</span>
      <span class="form__subtitle"> {{ subtitle }} </span>
    </div>
    <div style="width: 40px"></div>
  </header>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadButton },
})
export default class FormTitleContainer extends Vue {
  @Prop(Function) onBackPressed!: () => void
  @Prop(String) title!: string
  @Prop(String) subtitle!: string
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .btn-back {
    min-width: 40px;
  }
}

.form__title {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  color: var(--dark-text);
  text-align: center;
}
.form__subtitle {
  font-size: var(--small-text);
  color: #8390a2;
  padding-bottom: 1rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  text-align: center;
  padding: 1rem 0rem;
}
.form__titles {
  text-align: center;
}

@media screen and (max-width: 560px) {
  header {
    flex-direction: column;
    gap: 0.75rem;
  }
  .form__title,
  .form__subtitle,
  .form__titles {
    text-align: left;
  }
}
</style>