<template>
  <form>
    <div class="form__titles">
      <span class="form__title">Account Setup</span>
      <span class="form__subtitle">
        Please finish setting up your account
      </span>
    </div>
    <div class="form-input-wrapper mb-1">
      <label for="bio"
        >Update Profile Image(required)<field-okay
          v-if="user.profile_image || selectedProfileImage"
      /></label>
      <div class="profile-img-wrapper">
        <img
          class="profile-img"
          :src="$userimg(user.profile_image)"
          :alt="user.full_name"
          ref="profile-image"
        />

        <btn-file-upload :upload="profileImageSelected" :width="250"
          >Choose profile image</btn-file-upload
        >
      </div>
    </div>
    <div class="form-input-wrapper mb-5">
      <label for="firstName"
        >Full Name (required) <field-okay v-if="user.full_name"
      /></label>
      <tad-input
        id="firstName"
        v-model="user.full_name"
        type="text"
        name="firstName"
        required
        placeholder="enter full name"
      />
    </div>

    <div class="form-input-wrapper mb-6">
      <label for="gender"
        >Gender (optional) <field-okay v-if="user.gender"
      /></label>
      <select
        id="gender"
        v-model="user.gender"
        class="select__container"
        name="gender"
      >
        <option value="male">Male (He/Him/His)</option>
        <option value="female">Woman (She/Her/Hers)</option>
        <option value="queer">Genderqueer/Non Binary</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="form-input-wrapper mb-6">
      <label for="bio"
        >Let people know who you are (optional) <field-okay
      /></label>
      <tad-input
        as="textarea"
        id="bio"
        v-model="user.bio"
        name="bio"
      ></tad-input>
    </div>

    <div class="form-input-wrapper mb-6 upload-terms__input">
      <div>
        <tad-input
          id="tad-terms"
          type="checkbox"
          name="firstName"
          v-model="acceptedTadTerms"
          @change="tadTermsCheckboxChanged($event)"
        />
        <label for="tad-terms" class="upload__terms">
          By setting up your account with <b>TadHealth</b>, I agree to the

          <tad-text
            style="display: inline; text-decoration: underline"
            @click="modalOpenTerms"
            >Terms of Use</tad-text
          >
          and
          <a
            style="display: inline; text-decoration: underline"
            href="https://tadhealth.com/privacy"
            >Privacy Policy.</a
          >
        </label>
      </div>
    </div>

    <div
      v-if="user.organization && user.organization.company_terms"
      class="form-input-wrapper mb-6 upload-terms__input"
    >
      <div>
        <tad-input
        id="org-terms"
          v-model="acceptedOrgTerms"
          type="checkbox"
          @change="orgTermsCheckboxChanged($event)"
          required
        /><label for="org-terms" class="upload__terms"
          >By setting up your account with <b>{{ user.organization.name }}</b
          >, you agree to the
          <a
            target="_blank"
            style="display: inline; text-decoration: underline"
            :href="user.organization.company_terms"
            >Terms of Service.</a
          ></label
        >
      </div>
    </div>
    <div>
      <!-- <tad-button class="login__button">Login</tad-button> -->
      <form-button
        @click.native.prevent="submit"
        :submitting="isWorking"
        primary
        class="login__button"
        :disabled="
          !user.full_name ||
          !user.gender ||
          (!user.profile_image && !selectedProfileImage) ||
          !acceptedOrgTerms ||
          !acceptedTadTerms ||
          isWorking
        "
        >Save and Continue</form-button
      >
    </div>
  </form>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Mutation } from "vuex-class"
import { updateMe, uploadUserImage } from "~/api/users"
import { IModal, IUserProfile, IUserProfileUpdate } from "~/interfaces"
import ModalTerms from "../modals/ModalTerms.vue"
import TadInput from "~/components/styled-components/TadInput"
import TadText from "~/components/styled-components/TadText"
import FieldOkay from "~/components//account-setup/FieldOkay.vue"
import BtnFileUpload from "~/components/BtnFileUpload.vue"

@Component({
  components: { BtnFileUpload, TadInput, TadText, FieldOkay },
})
export default class UserInfoSetup extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void
  @Prop(Function) onSuccess!: () => void
  $refs!: {
    "profile-image": HTMLImageElement
  }
  user = this.$auth.user as unknown as IUserProfile
  isWorking = false
  selectedProfileImage: any = ""
  acceptedTadTerms = false
  acceptedOrgTerms = true

  tadTermsCheckboxChanged(e: any) {
    this.acceptedTadTerms = e.target.checked
  }
  orgTermsCheckboxChanged(e: any) {
    this.acceptedOrgTerms = e.target.checked
  }

  profileImageSelected(file: File) {
    this.selectedProfileImage = file
    const fileReader = new FileReader()
    fileReader.onload = () => {
      this.$refs["profile-image"].src = fileReader.result as string
    }
    fileReader.readAsDataURL(file)
  }

  modalOpenTerms() {
    const modal = {
      title: "TadHealth Terms",
      content: ModalTerms,
      props: {},
    }
    this.showModal(modal)
  }

  async submit() {
    if (!this.acceptedTadTerms) {
      this.$toast.error("Please accept terms.")
      return
    }
    try {
      this.isWorking = true
      if (this.selectedProfileImage) {
        const formDataImage = new FormData()
        formDataImage.append("file", this.selectedProfileImage)
        await uploadUserImage(formDataImage)
      }

      const updatedProfile: IUserProfileUpdate = {
        full_name: this.user.full_name,
        gender: this.user.gender,
        bio: this.user.bio,
        state: this.user.state,
        city: this.user.city,
        zip_code: this.user.zip_code,
      }
      await updateMe(updatedProfile)
      await this.$auth.fetchUser()
      this.onSuccess()
    } catch (error) {
      this.$toast.error("Error updating profile.")
    } finally {
      this.isWorking = false
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-img-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  .profile-img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
  }
}
.upload__terms {
  margin-left: 0.5rem;
  color: var(--dark-text);
  font-size: 0.8rem;
}
.login__button {
  width: 100%;
}
.form__title {
  font-size: 1.2rem;
  font-weight: 600;
  display: block;
  color: var(--dark-text);
  text-align: center;
}
.form__subtitle {
  font-size: var(--small-text);
  color: #8390a2;
  padding-bottom: 1rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  text-align: center;
  padding: 1rem 0rem;
}
.form__titles {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .profile-img-wrapper{
    flex-direction: column;
    align-items: flex-start;
  }
}
</style>
