<template>
  <div>
    <!-- Page title -->
    <div class="block pb-5">
      <tad-button v-if="mode == `LIST`" class="float-right mt-2" @click="mode = `ADD`">Add Document</tad-button>
      <SharedPageTitle v-if="mode == `LIST`" title="Documents" />
      <tad-button v-if="mode == `ADD`" class="float-right mt-2" @click="mode = `LIST`">Cancel</tad-button>
      <SharedPageTitle v-if="mode == `ADD`" title="Create new document" />
    </div>

    <div v-can="'document.manage'">
      <!-- Add form -->
      <div v-if="mode == `ADD`" class="border p-8 hover:shadow-lg bg-white rounded-lg block">
        <form class="grid grid-cols-1 gap-4" @submit.prevent="submitForm">
          <!-- Document Title -->
          <div class="flex flex-col pb-4">
            <label for="document-title" class="pb-2 text-gray-800">Document Title</label>
            <input id="document-title" v-model="title" name="title" required type="text"
              class="border-2 border-gray-300 rounded p-2 bg-white" />
          </div>

          <!-- Document Link -->
          <div class="flex flex-col pb-4">
            <label for="document-link" class="pb-2 text-gray-800">Enter Document Link (URL)</label>
            <input id="document-link" v-model="link" name="link" type="url"
              class="border-2 border-gray-300 rounded p-2 bg-white" />
          </div>

          <!-- Upload Document -->
          <div class="flex flex-col pb-4">
            <label for="video-title" class="pb-2 text-gray-800">Or, Upload your document</label>
            <div class="flex items-center space-x-4 text-sm">
              <btn-file-upload :upload="docSelected" :loading="isWorking">Upload</btn-file-upload>
              <p v-if="!selectedFile" class="flex items-center space-x-2">
                <i class="las la-exclamation-circle la-lg"></i>No file selected
              </p>
              <p v-else class="border border-gray-400 rounded p-1 max-w-md">
                {{ $ellipsis(selectedFile.name, 75) }}
              </p>
            </div>
          </div>

          <!-- Description -->
          <div class="flex flex-col pb-4">
            <label for="document-description" class="pb-2 text-gray-800">Add a description</label>
            <input id="document-description" v-model="description" name="description" required type="text"
              class="border-2 border-gray-300 rounded p-2 bg-white" />
          </div>

          <!-- Tags -->
          <div class="flex flex-col pb-4">
            <label class="pb-2 text-gray-800">Select Tags</label>
            <ul v-if="tags.length > 0" class="flex space-x-2 mb-2">
              <li v-for="(tag, index) in tags" :key="index" class="
                  flex
                  space-x-2
                  b-2
                  border-gray-900
                  rounded
                  p-2
                  bg-gray-300
                ">
                <span>{{ tag }}</span>
                <button @click.prevent="removeTag(index)">
                  <i class="las la-times-circle"></i>
                </button>
              </li>
            </ul>
            <div class="flex space-x-2 items-center">
              <select v-model="selectedTag" class="border-2 border-gray-300 rounded p-2 text-sm bg-white">
                <option v-for="(tag, index) in tagNames" :key="index" :value="tag">
                  {{ tag }}
                </option>
              </select>
              <tad-button primary @click.prevent="addTag">Add Tag</tad-button>
            </div>
          </div>

          <!-- Submit -->
          <form-button :submitting="isWorking" primary class="mt-auto">Submit Document</form-button>
        </form>
      </div>

      <!-- List of documents -->
      <div v-if="mode == `LIST`" class="bg-white p-8 rounded-lg shadow-md mb-8">
        <div class="flex justify-center pb-6">
          <input v-model="searchQuery" type="text" class="search-input w-full pl-2 py-2 rounded border"
            placeholder="Search for a document.." @change="debounceFetch" />
        </div>
        <div class="flex justify-between px-4 border-b-2 border-gray-200 py-2">
          <div class="w-1/3 font-bold text-gray-700 text-sm">
            Document Title
          </div>
          <div class="w-1/3 font-bold text-gray-700 text-sm">Description</div>
          <div class="w-1/3 font-bold text-gray-700 text-sm flex justify-end">
            Link
          </div>
        </div>
        <div v-if="documents.length" class="py-2">
          <div v-for="document in filteredDocuments" :key="document.id" class="
              flex
              justify-between
              items-center
              align-items-center
              border-b border-gray-200
              px-4
              hover:bg-gray-100
              pt-2
              pb-2
            ">
            <div class="w-1/3 text-sm font-semibold text-gray-800">
              {{ document.title }}
            </div>
            <div class="w-1/3 text-sm truncate text-gray-600">
              {{ document.description }}
            </div>
            <div class="w-1/3 flex justify-end">
              <tad-button @click="openModalDetailsDocument(document)">
                Details
              </tad-button>
            </div>
          </div>
        </div>
        <div v-else class="
            min-h-300
            flex
            justify-center
            items-center
            text-gray-400
            pt-8
            pb-8
          ">
          <p>No documents</p>
        </div>
        <div class="mt-4">
          <Pagination :current-page="currentPage" :total-pages="totalPages" :total-records="totalRecords"
            @nextPage="nextPage" @prevPage="prevPage" />
        </div>
      </div>
      <!-- <AdminDocumentTable /> -->
    </div>
    <div v-can="'document.access'"></div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mutation } from "nuxt-property-decorator"
import DocumentUploadForm from "~/components/documents/DocumentUploadForm.vue"
import AdminDocumentTable from "~/components/documents/AdminDocumentTable.vue"
import { createLink, getDocuments } from "~/api/resources"
import TadButton from "~/components/styled-components/TadButton"
import { getTagNames } from "~/api/articles"
import { IModal } from "~/interfaces"
import Pagination from "~/components/Pagination.vue"
import ModalAdminDetailsDocument from "~/components/modals/ModalAdminDetailsDocument.vue"

@Component({
  middleware: ["authenticated"],
  components: { DocumentUploadForm, AdminDocumentTable, TadButton, Pagination },
})
export default class documents extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => void

  link: string = ""
  selectedFile: any = "" as unknown as File
  isWorking = false
  selected = false
  tagNames: string[] = []
  selectedTag = ""
  tags: any = []
  title: string = ""
  description: string = ""
  mode = "LIST" as string

  //   documents: IVideoResource[] = []

  documents: any[] = []
  searchQuery = ""
  searchDebounceHandler: any = -999

  filteredDocuments: any[] = []
  // mounted() {
  //   this.fetchVideos()
  // }

  currentPage: number = 1
  totalPages: number = 0
  totalRecords: number = 0

  options = {
    offset: 0,
    limit: 10,
  }

  mounted() {
    const permissions = this.$store.state.auth.user.permissions
    if (permissions.includes("document.manage")) {
      this.fetchTagNames()
      this.fetchDocuments()
    }
  }

  debounceFetch() {
    clearTimeout(this.searchDebounceHandler)

    this.searchDebounceHandler = setTimeout(this.fetchDocuments, 200)
  }

  async fetchDocuments() {
    try {
      const { data: docs } = await getDocuments(this.searchQuery, this.options)
      this.documents = docs.items
      this.filteredDocuments = this.documents
      this.totalRecords = docs.total
      this.totalPages = Math.ceil(docs.total / this.options.limit)
    } catch (error) { }
  }

  async nextPage() {
    if (this.currentPage < this.totalPages) {
      this.currentPage++
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.fetchDocuments()
    }
  }

  async prevPage() {
    if (this.currentPage > 1) {
      this.currentPage--
      this.options.offset = (this.currentPage - 1) * this.options.limit
      await this.fetchDocuments()
    }
  }

  openModalDetailsDocument(document) {
    const modal: IModal = {
      title: "Document details",
      content: ModalAdminDetailsDocument,
      props: {
        document,
      },
    }
    this.showModal(modal)
  }

  async searchForDocument(e) {
    this.currentPage = 1
    this.options.offset = 0
    e.preventDefault()
    // if (this.filteredDocuments = this.documents.filter(document => document.title.indexOf(e.target.value) !== -1)){
    //   this.filteredDocuments = this.documents.filter(document => document.title.toLowerCase().indexOf(e.target.value.toLowerCase()) !== -1)
    // } else {
    //   this.filteredDocuments = this.documents
    // }
    try {
      const { data: documents } = await getDocuments()
      this.documents = documents.items
      this.filteredDocuments = this.documents
      this.totalRecords = documents.total
      this.totalPages = Math.ceil(documents.total / this.options.limit)
    } catch (error) { }
  }

  addTag() {
    if (this.selectedTag && !this.tags.includes(this.selectedTag.trim())) {
      this.tags.push(this.selectedTag.trim())
      this.selectedTag = ""
    }
  }

  removeTag(index: number) {
    this.tags.splice(index, 1)
  }

  docSelected(file: File) {
    this.selectedFile = file
  }

  async submitForm() {
    if (!this.title || !this.description) {
      this.$toast.error("Title and description are required.")
      return
    }

    if (this.link && this.selectedFile) {
      this.$toast.error(
        "Please provide either a document link or upload a file, not both."
      )
      return
    }

    if (!this.link && !this.selectedFile) {
      this.$toast.error("Please provide a document link or upload a document.")
      return
    }

    const formData = this.createFormData()

    try {
      this.isWorking = true
      const { data } = await createLink(formData)
      this.$emit("documentUploaded")
      this.$toast.success(
        this.link
          ? "Success! Your link has been created."
          : "Success! Your document has been uploaded."
      )
      this.clearFormData()
    } catch (error) {
      this.handleSubmissionError(error)
    } finally {
      this.isWorking = false
      this.fetchDocuments()
      this.mode = "LIST"
    }
  }

  createFormData() {
    const formData = new FormData()
    formData.append("title", this.title)
    formData.append("description", this.description)
    if (this.link) {
      formData.append("link", this.link)
    } else if (this.selectedFile) {
      formData.append("upload_document_in", this.selectedFile)
    }
    if (this.tags.length) {
      formData.append("tags", this.tags.join(","))
    }
    return formData
  }

  clearFormData() {
    this.title = ""
    this.description = ""
    this.link = ""
    this.selectedFile = null
    this.tags = []
  }

  handleSubmissionError(error) {
    console.error("Error during submission:", error)
    this.$toast.error("Something went wrong, please try again!")
  }

  async fetchTagNames() {
    try {
      const { data: tagNames } = await getTagNames()
      this.tagNames = tagNames
    } catch (error) {
      this.$toast.error(`Error loading tags`)
    }
  }
}
</script>

<style lang="scss" scoped></style>
