<template>
  <div class="date-analysis">
    <span @click="hideList()" v-if="hide"
      ><i class="las la-angle-down mb-5 cursor-pointer"></i
    ></span>
    <span @click="hideList()" v-if="!hide" class="cursor-pointer"
      ><i class="las la-angle-right mb-0 cursor-pointer"></i> View
      Responses</span
    >
    <ul class="responses-list" v-if="hide">
      <li
        v-for="(response, index) in answers"
        :key="index"
        class="response border-gray-300 border mb-5"
      >
        <RespondentDetails
          :respondent="responseAnalytics.responses[index].respondent"
        />
        <p v-if="response[1] == true" class="p-2 mt-4"><span class="border border-red-600 bg-red-200 p-2 rounded-md text-red-600 text-xs"><i class="las la-exclamation"></i> Priority Response</span></p>
          <p class="p-2 text-gray-700">Response: {{ response[0] }}</p>
        <div class="p-2">
          <tad-button
            @click="
              $router.push(
                `/forms/responses?user_id=${responseAnalytics.responses[index].respondent.id}&form_id=${form}`
              )
            "
          >
            View Full Form Response
          </tad-button>
        </div>
      </li>
      <p v-if="answers.length == 0">No Responses Recieved Yet.</p>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { IFormQuestion, IFormResponseAnalytics } from "~/interfaces"
import RespondentDetails from "~/components/forms/creator/analysis/RespondentDetails.vue"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: {
    RespondentDetails, TadButton
  },
})
export default class DateAnalysis extends Vue {
  @Prop(Object) readonly question!: IFormQuestion
  @Prop(Array) readonly answers!: any
  @Prop(Object) readonly responseAnalytics!: IFormResponseAnalytics
  @Prop(String) readonly form!: string

  hide = true

  hideList() {
    this.hide = !this.hide
  }
}
</script>
