<template>
  <div class="embed-responsive aspect-ratio-16/9">
    <iframe
      :src="`https://anchor.fm/peaceful-calm/embed/episodes/${audio}`"
      height="102px"
      width="400px"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component({})
export default class AnchorComponent extends Vue {
  // src="https://anchor.fm/peaceful-calm/embed/episodes/You-matter-e17f81i/a-a6hl4rv"
  @Prop({ default: "" }) readonly audio!: string
}
</script>

<style></style>
