<template>
  <!-- <NuxtLink to="/crisislink1" class="header__crisis-button">
    Get Help Now
  </NuxtLink> -->
  <tad-button @click="getHelpNow" class="btn-get-help-now" bg="#e97488" color="#fff">
    <nuxt-link class="link" to="/gethelpnow">Get Help Now</nuxt-link>
  </tad-button>
</template>

<script lang="ts">
import { Vue, Component, Getter } from "nuxt-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import { createInteraction } from "~/api/interactions"

@Component({
  components: { TadButton },
})
export default class GetHelpButton extends Vue {
  @Getter("loggedInUser") userProfile

  async getHelpNow() {
    
    try {
      let click_name = "get help now"
      let view_name = "home"
      let organization_id = this.userProfile.organization_id

      await createInteraction(click_name, view_name, organization_id)
    } catch (error) {
      console.log(error)
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-get-help-now {
  border-radius: 50px;
}

.link {
  color: white !important;
}
</style>
