<template>
  <!-- Back Button -->
  <div class="block py-1">
    <a href="#!" class="text-lg text-gray-700" @click="$router.go(-1)">
      Go Back
    </a>
  </div>
</template>

<script lang="ts">

</script>

