<template>
  <div>
    <audio controls>
      <source :src="`${audio}`" />
      Your browser does not support the audio element.
    </audio>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator"

@Component({})
export default class PodcastComponent extends Vue {
  @Prop({ default: "" }) readonly cover!: string
  @Prop({ default: "" }) readonly audio!: string
}
</script>

<style></style>
