<template>
  <div>
    <NuxtLink v-if="prev" :to="`/article/${prev.slug}`">
      {{ prev.title }}
    </NuxtLink>
    <span v-else>&nbsp;</span>
    <span>|</span>
    <NuxtLink v-if="next" :to="`/article/${next.slug}`">
      {{ next.title }}
    </NuxtLink>
    <span v-else>&nbsp;</span>
  </div>
</template>

<script>
export default {
  props: {
    prev: {
      type: Object,
      default: () => null,
    },
    next: {
      type: Object,
      default: () => null,
    },
  },
}
</script>
