<template>
  <video
    controls
    class="w-full rounded-xl shadow-lg max-h-screen"
    controlsList="nodownload"
    autoplay
    :src="src"
    preload="auto"
  />
</template>

<script lang="ts">
import "video.js/dist/video-js.min.css"
import { Vue, Prop, Component } from "nuxt-property-decorator"

@Component
export default class SharedVideoPlayer extends Vue {
  @Prop({ default: "" }) readonly src!: string
  @Prop({ default: "" }) readonly classes!: string
}
</script>
