<template>
  <span
    :class="`
      inline-flex
      items-center
      rounded-full
      cursor-pointer
      bg-white
      px-4
      py-1
      text-xs text-gray-500
      border border-3 border-gray-500
      ${classes}
    `"
    >{{ label }}</span
  >
</template>

<script lang="ts">
import "video.js/dist/video-js.min.css"
import { Vue, Component, Prop } from "nuxt-property-decorator"

@Component({})
export default class Badge extends Vue {
  @Prop(String) readonly label: any
  @Prop(String) readonly classes: any
}
</script>
