<template>
  <div class="block py-3">
    <h1 class="font-bold text-3xl mb-4">{{ title }}</h1>
    <p v-if="subtitle" class="text-gray-500">{{ subtitle }}</p>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator"

@Component
export default class SharedPageTitle extends Vue {
  @Prop({ default: "" }) readonly title!: string
  @Prop({ default: "" }) readonly subtitle!: string
}
</script>
