<template>
  <div class="flex flex-auto gap-4 py-4">
    <div class="flex-shrink">
      <img class="rounded-full" width="50" :src="picture" />
    </div>
    <div class="flex-auto">
      <p class="text-lg font-medium text-gray-700 group-hover:text-gray-900">
        {{ name }}
      </p>
      <p
        v-if="description"
        class="text-base font-medium text-gray-500 group-hover:text-gray-700"
      >
        {{ description }}
      </p>
    </div>
    <div class="flex-shrink">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator"

@Component
export default class SharedAvatar extends Vue {
  @Prop(String) readonly picture
  @Prop(String) readonly name
  @Prop(String) readonly description
}
</script>
