<template>
  <div class="block text-center py-10">
    <i class="las la-sync la-3x la-spin"></i>
    <div class="block">{{ text }}</div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator"

@Component
export default class SharedLoading extends Vue {
  @Prop({ default: "Loading..." }) readonly text!: string
}
</script>
