<template>
  <li class="">SidebarLink here!!</li>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"

@Component({})
export default class SidebarLink extends Vue {
  // @Prop(String) readonly prop1!:string
}
</script>

<style lang="scss" scoped></style>
