<template>
  <!-- <video ref="videoPlayer" :class="`video-js ${classes}`"></video> -->
  <video controls class="w-full rounded-xl shadow-lg" controlsList="nodownload">
    <source :src="options.src" type="video/mp4" />
  </video>
</template>

<script>
import videojs from "video.js"
import "video.js/dist/video-js.min.css"
import { Vue } from "nuxt-property-decorator"

const VideoPlayerProps = Vue.extend({
  props: {
    options: {
      type: Object,
      required: true,
    },
    classes: {
      type: String,
      required: false,
      default: "",
    },
  },
})

export default class VideoPlayer extends VideoPlayerProps {
  player = null

  // mounted() {
  //   this.player = videojs(this.$refs.videoPlayer, this.options, () => {
  //     // this.player.log("onPlayerReady", this)
  //     this.player?.play()
  //   })
  // }

  // beforeDestroy() {
  //   this.player?.dispose()
  // }
}
</script>
