<template>
  <div class="yt-video embed-responsive aspect-ratio-16/9">
    <iframe
      height="500"
      width="100%"
      :src="`https://www.youtube.com/embed/${video}?rel=0`"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
            picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator"

@Component({})
export default class YouTubeComponent extends Vue {
  @Prop({ default: "" }) readonly video!: string
}
</script>

<style scoped>
.yt-video {
  width: 100%;
}
</style>
