<template>
  <loading-spinner v-if="isLoading"></loading-spinner>
  <div v-else class="forms-responder">
    <tad-button class="mb-6" @click="$router.go(-1)">
      <i class="las la-arrow-left mr-1"></i>Back
    </tad-button>
    <div class="form-general-details">
      <!-- <alert
        v-if="alreadyResponded"
        type="success"
        msg="You've already responded to
        this form"
        :dissmissable="false"
        class="mb-3"
      /> -->

      <h2 class="title-text">
        {{ form.name }}
      </h2>
      <p class="mb-4">{{ form.description }}</p>
      <alert
        v-if="form_status === 'complete'"
        type="info"
        msg="You have already responded to this form."
        :dissmissable="false"
      ></alert>
      <!-- <tad-button
      class="mt-4"
        v-if="alreadyResponded"
        @click="$router.push(`/forms/responder/response?user_id=${user.id}&form_id=${form.id}`)"
      >View Your Full Response</tad-button> -->
    </div>


    <component
    v-if="form_status !== 'complete'"
      :is="formResponder"
      :form="form"
      :status="form_status"
      @submit-response="submitResponse"
    />

    <loading-overlay :show="isWorking" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import { IModal, IUserProfile, QuestionResponse } from "~/interfaces"
import ConsentFormResponder from "~/components/forms/responder/ConsentFormResponder.vue"
import TadButton from "~/components/styled-components/TadButton"
import {
  createResponse,
  getFormsToRespondTo,
  getFormToRespondTo,
} from "~/api/form-response"
import ModalInfo from "~/components/modals/ModalInfo.vue"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import CheckInFormResponder from "~/components/forms/responder/CheckInFormResponder.vue"
import QuestionnaireFormResponder from "~/components/forms/responder/QuestionnaireFormResponder.vue"
import LoadingOverlay from "~/components/LoadingOverlay.vue"
import Alert from "~/components/Alert.vue"

@Component({
  middleware: ["authenticated", "is-form-responder"],
  components: {
    Alert,
    LoadingOverlay,
    LoadingSpinner,
    ConsentFormResponder,
    TadButton,
  },
})
export default class FormResponder extends Vue {
  @Getter("loggedInUser") user!: IUserProfile
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any
  id = this.$route.params.id
  isLoading = true
  isWorking = false
  form: any = {
    // name: "Form Name",
    // description: "Form Description",
  }
  form_status = "pending"

  respondedTo: any = []

  get formResponder() {
    switch (this.form.type) {
      case "consent form":
        return ConsentFormResponder
      case "checkin form":
        return CheckInFormResponder
      case "questionnaire form":
        return QuestionnaireFormResponder
      default:
        return LoadingSpinner
    }
  }

  // get alreadyResponded() {
  //   return this.respondedTo.some((f) => f.id === this.form.id)
  // }

  async fetch() {
    try {
      this.isLoading = true
      const { data } = await getFormToRespondTo(this.id)
      this.form_status = data.response_status
      this.form = { ...data.form, questions: data.questions }
      const { data: forms } = await getFormsToRespondTo()
      this.respondedTo = forms.responded_to
    } catch (error) {
      // push to forms /forms/responder
      this.$router.push("/forms/responder")
      this.$toast.error("You don't have access to this form")
    } finally {
      this.isLoading = false
    }
  }

  async submitResponse(responses: QuestionResponse[]) {
    try {
      this.isWorking = true
      await createResponse({
        form_id: this.form.id,
        respondent: this.user.id,
        status: "complete",
        responses,
      })
      this.modalSubmitSuccess()
    } catch (error) {
      this.$toast.error("Error occurred when submitting your response")
    } finally {
      this.isWorking = false
    }
  }

  modalSubmitSuccess() {
    const modal: IModal = {
      content: ModalInfo,
      title: "Success!",
      props: {
        text: "Response submitted successfully!",
        onclose: () => {
          this.$router.push("/forms/responder")
        },
      },
    }

    this.showModal(modal)
  }
}
</script>

<style lang="scss" scoped>
.forms-responder {
  position: relative;
}
.form-general-details {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}
.msg-responded {
  color: var(--success-color);
  background-color: rgba(0, 128, 0, 0.342);
  padding: 1rem;
  /* border-radius: ; */
}
</style>
