<template>
    <div>
      <div>
        <tad-button primary @click="$router.go(-1)"
            ><i class="las la-arrow-left mr-1"></i>Back</tad-button
          >
      </div>
      <div class="wrapper">
        <div class="welcome__container">
          <h1 class="crisis-link__title">What can I do now?</h1>
          <div class="crisis-link__subtitle">
            <p>
              If you are in crisis or would like emotional support, you can talk
              to the following support services at any time.
            </p>
            <div id="map"></div>
          </div>
        </div>
  
        <div class="resource__wrapper">
          <span class="wcidn-title">Organization Resources</span>
  
          <!-- <div>
            <div class="wcidn-card map-card">
              <div class="left">
                
                <iframe
                  src="//maps.google.com/maps?q=33.5441273,-117.781332&z=15&output=embed"
                ></iframe>
              </div>
  
              <div class="right">
                <div>
                  <div class="wcidn-section-header">
                  <span class="wcidn-name">Laguna Beach Counselor Center</span>
                  <br />
                </div>
                <div class="mb-3">
                  <tad-button
                    as="a"
                    class="wcidn-number btn main"
                    href="sms:741741"
                    ><i class="las la-location-arrow"></i> Send To Phone</tad-button
                  >
                  <tad-button
                    as="a"
                    class="wcidn-number btn main"
                    href="sms:741741"
                    ><i class="las la-street-view"></i> View On Google Maps</tad-button
                  >
                </div>
  
                  <p class="block cidn-section-text small-text mb-3">
                    Kathleen Wenger, LMFT, LPCC. 24 Years of Experience. Arrange A Visit. Sign Up Online. Trusted for 20+ Years. Online Therapy Available.
                  </p>
                </div>
               
               
              </div>
            </div>
          </div> -->
          <!-- <div class="wcidn-card">
            <div class="wcidn-section-header">
              <span class="wcidn-name">Resource #1</span> <br />
              <tad-button as="a" class="wcidn-number" href="tel:3105515100">
                Call (000) 000-0000
              </tad-button>
            </div>
            <div class="wcidn-section-body">
              <span class="wcidn-section-text small-text">
                Resource one description
              </span>
            </div>
          </div> -->
        </div>
  
        <div class="resource__wrapper">
          <div v-if="resources.length">
            <div
              v-for="resource in resources"
              :key="resource.id"
              class="wcidn-card"
            >
              <div class="wcidn-section-header">
                <span class="wcidn-name">{{ resource.name }}</span> <br />
                <tad-button class="wcidn-number" v-if="resource.number_type === 'call'" @click="setResourceName(resource.name)"
                  ><a style="color: white" :href="`tel:${resource.number}`">{{
                    resource.button_text
                  }}</a></tad-button
                >
                <tad-button v-else @click="setResourceName(resource.name)"
                  ><a style="color: white" :href="`sms:${resource.number}`">{{
                    resource.button_text
                  }}</a></tad-button
                >
              </div>
              <div class="wcidn-section-body">
                <span class="wcidn-section-text small-text">
                  {{ resource.description }}</span
                >
              </div>
            </div>
          </div>
          <div v-else>
            <div class="wcidn-card">
              <div class="wcidn-section-header">
                <span class="wcidn-name">No resources available.</span> <br />
              </div>
              <div class="wcidn-section-body">
                <span class="wcidn-section-text small-text">
                  Your organization has not provided any resources.
                </span>
              </div>
            </div>
          </div>
          <!-- <div class="wcidn-card">
            <div class="wcidn-section-header">
              <span class="wcidn-name">Resource #1</span> <br />
              <tad-button as="a" class="wcidn-number" href="tel:3105515100">
                Call (000) 000-0000
              </tad-button>
            </div>
            <div class="wcidn-section-body">
              <span class="wcidn-section-text small-text">
                Resource one description
              </span>
            </div>
          </div> -->
        </div>
        <div>
          <span class="wcidn-title">Other Resources</span>
          <div class="wcidn-card">
            <div class="wcidn-section-header">
              <span class="wcidn-name">Local Emergency Services</span> <br />
              <tad-button as="a" class="wcidn-number" href="tel:911" @click="setResourceName('Local Emergency Services')"
                >Call 911</tad-button
              >
            </div>
            <div class="wcidn-section-body">
              <span class="wcidn-section-text small-text">
                Dial 911 to communicate about where you are and send someone to
                support you immediately. On the Phone ask for someone who is on
                the Crisis Intervention Team (CIT).
              </span>
            </div>
          </div>
          <div class="wcidn-card">
            <div class="wcidn-section-header small-text">
              <span class="wcidn-name">National Suicide Prevention Lifeline</span>
              <br />
              <tad-button as="a" class="wcidn-number" href="tel:988" @click="setResourceName(`National Suicide Prevention Lifeline`)">
                Call 988
              </tad-button>
            </div>
            <div class="wcidn-section-body">
              <span class="wcidn-section-text small-text">
                Dial 988 to reach the National Suicide Prevention Lifeline.
                Trained professionals are on call 24/7 to speak with individuals
                who are in crisis.
              </span>
            </div>
          </div>
          <div class="wcidn-card">
            <div class="wcidn-section-header">
              <span class="wcidn-name">Crisis Text Line </span> <br />
              <tad-button as="a" class="wcidn-number btn main" href="sms:741741" @click="setResourceName(`Crisis Text Line`)"
                >Text 741-741</tad-button
              >
            </div>
            <div class="wcidn-section-body">
              <span class="wcidn-section-text small-text">
                Text "hello" to 741-741 to reach the Crisis Text Line. Trained
                professionals are available 24/7 to text message with individuals
                who are in crisis.
              </span>
            </div>
          </div>
        </div>
        <div class="welcome__container">
          <GHNFooterText />
        </div>
      </div>
      <!-- <div class="crisislink__footer-button-container">
        <tad-button
          class="crisislink__footer-button btn main"
          @click="$router.push('/appointments')"
        >
          More Support
        </tad-button>
      </div> -->
    </div>
  </template>
  
  <script lang="ts">
  import { Component, Vue, Getter, Action } from "nuxt-property-decorator"
  import TadButton from "~/components/styled-components/TadButton"
  import TadLink from "~/components/styled-components/TadLink"
  import { getResources } from "~/api/interactions"
  import { createCrisisResourceInteraction } from "~/api/analytics"
  interface Resource {
    id: number
    name: string
    description: string
    number: string
    number_type: string
    button_text: string
  }
  
  @Component({
    // layout: "patient",
    middleware: ["authenticated"],
    components: { TadButton, TadLink },
  })
  export default class CrisisLinkResourcesA extends Vue {
    @Getter("loggedInUser") userProfile
    @Getter("isAuthenticated") isLoggedIn
    @Action("main/logOut") userLogOut
    public isOpen: boolean = false
    resources: Resource[] = []
    resource = ""

    setResourceName(resource) {
      this.resource = resource
      this.postInteraction()
    }
  
    mounted() {
      this.fetchResources()
    }
  
    async postInteraction(){
      let click_name = "me"
      let view_name = "home"
      let resource_name = this.resource
      let organization_id = this.userProfile.organization_id
      await createCrisisResourceInteraction(click_name, view_name, resource_name, organization_id)
    }
    public async logout() {
      await this.userLogOut()
      if (
        this.$router.currentRoute.path !== "/login" &&
        this.$router.currentRoute.path !== "/"
      ) {
        await this.$router.push("/")
      }
    }
  
    async fetchResources() {
      try {
        const { data: resources } = await getResources()
        this.resources = resources
      } catch (e) {
        this.$toast.error("Something went wrong trying to fetch resources!")
      }
    }
  }
  </script>
  
  <style lang="scss" scoped>
  .wcidn-section-header {
    margin-bottom: .5rem;
  }
  .map-card {
    display: flex;
    background-color: #edf2f7 !important;
  }
  
  .right {
    padding-top: 2rem;
    padding-left: 2rem;
  }
  iframe {
    border: none !important;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    height: 250px;
  }
  .welcome__container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  .resource__wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    margin-top: 2rem;
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .crisis-link__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
  }
  
  .crisis-link__subtitle {
    display: flex;
    text-align: center;
    color: var(--light-text);
    font-size: 0.9rem;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .wcidn-title {
    font-weight: 700;
    color: var(--dark-text);
    margin-bottom: 3rem;
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.1rem;
  }
  .wcidn-card {
    padding: 2rem;
    box-shadow: var(--default-box-shadow);
    border-radius: 5px;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }
  .wcidn-name {
    color: var(--dark-text);
    font-weight: 700;
    font-size: .9rem;
    margin-bottom: 1rem;
    display: inline-block;
  }
  .wcidn-number {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .crisislink__footer-button-container {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .crisis-link__footer-text {
    font-size: 0.9rem;
    color: #8390a2;
    line-height: 1.5;
    text-align: center;
    a {
      color: var(--main-color);
    }
  }

  
  </style>
  