<template>
  <div>
    <!-- Back Button -->
    <div class="block py-1">
      <a href="#!" class="text-lg text-gray-700" @click="$router.go(-1)">
        Go Back
      </a>
    </div>

    <!-- Page title -->
    <header class="flex gap-x-6 pt-8 pb-4">
      <div class="flex-auto">
        <h1 class="title-text pt-2">Form Packets</h1>
      </div>
      <div class="flex-shrink">
        <tad-button @click="$router.push(`/forms/packets/create`)">
          New Packet
        </tad-button>
      </div>
    </header>

    <!-- List of packets -->
    <div v-if="!busy" class="card p-0 hover:shadow-lg">
      <div
        v-for="packet in packets"
        :key="packet.id"
        class="border-b p-6 relative cursor-pointer hover:bg-gray-100"
      >
        <div class="border rounded-full absolute py-1 px-2" style="right: 15px">
          {{ packet.forms.length }} form{{
            packet.forms.length > 1 ? "s" : null
          }}
          enclosed
        </div>
        <h3 class="text-xl">{{ packet.name }}</h3>
        <p>{{ packet.description }}</p>
      </div>
    </div>

    <!-- Loading state -->
    <loading-spinner v-if="busy" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import TadButton from "~/components/styled-components/TadButton"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import { IFormPacket } from "~/interfaces"
import { getFormPackets } from "~/api/form"

@Component({
  middleware: ["authenticated", "is-form-creator"],
  components: { LoadingSpinner, TadButton },
})
export default class FormsList extends Vue {
  busy = true as boolean
  packets = [] as IFormPacket[]

  async fetch() {
    try {
      const { data } = await getFormPackets()
      this.packets = data
    } catch (error: any) {
      this.$toast.error(
        "An error occured while fetching packets. Please try again later"
      )
    } finally {
      this.busy = false
    }
  }
}
</script>
