<template>
  <tr v-if="isWorking">
    <td colspan="4">
      <loading-spinner></loading-spinner>
    </td>
  </tr>
  <tr v-else>
    <td>
      {{
        $appointmentStartTimezoneSensitive(appointment,  "ddd DD MMMM YYYY, hh:mm A")
      }}
    </td>
    <td>N/A</td>
    <td class="col-status">
      <div
        v-if="appointmentCaseNote"
        class="status-container"
        :class="appointmentCaseNote.is_draft ? 'draft' : 'completed'"
      >
        {{ appointmentCaseNote.is_draft ? "Draft" : "Completed" }}
      </div>
      <div v-else class="status-container">N/A</div>
    </td>
    <td>
      <div class="appointment-actions">
        <tad-button bg="#56b7e8" @click="modalAppointmentDetails">
          <i class="las la-eye la-lg mr-1"></i>Details
        </tad-button>
        <orange-button
          v-if="appointmentCaseNote"
          class="btn orange btn-case-note-action"
          @click="openCaseNote(appointment)"
        >
          <i class="las la-file-alt la-lg mr-1"></i>View Notes
        </orange-button>
        <orange-button
          v-else
          class="btn-case-note-action"
          @click="openCaseNote(appointment)"
        >
          <i class="las la-plus la-lg mr-1"></i>New Notes
        </orange-button>
      </div>
    </td>
  </tr>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Mutation } from "vuex-class"
import { createCaseNote } from "~/api/case-notes"
import { IAppointment, ICaseNote, IModal, IPatientFile } from "~/interfaces"
import ModalAppointmentDetails from "../modals/ModalAppointmentDetails.vue"
import TadButton, {
  OrangeButton,
} from "~/components/styled-components/TadButton"
import dayjs from "dayjs"

@Component({
  components: { TadButton, OrangeButton },
})
export default class IndividualNotesTr extends Vue {
  @Prop({ default: () => {} }) readonly appointment!: IAppointment
  @Prop({ default: () => {} }) readonly patientFile!: IPatientFile
  @Prop({ default: () => [] }) readonly casenotes!: ICaseNote[]
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any

  isWorking = false

  async openCaseNote(appointment: IAppointment) {
    if (this.appointmentCaseNote) {
      this.$router.push(
        `/professionals/case-notes/${this.appointmentCaseNote.id}?file=${this.patientFile.id}`
      )
    } else {
      // No note, create
      try {
        this.isWorking = true
        const { data: createdNote } = await createCaseNote({
          appointment_id: appointment.id,
          narrative: "Fill patient progress notes here",
          is_draft: true,
          session_format: "Appointment",
        })
        this.$router.push(
          `/professionals/case-notes/${createdNote.id}?file=${this.patientFile.id}`
        )
        this.$toast.success("Successfully created case note.")
      } catch (error) {
        this.$toast.error("Unable to open case note")
      } finally {
        this.isWorking = false
      }
    }
  }

  modalAppointmentDetails() {
    const modal: IModal = {
      title: "Appointment Details",
      content: ModalAppointmentDetails,
      props: {
        appointmentId: this.appointment.id,
        width: "500px",
      },
    }
    this.showModal(modal)
  }

  get appointmentCaseNote() {
    const caseNote = this.casenotes.find(
      (note) => note.appointment.id === this.appointment.id
    )

    return caseNote
  }
}
</script>

<style lang="scss" scoped>
.appointment-actions {
  text-align: right;
}
.col-status {
  width: 100px;
}
.status-container {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  background-color: #adadad;

  &.draft {
    background-color: #adadad;
  }
  &.completed {
    background-color: var(--success-color);
  }
}
</style>