<template>
  <div class="">
    <div class="">
      <div>
        <p class="small-text mb-4">{{ formatType(questionType) }}</p>
        <p class="font-bold mb-8">{{ questionTitle }}</p>
      </div>

      <div class="options-list mt-4">
        <div class="mt-4">
          <!-- a disabled date selcection -->
          <div class="answer-placeholder">
            <div class="date-placeholder">
              <input
                type="date"
                disabled
                class="opacity-50 cursor-not-allowed"
              />
            </div>
          </div>
        </div>
      </div>

      <div></div>
    </div>

    <div class="mt-8" v-if="priorityResponses.length >= 1">
      <p class="mb-2 font-semibold">Priority responses</p>
      <p class="text-sm  mb-2" >
        You will get a notification whenever a priority response is received.
      </p>

      <div class="priority-responses-container">
        <div class="priority-responses" v-if="priorityResponses.length > 0">
          <div
            v-for="(response, index) in priorityResponses"
            :key="index"
            class="p-1 border mr-2"
            :style="{
              color: configPrimColor,
              borderColor: configPrimColor,
              borderRadius: '0.25rem',
              minWidth: '50px',
              textAlign: 'center',
            }"
            
          >
            <span>{{ $ellipsis(response) }}</span>
          </div>
        </div>
      </div>
    </div>

    <p v-if="priorityResponses.length <= 0" class="text-sm mb-4 font-semibold">
      <i class="las la-exclamation-circle la-lg mr-1"></i>No priority responses
      selected.
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { IFormQuestion } from "~/interfaces"

@Component({
  components: { TadFormsInput, TadButton, TadInput },
})
export default class DateQuestion extends Vue {
  @Prop(Object) question!: IFormQuestion
  @Getter("config/pColor") readonly configPrimColor!: string
  @Prop(Boolean) collapse!: boolean
  questionTitle = this.question.content
  questionType = this.question.type
  priorityResponses: string[] = this.question.priority_response
  priorityResponse = ""
  isFocused = true
  expandedHeight = "auto"
  collapsedHeight = "90px"

  formatType(question) {
    switch (question) {
      case "date":
        return "Date Selection Question"
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  .btn-remove-question {
    min-width: 50px;
    text-align: center;
  }
}
.answer-placeholder {
  margin-bottom: 2rem;
  color: #d5d5d5;
  .date-placeholder {
    border: 2px solid #d5d5d5;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
  }
}

.priority-responses-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.priority-responses {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: auto;
  .priority-response {
    background-color: #2c8c9c;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 0.25rem;
    font-size: 0.85rem;
    &:hover {
      background-color: #5b9aa5;
    }
  }
}
.form-priority-response {
  max-width: 500px;
}
</style>
