<template>
  <div
    ref="container"
    class="multiple-choice"
    :style="{ height: collapse ? collapsedHeight : expandedHeight }"
    @click="activeFocus"
  >
    <p class="mb-4 font-semibold">
      {{ questionType == "multiple choice" ? "Multiple Choice Question" : "" }}
    </p>
    <div class="header mb-4">
      <tad-forms-input
        v-model="questionTitle"
        class="large mb-0"
        placeholder="Multiple Choice question..."
      />
      <tad-button
        danger
        class="btn-remove-question"
        @click="$emit('remove-question', question)"
        ><i class="las la-trash la-lg"></i
      ></tad-button>
    </div>

    <ul class="options-list mb-12">
      <multiple-choice-option
        v-for="(option, index) in options"
        :key="option"
        :option="{ index, text: option }"
        :add-priority-response="addPriorityResponse"
        :remove-option="removeOption"
        @option-edited="optionEdited"
      />
      <li>
        <form class="form-add-option py-2" @submit.prevent="addOption">
          <div class="add-option-container mb-3">
            <i class="las la-plus-circle la-lg mr-4"></i>
            <tad-forms-input
              v-model="newOption"
              placeholder="Add option..."
              required
            />
          </div>
          <tad-button class="btn-add-option">Add option</tad-button>
        </form>
      </li>
    </ul>

    <p class="mb-2 mt-4 font-semibold">Priority responses(optional)</p>
    <p class="text-sm  mb-2">
      You will get a notification whenever a priority response is received.
    </p>

    <div class="priority-responses-container">
      <div v-if="priorityResponses.length > 0" class="priority-responses">
        <div
          v-for="(response, index) in priorityResponses"
          :key="index"
          class="p-1 border  cursor-pointer my-4"
          @click="removePriorityResponse(response)"
          :style="{
              color: configPrimColor,
              borderColor: configPrimColor,
              borderRadius: '0.25rem',
              minWidth: '50px',
              textAlign: 'center',

            }"
        >
          <span>{{ $ellipsis(response) }}</span>
          <i class="las la-times la-1x"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import MultipleChoiceOption from "./MultipleChoiceOption.vue"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { IFormQuestion } from "~/interfaces"
import { Getter, Mutation } from "vuex-class"


@Component({
  components: { TadFormsInput, TadButton, TadInput, MultipleChoiceOption },
})
export default class MultipleChoiceQuestion extends Vue {
  @Prop(Object) question!: IFormQuestion
  @Prop(Boolean) collapse!: boolean
  @Getter("config/pColor") readonly configPrimColor!: string
  questionTitle = this.question.content
  questionType = this.question.type
  priorityResponses: string[] = this.question.priority_response
  priorityResponse = ""
  newOption: string = ""
  options: string[] = this.question.possible_responses || []
  isFocused = true
  expandedHeight = "auto"
  collapsedHeight = "90px"

  $refs!: {
    container: HTMLDivElement
  }

  @Watch("questionTitle")
  questionChanged(newVal: string) {
    this.$emit("question-edited", {
      ...this.question,
      content: newVal,
    } as IFormQuestion)
  }

  addOption() {
    const optionExists = this.options.includes(this.newOption)
    if (this.newOption && !optionExists) {
      this.options.push(this.newOption)
      this.newOption = ""

      this.$emit("question-edited", {
        ...this.question,
        possible_responses: this.options,
      } as IFormQuestion)

      this.expandedHeight = `auto`
    }

  }

  optionEdited(option: { index: number; text: string }) {
    this.options[option.index] = option.text
  }

  removeOption(option: string) {
    this.options = this.options.filter((o) => o !== option)
    this.$emit("question-edited", {
      ...this.question,
      possible_responses: this.options,
    } as IFormQuestion)

    this.removePriorityResponse(option)
    this.expandedHeight = `auto`
  }

  addPriorityResponse(option: string) {
    const exists = this.priorityResponses.some((o) => o === option)
    if (!exists) {
      this.priorityResponses.push(option)
      this.$emit("question-edited", {
        ...this.question,
        possible_responses: this.options,
        priority_response: this.priorityResponses,
        has_priority_response: true,
      } as IFormQuestion)
    }
  }

  removePriorityResponse(response: string) {
    this.priorityResponses = this.priorityResponses.filter(
      (r) => r !== response
    )

    this.$emit("question-edited", {
      ...this.question,
      possible_responses: this.options,
      priority_response: this.priorityResponses,
      has_priority_response: this.priorityResponses.length > 0,
    } as IFormQuestion)
  }

  mounted() {
    this.$nextTick(() => {
      this.expandedHeight = `${this.$el.clientHeight}px`
      this.isFocused = false
    })
  }

  activeFocus() {
    this.isFocused = true
    document.body.addEventListener("click", this.toggleFocus)
  }

  toggleFocus(event: MouseEvent) {
    const clickOutside = !this.$el.contains(event.target as Node)
    if (clickOutside) {
      this.isFocused = false
      document.body.removeEventListener("click", this.toggleFocus)
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  .btn-remove-question {
    min-width: 50px;
    text-align: center;
  }
}

.option-input {
  width: 100%;
}
.priority-responses-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}
.priority-responses {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: auto;
  .priority-response {
    background-color: #2c8c9c;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 0.25rem;
    font-size: 0.85rem;
    &:hover {
      background-color: #5b9aa5;
    }
  }
}
.form-add-option {
  max-width: 600px;
}
.add-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-add-option {
  min-width: 200px;
}
</style>
