<template>
  <div class="">
    <div class="">
      <div>
        <p class="small-text mb-4">{{ formatType(questionType) }}</p>
        <p class="font-bold mb-8">{{ questionTitle }}</p>
      </div>

      <div class="options-list mt-4">
        <div class="mt-4">
          <div
            v-for="(option, index) in options"
            :key="index"
            class="flex items-center mb-4"
          >
            <input
              type="radio"
              :id="'option-' + index"
              name="multipleChoice"
              :value="option"
              disabled
              class="disabled:opacity-50"
            />
            <label :for="'option-' + index" class="ml-2">{{ option }}</label>
          </div>
        </div>
      </div>

      <div></div>
    </div>

    <div class="mt-4" v-if="priorityResponses.length >= 1">
      <p class="mb-2 mt-4 font-semibold">Priority responses</p>
      <p class="text-sm  mb-2">
        You will get a notification whenever a priority response is received.
      </p>

      <div class="priority-responses-container">
        <div class="priority-responses" v-if="priorityResponses.length > 0">
          <div
            v-for="(response, index) in priorityResponses"
            :key="index"
            class="p-1 border mr-2"
            :style="{
              color: configPrimColor,
              borderColor: configPrimColor,
              borderRadius: '0.25rem',
              minWidth: '50px',
              textAlign: 'center',
            }"
          >
            <span>{{ $ellipsis(response) }}</span>
          </div>
        </div>
      </div>
    </div>

    <p v-if="priorityResponses.length <= 0" class="text-sm mb-4 font-semibold">
      <i class="las la-exclamation-circle la-lg mr-1"></i>No priority responses
      selected.
    </p>
  </div>
</template>

<script lang="ts">
import { Getter, Mutation } from "vuex-class"
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import MultipleChoiceOption from "./MultipleChoiceOption.vue"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { IFormQuestion } from "~/interfaces"

@Component({
  components: { TadFormsInput, TadButton, TadInput, MultipleChoiceOption },
})
export default class MultipleChoiceQuestion extends Vue {
  @Getter("config/pColor") readonly configPrimColor!: string
  @Prop(Object) question!: IFormQuestion
  @Prop(Boolean) collapse!: boolean
  questionTitle = this.question.content
  questionType = this.question.type
  priorityResponses: string[] = this.question.priority_response
  priorityResponse = ""
  newOption: string = ""
  options: string[] = this.question.possible_responses
  isFocused = true
  expandedHeight = "auto"
  collapsedHeight = "90px"

  // use a swtich case to determine the type of question and reformat it.

  formatType(question) {
    switch (question) {
      case "multiple choice":
        return "Multiple Choice Question"
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  .btn-remove-question {
    min-width: 50px;
    text-align: center;
  }
}

.option-input {
  width: 100%;
}
.priority-responses-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}
.priority-responses {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: auto;
  .priority-response {
    background-color: #2c8c9c;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 0.25rem;
    font-size: 0.85rem;
    &:hover {
      background-color: #5b9aa5;
    }
  }
}
.form-add-option {
  max-width: 600px;
}
.add-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-add-option {
  min-width: 200px;
}
</style>
