<template>
  <li class="option">
    <!-- <template v-if="!isFocused">
      <i class="las la-circle la-lg mr-2"></i>
      <span class="text mr-6" @click="isFocused = true">{{ option }}</span>
      <button class="btn-option priority" @click="addPriorityResponse(option)">
        <i class="las la-exclamation-circle la-lg"></i>
      </button>
      <button class="btn-option delete" @click="removeOption(option)">
        <i class="las la-trash la-lg"></i>
      </button>
    </template> -->

    <i class="las la-circle la-lg ic-circle"></i>
    <tad-forms-input v-model="optionEdit" class="mb-0" />
    <!-- <tad-button @click="save">Save</tad-button> -->
    <button
      class="btn-option priority"
      @click="addPriorityResponse(optionEdit)"
    >
      <i class="las la-exclamation-circle la-lg"></i>
    </button>
    <button class="btn-option delete" @click="removeOption(optionEdit)">
      <i class="las la-trash la-lg"></i>
    </button>
  </li>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"

@Component({
  components: { TadFormsInput, TadButton },
})
export default class MultipleChoiceOption extends Vue {
  @Prop(Object) readonly option!: { index: number; text: string }
  @Prop(Function) readonly addPriorityResponse!: (val: string) => any
  @Prop(Function) readonly removeOption!: (val: string) => any

  optionEdit = this.option.text

  @Watch("optionEdit")
  changed(newVal: string) {
    this.$emit("option-edited", {
      index: this.option.index,
      text: this.optionEdit,
    })
  }
}
</script>

<style lang="scss" scoped>
.ic-circle {
  align-self: center;
}
.option {
  padding: 0.5rem 0;
  .btn-option {
    background-color: transparent;
    border: none;
    padding: 0.25rem;
    cursor: pointer;

    border-radius: 5px;
    opacity: 1;

    &.delete {
      color: var(--danger-color);
      &:hover {
        background-color: rgba(255, 0, 0, 0.096);
      }
    }
    &.priority {
      color: inherit;
      &:hover {
        background-color: rgba(0, 0, 0, 0.096);
      }
    }
  }

  &:hover .btn-option {
    opacity: 1;
  }
}
.option-edit-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 500px;
  gap: 1rem;
}
.option {
  display: flex;
  align-items: center;
  gap: 1rem;
}
</style>
