<template>
  <div class="">
    <div class="">
      <div>
        <p class="small-text mb-4">{{ formatType(questionType) }}</p>
        <p class="font-bold mb-8">{{ questionTitle }}</p>
      </div>

      <div class="options-list mt-4">
        <div class="mt-4">
          <!-- a disabled date selcection -->
          <div class="answer-placeholder">
            <div class="range-container">
              <div class="form-input-wrapper">
                <label for="">From</label>
                <tad-input type="number" min="0" disabled v-model.number="rangeStart"/>
              </div>
              <div class="form-input-wrapper">
                <label for="">To</label>
                <tad-input type="number" min="0" disabled v-model.number="rangeEnd"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div></div>
    </div>

    <div class="mt-4" v-if="priorityResponses.length >= 1">
      <p class="mb-2 mt-4 font-semibold">Priority responses</p>
      <p class="text-sm  mb-2">
        You will get a notification whenever a priority response is received.
      </p>

      <div class="priority-responses-container">
        <div class="priority-responses" v-if="priorityResponses.length > 0">
          <!-- border color primary -->
          <div
            v-for="(response, index) in priorityResponses"
            :key="index"
            class="p-1 border mr-2"

            :style="{
              color: configPrimColor,
              borderColor: configPrimColor,
              borderRadius: '0.25rem',
              minWidth: '50px',
              textAlign: 'center',


            }"
          >
            <span>{{ $ellipsis(response) }}</span>
          </div>
        </div>
      </div>
    </div>

    <p v-if="priorityResponses.length <= 0" class="text-sm mb-4 font-semibold">
      <i class="las la-exclamation-circle la-lg mr-1"></i>No priority responses
      selected.
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { IFormQuestion } from "~/interfaces"
import { min } from "date-fns"
import { te } from "date-fns/locale"

@Component({
  components: { TadFormsInput, TadButton, TadInput },
})
export default class NumericalQuestion extends Vue {
  @Getter("config/pColor") readonly configPrimColor!: string
  @Prop(Object) question!: IFormQuestion
  @Prop(Boolean) collapse!: boolean
  questionTitle = this.question.content
  questionType = this.question.type
  priorityResponses: string[] = this.question.priority_response
  priorityResponseFrom = ""
  priorityResponseTo = ""
  isFocused = true
  expandedHeight = "auto"
  collapsedHeight = "90px"

  rangeStart = 0 || this.question.possible_responses[0] // Default range start
  rangeEnd =
    0 ||
    this.question.possible_responses[
      this.question.possible_responses.length - 1
    ] // Default range end

  formatType(question) {
    switch (question) {
      case "numerical":
        return "Range Selection Question"
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  .btn-remove-question {
    min-width: 50px;
    text-align: center;
  }
}
.priority-responses-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.priority-responses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: auto;
 
}
.range-container {
  display: flex;
  gap: 1rem;
}
.answer-placeholder {
  margin-bottom: 0.75rem;
  color: #d5d5d5 !important;
}
.form-input-wrapper {
  gap: 0.25rem;
}
.form-priority-response {
  max-width: 500px;
}
.btn-add-priority-response {
  width: 100%;
}
</style>
