<template>
  <div
    class="numerical"
    @click="activeFocus"
    ref="container"
    :style="{ height: collapse ? collapsedHeight : expandedHeight }"
  >
    <p class="mb-4 font-semibold">
      {{ questionType == "numerical" ? "Number Range Question" : "" }}
    </p>
    <div class="header mb-4">
      <tad-forms-input
        class="large mb-0"
        placeholder="Numerical question..."
        v-model="questionTitle"
      />
      <tad-button
        danger
        @click="$emit('remove-question', question)"
        class="btn-remove-question"
        ><i class="las la-trash la-lg"></i
      ></tad-button>
    </div>

    <div class="answer-placeholder">
      <p class="font-semibold">Enter a valid range</p>
    </div>

    <div class="range-container mb-4">
      <form @submit.prevent="updateOptions" class="flex">
        <div class="form-input-wrapper mr-4">
          <label for="">From</label>
          <tad-input
            type="number"
            min="0"
            v-model.number="rangeStart"
            @change="updateOptions"
          />
        </div>
        <div class="form-input-wrapper mr-4">
          <label for="">To</label>
          <tad-input
            type="number"
            min="0"
            v-model.number="rangeEnd"
            @change="updateOptions"
          />
        </div>
        <!-- <div class="form-input-wrapper">
          <tad-button class="btn-add-option mt-5">Set Range</tad-button>
        </div> -->
      </form>
    </div>

    <p class="mb-4 font-semibold">Select Priority Response Range(optional)</p>
    <!-- <p class="text-sm mb-2">
      You will get a notification whenever a priority response is received.
    </p> -->
    <p v-if="priorityResponses.length <= 0" class="text-sm mb-4 font-semibold">
      <i class="las la-exclamation-circle la-lg mr-1"></i>No priority responses
      selected.
    </p>
    <div class="priority-responses-container">
      <div
        class="priority-responses flex flex-wrap"
        v-if="priorityResponses.length > 0"
      >
        <div
          v-for="(response, index) in priorityResponses"
          :key="index"
          class="p-1 border cursor-pointer my-4"
          @click="removePriorityResponse(response)"
          :style="{
            color: configPrimColor,
            borderColor: configPrimColor,
            borderRadius: '0.25rem',
            minWidth: '50px',
            textAlign: 'center',
          }"
        >
          <span>{{ $ellipsis(response) }}</span>
          <i class="las la-times la-1x"></i>
        </div>
      </div>

      <form
        @submit.prevent="addPriorityResponse"
        class="form-priority-response"
      >
        <div class="range-container mb-2">
          <div class="form-input-wrapper">
            <label for="">From</label>
            <tad-input
              type="number"
              min="0"
              v-model.number="priorityRangeStart"
            />
          </div>
          <div class="form-input-wrapper">
            <label for="">To</label>
            <tad-input
              type="number"
              min="0"
              v-model.number="priorityRangeEnd"
            />
          </div>
        </div>

        <tad-button
          class="btn-add-priority-response mb-4"
          @click="addPriorityResponse"
        >
          Add priority response
        </tad-button>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadButton from "~/components/styled-components/TadButton"
import TadInput from "~/components/styled-components/TadInput"
import { IFormQuestion } from "~/interfaces"
import { Getter, Mutation } from "vuex-class"

@Component({
  components: { TadFormsInput, TadButton, TadInput },
})
export default class NumericalQuestion extends Vue {
  @Prop(Object) question!: IFormQuestion
  @Prop(Boolean) collapse!: boolean
  @Getter("config/pColor") readonly configPrimColor!: string
  questionTitle = this.question.content
  questionType = this.question.type
  priorityResponses: string[] = this.question.priority_response
  priorityResponseFrom = ""
  priorityResponseTo = ""
  isFocused = true
  expandedHeight = "auto"
  collapsedHeight = "90px"
  options: any[] = this.question.possible_responses

  rangeStart = 0 || this.question.possible_responses[0] // Default range start
  rangeEnd =
    0 ||
    this.question.possible_responses[
      this.question.possible_responses.length - 1
    ] // Default range end

  priorityRangeStart = 0 // Default priority range start
  priorityRangeEnd = 0 // Default priority range end

  @Watch("rangeStart")
  @Watch("rangeEnd")
  onRangeChange() {
    this.updateOptions()
  }

  updateOptions() {
    this.options = []
    for (let i: any = this.rangeStart; i <= this.rangeEnd; i++) {
      this.options.push(i)
    }

    this.$emit("question-edited", {
      ...this.question,
      possible_responses: this.options,
    } as IFormQuestion)

    this.expandedHeight = `auto`
  }

  $refs!: {
    container: HTMLDivElement
  }

  @Watch("questionTitle")
  questionChanged(newVal: string) {
    this.$emit("question-edited", {
      ...this.question,
      possible_responses: this.options,
      content: newVal,
    } as IFormQuestion)
  }

  get priorityResponse() {
    return this.priorityResponseFrom
      .concat(" - ")
      .concat(this.priorityResponseTo)
  }

  addPriorityResponse() {
    // Clear the current priority responses
    this.priorityResponses = []

    // Ensure that start is less than or equal to end
    if (this.priorityRangeStart > this.priorityRangeEnd) {
      alert("Start of range should not be greater than end of range.")
      return
    }

    // Add each number in the priority range to priorityResponses
    for (let i = this.priorityRangeStart; i <= this.priorityRangeEnd; i++) {
      this.priorityResponses.push(i.toString()) // Store numbers as strings
    }

    this.$emit("question-edited", {
      ...this.question,
      possible_responses: this.options,
      priority_response: this.priorityResponses,
      has_priority_response: true,
    } as IFormQuestion)
  }

  removePriorityResponse(response: string) {
    this.priorityResponses = this.priorityResponses.filter(
      (r) => r !== response
    )
    this.$emit("question-edited", {
      ...this.question,
      priority_response: this.priorityResponses,
      has_priority_response: this.priorityResponses.length > 0,
    } as IFormQuestion)
  }

  mounted() {
    this.$nextTick(() => {
      this.expandedHeight = `${this.$el.clientHeight}px`
      this.isFocused = false
    })
  }

  activeFocus() {
    this.isFocused = true
    document.body.addEventListener("click", this.toggleFocus)
  }

  toggleFocus(event: MouseEvent) {
    const clickOutside = !this.$el.contains(event.target as Node)
    if (clickOutside) {
      this.isFocused = false
      document.body.removeEventListener("click", this.toggleFocus)
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  .btn-remove-question {
    min-width: 50px;
    text-align: center;
  }
}
.priority-responses-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.priority-responses {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: auto;
  .priority-response {
    background-color: #2c8c9c;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 0.25rem;
    font-size: 0.85rem;
    &:hover {
      background-color: #5b9aa5;
    }
  }
}
.range-container {
  display: flex;
  gap: 1rem;
}
.answer-placeholder {
  margin-bottom: 0.75rem;
}
.form-input-wrapper {
  gap: 0.25rem;
}
.form-priority-response {
  max-width: 500px;
}
.btn-add-priority-response {
  width: 100%;
}
</style>
