<template>
  <div class="">
    <div class="">
      <div>
        <p class="small-text mb-4" v-if="!question.notes">
          {{ formatType(questionType) }}
        </p>
        <p class="small-text mb-4" v-else>Consent Form</p>
        <p class="font-bold mb-8">{{ questionTitle }}</p>
      </div>

      <div>
        <p
          v-if="!question.notes"
          class="text-semibold border-b mb-8 text-gray-300"
        ></p>
        <p v-if="!question.notes" class="text-semibold border-b mb-8"></p>
        <p v-if="!question.notes" class="text-semibold border-b"></p>
        <Editor
        v-else
          tinymce-script-src="/vendor/tinymce/tinymce.min.js"
          apiKey="no-api-key"
          :init="tinyMceConfig"
          :initialValue="question.notes"
          plugins="preview image fullscreen lists link"
          toolbar="undo redo | styleselect | bold italic underline link | alignleft aligncenter alignright alignjustify | numlist bullist | preview fullscreen"
          disabled
        />
      </div>
    </div>

    <div class="mt-4" v-if="priorityResponses && priorityResponses.length >= 1">
      <p class="mb-2 mt-4 font-semibold">Priority responses</p>
      <p class="text-sm  mb-2">
        You will get a notification whenever a priority response is received.
      </p>

      <div class="priority-responses-container">
        <div
          class="priority-responses"
          v-if="priorityResponses && priorityResponses.length > 0"
        >
          <div
            v-for="(response, index) in priorityResponses"
            :key="index"
            class="p-1 border mr-2"
            :style="{
              color: configPrimColor,
              borderColor: configPrimColor,
              borderRadius: '0.25rem',
              minWidth: '50px',
              textAlign: 'center',


            }"
          >
            <span>{{ $ellipsis(response) }}</span>
          </div>
        </div>
      </div>
    </div>

    <p
      v-if="priorityResponses && priorityResponses.length <= 0"
      class="text-sm mb-4 mt-4 font-semibold"
    >
      <i class="las la-exclamation-circle la-lg mr-1"></i>No priority responses
      selected.
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import { IFormQuestion } from "~/interfaces"
import Editor from "@tinymce/tinymce-vue"

@Component({
  components: { TadFormsInput, TadInput, TadButton, Editor },
})
export default class OpenEndedQuestion extends Vue {
  @Getter("config/pColor") readonly configPrimColor!: string
  @Prop(Object) question!: IFormQuestion
  @Prop(Boolean) collapse!: boolean
  questionTitle = this.question.content
  questionType = this.question.type
  priorityResponses: string[] = this.question.priority_response
  priorityResponse = ""
  isFocused = true
  expandedHeight = "auto"
  collapsedHeight = "90px"

  mounted() {
  }

  tinyMceConfig = {
    readonly: true, // Read-only mode
    menubar: false, // Hide the menu bar
    toolbar: false, // Hide the tool bar
    height: 600,
  };

  formatType(question) {
    switch (question) {
      case "open ended":
        return "Open Ended Question"
    }
  }
}
</script>

<style lang="scss" scoped>
.priority-responses {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: auto;
  .priority-response {
    background-color: #2c8c9c;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 0.25rem;
    font-size: 0.85rem;
    &:hover {
      background-color: #5b9aa5;
    }
  }
}
</style>
