<template>
  <div
    class="open-ended"
    @click="activeFocus"
    ref="container"
    :style="{ height: collapse ? collapsedHeight : expandedHeight }"
  >
    <p class="mb-4 font-semibold">
      {{ questionType == "open ended" ? "Open Ended Question" : "" }}
    </p>
    <div class="header mb-4">
      <tad-forms-input
        class="large mb-0"
        placeholder="Enter your question..."
        v-model="questionTitle"
      />
      <tad-button
        danger
        @click="$emit('remove-question', question)"
        class="btn-remove-question"
        ><i class="las la-trash la-lg"></i
      ></tad-button>
    </div>
    <div class="answer-placeholder">
      <p>Answer</p>
      <p></p>
    </div>

    <p class="mb-2 mt-4 font-semibold">Priority responses(optional)</p>
    <p class="text-sm  mb-2">
      You will get a notification whenever a priority response is received.
    </p>
    <p v-if="priorityResponses.length <= 0" class="text-sm mb-4 mt-4 font-semibold">
      <i class="las la-exclamation-circle la-lg mr-1"></i>No priority responses
      selected.
    </p>
    <div class="priority-responses-container">
      <div class="priority-responses" v-if="priorityResponses.length > 0">
        <div
          v-for="(response, index) in priorityResponses"
          :key="index"
          class="p-1 border  cursor-pointer my-4"
          @click="removePriorityResponse(response)"
          :style="{
              color: configPrimColor,
              borderColor: configPrimColor,
              borderRadius: '0.25rem',
              minWidth: '50px',
              textAlign: 'center',

            }"
        >
          <span>{{ $ellipsis(response) }}</span>
          <i class="las la-times la-1x"></i>
        </div>
      </div>

      <form
        @submit.prevent="addPriorityResponse"
        class="form-priority-response"
      >
        <div class="form-input-wrapper">
          <tad-input
            v-model="priorityResponse"
            placeholder="Add priority response..."
            required
            class="mb-4"
          />
          <tad-button>Add priority response</tad-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import TadInput from "~/components/styled-components/TadInput"
import TadButton from "~/components/styled-components/TadButton"
import { IFormQuestion } from "~/interfaces"
import { Getter, Mutation } from "vuex-class"


@Component({
  components: { TadFormsInput, TadInput, TadButton },
})
export default class OpenEndedQuestion extends Vue {
  @Prop(Object) question!: IFormQuestion
  @Prop(Boolean) collapse!: boolean
  @Getter("config/pColor") readonly configPrimColor!: string
  questionTitle = this.question.content
  questionType = this.question.type
  questionPosition = this.question.position + 1
  priorityResponses: string[] = this.question.priority_response
  priorityResponse = ""
  isFocused = true
  expandedHeight = "auto"
  collapsedHeight = "90px"

  $refs!: {
    container: HTMLDivElement
  }

  @Watch("questionTitle")
  questionChanged(newVal: string) {

    this.$emit("question-edited", {
      ...this.question,
      content: newVal,
    } as IFormQuestion)
  }

  addPriorityResponse() {
    if (this.priorityResponse) {
      this.priorityResponses.push(this.priorityResponse)
      this.priorityResponse = ""

      this.$emit("question-edited", {
        ...this.question,
        priority_response: this.priorityResponses,
        has_priority_response: true,
      } as IFormQuestion)
    }
  }

  removePriorityResponse(response: string) {
    this.priorityResponses = this.priorityResponses.filter(
      (r) => r !== response
    )
    this.$emit("question-edited", {
      ...this.question,
      priority_response: this.priorityResponses,
      has_priority_response: this.priorityResponses.length > 0,
    } as IFormQuestion)
  }

  mounted() {
    this.$nextTick(() => {
      this.expandedHeight = `${this.$el.clientHeight}px`
      this.isFocused = false
    })
  }

  activeFocus() {
    this.isFocused = true
    document.body.addEventListener("click", this.toggleFocus)
  }

  toggleFocus(event: MouseEvent) {
    const clickOutside = !this.$el.contains(event.target as Node)
    if (clickOutside) {
      this.isFocused = false
      document.body.removeEventListener("click", this.toggleFocus)
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  .btn-remove-question {
    min-width: 50px;
    text-align: center;
  }
}
.priority-responses-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.priority-responses {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: auto;
  .priority-response {
    background-color: #2c8c9c;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 0.25rem;
    font-size: 0.85rem;
    &:hover {
      background-color: #5b9aa5;
    }
  }
}
.answer-placeholder {
  margin-bottom: 2rem;
  color: #d5d5d5;
  p {
    border-bottom: 1px dashed #d5d5d5;
    min-height: 2rem;
  }
}
.form-priority-response {
  max-width: 500px;
}
</style>
