<template>
  <div class="question-container" :class="{ dragging: isDragActive }">
    <div class="question-handle">
      <i class="las la-ellipsis-h la-2x"></i>
    </div>
    <component
      class="question px-12 pb-12 pt-4"
      :is="questionType(question.type)"
      :collapse="false"
      :question="question"
      @question-edited="questionEdited"
      @remove-question="removeQuestion"
    ></component>
    <div v-if="isDragActive" class="drag-drop-overlay">
      <p>Move Here</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { IForm, IFormQuestion } from "~/interfaces"
import DateQuestion from "./DateQuestion.vue"
import MultipleChoiceQuestion from "./MultipleChoiceQuestion.vue"
import NumericalQuestion from "./NumericalQuestion.vue"
import OpenEndedQuestion from "./OpenEndedQuestion.vue"
import TimeQuestion from "./TimeQuestion.vue"

@Component({})
export default class QuestionContainer extends Vue {
  @Prop(Object) readonly question!: IFormQuestion
  @Prop(Boolean) readonly isDragActive!: IFormQuestion

  

  questionType(type: IFormQuestion["type"]) {
    switch (type) {
      case "open ended":
        return OpenEndedQuestion
      case "date":
        return DateQuestion
      case "time":
        return TimeQuestion
      case "numerical":
        return NumericalQuestion
      case "multiple choice":
        return MultipleChoiceQuestion
    }
  }

  questionEdited(question: IFormQuestion) {
    this.$emit("question-edited", question)
  }

  removeQuestion(question: IFormQuestion) {
    this.$emit("remove-question", question)
  }
}
</script>

<style lang="scss" scoped>
.question {
  transition: height 0.8s ease;
}
.question-container {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;

  .question-handle {
    text-align: center;
    opacity: 0;
    cursor: grab;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &:hover {
    .question-handle {
      opacity: 1;
    }
  }

  &.dragging {
    // transform: scale(0.7);
  }
}

.drag-drop-overlay {
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  border: 3px dashed gray;
  color: #606060;
  font-size: 1rem;
}
</style>