<template>
  <div class="bg-white p-4 mb-4 py-8 rounded-sm shadow-sm">
    
    <component
      class="question "
      :is="questionType(question.type)"
      :collapse="false"
      :question="question"
      @question-edited="questionEdited"
      @remove-question="removeQuestion"
    ></component>
    
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator"
import { Getter, Mutation } from "vuex-class"
import { IForm, IFormQuestion } from "~/interfaces"
import DateQuestionViewOnly from "./DateQuestionViewOnly.vue"
import MultipleChoiceQuestionViewOnly from "./MultipleChoiceQuestionViewOnly.vue"
import NumericalQuestionViewOnly from "./NumericalQuestionViewOnly.vue"
import OpenEndedQuestionViewOnly from "./OpenEndedQuestionViewOnly.vue"
import TimeQuestionViewOnly from "./TimeQuestionViewOnly.vue"

@Component({})
export default class QuestionContainer extends Vue {
  @Prop(Object) readonly question!: IFormQuestion
  @Prop(Boolean) readonly isDragActive!: IFormQuestion
  @Getter("config/pColor") readonly configPrimColor!: string

  questionType(type: IFormQuestion["type"]) {
    switch (type) {
      case "open ended":
        return OpenEndedQuestionViewOnly
      case "date":
        return DateQuestionViewOnly
      case "time":
        return TimeQuestionViewOnly
      case "numerical":
        return NumericalQuestionViewOnly
      case "multiple choice":
        return MultipleChoiceQuestionViewOnly
    }
  }

  questionEdited(question) {
    this.$emit("question-edited", question)
  }

  removeQuestion(question) {
    this.$emit("remove-question", question)
  }
}
</script>


