<template>
  <div class="form-analysis">
    <header class="mb-6">
      <tad-button @click="$router.go(-1)">
        <i class="las la-arrow-left mr-1"></i>Back
      </tad-button>
    </header>

    <header class="header-actions mb-6">
      <h1 class="title-text">Form Details</h1>
    </header>

    <div class="form-general-details">
      <RespondentDetails
        v-if="responseAnalytics && responseAnalytics.respondent"
        :respondent="responseAnalytics.respondent"
        class="mb-4"
      />
      <h2 class="title-text">
        {{ form.name }}
      </h2>
      <p>{{ form.description }}</p>
    </div>

    <div
      v-for="(question, index) in form.questions"
      :key="question.id"
      class="question-analysis-container"
    >
      <h2 class="subtitle-text mt-0 question-title">
        {{ question.content }}
      </h2>

      <p v-if="responseAnalytics && responseAnalytics.respondent">
        {{ sortedResponses[index].answers[0] }}
      </p>

      <p class="mb-6" v-html="question.notes"></p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator"
import { getFormToRespondTo } from "~/api/form-response"
import TadButton from "~/components/styled-components/TadButton"
import { IForm, IModal, IUserProfile } from "~/interfaces"
import TadInput from "~/components/styled-components/TadInput"
import TadFormsInput from "~/components/styled-components/TadFormsInput"
import { Getter, Mutation } from "vuex-class"
import { getSingleResponse } from "~/api/form"
import ConsentFormAnalysis from "~/components/forms/creator/analysis/ConsentFormAnalysis.vue"
import LoadingSpinner from "~/components/LoadingSpinner.vue"
import CheckinFormAnalysis from "~/components/forms/creator/analysis/CheckinFormAnalysis.vue"
import QuestionnaireAnalysis from "~/components/forms/creator/analysis/QuestionnaireAnalysis.vue"
import RespondentDetails from "~/components/forms/creator/analysis/RespondentDetails.vue"

@Component({
  middleware: ["authenticated"],
  components: { TadButton, TadInput, TadFormsInput, RespondentDetails },
})
export default class FormAnalysis extends Vue {
  @Mutation("modals/showModal") showModal!: (modal: IModal) => any
  @Getter("loggedInUser") currentUser!: IUserProfile

  id: any = this.$route.query.form_id
  user_id: any = this.$route.query.user_id
  form = {
    // name: 'Form Name',
    // description: 'Form Description',
    // type: "consent form",
  } as IForm

  isLoading = true
  isWorking = false

  responseAnalytics: any = {}

  get analysisComponent() {
    switch (this.form.type) {
      case "consent form":
        return ConsentFormAnalysis
      case "checkin form":
        return CheckinFormAnalysis
      case "questionnaire form":
        return QuestionnaireAnalysis
      default:
        return LoadingSpinner
    }
  }

  async setResponse() {
    await getSingleResponse(this.id, this.user_id).then((res) => {
      this.responseAnalytics = res.data
    })
  }

  created() {
    this.getForm()
    this.setResponse()
  }

  get sortedResponses() {
    if (this.responseAnalytics && this.responseAnalytics.response) {
      const responses = this.responseAnalytics.response.responses
      return this.form.questions.map((question) => {
        return responses.find((response) => response.id === question.id)
      })
    }

    return []
  }

  async getForm() {
    const { data: form } = await getFormToRespondTo(this.id)

    form.questions.sort((q1, q2) => (q1.position <= q2.position ? -1 : 1))
    this.form = form
  }
}
</script>

<style lang="scss" scoped>
.form-analysis {
  position: relative;
}
.header-actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  justify-content: space-between;
  align-items: center;
}
.actions-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-general-details,
.question-analysis-container {
  padding: 2rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  margin-bottom: 2rem;
}
.chart-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem 3rem;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
}
.loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: grid;
  place-items: center;
}
</style>
